[2020-08-31 21:10] bogdandrutu commented on #818
The number of connections is a "sum" the entity that calculates that does a "sum" +/- 1 when a connection is open/close.

[2020-08-31 21:22] bogdandrutu commented on #818
In other words if you were to instrument directly the calls of Open/Close connection you would use an `UpDownCounter`, not a `ValueRecorder`

[2020-09-01 01:20] #848 closed

[2020-09-01 05:37] anuraaga commented on #896
@reyang Any thoughts on this? Thanks!

[2020-09-01 09:09] Oberon00 commented on #653
Yes, we can declare the first GA version does not have stable semantic conventions yet. Which is a bit of a bummer, but can be fixed in a later 1.x version.

[2020-09-01 09:55] Oberon00 commented on #900
As commented in https://github.com/open-telemetry/opentelemetry-specification/pull/901#discussion_r480888414 some languages have macro-based or similar mechanisms that require the collection of the line/file data to happen at the call site of StartSpan (or in a method that is called directly by the code whose data one wants to collect). So a SpanProcessor may not be the best way to collect this, b

[2020-09-01 13:50] kjordy commented on #818
@aabmass, regarding the naming when measuring time, I think that `.time` is clearer in denoting that it's a measurement of the number of seconds passed whereas `.utilization` is the ratio compared to the total time. It’s useful to see CPU as a rate in terms of CPUs per second (same thing jmacd said above), and I think CPU usage and utilization are both commonly used to name that rate metric. The [

[2020-09-01 14:41] pmm-sumo opened #907 "Semantic conventions for cloud product/service"
**What are you trying to achieve?**

[Cloud semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/cloud.md) include `cloud.provider` with values such as `gcp` or` aws`.  However, there's no key to describe what kind of product/service is within the current context (such as `Compute Engine`, `Cloud SQL`, `...` in

[2020-09-01 15:02] bogdandrutu commented on #879
Because changes can still happen, for us to have a way to support this I would suggest that we use the format with a custom name. When the format becomes official we will have a simple change to do: read any of the headers and maybe emit both headers; in 1y remove the support to read both and only emit the new.

If we use the same name and in an unlikely event of the format change we will not be a

[2020-09-01 18:37] MrAlias opened #908 "Are IsValid and IsRemote required?"
Currently the [SpanContext section](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#spancontext) contains both [`IsValid`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#isvalid) and [`IsRemote`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api

[2020-09-01 18:55] Oberon00 commented on #908
If it's stated like a fact, it's a MUST, I'd say.

[2020-09-01 19:37] MrAlias commented on #908
Just based on your response alone it should be clear that assuming things will be interpreted in a particular way is subjective. Subjectivity does not have a place in a specification that is laying out directives for compliance. It is also not something found in [the notation conventions](https://github.com/open-telemetry/opentelemetry-specification#notation-conventions-and-compliance) this projec

[2020-09-01 19:44] Oberon00 commented on #908
I agree that this would be preferable, and feel free to create a PR to exchange every fact (not annotated with "Note:") with a MUST. But I don't think it's very urgent. Others might disagree though, so I'll remove the after-ga label and let others decide.

[2020-09-01 21:57] tsloughter commented on #455
What is the benefit to being outside the Tracer?

Something has to know the context key used to store the current span/correlationcontext/etc and assigning that role to a utils module seems odd.

[2020-09-01 22:14] tsloughter commented on #455
We are intending to start returning the span context and either the context or a context token from `start_span` in the Erlang/Elixir implementation.

The issue is the need by some libraries to return to a previous context while it was originally built for returning only to a previous span context as the active span.

[code]

This ensures that if there is bad code in whatever `do_some_stuff()` run

[2020-09-02 04:55] anuraaga commented on #896
@yurishkuro Also I remember you commenting on the w3c spec that we shouldn't add verification of randomness since there are legitimate IDs with non-random parts. Do you have any thoughts on OpenTelemetry requiring the ability to generate such IDs? Thanks!

[2020-09-02 06:59] yurishkuro commented on #896
I think the ID generator should be pluggable in the SDK, if that's what you're asking. And I don't think that the spec should insist on pure random IDs, since it does not affect the API or SDK behavior in any way.

[2020-09-02 07:34] anuraaga commented on #896
@yurishkuro The key word there is SHOULD :) Do you think it's SHOULD or MUST? If any SDK didn't support pluggable ID generation, than that language would potentially not be able to support backends that rely on them.

[2020-09-02 08:30] Oberon00 commented on #455
@tsloughter

One could also say that it is odd that you have to create a Tracer just to retrieve the current span (one could also say that's good though since then we know which instrumentation library accesses the span).

[2020-09-02 08:30] arminru commented on #908
@open-telemetry/javascript-maintainers  According to the spec compliance matrix, JS is the only implementation known to not implement `IsValid`. Is there any particular reason for that or was it just interpreted as optional?

[2020-09-02 08:57] Oberon00 commented on #908
@MrAlias Do you want to open a new issue for cleaning up the whole spec for MUSTs stated as facts? This could be resolved either by adding the MUSTs or stating that every fact not annotated with Note/usually/is expected to is a MUST and checking the spec for facts that should be notes.

[2020-09-02 12:06] Oberon00 commented on #867
After some thinking, I think that the answer to "How does Span get entries from CorrelationContext/Baggage" is: Not at all. Why should it? The Context contains these entries, and propagators operate on Context, not on Span(Context). Unless you want to export the Baggage/CorrelationContext along with the span, which you'd probably want. Then something like #875 is required.

This cannot be solved w

[2020-09-02 12:07] Oberon00 commented on #867
@cijothomas What *are* you trying to achieve? From the issue description, just saying "Span is not associated with Baggage" would answer your question with no action required. What do you want to achieve with the Baggage?

[2020-09-02 12:24] dyladan commented on #908
@arminru there is a PR open for it. Simply a matter of limited developer hours and other priorities.

[2020-09-02 12:29] dyladan commented on #879
In the end, the TC has to decide what level of risk they want to accept here. The W3C talked about this and decided we think it is unlikely that there will be backwards incompatible changes, but that doesn't mean impossible. An advantage of using the W3C header is that when the spec is complete, otel doesn't have to worry about a migration strategy.

[2020-09-02 14:15] MrAlias commented on #908
I'm open to suggestions, but my initial thought would be to open issues for underspecified portions of the spec as they are identified. I'm guessing your are more familiar with the entirety of the specification and might have more insight into the total scope of areas that need these types of revisions so I would be interested to understand what your think is the appropriate course of action and w

[2020-09-02 14:16] cijothomas commented on #867
@Oberon00 My understanding is that `Baggage` is used to annotate telemetry. (span/metric etc). So how does one use `Baggage` to annotate telemetry?
If my `Baggage` contains ("mykey", "myvalue") - apart from being propagated, what purpose does it serve, If I am not able to add the `Baggage` entry to my Span attributes?

[2020-09-02 14:52] Oberon00 commented on #908
Personally I think we can do this on an on-demand base. So we can just close this issue with #914 then and open a new one if something particular comes up.

[2020-09-02 15:12] Oberon00 commented on #867
You can read it back in the application, given the Context, can't you?

[2020-09-02 15:15] cijothomas commented on #867
Yes surely. So my question is, "how do I use it to annotate telemetry"?

[2020-09-02 15:18] #861 closed

[2020-09-02 15:22] Oberon00 commented on #867
It seems that this is indeed impossible currently and might require breaking changes to tracing API to support. @open-telemetry/technical-committee should this be raised to P1?

[2020-09-02 16:06] carlosalberto commented on #65
After giving this a try via #906, we decided to postpone it in order to develop it properly. Re-labeling it so we can add this feature after GA.

[2020-09-02 17:11] yurishkuro commented on #896
I am fine with `MUST` for SDKs, but I am not currently working directly on any SDKs, so this guidance should be validated by maintainers in different languages. In my prior experience it was never a problem to expose the ID generator to be swappable, but your prior comments indicate that this might be somehow more complicated in the .NET runtime, so I don't have an opinion there.

[2020-09-02 18:54] Oberon00 commented on #559
Relatedly the TOC hierarchy for "Deployment" is a bit odd: https://github.com/open-telemetry/opentelemetry-specification/pull/851#discussion_r475660328

[2020-09-03 03:54] anuraaga commented on #896
Thanks - definitely need some input from various languages. But I also think we need a high level discussion by the spec maintainers since it relates to OpenTelemetry's goals. If OpenTelemetry considers the custom ID format use case to be important, then we need to add the requirement to the spec itself. Interested in any thoughts @open-telemetry/specs-trace-approvers.

[2020-09-03 04:08] toumorokoshi commented on #455
This is (for me) the precise motivation with the separation. I think that the trace get / set methods need to be part of the *module or package*, but not part of the tracer object.

Python has already divorced trace get / set methods from the tracer, which has made the code simpler:

[code]

vs

[code]

Erlang with it's actor model may not disambiguate between a module and a class instance, and at

[2020-09-03 04:09] toumorokoshi commented on #455
@bogdandrutu if it'll help I'm happy to take this one. I have a bit of context and investment (since I pushed Python to adopt this early).

[2020-09-03 06:11] jmacd commented on #818
@aabmass I've come to understand this issue and definitely agree that `.time` is right when measuring a sum of duration measurements. I somehow had misunderstood and thought OTEP 119 suggested `.usage` and the collector was in disagreement by using `.time`.

@kjordy the thing we are trying to define here somehow avoids talking about cumulative vs. delta measurements, and that's an area where langu

[2020-09-03 09:33] Oberon00 commented on #455
Actually, isn't this already done? AFAIK we only have optional convenience methods specified in the tracing API.

[2020-09-03 13:16] tsloughter commented on #455
Right. It is just a module and does not call into any process in order to look up the current context, it is just that the tracer module knows the key to use for lookup.

So equivalent to `trace = opentelemetry.trace.get_current_trace()`.

I suppose it is more I objected to `ContextUtils`, so more a pedantic concern with naming :)

[2020-09-03 14:46] Oberon00 commented on #455
I think the key to the current span must not be in a generic ContextUtils class, since such a class should be one layer below and agnostic of concerns like tracing/metrics/baggage. E.g. in Java, this is handled in a class  [TracingContextUtils](https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/trace/TracingContextUtils.java) which is part of the tr

[2020-09-03 14:52] andrewhsu commented on #496
Having a look at this P1 issue with @carlosalberto, should this really be a P2 because it looks like an addition to the API, not a breaking change that should go in earlier? Thinks java is the only one that has this atm.

[2020-09-03 14:55] andrewhsu commented on #455
@bogdandrutu i had a look over this with @carlosalberto , it seems like this is possibly breaking API by removing methods in trace so would be good to get this change in before the freeze.

[2020-09-03 14:57] andrewhsu commented on #453
Talking with @carlosalberto today, looks like only thing left from the description of this issue is:
* Add the notion of "Application Message" that semantically consists of metadata (e.g. HTTP headers) and the payload.

So bumping this down to P3.

[2020-09-03 14:57] Oberon00 commented on #496
See my comment above https://github.com/open-telemetry/opentelemetry-specification/issues/496#issuecomment-654665282:

Those "more issues" might require breaking changes to fix them.

[2020-09-03 15:00] andrewhsu commented on #444
Having a look at this with @carlosalberto and it looks like this issue may be desirable before the trace api freeze because it could change how Extractions Getter interacts.

[2020-09-03 15:21] #908 closed

[2020-09-03 15:40] pauldraper commented on #381
I've built a little abstraction that registers metadata about span name and attributes. These are then used to generate several metrics with attributes for each span (currently I use it as a utility at the instrumentation API level):

1. **Convert the span name** into a metric name and metric attribute(s). E.g. `http.request GET /users/{id}` becomes name `http.request` and attribute `http.route:GE

[2020-09-03 16:41] jmacd opened #919 "Adopting DDSketch as the default ValueRecorder aggregation"
Issue #636 describes a number of considerations surrounding the choice of a default aggregation for `ValueRecorder` instruments, where "Last Value", "Histogram", "MinMaxSumCount", "Sketch", and "Exact" are the choices, and prior draft specifications have stated MinMaxSumCount as the default, which corresponds with a Prometheus Summary (Sum, Count) containing the p0 and p100 percentiles (a.k.a. Min

[2020-09-03 17:21] ffe4 opened #920 "Clarify values for OTEL_LOG_LEVEL"
The spec defines an `OTEL_LOG_LEVEL` environment variable for [general SDK configuration](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#general-sdk-configuration), but it is unclear what values should be allowed. Since this variable does not have a language prefix, there should probably be a unified set of log levels specified.

[2020-09-03 18:44] #759 closed

[2020-09-03 18:51] Oberon00 commented on #706
See proposal in https://docs.google.com/document/d/1HgUI69rBridFzCXxXuTjQrkG6jb-YcFQnZjPcyBcK1U/edit made during error WG meeting for a replacement:

* UNSPECIFIED the status has not been set and the the backend must determine if an error has occurred by inspecting the span.
* ERROR mark as an error, regardless of the attached semantic convention.
* OK do not mark as an error, regardless of the at

[2020-09-03 19:25] tsloughter commented on #919
Is there a C or Rust implementation?

I still wouldn't want it to be the default in Erlang/Elixir since it would require additional dependencies to build and a user may just want the SDK for tracing, but I'm not even sure there is an available implementation to use from Erlang/Elixir with native bindings.

[2020-09-03 19:43] jmacd commented on #919
There is a Rust implementation derived from the DD-Go implementation: https://github.com/mheffner/rust-sketches-ddsketch

The [OTel-C++ repository has an implementation](https://github.com/open-telemetry/opentelemetry-cpp/pull/213) by @ankit-bhargava that (I believe) is written from the paper, not derived from one of the DD implementations. This may highlight the point I made above, that the pseud

[2020-09-04 08:29] Oberon00 commented on #867
With #875 each span would have an associated parent `Context` from which the baggage could be read to enrich the span. However, a span can be active in multiple contexts each of which can have a different baggage. Also, Spans do not keep track of which contexts they are in, and at the time they are ended they are usually not active in any context anymore, even if they were in some contexts during

[2020-09-04 15:06] tsloughter commented on #455
This may be getting off topic but I just realized when discussing how we are doing context with others that there is the matter of CorrelationContext. I'm thinking specifically about the use of `start_inactive_span` and passing it to a new process, or in other languages/runtimes I guess async tasks, to be set as active.

This works fine for spans but leaves CorrelationContext behind.

How are othe

[2020-09-04 15:11] Oberon00 commented on #455
I think this is currently a major unanswered question, see #867

[2020-09-04 15:12] tsloughter commented on #455
Oh, good, I'm not the only one :)

[2020-09-06 04:52] toumorokoshi commented on #455
Please check out #923, I think it addresses the major concern of this issue.

[2020-09-07 04:10] toumorokoshi commented on #455
Currently, the convenience methods are encouraged, not completely optional:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#tracer

[code]

And I don't think there's a requirement to expose any get / set of active span elsewhere in the codebase. However, it is possible for a consumer to re-implement the behavior by replicating the Context inter

[2020-09-07 05:00] toumorokoshi opened #924 "Enable static functions to work with active span"
## What are you trying to achieve?

In languages such as Python, there exist static functions that can live at the package / module level. It would improve the user experience if consumers did not have to go through the work of creating an object to retrieve the current span:

- no need for a Tracer instantiation to retrieve a span
- no confusion to the user regarding what values in the instantiat

[2020-09-07 05:05] toumorokoshi commented on #455
Although I previously wrote +1, I'm switching my vote to a -1 as this has an impact on usability (e.g. starting and activating the tracer would not be possible in the same call), and I think this can also lead to proliferating boilerplate, such as naming the specific key that the span populates in the context.

[2020-09-07 07:49] Oberon00 commented on #924
One question. What are the scenarios in which you typically call `get_current_span`? What do you do with the returned Span?

[2020-09-07 14:07] Oberon00 commented on #510
Inspired by @anuraaga's comment https://github.com/open-telemetry/opentelemetry-specification/pull/875#issuecomment-687999941, an alternative which I think is less elegant but certainly more compatible, is to store a (parent) Context in the SpanContext. Then we can continue passing just SpanContext and we will still be able to pass information from extract to inject. Of course, if the user wants t

[2020-09-07 18:38] rakyll opened #929 "Rename the protocol to OTELP"
(Sorry for filing a first issue that is a bikeshedding one.)

The OpenTelemetry protocol is shortened as OTLP but  it soudns very similar to OLTP which is a very well-known concept in computer science as in "Online Transactional Processing". In terms of disambiguity and searchability, wouldn't it make sense to name to OTELP?

The spec already strongly discourages to use "OT" for OpenTelemetry due

[2020-09-07 19:27] toumorokoshi commented on #924
The common scenario is adding new attributes or events to the active span. It could also be arguable that a new span should be created, at which point you would have a handle and no longer need to use get_current_span.

But I have seen a strong preference for some individuals to add more attributes to an existing span, with reasoning being reducing the number of spans visible in a trace (less visu

[2020-09-08 07:19] Oberon00 commented on #924
One original motivation for supplying an instrumentation library name was to stop one by name from emitting telemetry. If the current span is used to do that, it would be worth considering if using the tracer for that by default has merits.
As no one seems to really use the instrumentation library name for that (yet?), it's not a strong objection though.

[2020-09-08 13:57] carlosalberto commented on #929
Marking it as Required for GA, as we either change the name now, or never ;)

[2020-09-08 15:14] andrewhsu commented on #929
Talked about this at the spec sig mtg today and prioritized as P2 since the desired direction is to just update the marketing and documentation of OTLP to be OTELP.

[2020-09-08 15:29] pmm-sumo commented on #929
The change would impact user-facing configuration of several components, including:
* [receiver](https://github.com/open-telemetry/opentelemetry-collector/tree/master/receiver/otlpreceiver) and [exporter](https://github.com/open-telemetry/opentelemetry-collector/tree/master/exporter/otlpexporter) in OpenTelemetry Collector
* exporters of client libraries, e.g. [Java Instrumentation](https://github

[2020-09-08 15:29] tedsuo commented on #929
I like the disambiguation. My only request is that we pronounce this "Otel-P" and not "O-Telp." 🙏

More seriously, I want to flag that this is a deeper change than just updating marketing and documentation. There are numerous code changes, especially package names. So this will "break all the things" if we do it.

https://github.com/search?q=org%3Aopen-telemetry+otlp&type=Code

We should put the e

[2020-09-08 15:46] Oberon00 commented on #929
Should we also spell it as "OTelP"?

[2020-09-08 16:03] arminru commented on #920
From the SIG spec meeting: We are not sure if we can properly align the log level across all frameworks that may be plugged into each SDK and should reconsider if `OTEL_LOG_LEVEL` can be implemented properly at all. We should consider removing it from GA and replace it with a simple "debug flag" for now, that would allow fundamental troubleshooting, and consider coming up with a proper, more fine-

[2020-09-08 16:05] jkwatson commented on #920
Even with adding a "debug" flag, for Java, I would expect to just set my logging implementation to log `io.opentelemetry.sdk` at DEBUG, rather than doing this through a separate env var. If we add a separate "debug" setting, that would mean additionally surrounding every logging statement in the SDK with an additional check. Do we want this? Or do we want this to be a language-specific considerati

[2020-09-08 16:51] iNikem commented on #920
Not necessarily. We can check for the presence of `debug` tag and then programmatically  `set my logging implementation to log io.opentelemetry.sdk at DEBUG`

[2020-09-08 16:55] jkwatson commented on #920
@iNikem but...we don't know "my logging implementation" in the SDK, do we? This implementation could be log4j, slf4j-simple, logback, etc.

[2020-09-08 16:56] carlosalberto commented on #929
If we go with this change,  OTELP is much simpler than OTeLP.

[2020-09-08 17:03] iNikem commented on #920
We are talking about SDK logging, write? We can configure `java.util.logging` level, cannot we? Or am I mistaken?

[2020-09-08 17:17] jkwatson commented on #920
How does that work if the underlying logging is all being redirected to another logging implementation? I'm actually not sure how that ends up working, TBH.

[2020-09-08 17:30] lupengamzn commented on #896
Hi all, so we're trying to replace OT's trace IDs with non-random trace IDs, but the only feasible public API allows us to do so is `SetParentId`, which will reset the trace ID and parent span ID of current activity. However, when we're applying this API on a root activity, its parent ID will no longer be null and will not pass the default sampling mechanism [check](https://github.com/open-telemet

[2020-09-08 17:57] parallelstream commented on #381
we doing similar thing. But apart from generating metrics from spans we also allow all metrics to be correlated to spans )do not confuse with exemplars). Our idea is this - spans and metrics are fundamentally semantically linked. Most of (synchronous) metrics are emitted during some logical unit of work covered by a span. We use semantical term "event" to outline the common abstraction for logical

[2020-09-08 18:09] bogdandrutu commented on #792
Unfortunately because some personal issues and schedule issues we have to delay the vote for one day until Thursday 9/10. Hopefully nothing changes but wanted to let you know about this change

[2020-09-08 18:12] tigrannajaryan commented on #182
I suggest to remove `release:required-for-ga` label since this is an additive, non-breaking change.

[2020-09-08 18:20] tigrannajaryan commented on #929
I agree that if we decide to change then we should also change in the source code and in the configs otherwise it will be confusing. It is not just work that we need to do, it also means external people who already use OpenTelemetry will be affected. I know people who use the Collector in production - we will break their configs.

I don't know if it is worth the hassle.

[2020-09-08 18:27] tigrannajaryan commented on #586
Can we remove this from the GA scope? If we decide to go ahead with this we have 3 possible ways to implement it in a backwards compatible manner:
1. Introduce a new API to obtain an unnamed Tracer, e.g. getDefaultTracer.
2. Make name parameter optional for `getTracer`.
3. Allow empty string as a name. (Not quite as nice, but still an option).

[2020-09-08 18:35] tigrannajaryan commented on #531
I suggest to remove `release:required-for-ga` label.

The "component" approach was already discussed and rejected in the past. The type of the Span can be deduced by the presence of required attributes. It may not be convenient but it is possible. It is also more powerful since it allows to record multiple types simultaneously while a single "type" or "component" does not (what is the type of a Sp

[2020-09-08 19:04] seh commented on #586
What's "a new API"? Thinking of how this would influence the Go implementation, would this mean a new method on an existing interface, or a new free function?

The proposed option 2 above would not be backward compatible in Go, because [it would require different function signature](https://godoc.org/go.opentelemetry.io/otel/api/global#Tracer).

[2020-09-08 20:45] tigrannajaryan commented on #586
@seh good questions that show there are nuances. I think the details can be discussed later, my point is that we don't necessarily need to solve it before 1.0 GA.

[2020-09-08 20:52] lupengamzn commented on #896
[Issue 1240](https://github.com/open-telemetry/opentelemetry-dotnet/issues/1240)

[2020-09-08 22:43] tigrannajaryan commented on #779
I suggest that we close this issue as a "wont-fix" since it is an implementation detail and does not need to be in the specs.

[2020-09-08 22:48] tigrannajaryan commented on #749
This does not seem to be a specification issue. It is about adding integration tests to SDKs.

There is an open PR which attempts to add specification for tests: https://github.com/open-telemetry/opentelemetry-specification/pull/630

If this issue is indeed about coming up with a common specification about how the tests should be implemented (and not an issue to actually _implement_ the tests) the

[2020-09-08 22:51] tigrannajaryan commented on #743
While indeed useful to clarify I don't think this is a GA blocker. I suggest to remove the `release:required-for-ga` label.

[2020-09-08 22:52] tigrannajaryan commented on #710
I think this is a nice-to-have, not a must-have for 1.0 GA. I suggest to remove `release:required-for-ga` label.

[2020-09-08 22:56] tigrannajaryan commented on #709
I think this is a nice-to-have, not a must-have for 1.0 GA. It can be added after GA in a non-breaking manner. I suggest to remove `release:required-for-ga` label.

[2020-09-08 23:08] tigrannajaryan commented on #705
@MrAlias in the spirit of limiting the 1.0 GA scope do you think this is necessary for GA or can be postponed?

[2020-09-08 23:10] tigrannajaryan commented on #679
I think this is a nice-to-have, not a must-have for 1.0 GA. It can be added after GA in a non-breaking manner. I suggest to remove release:required-for-ga label.

[2020-09-08 23:12] tigrannajaryan commented on #678
This is already mostly specified: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/otlp.md#otlphttp

The remaining bit is the hex vs base64 traceid/spanid issue: https://github.com/open-telemetry/opentelemetry-specification/issues/786

Closing this, if there is anything else remaining we can open new issues.

[2020-09-08 23:12] #678 closed

[2020-09-08 23:14] tigrannajaryan commented on #668
This is indeed annoying but I don't think it blocks the GA. I suggest to remove `release:required-for-ga` label.

[2020-09-08 23:14] tigrannajaryan commented on #655
I think this is a nice-to-have, not a must-have for 1.0 GA. I suggest to remove release:required-for-ga label.

[2020-09-08 23:22] tigrannajaryan commented on #605
I think consistency is at least partially solved by YAML generator. Do we still need this and is it a must-have for GA?

[2020-09-08 23:24] tigrannajaryan commented on #587
This appears to ask for an improvement in the spec structure but does not change the semantics. I suggest to remove the `release:required-for-ga` label.

[2020-09-08 23:32] tigrannajaryan commented on #307
Given that https://github.com/open-telemetry/oteps/pull/115 has no approvals yet and there is no clear understanding of how this issue will be resolved do we still believe this is a must-have for 1.0 GA?

It appears to me this functionality can be added in backwards compatible manner and if so can be postponed and addressed after GA.

Thoughts?

[2020-09-08 23:36] #786 closed

[2020-09-08 23:37] tigrannajaryan commented on #764
This is a blocker for Go, but is this a blocker for the spec? Do we believe that while working on this we may find that Go requires something that makes current exception specification impossible to use?

[2020-09-08 23:39] tigrannajaryan commented on #738
After merging https://github.com/open-telemetry/opentelemetry-specification/pull/739 there are now conventions for HTTP metrics. Do we need something else in addition in the spec?

[2020-09-09 01:10] tigrannajaryan commented on #734
This indeed can be very useful for extracting more performance. The Protobufs naturally lend to such optimization and OTLP exporter could serialize prepared attributes once (e.g. [like this](https://blog.najaryan.net/posts/partial-protobuf-encoding/)).

Nevertheless I think this is an additive API and is not a breaking change to existing APIs. Should this be a `release:required-for-ga` or we can r

[2020-09-09 01:14] anuraaga commented on #743
@tigrannajaryan Currently some languages publish artifacts related to vendors such as Java while others don't, such as JS. I think if this doesn't change before GA, then it won't ever change since we would want to continue supporting packages we've published for GA right? So closing with "leaving it up to individual language SIGs" might be the most reasonable.

[2020-09-09 01:15] tigrannajaryan commented on #696
Is this solved by https://github.com/open-telemetry/opentelemetry-specification/pull/757 or we need something more?

[2020-09-09 01:16] anuraaga commented on #710
To clarify, if the label is removed, a related PR definitely won't be merged? I don't think this, or SERVICE_NAME, are required, but if they're small in scope it could make sense to still hope they get in before GA to improve user experience of the first release.

[2020-09-09 01:21] tigrannajaryan commented on #680
Do we still consider this to be a must-have for GA?

[2020-09-09 01:25] tigrannajaryan commented on #656
This would be a nice improvement, but I think it is not a must-have for GA. I suggest to remove `release:required-for-ga` label.

[2020-09-09 01:29] tigrannajaryan commented on #710
If there is a PR that is ready and approved I don't see any reason not to merge it even if the label is removed.

Once a spec freeze is declared that will mean we no longer want to accept substantial changes that are not labeled as `release:required-for-ga`, but I think we are not yet ready to declare a freeze.

[2020-09-09 01:32] tigrannajaryan commented on #743
@anuraaga Right.

And thanks for clarifying this issue for me. I was under the incorrect impression that the issue is to clarify the _wording_ of the spec. I agree that if there are already artifacts that do not necessarily comply with the spirit of our vendor-agnosticism then this needs to be resolved before the GA.

[2020-09-09 01:34] tedsuo commented on #929
This is neither here nor there, but "consuming a stream of OTel-P" sounds disgusting. I will be making that joke A LOT. :)

In all seriousness though, looking through the ramifications of this change, I am also getting concerned. We are almost to GA, and the collector/OTLP is the most widely used part of OpenTelemetry. I can confirm that it is getting wide adoption at this point - frankly I'm surp

[2020-09-09 01:38] tigrannajaryan commented on #620
Improving sampling performance appears to be a nice-to-have capability but not a mandatory one. The proposal for `isRecordable` also seems to be an additive change, not breaking. I suggest that we remove the `release:required-for-ga` label.

[2020-09-09 01:41] tigrannajaryan commented on #929
Another concerns is again about searchability but from a different angle. Even if we rename to OTELP all historical references to OTLP in comments, issues, PR descriptions will stay. Anyone searching for OTELP in the future is going to miss all that unless they know about the name change and also search for OTLP. (I assume no-one intends to go and fix all comments, issues and PRs).

[2020-09-09 02:53] tigrannajaryan commented on #469
Should this be closed?

[2020-09-09 02:56] tigrannajaryan commented on #442
Do we still believe this is a must-have for GA?

[2020-09-09 03:02] tigrannajaryan commented on #110
Do we still believe this is a must-have for GA? It is a guidance to instrumentation. If changed after GA it will not break any API or end-user code but may result in different trace composition. I think trace composition is not something we should consider part of our stability guarantees, hence I suggest we don't attempt to finalize such behavior before GA.
Given above reasoning I propose to remo

[2020-09-09 04:03] MitchellDumovic commented on #696
I believe that this should be resolved by that PR, thanks for pointing that out! Will close this issue now.

[2020-09-09 04:03] #696 closed

[2020-09-09 04:31] toumorokoshi commented on #924
## Using the tracer to modify the span

This enters the subjective realm (although this whole issue is subjective), but I would find such methods a bit less intuitive, primarily since retrieving and object and modifying it is a common object-oriented pattern. I'm not sure if the intuition follows to retrieve a tracer, and modify the spans via indirect methods.

That said, the approach would be abo

[2020-09-09 04:33] toumorokoshi commented on #307
I think it's fine to leave until after GA, since my main concern (discouraging calling update_name) has been removed from the spec.

That said the OTEP as it stands has either addressed all feedback or waiting on responses from others. If someone can help guide me in how to get more eyes I'm happy to get right back to working on it.

[2020-09-09 06:14] iNikem commented on #924
My 2c: I think one should not need to provide instrumentation library name to get current _existing_ span. It does not make any sense to require one.

[2020-09-09 07:11] jmacd commented on #738
I think nothing else is needed here.

[2020-09-09 07:11] #738 closed

[2020-09-09 07:59] Oberon00 commented on #587
@jmacd I'd vote for keeping this open but addressing it after GA. It does seem like a nice-to-have improvement.

[2020-09-09 08:04] Oberon00 commented on #924
I think that opinion is valid, and I don't necessarily disagree. But consider an instrumentation that adds lots of attributes or a large attribute to a span. For example, there might be an instrumentation that adds the exception semantic conventions (including stacktrace) for every thrown exception to the currently active span. Or an instrumentation that adds an event to a span for every time an a

[2020-09-09 08:16] arminru commented on #779
I think adding/adapting one or two sentences to explicitly allow this to the spec would still make sense since some statements make it sound like the spec would prescribe the exact structure, e.g.:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/library-guidelines.md#expected-usage

I added two extra lines making it clear in #931.

[2020-09-09 09:07] Oberon00 commented on #764
I don't think so. We might just discover that Go needs additional attributes or a different convention. E.g. maybe Go will use an event attribute "unwinding=false" to distinguish panics from error returns.

[2020-09-09 11:12] Oberon00 commented on #559
This is just an editorial change (changing section headers or merging/splitting section), I think this is after GA.

[2020-09-09 11:12] Oberon00 commented on #781
I'm taking this one.

[2020-09-09 11:56] Oberon00 commented on #864
I just noticed that we do not specify at all how span or trace IDs are to be generated when creating spans. I think this needs to be resolved before GA. It should be done after #932

[2020-09-09 11:56] Oberon00 commented on #864
Assigned p2, but could also qualify as p1

[2020-09-09 13:02] tsloughter commented on #469
I think so.

[2020-09-09 13:02] #469 closed

[2020-09-09 14:01] Oberon00 opened #933 "HTTP semantic convention table is too wide"
See https://github.com/open-telemetry/opentelemetry-specification/blob/821118e5/specification/trace/semantic_conventions/http.md#common-attributes

The table is cut off at the right side on my 1920x1080 screen and you have to awkwardly scroll by selecting. The culprits seem to be the `http.response_content_length_uncompressed` and `http.request_content_length_uncompressed` attributes which have re

[2020-09-09 14:33] carlosalberto commented on #531
+1 on making this `release:after-ga` .

[2020-09-09 15:07] andrewhsu commented on #749
From the issue triage mtg today, i'm changing the label to `release:after-ga` since it looks like from the comments this can be punted.

[2020-09-09 15:13] andrewhsu commented on #668
From the issue triage mtg today, i'm changing the label to `release:after-ga` since it looks like from the comments this can be punted.

[2020-09-09 15:17] andrewhsu commented on #605
@kbrockhoff from the issue triage mtg today, trying to bucket issues that can be addressed after GA. if you don't have more info on this by 2020-09-10, this issue will be moved to `after-ga`.

[2020-09-09 15:17] andrewhsu commented on #531
From the issue triage mtg today, i'm changing the label to `release:after-ga` since it looks like from the comments this can be punted.

[2020-09-09 15:19] andrewhsu commented on #764
@open-telemetry/go-maintainers ptal, fyi this one was moved to `after-ga`, and respond if this is not desirable.

[2020-09-09 15:23] andrewhsu commented on #586
From the issue triage mtg today, i'm changing the label to `release:after-ga` since it looks like from the comments this can be punted.

[2020-09-09 15:25] andrewhsu commented on #182
From the issue triage mtg today, i'm changing the label to `release:after-ga` since it looks like from the comments this can be punted.

[2020-09-09 15:37] carlosalberto commented on #712
Feels like this being an editorial change can be moved to `release:after-ga`. @yurishkuro makes sense?

[2020-09-09 15:46] andrewhsu commented on #879
From the issue triage mtg today, discussed this with @carlosalberto and this one looks like it may be a P1 so we can make sure we have this in before trace spec freeze.

[2020-09-09 15:48] andrewhsu commented on #797
From the issue triage mtg today, talked with @carlosalberto and moving this to P1 to highlight the need for a decision to either have a yes or no on this issue before the trace portion of the spec is frozen.

[2020-09-09 16:00] andrewhsu commented on #496
From the issue triage mtg today, talked with @carlosalberto and looks like with the PR #671 this issue can now be bumped down to P2 which means it is not necessarily a blocking change for freezing trace api.

[2020-09-09 16:02] andrewhsu commented on #867
From the issue triage mtg today with @carlosalberto, assigning to @bogdandrutu as he has more context on this issue and can make a final call.

[2020-09-09 16:05] andrewhsu commented on #879
@bogdandrutu or @yurishkuro are either one of you able to be assigned this issue?

[2020-09-09 16:06] andrewhsu commented on #797
@arminru would you be able to take this issue and drive it to resolution?

[2020-09-09 16:26] MrAlias commented on #764
Looking at the specification for handling exceptions I wonder if the canonical Go implementation would fit. Currently we provide a way to record `error`s with a specific method of a span. This seems in line with the purpose of the specification on exception handling. However, the canonical way to deal with panics in Go is to `recover` in a deferred function that is run when the current scope ends.

[2020-09-09 16:30] MrAlias commented on #705
Will it be possible to change the units of the OTLP after GA? If so I think it would be reasonable to postpone.

[2020-09-09 17:52] yurishkuro opened #936 "Do we really need "branch must be up to date" restriction?"
#931 is approved, but I, as admin, cannot merge it, nor can I merge master to make it pass this check.

cc @open-telemetry/technical-committee

[2020-09-09 17:54] kbrockhoff commented on #605
I envision this as documentation explaining the specification. This can easily be after-ga

[2020-09-09 17:59] Oberon00 commented on #936
Duplicate of #512

[2020-09-09 18:04] carlosalberto commented on #605
@kbrockhoff Thanks!

[2020-09-09 18:05] carlosalberto commented on #936
+1 on this, as it creates too much hassle (but IIRC @bogdandrutu had a reason to enable this).

[2020-09-09 18:14] Oberon00 commented on #936
@yurishkuro I updated the PR in question (I have access to that Dynatrace repository)

[2020-09-09 18:25] kbrockhoff commented on #362
All these items have been addressed by other PRs.

[2020-09-09 18:25] #362 closed

[2020-09-09 18:29] #779 closed

[2020-09-09 18:32] yurishkuro commented on #936
The reasoning in #512 is

I am not convinced it's a good reason, more a reaction to one time issue where bad commits were made due to lack of lint enforcement.

[2020-09-09 18:33] Oberon00 commented on #936
IMHO fixing the lint with quick follow-up PRs on master is easier than pinging people to update their PRs with organization-owned repos.

[2020-09-10 03:40] tigrannajaryan commented on #705
The current wording in the proto is pretty specific in what should be in the unit field. It is a string complying with UCUM standard. That's all it says. If you envision a change that contradicts this statement then we cannot change it after we GA. I am not quite sure what changes would be needed though. The current wording sounds good enough to my unsophisticated eye.

Some of the nuanced topics

[2020-09-10 04:56] tedsuo commented on #924
I would strongly vote for the simplified experience. The named tracer approach is straightforward for instrumentation plugins, but can be awkward for application code.

One approach might be to add a constant `DEFAULT_TRACER_NAME = "application"`, and have that tracer be available to application code as a global. This would. stick with our named tracer module, but improve the experience for applic

[2020-09-10 05:11] tedsuo commented on #879
I am in favor of adopting this header now, if it looks like it is stable.

BUT. Know ye W3C members: once OpenTelemetry is out in the wild, it shall be YOU who will have to contend with the fact that this header will now be in production everywhere. So please make sure you are prepared for that. We may choose not to adopt a future breaking change, and the current version will become the de facto s

[2020-09-10 05:34] tedsuo commented on #797
I agree with @jmacd that if a user makes a valid call to SetAttribute, we should record the value. Silently ignoring a call to SetAttribute due to an unexpected null would make some scenarios really difficult to debug. The most straight forward and consistent thing is to record all valid values in some way. Since we do not want to guard against nulls, we should record them in some manner (see belo

[2020-09-10 05:36] tedsuo commented on #706
FYI this OTEP addresses this issue: https://github.com/open-telemetry/oteps/pull/136

[2020-09-10 05:40] tedsuo commented on #535
This issue appears to be addressed. @james-bebbington @mwear can we close it?

[2020-09-10 06:11] tedsuo commented on #433
Given that headers can be converted between their [single line and multiline equivalents](https://tools.ietf.org/html/rfc7230#section-3.2.2) we could require that `Set` and `Get` must both use single line representation. Under the hood, the carrier can split and concatenate multiline headers as needed.

The exception is `Set-Cookie`, but I don't believe we should ever be touching that.

[2020-09-10 06:22] tedsuo commented on #444
Repeating my comment from #433.

Given that headers can be converted between their [single line and multiline equivalents](https://tools.ietf.org/html/rfc7230#section-3.2.2) we could require that `Set` and `Get` must both use single line representation. Under the hood, the carrier can split and concatenate multiline headers as needed.

The exception is `Set-Cookie`, but I don't believe we should e

[2020-09-10 08:26] arminru commented on #797
@andrewhsu Sure 🙂

[2020-09-10 08:27] CharlesMasson commented on #919
One of the paper's authors here. I'll add some comments to the discussion to hopefully help the decision.

There are a few divergences between our implementations. The `sketches-java` implementation is the latest, most robust and well-tested one, and it is currently being used in production at Datadog. The `sketches-py` and `sketches-go` implementations, along with the agent implementation, came b

[2020-09-10 08:45] arminru commented on #797
@jmacd

If we would allow null as a meaningful value, this would have to be properly handled by the protocols, exporters and consumers. The current version of OTLP would not allow expressing a null value but we would rather have to convert it to the default value of either string, bool, int or double. In languages where null can be passed without specifying which "type" of null it is, we would alr

[2020-09-10 08:46] arminru commented on #797
@jmacd

If we would allow null as a meaningful value, this would have to be properly handled by the protocols, exporters and consumers. The current version of OTLP would not allow expressing a null value but we would rather have to convert it to the default value of either string, bool, int or double. In languages where null can be passed without specifying which "type" of null it is, we would alr

[2020-09-10 08:46] arminru commented on #797
@jmacd

and @tedsuo

I don't think it was intended to introduce a new "delete attribute" feature but rather to specify how to deal with a `null` being passed, which is currently not deemed a valid value in the spec. Attempting to set null could either be ignored at all or drop the previously set value. I think there are arguments for both but that _out of these two options_, it is less surprising

[2020-09-10 08:46] arminru commented on #797
@tedsuo

What do you mean by that? I don't see a big difference in allowing overwriting existing values with something else (e.g., an empty string if "deleting" is not possible) or removing the previously set attribute entirely.

[2020-09-10 08:46] arminru commented on #797
@tedsuo

If I remember correctly, we decided to preserve null values in arrays to allow for "companion arrays" where the values in one array and the values at the same index in one (or more) other arrays form tuples (i.e., `(a[i],b[i],c[i])`). If null values were not preserved, this would not be possible since the arrays would go out of sync instead of keeping the same length and positions. I'm no

[2020-09-10 08:59] arminru commented on #919
@jmacd Would it really make sense to have spec specify an aggregator as default for GA that has only been implemented in one of our SIGs so far (if I get the discussion right)? It looks like most SIGs would end up using the fallbacks you mentioned above rather than being aligned, right?

[2020-09-10 11:59] arminru commented on #933
Are you sure this warrants being labeled a bug? It's more a visual/UX nuisance in my opinion.
It's rather a bug that Github is only using half of the available screen width even if there are wider tables 😉
Any suggestion on how we could make it fit without having to rename the attribute?

[2020-09-10 12:48] arminru commented on #182
@tigrannajaryan
It depends on the outcome of this discussion if this is an additive, non-breaking change.
If some users are used to recording 10k events on a span and after updating the SDK suddenly 9k of them are dropped because a "sanity limit" of 1k is introduced to the SDK (to limit memory usage in case of usage errors as @bogdandrutu pointed out, for example), this would be a breaking change

[2020-09-10 13:23] toumorokoshi commented on #182
Would setting some relatively arbitrary limit be acceptable, in that case? I do agree that having a sane limit will save some real production headaches, and loss of telemetry (e.g. span attributes) is more desirable than an app crashing due to OOM.

Based on what I've seen 128 would be a good threshold (i've never seen someone go beyond that), but it's very anecdotal.

[2020-09-10 13:28] toumorokoshi commented on #924
I would +1 a default tracer, although I think that's not strictly necessary for this experience.

If we went that route, I would worry about the ramifications regarding instrumentations authored outside of core opentelemetry. It would be easy for app developer to:

1. learn to use the default tracer exclusively.
2. author and instrumentation and use the default tracer to do so, since that's all th

[2020-09-10 13:45] arminru commented on #182
@toumorokoshi Exactly. I have no idea on what number can be deemed safe for "all" use cases since I fear we know our users not well enough, however. I've seen requests on our Gitter that people intend to use spans for representing long-running actions that span over multiple hours (days?) and I could expect a higher number of events on these. We should probably aim high to not prevent "valid" (who

[2020-09-10 16:21] carlosalberto commented on #680
Changing this to P1 after talking to the Java Instrumentation Maintainers.

[2020-09-10 16:23] carlosalberto commented on #710
Changed it to P1 after talking to the Java Instrumentation Maintainers.

[2020-09-10 16:59] tigrannajaryan commented on #182
@arminru I am certainly not against having this capability and believe it is useful but we need to make some sacrifices to cut the scope and deliver the GA.

Some behavioral changes are likely inevitable when we release new versions. Formally, one can call this a breaking change but it is not the sort of the breaking change I think we should worry the most. If we can avoid hard breaking changes th

[2020-09-10 17:35] MrAlias commented on #705
It seems like we should make a decision on what unit standard we want to use prior to GA then. I think we should use the UCUM standard.

The UCUM standard is designed with the goal to facilitate machine-to-machine communication. It uses a 7-bit US-ASCII character set exclusively for encoding, includes all units defined in ISO 1000, ISO 2955-1983, ANSI X3.50-1986, HL7 and ENV 12435, addresses the n

[2020-09-10 21:30] mtwo commented on #710
@anuraaga, are you able to create a PR for this?

[2020-09-10 22:43] tigrannajaryan commented on #705
Works for me.

@MrAlias if you or one of @open-telemetry/specs-metrics-approvers want to submit a PR or would like to have a closer look at it it would be great. Let's try to either make this happen quickly or postpone to after GA.

[2020-09-10 23:11] jkwatson commented on #705
I'm curious how the API/SDK would be expected to enforce this. For example, would this mean that the Java API would gain a dependency on an external unit library that defines all the possibilities? Or, would there be some subset that we would put into the API code as an enum?

[2020-09-10 23:49] MrAlias commented on #705
I think this enforcement is the part we would be punting on. I think the addition to the spec would be of the form "the API will accept units that can be represented in a format compliant with the UCUM standard".

Yeah, this sounds like something I can take on. Should be doable in the near term to get something in.

[2020-09-11 03:09] tedsuo commented on #924
Yeah, I agree that someone could forget, but it's an easy fix for all the reasons you mention. Just to clarify, that _would_ solve the issue, correct?

[2020-09-11 04:24] tedsuo commented on #797
@arminru what I mean by command is the following:  if `null` is not a valid value, but it is accepted as input and results in a change, then it is a command. Specifically, it removes a previous key which has been set. This is unexpected behavior. What @jmacd and I are requesting is that instead of deleting the key, the key is set to `null`. You can think of it as a tombstone marker rather than a r

[2020-09-11 04:27] trask commented on #710
i discussed with @anuraaga, please assign this to me, thx

[2020-09-11 04:28] trask commented on #680
can you assign to me? thx

[2020-09-11 05:28] toumorokoshi commented on #182
I would say if we can't come to a fast consensus, then postponing makes sense.

Although I think this could be summed up into two changes to the spec:

- set a common limit across events, links, attributes
- add the need for logging if any of the above are added and discarded.

And to @arminru's point,we just choose a number that's well beyond 99.99% of use cases. Don't want to throw numbers out w

[2020-09-11 05:31] toumorokoshi commented on #924
This issue could be solved via your suggestion, but there's also #923 that has the initial suggested approach.

I still think your change has merit though, to further simplify the new user experience. But I'd like @Oberon00's input on that, as named tracers is critical to Dynatrace's needs.

[2020-09-11 05:32] toumorokoshi commented on #182
If that would be acceptable, I'm happy to file a PR.

[2020-09-11 05:46] jmacd commented on #919
@CharlesMasson thank you for the detailed explanation.  To @arminru's point, in today's SIG I agreed to write up what it would take to make DDSketch the default before GA. We have to admit that this protocol is relatively complicated and that some SDKs will not be able to adopt it quickly.

There is a lot of enthusiasm for DDSketch in general, which has us leaning toward adopting it if the necessa

[2020-09-11 05:50] jmacd commented on #919
Note that there are independent questions about this data point:
- should it include the exact Minimum and Maximum values
- should the top-level data point (redundantly) include the sum and count across buckets (note: OTLP's histogram data point does)

[2020-09-11 06:37] SergeyKanzhelev commented on #792
Technical committee recognized continued investments and deep understanding of the the project technical direction of all nominees. @arminru, @jmacd, and @tigrannajaryan were unanimously voted to be on a technical committee. Congratulations!

Please e-mail us at cncf-opentelemetry-tc@lists.cncf.io your preferred e-mail address.

[2020-09-11 06:39] SergeyKanzhelev commented on #792
We will be discussing effectiveness of the existing processes and improvements we have to make. All updates would be announced separately. This issue is complete and we are full speed ahead towards 1.0 release.

[2020-09-11 06:39] #792 closed

[2020-09-11 10:15] Oberon00 commented on #797
@tedsuo

I think we should make clear that if possible `null` should not be accepted as input. However, for exmaple in Java, your options for that are limited. You could document it in Javadoc and add `@Notnull` annotations but in most cases passing `null` will still compile without warnings.

Our protocol DOES NOT support null currently. The protobuf definitions would indeed support it, but it's

[2020-09-11 11:36] Oberon00 commented on #933
Since we have no separate label for "minor nitpick", "bug" is the closes thing. The urgency/importance part should be covered by the "after-ga" label.

[2020-09-11 11:43] Oberon00 commented on #933
Unfortunately, I have no suggestion how to resolve this. If we could manipulate the CSS, we would be able to allow line breaks in code the first column.

Maybe we could leave out the prefix for such attributes, but just `response_content_length_uncompressed` would likely still cause a scrollbar.

Another solution would be to not use a table, but an enumeration like:
* **`http.request_content_lengt

[2020-09-11 12:10] carlosalberto commented on #936
Agreed that we should perhaps revert this. @bogdandrutu You ok with that? ;)

[2020-09-11 14:55] Oberon00 commented on #444
Only if we assume only HTTP will ever be used by the TextMapPropagator

[2020-09-11 15:38] carlosalberto commented on #444
Would **love** that myself. If we can agree on that, I'd be super happy.

[2020-09-11 15:40] andrewhsu commented on #936
From the issue triage mtg today, if @open-telemetry/technical-committee can either execute this requested change or close this issue.

[2020-09-11 15:55] ejsmith opened #940 "Inconsistent Sampling Result Names"
### Current Names
- `NOT_RECORD`
- `RECORD`
- `RECORD_AND_SAMPLED`

Seems like we should pick between present tense or past tense and make it consistent. I am proposing that we use past tense as in it's a decision that has already been made.

`NOT_RECORD` doesn't make sense. It is not correct English.

Related: https://github.com/open-telemetry/opentelemetry-specification/pull/938

[2020-09-11 15:56] carlosalberto commented on #936
cc @SergeyKanzhelev

[2020-09-11 16:01] mtwo commented on #929
While I agree with @rakyll 's concerns, I think that we're too close to RC/GA to feasibly make this change without pushing the schedule back and causing headaches for existing Collector users

[2020-09-11 16:04] SergeyKanzhelev commented on #936
I'm ok reverting it. It's easier to fix issue than block PR merges

[2020-09-11 16:06] #936 closed

[2020-09-11 16:22] tigrannajaryan commented on #182
Sounds good, please do it.

[2020-09-14 05:13] trask commented on #680
@carlosalberto I don't think this is the issue that I thought it was. We don't need custom propagators in Java Instrumentation for GA.

[2020-09-14 05:58] nilebox opened #944 "Default aggregation for SumObserver and UpDownSumObserver"
**What are you trying to achieve?**
Review requirements for default aggregation for `SumObserver` and `UpDownSumObserver`, and confirm what should be the behavior in all SDKs for consistency.

First of all, SDKs currently implement aggregation for `SumObserver` and `UpDownSumObserver` differently:
- [Go: Sum](https://github.com/open-telemetry/opentelemetry-go/blob/77de1998cf5364262e06527157be49aba

[2020-09-14 06:03] nilebox opened #945 "ValueObserver should use LastValue aggregation by default"
**What are you trying to achieve?**
According to the comment https://github.com/open-telemetry/opentelemetry-specification/issues/636#issuecomment-676564474, the agreement is to use `LastValue` aggregation for `ValueObserver`.
The specification still states that `ValueObserver` should have `MinMaxSumCount` aggregation by default: https://github.com/open-telemetry/opentelemetry-specification/blob/m

[2020-09-14 08:48] iNikem commented on #680
But this PR is not only about custom propagators, right? It includes built-in ones.

[2020-09-14 16:08] andrewhsu commented on #879
from the maintainers mtg today, assigning to @bogdandrutu for initial assignee

[2020-09-14 16:31] andrewhsu commented on #510
from the maintainers mtg discussion today, talked about this issue and the related PR #875 and it was decided to bump this to P1 to concentrate on the decision if this is necessary for spec trace freeze. cc @carlosalberto @tedsuo

[2020-09-14 17:06] jkwatson commented on #496
I'm confused if a MultiPropagator is different than the Composite Propagator already in the spec. Is this an additional thing, or a clarification of the existing one?

[2020-09-14 17:10] Oberon00 commented on #496
I think it's about multiple propagators for the same concern. E.g. B3+W3C trace propagators at once.

[2020-09-14 17:35] jkwatson commented on #496
Ah, so Composite is multiple-concerns and Multi is multiple for a single concern. Got it.

[2020-09-14 18:38] tedsuo commented on #797
@Oberon00 I think you have nailed it. All other details aside, the core issue is "the principal of least surprise."

IMHO, the most uniform solution would be to say that nulls are encoded as empty string. This could also scoop up other odds and ends, such as "undefined" in javascript. It is not perfect of course, but it would be implementable today, and universal across languages. I would prefer t

[2020-09-14 22:20] rakyll opened #948 "Labels vs attributes"
(Sorry if there is an earlier discussion on this.)

Is there a significant difference between  and labels and trace attributes? If not, is there a reason why we are calling out them as attributes in the traces? Having two different concepts for similar/identical things is adding a mental overhead. It would be much easier from the user's perspective if we don't introduce a new concept if not necess

[2020-09-14 22:32] rakyll opened #949 "Having both local and remote span parents?"
In the Go trace package, the following functions uses different keys to store the local and remote span contexts and allow a context to have both a local and remote parent:
https://pkg.go.dev/go.opentelemetry.io/otel@v0.11.0/api/trace?tab=doc#ContextWithRemoteSpanContext
https://pkg.go.dev/go.opentelemetry.io/otel@v0.11.0/api/trace?tab=doc#ContextWithSpan

I'm not sure if this is permitted by the

[2020-09-14 22:41] nilebox commented on #945
Closing as duplicate of #834

[2020-09-14 22:41] #945 closed

[2020-09-14 22:50] mwear commented on #510
I would be in the support of this as well. I think removing parenting via span context is the easiest and least controversial parts of this proposal. In a post OTEP-66 world, having a handle on a span context, but not the span, or a context is going to be very uncommon.

Removing the ability to parent by a span is slightly more controversial, but likely necessary if correlations, or anything else

[2020-09-14 23:36] mwear commented on #535
This was addressed in #811. We've standardized on `OTEL_RESOURCE_ATTRIBUTES`. I'll close this.

[2020-09-14 23:36] #535 closed

[2020-09-15 06:06] iNikem commented on #949
From the spec:

Based on that I would say that Span can have either remote parent or local parent but not both.

[2020-09-15 06:17] Oberon00 commented on #949
In that case the local parent applies. See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#determining-the-parent-span-from-a-context

[2020-09-15 06:47] Oberon00 commented on #949
Hmm, actually that spec is quite strange. It basically means that if you extract into a Context that already has a Span in it, the extracted SpanContext will be ignored. At least that is my reading. And Java would then mis-implement the spec by storing a Span instead of a SpanContext in the Context. CC @carlosalberto @bogdandrutu

(bold added by me)

[2020-09-15 07:01] Oberon00 commented on #797
I disagree. In Java `null` does not have it's own type. Instead you have a `null` String a `null` Boolean, etc. So if you used `Boolean b = null; span.setAttribute("myattr", b);`, it would be very surprising if an empty string was the result in the exported data.

[2020-09-15 07:32] jmacd commented on #705
@MrAlias can you clarify what is different between this statement ^^^ and "Follows the format
 described by [UCUM]"  in the current `.proto`?

[2020-09-15 07:48] jmacd commented on #705
I would not try to constrain the set of units to a large set or make them types. Having unit be a free string is fine and low-dependency, but I think OpenCensus struck the right balancing in both specifying UCUM strings and providing a few predefined values in the libraries. I think it would be nice to specify modestly larger default set, with common bytes and timing measurements spelled out (ques

[2020-09-15 08:04] Oberon00 commented on #381
It sounds to me like you have more or-less re-implemented what Context is supposed to solve. Please take a look at #510 and #875.

[2020-09-15 08:09] Oberon00 commented on #896
Indeed the spec is currently lacking a description of how to create a SpanContext. If you only implement what is specified, you could not create one at all. Seems like a bug to me, but different from this issue which talks about exchanging the generator in cases where the SDK generates a trace/span ID for you.

[2020-09-15 08:12] Oberon00 commented on #442
As no one has spoken up, I'll move this to after-ga.

[2020-09-15 08:38] iNikem opened #950 "Remove semantic convention for http.status_text"
[HTTP semantic convention](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md) defines `http.status_text` as [`HTTP reason phrase`](https://tools.ietf.org/html/rfc7230#section-3.1.2). But even RFC sounds like that reason phrase is an obsolete artefact (emphasis is mine):

   textual description associated with the numeric stat

[2020-09-15 08:39] Oberon00 commented on #433
In fact, Dynatrace uses cookies in some cases to link JavaScript-based user-actions with backend services. Not sure if we need Set-Cookie or just Cookie for that though.

[2020-09-15 08:57] Oberon00 commented on #924
It should be enough if new spans are created through named tracers. Having all active-span manipulations traced through named tracers would be nice-to-have, but I think the approach in #923 is fine. Feels far better to me than having a default tracer in any case 😃 Although I don't think we have to decide here (#586 is orthogonal to this IMHO)

[2020-09-15 09:21] Oberon00 commented on #433
Should this issue be merged with #444 by the way? It seems to me there is the same discussion on both issues.

[2020-09-15 10:02] Oberon00 commented on #944
It seems the issue in question is already solved in the Spec. However, it may still be sensible to have this issue to make @open-telemetry/java-approvers and @open-telemetry/python-approvers and potentially other SIGs aware their implementation is not compliant. The metric compliance matrix is still TBD currently I think.

[2020-09-15 10:19] Oberon00 commented on #948
@jmacd suggested in https://github.com/open-telemetry/opentelemetry-specification/issues/446#issuecomment-660207029 that they should be the same, but currently labels only allow string values, while attributes allow a bunch of different types https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/common/common.md#attributes

[2020-09-15 10:20] Oberon00 commented on #948
@rakyll You assigned this the "spec:protocol" label. Is this related to the OTLP protocol in any way?

[2020-09-15 10:31] Oberon00 commented on #797
Actually, I don't like that. The problem is just that in some languages you have to somehow deal with null. Following the principle of least surprise, null as first-class value would indeed seem to be best for these languages. But then we may need awkward APIs in other languages for generating these nulls. And having one more value type may lead to surprising semantic conventions, etc.

[2020-09-15 10:33] Oberon00 commented on #797
Maybe the question we should ask is: Is null a semantically useful value type? We already can use empty strings, empty arrays, boolean false, unset attributes. Do we need null in addition? It might be used to signal "I looked for this attribute, but did not find it". Is that useful? Are there any other use cases?

[2020-09-15 10:44] Oberon00 commented on #950
We inherited this attribute from OpenCensus AFAIK. But if the RFC says it SHOULD be ignored then I think there would be a point in doing so. I think it also does not exist from HTTP 2 on.

We could also consider marking the attribute as deprecated (should not be set by instrumentation, but if you get it, this is the meaning).

[2020-09-15 12:25] thisthat opened #951 "Fix example in Exception semantic convention"
The `exception.stacktrace` example of the semantic convention for exceptions should not have `\n`.
See https://github.com/open-telemetry/opentelemetry-specification/pull/927#issuecomment-692127118

[2020-09-15 13:50] carlosalberto commented on #950
I'd rather remove it (unless OC really needs it for backwards compatibility).

[2020-09-15 14:49] tigrannajaryan commented on #709
Since I don't see any objections I am moving this to after GA.

[2020-09-15 14:50] tigrannajaryan commented on #679
Since I don't see any objections I am moving this to after GA.

[2020-09-15 14:56] arminru commented on #933
@Oberon00 It would not only cause a scrollbar but also confusion if the prefix is left out only for some attributes (or suddenly for all of them). A list should work, yes.
I, personally, however, am fine with the current tables (even if one has to scroll on this particular one when viewing it on the Github website).

[2020-09-15 15:10] andrewhsu commented on #940
from the spec sig mtg today, set priority to p3

[2020-09-15 15:19] dyladan opened #952 "Specify behavior of async resource detection"
**What are you trying to achieve?**

tl;dr: what happens if spans are created while resources are still being detected?

In some environments such as GCP, some resource attributes are detected by calling a remote endpoint. In JS at least, it is impossible to make blocking IO calls. This means the user app either has to wait for the resource detection to complete before starting the SDK, or start t

[2020-09-15 15:19] andrewhsu commented on #949
from the spec sig mtg today, set priority to p1. @bogdandrutu to describe how this works in java. can then find an assignee.

[2020-09-15 15:33] #899 closed

[2020-09-15 15:36] dyladan commented on #952
From spec meeting:

Since resources are not API surface and are SDK only, this is not a GA blocker. Because this is a common scenario that everyone will hit eventually, it is important that we specify something eventually. The current SDK does not do resource auto-detection, and depends on "extension packages," which allows us to offload these concerns from the SDK for the moment.

[2020-09-15 16:03] Oberon00 commented on #864
From the SIG meeting: If you have an unsampled child, propagate the parent span ID as my span ID.

[2020-09-15 16:05] tigrannajaryan commented on #797
@arminru the protocol does support null values, see https://github.com/open-telemetry/opentelemetry-proto/blob/313a868be259dce6c6516dd417d3ad5fd3321acf/opentelemetry/proto/common/v1/common.proto#L29

AnyValue is defined so that any JSON can be represented in it and `null` needed to be representable.

I agree with @jmacd that being able to represent anything that JSON can represent is a valid goal.

[2020-09-15 16:27] Oberon00 commented on #797
I don't understand the reason behind that. Can you elaborate?

[2020-09-15 16:44] carlosalberto commented on #433
Hey @Oberon00 could you dig/elaborate on the usage of cookies?

I'm thinking this should be moved to After-GA - this is because A) What @tedsuo mentions and B) if we really need to add this functionality, @tylerbenson proposed to add a `Getter.GetAll()` method to return **all** values for a given key (if there are multiple values, that is), as an additive change.

@open-telemetry/specs-approvers P

[2020-09-15 17:01] parallelstream commented on #381
Thanks for the links, Christian. Seems like having Context as a Span parent solves at least half of the problem - now our "event" (context) is present in each Span. But in order to get metrics and spans share the same context, don't we need similar parent relationship between Metric and Context, i.e. each emitted metric also has Context associated? Or did I get it wrong?
Ultimately, in my receivin

[2020-09-15 18:59] tigrannajaryan commented on #797
If I have a source data that is a JSON I would want to be able to record it in an attribute in a loseless manner. This is already  supported in [Log data model](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/logs/data-model.md#log-and-event-record-definition) (both Body and Attributes explicitly allow `any` value - which is defined to be JSON-like) where it

[2020-09-15 19:06] alanwest opened #954 "Functions for modifying a Composite Propagator"
The ability to [create a composite propagator](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#create-a-composite-propagator) is specified. In .NET, instrumentation defaults to use a composite propagator that supports propagating W3C trace context and baggage.

Currently, if a user wants to enable an additional propagator (e.g., Zi

[2020-09-15 19:20] #940 closed

[2020-09-15 19:30] HaloFour opened #955 "Propagating Exceptions in Span Events"
I'm working with the Java implementation of the reference OpenTelemetry Tracer and using a span exporter that renders spans to logs via log4j2.  Currently the Span interface exposes a helper method `recordException` which can record the details of an exception as an event with attributes to the span.  However, as the specification supports a small subset of possible data types for attributes those

[2020-09-16 00:20] SergeyKanzhelev commented on #709
Is this can be done already via https://github.com/open-telemetry/opentelemetry-specification/pull/811 ?

[2020-09-16 04:34] iNikem commented on #709
It can, but this proposal is more intuitive for new users.

[2020-09-16 07:14] anuraaga opened #958 "Messaging Batch Receive - swap parent / link?"
In the spec for message batch receiving

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/messaging.md#batch-receiving

we define that processing spans should have a parent set to the receiving span and a link to the producing span. I feel this could be reversed to provide a better experience - not all tracing systems support links,

[2020-09-16 07:38] SergeyKanzhelev commented on #709
So the variable would look like this:

[code]

The good thing here you can also do:

[code]

Both looks quite intuitive.

Having two ways to configure the same setting may be more confusing. But I'm happy to hear more opinions here. If there is no specific feedback from users, should we recommend using `OTEL_RESOURCE_ATTRIBUTES` and close the issue? We can always re-open when there will be user fe

[2020-09-16 07:52] iNikem commented on #709
I think my concern is discoverability. If an user looks for how to specify service name, which is a required configuration, it will be easier for them to find `OTEL_SERVICE_NAME` than `OTEL_RESOURCE_ATTRIBUTES`.

[2020-09-16 08:01] anuraaga commented on #958
For reference, I'm working on some instrumentation for lambda processing of SQS here

https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1210/files

I'm trying to best-effort produce traces where possible, mostly to have best compatibility with tracing systems including ones without links. Principle is data is better than no data, and trace of request is better than only hav

[2020-09-16 08:37] arminru commented on #919
@jmacd Note that there are also well-established histograms like [HdrHistogram](http://hdrhistogram.org/) which comes with a lot of implementations in different languages, some of which are already used in production (for example in Elastic) and might be a better option in terms of GA-readiness. I understand, however, that there are certain weaknesses with HdrHistogram that DDSketch addressed. [Ci

[2020-09-16 12:27] arminru commented on #797
@tedsuo I don't really see the difference between overwriting and explicitly deleting an attribute. If we want to avoid deleting attributes (by either setting null in languages that have it or overwriting it with an empty string, for example, and thus effectively deleting the previous value), we would have to prohibit overwriting of attributes entirely. This would be fine with me and would particu

[2020-09-16 12:28] arminru commented on #797
@tigrannajaryan Thanks for pointing me to that line in OTLP. I missed the comment there that specifies how null can be expressed.

I'm not convinced that representing any JSON value to be set as an attribute is a requirement that we need to fulfill. One can set an entire JSON object (including the literal string "null") already and if the JSON is decomposed and each value is set as a separate attr

[2020-09-16 13:28] arminru commented on #958
It is indeed a pity that without link support we will lose the link to the producing span in case of batch receiving. The processing span being a child of the batch receiving span is, however, consistent with the general parent-child relationship we define in the spec. The receive operation is the most direct cause of the processing operation and the initial message producing operation is only ind

[2020-09-16 13:32] arminru commented on #958
Labeling it as "required for GA" to decide if we want to adapt the semantic convention here or not. This would be a breaking change and we are yet to come up with a proper solution for handling these in semantic conventions, especially since this is about changing the parent/child and link semantics rather than attributes, where we could introduce additional ones with deviating semantics and depre

[2020-09-16 13:56] Oberon00 commented on #958
This might be solvable with link attributes. E.g. we could prescribe a certain link attribute as identifier for this messaging "uplink" or just consider the first link of a messaging attachment special. Then the collector/exporter could be configured to do the translation for backends that do not support links. I think theoretically & semantically, the current conventions make sense as-is.

[2020-09-16 14:31] tigrannajaryan commented on #797
@arminru I agree, it is not a requirement, but a nice to have feature. The problem with the current definition of SetAttribute(key, null) is that it will be a breaking change if later we decide that we do want to be able to represent JSON values. In that case the semantics of SetAttribute(key, null) will have to change incompatibly.

I am not convinced of the opposite: that it is a good idea to us

[2020-09-16 14:51] toumorokoshi opened #959 "How should OpenTelemetry-internal metrics be exposed?"
**What are you trying to achieve?**

From a conversation in [#942](https://github.com/open-telemetry/opentelemetry-specification/pull/942#discussion_r488380618), there is a need to have metrics internal to opentelemetry. This is a ticket to start the discussion of how that would work.

Design decisions include:

- what meter would those metrics emit to?
- how would components of opentelemetry emit

[2020-09-16 15:18] arminru commented on #797
@tigrannajaryan

I see the deletion of attributes as a different concern.
If only this was the problem, as stated above (https://github.com/open-telemetry/opentelemetry-specification/issues/797#issuecomment-693371679), we could just change this error handling behavior for null being passed to SetAttribute to a no-op and therefore preserving the previous value or prohibit overwriting of attributes

[2020-09-16 15:31] carlosalberto commented on #444
Similarly to #433 I think we should state specifically that `Setter` does a SET operation, rather than an ADD. Later, **if** truly needed, we can add an `Update` method.

cc @yurishkuro (original author of the comment ;) )

[2020-09-16 17:01] jkwatson commented on #959
Just as a reference the Java SDK is currently emitting metrics for our BatchSpanProcessor: https://github.com/open-telemetry/opentelemetry-java/blob/ddb38970fabadd82e7fa875789d74b9bd29fd257/sdk/tracing/src/main/java/io/opentelemetry/sdk/trace/export/BatchSpanProcessor.java#L140-L152

[2020-09-16 17:38] #710 closed

[2020-09-16 18:14] tigrannajaryan commented on #797
My opinion is that we should do this:
- Make `null` a valid value for attributes. We don't necessarily need to have a special API for recording null values, just don't explicitly prohibit `null` in the spec. Remove from the spec the sentence that says setting the attribute value to `null` deletes the attribute. The consequence will be that for some languages SetAttribute will allow recording null

[2020-09-16 18:38] SergeyKanzhelev commented on #709
The question here would be - where the user is looking for this information. If in specs repo - it is likely would be easy to point to that env variable. If in java auto-instr repo, either setting can be done there. My suggestion was to wait for real user or user-study feedback.

This actually opens up an interesting topic about docs discoverability. Especially if the concepts that vendor translat

[2020-09-16 23:09] mwear opened #960 "B3 underspecified"
**What are you trying to achieve?**

Consistency in B3 context propagation between different SDK implementations.

**Additional context.**

B3 has single and multi-header formats. Most languages have support for both formats, but not all. To ensure consistency between SDK implementations we should specify what is expected. Based on surveying the [go](https://github.com/open-telemetry/opentelemetry

[2020-09-17 05:17] anuraaga commented on #958
@Oberon00 Using link attributes to allow exporters to map for what's best UX for them seems like a nice idea to me.

I'm presuming Dynatrace supports `Link`s - could you describe how they're handled just to understand the implications on the model better? I can imagine 3 producer traces, and 1 receiver trace that handled the three independent messages as a batch. Does the trace for each of the pro

[2020-09-17 05:20] anuraaga opened #963 "Clarify relationship between messaging, faas, and RPC"
I want to clarify the relationship between messaging, RPC, and FaaS which is confusing to me right now. Let me give an example, based on my understanding of the current spec, and let me know if this aligns with expectations. This is an example of lambda + sqs, something I'm working on now and is sufficiently complicated that hopefully other cases are simpler.

SQS - an HTTP-based RPC API for publi

[2020-09-17 08:45] Oberon00 commented on #958
Actually we don't 😞

We have had the same receive/process thing in our SDK for quite some time and what we did was basically use a workaround: We will suppress creation of the receive Span if it would be a root Span (i.e. if there is no active trace when it is created; the Dynatrace SDK does not support explicit parents). That way, the process span can get the incoming message as ordinary parent.

[2020-09-17 08:54] Oberon00 commented on #958
Good point. However, consider the case where the receive span is caused by an incoming HTTP request. Now what is the "real causal relationship"? Incoming HTTP -> Receive -> Process 1..n, or Send 1..n -> Process 1..n. In both cases the other part of the trace gets orphaned in systems that don't support links.

I think we should define a good meta semantic convention for what to use links vs parent

[2020-09-17 09:19] iNikem commented on #709
Please let it live for "After GA" :)

[2020-09-17 10:50] anuraaga commented on #958
@Oberon00 I'm not entirely sure what you mean by "receive span is caused by an incoming HTTP request". Is it the `APIReceive` span I mention in #963? If so, it's true I have no idea what to do with that span ;) Regardless of spec, I also don't have a great handle on the model and am trying to get it in that issue, appreciate any help. But my initial impression is if there are going to be orphans,

[2020-09-17 10:51] anuraaga commented on #963
/cc @Oberon00 @arminru Sorry for summoning you but I'm enjoying hearing about messaging from you and hope to enjoy more here too :)

[2020-09-17 12:03] arminru commented on #963
Hi @anuraaga! It's really nice to see a real-life end-to-end example that is a bit more complex than the isolated examples we currently have in the spec, thanks for that!
In order to understand the whole compilation better, it would be helpful if you could mention which semantic conventions are applied in which span (I suppose it's only RPC in _APIReceive_ and only Messaging in _Receive_, right?)

[2020-09-17 12:29] arminru commented on #797
@tigrannajaryan

That would, however, not allow recording any JSON value on attributes as desired above, right?
Either way, for GA I would also not increase scope by having to discuss an API to allow artificially recording null values since this could be solve by a compatible change after GA.

I also think that exporter authors will know best on how to represent it. Making it a SHOULD and stating

[2020-09-17 12:59] Oberon00 commented on #958
I was just thinking of a theoretical scenario. For example, you might have a REST endpoint "POST /flushmessages" that triggers the processing of all messages in a queue. The HTTP server span would be the parent of the (probably async) receive span(s) that then trigger the process spans.

[2020-09-17 13:55] #568 closed

[2020-09-17 14:17] tigrannajaryan commented on #797
Correct.

I am not sure I fully understand the connection here. What in the current definition of the spec regarding overwriting attributes you see as problematic that needs a discussion? Spec says:

This seems like a fine requirement to me and appears to be a natural behavior for a `Set` function.

[2020-09-17 15:12] #798 closed

[2020-09-17 15:17] arminru commented on #797
@tigrannajaryan It was stated above that deleting of attributes is deemed problematic or undesirable but I don't see a big difference between allowing to overwrite attributes (especially with empty strings or null) and deleting them entirely, so I was wondering if there are concerns regarding overwriting as well.
I think you personally, however, were not opposed to deleting per se but only the fac

[2020-09-17 15:30] tigrannajaryan commented on #797
Yes, that's correct.

[2020-09-17 15:42] arminru commented on #797
Sounds like we have an agreement 🙂
I'll prepare a PR allowing null values for attributes and having them recorded and exported tomorrow.

[2020-09-17 15:54] tedsuo opened #965 "Improve error handling"
**What are you trying to achieve?**
Improved error handling, based on [OTEP 136](https://github.com/open-telemetry/oteps/blob/master/text/trace/0136-error_flagging.md).
* Reduce the number of Status Codes.
* Add Status Source.
* Indicate which semantic conventions generate errors.

**Additional context.**
OTEP PR: https://github.com/open-telemetry/oteps/pull/136

This issue supersedes https://gith

[2020-09-17 15:55] tedsuo commented on #706
This issue should now be closed in favor of https://github.com/open-telemetry/opentelemetry-specification/issues/965.

[2020-09-17 16:07] arminru commented on #965
Classified as p1 since it supersedes the p1 #706 and is quite pervasive.

Should we split this into a separate (p3 or after-ga) issue?

[2020-09-17 16:11] carlosalberto commented on #706
Closing this issue in favor of #965.

[2020-09-17 16:11] #706 closed

[2020-09-17 17:44] jmacd commented on #919
@arminru Yes, it's starting to look like there are many variations on histograms that use variable boundaries and a compressible representation. This suggests we focus on more flexible ways to encode bucket boundaries, but that otherwise the proposed DDSketch data point is no different from a Histogram data point.

[2020-09-17 18:59] tedsuo commented on #965
@arminru I will include the HTTP status codes as part of this issue. I agree a separate issue for the rest of the semantics.

[2020-09-17 20:11] jkwatson commented on #705
Here are my thoughts on this:
1) If we decide not to define how APIs/SDKs will enforce (or not enforce) these standard units, how can we do that in the future, without breaking existing instrumentation, especially user-created custom instrumentation?
2) Clearly the collector will continue to process metrics that don't use these standards, since it accepts metrics from sources that don't have these

[2020-09-17 21:02] justinfoote commented on #705
I don't think I was following your points in the SIG meeting today, John, but I think I agree with what you've just posted -- no real enforcement, but strong recommendations. And +1 to including units in our various semantic conventions.

I'm in favor of option 2 here.

- The APIs accept any String, but provide helpers (maybe these are just constants) to make this easier on instrumentation authors

[2020-09-17 22:38] bogdandrutu commented on #949
I completely agree with @rakyll, and that's why in Java I pushed to not have 2 different entries in the Context:
1. Complicated logic for extracting the current span or span context to be used as parent when a new Span is created.
2. Error prone, users may update one of the value and expect that to be the parent. E.g. for a Context with a Span if a new remote span context is added, that is not goi

[2020-09-17 22:45] bogdandrutu commented on #948
@rakyll we use attributes for things that we allow multiple value types (string, int64, float64, bool, etc.) and labels where the value types is only string. So there is a significant difference between "labels" and "attributes".

The question of using same multiple value types data structure for metrics is different in my opinion.

[2020-09-17 22:46] bogdandrutu commented on #950
+1 to remove this

[2020-09-17 22:52] rakyll commented on #948
@Oberon00 it was automatically labelled, I have no rights to add/edit the labels in this organization. Feel free to edit.

@bogdandrutu In the Go library, labels can be of any type: https://pkg.go.dev/go.opentelemetry.io/otel@v0.11.0/label#Value
And SetAttributes take a label: https://pkg.go.dev/go.opentelemetry.io/otel@v0.11.0/api/trace#NoopSpan.SetAttribute

According to your comment, the Go pac

[2020-09-17 22:58] rakyll commented on #949
I agree with @bogdandrutu. We should do what Java has done in the Go package. It's error prone and creates a lot of confusion what it means to have two entries especially given users can access to both via public APIs.

[2020-09-18 05:36] anuraaga commented on #963
1) Let me give a few possible scenarios, based on the instrumentation restrictions, and see if they align with what you're saying

a) Use Java library instrumentation of lambda with code change. Instead of using official `RequestHandler`, which only supports receiving a batch of messages, users use a `MessageHandler` we provide.

Receive span created around the processing of the batch (instrumenti

[2020-09-18 05:43] anuraaga commented on #963
Also fleshed out table and added an ugly ascii time chart :) One key point in the table is a new column on whether a span is created in the user's app or infrastructure (e.g., cloud provider). Infrastructure spans are generally not available, though in my example in practice FaaSInitialize and FaaSInvoke are present. But they're not generated with OTel and it will be years before they follow seman

[2020-09-18 06:27] anuraaga commented on #963
Noticed a possible corner case in our messaging spec - I don't think in lambda+SQS it's possible to robustly have a name like `NiceQueue receive`. A function can be registered to multiple queues, so a received batch can correspond to multiple queues, only the messages themselves have a reference to their queue. One option is to check the messages and if they all have the same event source, use it,

[2020-09-18 07:36] anuraaga opened #968 "Where to put instrumentation-specific semantic conventions."
I think it's common for there to be a set of semantic conventions for specific instrumentation. These are often for frameworks with a cross-language scope, or client libraries for a service that exist in many languages. Information that are useful in observability that are always present in these situations make sense to have consistent in spans across languages.

We have an example already in our

[2020-09-18 07:59] Oberon00 commented on #968
That's not instrumentation specific. All gRPC instrumentations will follow this convention. In a sense, you could argue that it is on the same level as HTTP, as both are semantic conventions for client/server of a certain protocol. In practice however, there is probably only one gRPC implementation per language while there are many for HTTP.

[2020-09-18 08:33] anuraaga commented on #968
In a strict sense, yes, but all of our languages currently publish instrumentation models such as `opentelemetry-instrumentation-grpc`, I expect similar for RSocket, and these seem different than concepts like SOAP, REST which are frameworkless protocols. Indeed, perhaps a folder called `protocols` for these instead of putting them in `instrumentations` could make sense, but I don't know if it's r

[2020-09-18 09:18] Oberon00 commented on #968
I think we should just allow all of these to be in the spec. Or if we find there are too many, maybe we could have a spec-contrib repository with quicker approval/merge process for less important semantic conventions.

[2020-09-18 09:54] anuraaga opened #970 "Proposal: remove restriction that SpanContext must be a sealed/final class"
I think the spec that requires `SpanContext` is too limiting to language authors since it brings language concerns (class inheritance) into the cross-language spec. Languages may have a language-specific reason to allow a non-sealed `SpanContext`. For example, in Java, we have a need to hide the implementation of `SpanContext` from a user app to prevent compatibility issues between auto instrument

[2020-09-18 11:47] arminru commented on #968
👍
This would certainly help in terms of discoverability and allow instrumentations for the same framework/system/protocol/... to be aligned across langugages.

[2020-09-18 12:43] arminru commented on #950
Done in #972.

[2020-09-18 13:35] arminru commented on #963
@anuraaga

1.a) And the processing spans have the receive span as parent, right? This would be fine then.

1.b) Here the connections to the producing spans are lost. This could be solved by adding links from the receive span to the producing spans. You could also declare that span as processing span (since it actually encloses the processing of all messages) or declare no operation at all. Would y

[2020-09-18 13:40] arminru commented on #963
@anuraaga

2.) Yeah I think that having the producing span encompass the lower-level send call (implementation detail of the produce operation) would make sense.

The messaging semantic conventions define whether it should be producer+consumer or client+server by whether it is part of a synchronous conversation (client sends request via a message, server responds to it via a message) or rather a "

[2020-09-18 13:43] arminru commented on #963
@anuraaga

3.) The receive span is intended to track the time spent waiting on a message. If this time spent waiting is not of interest, which is, for example, the case when waiting/polling is hidden away in a framework and the instrumented routine is only invoked at the time a message arrives, the receive span can be omitted. Only a span with no `operation` attribute being set would be created in

[2020-09-18 13:46] arminru commented on #963
@anuraaga

4.) I see. If this is the main loop of that app, I also don't think tracking it with a span that spans over the entire lifetime of the process would make sense.

[2020-09-18 13:49] arminru commented on #963
@anuraaga Thanks for expanding the table and for the pretty piece of art!

What do you mean by that? Are you saying you made them up for your example but don't expect any spans like these to be created IRL (unless the cloud provider instruments their engine and deploys OTel in production while also exporting the spans to the same back end as the ones from the user domain)?

[2020-09-18 13:53] arminru commented on #963
@anuraaga I think it makes sense to discuss this separately. I could well imagine the same handler code being invoked at once for multiple sources in batch scenarios like you just described. We might need to consider this in the semconv.

[2020-09-18 14:30] #428 closed

[2020-09-18 14:40] carlosalberto commented on #433
Ping @Oberon00

[2020-09-18 14:48] Oberon00 commented on #433
I looked and we do use Set-Cookie for injection in some cases, but I think this is special enough that we would not use the propagator interface anyway there.

[2020-09-18 14:50] carlosalberto commented on #433
Perfect, so during our triage meeting today will discuss making this After-GA. Thanks for the reply @Oberon00 !

[2020-09-18 15:08] arminru commented on #948
@rakyll This should be fine. The current metrics spec says the following:

https://github.com/open-telemetry/opentelemetry-specification/blob/98fbae0192b909a0e02ef1d9aec1f29cdad31817/specification/metrics/api.md#L756-L759

For OTLP, the exporter will translate the value into its string representation when populating the labels defined as string/string pairs in the protocol:

[code]
--
https://gith

[2020-09-18 15:48] andrewhsu commented on #823
from the spec issue triage mtg today, talked with @mtwo and @reyang and from their input putting this after GA, but medium priority.

[2020-09-18 15:56] andrewhsu commented on #433
from the spec issue triage mtg today, discussed this and moving to after ga

[2020-09-18 16:01] andrewhsu commented on #437
from the spec issue triage mtg today, discussed this and moving to after ga

[2020-09-18 20:00] jmacd commented on #919
I will propose I will open a new proposal along the lines noted above.

[2020-09-18 20:00] #919 closed

[2020-09-19 05:36] anuraaga commented on #963
Thanks @arminru

Ah - I wasn't thinking enough about the "no operation" option. I might understand what the receive is now (hopefully, heh). I think the important piece missing from the convention is to indicate this is a batch. I think there are options of

- No operation, `messaging.scope = batch`
- `operation = process`, `messaging.scope = batch`
- `operation = process_batch`

I lean towards th

[2020-09-19 05:39] anuraaga commented on #963
Yeah that's basically what I mean. Though my example has a caveat in that while OTel backends will have no way of getting any infra span, X-Ray backends currently do get `FaaSInitialize` and `FaaSRevoke`, though naturally with no OTel conventions, but we can still parent to them. `APIReceive` and `pollmessages` I made up completely trying to better understand the relationship between messaging spa

[2020-09-19 10:16] anuraaga commented on #963
Another point - @iNikem pointed out that my SQS instrumentation is fragile because we need to assign two spans to one `handleRequest` method. We need to decide whether this is a bug or a feature :) If FaaS span and message span are separate, then this is inevitable when an instrumented method has both meanings. Otherwise, we could define a way to combine into one span - the only issue really is sp

[2020-09-21 14:58] carlosalberto commented on #444
Added #976 to clarify this part of the Specification - the actual addition of an `Add` operation will be considered after GA.

[2020-09-21 16:27] andrewhsu commented on #510
from the maintainers mtg today, assigning to @Oberon00 since he has an open pr on this

[2020-09-21 16:28] iNikem commented on #599
@andrewhsu @open-telemetry/technical-committee I believe this should now be closed by open-telemetry/oteps#136

[2020-09-21 16:49] arminru commented on #599
Closing since this is about to be resolved by implementing of OTEP 136 which is already tracked in #965.

[2020-09-21 16:49] #599 closed

[2020-09-21 17:31] kenfinnigan opened #977 "Trace semantic conventions for (non-traditional) messaging"
While reviewing the trace semantic conventions for messaging (https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/messaging.md), there is a bias towards more "traditional" message brokers.

This results in attributes being set for messaging with Kafka, AMQP, possibly others, that don't fit these models.

As there are several places whe

[2020-09-21 17:38] Oberon00 commented on #977
You mean there are required attributes that don't apply for these? I don't think non-required attributes that do not apply to Kafka, etc are a problem. But I think it's indeed best if you make a PR, if you already have a solution in mind.

[2020-09-21 17:45] kenfinnigan commented on #977
Thanks @Oberon00.

I think there are a few things that mismatch either from the text content, or actual attributes.

I'll work on a PR that attempts to fix them, but if there are ones that raise big issues I will explicitly call them out in the issue first.

Could you assign the issue to me?

[2020-09-21 17:48] Oberon00 commented on #977
Thank you for taking care of it! 👍

[2020-09-22 00:06] justinfoote opened #979 "Add documentation to the semantic convention YAML models directory"
I found the YAML files in the semantic_conventions directory at the root of this repository to be something of a mystery. When I first discovered them, I thought they were duplicates of the semantic conventions found in markdown in the specs. It took quite a bit of digging to find this  [pr](https://github.com/open-telemetry/opentelemetry-specification/pull/571) and [issue](https://github.com/open

[2020-09-22 01:04] bogdandrutu commented on #867
@cijothomas @Oberon00 for API I think #875 resolves the issue of being able to have access to "baggages" at the start of the Span. Once that is solved I think the rest of the issue of how SDK annotates the span using attributes or simply capturing all the baggages can be downgraded to p2 in terms of urgency. Do we all agree on that?

Personally I would suggest to have a "baggage" entry in the Span

[2020-09-22 01:15] #960 closed

[2020-09-22 05:37] jmacd opened #982 "Metrics Histogram instrument default: any histogram sketch"
**What are you trying to achieve?**

Accepting this issue means changing the metric API and SDK specification to state that "any histogram sketch" library may be chosen as the default aggregation for ValueRecorder instruments, subject to the community decision in each OpenTelemetry implementation. Note that the classic fixed-boundary histogram is a viable solution, although there will usually be a

[2020-09-22 07:48] Oberon00 commented on #970
I would vote for making this P1 @open-telemetry/technical-committee. We need a decision here.

[2020-09-22 09:49] #950 closed

[2020-09-22 13:32] arminru opened #985 "Documentation of default exporters"
#943 introduced the environment variable `OTEL_EXPORTER` to the SDK spec which is used for configuring the exporter. It defines `otlp` as the default value for this environment variable in [specification/sdk-environment-variables.md](https://github.com/open-telemetry/opentelemetry-specification/blob/2088381f57004be1de4fa16e0c2adeea04cf2ce2/specification/sdk-environment-variables.md#exporter-select

[2020-09-22 13:36] Oberon00 commented on #985
Was this actually the intent? I think at least explicitly setting some environment variable should be required.

[2020-09-22 13:50] arminru commented on #985
I'm not entirely sure if this variable should only have an effect when exporting is set up explicitly by the application but without specifying _which_ exporter to use when setting up the TracerProvider, or if it should already do something by itself. In case of the latter, I would also find it surprising that by not specifying anything, a default pipeline including an exporter is set up. I could

[2020-09-22 14:21] arminru opened #986 "`Getters` and `Setters` being "optional helpers" passed to a `TextMapPropagator` is unclear"
While reviewing #976, I noticed that the current spec for the [`TextMapPropagator`](https://github.com/open-telemetry/opentelemetry-specification/blob/2088381f57004be1de4fa16e0c2adeea04cf2ce2/specification/context/api-propagators.md#textmap-propagator) specifies the `Getters` and `Setters` as:

  argument** that languages are free to define **to help extract data from the carrier**.

  argument**

[2020-09-22 14:29] carlosalberto commented on #986
So overall it means that `Getter` and `Setter` are classes/interfaces that may be defined if the language maintainers deem them important (for the language at hand). Otherwise they could instead require that the user provides an additional interface/object such as:

[code]

This was brought by @yurishkuro, hence cc-ing him here ;)

[2020-09-22 15:24] yurishkuro commented on #986
There are two ways to define the propagation interfaces:

1. The way OpenTracing did: `Inject(ctx, Carrier)`, where the carrier implements a specific interface that provides access to the underlying metadata. It's the simplest API for propagator, but it requires that instrumentation almost always wraps the actual request objects into an adapter that exposes the carrier interface, which means extra

[2020-09-22 17:01] MrAlias commented on #948
Is this a Java implementation detail or something defined in the specification?

[2020-09-22 17:22] MrAlias opened #987 "Should SpanProcessors be invoked in the reverse order they were registered?"
The Go SIG recently had [an issue](https://github.com/open-telemetry/opentelemetry-go/issues/1174) opened related to this question. Customarily span processors for exporters are the first things registered with a TracerProvider. If a user wants to process spans in a custom way they will register a processor with the instantiated TracerProvider. However, given the processors are invoked in the orde

[2020-09-22 17:28] iNikem commented on #987
Span is set to exporter during `SpanProcessor.onEnd` operation, right? That method receives already ended span, which is immutable. So regardless of invocation order one SpanProcessor cannot change ended span for another SpanProcessor. How do you imagine it to work?

[2020-09-22 17:34] MrAlias commented on #987
The ask in the linked issue is around filtering out short lived spans. It is only after the span is ended that the span length is known. If a users wants to filter out these spans and not send them to the exporter they would need to process the span prior to export.

@iNikem are you saying this is unsupported behaviour for OTel?

[2020-09-22 17:38] iNikem commented on #987
You can do that, but your SpanProcessor has to be in the chain leading to span exporter, not external to that. Or you can do that in span exporter itself.

[2020-09-22 18:01] MrAlias commented on #987
Gotcha, it sounds like we are talking about the same things then.

If the user instantiates the TracerProvider with an exporter that is wrapped in a span processor *as is the default way to setup a TracerProvider*:

[code]

And then registers their span processor

[code]

The user logic will currently not have an effect on the span sent to the exporter.  The ask from the user of OTel based on a us

[2020-09-22 18:18] iNikem commented on #987
Here is the problem. When you register the second SpanProcessor it does not go as in your picture. It goes this:

[code]

At least this is my understanding of SDK spec and of Java implementation. Registering SpanProcessor does not add it to an existing pipeline/chain. It just adds a new processor totally independent from the previous ones.

[2020-09-22 18:25] #830 closed

[2020-09-22 18:35] MrAlias commented on #987
Ah! That helps clarify things and refresh my mental model of this. That is also how we built the Go implementation. I should be able to readdress the original issue now. Thanks @iNikem.

[2020-09-22 18:35] #987 closed

[2020-09-22 20:19] jtescher commented on #985
Is support for it optional? Or is it recommended to implement this in a contrib or otherwise external package? In order to implement this as specified the otlp, jaeger, zipkin, and prometheus exporters would need to be included as dependencies.

[2020-09-23 00:55] trask commented on #985
Yeah, good point about needing to include all of the exporters in order to implement this.

Makes sense for it to be optional.

Even in Java auto-instrumentation, we only plan to support this in our (default) `-all` distribution (which already includes all of those exporters).

[2020-09-23 11:23] anuraaga opened #991 "How do people use Instrumentation Library?"
I was reminded this by #989 and it relates to #823. The issue of cost of exporting instrumentation library to zipkin / jaeger came up in #989 so I'm curious - how do people use this field? I personally can't come up with a use case TBH. We have semantic conventions for real data. Handling spans in the backend based on what attributes are present, rather than what instrumentation reported them, see

[2020-09-23 11:26] arminru commented on #986
Thanks for the clarification, @yurishkuro. So the spec is worded this way to allow SIGs to decide on either of both options, which seems reasonable to me - no need to restrict implementations here.

The wording with "helping" to set values is not some common terminology that I would expect in a technical specification but improving that is just an editorial change which we can address after GA as

[2020-09-23 11:29] Oberon00 commented on #991
Please read the OTEP: https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md

The main use case (which is still only a vision I think) is to be able to disable instrumentations or discard their data based on that. It's a robustness mechanism that would not be needed if everything runs smoothly.

[2020-09-23 11:33] arminru commented on #985
@trask Could you also clarify the intention which seems unclear as per the comments above, please? I think we should document this a bit more precisely.

[2020-09-23 11:57] anuraaga commented on #991
It's interesting that the point that made me think about this is because OTel will spam backends like Zipkin with this data :) Can we consider this an aspect of OTLP (if a backend is going to use this for protection, they will speak OTLP) and not deal with it in non-OTLP exporters where presumably the data won't be used?

[2020-09-23 12:32] iNikem commented on #991
It loosely resembles Jaeger "component" tag and can be used as a quick clue during debugging about which component/instrumentation produces such strange data (or does not). Even during development seeing spans from which instrumentation I receive and which not helps me tremendously in understanding, what is going on

[2020-09-23 13:37] #834 closed

[2020-09-23 14:08] #979 closed

[2020-09-23 14:15] #510 closed

[2020-09-23 14:35] yurishkuro commented on #986
@arminru I agree that this part of the spec as written is pretty cryptic and probably difficult to decipher by someone without a full background. Should not be this way; an explanation like above is sufficiently concise yet explains the rationale for dual API.

Agree though that it's not a blocker for GA, nice to have.

[2020-09-23 15:34] chrisleavoy commented on #705
👍  for APIs to accept any string with no real enforcement but with strong recommendations and documented conventions. I feel strongly that units of measure should be included in GA so that visualizations can be created that accurately represents the telemetry, even if this means that I need to loosely couple them out of band.

I would be OK in accepting errata that any SDK, collector or exporter i

[2020-09-23 17:15] jkwatson commented on #991
Echoing what @iNikem said: having the ability to see (in your tracing UI) what instrumentation is causing errant spans, and then to disable that instrumentation by name seems like a huge value-add for people supporting OpenTelemetry installations.

[2020-09-23 23:58] trask commented on #985
hey @arminru, the intention is to provide end users of Java auto-instrumentation with a way to select which exporter they want to use: https://github.com/open-telemetry/opentelemetry-java-instrumentation#exporters

I agree that implementing `OTEL_EXPORTER` env var support should be optional.

[2020-09-24 01:18] #924 closed

[2020-09-24 01:18] #455 closed

[2020-09-24 08:12] pavolloffay commented on #173
Has been any decision made on this?  I have started looking into this in the context of https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1060

From the thread I cannot figure out how the skip URL pattern should work. There are two approaches
1. exclude a span from being created
2. create non-recording (not sampled) span, but respect upstream sampling decision

The first

[2020-09-24 08:28] Oberon00 commented on #985
@trask So for that intention, it seems you would not need a default for the environment variable in the SDK, but rather you would set that default value in the agent if no override was provided?

[2020-09-24 08:40] pavolloffay commented on #173
from @iNikem

So there is a way how to create non-recording span. The `DefaultSpan` has invalid context with zero span ID. I don't like two things about this:
* two code paths for creating a span
* invalid context with zero IDs. I would prefer a valid non-sampled context.

In OpenTracing there was `sampling.priority=integer` tag that span builder could use for sampling decision. This way multiple

[2020-09-24 08:59] Oberon00 commented on #831
Because the meaning of a single array element currently is: After splitting the argument list, this was the only only argument.

E.g. when you have a value of `["myapp myarg"]` that would actually mean that the original commandline invocation when something like `$ myapp\ myarg` (note the escaped space).

[2020-09-24 10:46] anuraaga commented on #173
I guess we could implement a custom Sampler? It could do ParentOrElse for non-matched paths and ParentOnly for marched paths I think.

DefaultSpan is going to be renamed to something like PropagatorOnlySpan so it'll become less appropriate, or we need to otherwise chime in on the spec issue that we have a valid use case here.

[2020-09-24 12:26] arminru opened #997 "Reconsider `required` property for `process.*` semantic conventions"
Currently we define `process.pid` and "at least one of `process.executable.name`, `process.executable.path`, `process.command`, or `process.command_line`" as required, if _any_ resource attribute in the process namespace is present. I don't think this is a sensible requirement, since there are multiple concerns (or multiple features from a backend's perspective) mixed together in the process names

[2020-09-24 15:07] Oberon00 commented on #997
I think we should just put process.runtime into it's own resouce type (without changing the names)

[2020-09-24 15:45] anuraaga opened #999 "Make SpanContext optional"
Currently, all propagation is done using `Context`, both remote and in-process. This leaves the `SpanContext` as just a simple wrapper of the trace ID, span ID, flags, and state. It could make sense to remove `SpanContext` and inline into the `Span`.

When users come to tracing for the first time, I think they understand the concept of a span. And they notice that a span is supposed to have a trac

[2020-09-24 15:45] anuraaga commented on #999
/cc @Oberon00

[2020-09-24 15:48] Oberon00 commented on #999
We can even make it optional after ga, as I suppose all the SIGs have it already implemented.

[2020-09-24 15:52] anuraaga commented on #999
Well, Java Instrumentation is always happy to reduce wrappers due to bridging concerns so we'd be happy to rip it out ASAP if it's allowed :)

[2020-09-24 15:59] arminru commented on #963
@anuraaga

You're right, it could make sense to explicitly indicate a batching operation. Introducing an attribute
`messaging.scope: not set (assumes single message) | "batch"` or probably
`messaging.batched_operation: false (default if not set) | true`
could make sense, yes.

What do you mean by that?

Is that stated anywhere in the spec?

CLIENT/SERVER vs. PRODUCER/CONSUMER indicates whether it

[2020-09-24 16:15] Oberon00 commented on #864
I think #998 addresses the most important part of this issue, but not the actual issue in the title, which would be a "default" **trace** ID. For that we would need to change the sampler API to not accept but optionally return a trace ID, or pass a function that lazily generates the trace ID or something.

[2020-09-24 16:51] wilguo opened #1001 "Unclear OTEL_EXPORTER_OTLP_COMPRESSION values for environment variable support"
Hi everyone,

As per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md#opentelemetry-protocol-exporter

It says that `OTEL_EXPORTER_OTLP_COMPRESSION` environment variable should be supported, however I'm unclear as to what values it should take on. Could someone clarify? Thank you!

[2020-09-24 17:12] jan25 opened #1002 "Proposal: Have insecure mode as default in exporter"
Current [exporter spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md#configuration-options) mentions `insecure=false` as default. This means the users of a exporter SDK have either options:
* Supply certificate files for secure grpc/http connection
* Set `insecure=true` explicitly and work with insecure connection

This issue is to di

[2020-09-24 20:22] tsloughter commented on #949
I don't see how this can be done without having 2 entries in the context?

But I also don't see how it is confusing to users to have a remote extracted context, they shouldn't be touching it. Maybe that is the issue with Go's implementation?

In the Erlang impl we use a separate entry for the "external span context". The propagators extract the trace context, if it exists, to this entry and then i

[2020-09-24 21:47] tigrannajaryan commented on #1001
Only "gzip" and no compression are supported today.

[2020-09-24 22:30] wilguo commented on #1001
Thank you

[2020-09-24 23:23] aabmass commented on #1001
@tigrannajaryan the spec doesn't say specifically what `OTEL_EXPORTER_OTLP_COMPRESSION` should be for no compression. Should it be `no_compression`, or empty string, or un-set?

Also wondering why [GRPC `deflate`](https://github.com/grpc/grpc/blob/618a3f561d4a93f263cca23abad086ed8f4d5e86/src/core/lib/compression/compression.cc#L71-L72) is excluded. Is it not well supported across GRPC implementati

[2020-09-24 23:32] #949 closed

[2020-09-25 00:38] carlosalberto commented on #965
@tedsuo @arminru my impression is that we should close this issue, as the core has been implemented/updated - the remaining semantic conventions to be updated can be labeled as "good do have for GA", as they technically won't break the API ;)

[2020-09-25 00:42] carlosalberto commented on #965
Closed via #966

[2020-09-25 00:47] carlosalberto opened #1003 "Indicate which semantic conventions generate errors."
As part of [OTEP 136](https://github.com/open-telemetry/oteps/blob/master/text/trace/0136-error_flagging.md), and as a minor follow up to #966 we ought to

* Indicate which semantic conventions generate errors.

Additional context.
OTEP PR: open-telemetry/oteps#136

[2020-09-25 00:51] mwear opened #1004 "B3 consistent handling of debug flags and parent span id"
**What are you trying to achieve?**

Consistency in OTel around handling B3 debug flags and parent span id.

**Additional context.**

B3 context propagation brings some zipkin concepts that do not map cleanly onto OpenTelemetry, namely, the debug trace flags, and propagation of parent span id (in addition to the current span id). There are reasonable solutions to both of these issues, we just need

[2020-09-25 05:37] trask commented on #999
Big 👍 to reducing the number of different objects we need to bridge in Java Instrumentation before GA.

But even more, I totally agree with this:

I think inlining trace ID, span ID, flags, and state into Span would address this confusion nicely.

[2020-09-25 05:42] trask commented on #985
Yup, we don't even need the SDK to support `OTEL_EXPORTER` at all (while we get most of our env var support from the SDK, we implement this `OTEL_EXPORTER` behavior entirely in the Java agent currently).

We just wanted the env var spec'd so that we would have consistency with any other auto-instrumentation or language SDK where this env var also makes sense.

[2020-09-25 06:49] iNikem commented on #968
@Oberon00 what about attributes for e.g. Elasticsearch or Solr? Something very specific to some particular technology. Should we just propose/create semantic convention for such quite narrow area and submit to the spec repo as broader HTTP convention?

[2020-09-25 07:04] marcingrzejszczak opened #1007 "Continue a span (client/server Span sharing; concept supported by Zipkin)"
Following the discussion during the recent OpenTelemetry meeting I was supposed to file an issue about an option for a span to be continued. So that instead of always creating a new child span, we can actually continue with an exiting one.

[2020-09-25 07:39] iNikem opened #1008 "RecordException and Span.Status"
It remained unclear to me after #966 if `Span.RecordException` should or should not also result in setting Span.Status to ERROR? My question is not "should API method do both", but more "should Instrumentation Library set status to ERROR whenever they record exception or not?"

[2020-09-25 07:42] arminru opened #1009 "Update examples in HTTP semantic conventions"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md#http-client-server-example says:

#270 was resolved by #416 in the meantime.

[2020-09-25 07:44] iNikem commented on #1007
How does "continuing the span" differ from "not closing the span"?

[2020-09-25 07:46] Oberon00 commented on #1008
As recordException can also be used for handled exceptions, I don't think it should. Also, then you would need to set the status back to UNSET if you disagreed with the default behavior, which is something we want to avoid. I think setting the status should always be explicit.

CC @tedsuo

[2020-09-25 07:47] Oberon00 commented on #1007
Can you show an example of a case where you would like to "continue" a span and both not closing it or starting a child span of it (which, BTW, is also possible after ending it) do not work?

[2020-09-25 08:04] Oberon00 opened #1010 "Behavior of Span.End is unclear."
The behavior of Span.End could use some clarifications. For example, I think I heard from @tsloughter that in Erlang, ending a Span inactivates it on a Context there, which seems problematic, especially after Context is the only way to specify a parent span. Other points that are unclear are when a span needs to be ended, and what the relation to IsRecording is.

I created PR #1011 to clarify thes

[2020-09-25 08:36] Oberon00 commented on #985
As the specification is now, I believe SDKs themselves are required to support OTEL_EXPORTER (which I think makes sense, apart from the implicit default).

[2020-09-25 08:45] Oberon00 commented on #1008
That said, I think we can recommend that if you record an escaped exception (also setting exception.escaped=true) one should probably (manually) set the status to ERROR.

[2020-09-25 09:42] marcingrzejszczak commented on #1007
It's related to https://github.com/openzipkin/brave/tree/master/brave#sharing-span-ids-between-client-and-server and https://github.com/openzipkin/brave/tree/master/brave#extracting-a-propagated-context .

[2020-09-25 09:46] Oberon00 commented on #1007
This was already discussed, and it was decided not to support this, see https://github.com/open-telemetry/opentelemetry-specification/pull/367

[2020-09-25 09:49] #797 closed

[2020-09-25 10:17] carlosalberto commented on #1007
@marcingrzejszczak Besides what @Oberon00 mentioned, I think it makes more sense to add this in the Zipkin exporter (to properly support the merge-able `Span`s concept of Zipkin, that is). This also would need to be specified of course ;)

[2020-09-25 10:42] #680 closed

[2020-09-25 13:43] arminru commented on #965
Follow-up for the semantic conventions: #1003

[2020-09-25 14:33] jgals opened #1012 "Define metric semantic conventions for database operations"
**What are you trying to achieve?**
Defined metric semantic conventions for database operations.

**What did you expect to see?**
Database metric semantic convention documentation in markdown generated from YAML definitions as per #547.

**Additional context.**
These should be roughly analogous to the trace semantic conventions for database client calls [defined here](https://github.com/open-telem

[2020-09-25 14:36] tigrannajaryan commented on #1001
Spec only talks about compressions for otlp/http. It is an omissions that we don't define what is possible for grpc (I didn't know `deflate` supported. Let's make sure we have it in the spec.

[2020-09-25 14:40] jgals opened #1013 "Define metric semantic conventions for FaaS"
**What are you trying to achieve?**
Defined semantic conventions for function as a service (FaaS) metrics, often referred to as "serverless" metrics.

**What did you expect to see?**
FaaS metric semantic convention documentation in markdown generated from YAML definitions as per #547.

**Additional context.**
These should be roughly analogous to the trace semantic conventions for FaaS spans [defin

[2020-09-25 14:45] jgals opened #1014 "Define metric semantic conventions for messaging systems"
**What are you trying to achieve?**
Documented metric semantic conventions for various messaging systems.

**What did you expect to see?**
Metric semantic conventions for messaging documented in markdown generated from YAML definitions as per #547.

**Additional context.**
These should be roughly analogous to the trace semantic conventions for messaging [defined here](https://github.com/open-telem

[2020-09-25 14:47] #879 closed

[2020-09-25 14:50] jgals opened #1016 "Define metric semantic conventions for RPC"
**What are you trying to achieve?**
Documented metric semantic conventions for remote procedure calls (RPC).

**What did you expect to see?**
Metric semantic conventions for RPC documented in markdown generated from YAML definitions as per #547.

**Additional context.**
These should be roughly analogous to the trace semantic conventions for RPC [defined here](https://github.com/open-telemetry/open

[2020-09-25 14:57] tsloughter commented on #1010
So, yes, we don't have users use `Span.End` directly in Erlang/Elixir, similar to why Java uses `Scope` instead of requiring a user to explicitly call `End` and then manually change the active span to the previous active Scope's span.

Instead users use `ot_tracer:end_span(Tracer)` which ends the active Span in the current context.

This allows for `Tracer` to be responsible for Span Processors, i

[2020-09-25 15:14] andrewhsu commented on #929
from the issue triage meeting today with TC, closing this because of reasons stated in comment above

[2020-09-25 15:14] #929 closed

[2020-09-25 15:18] #856 closed

[2020-09-25 15:20] andrewhsu commented on #812
from the issue triage meeting today with TC, closing this because this is too late for GA

[2020-09-25 15:20] #812 closed

[2020-09-25 15:21] andrewhsu commented on #766
from the issue triage meeting today with TC, this can be kept for tracking for GA for just an editorial change only

[2020-09-25 15:25] andrewhsu commented on #653
from the issue triage meeting today with TC, allowed for GA for editorial change only

[2020-09-25 15:25] andrewhsu commented on #613
from the issue triage meeting today with TC, allowed for GA for editorial change only

[2020-09-25 15:26] andrewhsu commented on #562
from the issue triage meeting today with TC, allowed for GA for editorial change only

[2020-09-25 15:32] Oberon00 commented on #1008
I don't think so. A handled exception might be interesting because it may make the operation slower than it needs to be but is an unreachable cache, for example, an error for the parent operation? I think we should not hardcode this decision in recordException.

[2020-09-25 15:33] Oberon00 commented on #1008
I don't think so. We also do not set exception.escaped to true by default, even though it will be the most common use case for auto instrumentation (we don't even provide an overload to set it, see #784)

[2020-09-25 15:35] andrewhsu commented on #501
closing this as done because it is in the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md#specifying-resource-information-via-an-environment-variable

[2020-09-25 15:35] #501 closed

[2020-09-25 15:38] andrewhsu commented on #488
from the issue triage mtg today with TC, closing this issue because will be addressed with upcoming new design proposals

[2020-09-25 15:38] #488 closed

[2020-09-25 15:41] andrewhsu commented on #482
from the issue triage mtg today with TC, allowing changes related to this issue for GA if editorial changes only

[2020-09-25 15:44] andrewhsu commented on #478
from the issue triage mtg today with TC, allowing changes related to this issue for GA if editorial changes only

[2020-09-25 15:46] Oberon00 commented on #478
I think this was superseded by (merged) #905 which specifies that we *do* validate the tracestate.

[2020-09-25 15:47] andrewhsu commented on #414
from the issue triage mtg today with TC, allowing changes related to this issue for GA if editorial changes only

[2020-09-25 15:48] andrewhsu commented on #158
from the issue triage mtg today with TC, allowing changes related to this issue for GA if editorial changes only

[2020-09-25 15:48] andrewhsu commented on #114
from the issue triage mtg today with TC, allowing changes related to this issue for GA if editorial changes only

[2020-09-25 15:57] jkwatson commented on #1008
I think we're making the API hard to use correctly for the most common use-case for an end-user, which is simply to mark something as an error, with the associated exception. We should make the most common use-case easy for the end user, not complicated and hard to figure out.

[2020-09-25 15:58] andrewhsu commented on #970
from the issue triage mtg today with TC, marking this as P1 because we need to make a decision on this issue by end of day today @bogdandrutu

[2020-09-25 16:01] Oberon00 commented on #999
Note, this originated from https://github.com/open-telemetry/opentelemetry-specification/pull/969#issuecomment-698419786

[2020-09-25 16:01] andrewhsu commented on #1010
from the issue triage mtg today with TC, allowing changes related to this issue for GA if editorial changes only

[2020-09-25 16:02] andrewhsu commented on #1008
from the issue triage mtg today with TC, allowing changes related to this issue for GA if editorial changes only

[2020-09-25 16:05] andrewhsu commented on #1004
from the issue triage mtg today with TC, moving this to after ga. @mwear if you think this should be an editorial change before ga, please let us know.

[2020-09-25 16:08] tsloughter commented on #1010
I'd be interested in seeing how other languages allow users to end a span and return to the previously active span. I don't think I've seen any that requires the user do:

[code]

[2020-09-25 16:15] andrewhsu commented on #1002
from the issue triage mtg today with TC, setting this for required-for-ga to arrive at a decision by end of day today. if no additional comments, we will keep `insecure=false` by default. @open-telemetry/technical-committee

[2020-09-25 16:15] andrewhsu commented on #1001
from the issue triage mtg today with TC, allowing changes related to this issue for GA if editorial changes only

[2020-09-25 16:34] mwear commented on #1004
Thinking about this a little more. I don't think that we can propagate a parent span id with the spec in its current form, as there is not a parent span id reader on anything other than span data. If we decide that we are going to omit parent span id from B3 context propagation, then we can push this out, but there is the risk that there is not a way to reverse this decision after GA.

[2020-09-25 16:34] Oberon00 commented on #864
@andrewhsu @open-telemetry/technical-committee I think while the issue in the title is after-ga, the part of the issue where the spec does not say at all what should happen with an unsampled span is required-for-ga (or should at least be allowed-for-ga, not sure what the guidelines are here).

[2020-09-25 18:09] yurishkuro commented on #970
I've always been +1 to have SpanContext as interface. Do we have written explanation somewhere why that would be a bad thing?

[2020-09-25 18:15] yurishkuro commented on #1002
I think if we make insecure the default, we will open ourselves to a lot of criticism. Like the wifi routers that in the past used to ship with pwd=password - they stopped doing it these days. If I am not mistaken, gRPC is also secure by default, you have to opt-in for "insecure".

+1 to `insecure=false` by default (fail closed).

[2020-09-25 18:56] Oberon00 commented on #970
@yurishkuro See rejected OTEP open-telemetry/oteps#58

[2020-09-25 19:03] tsloughter commented on #1010
I guess what I'm suggesting is adding an `End` in "Tracer Context Utilities" that ends the active span and updates the context. But maybe only Erlang "needs" this?

[2020-09-25 20:32] yurishkuro commented on #970
Thanks for the link. From what I can see there, there were no convincing arguments why SpanContext as interface would be bad, aside from the ref-counting in C++ argument, which seemed to be resolved in that discussion.

[2020-09-25 20:44] carlosalberto commented on #970
I'm fine with un-sealing it too.

[2020-09-25 20:45] mwear commented on #1004
The python SIG had a lengthy discussion about propagating parent span id: https://github.com/open-telemetry/opentelemetry-python/issues/236 and ultimately decided not to propagate it.

[2020-09-25 20:59] bogdandrutu commented on #970
"Unsealing" is ok as long as the contract specifies:
* TraceID - w3c definition
* SpanID - w3c definition
* etc.

One of the reason we wanted it to be "sealed" was that we don't want to deal with any random length for traceid/spanid/flags etc. And it was one of the most important thing we agreed on during the initial merging requirements between OC and OT.

[2020-09-25 21:09] carlosalberto commented on #970
Sounds fair to me.

[2020-09-25 21:52] trask commented on #985
I'm not sure that SDKs should be required to support `OTEL_EXPORTER` due to the concern raised above:

cc: @jkwatson

[2020-09-25 21:56] jkwatson commented on #985
I think this is fine as an optional env var, and in java, it's fine just being supported in the agent.

[2020-09-25 22:02] bogdandrutu opened #1019 "Context interaction in different packages like trace/baggage is unclear"
PS: This is written as a last moment issue before GA, and may not be 100% cleared. But it raises a concern that we cannot GA without understanding and fixing it.

## What are you trying to achieve?

Simplify API, and consistency across packages. Issue https://github.com/open-telemetry/opentelemetry-specification/issues/455 was closed without fixing this problem.

## What did you expect to see?

Fe

[2020-09-25 22:15] tsloughter commented on #1019
Only the first two are about installing a Span in the Context.

I assumed the operations were removed from "tracer-operations" when they were added to the new "tracing-context-utilities", maybe it is just a mixup that they still exist in the "tracer-operations"?

If it is removed from "tracer-operations" then there is only 1 documented way to do it.

[2020-09-25 22:25] bogdandrutu commented on #1019
They are to install a Span into an "active/current Context", but we still lack a `ctx = WithSpan(Context, Span)` operation, that can be used by the `Propagator` to add the `Span` to a given `Context` instance.

That may be good, but was thinking that we can postpone this and think more, once we have APIs to interact with a `Context` instance, we can ask users to combine that with the `GetCurrentCo

[2020-09-25 22:31] tigrannajaryan commented on #1019
@bogdandrutu I advise you to add examples of how you would use the proposed API. Without examples it is difficult to fully understand the proposal. I can assume/imagine how it would be used, but my assumptions may be wrong.

Examples will help facilitate the discussion. Show a few use cases.

[2020-09-25 22:35] tsloughter commented on #1019
I don't think there should be a `WithSpan` used by propagators. The propagated trace context is for a remote span that shouldn't be the active span in a local Context. In Erlang we do:

[code]

So for injecting a different Context key is used (`?TRACER_CTX`) than for extracting (`?EXTERNAL_SPAN_CTX`), the extracted span is then used in the StartSpan operation to be a parent.

[2020-09-25 22:38] bogdandrutu commented on #1019
@tsloughter (I told you to not post more erlang code because I find bugs):
* Please read https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/context.md#create-a-key it is not recommended to expose the Key to the user directly.
* The use of two keys was removed in https://github.com/open-telemetry/opentelemetry-specification/pull/994, so only one key is a

[2020-09-25 22:47] bogdandrutu commented on #1019
Current Java API example (we still use `grpc.Context` there but that is in process of changing, so the CurrentContext is not present but it is based on the specs) based on the specs:

[code]

So based on the current API (defined by the specs), I can get the active Span in 3 ways:
[code]

[2020-09-25 22:55] tsloughter commented on #1019
@bogdandrutu the keys aren't exposed to the user, they are macros internal to the module only.

[2020-09-25 22:56] tsloughter commented on #1019
And it looks like 2 keys can still be used, it is just named `PropagatedSpan` now.

[2020-09-25 22:58] tigrannajaryan commented on #1019
@bogdandrutu if I read your proposal correctly you suggest to remove the first 2 ways and only allow the last one.

That looks like a reasonable, composable API to me.

I would still want to see API usage examples. In my mind there a few important use cases:

1. Creating a span from an incoming request.
2. Creating a span in a client instrumentation library in the current execution context (that p

[2020-09-25 23:00] bogdandrutu commented on #1019
@tsloughter:
* For the keys not being exposed: how can someone implement a propagator outside that module? We need to allow that, so you either expose the keys or helper methods as proposed by me.
* For the second key: the PropagationSpan is a proper Span so no need to have a second key for that, same key can be used. Also that removes potential bugs when the two values stored go out of sync.

[2020-09-25 23:10] tsloughter commented on #1019
The keys don't have to be used directly by the user to implement a propagator (at least in this implementation). The keys are used by `otel_ctx:http_extractor` so the user only has to provide a module that implements `extract`. This reminds me to add that function :), right now w3c and b3 duplicate each others code because I hadn't decided on exposing the keys through functions or doing this funct

[2020-09-25 23:15] bogdandrutu commented on #1019
@tsloughter completely agree with your assessment regarding merging things. I was keep saying this in a lot of meetings that I am worried about.

Regarding `otel_ctx:http_extractor` (if I understand correctly is a helper function for http requests) that may work for http request, but you have to do something for grpc, thrift, kafka, etc. So unless you provide helpers for all the possible framework

[2020-09-25 23:19] tsloughter commented on #1019
Right, this is just for the "Text" propagator -- hasn't been renamed since it was renamed in the spec. There is Text and Binary, right?

[2020-09-25 23:39] bogdandrutu commented on #1019
@tigrannajaryan I will try to shape these examples here (mostly copying from Java codebase):

Creating a span in a client instrumentation library in the current execution context (that potentially may be from an incoming request or may already have a parent span in the current context).
Creating a span in a server instrumentation library from an incoming request, then creating a child span in appl

[2020-09-26 00:31] tigrannajaryan commented on #1019
@bogdandrutu do you think we need to postpone the trace spec freeze until we resolve this? We may need a bit time to do that.

[2020-09-26 01:51] jkwatson commented on #1019
If I read this correctly, there will only be one method left on the Tracer interface (in Java, at least), which is to create a new `spanBuilder`. As an API user (not author/maintainer), I think I'm going to wonder if the Tracer is really pulling any weight any more, if all it does is let me create/start a new span, and doesn't actually provide any value around "tracing" beyond being a span factory

[2020-09-26 02:58] #970 closed

[2020-09-26 03:02] anuraaga commented on #1002
Should we change the default endpoint for OTLP from localhost to unspecified? My main argument for insecure = true as default is it matches that default. Very very few people use TLS with localhost even in production I think.

[2020-09-26 06:02] toumorokoshi commented on #948
Attributes are defined as such in [the API](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/common/common.md#attributes)

There's also #376 which is proposing actually extending the types of things that can be added as a span value (maps / arrays).

I think in general this speaks to their usage as well: span attributes are generally metadata to provide more

[2020-09-26 18:55] tsloughter commented on #1019
@tigrannajaryan these are similar to (more complementary to, I guess) the examples I'm hoping to get for languages, https://docs.google.com/document/d/1kEW71SYInRB44elJl116vrzYL3_HXr133JomMokZ-PI/edit#

Maybe there should be a checkbox per example in the GA spec table? They are going to be useful not just for discussing and finalizing the API but for users as documentation as well.

[2020-09-27 08:16] iNikem commented on #1007
@Oberon00 @carlosalberto do we want to keep this ticket open? If we have already discussed this and decided against it, why not close it?

[2020-09-27 08:26] Oberon00 commented on #1007
@marcingrzejszczak Please re-open if there is anything else to discuss / any other argument or use case.

[2020-09-27 08:31] iNikem commented on #478
#905 says that we MUST validate modification operations on `tracestate`. I am not sure if we should validate `tracestate` when reading that from the wire. But #905 surely sounds like it expects that :)

[2020-09-27 10:51] anuraaga commented on #1019
I have been brainstorming integrating trace context methods into `Span` itself

[code]

I think this could be a simpler Java API where static util methods on an unrelated class are not so idiomatic - when working with a span, use the span. Or the context. But it's not common to have a third # party do things I think. Does the spec preclude merging pieces together (Span and TraceContextUtils) in th

[2020-09-27 12:32] iNikem commented on #1008
I think this is very important distinction and it seems that different people have very different opinions about that.

#966 says, and I agree, that default status should be `Unset`. The `Error` status should be set by auto-instrumentation only if semantic convention dictates that. E.g. HTTP semantic convention will dictate that response statuses 500+ should set `Error` status. The idea of that, a

[2020-09-27 19:22] jkwatson commented on #1008
When we had 16 statuses, it definitely didn't make sense to set one of those statuses when recording an exception. We have a much simpler set of statuses now, so it becomes (IMO) much more intuitive to do it in one step, rather than 2.

[2020-09-27 20:07] bogdandrutu commented on #1019
@anuraaga I don't think you can implement the `addToContext` unless you expose publicly the context key which is against the spec. So that has to be static as well.

[2020-09-27 20:36] Oberon00 commented on #1008
I think you will need to set an error status maybe 75% of the time. And nothing prevents Java from providing a helper like
[code]

I think this is a very common pattern, but having recordException set an error implicitly by default is certainly not what we want. I suggest providing a convenience method like the above or some recordFatalException, recordUnhandledException, etc., that set escaped=tr

[2020-09-28 01:43] anuraaga commented on #1019
Ah for both of these non-static methods, I'm thinking of using default methods. If the key is package private, I think it'll not have that problem.

But this is just what I wanted to confirm :) Sounds good then.

[2020-09-28 07:48] Oberon00 opened #1024 "Sampler.ShouldSample parent parameter should be Context"
This is a tracking issue for PR #881: `Sampler.ShouldSample` should be changed to receive the full parent `Context` instead of the parent `SpanContext`, as there is no reason to only provide the SpanContext, and it is one of the few remaining places in the spec where we deal with a bare SpanContext.

[2020-09-28 07:50] Oberon00 commented on #1024
Since spec is frozen, this probably has to be after-ga (even though I had originally tagged the PR required-for-ga), except if we say it is related enough to #1019.

[2020-09-28 08:26] marcingrzejszczak commented on #1007
I understand that it was discussed, however Sleuth & Brave users are a substantial number of users and I understand that we can come back to the discussion table to reason about this yet again. As I've seen here #367 the voice of Zipkin maintainers seemed to be completely ignored.

This is an important point in deciding on whether Sleuth should implement OTel. If the argument there is that "it has

[2020-09-28 08:29] Oberon00 commented on #1007
Can you point to a comment by a Zipkin maintainer? Or do you mean that we did not consult with them?

[2020-09-28 08:34] Oberon00 commented on #1004
This seems to be closely related to #1007 (and #359, #367)

[2020-09-28 08:36] marcingrzejszczak opened #1025 "Allow clearing the span from scope"
In Spring Cloud Sleuth we have the following situation with scheduled methods. We instrument `ExecutorService`s that schedule tasks to be executed in separate threads. At the point of instrumenting we have no idea what that task really is (e.g. it may end up to be a `@Scheduled` annotated method). Currently, with Brave, users have the option to define a property to pick which `@Scheduled` annotate

[2020-09-28 08:37] marcingrzejszczak commented on #1007
![image](https://user-images.githubusercontent.com/3297437/94409565-9c996780-0176-11eb-97e5-ff8e822f69ef.png)

[2020-09-28 08:39] Oberon00 commented on #1007
^ This is https://github.com/open-telemetry/opentelemetry-specification/pull/367#issuecomment-580957809 by @adriancole.

[2020-09-28 08:46] Oberon00 commented on #1025
Hi, this is not a spec issue (or if it is, it should be handled in #1020). In Java, the way to clear a span is to pass a non-null invalid span. That should work something like `withSpan(DefaultSpan.create(SpanContext.getInvalid()))`.

[2020-09-28 08:50] anuraaga commented on #1007
Just about the technical aspect, I'm not sure how to implement this in the exporter, at least in a complete way. I can imagine putting the remote span ID in trace state and replacing in the exporter, but any logic in the app, most worryingly logs injection, will either not work or also have to be aware of this conversion. This is similar to #896 - when it comes to IDs, I don't think there is any c

[2020-09-28 08:50] marcingrzejszczak commented on #1025
Why isn't is a spec issue? I want to be able to clear the scope on the API level.

Maybe that's worth documenting in the Javadoc?

[2020-09-28 08:56] anuraaga commented on #1025
@marcingrzejszczak As far as I know, not all languages have the concept of a `Scope` so it's not considered a spec issue. Very happy to improve the documentation and/or add helpers for this, opened https://github.com/open-telemetry/opentelemetry-java/issues/1717 to track for Java.

[2020-09-28 09:01] Oberon00 commented on #1025
Let's see, there are actually two bits required from the spec:

1. There needs to be a way to set the span in a context. This is already being addressed by #1020
2. There needs to be a way to create an invalid span. The spec already has the concept of a "Propagated Span", and #969 clarified that there must also be an API to create a SpanContext that can be feed to that propagated span (we don't sp

[2020-09-28 09:02] marcingrzejszczak commented on #1025
Oh, I didn't know that not everyone has a concept of a scope. If that's the case let's continue this discussion here https://github.com/open-telemetry/opentelemetry-java/issues/1717

[2020-09-28 09:02] #1025 closed

[2020-09-28 13:25] tsloughter commented on #1019
I made an example/test propagator to hopefully better show how we are doing it with anonymous functions in anonymous functions: https://github.com/open-telemetry/opentelemetry-erlang/blob/0188ee39790f91df8a3a106beea9cf2fddd5af5e/apps/opentelemetry_api/test/custom_propagator.erl#L41

For the injector the context key is passed along with a function that will return the content to include in the "tex

[2020-09-28 14:28] carlosalberto commented on #1019
+1 on this comment from @jkwatson - I think I mentioned it in the past, but in OpenTracing we still had `Tracer.activeSpan()` which was **clearly** documented as a shortcut to `ScopeManager.active()` (which had a similar role to `Context`).

@bogdandrutu I see the reason to have less methods, that indeed may create confusion, but I'd be up for:

1) `TracingContextUtils.getSpan(Context ctx)` - the

[2020-09-28 14:51] tsloughter commented on #1019
+1 to this +1.

I think this is also a case of implementation bleeding into spec. "Utils" is used to simply describe functions that are not dependent to the stateful "Tracer", right?

[2020-09-28 15:24] mwear commented on #1004
The issues point at the reason for why zipkin supports propagating a parent span id. The tl;dr is that Zipkin allows the client and server spans of a request to share the same span id. OpenTelemetry explicitly requires each span to have a unique id, so this is not functionality that we need to support. As a result, we can probably safely ignore propagating parent span id.

The second point is forc

[2020-09-28 15:43] jkwatson commented on #1019
That's an interesting interpretation. So, in Java, for example, you think it would be fine to have these methods just be static methods on the Tracer class. That sounds much better to me than what we have at the moment. I think that could use some clarification, if generally agreed upon.

[2020-09-28 15:57] tigrannajaryan commented on #1002
What do we gain by this? Now to send to localhost you need to specify 2 end variables instead of one (endpoint=localhost and insecure=true).

[2020-09-28 16:15] tedsuo opened #1029 "Remove getters for span status"
**What are you trying to achieve?**
Remove the following methods from the Span interface:
* GetCanonicalCode
* GetDescription

**Additional context.**
 We do not want any getters on spans, as it leads to inconsistent behavior which we do not want users to rely upon. Due to overhead concerns, we do not want the public API to force the underlying implementation to retain any state. Examples of imple

[2020-09-28 17:02] Oberon00 commented on #1029
Note that while there are getters for attributes of status, there is no getter on the span for status itself (making them less useful but also less dangerous) -- I'm on board for removing them.

[2020-09-28 17:26] tsloughter commented on #1019
Regarding the context propagation and not exposing keys:

Currently propagators are spec'ed and in most languages written as the individual propagator implementations (like b3, w3c tracecontext and w3c baggage) must handle Context. I'm arguing that propagators are per-concern (tracing, baggage, etc) and this is separate from the propagator implementation.

Meaning a Propagator still takes a Contex

[2020-09-28 19:39] jkwatson opened #1031 "new SamplingResult spec makes it more expensive/difficult for Samplers that don't want to modify TraceState"
**What are you trying to achieve?**

Recently merged PR #988 added a field to the SamplingResult API for the modified TraceState. Most samplers (and, indeed, all the built-in samplers) do not modify the TraceState, and hence could previously return one of several constant `SamplingResult`s in almost all cases. Now, every response needs to include the passed in parent TraceState if it doesn't want

[2020-09-28 19:51] jmacd commented on #1019
@bogdandrutu I noticed you wrote "THIS IS NOT IN THE SPECS NOW" twice in

https://github.com/open-telemetry/opentelemetry-specification/issues/1019#issuecomment-699196726

though I would point out that these APIs to set and get the current span exist  in the OTel-Go library and they feel natural. I support this aspect of your proposal.

I believe this idea has been previously referred to as the id

[2020-09-28 19:54] bogdandrutu commented on #1029
Remove the following methods from the Span interface:
GetCanonicalCode
GetDescription

Already done, these are not on the Span interface. Propose closing this issue as working as intended, no getters on the Span interface.

Please open a different issue if this is about getters on the Status object.

[2020-09-28 19:54] #1029 closed

[2020-09-28 20:01] bogdandrutu commented on #1024
The only problem with this is if we want to extend in the future to support delayed calls to Sampler because that requires holding a reference to the parent Context. But that itself is a new feature which requires more changes, so because we do not intend to support that I am fine with having this now

[2020-09-28 20:05] tigrannajaryan commented on #1002
In maintainers meeting today there has been a discussion to allow specifying the schema in the endpoint, essentially making it a URL. In that case we could specify "http://localhost:55680" as the default value for OTEL_EXPORTER_OTLP_ENDPOINT and it would enable insecure mode because of "http" schema.

However, there is no standard schema values for grpc (I can't see one in https://en.wikipedia.org

[2020-09-29 07:25] anuraaga opened #1034 "Guidance for filling (or consider removing?) service.instance.id"
Resource defines `service.instance.id` as a unique ID among horizontally scaled services

https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/resource/semantic_conventions#service

But we have many similar IDs in other places
`host.id`
`k8s.pod.name` or `uid`
`container.id`
`faas.instance`

Should one of these be copied into `service.instance.id` when it's avail

[2020-09-29 07:52] Oberon00 commented on #1034
A host can host multiple services. A POD might host multiple (related) services. A container might host multiple services (even though that's a unusual). I can't think of a scenario wher FaaS would have more than one service instance.

I agree though that *most of the time*, except for host, everything should map 1:1 to service.instance.id, so that would be reasonable choices.

However, since only

[2020-09-29 08:11] anuraaga commented on #1034
Hmm - in that case should we consider removing the recommendation to "generate a random Version 1 or Version 4 RFC 4122 UUID"? I don't think it can ever be possible for the UUID to be the same over restarts. I guess a user needs to set it appropriately in that case.

[2020-09-29 08:15] Oberon00 commented on #1034
Spec says:

And also later:

It would be cool if the spec could also write the "nicknames" for these versions, e.g. V 5 requires a name and namespace as input, e.g. Python's implementation has this:

[2020-09-29 08:21] Oberon00 commented on #1031
While that may be a possible implementation, I think the spec should be written in a way that avoids going into so much detail. E.g. some languages may prefer something like

[code]

as the type for the tracestate in the result instead of returning one. Or in C# you might pass the tracestate as an `ref` parameter so it can be reassigned but if it is not reassigned it implicitly stays the same.

Ag

[2020-09-29 14:21] jgals opened #1035 "Define semantic conventions for timing metrics"
**What are you trying to achieve?**
Documented semantic conventions for any generic timing measurement (e.g. latency, response time, throughput) along with labels that allow faceting by e.g. error.

**What did you expect to see?**
Semantic conventions for timing metrics documented in markdown generated from YAML definitions as per #547.

**Additional context.**
These should be roughly analogous to

[2020-09-29 14:26] tsloughter commented on #1019
Baggage should remain separate, it could be utilized even without traces but just to propagate some baggage or use it with metrics.

[2020-09-29 15:01] tsloughter commented on #1019
@jmacd also, apparently a separate context key isn't supposed to be used for remote extracted spans anymore? This is what Bogdan was saying in this issue. Is Go still using the separate key? Erlang is. Go is also not OOP so wondering if "PropagatedSpan" doesn't work well in it either.

[2020-09-29 15:12] tedsuo commented on #1029
@bogdandrutu are you sure? They are listed right here:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#getcanonicalcode
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#getdescription

[2020-09-29 15:13] arminru commented on #1031
cc @Kanwaldeep @paulosman

[2020-09-29 15:22] MrAlias commented on #1004
This is what the Go implementation does:

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/71b6d7fc42c235ea005fde85c23fb84df36d3e60/propagators/b3/b3_propagator.go#L337-L338

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/71b6d7fc42c235ea005fde85c23fb84df36d3e60/propagators/b3/b3_propagator.go#L211-L219

I'm not sure we could say we implement the B3 specification if

[2020-09-29 15:45] andrewhsu commented on #1019
from the spec sig mtg today, will assess prototypes by next spec sig in order to move on a decision

[2020-09-29 15:57] andrewhsu commented on #999
from the spec sig mtg today, discussed this issue and identified that we need a decision on this issue if it makes a change to the trace api so bumping priority. need prototypes by next sig meeting to arrive at decision.

[2020-09-29 16:04] arminru commented on #1029
@bogdandrutu @tedsuo I still think it's unclean that we define getters for these two fields in the API but don't even define a `GetStatus` on `Span` to get the `Status` object on which these would be called. I'd be in favor of removing it from the GA version to clean this inconsistency and if there is any need for this, we can always add it back later. If we add it back (or keep it), however, ther

[2020-09-29 16:28] arminru opened #1037 "Remove getters for span status fields from the API"
**What are you trying to achieve?**
Remove the following methods from the [Span Status interface](https://github.com/open-telemetry/opentelemetry-specification/blob/dc5b511e5f664e8d98cd317ceceb593cfbbcc14e/specification/trace/api.md#status):
* [GetCanonicalCode](https://github.com/open-telemetry/opentelemetry-specification/blob/dc5b511e5f664e8d98cd317ceceb593cfbbcc14e/specification/trace/api.md#ge

[2020-09-29 16:34] Oberon00 commented on #1037
Your argument is invalid 😉 There are no getters on the span for that. Please clean up the issue description, quite a few arguments in it do not apply to getters on status as opposed to span.

[2020-09-29 17:24] jkwatson commented on #1031
I am very much in favor of the spec being changed to specify the capability of allowing Samplers to modify TraceState, and leave the precise technical details up to the various language implementations.

[2020-09-29 18:47] mwear commented on #1004
Based on the feedback here and from the spec SIG we should:

* Omit parent span id when propagating B3.
* Preserve and propagate the debug flag as received. Internally, convert debug to a sampled trace flag so that we record the related spans.

I'll update the spec the reflect these decisions.

[2020-09-29 20:19] #1001 closed

[2020-09-29 20:23] #607 closed

[2020-09-29 20:23] #626 closed

[2020-09-29 21:06] jrcamp commented on #1002
One way to configure grpc and TLS with scheme would be to use something like `grpc+tls://localhost`. Not sure how standard it is but you see it in the wild with git like `git+ssh://...` or  (from the wiki page linked above) `svn[+ssh]://<logindetails>@<repository><:port>/<modulepath>`

The insecure option could also be passed: `grpc+tls://localhost?insecure=true`

[2020-09-29 23:03] tsloughter commented on #586
Saw this when looking at #924 and just wanted to mention another option that a number of languages might be able to provide.

It would be an interface not requiring a name but that still sets the right name when actually running. Java I don't think could do this and not sure about Go, I'd be interested to know?

This would then solve the user issue without having to introduce any new concepts.

In

[2020-09-29 23:49] tigrannajaryan commented on #1002
@jrcamp we would be essentially inventing a scheme for grpc. I think it is beyond Otel scope and if in the future grpc decides to register an official scheme according to rfc3986 we may have a problem because it may not match our invention. I think it is fine for protocol authors to decide (and officially register if desired) their scheme, but we are not the grpc author and I think we should refra

[2020-09-30 01:56] MrAlias opened #1040 "Incomplete sentence in OK status code description"
The Span status code `Ok` in the [`StatusCodeCanonical` section](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#statuscanonicalcode) of the trace API
has a discription with [a partial sentence](https://github.com/open-telemetry/opentelemetry-specification/pull/966/files#diff-67dcf7b0870e92a2e22456f9e9f52ca9R596)

Possibly "... or contains no er

[2020-09-30 02:13] HaloFour opened #1041 "Notify SpanProcessor when Event added to Span"
**What are you trying to achieve?**

I am using a logging span processor to write the completion of spans to log files.  I also add events to indicate exceptions being thrown or other notable occurrences.  For a logging span processor I think it would make more sense to be able to emit a log line immediately when the event is added to the span vs. waiting until the span is ended and then either em

[2020-09-30 04:59] jmacd commented on #1002
I _like_ this idea.

I agree.

Something like `otlp://<...>` for insecure and `otlps://<...>` for secure might work, but this was [supposed to be decided days ago](https://github.com/open-telemetry/opentelemetry-specification/issues/1002#issuecomment-699019844). This can be improved after GA using a new environment variable for the new scheme, such as `OTEL_EXPORTER_OTLP_URL`, recommend closing.

[2020-09-30 08:37] anuraaga commented on #1034
I was thinking a bit more on this - @Oberon00 just wondering, how would a backend use this value with the current definition? Isn't it a bit too ambiguous? If the value is always a useful, persistent identifier for the instance among a group of them, that's useful, but if we also allow a fallback to a random UUID V1 / V5 then isn't the attribute too unreliable to do anything meaningful?

[2020-09-30 08:44] Oberon00 commented on #1034
I don't think the current definition is suitable for using it much generically. It probably requires user-side knowledge to interpret. Still, grouping by instance ID groups at least groups all the spans by one running OpenTelemetry SDK instance together.

[2020-09-30 22:54] eddynaka opened #1044 "should StatusCanonicalCode be applied for rpc?"
**What are you trying to achieve?**

After the merge of this PR: https://github.com/open-telemetry/opentelemetry-specification/pull/966, we can see that the `StatusCanonicalCode` got changed to `Error`, `Unset`, and `Ok`.

But, if we see the rpc status: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/rpc.md#status, they kept the sa

[2020-09-30 22:58] cijothomas commented on #1044
@tedsuo

[2020-10-01 02:32] anuraaga commented on #1004
Sorry for the late comment - just curious why does "OpenTelemetry explicitly requires each span to have a unique id"? There doesn't seem to be anything in the API, propagation, exporter concepts where this wouldn't work and could be left up to backends. Is there a reason for explicitly disallowing it?

[2020-10-01 05:35] bryannaegele commented on #376
Given map values and nested values are supported at the OTLP protocol level, should we treat the current spec of `MUST` for only primitives and homogeneous lists to be the base requirement and potentially add a `MAY` for maps and nested values? The expanded types have been working well at a trace level, so strictly implementing the spec would require us to add validations and restrict inputs, whic

[2020-10-01 08:05] arminru commented on #1044
Good catch, this needs to be updated. Thanks @eddynaka!

[2020-10-01 08:24] zeitlinger commented on #586
Hadn't thought about this option - I like it.

what about https://docs.oracle.com/javase/9/docs/api/java/lang/Class.html#getModule-- ?

This would mean the current java class would  have to be passed to the factory method (similar to slf4j) - and with some [kotlin magic](https://github.com/MicroUtils/kotlin-logging#define-the-logger-without-explicitly-specifiying-the-class-name) even this is not n

[2020-10-01 12:57] tsloughter commented on #586
Oh yea, loggers are the place to look. I would bet most of those in any language can at the very least log the "module" that the log call is made in which can then be converted to the name of the "package" (assuming the same method used by logging to get a module isn't available to get the package) when making a span.

[2020-10-01 16:56] jmacd opened #1046 "Metrics: Make duplicate instrument registration invalid"
**What are you trying to achieve?**

The OpenCensus Metric API made statements about when a duplicately-named instrument could be registered. This needs to be reconsidered in today's OTel API and SDK specification. Since we have added the concept of Named Meters, I believe we can remove any treatment of duplicate registration and make duplicate registration invalid behavior.

See this section in t

[2020-10-01 17:03] carlosalberto opened #1047 "Revert #1043 (Third Party Propagators location)"
We had a [previous issue](https://github.com/open-telemetry/opentelemetry-specification/issues/637)  (and a fair amount of time spent discussing it - taking a pair of weeks) that ended up in the [decision](https://github.com/open-telemetry/opentelemetry-specification/pull/735) (with the help of a the language maintainers) to NOT maintain third party propagators as part of OpenTelemetry.

#1043 is

[2020-10-01 17:12] SergeyKanzhelev commented on #1047
I read the issue and PR and I didn't get an impression there is a controversy. Perhaps it was discussed on the meeting and not reflected on the issue. Can you summarize the controversy here? How the "encouraged" language is different from "can"?

[2020-10-01 17:25] carlosalberto commented on #1047
@SergeyKanzhelev This was an **intermediate** decision (as I said, this decision took weeks and weeks). Yes, it was definitely discussed one more time yet after and that's why we ended up changing that initial agreement that @mtwo mentioned (the discussion/changes can show that).

The controversy is that OTel maintainers do not want to maintain third party propagators and this resolution took a li

[2020-10-01 17:32] SergeyKanzhelev commented on #1047
I share your worries. I said on PR it's uncontroversial and merged as the PR didn't change anything semantically - encourage language changed to can.

If the decisions would be to evict those from SDK, the change would be with the same reasoning I added mention that propagators needs to be self contained so people can use it with SDK without the need to import entire vendor's set of packages like

[2020-10-01 17:34] carlosalberto commented on #1047
@SergeyKanzhelev Let's definitely discuss this next week. Meanwhile, I will keep this issue open.

[2020-10-01 17:38] yzhuge commented on #982
I suggest that the exponential message be extended to support the “log linear” format, which basically allows an exponential bucket to be split into equal width linear sub-buckets. The log linear format is used by HdrHistogram and Circlhist. The Circlhist paper https://arxiv.org/pdf/2001.06561.pdf has detailed description of it.

The change on exponential format is very simple. From https://github

[2020-10-01 17:42] SergeyKanzhelev commented on #1047
thinking about it - maybe maintainers meeting would be even more appropriate for this. Understanding the balance between what maintainers willing to support and how easy it is for end users to consume.

[2020-10-01 17:50] tigrannajaryan commented on #1002
If I don't hear any new ideas by tomorrow I am going to close the issue. New suggestions for URI/schema based behavior can be proposed in a separate issue.

[2020-10-01 17:56] carlosalberto commented on #1047
SGTM

[2020-10-01 18:20] cwildman commented on #1014
I'll take this PR

[2020-10-01 19:30] justinfoote commented on #1012
I'll take this one.

[2020-10-01 19:37] jkwatson commented on #1046
So, in the Java implementation at the moment, if you ask for the same instrument a second time, we just return the same instance, rather than "rejecting" it. Would that be an acceptable implementation decision?

[2020-10-01 19:47] kenfinnigan commented on #1046
+1 @jkwatson, this is the behavior of Micrometer as well.

It's a convenient approach to removing the need to retain instances at various places, while also preventing duplicate registration.

[2020-10-01 20:00] jmacd commented on #1046
Question: @jkwatson under your scheme, are two descriptors with everything matching except with different descriptions the same or not?

Question: @kenfinnigan I'm trying to understand how this can happen. Aren't the "various places" different instrumentation libraries? I can imagine surprising results if two independent pieces of code get the same metric instrument and start using it, unaware of

[2020-10-01 20:08] kenfinnigan commented on #1046
@jmacd By "various places" I meant both framework code, or application code across different classes, etc.

It's very convenient to not hold onto an instance of a Metric and call the provider every time you need to access it.

As long as the name and tags/labels match, the existing metric is returned. If the name matches an existing metric, but the tags/labels don't, that would be a registration e

[2020-10-01 21:19] jkwatson commented on #1046
The registration is done by the lower-cased `name` and nothing else. If you ask for another instrument with the same name, but a different identity (name, description, type), then you do get an exception from the SDK.  (`type` here is counter, valuerecorder, etc plus the type of values [double/long]).

[2020-10-01 22:05] lpar opened #1049 "Timestamp is specified as nanoseconds, but examples are in milliseconds"
Noticed a small inconsistency. The draft log data model in `/specification/logs/data-model.md` says that the timestamp field is:

However, the examples in the document seem to show values which are milliseconds since Unix epoch. This probably crept in during #85.

[2020-10-02 00:38] yzhuge commented on #982
Looking at https://github.com/open-telemetry/opentelemetry-specification/issues/919 again, it appears that DDSketch has several value to bucket mapping methods. The canonical one uses standard log algorithm, the others use approximation, for lower cpu cost. The various mapping methods can be found at https://github.com/DataDog/sketches-java/tree/master/src/main/java/com/datadoghq/sketch/ddsketch/m

[2020-10-02 04:48] jmacd commented on #1046
Yes, this is how the OTel-Go code works, for example, but I realize we have to include the units in this "identity". Should we also specify the behavior when multiple descriptions are provided?

I assume you mean to specify this behavior only for synchronous instruments (Counter, UpDownCounter, ValueRecorder). Would you agree that any duplicate Observer instrument yields a registration error?

It'

[2020-10-02 05:10] jmacd commented on #1046
I wonder if we need to discuss the concurrency expectations around this kind of access. It's one thing to have a registry that has to be consulted once per instrument constructor when code is first initialized--for this I would not worry about a simple mutex. If this registry is going to be read every time an instrument is used, I would not expect a simple mutex to be good enough. We have not stat

[2020-10-02 14:12] tigrannajaryan commented on #1002
Since I haven't heard new thoughts I am closing this as "won't do".

[2020-10-02 14:12] #1002 closed

[2020-10-02 15:38] andrewhsu commented on #1046
from the issue triage mtg today, marking initially as required for ga, @jmacd if you think this needs adjustment, feel free

[2020-10-02 15:39] andrewhsu commented on #1046
initially assigning to @jmacd but feel free to find more suitable if needed

[2020-10-02 15:43] andrewhsu commented on #1037
from the issue triage mtg today, marking as required for ga to come to an agreement of whether we need this change or not. if so, needs to get implemented.

if consensus cannot be reached by next week, desire is to leave the spec the way it is.

assigning to @arminru to drive

[2020-10-02 15:49] tsloughter commented on #1007
Doesn't this require passing the parent id along with the span id when propagating? This isn't supposed by the W3C TraceContext, right? I'd rather not have to support a feature that only exists in B3 headers. Has this feature been discussed in the TraceContext SIG as well and for some reason decided against?

[2020-10-02 15:50] jgals commented on #1013
Hey @jmacd, can we add @kolanos to the project so he can be assigned to this issue? I believe he's working on a PR.

[2020-10-02 16:41] Oberon00 commented on #1013
@kolanos just needs to comment on this issue, then he can be assigned.

[2020-10-02 18:19] jkwatson commented on #1046
No, it behaves the same, either way. Why would it be different for Observers?

Item #2 in the list here:  https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#instrument-naming-requirements

[2020-10-02 18:26] jmacd commented on #1046
Because there's a callback -- when you register an instrument the second time, are we going to require that the callback is identical? (this is perhaps tricky to define)

If not, I worry that you'll allow mulitple callbacks to be used which will lead to multiple measurements per observer per interval, but the API states that each observer instrument may produce at most one value per label set. I c

[2020-10-02 18:31] kenfinnigan commented on #1046
Couldn't it be the combination of "name" and "labels" that defines a registration, even for Observers?

[2020-10-02 18:33] jmacd commented on #1046
When constructing an observer, there's a side effect: you're supposed to register a callback. There's no "use" in holding the instrument, so the fact that the same instance is returned doesn't matter. Do we overwrite the callback or do we return an error? I think those are the only options, and I prefer the error case.

[2020-10-02 18:37] jkwatson commented on #1046
In Java, currently, when you have a handle to an AsynchronousInstrument, you can `set` the callback on it. If there's one there already, we replace it.

[2020-10-02 19:23] jkwatson opened #1050 "Baggage specification is not in line with the W3C specification; propagator mapping is not defined"
**What are you trying to achieve?**
I'm starting to work on a W3C Baggage Propagator, and I'm finding that the mapping from W3C baggage headers it not specified for the OpenTelemetry Baggage. In particular, the W3C spec supports metadata associated with each key/value pair, and the OTel spec doesn't not specify any metadata.

What did you expect to see?

A specification of how to map W3C baggage h

[2020-10-02 20:16] jkwatson opened #1051 "The Baggage API is not consistent with other APIs"
**What are you trying to achieve?**
Implement the Baggage API in such a way that it's consistent with the other OTel APIs

What did you expect to see?
I expected the Baggage to be a thing that could be extracted, wholesale out of the Context, manipulated via an extra-Context API, then put back into the Context (if needed). Instead, the API requires all key/value interactions with the Baggage to be

[2020-10-02 22:57] mwear commented on #1004
I should clarify, that I believe the spec indicates a spans should have unique ids within a given trace.

The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span) mentions that a span has:

I interpret this to mean if two spans share a trace id, then they must have separate span ids. It's possible I'm reading into this too deeply. Althou

[2020-10-02 23:03] adriancole commented on #1007
"only exists in B3 headers" represents the bulk of traced traffic :)

[2020-10-02 23:20] adriancole commented on #1007
Incidentally, it is system specific the impact of not propagating the parent ID when sharing a span. However, it is best experience to do it https://github.com/openzipkin/b3-propagation/blob/master/README.md#why-is-parentspanid-propagated

I think this issue arose because @bogdandrutu and @marcingrzejszczak are trying to change sleuth so that it can seamlessly use open telemetry instead of brave.

[2020-10-03 01:28] anuraaga commented on #1007
I think this is the sort of information that can go in `TraceState` for w3c, backend-specific propgated state. So it should work ok for b3 and w3c but not others. I think it's safe to say Zipkin users will be using one of these two so I wouldn't worry about it from a propagation perspective.

[2020-10-03 01:41] anuraaga commented on #1007
Going to comment on this from the other issue here to prevent two threads for what I think is the same topic.

https://github.com/open-telemetry/opentelemetry-specification/issues/1004#issuecomment-702991505

Yeah - we definitely wouldn't want to default to only sharing span IDs it would need to be an option. All the Zipkin instrumentation have an option to disable the sharing behavior for cases w

[2020-10-03 07:29] anuraaga commented on #1046
If I'm not mistaken, there is a big difference between micrometer and here in that in micrometer meters have tags defined, and here instruments don't have labels and those are provided when recording. Correct me if I'm wrong in which case can ignore the rest of this :)

I generally have to query meter at recording side when using tags with micrometer, but if our API doesn't work like that I guess

[2020-10-03 10:33] Oberon00 commented on #1007
Could this be solved by #896? Like if you could install an span ID generator that gets as input the same as the sampler (actually span ID generators could be implemented as an optional sampler result part), it could decide that if parent.IsRemote && toBeCreated.Kind == Server then reuse parent span ID.

[2020-10-03 14:53] bogdandrutu commented on #1007
I am willing to understand the impact that this decision to not support sharing the same span id has to the current Zipkin/B3 users:
* If I understand correctly B3 propagation allows to not send the parent span ID. So we are compatible with that, but there may be hidden impacts that are not clear to me. The link https://github.com/openzipkin/b3-propagation/blob/master/README.md#why-is-parentspanid

[2020-10-03 14:54] tsloughter commented on #1007
I'm sure this question has been asked a lot but is there material I can read that explains the benefit of using the same span id? Even better if there is also some material on why other implementations of tracing did not do this?

The explanation under "why-is-parentspanid-propagated" says it is so the span can be put in the correct spot in the trace tree but it doesn't give an example or explanat

[2020-10-03 15:00] bogdandrutu commented on #1007
Also @marcingrzejszczak we need to look at this issue from 2 different angles:
1. If user uses OTel API + OTel SDK (implementation). I think in this case is fine to not support this.
2. If user uses OTel API + Brave implementation of the OTel API. We should try to support this if necessary. I will focus on this for Sleuth initially because that will give the backwards compatible story for you. Am

[2020-10-03 15:19] Oberon00 commented on #1007
Why? The current StartSpan already has the parent information available before it has to generate an ID.

[2020-10-03 18:09] bogdandrutu commented on #1037
## Proposal

I would go with a more aggressive approach, let's remove the requirement to have a "Status" object in the API (the object, not the concept) where possible, and how it is implemented is language specific. We should NOT forbid to have a `Status` object with getters (see the next section for way that is a valid pattern).

This is very language specific (and we need to understand that spe

[2020-10-03 18:36] bogdandrutu commented on #1037
I was thinking where I would do the version 3, and I think in C++ I would go with having these objected defined as `struct` to have a smaller api surface

[2020-10-03 20:03] bogdandrutu commented on #1041
If we get to the point of exposing hooks for every API call, we better suggest to reimplement the API. My 2 cents I don't think we should expose all the possible hooks.

[2020-10-03 20:27] HaloFour commented on #1041
Is the concern more that the current API is insufficient for exposing hooks into various activities by the tracers/spans, or exposing the hooks in general?  I can certainly understand trepidation when it comes to offering too many ways to gain visibility into the system.  However, I think for those cases where tracing is being used to log or to augment logging I think that there is more of a need

[2020-10-05 03:02] yurishkuro commented on #999
I would disagree with this, mainly because of the Extract() function: if Span is an active, writeable object, then Extract() fundamentally cannot return it, since it belongs to the caller process. The recent addition of PropagatedOnlySpan is quite inelegant, because it relies on runtime behavior of the span to ignore write methods, rather than on preventing them at the API level. Pretending that a

[2020-10-05 03:11] kolanos commented on #1013
@Oberon00 Commented. :)

[2020-10-05 05:51] alexvanboxel opened #1053 "Trace payload/message size in semantic convention is inconsistent"
**What are you trying to achieve?**

Consistency should exist between the naming of payload/message size attribute names. Currently, we have a mix of how the name is constructed over 3 different protocols. HTTP has `measure-name(length)`(_`compressed`) convention, gRPC has `message`.`un/compressed`_`measure_name(size)` and message systems have `message`.`measure-name(size)`_`unit(bytes)`. Here you

[2020-10-05 08:35] arminru commented on #1053
Hi @alexvanboxel, thanks for pointing this out!

gRPC and messaging do not share the same namespace on purpose since the messaging semantic conventions are a new concept added in OpenTelemetry whereas the gRPC `message.*` event attributes were taken over from OpenCensus for compatibility reasons IIRC. @bogdandrutu please confirm.

The messaging attributes were added first and afterwards the HTTP o

[2020-10-05 12:19] arminru commented on #1037
@bogdandrutu I think all three options you mentioned are reasonable and the spec should allow for each of them, depending on what's idiomatic for the respective language.

I see. I could imagine that's a quite common misinterpretation so we should improve the wording here or add a note for the getter's purpose if we keep them in this form.

[2020-10-05 13:53] bogdandrutu commented on #1037
@arminru I agree especially that it is written only for Status that way and people may think that is special. Cleanup there is welcome.

[2020-10-05 13:58] Oberon00 commented on #1037
I think we should still remove the getters but we can add a note that APIs MAY expose getters if it's required for implementations to access it.

[2020-10-05 14:06] kenfinnigan commented on #1046
@anuraaga there used to be the ability in OTeL to set "constant labels", which would be equivalent to Micrometer behavior. That behavior looks like it was removed recently, and I'm not sure the reasoning.

[2020-10-05 14:09] bogdandrutu commented on #1037
Not a strong opinion, I would like to see the text, but want to make sure as I said that in all 3 cases event/link/status all 3 options I mentioned are possible and clear for the SDK devs as well as for the user (that this is not for instrumentation purpose)

[2020-10-05 16:09] alexvanboxel commented on #1053
I understand that compatibility issues will not fix the current attributes. But would you think that an addendum to the attribute guideline would be a good idea?

I came to the issue as I'm building our internal semantic conventions on-top of  OTel. If yes, I can create another issue or something else? And if yes: I would keep this ticket open to add the addendum you just explained to the files as

[2020-10-05 16:38] mtwo commented on #1047
Following up from the maintainers meeting. There are three types of propagators:

Fully open standards
- W3C
- B3
Platform-specific standards
- AWS X-Ray header
- Google Cloud-Trace-Context (being deprecated)
Proprietary headers
- Dynatrace
- New Relic
- Etc.

It is clear that fully open standards should be in the main SDK packages / repos, and that proprietary headers should not be. This discussi

[2020-10-05 16:54] mtwo commented on #1047
@alolita will take the action to formalize this

[2020-10-05 16:56] SergeyKanzhelev commented on #1047
Does primary mean SDK or it also includes `-contrib`?

[2020-10-05 16:57] mtwo commented on #1047
Just added this to clarify: They can exist within official contrib repositories, vendor-specific repositories, or anywhere else.

[2020-10-05 18:42] jkwatson commented on #1046
IIRC, the reasoning was to keep the API very limited initially and add these concepts back in as needed. There had been some confusion, I think, about how "constant labels", bound-instrument usage, and non-bound-instrument usage interacted. If you want the effect of "constant labels", you can use the bound-instrument calling convention to get it, so I think it was seen as a bit redundant for the A

[2020-10-05 18:45] kenfinnigan commented on #1046
Thanks for the information @jkwatson. I don't think it will impact the way I'm approaching some things, but I will be preferring the micrometer approach of not failing registration but returning the same meter.

[2020-10-05 19:13] FrankSpitulski opened #1058 "Additional Cassandra Attributes"
**What are you trying to achieve?**
I'd like to define more cassandra attributes, as requested by @trask in https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1314#issuecomment-703134133
Additionally, some of these tags may apply to other DBs as well.

What did you expect to see?

I expected to see more detailed information, including table name, query execution information,

[2020-10-05 19:59] pauldraper commented on #381
Yes.

For languages with automatic context propagation like Java, the context is usually the current one.

[2020-10-06 09:06] arminru opened #1059 "Consider making `cloud.provider` required if any `cloud.*` resource attributes are set"
We should consider making `cloud.provider` required if any `cloud.*` resource attributes are set, otherwise it might not be possible or reasonable to interpret the other cloud attributes.

[2020-10-06 09:08] Oberon00 opened #1060 "Missing spec for Span ID creation for dropped/record-only spans"
**What are you trying to achieve?**

I am trying to ensure that span ID creation for spans that are dropped or only recorded (but not sampled) is uniform across different language implementations.

**Additional context.**

As explained in https://github.com/open-telemetry/opentelemetry-specification/issues/864#issuecomment-689513021 the spec is silent on what to do for IDs of spans that are not sa

[2020-10-06 09:14] Oberon00 commented on #1060
CC @alolita @anuraaga

[2020-10-06 10:50] arminru commented on #1053
Adding guidelines for the future would be a good idea, yes, and so could be an addendum explaining why the attributes you mentioned initially don't follow these. Would you like to create a PR for that?

[2020-10-06 12:38] arminru commented on #1050
@open-telemetry/technical-committee should this be required-for-ga?

[2020-10-06 16:40] pavolloffay opened #1061 "Capture all request and response headers"
**What are you trying to achieve?**

I want to capture selected/all HTTP request and response headers.

The instrumentation libraries should be configurable to capture selected or all HTTP request/response headers.

To move this forward we probably need to define:
* data semantics e.g. `http.request.header.<header-name>`/`http.response.header.<header-name>`
* configuration for instrumentations e.g

[2020-10-06 16:46] pavolloffay opened #1062 "Capture request and response bodies"
**What are you trying to achieve?**

I want to capture request and response bodies. The content can be used for business transaction monitoring and security.

To move this forward we need:
* data semantics e.g. `http.request.body`/`http.response.body` or be transport agnostic e.g. `request.body`, `response.body`.
* a configuration for auto instrumentations e.g. `OTEL_INSTRUMENTATION_CAPTURE_REQUES

[2020-10-06 16:50] Oberon00 commented on #1061
Actually what you suggest sounds for semantic conventions sounds great already. Just have to specify details, e.g. "header-name" should be used as-is with any dashes and casing preserved (e.g. `http.response.header.Content-Type`) and values should be string arrays (because headers can appear multiple times.

For the instrumentation conventions, that sounds also reasonable generally, but I don't th

[2020-10-06 16:51] Oberon00 commented on #1062
Related https://github.com/open-telemetry/opentelemetry-specification/issues/1061#issuecomment-704409768

[2020-10-06 17:45] jgals commented on #1016
@aabmass would you, or another contributor from Google, be interested in working on a draft PR to help address this issue?

[2020-10-06 18:25] bogdandrutu opened #1068 "Clarify why would analysis tools generate errors?"
See https://github.com/open-telemetry/opentelemetry-specification/pull/1067#discussion_r500490035

[2020-10-06 18:26] bogdandrutu opened #1069 "Why are we using such a long name as StatusCanonicalCode?"
From https://github.com/open-telemetry/opentelemetry-specification/pull/1067#discussion_r500495896.

Another question is: Are there non-canonical status codes?

[2020-10-06 19:06] Oberon00 commented on #1069
I think this should be renamed to just Status (or StatusCategory) after #966. The current enum is not canonical and I also don't know if we want to call it a code.

[2020-10-06 19:43] pavolloffay commented on #1062
This is an opt-in feature not enabled by default only users who need this would enable it with all the implications of course.

[2020-10-07 00:10] jkwatson opened #1070 "What is the API behavior of Baggage in the absence of an SDK?"
**What are you trying to achieve?**

I'd like to understand what the behavior of the Baggage API is in the absence of an installed SDK. No-op like spans? Full functionality like the Context? Something else?

[2020-10-07 04:09] anuraaga commented on #1068
I'd remove the sentence - we don't seem to have other recommendations for backends like this one, do we?

[2020-10-07 11:33] dkarlovi opened #1071 "ExporterFactory, runtime exporter selection via connection string"
Originally started as https://github.com/open-telemetry/opentelemetry-php/issues/184, copying here for discussion first as suggested.

**What are you trying to achieve?**

Currently, the exporters are constructed and injected into the processor manually as instances.

When using this instrumentation in a dynamic environment, the endpoint might be determined by the ops setup, meaning it can be chan

[2020-10-07 15:03] arminru commented on #1069
I don't think this is a blocker for GA but if we intend to change that (and from the 👍 on here we seem to have some consensus), we should do so before GA. It should be a simple find-and-replace for SIGs that have already adopted the new Status model and otherwise it would go well along with that change.

[2020-10-07 16:41] tigrannajaryan commented on #1069
I'd prefer to settle this before GA since the names may be part of the API. In that case changing the names will break the API.

[2020-10-07 18:21] #1037 closed

[2020-10-07 18:21] #1040 closed

[2020-10-08 03:01] XSAM opened #1073 "Add a Shutdown() method to `*Provider`"
**What are you trying to achieve?**

Add a Shutdown() method to `TracerProvider` and `MeterProvider`, which would invoke Shutdown() on all processors.

**Additional context.**

There is no convenient way to let our users shut the processors down if their programs want to exit. It is the users' response to keep `Shutdown` functions from processors. Telemetry API should handle this common scenario,

[2020-10-08 04:03] anuraaga commented on #1073
Hi @XSAM - we currently define `shutdown` on the OpenTelemetry SDK itself

https://github.com/open-telemetry/opentelemetry-specification/blob/59fe1e74872d9159a2ec16249420ad4f044f7ee8/specification/trace/sdk.md#shutdown

So a call like `OpenTelemetrySdk.shutdown()` can be used to cleanly shutdown, exporting pending metrics. Does this work for you or do you need to shutdown the tracer and metric sep

[2020-10-08 05:27] iNikem commented on #991
@anuraaga was your question answered? Can we now close this issue?

[2020-10-08 05:43] anuraaga commented on #991
Yeah I think that's helpful, thanks

[2020-10-08 05:43] #991 closed

[2020-10-08 06:37] alexvanboxel commented on #1053
I will, I will create first a PR for the attributes and use the issue to reference the addendum.

[2020-10-08 06:52] XSAM commented on #1073
@anuraaga From what I understand, the `Shutdown` function in the [link](https://github.com/open-telemetry/opentelemetry-specification/blob/59fe1e74872d9159a2ec16249420ad4f044f7ee8/specification/trace/sdk.md#shutdown) is just for processors.

And I want to propose a `Shutdown` function for `*Provider`. Take Go interface as an example:

[code]

-----

`*Provider` holds all the processors, and it wil

[2020-10-08 08:05] anuraaga commented on #1073
@xsam Ah sorry I misread the spec. Actually we already have it implemented as such in Java for tracing but didn't notice we never added it to the spec. Agree, we should

https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/tracing/src/main/java/io/opentelemetry/sdk/trace/TracerSdkManagement.java#L58

[2020-10-08 18:53] chgl commented on #709
Not sure if you're already looking for user feedback, but I'd prefer `OTEL_SERVICE_NAME` over resource attributes. Setting a single value is much easier than maintaining a list of key-value pairs, especially when the name may change per environment. E.g. one may use Kubernetes' `fieldRef` to set the value of the `OTEL_SERVICE_NAME` to the name of a pod or a label. Or load it from a config file. Or

[2020-10-08 22:57] jmacd opened #1078 "Metrics semantic convention: "up" metric"
**What are you trying to achieve?**

`up` is a standard metric in Prometheus systems to indicate that a particular combination of `job` and `instance` was observed to be healthy. This comes from an active role taken by Prometheus servers in collecting metrics, but OpenTelemetry OTLP exporters can synthesize the same information on export to indicate that they are, in fact, up.

This issue proposes

[2020-10-09 12:18] Oberon00 commented on #1073
Same with ForceFlush IMHO.

[2020-10-09 14:24] arminru commented on #709
@chgl We are always looking for user feedback - thanks a lot for you input!

[2020-10-09 14:48] arminru commented on #1044
In order to resolve this, we'll need to do two things:

1. Add a mapping from GRPC Status Codes to our new OTel Status Code (Unset, Ok, Error), e.g.
  - OK --> Ok
  - CANCELLED and UNKNOWN --> undefined (up to the user) or leaving Unset
  - all the others --> Error
2. Add a new attribute (e.g., `rpc.grpc.status_code`) to store the GRPC Status Code, which would otherwise be lost now that we have a

[2020-10-09 14:50] eddynaka commented on #1044
Hi @arminru , thanks for mapping!

Do you have a timeline to be official in the spec?

[2020-10-09 14:51] #1050 closed

[2020-10-09 15:06] Oberon00 commented on #1044
@arminru I think the mapping will have to match the mapping we have defined in the proto, see https://github.com/open-telemetry/opentelemetry-proto/pull/224. And there AFAIK the current proposal is OK -> UNSET, everything else -> ERROR.

[2020-10-09 15:39] andrewhsu commented on #1070
from issue triage mtg today, need to arrive at decision for whether we have a noop or the behavior defined

[2020-10-09 15:42] bogdandrutu commented on #1071
I think this can be postponed after GA, and also can be built as a extension to our SDK.

[2020-10-09 15:48] bogdandrutu commented on #1073
From the triage meeting, we need to ensure that we should or not have in the API.

[2020-10-09 15:50] bogdandrutu commented on #1073
My proposal on this: We don't need this in the API package, this is an implementation detail, here are some arguments:
1. Shutdown must be called once only by the same person that configures the implementation as well.
2. Instrumentation devs don't need to call Shutdown.

Adding this later is backwards compatible, so for the moment I am encouraging to not have it in the API for the moment.

[2020-10-09 15:52] jgals commented on #1078
I'd like to work on this one with @cwildman. You can assign it to me @andrewhsu.