[2019-03-19 02:37] tedsuo opened #12 "Documentation for new interfaces"
Includes at least docs for:
* New APIs
* Changes from OC/OT
* Rationale

[2019-03-27 15:54] SergeyKanzhelev opened #43 "Metadata alignment"
Align on https://github.com/opentracing/specification/blob/master/semantic_conventions.md vs,

https://github.com/census-instrumentation/opencensus-specs/blob/master/trace/HTTP.md
https://github.com/census-instrumentation/opencensus-specs/blob/master/trace/gRPC.md
https://github.com/census-instrumentation/opencensus-specs/blob/master/resource/StandardResources.md

[2019-04-16 16:58] yurishkuro opened #70 "API: Fully separate context propagation"
Ideally, both in-process and inter-process propagation should be a standalone module that can operate without the involvement of the Tracer.

Placeholder for more discussion.

[2019-04-22 16:36] tedsuo opened #65 "Sync and Async children (FOLLOWS_FROM)"
In OpenTracing, we have `CHILD_OF` and `FOLLOWS_FROM`. In the new project, we are considering whether to include this concept as a flag on the `SpanBuilder` option when setting the span parent. The new naming is proposed to be `sync` and `async` children, to make the relationship more clear.

Reference PR: https://github.com/bogdandrutu/openconsensus/pull/130

Questions:
* Do we still want this at

[2019-04-22 17:00] SergeyKanzhelev opened #11 "Interface of binary injector depends on whether we will have a single of two fields for trace context"
Current implementation of binary context inject/extract expects that entire SpanContext can be encoded in a single field:

https://github.com/bogdandrutu/openconsensus/blob/42f90bf8196cc1e3913510160cdfdc3995a7119d/api/src/main/java/openconsensus/context/propagation/BinaryFormat.java#L26-L33

However current proposal lists `traceparent` and `tracestate` as separate headers. See https://github.com/w

[2019-04-29 11:39] discostu105 opened #10 "Proposal: Tracer Components"
Proposal: Instead of a global tracer singleton, every library needs to create it's own tracer, which also has a proper name that identifies the library/component that uses the tracer.

Motivation: "Configurability of library/component instrumentation"
 * Identify the library/component that created a span
 * Be able to turn the instrumentation of a certain library/component on/off. This might be ne

[2019-05-02 20:09] bogdandrutu opened #2 "Consider to rename this to opentelemetry-specs?"
Pros: Shorter

[2019-05-03 23:38] iredelmeier commented on #2
Alternatively, just `specification`?

[2019-05-03 23:47] bogdandrutu commented on #2
We had this argument before, if the name is too generic when people fork this repo will not make sense inside their account.

[2019-05-04 00:02] iredelmeier commented on #2
@bogdandrutu mind linking that discussion in here?

[2019-05-04 00:05] bogdandrutu commented on #2
/cc @yurishkuro

[2019-05-06 16:39] austinlparker commented on #2
my 0.02 is that `opentelemetry-specification` is more explicit and preferable. additionally, it's a word that's highly unlikely to ever be overloaded (unlike the word `spec/s, which could be used as a language or library name - i would point to spec# or the spec package in npm as examples of this.)

[2019-05-06 16:59] yurishkuro commented on #2
My preference, in the decreasing order:
  1. close this issue as bikeshedding
  2. `specification`
  3. `opentelemetry-specification`

[2019-05-06 18:14] austinlparker commented on #2
Closing as bikeshedding.

[2019-05-06 18:14] #2 closed

[2019-05-10 16:00] tedsuo opened #9 "What should we call the Tags package?"
### Current Issue:
* `Tags` in OpenTracing currently maps to `Attributes` in OpenTelemetry.
* `Tags` in OpenCensus are also slightly different: no getters, and they are only available for metrics.

There is a fair amount of evidence that using the name `Tags` to describe this package is confusing to existing users of the previous projects.

###  Potential names:
* `Baggage`
* `Labels`
* `???`
* Li

[2019-05-11 00:00] yurishkuro opened #83 "API: Raw vs. other metrics / measurements are unclear"
Re-posting questions from https://github.com/open-telemetry/opentelemetry-java/pull/226#issuecomment-488206616

* in many other metrics APIs that allow recording gauges, timers, and/or histograms, the recording API is still about recording the raw measure, but behind the scene the library may or may not perform some form of aggregation, like LastValue for gauges, or Histogram for timers. So the di

[2019-05-13 18:51] bogdandrutu opened #6 "Define the list of standard exporters that SDK should support"
Proposal for trace:
1. OpenTelemetry exporter (decide if HTTP vs gRPC).
1. Jaeger exporter (decide if the new gRPC or Thrift).
1. Zipkin exporter (probably v2)

Proposal for metrics:
1. OpenTelemetry exporter (decide if HTTP vs gRPC).
1. Prometheus exporter.

Another question is, do we want to have these standard exporters in the SDK artifact/package?

[2019-05-13 19:26] bogdandrutu opened #8 "Define the list of built-in propagation formats"
1. Define the list of propagation formats that the OpenTelemetry will officially support, proposal:
   * W3C for trace https://github.com/w3c/trace-context
   * W3c for tags/baggage https://github.com/w3c/correlation-context
   * B3, do we commit to support this?
   * Jaeger, do we commit to support this?
2. Where does the implementation for each format live?
   * In API?
   * In SDK?
   * In cont

[2019-05-13 19:34] austinlparker commented on #8
Related to the first point, what about `x-ot` headers? Maybe have the API support a list of propagators with a default implementation of the W3C spec in SDK, then support B3/Jaeger/etc. through contrib?

[2019-05-13 20:10] bogdandrutu commented on #8
Where is x-ot header defined?

[2019-05-13 20:26] austinlparker commented on #8
I don't think it's actually defined anywhere (and whoops, it's actually `ot-tracer-*`), but there's quite a few usages of it: https://github.com/search?q=ot-tracer-traceid&type=Code

[2019-05-13 20:33] bogdandrutu commented on #8
So if there is a specification of these protocol, we can definitely support it (without a specification we cannot support it).

Do you know if anyone uses this in real production or is just define for no-op testing Tracers?

[2019-05-13 21:02] austinlparker commented on #8
Yeah, I know of some LightStep customers that use it. Presumably others do as well via Envoy/Veneur/Istio/etc. I'll see if we can get it codified into a spec somehow.

Alternately, I think it'd be fine if this was only supported by the opentracing bridge as a legacy protocol. That might be the most straightforward way to handle it.

[2019-05-15 16:43] austinlparker commented on #8
I talked this over internally and our consensus is that `ot-tracer` headers shouldn't be supported in the core API/SDK, so no need to consider them for this. I think, from a maintainability perspective, it makes the most sense to have a single blessed W3C implementation in core and then address B3 and others in contrib.

[2019-05-15 21:51] c24t opened #13 "Initial spec from java client"
Create a spec for the opentelemetry API and SDK in the style of [opencensus-specs](https://github.com/census-instrumentation/opencensus-specs).

The spec should describe the [opentelemetry java client](https://github.com/open-telemetry/opentelemetry-java) as it's implemented now. Where the API isn't well defined (as in issues labeled ["Agreement Required"](https://github.com/open-telemetry/opentel

[2019-05-20 12:05] iredelmeier opened #15 "Add whitespace (and other markdown-specific) linter for PRs"

[2019-05-20 12:10] iredelmeier commented on #13
@mtwo would you mind reiterating your thoughts on this from the F2F discussion last week?

[2019-05-21 16:18] AdaptiveThinking commented on #6
I would suggest also have a simple exporter to stdout (e.g. with JSON, like a Log).
This would make certain scenarios (like PaaS/FaaS), which have default ways for Logs with stdout easyer to operate.

[2019-05-21 17:51] SergeyKanzhelev commented on #6
JSON log can be used for FluentBit. We can consider defining message pack as well for telemetry types.

[2019-05-21 18:12] bogdandrutu commented on #6
I think just for JSON we should use proto to JSON, what do you think? Then we don't need to define anything for this.

[2019-05-21 18:14] bogdandrutu commented on #13
@c24t are you going to do the first draft? When?

[2019-05-21 20:16] SergeyKanzhelev commented on #6
@bogdandrutu let's have it as a primary plan. I have never dealt with proto JSON and not sure if we will discover any issues with this. From the looks of it - must be straightforward

[2019-05-21 20:21] SergeyKanzhelev opened #16 "Canonical type field for spans"
See discussion: https://github.com/open-telemetry/opentelemetry-specification/pull/14#discussion_r285563092

The proposal is to have a strongly-typed field on a span that will define its type and ultimately - the set of attributed one should expect to see on it and interpret.

The alternative is to have a predefined attribute name for this type.

This change should be driven by scenarios we plan t

[2019-05-21 20:27] SergeyKanzhelev opened #18 "Clarify span end behavior: should it close all the children"
See discussion at https://github.com/open-telemetry/opentelemetry-node/issues/4

[2019-05-21 20:33] c24t commented on #13
I put up a WIP draft at #17, largely a copy of the OC and OT specs at this point.

@mayurkale22, @songy23, @rghetia, @dinooliva, and I will compare to the OC spec and clients today.

[2019-05-21 23:05] tylerbenson commented on #15
Perhaps we could at least start with an [editorconfig](https://editorconfig.org/) file for all the projects to share?

[2019-05-22 15:12] cstockton opened #20 "RFC: Structural definition of trace events & distinct structures for all data points"
First let me say I'm happy to see the combined efforts here, I'm a strong believer in the value added by this projects goals. The goal of this post is to get some clarification on some of the projects goals and design decisions. I have a lot of opinions on this area but for sake of productive discussion I want to focus on two key areas:

1) Defining a formal structural specification for trace even

[2019-05-22 17:16] SergeyKanzhelev commented on #20
After reading I understand that the biggest concern is the fact that spans are represented as a single object, not two or more start/end/associated-events records and require some in-memory buffer.

As OpenTracing allowed the event-based tracer to be implemented, the default implementation and data schema for OpenTelemetry assumes that a span is a single object. There are many reasons for this. To

[2019-05-22 20:36] cstockton commented on #20
Hello,

I understand the need for ephemeral state for span book keeping and have no argument against that. I _do_ have an argument against storing every single Log() event that occurs on the span itself. E.g. `opentracing-go Log("", ...)` because now we have fixed upper bounds on spans as I've explained inside the gist. But this is only half of it- it also means that I don't have observability of

[2019-05-22 22:21] SergeyKanzhelev commented on #20
I think this will clarify things - we see logs as a separate type defined in the future. Events on the span are time indications on the span, not a general purpose log. And events have quite an aggressive limit.

As for not-finished spans - those will be shown on z-Pages for instance. And vendors may send events about unfinished spans or keep them in separate storage. I think to make this proposal

[2019-05-23 01:07] yurishkuro commented on #20
@cstockton Did you read somewhere that "A Span must be finished before it may be published to the tracing vendors ingest"? If this was explicitly listed as a requirement in the OpenTracing specs or elsewhere, then it's a mistake. Span model by itself does not impose this as a requirement. For example, even though we never implemented / finished it, we had some work / discussions about [capturing "

[2019-05-23 16:03] cstockton commented on #20
@SergeyKanzhelev If I'm understanding you correctly you're saying the type called `TimedEvent` which contains an `Event` at https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/proto/trace/v1/trace.proto#L176 is not for log events? Maybe that is not your intention, but having a `repeated` object, that has an arbitrary key/value mapping will certainly end up being used for

[2019-05-23 18:11] SergeyKanzhelev opened #21 "Exposing tracer property on spans"
From https://github.com/open-telemetry/opentelemetry-node/issues/5

@hekike, @rochdev

[2019-05-23 18:20] SergeyKanzhelev commented on #20
I think aggressive limit of a default implementation and also the fact that logging adaptors will do a different thing will make this use less common. I'm not totally oppose to the idea of detaching Events from spans. In fact this is what we will probably do for Azure Monitor. But I see how it may be important to associate events directly to the span to make a better root cause analysis experience

[2019-05-23 18:46] austinlparker commented on #20
I've actually prototyped something like this in the LightStep Tracer as 'meta events'. We create a span for each discrete event and add the span/traceid to it as a tag, along with a `meta_event: true` tag. The backend could then pick these out and treat them differently.

[2019-05-23 21:40] cstockton commented on #20
Small note on that just to be clear, I want to keep the relationship of Events to spans in every aspect of the system except for carrying the data through ingest. My goal is to advocate the benefits of breaking down the current data model into a stream of smaller observations. This allows data to be pushed to ingest the moment it has occurred placing only ingest latency between you and insights in

[2019-05-23 22:49] tylerbenson commented on #21
I also think it would be nice since configs are usually exposed via the tracer.  Besides, I assume `Span` will need to have a reference to it anyway to report when finished.

[2019-05-24 15:42] SergeyKanzhelev opened #24 "semantic_convention: HTTP attributes"

[2019-05-24 15:43] SergeyKanzhelev opened #25 "semantic_convention: GRPC attributes"

[2019-05-24 15:44] SergeyKanzhelev opened #26 "semantic_convention: remoting client attributes"

[2019-05-24 15:44] SergeyKanzhelev opened #27 "Extend semantic conventions for RPC"

[2019-05-24 15:46] SergeyKanzhelev commented on #24
@danielkhan wanted to take this one. Assigning to you for now.

[2019-05-24 21:47] jmacd commented on #20
+1 to @cstockton's request for defining trace events in the specification. We shouldn't use OpenTracing's lack of an event model, nor the lack of OSS backend support as rationale. It should be possible to produce an OpenTelemetry implementation that does not keep span state in memory by writing START and FINISH events to a low-level event record. This is an appealing way to move "active span manag

[2019-05-25 15:01] SergeyKanzhelev commented on #20
@jmacd it is a fine goal to have an option to implement event-based tracer and backend. It should absolutely be possible with the API. When I was referring to the lack of backends I was talking about the default implementation and span's protos.

We can always extend the span's model to events model in the future.

[2019-05-25 16:22] SergeyKanzhelev commented on #21
@tylerbenson in the original issue - the scenario was given to start a child span, not to distinguish configurations. How will you use tracer obtained from Span besides starting child spans?

[2019-05-25 19:20] rochdev commented on #21
We use this with OpenTracing to access the scope manager and to start related spans. The ability to access the tracer configuration would also be a nice addition since right now with OpenTracing the only compliant way to do that would be to assign the configuration to every span context to expose it.

In general, I find that exposing the tracer would result in a cleaner API that replicating some o

[2019-05-26 12:15] mtwo commented on #13
I think that my comments were mostly related to adding typed spans into the specs repo ... or were you referring to something else?

[2019-05-28 16:31] SergeyKanzhelev opened #30 "how to call auto-collection modules"
Modules that can automatically collect telemetry from various technologies needs a common name consistent across the projects. How to name it:

Plugins? Instrumentation? AutoCollector? Other?

[2019-05-28 16:38] songy23 opened #31 "Proposal: Probability sampling algorithm."
Originates from https://github.com/open-telemetry/opentelemetry-java/pull/337#discussion_r286734518.

In Java we currently use:

  range. We convert an incoming probability into an upper bound on that value, such that we can
  just compare the absolute value of the id and the bound to see if we are within the desired
  probability range. Using the low bits of the traceId also ensures that systems

[2019-05-28 17:23] fbogsany commented on #30
We called this "Adapter" in Shopify's tracing implementation. I'm not wedded to the name - just another option. It doesn't really describe the automatic part of auto-instrumentation. Neither does "Plugin" or "Instrumentation".

"Collector" seems overloaded, given the opentelemetry-service.

Is there a need to distinguish auto-instrumentation modules from manual instrumentation modules? Maybe some

[2019-05-28 17:32] SergeyKanzhelev commented on #30
I like Adapter. The hope is that at some point those wouldn't be needed as libraries will be instrumented with OpenTelemetry directly. So meanwhile we need an adapter.

Example may be SpringBoot adapter or ASP.NET Core adapter to collect information about incoming requests.

[2019-05-28 20:10] austinlparker commented on #30
Adapter strikes me as hitting the balance we're looking for.

[2019-05-29 15:13] SergeyKanzhelev opened #32 "Rate limiting/back pressure sampler as a default"
See discussion here https://github.com/open-telemetry/opentelemetry-java/issues/347

[2019-05-29 15:14] SergeyKanzhelev opened #66 "API: Sampling `Decision` may need to update tracestate, not only attributes"

[2019-05-29 15:17] SergeyKanzhelev opened #33 "Document that default sampler is 100% sampler"
See https://github.com/open-telemetry/opentelemetry-java/issues/347

[2019-05-30 15:41] SergeyKanzhelev opened #34 "Is custom random generation a requirement for SDK or not?"
See https://github.com/open-telemetry/opentelemetry-java/issues/325.

The question is whether it is a requirement for SDK to allow custom ID generators.

[2019-05-30 15:43] SergeyKanzhelev commented on #34
from @tedsuo - taking dependency on the format of TraceID is dangerous practice and we may want to discourage it. So making it a requirement to spec may not be desirable. Perhaps it can be optional feature.

[2019-05-30 15:53] tedsuo commented on #18
## 5/29 Discussion

* Parents should not automatically close children.
* This behavior would hide what the child operation is actually doing.

[2019-05-30 15:58] SergeyKanzhelev opened #35 "Document Java API: describe SpanData class"
[Java repo](https://github.com/open-telemetry/opentelemetry-java) was used to combine APIs from OpenTracing and OpenCensus. Most of APIs are ready to be documented in a form of cross-language specification.

SpanData class and it's operations needs to be described

[2019-05-30 15:59] SergeyKanzhelev opened #36 "Document Java API: Resources API"
[Java repo](https://github.com/open-telemetry/opentelemetry-java) was used to combine APIs from OpenTracing and OpenCensus.
Most of APIs are ready to be documented in a form of cross-language specification.

Resources API needs to be described

[2019-05-30 15:59] SergeyKanzhelev opened #37 "Document Java API: SpanBuilder API"
[Java repo](https://github.com/open-telemetry/opentelemetry-java) was used to combine APIs from OpenTracing and OpenCensus.
Most of APIs are ready to be documented in a form of cross-language specification.

SpanBuilder and the ways to construct Span needs to be described

[2019-05-30 16:00] SergeyKanzhelev opened #38 "Document Java API: Tracing operations API"
[Java repo](https://github.com/open-telemetry/opentelemetry-java) was used to combine APIs from OpenTracing and OpenCensus.
Most of APIs are ready to be documented in a form of cross-language specification.

Tracing API needs to be described

[2019-05-30 16:01] SergeyKanzhelev opened #39 "Document Java API: Tracer construction"
[Java repo](https://github.com/open-telemetry/opentelemetry-java) was used to combine APIs from OpenTracing and OpenCensus.
Most of APIs are ready to be documented in a form of cross-language specification.

Tracing class construction needs to be described. Tracer for specific library. Global Tracer, etc.

[2019-05-30 16:01] SergeyKanzhelev opened #40 "Document Java API: Metrics API"
[Java repo](https://github.com/open-telemetry/opentelemetry-java) was used to combine APIs from OpenTracing and OpenCensus.
Most of APIs are ready to be documented in a form of cross-language specification.

Metrics API needs to be described

[2019-05-30 16:02] SergeyKanzhelev opened #41 "Document Java API: DistributedContext API needs to be described"
[Java repo](https://github.com/open-telemetry/opentelemetry-java) was used to combine APIs from OpenTracing and OpenCensus.
Most of APIs are ready to be documented in a form of cross-language specification.

Tags API needs to be described

[2019-05-30 18:31] c24t commented on #13
Closing this one in favor of moving docs individually from the work-in-progress dir.

[2019-05-30 18:31] #13 closed

[2019-05-31 04:17] SergeyKanzhelev opened #44 "The name "IsRecordingEvents" misleading as it represent recording of any information, not just Events"
The semantics of `IsRecordingEvents` is not only about recording events but also setting attributes.

Should it be called `IsActive`?

[2019-05-31 04:22] bogdandrutu commented on #44
Active may be confusing especially with being active in the context. So I would suggest maybe IsRecording?

[2019-05-31 04:27] SergeyKanzhelev opened #45 "Terminology: describe metrics terminology"
A high-level description of metrics terminology.

[2019-05-31 04:28] SergeyKanzhelev opened #46 "Terminology: describe DistributedContext terminology"
Describe from high-level tags concepts

[2019-05-31 04:29] SergeyKanzhelev opened #47 "Terminology: describe resources concept"
Describe high-level resources terminilogy

[2019-05-31 04:32] SergeyKanzhelev opened #48 "Terminology: Describe Agent/Collector"
Can be taken from here: https://github.com/open-telemetry/opentelemetry-service/pull/9

[2019-05-31 04:32] SergeyKanzhelev opened #49 "Terminology: describe adapters/intrumentation/auto-collectors"
Describe the concept of adapters

[2019-05-31 04:53] SergeyKanzhelev commented on #44
I'm good with `IsRecording`

[2019-05-31 15:20] bogdandrutu opened #51 "Span.Kind.LOAD_BALANCER (PROXY/SIDECAR)"
In some cases some of the sidecar/load_balancer implementations will generate only one span between a client and a server spans. Do we want to have a kind that describes this case so that backends will know this is an rpc like client -> proxie -> server?

[2019-05-31 17:32] spidergears commented on #44
`IsAlive`, if not alive its dead, dead don't record, they walk though.

[2019-05-31 17:40] SergeyKanzhelev commented on #44
Perhaps we need to clarify semantics of this flag even further. For instance, will name be recorded on span? There may be vendors who need to get the span name and serialize it to the wire. Even when span wasn't recorded. Do we really want to not record attributes?

[2019-05-31 18:11] SergeyKanzhelev opened #52 "Package structure common description"
There should be some common description of the package structure. See https://github.com/open-telemetry/opentelemetry-node/issues/6 for example of package structure discussion

[2019-05-31 19:05] SergeyKanzhelev commented on #43
This issue was split into smaller issues. Closing

[2019-05-31 19:05] #43 closed

[2019-05-31 19:07] SergeyKanzhelev commented on #12
It was split to smaller issues

[2019-05-31 19:07] #12 closed

[2019-05-31 19:14] SergeyKanzhelev opened #53 "API: describe sampler API"
Document decisions made in Java repository: describe sampler API

[2019-05-31 19:14] SergeyKanzhelev opened #54 "SDK: document SpanProcessor API"
Document decisions made in Java repository: document processor API

[2019-05-31 20:20] SergeyKanzhelev opened #55 "API: Span - should it provide `HasEnded` property"
I can imagine scenarios where async operation may want to implement different behavior depending on whether the Span that started it up ended or nor. For instance, instead of adding `Event` to `Span`, report a separate `Span`. Or simply log information.

I hit this scenario in the following case:

Redis library in .NET allows to associate "session" with the current span. And there is a way to get

[2019-06-03 15:08] SergeyKanzhelev opened #57 "API: add a note that Span is an interface and what are the expectations for alternative implementation"
Current section about the Span doesn't say anything about the fact that is is an interface that may have an alternative implementation

[2019-06-03 15:08] SergeyKanzhelev opened #58 "API: describe SpanContext"
Describe SpanContext properties

[2019-06-03 15:09] SergeyKanzhelev opened #59 "API: Describe Status class"
Describe `Status` class and canonical codes

[2019-06-03 15:15] austinlparker commented on #55
I'm generally in favor of this property being in the API, but would be interested in hearing more opinions either way. I know we've implemented a property like this on some of our tracers (javascript, iirc?)

[2019-06-03 15:43] SergeyKanzhelev opened #60 "SDK: toSpanData is needed on Span class and it may be called multiple time even before Span was completed"
As we discussed in https://github.com/census-instrumentation/opencensus-csharp/issues/134 there are scenarios that require reading properties from the incomplete `Span`s. It is needed when one want to put `Span` properties into the `tracestate` for instance.

Some sort of looking inside the `Span` may need to be implemented on API level.

`API` vs `SDK`: This method should be implemented in the sa

[2019-06-03 17:36] SergeyKanzhelev opened #61 "SDK: Resources SDK"
Explain how the resources API is extended by SDK. Specifically:

- how resources can be associated with Span Protos
- how resoruces can be populated from environment variables

Move this document https://github.com/open-telemetry/opentelemetry-specification/blob/master/work_in_progress/specification/resource/Resource.md to the root folder

[2019-06-03 18:05] SergeyKanzhelev commented on #47
closed via #56

[2019-06-03 18:05] #47 closed

[2019-06-03 18:05] SergeyKanzhelev commented on #36
closed via #56

[2019-06-03 18:05] #36 closed

[2019-06-03 19:59] carlosalberto commented on #55
I remember this being discussed in OpenTracing, and one of the mentioned issues was how easy would it be for vendors to expose this detail. Hey @yurishkuro happen to remember anything about this?

[2019-06-03 20:35] yurishkuro commented on #55
Some people have been asking, including in OpenTelemetry iirc, that implementations are not required to hold onto an allocated & writable Span, because some of them might want to stream out recorded events as soon as they are captured (e.g. to support long-running spans and don't lose them if the process crashes, they want StartSpan method to be able to report the event immediately). Essentially a

[2019-06-03 20:51] yurishkuro opened #62 "Consider removing Resource::Merge()"
This discussion https://github.com/open-telemetry/opentelemetry-specification/pull/56#discussion_r289995437

[2019-06-03 22:27] bogdandrutu commented on #10
@jmacd that is not really a ResourceBuilder but I think offering a simpler API to create Resource (or even a real builder) should be on our list.

[2019-06-03 22:44] SergeyKanzhelev commented on #48
doing some background copy/pasting =) assigned to myself

[2019-06-03 22:54] SergeyKanzhelev commented on #55
in #63 I also mention whether the second call to `End` needs to be processed at all. Perhaps streaming tracers will be exempt from this requirement.

For the mutable state - API defines an instance of a class that will be kept around. It probably will be trivial to keep the state in it, would it? Or such implementations will not store span in context at all?

[2019-06-03 23:00] rochdev commented on #65
In Node this concept is very important and is core to how context propagation works in the runtime itself. For this purpose specifically, we call them `execution` and `trigger`. In Node you can only have one of each because it's limited to function calls, but from a tracing perspective it makes sense that you could follow from multiple different operations.

Let me give an example specific to Node

[2019-06-03 23:24] #48 closed

[2019-06-03 23:25] #18 closed

[2019-06-03 23:32] jmacd commented on #62
I could imagine wanting to allow resources to be defined at various locations in the code. Maybe you have linked in some code that knows about Linux /proc file entries, and is able to generate detailed resource values. Another module knows about K8S and is able to generate detailed resource values. I wouldn't try to convince you that a single main() routine is going to be effective at gathering al

[2019-06-03 23:42] jmacd commented on #66
Background question: why should the sampling decision output attributes?
In looking at the prototype Java SDK, I see that there are TraceOptions which include the "is_sampled" bit. I feel the sampling rate belongs there. are TraceOptions serialized into Tracestate?

[2019-06-03 23:45] bogdandrutu commented on #62
@jmacd the way how merging is implemented (map semantics, or other strategy) will result in how this API will be used by different modules (as you mentioned k8s) and consumed by different implementation.

For example imagine that we don't define a merge API then every module will try to overwrite all the fields because some implementation may decide to keep only the last Resource. So it is very im

[2019-06-04 00:22] yurishkuro commented on #65
The problem here is slightly bigger than what to call these. Kudos @rochdev for thinking OpenTracing got it right, but it didn't, not quite (cf. [this blog post][1]). The most fundamental question in analyzing the graph of events is the Lamport's `happens-before` relationship. In the OpenTracing span model the following holds:
[code]
That's it! Neither `child-of` nor `follows-from` imply any furth

[2019-06-04 00:33] yurishkuro commented on #55
A streaming implementation doesn't need to have any mutable object. Instead, every span API calls results in an immediate write of some events to the buffer, which is async flushed. All you need to know for these writes is the immutable span context as identity.

[2019-06-04 01:28] rochdev commented on #65
Thanks for the clarification @yurishkuro! It sounds like this is a larger discussion then. Would it make more sense to wait then instead of implementing this knowing that it's not necessarily the correct way to handle this relationship?

Of course, this depends on whether users are currently depending on the feature. If that's the case, then I think we should get more information about exactly how

[2019-06-04 04:11] SergeyKanzhelev commented on #66
examples of attribute may be algo used to make a decision and sampling priority. Sampling rate is not a common-enough concept to make it strongly typed or include into `TraceOptions`. However I believe it's a common scenario to put it into `Tracestate`.

TraceOptions are serialized into `trace-flags`: https://w3c.github.io/trace-context/#trace-flags

[2019-06-04 05:24] jmacd commented on #66
I have a terminology question. I was under the impression that "Attribute" referred to properties of a span, and that "Tags" referred to contextual properties that would propagate along with trace context. In this thread, I believe we're talking about context tags which a sampling algorithm would output for propagation.

I feel somehow that context tags should be reserved for applications to use,

[2019-06-04 05:31] jmacd commented on #62
I don't think defining map semantics is the hard part, it's that these updates happen in an undetermined order if we let them happen as a result of program initializers.

I believe the options are to:

(1) allow the ambiguity, suggest that names should be qualified by namespaces to avoid conflicts, and allow static initializers to apply global resources in unspecified order to the global tracer.
(

[2019-06-04 14:41] tonyredondo opened #67 "Span's event specification"
According the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tracing-api.md) and [proto file](https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/proto/trace/v1/trace.proto#L148:L186) an event can have attributes as a key:value pairs, where the keys must be strings and the **values may be string, booleans or numeric

[2019-06-04 16:43] SergeyKanzhelev commented on #67
loggers have not been designed yet. The idea behind `Event` is lightweight time mark in the span. Default limit on number of events is very aggressive to use it for logs.

With the assumption that logging API will be built separately and Events are used for simple time marks - do you still have a scenario when objects needs to be supported?

[2019-06-04 16:45] SergeyKanzhelev commented on #66
this issue is specifically about sampler and how sampler will propagate it's decision and extra arguments to downstream components. Correlation Context will be reserved for apps, so Tracestate is a native place for it.

[2019-06-04 16:51] austinlparker commented on #67
I think the way the shim would handle things like this would be turning span logs into OTel logs and creating a reference between the span and the log.

[2019-06-04 17:05] SergeyKanzhelev opened #68 "If SpanData is immutable, setting Tracer's Resource on it before exporting will require an allocation"
if SpanData is immutable, Tracer will need to create a new `SpanData` with the `Tracer`'s `Resource` set before passing it to the exporter. Which requires a new allocation. Creating issue:

[2019-06-04 17:17] tonyredondo commented on #67
@SergeyKanzhelev  The common use case is the `error` event as the OpenTracing semantic conventions allows. In our case we are sending the exception object in the `error.object` field. We are planning to send other events with custom objects linked to a span.

If this can be handle by the logging api, I would be very interested to read about that api, even participate on those discussions.
Is this

[2019-06-04 17:24] austinlparker commented on #67
I think it'd have to be... maybe @carlosalberto has some thoughts, since I know he's been working on the shim for Java, so he's probably closer to dealing with this in practice than I am right now.

[2019-06-04 17:50] bogdandrutu commented on #67
@tonyredondo can you tell me how the backend that you use consumes these Objects?

[2019-06-04 18:11] yurishkuro commented on #67
I second @tonyredondo concern. In OpenTracing the tracer decides how to marshal attributes passed as `objects`, usually by recognizing certain common types. Limiting the API to primitive values only means that the user code must do the marshaling, which is very inefficient if only <1% of spans are sampled.

Here's an example from Jaeger where an attribute of a span.log (aka event) is an object
![i

[2019-06-04 18:15] jmacd commented on #66
As I understand it, Tracestate contains Entries of key:value attributes that permit the sampling implementation to propagate its decision and extra arguments to downstream components. Your proposal above allows the sampling implementation to the span ("Return tags which will be attached to the span."). That's the part I'm confused about, since I believe Span attributes should be reserved for apps

[2019-06-04 18:29] yurishkuro commented on #62
+1

I prefer simplicity, and I think this Merge() function and the respective merge semantics are unnecessary complications to the spec that can be easily handled by user code / instrumentation. But perhaps I am missing some elaborate use cases.

[2019-06-04 18:31] bogdandrutu commented on #67
@yurishkuro nice example.

The current OpenTelemetry API allows to add lazy formatted events via the `addEvent(Event)` API. So marshaling happens only if the Span is serialized, but indeed needs to produce primitives as the end result.

If one type is important to support I think we should add support for it in our data model and allow users to explicitly set on critical path or delayed that type.

[2019-06-04 18:48] SergeyKanzhelev commented on #70
The issue was postponed to after the initial API completion.

[2019-06-04 19:00] tonyredondo commented on #67
@bogdandrutu we have a custom tracer implementation that splits the span and logs into two collections, serialize it with msgpack and send the payload to our backend, where we store the log data inside a postgresql  json column type.

The common types are object exceptions and structured data from loggers (so we don't know the schema). We are planning to add others events type.

Here is an example

[2019-06-04 20:34] bogdandrutu commented on #62
@jmacd for the namespace discussion, see the current OpenCensus definition https://github.com/open-telemetry/opentelemetry-specification/blob/master/work_in_progress/opencensus/StandardResources.md

@yurishkuro Merge is important in this scenario:
If we do offer the components API for example see https://github.com/open-telemetry/opentelemetry-specification/issues/10 then when you build the new Tr

[2019-06-04 22:12] iredelmeier commented on #6
My experience with proto JSON has been subpar:

* The produced JSON is generally verbose and unidiomatic
  * This is especially true for `oneof` fields, of which we'd often have many - I believe @jmacd has more to say on this
* Support across languages is spotty
* Documentation for the conversion is sparse. Using something like the [grpc-gateway](https://github.com/grpc-ecosystem/grpc-gateway) wor

[2019-06-04 22:16] iredelmeier commented on #8
re: where exporters should live - my inclination would be to put W3C support as close to core as makes sense, e.g., a standalone library that is also exposed as the default by SDKs. Anything "non-standard" - B3, Jaeger, legacy protocols, etc. - should not be part of the core SDK, so that versioning (especially deprecating!) is decoupled.

[2019-06-05 00:02] jmacd commented on #6
I see a desire expressed here to support a human readable debugging log. One of the challenges there is that in the SpanData exporter model, the exporter doesn't see a span until it finishes. For debugging, I think it's pretty useful to see a log message when the span starts, and to see Span Events logged as they happen. To help demonstrate how we can achieve this outcome without sacrificing the o

[2019-06-05 00:04] jmacd commented on #66
In other words, I now see that the sampling decision should have a chance to modify Tracestate. But if the sampling decision intends to record any key-value data, I think it should do so in the Tracestate entries.

[2019-06-05 00:06] jmacd commented on #20
I've posted a prototype that implements an event-based exporter API and a stderr debug-logger on top of it, here:

https://github.com/open-telemetry/opentelemetry-go/issues/4

[2019-06-05 05:49] jmacd commented on #68
I read through the comments in issue PR69 and couldn't exactly see what the recommended action is here. Why should SpanData be considered immutable _before_ passing it to an exporter? I've read through the Java repository and couldn't find an implementation of `Span.setAttribute`, which I'm assuming has to modify the active span's data, too. Could you provide more context?

[2019-06-05 14:20] rochdev commented on #8
I'm not sure I understand what's the difference between W3C format and other formats, other than it being standard. As a user, why would I want to always pull W3C if I'm not going to use it for example?

[2019-06-05 14:36] rochdev commented on #66
Just wanted to mention that we have a constraint with client sampling to not do allocations when a trace will be dropped. The way we do it right now is that we take the decision as early as possible (before the root span is even created) and then use a no-op span for any span that is a part of the that trace. The no-op span is a singleton that is reused for all dropped traces. Then propagation is

[2019-06-05 15:32] SergeyKanzhelev commented on #68
`SpanData` (not `Span`) only has getters in Java API intentionally. The idea is that you can get a `SpanData` and use in various delivery pipeines without the need of cloning it to avoid unwanted modification by unrelated thread. For instance, send it to two separate exporters and do not worry that one of them will add a few backend-specific attributes to it that would leak into another exporter.

[2019-06-05 15:48] rochdev commented on #68
What if the exporter doesn't use Protobuf? And why even have `SpanData` and `proto.Span` in general? Wouldn't it be more flexible and efficient to just pass the span?

[2019-06-05 15:50] rochdev commented on #68
In JavaScript it's not even really possible to make something completely immutable, and to make it somewhat immutable is really heavyweight. Same for going from/to Protobuf.

[2019-06-05 15:54] SergeyKanzhelev commented on #68
There are a few design principles we were following:

- `Span` must not be used for information exchange. Thus it's write-only.
- `Span` life cycle must allow to create traces (and default SDK) where in-process timestamps of Spans are guaranteed to be consistent. Thus forbidding creating `Span` with externally supplied timestamps
- There are still scenarios where spans are created from something o

[2019-06-05 16:06] jmacd commented on #68
Where does this requirement ("Span life cycle must allow to create traces (and default SDK) where in-process timestamps of Spans are guaranteed to be consistent. ") come from?

It's incompatible with OpenTracing, to begin with. It assumes that every exporter wants this SpanData format, which I view as a good default but will not address every need we have. I would suggest that if you want guarante

[2019-06-05 16:52] jmacd commented on #55
I've implemented such an asynchronous implementation w.o mutable state as a proof of concept, here:
https://github.com/open-telemetry/opentelemetry-go/issues/4

I've been meaning to write a position statement on this matter in general: Instrumentation libraries should not support reading their own state. I still plan to write this, but the rationale is:
1. The diagnostics data plane and the applic

[2019-06-05 16:55] jmacd commented on #57
What complications to you imagine wanting to document? I believe the point of an interface specification is that all the expectations are set, i.e., it should not matter what alternative implementation is selected.

[2019-06-05 17:12] SergeyKanzhelev commented on #57
With this issue I intended to make sure all cross-language implementations will actually make is an interface, not a final class. Spec must declare it.

Also implications are that you will also need to have a custom implementation of SpanBuilder and it is expected that alternative implementations should keep the same philosophy of write-only Spans.

[2019-06-05 18:56] SergeyKanzhelev commented on #37
as discussed offline - assigning to you

[2019-06-05 18:56] SergeyKanzhelev commented on #38
@c24t as discussed offline - assigning to you

[2019-06-05 19:09] jmacd opened #71 "API: remove Span.recordSpanData from the API specification"
In the Java prototype, `SpanData` has been exposed as an alternative way for an application to submit spans. This was justified as a means of forwarding spans constructed out-of-band, e.g., for transforming logs data into span records.  I can't find the original discussion that led to this, but would like to formally propose removing `SpanData` from the user-facing instrumentation API because it i

[2019-06-05 19:11] jmacd commented on #35
I'm proposing to exclude SpanData from the API.

https://github.com/open-telemetry/opentelemetry-specification/issues/71

[2019-06-05 19:17] rochdev commented on #68
In some cases you want to rebuild an entire trace from metadata generated from a different process. For example this is how [apollo-tracing](https://github.com/apollographql/apollo-tracing) works. In this case you need to be able to control everything, including timing.

Makes sense, but I'm still not sure I understand what is the role of `proto.Span` in that model.

I agree with this. In my opini

[2019-06-05 22:20] bogdandrutu commented on #71
I am concerned that we will need to have Timestamp on a lot more methods/functions in order to allow this via Span. That will probably make the API larger.

[2019-06-05 23:01] #25 closed

[2019-06-06 12:10] danielkhan commented on #16
+1 on a strongly typed field like an enum.

[2019-06-06 17:02] tedsuo commented on #30
Discussing on a call today with @SergeyKanzhelev: o the OpenTracing side, we usually just refer to these components as "instrumentation." As to whether that instrumentation is a plugin, a wrapper, an interceptor, or an adaptor, that usually depends on how the target library or framework actually works. Different frameworks have different names for their extensibility mechanisms. It could be native

[2019-06-06 17:31] SergeyKanzhelev commented on #45
@bogdandrutu perhaps you can move some of the pieces from your google doc into a terminology section for metrics

[2019-06-06 17:32] SergeyKanzhelev commented on #9
In https://github.com/open-telemetry/opentelemetry-java/issues/11 we decided DistributedContext

[2019-06-06 17:33] SergeyKanzhelev commented on #46
@songy23 can you help describe tags terminology? Note, it has a new name now - https://github.com/open-telemetry/opentelemetry-specification/issues/9

[2019-06-06 17:33] SergeyKanzhelev commented on #46
let me know if you cannot take this one

[2019-06-06 17:34] SergeyKanzhelev commented on #41
@songy23 can you help describe tags API? Please let me know if you cannot make it

[2019-06-06 17:34] tigrannajaryan commented on #46
@SergeyKanzhelev @songy23  what is the intent regarding having "tags" vs "attributes"? I see that tracing API spec uses "attributes". Is there going to be a unification of terminology? Is there a reason to have different word for a very similar concept?

It can be a source of confusion, see e.g. https://github.com/census-instrumentation/opencensus-service/issues/532

[2019-06-06 17:36] SergeyKanzhelev opened #72 "Describe propagators API"
Hi @carlosalberto . Can you please help writing docs and specifically - document propagators API?

[2019-06-06 17:37] SergeyKanzhelev commented on #52
@mayurkale22 would you be willing to make a stub in documentation on the package structure?

[2019-06-06 17:38] songy23 commented on #41
Sure I'll take care of it (btw it's `DistributedContext` api now :) )

[2019-06-06 17:38] SergeyKanzhelev commented on #40
@bogdandrutu if you will have time for this issue - would be great. Otherwise I can take it

[2019-06-06 17:58] austinlparker commented on #30
I think just 'adapter' makes more sense, especially where there's an existing telemetry or tracing functions that we would be adapting to OTel (java, .net, etc.)

[2019-06-06 19:35] bogdandrutu opened #87 "API: Provided Samplers in the SDK"
Currently we in the API we provide implementation of the Samplers with alwaysOn and alwaysOff (neverSample).

Proposing:
1. Change the name to more clear names as defined in https://github.com/open-telemetry/opentelemetry-proto/blob/master/src/opentelemetry/proto/trace/v1/trace_config.proto#L53
2. Add the AlwaysParent sampler which probably should be the default Sampler when no implementation link

[2019-06-06 20:08] SergeyKanzhelev commented on #46
Tags were renamed to DistributedContext entries

[2019-06-06 21:40] mayurkale22 commented on #52
Sure, do you expect to see the package structure for the API (for now) with sub-packages and small description of each?

Something like,
[code]

[2019-06-06 21:45] SergeyKanzhelev commented on #52
yes. Something like this.

[2019-06-06 23:58] jmacd opened #76 "API: Consistent tag/attribute/field/resource namespacing and structure"
The OpenTelemetry Java prototype has, in various places, five different kinds of key:value.  Spans have attributes, context has tags, metrics have fields, events have fields, and everything has resources.  The current Resource definition is a structure containing a type name as well as a set of key:values, whereas all of the other places where key:values appear, there is no "type" parameter.

As a

[2019-06-06 23:59] jmacd opened #77 "SDK: Reduce size of SpanData struct"
In the Java prototype, the SpanData struct has several fields that could be encoded in a more generic way.  Doing so benefits the implementations which can be smaller and simpler as a result, because they will have fewer SpanData fields to attend to.  We have two generic structures that can be taken advantage of.  Attributes will be useful when there is a one-to-one relationship with the span; eve

[2019-06-07 06:02] SergeyKanzhelev opened #79 "Why do we need @Nullable Boolean hasRemoteParent in shouldSample?"

[2019-06-07 06:59] alramlechner commented on #10
From our (Dynatrace) perspective, the component should not be optional. OTel users should be enforced to provide a component name.
I would change the sample posted by @tedsuo therefore in to following way:

`tracer = OpenTelemetry.getTracer("io.opensomething.contrib.mongo").toBuilder().
                                      setResource(resource).
                                      build();
`

o

[2019-06-07 15:09] SergeyKanzhelev commented on #9
Closing as it was decided. If there are alternative proposals - please file a new issue

[2019-06-07 15:09] #9 closed

[2019-06-07 16:47] songy23 commented on #79
To support `always-parent` sampler, which I remember may become the default sampler.

[2019-06-07 17:02] bogdandrutu commented on #79
Not needed for the moment I think.

[2019-06-07 18:21] jmacd commented on #83
@yurishkuro Can you clarify "counters seem to be fundamentally different and can never be captured via raw measure, is that correct?". I think in terms of a raw measurement being a simple numerical value. Whether we call something a count or a gauge depends on the aggregations that make sense. If you're thinking of something as a count, it means you intend to compute a sum or a rate, but you could

[2019-06-07 19:54] jmacd commented on #71
In OpenTracing, it required just two new options, one on Start and one on Finish. I can't see how it would require more than two new optional parameters.

[2019-06-07 19:57] bogdandrutu commented on #71
What about Events? Do we not want to have the ability to set a Timestamp for them?

[2019-06-07 20:42] SergeyKanzhelev opened #85 "API: explain what timestamp precision should be"

[2019-06-07 21:06] jmacd commented on #60
In this comment (https://github.com/open-telemetry/opentelemetry-specification/issues/55#issuecomment-499166576), I've argued that instrumentation APIs should not be used to read back their own diagnostics state. It limits implementation strategies too severely, so anything to do with reading diagnostics state at runtime should be limited to the SDK.

[2019-06-07 21:08] yurishkuro commented on #83
@jmacd that's fair

[2019-06-07 21:08] bogdandrutu commented on #60
API should not expose any reader for the recorded data. This will enforce a specific implementation for the API.

[2019-06-07 21:12] SergeyKanzhelev commented on #60
than we need to make sure SDK has callbacks and methods to implement the kind of scenarios @discostu105 requested. Changing title to "SDK"

[2019-06-07 22:06] jmacd commented on #71
This is important for the case where the API's Span.Event() method is called from within a logging library integration. See the OpenTracing Java call: https://github.com/opentracing/opentracing-java/blob/d91d7072e141fa66265946b5164c249bf3045017/opentracing-api/src/main/java/io/opentracing/Span.java#L87

If it were an SLF4J integration, you'd want to use the `getTimeStamp()` value of the  `LoggingE

[2019-06-07 22:31] jmacd commented on #68
To agree with @rochdev, the caller should be able to override all `Span` properties including span/event timestamps as well as span resources. The argument is that we must provide a way for the caller to set timestamps and resources because these APIs will be called via integrations from other tracing/logging implementations. See this proposal https://github.com/open-telemetry/opentelemetry-specif

[2019-06-07 22:38] jmacd commented on #62
To follow up on this, I've posted an issue https://github.com/open-telemetry/opentelemetry-specification/issues/76 about making resources into structured values instead of a distinguished type in the API, that would also address the issue with structured events in issue https://github.com/open-telemetry/opentelemetry-specification/issues/67.

[2019-06-07 22:40] jmacd commented on #67
Added this issue https://github.com/open-telemetry/opentelemetry-specification/issues/76 about supporting structured values, which would IMO be a better way to represent resources.

[2019-06-07 23:30] SergeyKanzhelev commented on #53
I need to update the doc with AlwaysParent sampler.

[2019-06-07 23:34] SergeyKanzhelev commented on #53
See https://github.com/open-telemetry/opentelemetry-java/issues/390

[2019-06-08 05:05] SergeyKanzhelev commented on #53
as related issue was moved to the next milestone, moving this one as well

[2019-06-10 15:45] #57 closed

[2019-06-10 15:45] #30 closed

[2019-06-10 15:46] #49 closed

[2019-06-10 17:02] SergeyKanzhelev opened #91 "API: should types be thread safe?"
See this comment: https://github.com/open-telemetry/opentelemetry-specification/pull/78/files/334747818bf8bca359aa35a6a6b81d1e880ed8b1#diff-79e4e1e0104e6afca76d39aadac18f20

We need to set an expectation on thread safety of APIs

[2019-06-10 17:32] SergeyKanzhelev opened #92 "Attributes on SpanData: should they be a dictionary or enumerable."
See discussion: https://github.com/open-telemetry/opentelemetry-specification/pull/78#discussion_r292094736

@tigrannajaryan:

Is it true that typical use is enumeration? This rules out use cases which need to augment / modify specific attributes efficiently.

@SergeyKanzhelev

augmentation is not supported as returned collection is immutable. What scenario do you see when you need an attribute va

[2019-06-10 17:32] SergeyKanzhelev commented on #92
Same for labels on Resource

[2019-06-10 18:09] bogdandrutu commented on #91
Indeed some classes MUST be thread safe like Span or SpanData. I don't think SpanBuilder should be for example.

[2019-06-10 19:29] #52 closed

[2019-06-10 20:52] songy23 opened #93 "API: Consider specifying the maximum value of EntryTTL."
From discussion: https://github.com/open-telemetry/opentelemetry-specification/pull/73#discussion_r292176134.

[2019-06-10 21:46] tigrannajaryan opened #94 "Add recommendations about blocking / queuing / resource consumption for language libraries"
From: https://github.com/open-telemetry/opentelemetry-specification/pull/84#discussion_r292158584

[2019-06-10 22:12] #35 closed

[2019-06-10 22:26] SergeyKanzhelev opened #95 "SpanData is final(sealed) class"
@bogdandrutu pointed that in Java API implementation SpanData is not really an abstact class as the constructor is private. So we need to change wording describing SpanData.

Separate issue will be tracking whether lazy -calculated `SpanData` is needed

[2019-06-10 22:27] SergeyKanzhelev opened #96 "Should SpanData support lazy-calculated properties?"
Related to:
https://github.com/open-telemetry/opentelemetry-specification/issues/95

[2019-06-10 22:38] #46 closed

[2019-06-10 22:39] SergeyKanzhelev commented on #38
@songy23 while @c24t is on vacation - can you take this one?

[2019-06-10 22:39] SergeyKanzhelev commented on #37
@songy23 while @c24t is on vacation - can you take this one?

[2019-06-10 22:43] songy23 commented on #41
Need one more PR for `DistributedContext` and `PropagationFilter`.

[2019-06-10 22:44] songy23 commented on #38
I'll take a look.

[2019-06-10 22:44] songy23 commented on #37
Sure

[2019-06-10 22:49] bogdandrutu commented on #37
In languages where builder patterns are not common like go, probably we should allow an implementation like a startSpan function where we allow a StartSpanOptions struct with all the capabilities that we have on the builder. Is that reasonable?

[2019-06-11 06:01] danielkhan opened #99 "Discuss using http.request.* and http.response.*"
For HTTP we often have to distinguish between request and response which leads to long field names like `http.requestheaders` and `http.responseheaders`.

So instead of using `http.requestheaders` it could be `http.request.headers`, `http.response.headers`.

This might be also applicable to other protocols.

ECS does something similar https://github.com/elastic/ecs/blob/master/schemas/http.yml

[2019-06-11 06:17] danielkhan opened #100 "Map http status codes to OpenTelemetry status"
After the HTTP typed spans are part of the spec we have to map `status_code` to OpenTelemetry span status.
Reference:
https://github.com/open-telemetry/opentelemetry-specification/blob/c4b7f4307de79009c97b3a98563e91fee39b7ba3/work_in_progress/opencensus/HTTP.md#status

[2019-06-11 17:52] songy23 opened #103 "API: Consider having `GetEntry` instead of `GetEntryValue` in `DistributedContext`."
Original discussion: https://github.com/open-telemetry/opentelemetry-specification/pull/97/files#r292227302.

The main advantage of `GetEntry` is it also returns the metadata associated with the key-value pair.

[2019-06-11 18:45] tigrannajaryan commented on #37
This may not always be suitable. For example you do not always know all attributes that you want to include in the Span when the span is started. Sometimes the attributes become known after an operation that we want to observe has progressed for a while. And you cannot delay calling startSpan() function until this information becomes known because it would make the start time wrong. So this means

[2019-06-11 21:53] #41 closed

[2019-06-11 22:20] SergeyKanzhelev commented on #37
Span already support setters. Not everything can be set after creation. Like `SpanKind` can only be set on start. But attributes have setters.

I think in general SpanBuilder differenciate nicely between creation-only properties and other. So implementation can rely on those properties being immutable.

[2019-06-11 22:23] SergeyKanzhelev commented on #96
Text may be:

`SpanData` MUST be an abstract class or interface. As `SpanData` is used for the
code instrumentation, it is NOT expected alternative implementations of a
`SpanData` will be supplied by consumer of telemetry (i.e. telemetry vendor).
Typical use case for alternative implementations is to implement lazy
calculation of properties and minimize the number of allocation required at
instrum

[2019-06-11 22:41] tigrannajaryan commented on #37
Sounds good. So the proposal is to have `startStart(StartSpanOptions)` instead of SpanBuilder and allow the rest of span data to be modified via setters.

I wonder if it is still worth keeping the Builder pattern universally in all languages for uniformity. I do not have a strong opinion on this, there are cons and pros with doing it.

[2019-06-11 23:22] songy23 opened #108 "API: Should we move the current span API to be part of Scope?"
Original discussion: https://github.com/open-telemetry/opentelemetry-specification/pull/105#discussion_r292694745.

[2019-06-11 23:29] #95 closed

[2019-06-12 00:26] tigrannajaryan opened #109 "Define API compatibility story"
We need to define the API compatibility story, particularly:
- How OpenTelemetry API evolves over time, what changes are allowed and how they should be made, how breaking and non-breaking changes are handled.
- How we ensure third party libraries that are instrumented using old OpenTelemetry versions remain usable after the API changes.
- How we ensure interoperability of application code and of m

[2019-06-12 00:27] tigrannajaryan commented on #109
@SergeyKanzhelev please assign this to me, I will write the spec.

[2019-06-12 02:37] saiya commented on #94
From a user point of view, I strongly agree with the principle `The SDK/exporter should not block the customer's code`. It is difficult to allow tracing SDK to block application in large / chaotic system (my company is operating such system).

In OpenCensus, I proposed pull request and discussed about the blocking issue (in https://github.com/census-instrumentation/opencensus-java/pull/1837, https

[2019-06-12 04:29] songy23 commented on #94
Like I mentioned before in https://github.com/census-instrumentation/opencensus-java/pull/1837#issuecomment-499748711, I personally prefer to provide the configuration on blocking/non-blocking through static configs, like manifest/environment variables/flags etc.

Speaking of contributions, I think library-guidelines.md is good place to start with since non-blocking will affect the overall behavio

[2019-06-12 08:14] danielkhan opened #110 "Distinguish between physical and logical operations"
It'll be helpful to clarify whether this is a physical operation or logical one. My suggestion: only mark `SpanKind = Client` for the actual physical operation, for logical operation use `SpanKind = Internal`.

For example, the user would have `requests.get('https://www.wikipedia.org/wiki/Rabbit')`, which results in two physical HTTP requests - one 301 redirection, another 200 okay. The expected r

[2019-06-12 14:04] SergeyKanzhelev commented on #91
closed via #104

[2019-06-12 14:04] #91 closed

[2019-06-12 15:47] carlosalberto commented on #37
I personally think it would be better to suggest in the specification using builders, but not enforce them. For example, in Python it's not a good fit at all. I agree uniformity is good, but not at the expense of each language's conventions ;)

Wondering if we could also allow parameters to appear directly, instead of a `StartSpanOptions` struct - this could be specially useful for languages with

[2019-06-12 17:02] songy23 opened #112 "API: Should propagating formats be part of Tracer or not?"
Original discussion: https://github.com/open-telemetry/opentelemetry-specification/pull/105#discussion_r292622424.

[2019-06-12 22:02] tylerbenson commented on #70
My primary concern with this decision is when we do move context, it might be a significant breaking change.  Usage seems to be encapsulated to `unsafe` packages, so maybe it won't be so bad... Just worried about API leakage.

[2019-06-12 22:31] tigrannajaryan opened #114 "Add a section on compatibility with OpenTracing to Compatibility doc"
We need a section on compatibility of OpenTelemetry with ~OpenCensus and~ OpenTracing and how the gradual transition for existing ~OpenCensus~/OpenTracing users will be handled.

[2019-06-13 05:48] #38 closed

[2019-06-13 06:35] #24 closed

[2019-06-13 06:37] #85 closed

[2019-06-14 10:48] discostu105 commented on #71
I support the proposal to remove recordSpanData from the API.

For us, the problem is: We implement a Tracer, which strictly relies on creating our own datastructures (with additional information) on-thread (sync) for various reasons. Having to implement an API like this would mean, we'd have to reside with the information given, using a correlation mechanism (via trace-id/parent-span-id) that we

[2019-06-14 11:34] discostu105 commented on #10
I think there was a bit of a mixup of my intents of this "component" (sorry for late reply). Maybe name is misleading. I actually did not mean to identify *"the component being traced"*, but rather *"the tracing-implementation"*. That's why the existing "component" tag from OpenTracing is not really what I meant here.

So, IMHO this should not be conflated with "resources", as these are in my unde

[2019-06-14 16:11] SergeyKanzhelev commented on #71
@discostu105 how would you propose to address the need to report spans asynchronously? Take a direct dependency on SDK?

[2019-06-14 17:17] mayurkale22 opened #119 "API: Span - use `SetName` instead of `UpdateName`"
Originates from https://github.com/open-telemetry/opentelemetry-node/pull/31#discussion_r293860967

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tracing-api.md#updatename

[2019-06-14 20:31] SergeyKanzhelev commented on #119
we had a few discussions regarding this name. some reflections of those discussions are here: https://github.com/open-telemetry/opentelemetry-java/issues/23

Basically the issue with setName is that we need to emphasize that this is a major change for a Span and is it not the same as set attribute.

In node I'd suggest to put a big remark in code that the name is not aligned with the spec. Ideally

[2019-06-14 20:54] SergeyKanzhelev commented on #37
@songy23 do you think you can send PR for this today?

[2019-06-14 20:54] SergeyKanzhelev commented on #39
@carlosalberto any progress here? We need to wrap up this milestone.

[2019-06-14 21:15] songy23 commented on #37
Sure, sending a PR soon.

+1 to this. Builder is just a suggested form rather than an obligation of each language implementation. I'll send a PR based on the current Java Builder pattern but please feel free to suggest otherwise.

[2019-06-14 21:52] SergeyKanzhelev opened #123 "Declare relationships with OpenMetrics in Metrics section of terminology document"
Need to state what our relationships with the OpenMetrics are. Why our proto file is not exact copy for instance.

[2019-06-14 22:20] jmacd commented on #71
With a `recordSpanData` API, the instrumentation API includes both a procedural way to report traces and a data-oriented way to report traces. I still feel that one mechanism should be sufficient, and that if the procedural mechanism for starting traces (i.e., the builder pattern, or whatever constructor pattern is idiomatic) is *complete*, then the data-oriented mechanism can be implemented on to

[2019-06-14 22:41] SergeyKanzhelev opened #125 "Tracer must expose getter for sampler"
Sampler access is needed if you are using `recordSpanData` and still want to apply sampling

[2019-06-14 22:54] SergeyKanzhelev commented on #58
Closed via #102

[2019-06-14 22:54] #58 closed

[2019-06-14 22:55] SergeyKanzhelev opened #126 "Add more metric types"
See this comment: https://github.com/open-telemetry/opentelemetry-specification/pull/121#discussion_r294012431

[2019-06-15 13:24] tigrannajaryan opened #128 "Add a section on vendor API compatibility to Compatibility doc"
OpenTelemetry SDK will have an API that vendors can implement, such as Exporter API that allows SDK to call vendor specific exporters to deliver telemetry data.

We need to define the compatibility guarantees for this API. This can be tied to the guarantees for end-user API (instrumentation API) or it may have a different set of rules.

This issue needs to clarified and added to the compatibility

[2019-06-15 16:37] SergeyKanzhelev commented on #15
Also from @iredelmeier on some PR:

This is one of those tabs vs. spaces discussions that we need to solve with the linter

[2019-06-15 20:21] tigrannajaryan opened #129 "Should API be namespaced by version or not and how exactly"
The OpenTelemetry API can be namespaced by major version numbers, e.g. API 0.x.x is in io.opentelemetry, 1.x.x is in io.opentelemetry.v1, etc.

This allows one SDK to implement multiple major version APIs and one application to contain a mix of code that calls different API versions.

With a namespaced API SDK will typical implement lower version numbers are thin shims that map the API calls to th

[2019-06-15 21:40] iredelmeier commented on #15
Definitely, @SergeyKanzhelev.

I just came across [markdownlint](https://github.com/DavidAnson/markdownlint). Looks like it has support for some of what we want/might want, as well as the ability to add custom rules. Thoughts?

[2019-06-17 12:41] pavolloffay commented on #39
@carlosalberto have you started? I wanted to have a look at this one.

[2019-06-17 13:56] rochdev commented on #119
I think this depends mostly on semantics. Is it possible to create span with no name, and only set the name later on? If it's not possible, then I agree `updateName` better describes the behavior.

[2019-06-17 14:08] rochdev commented on #59
As described in https://github.com/open-telemetry/opentelemetry-node/pull/31#discussion_r293864070, I'm not a fan of this concept in general. It's basically impossible to have a range of values to cover every use case. There is also not enough information included to actually understand the source of the error if any.

I think it would be more flexible to have an error code as an arbitrary string,

[2019-06-17 14:56] SergeyKanzhelev commented on #59
@rochdev can you please create a separate issue for this and we will mark it with the next milestone for the discussion

[2019-06-17 14:57] SergeyKanzhelev commented on #119
`name` is the only parameter we ask for when creating a `SpanBuilder`. So it is absolutely required.

[2019-06-17 15:08] arminru commented on #15
I'm using markdownlint as a VS Code plugin for my internal projects and found it to be working well so far. I've only been using the default config and didn't add any custom rules or enforce it in our CI yet, though.

[2019-06-17 16:50] jmacd commented on #125
I can't be certain from this description, but as issue 71 lays out, I suspect would not be needed if we removed `recordSpanData` from the user-facing API.  Could you clarify?

[2019-06-17 16:59] jmacd commented on #119
I feel that `SetName` is more consistent with other methods on Span.

[2019-06-17 17:02] SergeyKanzhelev commented on #15
I also use markdownlint for VSCode.

If it can be integrated with CI - it's great. As @yurishkuro suggested somewhere before - an option with the automatic formatter will make peoples life way better. Does mardownlint allows this? I believe Yuri was suggesting https://prettier.io/

[2019-06-17 17:08] SergeyKanzhelev commented on #125
@jmacd if API will be removed - there may not be a need for sampler. Right now the API is a bad place where scenario of reporting out-of-band spans using the same sampling algo is not possible.

[2019-06-17 17:11] #37 closed

[2019-06-17 18:33] jmacd commented on #119
I don't see how the API and sampling are related. Sampling is an SDK function, right?

[2019-06-17 18:38] jmacd commented on #125
I can't understand this claim, because I still haven't see a formal argument why two APIs are required to support out-of-band reporting.

[2019-06-17 21:34] carlosalberto opened #133 "More clarifications on mutually exclusive options in Span creation"
So #311 says:

  or corresponding `Setter`s are called multiple times, only the last specified value will be used.

Using the last specified value only makes sense for the builder pattern - for languages like Python, you need to actually decide which one takes precedence over each other.

[2019-06-17 22:07] carlosalberto commented on #21
I remember that we wanted to do this in OT Java (although we did this for OT Python, for example), and I'm definitely in agreement with this change.

Wondering if there's a way to poke people for a counter example (if there's any at all ;) )

[2019-06-18 01:19] draffensperger commented on #59
IMO one of the goals here is to try to standardize the different status codes for RPC transports (gRPC, HTTP, Thrift, etc.) so that trace analysis and visualization tools could have a standardized least-common-denominator concept of status to know that e.g. something is a user error vs. a server timeout vs. a permissions error even if it doesn't know the fine-grained original status reason.

Would

[2019-06-18 04:37] SergeyKanzhelev commented on #59
@draffensperger I'm sorry I lost the sense of what you are proposing to change. In any case, this issue is to describe what was proposed in Java specs so we will have a baseline to start discussions from.

@tedsuo do you think you gonna finish with it soon?

[2019-06-18 04:42] SergeyKanzhelev commented on #125
@jmacd we discussed it a few times already. Initial agreement is formulated in Java API. And I'm saying it is not complete. Either sampler needs to be exposed or API needs to be changed. Thus the issue

[2019-06-18 04:46] SergeyKanzhelev commented on #119
The name highlights the fact that it is doing a different thing and is more dangerous than simple `Set` method. For instance, it wouldn't re-apply sampling. Thus it was made non-consistent with other `Set` names.

[2019-06-18 12:31] carlosalberto commented on #67
So currently the OT Shim tries to convert to one of the base types (numerical, boolean), and fallbacks to `String`, which clearly is not enough, based on this issue.

I'm wondering if adding `Object` as a supported type in the API side is (for `AttributeValue`) would be enough...

[2019-06-18 20:08] rochdev commented on #59
@SergeyKanzhelev From the description of @draffensperger I think this may be useful in a few contexts. However, the most important error code (500 Internal Server Error) doesn't seem to be included. Which code should be used for exceptions?

[2019-06-19 17:48] rochdev opened #139 "Add start time and duration (or end time) options on Span"
Right now the start time and end time are always calculated internally. While this works in most cases, there are cases where it needs to be set explicitly.

The most common use case is to reconstruct a trace from tracing metadata received from another process. This is how [apollo-tracing](https://github.com/apollographql/apollo-tracing) works for example.

This is also an option that is available

[2019-06-19 18:16] #45 closed

[2019-06-19 18:41] tedsuo commented on #72
Throwing in the towel on this one! Apologies, I'm unavailable for the next two weeks.

[2019-06-19 18:41] tedsuo commented on #59
Throwing in the towel on this one! Apologies, I'm unavailable for the next two weeks.

[2019-06-19 18:51] rochdev opened #140 "Replace DistributedContext with more specific interfaces"
The current `DistributedContext` API is trying to handle too many concerns, which is why an `EntryMetadata` needs to be added to every `Entry` which makes it a confusing and difficult to use interface.

These are the separate concerns that the current API is handling:

* Propagating context within the process
* Propagating context to the next process
* Propagating context across the entire trace

[2019-06-19 18:54] carlosalberto commented on #59
I can take this one.

[2019-06-19 18:57] SergeyKanzhelev commented on #59
@rochdev good point that is was missing from the mapping table. Must be "Unknown" as it is an unknown error on server side.

[2019-06-19 22:07] c24t opened #141 "Should span creation operations raise exceptions?"
From https://github.com/open-telemetry/opentelemetry-python/pull/11#pullrequestreview-245809272.

The java tracer API docs note that calling `spanBuilder` with a null `spanName` arg should [raise a `NullPointerException`](https://github.com/open-telemetry/opentelemetry-java/blob/8520de558133c2e09f9f0de8b07f36c377b3555d/api/src/main/java/io/opentelemetry/trace/Tracer.java#L149). `NoopSpanBuilder` [

[2019-06-19 22:17] SergeyKanzhelev commented on #141
does this document looks good to be moved to spec? https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/docs/error-handling.md

I'm happy to generalize it

[2019-06-20 01:00] bputt opened #142 "Add tls support for exporters"
We've extended opencensus to use tls for zipkin exporter and imagine it would be helpful to others if tls was an option for all exporters.

Should the spec include TLS for exporting? I know this doesn't matter for certain cloud providers, but for non-cloud native environments, it's required (whether we setup a local proxy that adds tls or if the exporter supported it out of the box (which would be

[2019-06-20 06:57] SergeyKanzhelev commented on #142
What does TLS stands for in this context?

[2019-06-20 15:25] draffensperger commented on #59
I noticed there is also an [INTERNAL](https://github.com/open-telemetry/opentelemetry-js/blob/802182ee095896cd36c7f29bbf48d0ef169b2047/packages/opentelemetry-types/src/trace/status.ts#L146) status code. Could that be the right status for an internal server error?

[2019-06-20 15:54] tedsuo commented on #112
I feel that context propagation should be separated from Tracers. Here's why:

In our Otel architectural design, we would like to have a clean separation between Observability (Tracing, metrics,  etc) and context propagation (both in-process and distributed propagation). Store any data in the Propagation layer, write telemetry data with the Observability layer. This is a good design, and it helps

[2019-06-20 16:27] #133 closed

[2019-06-20 16:37] SergeyKanzhelev commented on #59
@draffensperger 500 is about the error you simply don't know details for. You still made a successful communication. Internal is when library crashed attempting to establish communication or parse the response. In http world it will most probably be one of client library exceptions, not a status code based one.

[2019-06-20 17:01] c24t commented on #141
That looks great, especially

We still need to decide whether span creation should use a default name instead of raising an error though. If we do this in the python client we'll break with the java impl now, so we need to either mention this in the spec or decide that it's up to each language API to define defaults like this.

[2019-06-20 21:43] SergeyKanzhelev opened #143 "Receiving Tracer on library construction"
see discussion: https://github.com/open-telemetry/opentelemetry-specification/pull/135#issuecomment-504210646

[2019-06-20 21:52] #40 closed

[2019-06-20 21:53] songy23 opened #144 "API: `record` should take a generic `Attachment` class instead of having tracing dependency."
Original discussion: https://github.com/open-telemetry/opentelemetry-specification/pull/137#discussion_r295895301.

[2019-06-20 23:33] SergeyKanzhelev opened #145 "Eliminate Measurement class to save on allocations"
Current API for recording raw measurements requires to create a measurement, create a list of measurements and, finally, record this list - which in many cases will result in allocation of an object to queue this list.

Even when no SDK present instrumentation will allocate objects. If allocation of a `Measurement` can be eliminated by returning empty measurement when SDK is not present or `Measur

[2019-06-20 23:35] SergeyKanzhelev opened #146 "Implement three more types of Metric"
Proposed API only exposed two metric types: counter and gauge. Other types needs to be represented - histogram and summary

https://github.com/open-telemetry/opentelemetry-proto/blob/fe0fa0bd3ef0a42f3ccc6645f7b11e26418f96b1/src/opentelemetry/proto/metrics/v1/metrics.proto#L62-L97

[2019-06-20 23:50] bputt commented on #142
@SergeyKanzhelev for example, the zipkin exporter, it doesn't have an option to pass in an SSLContext where we could send the data to an https endpoint.

[2019-06-21 04:00] flands commented on #142
@bputt whether an exporter supports TLS or not is up to the exporter. Agreed, depending on the configuration, TLS may be a requirement. Some exporters, such as the opencensus exporter, support TLS today. Is the purpose of this issue to standard the configuration parameters for TLS in an exporter?

[2019-06-21 04:02] bputt commented on #142
Yes, have some standardization that allows TLS to be put into place within an exporter

[2019-06-21 04:07] flands commented on #142
Got it -- to that end, there are multiple common parameters that exporters should standardize on beyond TLS. Some common ones today:

[code]

Today, `secure: true` enables TLS -- the key/value can be debated.

@SergeyKanzhelev is the point of the specification for API definition only? If so, where should receiver/exporter standards live? If not, I will create a section for receivers and exporters

[2019-06-21 04:16] bputt opened #148 "Add spec for handling baggage (ex. custom http headers)"
We need a spec to help address handling baggage for vendor specific information for its tracing ecosystem.

For example, we have a custom header called foo and this header is useful for client to client communication as we may sample differently based on what value is in that header (like preventing an upstream system from flooding a downstream system as we could offer a lower sampling rate for th

[2019-06-21 04:26] bputt opened #149 "Configuring variables"
Not entirely sure if a spec is what's needed, but it would be nice if there was a way to configure as much as possible.

For example: https://github.com/census-instrumentation/opencensus-java/blob/master/impl/src/main/java/io/opencensus/impl/internal/DisruptorEventQueue.java#L99

This is a pretty simple example of something that we think should be configurable, but isn't. If everything wasn't decl

[2019-06-21 15:59] SergeyKanzhelev commented on #142
@flands that was the first iteration. The intention to specify SDK as well. This set of settings is a good one.

[2019-06-21 20:17] #59 closed

[2019-06-21 20:17] #39 closed

[2019-06-21 20:19] #72 closed

[2019-06-21 21:43] bogdandrutu commented on #144
Pros:
* Decouple metrics API from trace API.
* Attachments can be used for other data besides SpanContext - for example extra tags or entries from the distrubutedcontext, or any other information.

Cons:
* May generate an extra allocation in some languages.

[2019-06-21 23:47] SergeyKanzhelev commented on #148
Additional headers can be handled using the [Propagators API](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/propagators-api.md). Is it what you are looking for?

[2019-06-21 23:48] SergeyKanzhelev commented on #148
Moving to the "SDK revision" milestone in case it will turn out into the feature request

[2019-06-21 23:52] SergeyKanzhelev commented on #61
Also define which environment variables SDK uses to initialize Resource from out of the box

[2019-06-21 23:53] SergeyKanzhelev opened #155 "Describe built-in SpanProcessors"
SDK provides a few built-in span processors. These needs to be documented

[2019-06-21 23:55] SergeyKanzhelev opened #156 "Document Exporter API"
Document API that exporters needs to implement. And how exporters MUST be registered with the TracerSDK

[2019-06-21 23:58] SergeyKanzhelev opened #157 "Describe MetricExporter API"
MetricProducer (or whatever it's name) is used to subscribe on metrics by metric exporter

[2019-06-22 00:00] SergeyKanzhelev opened #158 "Describe the span class used by Exporters"
Describe the class used by Exporters: how to get it's instance and it's getters/setters

[2019-06-22 00:01] SergeyKanzhelev opened #159 "Describe MetricProcessor API"
Describe how to register the View that aggregate individual measures

[2019-06-23 17:59] cstockton commented on #20
@SergeyKanzhelev It seems that "We can always do this in the future" is the central argument in the gist I posted and in the OpenTelemetry project in general. The https://opentelemetry.io site states **"OpenTelemetry is the next major version of the OpenTracing and OpenCensus projects"** meaning this is the future, right now- correct? If we change nothing about OpenTelemetry and simply adopt the m

[2019-06-24 06:19] SergeyKanzhelev commented on #20
@cstockton please read our goals for this version: https://medium.com/opentracing/merging-opentracing-and-opencensus-f0fe9c7ca6f0

As for the alternative model - OpenTracing used to have some streaming tracers. And we keep those implementations in mind while discussing API (not SDK). So API will allow to implement an alternative model based on OpenTracing experience. Some even say they believe it

[2019-06-24 14:19] carlosalberto commented on #20
Observe this is due to 1) Trying to easy backwards compatibility and 2) Stick to what OT/OC have, to move faster for now (this is why we are not focusing on **adding** new stuff). The exception is, of course, things that **greatly** need a lift - but otherwise, we are being slightly conservative ;)

(Not to discourage you to discuss things, just a reminder of the current approach)

[2019-06-24 18:54] bogdandrutu commented on #125
I think this depends on the issue (which unfortunately I cannot find anymore) about keeping SpanData vs offering APIs to allow start/end timestamps.

[2019-06-26 08:41] pavolloffay opened #164 "Remove hasRemoteParent from Sampler.shouldSample method"
Created from https://github.com/open-telemetry/opentelemetry-java/pull/430#discussion_r297311630

https://github.com/open-telemetry/opentelemetry-java/blob/ed42237b6c71052bbffe4d849647c53fae81b246/api/src/main/java/io/opentelemetry/trace/Sampler.java#L44-L50

cc @bogdandrutu

[2019-06-26 16:46] jmacd commented on #92
I do not agree that Span attributes should be readable by the process. A streaming implementation will have sent them downstream immediately and have no state to read back.

[2019-06-26 16:54] jmacd commented on #146
@iredelmeier and I are preparing several metrics RFCs and I would suggest we hold off on specifying Histogram and Summary until then.

[2019-06-26 16:54] jmacd commented on #145
@iredelmeier

[2019-06-26 16:55] jmacd commented on #144
@iredelmeier

[2019-06-26 17:00] bogdandrutu commented on #164
To clarify a bit the comment: I am proposing to remove the hasRemoteParent from the Sampler interface because with the latest changes in the SpanBuilder, a child Span can be started with a SpanContext as parent even if the parent is not remote, so we cannot determine correctly if the parent is remote or not.

[2019-06-26 17:02] bogdandrutu commented on #146
Please make sure that this is backwards compatible with the OpenCensus which has all these types supported (directly or indirectly).

[2019-06-26 18:14] tigrannajaryan commented on #92
While I understand that streaming implementations may be desirable in some cases, I'd like to point out that they have their own drawbacks, particularly with what they impose on Agents/Collectors that may be present in the delivery chain from the application to the backend.

Collectors usually provide capabilities to filter or modify spans based on their attribute values. If streaming implementati

[2019-06-26 19:21] jmacd commented on #92
@tigrannajaryan Agreed. An intermediate process is needed to reconstruct the SpanData from the event stream. The nice thing about this arrangement is that it can be done in a more efficient language, it avoids deadlock and self-diagnostic interactions, it can use riskier code, and so on.

The Agent/Collector infrastructure is designed for the current SpanData exporters. A streaming tracer would de

[2019-06-26 19:30] bogdandrutu commented on #92
SpanData is only used in the API to report out-of-band spans, so we do not expose this for in-flight spans or "active" spans. Independent of keeping or not the SpanData in the API to report out-of-band spans we have no intention to expose a get API (except getSpanContext) on active in-progress spans (I think we said that from the beginning, so please don't be worried about that).

Coming back to t

[2019-06-26 19:32] tigrannajaryan commented on #92
@jmacd yes, makes sense.

[2019-06-26 19:39] tigrannajaryan commented on #92
@bogdandrutu I think "enumerable" can be understood as a multimap or simply as a list of key/value pairs, so that there is no way to query efficiently by given key, all you can do is enumerate all attributes in a SpanData sequentially.

I think the decision how exactly the attributes should be exposed should be dictated by use-cases which require reading them from SpanData. I don't know what are s

[2019-06-26 21:37] jmacd commented on #92
I wonder why we're not sticking with the OpenCensus model for span attributes. In that model, there were Insert and Delete operations, which definitely imply that span attributes are intended to be thought of as dictionaries.

I support the dictionary interpretation mainly because when these spans are presented as structured data, I'd like an efficient query unique path for filtering.

Note that O

[2019-06-26 22:04] jmacd commented on #96
[Not sure if this is stale or should be closed. I have related questions.]

I see a lot of value in having a way to support lazy values, but I feel it would be a shame if I was forced to use the SpanData abstraction for a _whole span_ when my existing code uses an active Span object already.

OpenTracing didn't firmly specify support for a lazy value type, but it has been implemented in some of th

[2019-06-26 23:44] bogdandrutu commented on #71
I spent a lot of time thinking about this, and want to document some of my thoughts (I talked with @SergeyKanzhelev and @jmacd about this as well). These represents my thoughts not their, I mentioned them here for context, but they may have different opinions than mine.

## Use Cases
1. Span is recorded synchronous but for some of the events (like start/end/an event) a sync hook is not provided or

[2019-06-26 23:49] bogdandrutu commented on #71
@discostu105 if you want to support the second use-case that I described in my previous comment you will need to support something very similar with the current SpanData where you cannot manipulate the SpanContext or anything synchronously.

[2019-06-27 13:12] yurishkuro commented on #92
In Jaeger it varies by language, in some cases both tags would be kept.

The reason we didn't want the API to guarantee map semantics is because doing so precludes streaming implementation, since you need to keep the whole map to guarantee last-wins. Instead, that could be done in the tracing backend.

[2019-06-27 23:21] bogdandrutu opened #165 "Proposal: Focus on functionality/capabilities rather than how"
While discussing with some of the community members (e.g. @jmacd) there were some issues about implementing a functionality in a specific way (e.g. this object MUST be an interface).

Here is an example of how the [AddLink](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tracing-api.md#addlink) can be re-written:

------------------
See [Links](https://githu

[2019-06-28 05:14] SergeyKanzhelev commented on #165
Definitely it will make specs better. Good feedback.

[2019-06-28 05:17] SergeyKanzhelev commented on #96
If #71 will be resolved by removing SpanData abstraction - many issues can become irrelevant. This one perhaps may be re-purposed to raise the question whether the entire `Span` can be lazily calculated. For instance, entire attributes collection.

[2019-06-28 18:03] jmacd commented on #165
Agreed! Here's another example:

I've been thinking about the current `SpanData` issues, and realized that I've seen more than one requirement to justify the current design. The apparent requirements are:

(1) Provide a way to specify out-of-band or asynchronous spans, including control over their resources and timestamps, and potentially a way to indicate non-local behavior (e.g., to avoid attach

[2019-06-28 18:12] bogdandrutu commented on #165
@jmacd let's not mix the issues, please copy in the SpanData issue comments related to that to make sure we have all thoughts about that in one place.

Here I am trying to just make sure everyone is ok with changing the way we write the Specs and what we require from every language "implement the same functionality/capability across all the languages in the most language idiomatic way"

[2019-06-28 18:14] jmacd commented on #165
It was an example. We will put the SpanData argument into a RFC.

[2019-06-28 18:18] bogdandrutu commented on #165
If you are ok with the proposal please +1/Like the initial description so that we can achieve some kind of agreement and move forward with some PRs and issues to implement this.

[2019-06-28 18:26] tigrannajaryan commented on #165
@bogdandrutu I completely agree. The specification should aim to be language independent. The final language-specific API should be left open for language library designers to come up with the best patterns which are idiomatic for the each language.

I also find it useful that after the general specification is written, it is great to have examples/suggestions that are specific for some common lan

[2019-06-28 18:28] bogdandrutu commented on #165
@tigrannajaryan that is a very good suggestion to link to some implementations. Unfortunately for the moment only Java has them (Node is getting close but probably I would use go as the second example when that is done).

[2019-06-28 18:31] c24t commented on #165
Describing the classes in terms of the intended behavior instead of prescribing actual methods or patterns (as in java's `SpanBuilder`) sounds exactly right to me.

It's not surprising that the specs would reflect the java implementation now since it's the only client with a complete API package, as we write the other language clients we can apply the lessons we learn to the spec.

[2019-06-30 03:18] GregBowyer opened #168 "Usefulness of `Tracer.getCurrentSpan`"
Hi there.

So in experimenting with a [rust implementation of opentelemetry](https://github.com/GregBowyer/opentelemetry-rs) the usefulness of the method `getCurrentSpan` on Tracer is a bit questionable.

It feels _very_ thread local in nature, indeed the java api defers this task to grpc.io `Context` which under the hood apears to use a thread local.

This is fine for java, but gives some more in

[2019-07-01 16:34] jmacd commented on #168
It's fine and appropriate to use a Context object in languages with explicit context propagation. We do in Golang. I suspect C++ will adopt a thread-local for this.

We've realized we need to change the way the specification to be less tied to Java, more about requirements and suggested names. See issue 165.

[2019-07-01 16:35] jmacd commented on #168
(Although, I think we could debate over whether this is a `Tracer` method or a static method. We admit that there are more than one tracer in the process, but I haven't thought through the implications of allowing more than one active span.)

[2019-07-01 16:40] jmacd opened #169 "Review Metrics API RFCs 1-4"
Please review https://github.com/open-telemetry/rfcs/pull/4

The four RFCs are summarized as:

001. Propose a new requirement that all metrics/stats support pre-defined labels
002. Propose a concrete implementation of the new requirement
003. Propose that `stats.Record` is not a requirement
004. Propose how to let the programmer suggest Metric aggregations at the point of definition.

These are in

[2019-07-01 17:13] jmacd commented on #146
See issue 169.

[2019-07-01 17:15] jmacd commented on #144
@bogdandrutu can you say what you're hoping for by decoupling the metrics and trace API? This feels like a lost opportunity to me. At LightStep, we want these to be coupled. Isn't that the point of an integrated diagnostics library?

I've been meaning to propose a specification requirement along the lines of "every recorded statistic should be associated with a span context, whether implicit or ex

[2019-07-01 17:20] jmacd commented on #164
I admit lacking some of the details that went into the current Java prototype, but on the topic of Sampler API, I have questions. Why is this considered `area:API`? I see this as an SDK interface. The SDK supports an API for sampling, but it is distinct from the end-user instrumentation API.

Rationale: a user never interacts directly with the Sampler.

Should this be classified `area:SDK`?

[2019-07-01 17:21] jmacd commented on #145
RFC 0003 would avoid this problem. See issue 169.

[2019-07-01 17:23] jmacd commented on #139
I think we can merge the current `SpanData` concept with OpenTracing-style `StartSpanOptions` to address this issue and shrink the API surface, we're working on an RFC. @bg451

[2019-07-01 17:23] jmacd commented on #126
See issue 169

[2019-07-01 17:30] jmacd commented on #125
I've been digging into the `SpanData` API for a while now, and have teased apart several requirements it seems. They are:

(1) support recording spans with alternate resources ("out of band")
(2) support recording spans with alternate timestamps ("asynchronous")
(3) support recording lazy spans

I was confused at why the topic of the Sampler had entered the discussion about SpanData, but now I thi

[2019-07-01 17:33] jmacd commented on #119
I've begun to question why the Sampler is considered part of the API (https://github.com/open-telemetry/opentelemetry-specification/issues/164). I see this "more dangerous" statement you made above as an implementation detail. The OpenTracing `StartSpanOptions` allow specifying initial attributes when starting a span. If the sampler were to use those attributes to make its decision, then should we

[2019-07-01 17:49] jmacd commented on #44
This feels low priority, but I would use the most concretely applicable term possible.
It's possible for an implementation that performs tail sampling in process to use a real span that may or may not be recorded. We might call this "IsNoOp" or "IsTraced".

[2019-07-01 21:54] carlosalberto commented on #168
In Python we have used this approach (it was even used since OpenTracing), as different asynchronous frameworks used their own context (which is getting unified with the new `contextvar` effort, btw).

As @jmacd said, for languages using an explicit Context object it's fine to simply rely on it - else, keeping a reference to the current `Trace` has been quite useful.

[2019-07-01 23:52] bogdandrutu commented on #164
@jmacd it cannot be in the SDK because users need this when instrumenting their applications. Imagine using the OpenTelemetry with an implementation that does upfront sampling and for some specific requests users always want to be sampled. If the Sampler is in the SDK they need to depend on the SDK to be able to specify that for this particular request/Span I always/never want sampling.

I think t

[2019-07-02 00:03] bogdandrutu commented on #144
@jmacd I meant package dependency not conceptually. What we want is to actually be able to record in the metrics the SpanContext but by doing it like this (not necessary the API like this one):
https://github.com/census-instrumentation/opencensus-java/blob/master/api/src/main/java/io/opencensus/stats/MeasureMap.java#L85

Then have an implementation of the AttachmentValue that encapsulates the Span

[2019-07-02 21:06] discostu105 commented on #71
@bogdandrutu thanks for your thoughts and your detailed answer.

## Use Case 1 (sync API calls)
I think this would be doable with providing timestamps at startSpan/endSpan. However, if there is an API that provides *timestamps*, we have to talk about timeproviders. Which source would provide that timestamp? Not only the resolution and epoch of a timestamp needs to be specified, but more importantl

[2019-07-03 13:30] carlosalberto opened #171 "Tracer resolution default"
Currently the spec defines this as:

But there's no actual mention on what should be loaded if there's no explicitly defined Tracing component - should it try to no-op one (API only), or should it **try** the actual SDK? (My feeling is that the former should be the one)

 This came up in OpenTelemetry in Python (https://github.com/open-telemetry/opentelemetry-python/pull/29/).

[2019-07-03 22:41] bg451 commented on #71
The idea of removing SpanData came up in https://github.com/open-telemetry/opentelemetry-js/pull/72, primarily around concerns of adding a new API to an already large API. It's awesome to see that there's movement towards removing it. I'm going to start an RFC. I'll link it here once I have a draft; also happy to collaborate on it with anyone else interested.

Also if anyone has code example of ou

[2019-07-04 20:13] naseemkullah opened #172 "ENV_VAR for where to send spans"
Hello,
an env var for agent "host" would be nice

In JS/open-census for example, i need this in my code, but  could there already be a default "TRACING_AGENT_HOST" ?...
[code]

... if there was a default env var I would set it ` and I could just have in code:
[code]

because in k8s, if using the AGENT is running as a daemonset we need to do something like this for the workload:

[code]

Thank you

[2019-07-04 22:33] naseemkullah opened #173 "Q: Way to ignore healthcheck traces when using automatic tracer across all languages?"
Hi,

Will there be a way to ignore healthchecks when using the automatic tracer?

Ideally maybe only trace unusually slow healthchecks?

[2019-07-06 00:11] rochdev opened #174 "Replace tracer format methods with `inject` and `extract`"
Right now there are `getHttpTextFormat` and `getBinaryFormat` defined on `Tracer`. These are inflexible as they don't allow extensions without vendor lock-in by requiring the users to use  an external class directly as it cannot be dynamically added to the list of supported formats.

Having single `inject` and `extract` methods for all formats on `Tracer` similar to OpenTracing would allow adding

[2019-07-06 00:15] rochdev opened #175 "Make the specification more flexible"
Right now a very specific API is enforced that is Java-centric and makes for a very poor API in most languages. The specification should focus more on concepts that should be implemented and not specific classes and methods.

So far, almost every time a change was proposed in `opentelemetry-js` that would make the API a lot better and idiomatic for the user was rejected as it doesn't conform to th

[2019-07-06 00:22] rochdev commented on #119
I tend to agree with @jmacd that it should be consistent. If it's a setter it should have a setter name. This is especially true for languages that could replace setters with actual properties.

So I would propose one of these 2 possibilities:

* If it's considered so dangerous, just remove it completely.
* Otherwise rename to `setName` as is standard and consistent.

[2019-07-08 03:51] qudongfang opened #176 "Event is one of the major verticals as well as Metrics, Tracing and Logging in observability from my perspective"
As we [stated](https://github.com/open-telemetry/opentelemetry.io/blob/7d33ac7da08325d5d289eec558bac96df7d8b616/config.toml#L12):
---------------------------------------
In software, observability typically refers to telemetry produced by **services** and is divided into three major verticals:
* [**Tracing**](https://opentracing.io/docs/overview/what-is-tracing), aka **distributed tracing**, provi

[2019-07-08 07:26] liubin commented on #176
Agree with that **Events** is import too. SaaS,  like [`datadog`](https://docs.datadoghq.com/graphing/event_stream/) also provide events support.

And also, I'm prefer to add events to span object as property.

Here is an example in real word. I'm measuring the container startup time in K8s, one component is kubelet, the work node agent in K8s. The container startup process in one work node includ

[2019-07-08 08:05] arminru commented on #175
+1
This was already brought up in #165, you might want to join the discussion there.

[2019-07-09 13:17] rochdev commented on #175
Thanks for pointing that out!

Closing in favor of #165

[2019-07-09 13:17] #175 closed

[2019-07-09 13:27] rochdev commented on #165
I definitely agree with a more behavior oriented and more flexible specification.

In the case of the JavaScript implementation, so far most reviews have looked something like this:

* Concern: this API doesn't make sense for JavaScript, and may even make it impossible to implement by APM vendors
* Answer: the spec says that the MUST be implemented like this, so that is how it will be implemented

[2019-07-09 13:40] rochdev opened #177 "Change the spec to be closer to OpenTracing"
Right now the specification shares many common traits with OpenTracing, yet it has many differences which I think are unnecessary.

This is problematic for a few reasons:

* One of the goals of this project is to be OpenTracing compatible. The best way to achieve that is to extend OpenTracing. I did some testing on my end and this is definitely possible, at least in JavaScript.
* OpenTracing has a

[2019-07-09 14:42] z1c0 commented on #171
Having the no-op tracer as default seems like the most reasonable approach.
Trying to load the actual SDK would either mean tight coupling of API and SDK or having to rely on reflection, dynamic loading, ...

[2019-07-09 14:48] z1c0 commented on #173
Hi,
not sure I understand the question correctly. Do you think of a way to exclude e.g. specific URLs? Why only for automatic tracer?

[2019-07-09 14:53] naseemkullah commented on #173
Yes it would be nice to exclude specific URLs in the automatic tracer, and also not in the automatic tracer, but just want to make sure this exclusion feature is configurable in the automatic tracer.

[2019-07-09 15:04] z1c0 commented on #119
Having the possibility to update a span's name later is definitely a valid use case.
Also, adding a way to "freeze" or "finalize" a span so that subsequent calls to `UpdateName` will have no effect or fail could be useful.

[2019-07-09 15:15] z1c0 commented on #164
For our sampling implementation, a fine-grained sampling API would not be a good fit.
An opinionated sampler implementation should be able to make this decision for itself.
A slim API (e.g. a hint or recommendation) would be a good compromise.

[2019-07-09 15:57] bogdandrutu commented on #169
We will have a meeting tomorrow (July 9) at 1pm PST. Please use https://lightstep.zoom.us/j/516112682

[2019-07-09 16:19] bogdandrutu commented on #174
Not sure I understand how can you add new capabilities without changing the API, at least even in the OpenTracing API which I suppose you refer to there is an enum which needs to change when adding a new format. If you do use a String for the format that is very unsafe because the type may not be supported.

So the argument that the API does not change is weak, and having the type defined by a str

[2019-07-09 16:50] bogdandrutu commented on #177
Same arguments can be made for OpenCensus. Not feasible to make the OpenTelemetry inherit or implement OpenTracing.

[2019-07-09 18:02] rochdev commented on #174
In JavaScript an enum is a string or a number, so this argument about type safety is completely invalid. My understanding is that this is a cross-language specification so it shouldn't have Java-centric requirements. In JavaScript this type of pattern is very common to allow extensibility. We currently use this functionality of OpenTracing in our own tracer to stay 100% compliant.

The argument wa

[2019-07-09 18:05] rochdev commented on #177
As mentioned above, it is feasible at the very least in JavaScript, so it could be done as a best effort. The same argument cannot be made for OpenCensus since it never gained any traction in the community and most of its use came from Istio. I would also like to point out that in some cases, both OpenTracing and OpenCensus used the same terminology, which reinforces the argument that it should no

[2019-07-09 18:27] bogdandrutu commented on #177
First of all the user for OpenCensus did not come from Istio, and it had a lot of traction especially with some of the big tech companies.

If there is a specific case where you have a problem with the terminology please file an issue or describe that specific problem.

For "extending" or getting any dependency on OpenTracing that is not possible in this project, as well as it is not possible to d

[2019-07-10 13:48] Flarna opened #179 "spec: http.url field is unclear"
The `http.url` field in specification is quite unclear to me. Spec says the following: `http.url  HTTP host. E.g. "https://example.com:779/users/187a34"`

The text tells `HTTP host` but the sample shows `scheme://<authority><path>` which is something different. Should `scheme` and `path` be included? What about `query`?

Another issue is that a HTTP servers usually doesn't know their hostname (if

[2019-07-10 21:22] bhs commented on #177
@rochdev it's unclear whether you're advocating for something Javascript-specific or making a broader push across all languages...

If Javascript-specific: we should strive for consistent OpenTel terminology across languages (per [terminology.md](https://github.com/open-telemetry/opentelemetry-specification/blob/master/terminology.md))... especially since a software bridge can easily handle redire

[2019-07-10 22:25] yurishkuro commented on #177
To add to what Ben said:
  - the naming is not arbitrary or based on personal preferences, it was discussed in depth and there are many tickets found in the java repo (perhaps we should move them to specs for better record keeping). There are many conflicting requirements and naming cannot satisfy every one of them. Concretely on tags vs. attributes, both OT and OC had the notion of "tags" with co

[2019-07-11 13:54] rochdev commented on #177
I was not proposing to actually extend OpenTracing but simply to have the same interface. In many languages, interfaces that match are considered equal.

Makes sense. I didn't consider metrics and other telemetry when I attempted to make it work directly with the OpenTracing API. As long as it's compatible in the end, at least it will be easier for users to migrate.

Thanks all for the clarificati

[2019-07-11 13:54] #177 closed

[2019-07-11 18:08] lizthegrey commented on #176
To me, an Event is just a special case of a Trace, with 1 span.

[2019-07-11 21:10] tedsuo commented on #126
Closing as a duplicate of #146

[2019-07-11 21:10] #126 closed

[2019-07-11 21:19] tedsuo commented on #109
Closing as a duplicate of #129 and #128. Please reopen if you feel that this is a separate issue.

[2019-07-11 21:19] #109 closed

[2019-07-12 00:13] lizthegrey commented on #66
https://github.com/open-telemetry/opentelemetry-specification/pull/180 is now salient, so cross-linking it.

I'm okay with using `Tracestate` rather than `TraceOptions` but I feel uncomfortable with the status quo of not propagating the info at all right now.

[2019-07-12 00:27] c24t opened #181 "Use same language as W3C TC spec"
Motivated by @mayurkale22 and @reyang's [comments on the trace state in the python client](https://github.com/open-telemetry/opentelemetry-python/pull/47#discussion_r302648314).

We use different language in the OT spec and W3C spec: "span ID" instead of "parent-id", `TraceOptions` instead of "trace-flags", and (in the java and js clients) "sampled" instead of "recorded". This is a minor issue at

[2019-07-12 01:29] reyang commented on #181
`options` versus `flags` seems to be a personal taste, aligning with the W3C spec would be great.

Regarding `parent-id`, this is what we have in OpenCensus and it is sometimes confusing:

[SpanData(name='span1_child2', context=SpanContext(trace_id=5307201ee66cb0de85dc049c6470f046, **span_id=31101d982462798f**, trace_options=TraceOptions(enabled=True), tracestate=None), **span_id='dfd42fc07f7e519a

[2019-07-13 15:13] lmolkova opened #182 "Limitation on number of attributes, links, events and behavior"
In Java SDK implementation, there is a limit and behavior is to discard in FIFO.

The limitations are not part of the spec and behavior when there are more than max is not defined.

[2019-07-13 19:40] austinlparker commented on #182
Seems like there’s a couple of options:

- Spec defines a hard max limit, unconfigurable.
- Spec defines a default max, user-adjustable.
- Spec defines no limit, exporters can select a limit (config of this limit is an exporter-specific concern)

The third option is the most similar to OpenTracing imo. I think the second option might be the best because there’s always going to be some sort of maxi

[2019-07-16 01:10] tsloughter opened #183 "Minimal implementation is unclear on context propagation"
I'm starting on the Erlang version of the API and minimal implementation and I find it unclear what exactly it should and shouldn't be doing.

On Gitter Tigran explained that it is not the same as the noop tracer because it is expected to do context propagation. And the spec makes clear it should not return a null span but a valid non-null span object.

What isn't clear is does having context prop

[2019-07-16 02:24] bputt commented on #142
@SergeyKanzhelev @flands Not sure if it was implied or not, but if I added ```secure: true``` I would also want to provide a cert, key, and cabundle

[2019-07-16 12:18] discostu105 commented on #182
I'd have a slight preference for the third option:

If the limits are user-adjustable via API, aren't we mixing different personas? An application developer (who would set the limit) might not know the exporter and ultimatively the backend that uses the data. The backend might have difficulties with 10 or with 10k attributes. It should be a concern of the exporter/backend only.

[2019-07-16 12:24] austinlparker commented on #182
That's a good point.

[2019-07-16 15:31] tigrannajaryan commented on #129
For some reason I can't self-assign issues. Can someone with admin rights have a look at the permissions?

[2019-07-16 23:07] mtwo commented on #182
#3 also seems like the most reasonable choice to me, though I'm not extremely opinionated about this topic

[2019-07-18 08:11] bogdandrutu commented on #174
Not sure I understand, defining these types in the API seems to have the same effect, vendor that does not support one of the types will return a no-op for that and code is not going to break. Probably you have different scenarios in mind which I do not think of.

By allowing a string I think it is worse because there is no standard for the string and vendor FOO can say I support type BAR which is

[2019-07-18 16:09] tsloughter opened #185 "What it will mean for a vendor to "support OpenTelemetry""
OpenTelemetry is much more extendable by vendors than OpenCensus was and this leads me to concern about future vendor support possibly not working with the standard SDK implementation of the OTel API.

Right now the specification defines what is required for an implementation library. My suggestion is to define what it means to "support OpenTelemetry" as a service for receiving/visualizing/analyzi

[2019-07-20 21:06] tsloughter opened #187 "How to know a parent is remote when starting a span"
Whether or not the parent of a span that is being started is remote is an attribute that must be passed to samplers.

[Span creation](https://github.com/open-telemetry/opentelemetry-specification/blob/0d255935cc6569a6f195daaaf361453dbd9cb5ac/specification/tracing-api.md#span-creation) docs do mention remote parents but it isn't clear how it is deciding it is remote:

Why is it assumed that `parent

[2019-07-22 07:57] discostu105 commented on #173
I agree that URL exclusions would make sense. We currently have that feature in Dynatrace for exactly that purpose.

In OpenTelementry, the broader question is:

At what level does such configuration need to be applied?
 * API (config is exposed via API level)
 * Tracer-impl (every tracer-implementation can have it's own config system)
 ** Should the OTel SDK have such a config system?
 * Exporter

[2019-07-22 15:02] bogdandrutu opened #189 "Is SpanContext the same during the entire Span lifetime?"
Some implementations need to change the sampling flag during the lifetime of a span.

[2019-07-22 15:22] mtwo commented on #173
+1 to this issue. Some OpenCensus implementations had a list of paths that wouldn't get sampled, which were often used to ensure that health checks, exporters, and other telemetry providers weren't generating traces. This was incredibly useful.

[2019-07-22 21:05] austinlparker commented on #67
I'm bumping this as another note of support for either changing the spec to accept `object` or something like it - as an example for what it looks like, we recently merged a PR to opentelemetry-dotnet that refactored the interface for attribute values into accepting a `struct KeyValuePair<string, object>` -- https://github.com/open-telemetry/opentelemetry-dotnet/blob/2183c425e80abcebd77cb2db6e1f17

[2019-07-23 23:29] c24t opened #192 "Settle on linebreak style"
Motivated by https://github.com/open-telemetry/opentelemetry-specification/pull/190#discussion_r306238811.

We don't have a consistent style for wrapping long lines of prose. It may not be worth the trouble to enforce a specific style, but we should either pick one now or agree not to enforce this going forward.

Of the files in the spec that have a mostly consistent style:

Hard breaks at 80 char

[2019-07-24 01:58] tsloughter commented on #187
Based on the Java implementation it does appear the decision is based on if the parent is a Span or SpanContext. This doesn't work well for at least the Erlang implementation where the user will only ever have the context for use as a parent.

I think there should be a explicit `is parent` or similar option.

[2019-07-24 12:44] arminru commented on #192
+1 for your proposal
Nice diffs are nice and it makes the raw MD files easier
to read since the breaks are more natural rather than chopping
off sentences randomly with hard breaks.
In addition to that, hard breaks are annoying to obey when one is editing simple stuff using the web interface or applies review suggestions there.

[2019-07-24 12:45] bogdandrutu commented on #192
I would personally vote to have a limit because otherwise some lines will have >300 chars (or even more).

[2019-07-24 19:50] c24t commented on #192
Applying review suggestions is a good point: since github [doesn't let you suggest multiline hunks](https://github.com/isaacs/github/issues/1452) this means the OP has to break out the editor for even simple changes.

I'm happy with 300+ char lines since I can soft wrap them in my own editor.

[2019-07-24 20:05] c24t commented on #192
Using soft breaks also means that reviewers don't have to change the browser size to match the text width on the review page to see a nice diff.

Compare hard breaks in #163:

![Screen Shot 2019-07-24 at 12 59 09 PM](https://user-images.githubusercontent.com/43799105/61824613-51b5ee80-ae13-11e9-8459-c151fd6cbfde.png)

to soft breaks in #186:

![Screen Shot 2019-07-24 at 1 01 02 PM](https://user-im

[2019-07-24 20:20] tigrannajaryan commented on #192
I suggest that we do one of these:

1. Hard breaks at 80 chars.
2. Break at end of paragraph.

Either works fine for diffing in Github. 1 is more manual work, 2 requires your editor to support soft wrapping. My vote goes to 2, but I am open to doing 1 if majority wants that.

I would refrain from hard breaking at large column numbers precisely because of what @c24t said above.

[2019-07-24 22:58] carlosalberto commented on #192
I also vote for having a limit - either 80 or 100 should be fine (and friendlier).

[2019-07-25 18:02] GreyCat commented on #192
If I can chime in, from my perspective, hard limit at 80 or 100 will be the best for reasons like:

* Embedding docs into code comments (as docstrings, etc) without major reformatting
* Compatibility with large set of tools (Azure DevOps code viewer, to some extent, GitHub)
* GitHub only allows line-level precision of comments, so having multiple hard lines makes it easier to pinpoint things to co

[2019-07-25 21:41] bputt commented on #149
Adding the following as well: https://github.com/census-instrumentation/opencensus-java/blob/3cbeae0db312295781f39053164e68992f1b678e/impl_core/src/main/java/io/opencensus/implcore/trace/export/ExportComponentImpl.java#L27

EXPORTER_BUFFER_SIZE
EXPORTER_SCHEDULE_DELAY

[2019-07-29 11:38] AloisReitbauer commented on #10
Trying to get the Gist of the discussion again. We need to know two additional things about each span that gets generated:

* ```component``` representing the traced component like grpc, jdbc, ...
* ```instrumentation-provider``` this represent the actual instrumentation or contrib library and is needed to turn off instrumentation in case there are problems with it.

In order to get this informati

[2019-07-29 17:15] iredelmeier commented on #192
Strong support for soft breaks:

* Makes **editing** MUCH easier. (Copy editing, which we very much need to do, basically requires that we reformat with soft breaks as a first step. This is especially true if we get help from a technical writer who's less comfortable with tooling that has explicit support for hard breaks.)
* Better **git history**
* Allows for more personal customization in editor

[2019-07-29 21:02] ssmall opened #197 "Feature Request: configure reporting period separately for each metric"
Per [discussion](https://gitter.im/census-instrumentation/Lobby?at=5d3f4216ce271b4acd2c3efc), it would be useful to be able to configure the reporting period separately for individual metrics. For applications that emit a multitude of metrics, it is not necessarily desirable to report every metric with the same period.

[2019-07-30 20:43] bg451 commented on #183
I was wondering the same thing. If you have a noop span, should you still pass through a span context that was received out of band? e.g. service A and C have tracing enabled and service B has tracing disabled. A makes a call to B which makes a call to C. If the minimal noop span in B doesn't pass the context through to C the trace will break at A.

I guess it's a trade off of reducing allocations

[2019-07-30 21:24] mtwo commented on #183
@bogdandrutu @SergeyKanzhelev

[2019-07-30 21:37] tsloughter commented on #183
True, but the "minimal" implementation that is part of the API is not the same as the noop implementation.

[2019-08-01 08:15] sunface opened #201 "Chinese translation for opentelemetry specs,docs"
Hi all:
   Great work on OpenTelemetry!

   We are a translation team from china, and we sincerely want to  translate OpenTelemetry's specs,docs to chinese to make more people knowing and using opentelemetry in the future.

   Our work has already begun: https://github.com/opentelemetry-cn(cn is short for china), so if you have any questions or suggestions, please notify us, and we will do better

[2019-08-01 09:19] sunface commented on #201
reopen in open-telemetry/community

[2019-08-01 09:19] #201 closed

[2019-08-02 18:54] mwear commented on #187
Typically, a `SpanContext` that has crossed a process boundary will have been **extracted** with a propagator. This could be solved by adding a boolean property to indicate that on the `SpanContext`. Possible names could be `Is/WasRemote`, `Is/WasExtracted`. Since `SpanContext` is a sealed class I assume this would require buy-in from the community and a change to the spec.

[2019-08-05 10:19] pavolloffay commented on #155
I am back from summer vacations.

@tigrannajaryan @bogdandrutu  I can take care of this, If nobody started working on this.

[2019-08-05 15:33] tigrannajaryan commented on #155
@pavolloffay I didn't start working on this yet, so thanks for claiming it.
I unassigned from myself, but don't have permissions to assign to you.

[2019-08-06 14:47] Oberon00 commented on #192
I think that soft breaks would be best, as, contrary to source code files, soft-wrapping works very well for (plain english) text files. Regarding the pin-pointing things in lines issue: You could add a hard break after every sentence, or after every clause (wherever you think it makes sense semantically).

[2019-08-06 15:01] tedsuo commented on #10
@AloisReitbauer this does capture the issue well. Modeling a `service` as a set of resources, and then each `component` as a nested set of  resources feels correct.

The only complication is how the Tracer object relates context propagation. But both traces and metrics will want to be labelled with this information. So there's still some work to be done, in general, to cleanly separate the context

[2019-08-07 08:01] qudongfang commented on #176
Yeah. It is one way to look at it.

There are a few differences between Span(trace) and Event in my opinion.

1. The end/finish time of an event is changeable (determined later)
1. Events are related across the whole IaaS,  It is hard to relate(instrument) them using Span Id.
1. The query scenarios are more diverse than Span. Statistical analysis is one case. Such as how many deployments last week

[2019-08-07 14:47] OlivierAlbertini opened #206 "[http-plugin] Include trace ID in response headers for incoming requests"
Hello

I would like to add the trace id in the response headers for incoming requests.
We would like to move the discussion in this repo (ref: https://github.com/open-telemetry/opentelemetry-js/issues/166).

**Is your feature request related to a problem? Please describe.**
- Having trace id in headers can help to debug slow requests we see in
the browser by looking up the trace ID found in respon

[2019-08-07 20:15] rghetia opened #207 "should not allow Linking spans belonging to same trace"
As per the current definition of [Link](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/overview.md#links-between-spans)

"
A Span may be linked to zero or more other Spans (defined by SpanContext) that are causally related. Links can point to SpanContexts **inside a single Trace** or across different Traces.
"

## What is the use case of linking span inside

[2019-08-07 21:01] rghetia commented on #207
/cc @tedsuo @bogdandrutu @iredelmeier

[2019-08-07 23:34] mtwo commented on #176
Alternatively, could we treat events as special logs with a known structure?

[2019-08-07 23:42] mtwo commented on #206
FYI @bogdandrutu @AloisReitbauer @discostu105 @SergeyKanzhelev @iredelmeier

We've discussed this before at meetings of the W3C TraceContext group (which is mostly composed of OpenTelemetry contributors) and I think that it's a good idea, though we need to think through the implementation. Returning a trace context header in responses benefits the following scenarios:

- It enables a basic case of

[2019-08-08 01:28] axw commented on #207
How would you represent a scatter/gather type of pattern? i.e. single root -> multiple downstreams -> aggregate results. The final step would have multiple parents, but they each have the same origin.

I do feel that Link is a little under specified. A few related issues I've come across recently:
 - As mentioned in the issue description, is it valid for the parent to be recorded in Links?
 - For

[2019-08-08 01:58] qudongfang commented on #176
Yes, We could.

At the same time, We can treat Logs as Spans(Trace) too.
Why we haven't done that?

[2019-08-08 18:46] rghetia commented on #207
I agree on adding link type. How about following types (instead of Parent and RemoteParent)?

- Predecessor - used when it belongs to same trace.
- RemotePredecessor - used when it belongs to a different trace.

In case you have multiple Predecessors (scatter/gather use case) you could either choose not to set parent at all OR choose any predecessor as a parent.

[2019-08-08 23:55] #179 closed

[2019-08-09 16:58] carlosalberto opened #208 "Default Tracer propagating SpanContext by default or not"
Besides the base `Tracer` interface, the Java implementation offers a default, no-op `DefaultTracer` (https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/trace/DefaultTracer.java) that propagates `SpanContext`.

This has the advantage of providing context propagation **by default**, but adds a little bit of implementation-specific part on the API sid

[2019-08-09 22:00] c24t commented on #208
Suppose an application has a dependency on an OT web framework or RPC integration, but doesn't load the SDK. Don't we want to support context propagation by default in that case?

On the other hand, if there's no mechanism for including the span context in outgoing calls then we shouldn't propagate the context in-process.

It might be helpful to frame the problem this way: libraries depend on OT e

[2019-08-10 04:23] toumorokoshi commented on #112
Just throwing in a vote in favor of this. Really I don't see why propagators can't have it's own global registry just like tracers. I also agree that it feels a lot more cross cutting, as it should as propagation can occur through multiple forms of telemetry.

[2019-08-10 04:27] toumorokoshi opened #210 "HTTPTextFormat propagator formats should support chaining propagators"
I think an important capability for HTTPTextFormat propagators is the ability to attach more than one. I.E. Tracer.GetHTTPTextFormat could return a proxy object that executes extract / inject on multiple HTTPTextFormats.

This would be invaluable when migrating propagation standards, such as from b3 to tracestate.

[2019-08-10 21:06] toumorokoshi opened #211 "Merge SpanContext into DistributedContext"
After spending some time working on implementing propagators, there's a pattern that feels a little weird to me: the fact that propagators can return back both SpanContext and DistributedContext. I think this is because having to have two context propagation objects is more difficult to understand: there may be a chance to simplify here.

Specifically, I don't think there's anything in SpanContext

[2019-08-12 02:30] axw commented on #207
@rghetia having a Predecessor link type would work for me. I don't personally have a need for a RemotePredecessor link type, assuming HasRemoteParent is preserved. Parent vs. Predecessor still feels a little bit arbitrary.

I assume that types were intentionally left out of the link definition, since they are in OpenCensus. It'd be good to see the rationale for that - couldn't see anything in the

[2019-08-12 12:14] arminru commented on #208
related to #183

[2019-08-12 14:26] discostu105 commented on #185
I can see multiple levels of "supports OpenTelemetry" for vendors:

1. Directly implement Tracer API
Gives maximum flexibility to tracer-implementer. However, most upfront cost. Needs app code change (or automatic injection).

2. Use default implementation (SDK) and provide an exporter.
Less flexibility, can still define your own protocol and enrich data if necessary. Still requires app code chang

[2019-08-12 15:11] tsloughter commented on #208
It would make things a lot simpler if it was just a no-op tracer and require the SDK or other impl if context propagation is required.

As I say in #183 it is very unclear what is expected of this default tracer. And I think it leads to potentially more confusion and even bad data if the default tracer is propagating span context without creating new spans. So the DefaultTracer either needs to be

[2019-08-12 15:16] hekike commented on #156
How do we think about the graceful shutdown? Should the exporter try to attempt reporting spans when `shutdown()` is called? Opportunistic attempt to report vs. waiting for a call to finish with a timeout.  Spec doesn't define the behavior today.

[2019-08-12 15:28] tsloughter commented on #185
Yea, I disagree that only supporting (1) should be an option for being considered to "support OpenTelemetry". I think it leads to a situation like OpenTracing. I still don't know what it means when something "supports opentracing"... except to mean that it roughly follows the terminology and "api" of opentracing.

While OpenTelemetry provides a more explicit API, if the service requires specific l

[2019-08-12 18:10] rghetia commented on #207
@bogdandrutu , @SergeyKanzhelev do you know why link type was removed?

[2019-08-12 20:02] tigrannajaryan commented on #156
We have the following wording in the spec [0]:

I don't know if we need to specify this further, it seems that if we write more we may impose too much limitations on the implementations.

[0] - https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-exporter.md#shutdown

[2019-08-12 20:07] mtwo commented on #185
Perhaps we could describe the first option as "implements OpenTelemetry" versus "supports OpenTelemetry"?

[2019-08-12 20:11] tsloughter commented on #185
Yea, those sound reasonable.

[2019-08-12 21:33] songy23 commented on #112
/cc @rghetia also proposed to have the propagating formats in a separator interface `Propagator`.

[2019-08-12 22:38] rghetia commented on #112
Typically plugins like Http would provide an option to specify which propagator to use. This would be independent of which tracing sdk is used. Different server or different endpoint on same server could use different propagator. So tying propagation interface to a tracer() is not useful.

[2019-08-12 22:53] carlosalberto commented on #210
This was mentioned in the Java repo some months ago, through a "multiformat"  text adapter (to be added in the contrib section), precisely to support multiple formats: https://github.com/open-telemetry/opentelemetry-java/issues/119

[2019-08-13 00:49] draffensperger opened #213 "Allow specifying timestamp for span time events in `addEvent`"
The current spec for [adding events to a Span](https://github.com/census-instrumentation/opencensus-web#span-annotations-for-dom-and-network-events) specifies that "Events have a time associated with the moment when they are added to the Span."

However, in order support tracing use cases in the browser, I would like to modify this to say something like "Events have a time associated with when the

[2019-08-13 05:11] toumorokoshi commented on #112
I think it sounds like generally there's a lot of support here. What's required to move this forward? Or should we go ahead and implement it this way in our clients?

[2019-08-13 05:14] toumorokoshi commented on #210
Cool! It's not clear to me why we wouldn't just want to make this a feature exposed by a contrib package rather than just in the API itself. I think it's relatively straightforward to make them chainable by allowing for a proxy object, and making the propagators have an api like:

[code]

[2019-08-13 13:31] carlosalberto commented on #210
There's always the worry of making the API too cumbersome to use, as well as increasing the API surface overall.

Probably having an actual testcase/example could get things moving ;)

[2019-08-13 15:07] lizthegrey commented on #185
As with OpenCensus, some services may only support metrics, only support tracing, or support both... so we also need to consider that.

[2019-08-13 15:35] lizthegrey commented on #10
+1 that this would be extremely useful to us over at Honeycomb - cc @maplebed

We sometimes like to write to more than one distinct dataset or even telemetry processing environment from some of our internal tools.

[2019-08-13 15:44] songy23 commented on #112
`Propagators` API spec is already submitted at https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-propagators.md. As long as we removed [binary format](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#getbinaryformat) and [http format](https://github.com/open-telemetry/opentelemetry-specification/blob/ma

[2019-08-13 15:46] c24t commented on #192
From the spec SIG call today: let's use soft breaks, revisit if we decide that this was a mistake.

[2019-08-13 15:46] #192 closed

[2019-08-13 16:40] bg451 commented on #213
Big++, I realize that it would be impossible to add events for out of band spans without allowing an optional timestamp. I included it in the Future Work section of that RFC but I think it's something that will have to happen in the specification change.

[2019-08-14 10:12] discostu105 commented on #10
@z1c0 wrote an RFC that covers this issue: https://github.com/open-telemetry/rfcs/pull/16

[2019-08-14 17:45] pcwiese commented on #207
@axw I completely agree that the Link specification needs to be fine-tuned a bit.

The Span specification says that there is a **single** optional parent. Given that, it seems like that parent should be not be recorded as a Link. However, the Link specification says nothing about what should happen if you create a link back to the current Span's parent.

The overview specification does say that a

[2019-08-14 19:15] c24t commented on #211
After talking about this offline with @reyang and @toumorokoshi, the tl;dr as I understand it is this:

The [W3C trace context](https://www.w3.org/TR/trace-context/) is unlikely to change much before being adopted as a W3C recommendation, and it's generally safe to build against the current spec. The trace context includes the `tracestate` field, which is meant to carry vendor-specific info that g

[2019-08-14 19:18] c24t commented on #211
@toumorokoshi IIRC you suggested making propagators de/serialize the trace and correlation context in the same call instead of having separate types for each type of context. Would that solve this issue? What new problems would that introduce?

[2019-08-15 04:50] toumorokoshi commented on #211
Yep, that's what I'm planning on doing. I think the guidance from Gitter was to code a proposal to share.

I'm fine closing this issue for now, since I no longer believe that this is the right approach, and no one else is championing it.

[2019-08-15 04:50] #211 closed

[2019-08-15 04:53] toumorokoshi commented on #210
Sounds good, am working on an example in opentelemetry-python.

[2019-08-15 14:05] tsloughter commented on #187
@mwear yea, that is what OpenCensus did. For now I'm adding a `is_remote` to span context to move forward.

How to propose adding this officially to the `SpanContext`? Just a PR to update the spec or does it belong in an rfc first?

[2019-08-15 15:32] pavolloffay opened #217 "Document Tracer SDK"
Document Tracer SDK type. For instance what methods and configuration it exposes.

Related to https://github.com/open-telemetry/opentelemetry-specification/pull/205#discussion_r314342667

[2019-08-15 22:53] mwear opened #218 "Clarify parameters to the Sampling API"
While working on an implementation of the [sampling API](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-sampling.md), I was looking at the spec and cross referencing the Java implementation and found some ambiguities I'd like to clarify.

What parameters are required to [ShouldSample](https://github.com/open-telemetry/opentelemetry-specification/blob/ma

[2019-08-16 05:02] reyang commented on #112
My 2 cents:
1. Propagator is tied to integrations (e.g. incoming and outgoing HTTP, IPC, RPC). If there is no integration, we don't need propagator at all.
2. Propagator is not tied to Context (the in-process context management) directly, propagator could fetch data from Context, but not directly. The reason is that we intend to support multiple tracers, each tracer will have a different idea of "

[2019-08-16 14:21] tsloughter commented on #185
Yea, it should be that a vendor can list as implementing the OTel API or supporting OTel for any subset. Or even only implement Otel API for tracing but supports OTel for metrics.

[2019-08-16 21:28] bogdandrutu commented on #79
Closing this as a duplicate of https://github.com/open-telemetry/opentelemetry-specification/issues/164

[2019-08-16 21:28] #79 closed

[2019-08-18 16:14] hekike opened #220 "Zipkin exporter mappings"
While working on the `opentelemetry-javascript` Zipkin exporter, I run into a couple of questions around expected mapping between OpenTelemetry Span(s) and Zipkin Span(s).

Here is the list of things I found:

- `SpanKind.INTERNAL` doesn't exist in Zipkin
-  `Status` concept doesn't exist in Zipkin
- `Event` doesn't support `Attribute`(s) in Zipkin

Related PR: https://github.com/open-telemetry/op

[2019-08-20 00:04] mwear opened #222 "Tracer API: What is the API for LinkFormatter / EventFormatter"
The tracer API specifies that there should be a method to add a lazy link and that:

It does not specify the API or behavior of a `LinkFormatter`. If a language wants to provide a concrete `Link` implementation, what should should it provide as a `LinkFormatter`.

This is the same situation for `Event` / `EventFormatter`.

I searched through the repos for several other languages and found that all

[2019-08-20 10:36] z1c0 commented on #183
The "minimal implementation" that is referenced [here](https://github.com/open-telemetry/opentelemetry-specification/blob/41014a5a8329256eff10a19b602537c8dcec3331/specification/library-guidelines.md#api-and-minimal-implementation) is described as being "part of the API" and "incurring as little performance penalty as possible". This sounds a lot like a no-op implementation to me.

Is a there even

[2019-08-20 12:07] pavolloffay opened #223 "Clarify relationship between IsSampled and IsRecordingEvents"
The relationship between `IsSampled` and `IsRecordingEvents` is not clear. For instance span builder in java allows providing sampler but also setting `setRecordingEvents`. What is the relationship between these two? Which API should be used when?

* `IsRecordingEvents` - https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#isrecordingevents
sampin

[2019-08-20 14:36] tsloughter commented on #183
@z1c0 I don't think there is a section that makes a clear distinction. I asked in gitter before creating this issue and that is where I learned it was distinct.

[2019-08-20 14:37] carlosalberto commented on #223
(Side note: https://github.com/open-telemetry/rfcs/pull/24/files throws a little bit of light into this topic)

[2019-08-20 14:41] carlosalberto commented on #183
I suggest discussing this as part of #208 where I hope we can come to a resolution about this point ;)

[2019-08-20 17:15] mwear commented on #222
We covered this in the spec meeting, but for posterity, I'll make a note here. A `LinkFormatter` is a function that returns a `Link`. For languages such as Go, the function can return a concrete object that will be stack-allocated, whereas an interface would be heap-allocated.

The underlying message the spec is trying to convey is that a lazy link should be created in a way that is as memory effi

[2019-08-20 17:46] bogdandrutu commented on #222
@mwear can you please make a PR to clarify that :) I wrote the current text and I thought that is clear that we allow any other option (but I am not a native English speaker so that may affect my understanding).

[2019-08-20 19:00] jmacd commented on #165
After several spec discussions in recent weeks, I've come to think of this question about how we specify functionality/capabilities as only part of the challenge. When we adopt the OpenTracing requirement to separate the API from the implementation, we are faced with the need for a semantic description of what the API achieves independent of the features and capabilities.

It means we should focus

[2019-08-21 16:45] a-feld commented on #210
@toumorokoshi I wonder if it would be helpful to have the context tracked in the propagator instance itself (either by having the context in the constructor or via calls to the context API within the propagator).

If the propagator is context-aware, an API called `ExtractIntoCurrentContext` or similar could be added where the propagator itself references the current context.

If the propagator und

[2019-08-22 09:46] haf commented on #207
It seems to me that you could define it like this:

[code]

[2019-08-22 22:28] yurishkuro opened #231 "Extra features supported by Jaeger clients"
It would be great if in the future we could decommission Jaeger client libraries, which take non-trivial effort to support in all languages, and replace them with OpenTelemetry SDKs. @bogdandrutu asked me to enumerate additional features supported by Jaeger clients that are not currently supported by OpenTelemetry, to inform future roadmap after v1.

##  Remotely configurable sampling

Jaeger clie

[2019-08-22 22:35] bogdandrutu commented on #231
Thanks I will transform this in individual issues to be addressed by the OpenTelemetry implementations.

One quick question from what I read: what is the interaction between baggages and traces?

[2019-08-22 22:41] yurishkuro commented on #231
There isn't much interaction. We usually log the baggage to the span when it is set, but aside from that baggage is a runtime thing.

[2019-08-23 15:55] pavolloffay commented on #231
One missing functionality is the ability to configure the client via environmental variables https://www.jaegertracing.io/docs/1.13/client-features/. This was proven to be useful for cloud/containerized deployments.

[2019-08-23 16:05] pavolloffay opened #232 "Client configuration provided by the environment"
Created as a follow-up on https://github.com/open-telemetry/opentelemetry-specification/issues/231#issuecomment-524368087.

I am proposing that clients would provide a consistent ability to store configuration in the environment (env variables, configuration file).

In Jaeger clients the configuration via environmental variables was proven to be very useful especially in K8s deployments. The users

[2019-08-23 16:54] austinlparker commented on #232
Is there a way we can write this in such a way that it allows for languages that offer a well-supported method for runtime config files to use that? In .NET Core, for example, appsettings.json is the standard location for defining configuration values such as this.

[2019-08-23 16:58] carlosalberto commented on #232
Besides this, offer alternative configuration options. For example, in the LS Java Tracer we accept external configuration through a `tracer.properties` file ;)

[2019-08-23 18:55] yurishkuro commented on #232
I agree, both env and files are useful sources of configuration, but I think a more critical ask in this ticket is that the _naming of the configuration properties_ is standardized across languages. Jaeger clients have a pretty consistent set of env variables they all support, although there are some differences due to historical reasons, and sometimes unique implementation details.

[2019-08-26 09:14] pavolloffay commented on #232
I think the configuration means could slight differ from language to language e.g in java also support Java system properties, C# .json if It is supported by the language.

Most importantly the property names should be the same and perhaps all languages should offer configuration by environmental properties.

In golang I really like https://github.com/spf13/viper and cobra. When properly configure

[2019-08-26 20:46] austinlparker opened #235 "Proposal: Service/Component Version Labels"
Currently in the OpenTelemetry design, there's no convention for specifying the version of a service or component. This is a pretty basic piece of information that is very useful for consumers of telemetry data (to understand, specifically, what version of a given component/service produced a given iota of telemetry data) that we should support as a first-class citizen.

Would it make the most sen

[2019-08-27 09:29] pavolloffay commented on #231
@bogdandrutu I have also created a generic issue for SDK configuration https://github.com/open-telemetry/opentelemetry-specification/issues/232. Some configuration is indeed jaeger specific, however some properties apply to the whole SDK: specify the resource (service name...), reporter to use, propagation...

That would be nice, we didn't have config watchers in jaeger.

[2019-08-27 13:29] z1c0 commented on #235
Should this go into an RFC?

[2019-08-27 15:13] yurishkuro opened #237 "Clear layering of context propagation"
Early on we decided to make context propagation (both in-process and inter-process) to be a separate layer that other verticals (metrics, traces) are build upon. I wrote the following document that outlines this approach, which was originally linked to some issue in the Java SDK repo.

https://docs.google.com/document/d/1UxrEYOaQlF_E4gtiPoFmcZ4YKKe1GxohvCvQDuwvD1I/

[2019-08-28 17:02] lizthegrey opened #4299 "Tracking issue: deprecation policy"
Initial pull in https://github.com/open-telemetry/oteps/pull/34

[2019-08-29 14:29] tsloughter commented on #223
My understanding of it is that they mean the same when it comes to what happens with the current span and the only difference is that `IsSampled` is propagated so it can influence the samplers run for children.

So the span builder has it separate as a way to enable recording just this span even if it isn't sampled, which means likely (though depends on the sampler used) its children won't be reco

[2019-08-29 14:47] carlosalberto opened #238 "Specify that the Start Span operation does not set active state"
Currently, different implementations decide, on `Span` creation, whether to set it as the active/current instance or not (in Java `startSpan()` does not, but in Python `start_span()` does, for example).

I feel like there should be a clarification or recommendation for every language, mentioning the default **Start Span** operation does not set the active/current instance, and optionally offer an

[2019-08-29 15:50] pavolloffay commented on #223
@tsloughter that is also my understanding.

Related is this change in java https://github.com/open-telemetry/opentelemetry-java/pull/503#discussion_r317234668. The processors in java by default do not send spans which have `isRecodingEvents=true` flag. I think that is something for reconsideration. As end-user I would expect those spans to be sent to backed by default.

[2019-08-29 15:54] tsloughter commented on #223
Oh, hm, that I didn't realize.

So the reporters must have a configuration for whether to report only sampled spans or to also report spans that have been recorded but not sampled?

[2019-08-29 16:06] bogdandrutu commented on #223
The logic for default is kind of simple. For the exporters we want to export only traces that are likely to be sampled entirely not just one span.

The use-case for the one span recording is to support things like what we had in OpenCensus called z-pages. Where for these spans we don't want them to get to the exporter pipeline, but want them to be visible to the SpanProcessor.

[2019-08-29 16:12] tsloughter commented on #223
Ok, makes sense.

[2019-09-01 05:27] toumorokoshi opened #239 "Proposal: rename "Resources" to "StaticContext""
I was running through the propagators, and I think it would be worth considering renaming "Resources" to "StaticContext".

Motivation:

1. Resources effectively are a set of labels that are static for the lifetime of the application. As there is currently no way to represent other values that are static for the lifetime of the application, people will add Resources that have nothing to do with the

[2019-09-02 08:33] Oberon00 commented on #112
Maybe you define integrations differently here, but I think propagators can be used directly by applications too, e.g. when they have a proprietary communication mechanism that is used so seldom that writing an integration would make no sense (e.g., starting a child process and passing the trace context as a command line parameter).

[2019-09-02 14:51] Oberon00 opened #242 "DistributedContext specification is incomplete"
* The distributed context specification talks about scope (in the [conflict resolution section](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-distributedcontext.md#entry-conflict-resolution)) but does not define it.
* Relatedly, there is no notion of a current context and consequently no way to get it.
* The API, as defined in the spec, provides no way

[2019-09-02 14:57] Oberon00 commented on #242
Should this be rectified in a simple PR (that simply follows the Java "reference" implementation) or is an OTEP required?

[2019-09-02 14:59] songy23 commented on #242
`DistributedContext` may be renamed. See https://github.com/open-telemetry/oteps/pull/36.

[2019-09-02 15:19] Oberon00 commented on #242
I assume that was just a side note, since renaming would not change anything about the points I raised 😃

[2019-09-03 03:01] tedsuo commented on #242
@Oberon00 in short, the current API is half baked and we hope to finish baking it this week. :)

There's was a lot of discussion last week to hammer out details around DistributedContext. You can find the notes here, under "Context Propagation Discussion": https://docs.google.com/document/d/1rgXZik2_-2fU1KpVi7nze5ygWA8NhaLE8VmD20H4P8M/edit#heading=h.o5slz8bi8org

We hope to get some proposals out

[2019-09-03 14:08] austinlparker commented on #235
See https://github.com/open-telemetry/oteps/pull/38 for the RFC.

[2019-09-04 21:39] jmacd commented on #197
I suggest `label:SDK`

[2019-09-04 21:43] jmacd commented on #77
Remove `metrics` label. This is a trace data question, I think.

[2019-09-04 22:29] songy23 commented on #77
I think this issue will be N/A once https://github.com/open-telemetry/opentelemetry-specification/pull/215 is merged?

[2019-09-05 15:17] jmacd commented on #77
Yes, I was just looking through issues w/ `metrics` label and found this miscategorized. Agree that it closes w/ #215.

[2019-09-09 05:49] AlexanderWert commented on #65
I think a flag for sync / async (blocking / non-blocking) spans would be very useful for trace analysis. In this way you could much easier and quicker identify hot spots along the critical path and, thus, the "root causes" for long trace timings.
Such a flag is important because it indicates whether a child span's time is included in the parents time or not. Thus, whether a parent span is slow bec

[2019-09-09 11:03] Oberon00 commented on #65
To fully capture all (or at least more) of the possible relationships between Spans, in addition to the create(parent) API, we would need APIs that signal that a span begins/ends waiting for a particular (set of) child(ren) and possibly even that it consumes the result of a particular child. Of course we would need to identify a child on the parent side without the child communicating back it's sp

[2019-09-09 13:14] Oberon00 opened #245 "Semantic convention for database driver name needed"
For all existing semantic conventions, the `component` attribute is set to a fixed strings (`"http"` , `"grpc"`). But [the database `component`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-semantic-conventions.md#databases-client-calls) should be

This is inconsistent. I suggest changing this to

* component: Always the string `"db"` (or leave it ou

[2019-09-11 23:52] tigrannajaryan opened #246 "Define version labeling schema for API and SDK"
We need to have a well-defined schema for API and SDK versioning. The PR here https://github.com/open-telemetry/opentelemetry-specification/pull/115 got stalled because I haven't yet been able to find a satisfactory approach to API and SDK version decoupling.

I am raising this issue to seek feedback and proposals.

### Problem Description

We assume that API specification will have a version numb

[2019-09-17 15:42] SergeyKanzhelev commented on #129
I suggest we give approvers a triager role. Any objections?

![image](https://user-images.githubusercontent.com/9950081/65057184-16bdcc00-d927-11e9-99f6-a77d0df645b4.png)

[2019-09-17 15:55] Oberon00 commented on #238
So to summarize, there are three options when creating a span:

* Just create
* Create & start
* Create & start & activate

[2019-09-17 16:13] carlosalberto commented on #238
Hey @Oberon00 !

Actually I think most languages only offer two: 1) start, 2) start & activate - this is because most (all with the exception of Python?) do not offer **created, non-started** `Span`s.

[2019-09-17 16:29] Oberon00 commented on #238
Right, I thought there was resistance against removing that anomaly (https://github.com/open-telemetry/opentelemetry-python/issues/97#issuecomment-523934140), but reading @reyang's comment again, I think this is ripe for a Python PR removing it.

[2019-09-17 18:29] Wanshell commented on #129
can read ,clone, and push to this repository. can also manage issues and pull requests.

[2019-09-17 18:32] bogdandrutu commented on #129
@SergeyKanzhelev can you check that the CODEOWNERS works with Triage? I think we need to give them Write and based on my understanding Write include Triager

[2019-09-18 01:12] mwear commented on #218
I'm closing this as the questions relate to sampling API as it was before the recent [OTEP](https://github.com/open-telemetry/oteps/blob/master/text/0006-sampling.md).

[2019-09-18 01:15] #218 closed

[2019-09-18 12:00] Oberon00 commented on #238
We should also specify:
* whether some sope/AutoCloseable/context manager/Disposable-like object is returned from start or activate operations
* is so, whether leaving/closing/exiting/disposing of that deactivates the span, ends it or both.

[2019-09-18 12:13] Wanshell commented on #238
Can u HELP me what i must dowing?

Pada Rab, 18 Sep 2019 pada pukul 8:00 PTG, Christian Neumüller <
notifications@github.com> menulis:

[2019-09-20 19:38] #54 closed

[2019-09-20 19:38] #155 closed

[2019-09-23 19:40] SergeyKanzhelev commented on #189
And potentially add/modify `tracestate` collection

[2019-09-23 19:45] cbandy commented on #245
Agreed. The database semantics seem rather different from the others.

I like consistency of the value in `component` being a prefix/section of related attributes.

This sounds a bit like the already defined `db.instance` and similar/related `peer.service`.

(off topic: not all databases have this concept, so it should probably be an optional attribute. e.g. a MySQL server allows a single TCP conn

[2019-09-23 19:57] SergeyKanzhelev commented on #129
yes, my bad. every member of https://github.com/orgs/open-telemetry/teams/specs-approvers must have write permissions. Either @tigrannajaryan needs to be added to approvers or we need even broader triagers role for specs repo. I'd suggest we add Tigran to approvers

[2019-09-23 20:57] tigrannajaryan commented on #129
@SergeyKanzhelev thank you, I am able to assign issues to myself.

[2019-09-24 23:36] #169 closed

[2019-09-24 23:46] jmacd opened #259 "Metric standard SDK behavior specification"
In https://github.com/open-telemetry/opentelemetry-specification/pull/250 we've tried to steer away from specifying the behavior of the library (as there are so many possibilities) and instead focus on the semantics of the events.

It's become clear that people are confused about the behavior of the SDK because it's literally unspecified as part of the API. I believe we should prepare a companion

[2019-09-25 00:21] bogdandrutu commented on #259
I am confused "non-monotonic counter needs a firm mapping", this is the Prometheus Gauge and probably that's why people are also confused about our definition of Gauge.

[2019-09-25 05:22] jmacd commented on #259
1. OTel monotonic Counter->Prometheus Counter
2. OTel non-monotonic Counter->Prometheus Gauge using its `Add()` and `Dec()` methods
3. OTel monotonic Gauge->Prometheus Gauge using its `Set()` method (?)
4. OTel non-monotonic Gauge->Prometheus Gauge using its `Set()` method
5. OTel non-negative Measure->Prometheus Histogram
6. OTel signed Measure->(not sure)

@bogdandrutu what do you think about ca

[2019-09-25 15:22] bogdandrutu commented on #259
7. Observer non-monotonic -> Prometheus Gauge
8. Observer monotonic -> Prometheus Counter

For 3 that is a Prometheus Counter.

Everything that is monotonic is a Counter in Prometheus. We have two options to implement keep the last value and record delta if we want to use their main API or implement our own registry in Prometheus that `gathers` the right metricsfamilies.

[2019-09-25 15:22] bogdandrutu commented on #259
Also Prometheus is moving to a non-negative histogram/summary based on OpenMetrics.

[2019-09-25 18:23] jmacd commented on #259
"For 3 that is a Prometheus Counter". The problem is that Prometheus Counter doesn't support `Set()`, only `Add()`. To turn a monotonic Gauge into a Prometheus Counter we have to remember the last value.

[2019-09-25 19:39] bogdandrutu commented on #259
Correct, but we need to understand the difference between API and data model in Prometheus. From data model perspective that is a Counter and in order to achieve this as I mentioned in the previous post we can use a Registry instead of using directly the API. This is how they also do it for another counter cpu-usage.

[2019-09-25 19:48] bogdandrutu commented on #259
Sorry I used the wrong term "Registry". We will use [`Collector`](https://github.com/prometheus/client_golang/blob/3525612fea19680dd3d49c768802ec082ca853b2/prometheus/collector.go)

Here is an example for the cpu-usage and few other metrics: https://github.com/prometheus/client_golang/blob/3525612fea19680dd3d49c768802ec082ca853b2/prometheus/process_collector.go

[2019-09-25 19:51] jmacd commented on #259
Cool, this makes sense.

[2019-09-25 20:05] bogdandrutu commented on #259
Here is a table that tries to summarize the discussion so far:

OpenTelemetry | Prometheus
------------ | -------------
Monotonic Counter | Counter
Non-Monotonic Counter | Gauge
Monotonic Gauge | Counter
Non-Monotonic Gauge | Gauge
Monotonic Observer | Counter
Non-Monotonic Observer | Gauge
Signed Measure | Histogram or Summary
Non-Negative Measure | Histogram or Summary

[2019-09-26 14:18] Oberon00 commented on #245
FYI: I'm currently working on resolving this, and generally upgrading the semantic conventions. After we hash this out internally a bit more here at Dynatrace, we will submit a PR (expected to land tomorrow (late Friday CEST) or next Monday.)

[2019-09-26 18:48] OlivierAlbertini opened #261 "[plugin-http] error handling (in line with spec)"
# Spec

ref: https://github.com/open-telemetry/opentelemetry-specification/pull/153 (not merged yet)

This means that `applyCustomAttributesOnSpan`, `ignoreOutgoingUrls `, `ignoreIncomingsUrls ` should have `try/catch`

If everyone is agree, I can provide a PR.

[2019-09-26 18:49] #261 closed

[2019-09-26 18:49] OlivierAlbertini commented on #261
Sorry wrong place

[2019-09-27 09:08] untitaker commented on #110
I am not sure if spankind is a useful discriminator. IMO it would make sense to have a freeform field to specify which exact instrumentation created this span (with the possible values "python-requests" and "python-httplib" in @danielkhan's example). This should clear the confusion and also serve as a string to search for if the user has to dive into code to understand why a span was created in th

[2019-09-27 10:39] Oberon00 commented on #110
You will be pleased to find out that this is covered in https://github.com/open-telemetry/oteps/pull/16. 😃 Although I'm not sure if this can or should be used to solve that problem.

[2019-09-27 20:02] SergeyKanzhelev commented on #15
At one of the recent SIG meetings the decision was made to have a soft breaks for whitespaces rule. Also spell check is integrated now. If any other specific linters are required - please file a separate issues.

[2019-09-27 20:02] #15 closed

[2019-09-27 20:06] SergeyKanzhelev commented on #53
This is done. See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-sampling.md

[2019-09-27 20:06] #53 closed

[2019-09-27 20:07] SergeyKanzhelev commented on #55
It seems that the decisions is not to expose it for now. Closing. Let's re-open if this will become an issue

[2019-09-27 20:07] #55 closed

[2019-09-27 20:08] SergeyKanzhelev commented on #60
Closing. @discostu105 please reopen with the specific scenario description

[2019-09-27 20:08] #60 closed

[2019-09-27 20:11] SergeyKanzhelev commented on #68
`SpanData` was removed. Closing

[2019-09-27 20:11] #68 closed

[2019-09-27 20:12] SergeyKanzhelev commented on #71
This was completed

[2019-09-27 20:12] #71 closed

[2019-09-27 20:14] SergeyKanzhelev commented on #77
As @jmacd pointed above, this is not relevant now as SpanData was removed. Closing

[2019-09-27 20:14] #77 closed

[2019-09-27 20:18] SergeyKanzhelev commented on #96
SpanData was removed. Closing the issue

[2019-09-27 20:18] #96 closed

[2019-09-27 20:21] SergeyKanzhelev commented on #125
SpanData API was removed. Closing the issue

[2019-09-27 20:21] #125 closed

[2019-09-27 20:30] SergeyKanzhelev commented on #139
This was completed. Events and Span Start/Stop APIs accept timestamps now

[2019-09-27 20:30] #139 closed

[2019-09-27 20:34] SergeyKanzhelev commented on #156
Seems to be comp;leted: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#span-exporter

[2019-09-27 20:34] #156 closed

[2019-09-27 20:38] SergeyKanzhelev commented on #172
Is the host similar to Resource API? Maybe dup with the https://github.com/open-telemetry/opentelemetry-specification/issues/61

[2019-09-27 20:39] SergeyKanzhelev commented on #172
In OpenCensus it's described here: https://github.com/census-instrumentation/opencensus-specs/blob/master/resource/Resource.md#from-environment-variables

[2019-09-27 20:44] SergeyKanzhelev commented on #206
I triaged this as "future for now", meaning likely not in 1.0. Please reply back if this needs to be addressed earlier

[2019-09-27 20:47] SergeyKanzhelev commented on #213
This is done: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-events

[2019-09-27 20:47] #213 closed

[2019-09-27 21:31] bogdandrutu opened #267 "Suggest to enable markdownlint at the pull request time"
https://github.com/DavidAnson/markdownlint

[2019-09-27 21:32] bogdandrutu commented on #267
Probably in the CircleCi using the cli https://github.com/igorshubovych/markdownlint-cli

[2019-09-28 18:42] carlosalberto opened #269 "Setting multiple Span attributes"
Currently we allow setting one attribute to a `Span` at a time, but what about adding many of them in a single step? This pattern seems to be happening often (for example, for a `Span` representing an http request):

[code]

If this sounds fine, I'd like to create a PR - this doesn't seem controversial enough to require an entire OTEPS iteration.

[2019-09-29 08:34] Oberon00 commented on #269
I think that doesn't even need a spec, as this is language specific. For example, the best Java could do is returning the Span itself from setAttribute to allow chaining.

[2019-09-29 17:46] yurishkuro opened #270 "Do not recommend URL path as acceptable span name"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-semantic-conventions.md says

I think this is a very bad recommendation. In many REST APIs it is customary to encode entity IDs in the path, such as `/api/customer/23476253654/address/237464`. Using this as a span name creates very high cardinality set and defeats the purpose of span name identifying the t

[2019-09-29 17:50] yurishkuro opened #271 "Do we still need `component` in semantic conventions?"
For example, in specification/data-semantic-conventions.md for HTTP

It's not clear what the value of this _required_ attribute is given that the HTTP-nature of the span can be inferred from the other required attributes like `http.method`, so it only bloats the data size. Also, the [OTEP 16](https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md) provides another mechanism

[2019-09-29 17:55] yurishkuro opened #272 "Remove or rewrite api-tracing section "Runtimes with multiple deployments/applications""
Not clear what "multiple deployments" means here, could give some examples.

The following references to Provider and ServiceLoader seem out of place completely, unrelated to the API, which is now TracerFactory per OTEP 16.

[2019-09-30 06:32] z1c0 opened #273 "Integrate "Named Tracers and Meters" OTEP"
Following the RFC process (https://github.com/open-telemetry/oteps#opentelemetry-rfcs), this issue tracks the integration of the "Named Tracers and Meters" RFC (https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md) into the specification.

A PR has already been submitted for that https://github.com/open-telemetry/opentelemetry-specification/pull/264.

[2019-09-30 08:18] Oberon00 commented on #271
When going over the component attributes, it seems that the use of the component attribute is different for each convention:
* gRPC: Component must  be grpc, only way to detect gRPC, as the other attributes are the generic `peer.*`
* db: Component is vaguely defined, but no fixed string at least (see #245)
* http: Seems redundant, as other required `http.*` attributes exist.

So maybe it was put t

[2019-09-30 13:49] Oberon00 opened #274 "Allow resources as span attributes"
See https://github.com/open-telemetry/opentelemetry-specification/pull/263#discussion_r329281769.

For some types of spans (e.g. HTTP server) there is potentially a lot of information that can be different from span to span, but there is only a low number of combinations for each process. For example, it would make sense to have `http.app_info` attribute the value of which is a resource that conta

[2019-09-30 16:41] carlosalberto commented on #269
@Oberon00

Yeah, I remember seeing that pattern being advised in the past ;) However, every time you set an attribute, you have to acquire a lock and do a few checks, so we could save some cycles by having that in a single call.

[2019-09-30 16:43] carlosalberto commented on #270
This sounds good to me. I remember seeing that in instrumentation in the past, so it's better to clarify that ;)

[2019-09-30 18:27] bogdandrutu commented on #272
We should not have a component anymore.

[2019-09-30 18:29] bogdandrutu commented on #274
Please clarify what an "Application" is. Is that a "http.route"?

[2019-09-30 18:30] bogdandrutu commented on #271
I think OTEP should use the name of the instrumented library not the name of the instrumentation.

[2019-09-30 18:37] bogdandrutu commented on #181
TraceOptions was already renamed to TraceFlags.
w3c uses sampled now.

Anything else to discuss here? May worth closing and open the parent discussion if you feel that way.

[2019-09-30 18:42] bogdandrutu commented on #182
3 is not a good option because the intent for this is to not grow memory unbounded, this is not to protect the exporter or the backend, is to help Application owners to control how much memory their instrumentation uses.

I think the best compromise is 2, the limit is adjustable via the SDK not via the API (so an instrumentation dev, as you pointed does not know the backend), but the Application o

[2019-09-30 18:51] bogdandrutu commented on #172
No activity from the author, I will close this. Please re-open and answer the questions if you still need this feature.

[2019-09-30 18:51] Oberon00 commented on #274
See my new comments: https://github.com/open-telemetry/opentelemetry-specification/pull/263#discussion_r329726240

[2019-09-30 18:53] Oberon00 commented on #172
It's maybe a bit harsh to close this on Monday when the last question was on Friday.

[2019-09-30 18:55] bogdandrutu commented on #165
Closing this issue, we relaxed the way we write Specs.

[2019-09-30 18:55] #165 closed

[2019-09-30 18:55] bogdandrutu commented on #144
In the new API proposal this is no longer a thing.

[2019-09-30 18:55] #144 closed

[2019-09-30 19:00] bogdandrutu commented on #172
Sorry did not see when was asked, so only when the issue was posted. you are correct.

[2019-09-30 20:06] SergeyKanzhelev commented on #182
2 and 3 are almost identical in a sense that if exporter can configure this SDK setting, than it is the same. Multiple exporters will just need to set the max of options and then do additional trimming on their side. There is no way to prevent exporters to configure SDK as long as this setting is available for end user.

[2019-09-30 20:10] naseemkullah commented on #172
Everything is in original post if anything is unclear please let me know.

[2019-09-30 20:13] SergeyKanzhelev commented on #172
Can you please take a look if resource API is what you are looking for.

[2019-09-30 20:15] naseemkullah commented on #172
The host is where the agent runs to send spans to.

[2019-09-30 20:17] naseemkullah commented on #172
Not sure tbh can you define the agent host with the resource API?

[2019-09-30 20:32] SergeyKanzhelev commented on #172
@naseemkullah I got it. You mean this agent/collector: https://github.com/open-telemetry/opentelemetry-collector

There is a quite similar issue that calls for standardizing of a configuration: https://github.com/open-telemetry/opentelemetry-specification/issues/142

[2019-09-30 21:06] SergeyKanzhelev opened #275 "Indicating (telemetry-internal) issues on Spans and Metrics"
We may need to have a language that suggests how to add "incomplete information" attribute on `Span` that can be used in case of processing error. See https://github.com/open-telemetry/opentelemetry-specification/pull/153#discussion_r329587443

[2019-09-30 22:31] naseemkullah commented on #172
Yes exactly, the agent in particular.

Should we merge the issues then?

something like `OC_AGENT_HOST` could be a good variable.

Please see https://github.com/jaegertracing/jaeger-client-node#environment-variables for an example of what is desired (`JAEGER_AGENT_HOST` can also be configured directly in exporter config)

[2019-09-30 22:44] mayurkale22 opened #276 "Semantic versions for milestones"
For the defined [milestones](https://github.com/open-telemetry/opentelemetry-specification/blob/master/milestones.md#milestones), the semantic version of library release is not mentioned. I think we should add version numbers to make things consistent across the languages.

For example,

Release | Version | Patch 1 | Patch 2 | Patch n
-------- | -------- |-------- |-------- |-------- |
 Alpha v0.2

[2019-09-30 23:28] c24t commented on #276
One problem with this table that it ignore language-specific conventions for version numbers. For example, python has [special semantics for pre-release versions](https://www.python.org/dev/peps/pep-0440/#pre-releases). We were planning to [release python as `0.1a.0`](https://github.com/open-telemetry/opentelemetry-python/pull/190), but can change this if we're trying to keep all clients in sync.

[2019-09-30 23:40] c24t commented on #276
I wonder the same thing. If we're following major/minor/patch semantics, I'd assume that either package could get a patch update without affecting the other. Major and minor updates to the API would require a major or minor update to the SDK (or the SDK would need to depend on an old version of the API), but not vice-versa.

Another question is whether we're trying to keep the version of the clien

[2019-09-30 23:42] tigrannajaryan commented on #276
This is related to https://github.com/open-telemetry/opentelemetry-specification/issues/246 and this proposal https://github.com/open-telemetry/opentelemetry-specification/pull/115

You may want to comment on the original issue and review the proposal.

[2019-10-01 00:12] tedsuo commented on #276
I haven't reviewed the other proposals in a while (looking now), but a quick two cents to get python unstuck:

**High level description of our versioning (proposed)**
* Use a semver like schema - vX.Y.Z
* The highest-order position mush match the spec. For pre-1.0, this means that `v0.2.x` release of an API or SDK package must match `v0.2` of the spec.
* Lower-order positions have no special meani

[2019-10-01 00:21] tigrannajaryan commented on #276
@tedsuo please have a look at https://github.com/open-telemetry/opentelemetry-specification/issues/246

I think what you suggest was already suggested and drawbacks discussed. It would be great if you have ideas on how to overcome the drawbacks.

[2019-10-01 00:29] c24t commented on #276
Thanks @tedsuo.

I think we're going to run into a problem similar to #246 here. Where #246 describes the relationship between the SDK and API *spec* version, here the problem is between the API package version and API spec version. Following this would mean that we couldn't release major/minor updates to API packages without a corresponding spec change. I'll comment on #246 in detail.

For now we

[2019-10-01 07:54] bruno-garcia commented on #276
Second @c24t that although it's great to align these things, it comes with the cost of not being idiomatic. In .NET a alpha/beta/preview package would have something append to the version, i.e:

Preview: `1.0.0-alpha`.
Non preview: `1.0.0` or `1.0.0.0`.

I wouldn't be surprised if tools check if id matches something like `^\d+(\.\d+){1,3}$`

[2019-10-01 07:59] Oberon00 commented on #10
I think this can be closed once #264 is merged.

[2019-10-01 08:25] Oberon00 commented on #16
Maybe related: #271

[2019-10-01 08:28] Oberon00 commented on #271
@bogdandrutu I think you are wrong (or I am misunderstanding your sentence):

-- https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md#explanation

[2019-10-01 08:31] Oberon00 commented on #26
I guress "remoting" refers to RPC/RMI here?

[2019-10-01 08:32] Oberon00 commented on #26
Related: #27

[2019-10-01 08:33] Oberon00 commented on #55
Related: https://github.com/open-telemetry/opentelemetry-python/pull/148#discussion_r326007793

[2019-10-01 11:18] z1c0 opened #279 "Remove "Resouce" type from API (Abstractions)"
Resources have been moved from API into SDK in the specification.
https://github.com/open-telemetry/opentelemetry-specification/pull/254

[2019-10-01 11:37] z1c0 commented on #269
The point about locking is a valid concern (at least for Java and .NET).
I also vote in favor of a batching mechanism here.

[2019-10-01 11:53] Oberon00 commented on #269
My point that this is highly language-specific still stands. I think at best, the spec can add a sentence like "It is recommended that language implementations provide a way to set multiple attributes at once, e.g. with a SetAttributes(Map<string, Value>) function."

[2019-10-01 15:08] carlosalberto commented on #269
A recommendation (or an optional operation) sounds good enough for me. I will create a PR then with the aforementioned changes ;)

[2019-10-01 17:56] SergeyKanzhelev commented on #220
@hekike do you think you can work on your PR this week? Do you need help?

[2019-10-01 18:23] SergeyKanzhelev commented on #269
@carlosalberto may it be using the same LabelSet object as proposed in Metrics API draft? This will also improve perf when we need to report a metric from the same place - the same set of labels can be re-used

[2019-10-01 18:45] Oberon00 commented on #269
It's not obvious how LabelSets would apply to Spans. I assume you mean defining a LabelSet like `LabelSet httpAttributeKeys = new LabelSet("http.url", "http.method") and then use it like `span.setLabelledAttributes("GET", "http://...")`? That actually sounds like a nice idea!

[2019-10-01 18:47] carlosalberto commented on #269
Same feeling as @Oberon00

Any opinion on this @bogdandrutu ?

[2019-10-01 19:40] SergeyKanzhelev commented on #26
@Oberon00 yes. This is from the excel spreadshit that @danielkhan shared before

[2019-10-01 19:44] SergeyKanzhelev commented on #269
yes, and than you will be able to re-use it for metrics avoiding yet another allocation

[2019-10-01 19:46] SergeyKanzhelev commented on #55
@Oberon00 do you suggest to re-open this issue? Can you please elaborate on specific use case when it is needed

[2019-10-01 21:23] tigrannajaryan commented on #246
See proposal here https://github.com/open-telemetry/opentelemetry-specification/pull/280

[2019-10-02 05:30] SergeyKanzhelev commented on #164
@bogdandrutu assigning to you as you are working on moving sampling to SDK and related changes

[2019-10-02 05:32] SergeyKanzhelev commented on #146
@jmacd it seems like your metrics proposal addresses this issue

[2019-10-02 05:33] SergeyKanzhelev commented on #87
@bogdandrutu assigned to you as you are working on sampling PRs.

[2019-10-02 05:34] SergeyKanzhelev commented on #33
@bogdandrutu assigned to you as you are woking on sampling PRs

[2019-10-02 07:44] Oberon00 commented on #55
No need to reopen, the Python issue will probably be solved by fixing the `Span.end` there to be spec-conformant and thus callable multiple times.

[2019-10-02 15:27] Oberon00 commented on #269
I don't think you would want to use the same label set for both metrics and spans. Or if you want that, maybe that's a case for the correlation context?

[2019-10-02 19:56] hectorhdzg opened #281 "Log correlation attributes names and values"
I was not able to find any spec for this, are we planning to have something similar to OpenCensus?

https://github.com/census-instrumentation/opencensus-specs/blob/master/trace/LogCorrelation.md

[2019-10-02 21:56] #222 closed

[2019-10-03 02:40] c24t commented on #259
It sounds to me like this should just be part of the spec, in the same way that [`sdk-tracing` describes the span exporter interface](https://github.com/open-telemetry/opentelemetry-specification/blob/7a9b61fbf27e6333c979ea86f58f6a359967b30c/specification/sdk-tracing.md#span-exporter) now.

If the argument for keeping aggregation and export logic out of the API package is the same as for tracing t

[2019-10-03 03:23] #187 closed

[2019-10-03 04:18] SergeyKanzhelev commented on #281
let's try to get to it in v0.3.

[2019-10-03 04:22] #273 closed

[2019-10-03 04:59] SergeyKanzhelev opened #282 "Add SamplingHint in API"
See https://github.com/open-telemetry/oteps/blob/accb510feeecb10c886ef38c44c58639c5c7ea48/text/0006-sampling.md

[2019-10-03 05:01] SergeyKanzhelev commented on #282
Text from the original PR with the comment that it needs to be expanded with the scenarios and use cases.

#### SamplingHint

This is a new concept added in the OpenTelemetry API that allows API users to suggest sampling hints
to the implementation of the API:

* DO_NOT_RECORD
  * Suggest to not record any data for this Span. (RecordEvents = false and SampledFlag = false).
* RECORD
  * Suggest to

[2019-10-03 05:20] SergeyKanzhelev commented on #21
This becoming even more important and valuable with the named tracers

[2019-10-03 05:21] SergeyKanzhelev commented on #65
Moving to v0.3

[2019-10-03 05:39] SergeyKanzhelev commented on #207
Link types discussion is in this issue: https://github.com/open-telemetry/opentelemetry-specification/issues/65

As for this issue - I understand the feedback now is to clarify Links vs Parent relationship. I will clarify this relationship in a PR for this milestone.

[2019-10-03 06:22] SergeyKanzhelev commented on #44
I changed title to explain where the confusion can be from. `IsRecordingEvents` responsible for more than just events recording. So I'd suggest to change the name to `IsRecording` as a minimal first step. Happy to discuss further for alternative names.

[2019-10-03 18:25] SergeyKanzhelev commented on #119
I'm adding a PR that adds explanation for the _current_ name on why it is different from setter.

[2019-10-03 18:30] bogdandrutu commented on #119
+1 @SergeyKanzhelev. I think it is important to use "Update" to reflect that in system that do advance sampling this is different than setting a name.

[2019-10-03 18:38] SergeyKanzhelev commented on #119
@mayurkale22 @jmacd and @OlivierAlbertini I understand you believe the name change is needed. I'm closing this issue, please consider filing an OTEP for the name change with the description on why it is needed.

As I said this issue was discussed during API (v0.1) work group meetings. And this name reflects interests of vendors with the high-load apps where the head-based sampling and the early na

[2019-10-03 18:38] #119 closed

[2019-10-03 21:49] austinlparker opened #286 "Add a 'configuration' resource."
I'm adding this before I forget about it, but there's certain configuration information that an analysis system might like to know - things like registered propagators, changes from default parameters around attribute/event length, etc. We should create a configuration resource (`SdkConfig`?) so that these values could easily be exported to the backend.

[2019-10-04 01:06] tedsuo commented on #208
Hi all, trying to resolve this ticket for the v0.2 release.

For now, I suggest we resolve this by saying the the default will be a No-op for the time being. Some reasoning below.

### Property of least surprise
A noop implementation is the most intuitive result, when no SDK is present. It is not possible to correctly intuit any other behavior, one must read the docs. If one has not installed an S

[2019-10-04 02:31] tedsuo commented on #183
Hi all, I'm closing this in an attempt to resolve this conversation in #208. Please reopen if you feel there is additional scope to this issue.

[2019-10-04 02:31] #183 closed

[2019-10-04 02:36] tedsuo commented on #149
Hi @bputt, while I agree we need to allow for some amount of SDK configuration, I don't believe this is should be part of the cross-language spec, as it is very implementation specific. I would like to close this spec ticket for now. Please consider raising this in https://github.com/open-telemetry/opentelemetry-java.

If you feel there should is some specific form of configuration that should be

[2019-10-04 02:36] #149 closed

[2019-10-04 04:00] tedsuo commented on #270
Should we also recommend that the HTTP method be used, when the route is not available? That is common in OpenTracing.

[2019-10-04 04:06] tedsuo commented on #245
I agree with this change. I wonder: how do you see the `component` tag relating to the new named tracer components?

[2019-10-04 05:29] tedsuo commented on #10
Closing this now. Thank you all, for taking this over the finish line.

[2019-10-04 05:29] #10 closed

[2019-10-04 05:47] tedsuo commented on #83
@yurishkuro I believe the new metric spec (https://github.com/open-telemetry/opentelemetry-specification/pull/250) has changed significantly and addresses these issues. Can we close this issue?

[2019-10-04 05:49] tedsuo commented on #145
@SergeyKanzhelev I believe https://github.com/open-telemetry/opentelemetry-specification/pull/250 addresses this issue.

[2019-10-04 05:55] tedsuo commented on #197
@ssmall I believe https://github.com/open-telemetry/opentelemetry-specification/pull/250 addressed this

[2019-10-04 06:05] tedsuo commented on #21
@SergeyKanzhelev I agree. Given the design of `span.end`, it's extremely unlikely that a span implementation would not to have a tracer reference, so I doubt there is a downside to this.

[2019-10-04 06:07] tedsuo commented on #44
I'm fine with `IsRecording`, though perhaps `IsEnabled` might avoid some confusion for cases like tail-based sampling, where you don't technically know if the span will be recorded or not.

[2019-10-04 07:18] Oberon00 commented on #245
Not related at all.

[2019-10-04 13:02] Oberon00 commented on #21
In my opinion, with named tracers, there now actually is the slight downside to providing another way to access the tracer. E.g. some instrumentation libraries might use `parent.getTracer().startSpan(parent)` instead of the "proper" `tracerFactory.getTracer("myname", "myversion").startSpan(parent)`. The the span will be misattributed to the instrumentation library that created the parent span.

[2019-10-04 14:02] Oberon00 commented on #208
Regarding your first point ("Untrustworthy observations"): There was discussion in Python (https://github.com/open-telemetry/opentelemetry-python/issues/159) to solve this by generating new Span IDs even in the API-only propagation. Then instead of `A->C` you would have a broken trace of two parts `A` and `???->C`. However, I don't like that approach either because it (a) requires additional code

[2019-10-04 14:54] tsloughter commented on #208
+1 to no-op.

[2019-10-04 17:59] pauldraper commented on #70
What is the relationship of this to #237?

[2019-10-04 18:22] pauldraper commented on #271
Much better to explicitly specify the component than try to guess based on other attributes. grpc is a good example, where it reuses the http attributes.

I would go a far as to say traces ought to always have component, as a quick way of seeing the instrumented technology.

[2019-10-04 19:20] carlosalberto commented on #208
+1 to no-op for now.

[2019-10-04 19:53] carlosalberto commented on #238
#287 should fix this, by adding a small note about this (without many details). I feel like what @Oberon00 is mentioning should be done separately, as it touches the entire currently `Span` active handling.

Let me know ;)

[2019-10-04 20:00] yurishkuro commented on #238
What is the motivation for now allowing auto-activation?

[2019-10-04 20:05] yurishkuro commented on #270
Sure

[2019-10-04 21:09] carlosalberto commented on #238
Hey @yurishkuro

The motivation is to keep uniformity among different languages/implementations, and reduce confusion.

On point: currently, OTel Python has its `Tracer.start_span()` method **automatically** set the newly created `Span` as the currently active instance, while the equivalent in other languages **does not**.

I have suggested that we have an additional operation/method that handles

[2019-10-04 23:55] jmacd commented on #259
I've posted a prototype metrics SDK to help with this issue.
https://github.com/open-telemetry/opentelemetry-go/pull/172

[2019-10-05 03:06] #6 closed

[2019-10-05 03:21] #207 closed

[2019-10-06 18:05] yurishkuro commented on #238
I agree, similarly names methods should behave similarly across languages.

Would this also apply to Go? I thought there the API was explicitly tied to Context.

[2019-10-06 20:35] yurishkuro commented on #83
I suggest to mark the metrics spec PR as resolving this issue.

[2019-10-07 08:30] Oberon00 commented on #270
I can think of the following possible names for client spans:

* Just the method, e.g. `GET` (I think that's what @yurishkuro suggests)
* Using `<method> <hostname>`, e.g. `GET localhost:5000`
* Using the format string if known (e.g. `http://localhost:5000/articles/%d/update`; it's debatable if only the URI path part of the template string should be used).

Regarding:

I don't fully agree with tha

[2019-10-07 09:28] krnowak commented on #238
In Go, `Tracer.Start` creates, starts and activates the span, just like python's `Tracer.start_span()`. Currently, we do not provide any means to separate these steps.

Separation of creation of the span and starting it may be awkward, because how can we distinguish the non-started span from the started one? With a separate type? Would mean another interface for SDK to implement? But I don't know

[2019-10-07 11:11] Oberon00 commented on #238
An example where you may not want to activate the Span is when you start multiple asynchronous I/O operations at once. They should all become children of the same parent Span but with the Go/Python behavior, the second request would become a child of the first, etc. unless you manually specify a parent Span.

Also, we do not currently assign a semantic meaning of a Span being "active" but it is we

[2019-10-07 15:21] krnowak commented on #238
With Go, I imagine it would look like this:

[code]

Every `childSpan` now has `parentSpan` as a parent, because that parent is stored as an active span in `parentCtx`.

With that semantics, I have a feeling that starting a span should be equivalent to making it active. If the thread gets preempted or goes to sleep then CPU time is stopped being accounted. Unless I misunderstood that or I used the

[2019-10-07 16:26] Oberon00 commented on #238
That's because you only start the span in the goroutine. If, however, your async I/O is handled entirely by the OS and you only get a completion callback, there is no new context for the I/O operation, so you can't do that then. Also, what if you want to track the delay before the goroutine starts?

[2019-10-07 17:10] jmacd commented on #83
I marked this as resolved in the corresponding OTEP but it doesn't show up in this repo.
See the bottom of https://github.com/open-telemetry/oteps/blob/master/text/0003-measure-metric-type.md
I'm not sure how else to "mark the PR" as resolving this issue, but happy to do so.

[2019-10-07 17:33] jmacd commented on #238
I believe that this is a non-issue in Go. Each span is active in the context that is returned from Start. If you want the span to be active, use that context. If you want it not active, use a different context. If you want to set the span as active in a different context, there can be a helper for that. OTel-Go doesn't have that helper today, but I'd consider that part of the propagation API--a wa

[2019-10-07 17:39] tsloughter commented on #238
If the user is wanting to create a span that is not the current active span then why would this be through the tracer api?

An interface for the span data structure would be appropriate for creating spans that are not started.

[2019-10-07 18:44] SergeyKanzhelev commented on #149
@tedsuo do you think it will be language specific? Things like buffer size and a retry delay may be universally specified and it may be even desirable to do to simplify ops. I believe the queue-ing behavior of SDK should be specified quite well as it may affect how exporters and back end should be optimized.

[2019-10-07 18:47] SergeyKanzhelev commented on #44
IsRecording is used to record something even if it was sampled out. In case of tail based sampling I'd think sampled flag will be true anyway and will set recording to true automatically.

[2019-10-07 18:50] jmacd commented on #238
I don't think "spans that are not started" is meaningful. If you are reporting a span, surely it started. You're trying to start and end a span that never enters the current scope.

The issue of using a `SpanData` structure to enter these spans was already settled. It requires unnecessary API surface area to achieve what is still just a span starting and ending.

Personally I wouldn't have lobbied

[2019-10-07 19:37] SergeyKanzhelev commented on #208
Enabling API everywhere is a long term goal. For now API enablement is quite involved process. Mostly people will enable it together with SDK. So API-only behavior can also be seen as API with the "disabled" SDK behavior. Where propagation is expected from my opinion.

Also with the move to separation of context propagation into a separate package in v0.3 that is discussed in oteps - automatic con

[2019-10-07 19:44] SergeyKanzhelev commented on #70
@pauldraper seems like a dup, thanks for pointing out. Closing.

[2019-10-07 19:44] #70 closed

[2019-10-07 19:58] yurishkuro commented on #83
I don't think you can auto-resolve issues from another repo. But the spec change is in the same repo so will auto resolve it

[2019-10-07 22:01] c24t commented on #281
@SergeyKanzhelev I'm interested in this too, but I don't think we can reasonably get it into the 0.3 release.

[2019-10-07 22:04] jmacd commented on #83
To be clear, does this mean I should reference the issue from the spec
somehow? Or is there a way to auto-resolve an issue from a GH PR?

On Mon, Oct 7, 2019 at 12:58 PM Yuri Shkuro <notifications@github.com>
wrote:

[2019-10-07 22:10] SergeyKanzhelev commented on #281
@c24t I was thinking we can scope it to the names of attributes we recommend to use to indicate correlation

[2019-10-07 22:21] SergeyKanzhelev commented on #21
@Oberon00 it is a good point that some libraries may want to "hide" their Tracer. For instance, user may disable certain component telemetry and span will carry no-op Tracer. Which will not be clear to the caller.

Giving it's easy to obtain a tracer and tracer doesn't carry any instance-specific information I tend to close this issue.

We should reconsider when Tracer will have more methods than

[2019-10-07 22:21] #21 closed

[2019-10-08 02:40] yurishkuro commented on #83
In the PR description you can say "resolves ####" and the issue will be closed when PR is merged

[2019-10-08 06:39] yurishkuro commented on #270
Fair enough, but my point is that an instrumentation in a lower-level client library would never know how to generate the span name correctly. In opentracing-contrib modules for HTTP clients there are configuration options that allow the user to register "span name setter", which could be "just take the URI path" if the server is not encoding entity IDs in the path, or it could be something comple

[2019-10-08 08:34] Oberon00 commented on #238
@tsloughter @jmacd it sounds to me like you are mixing up the concepts of "active" and "started" (maybe because there is no distinction in Go?).

I agree that there should be no un-started Spans. But I think that we need inactive Spans in pracice. Consider for example a language that only has thread locals for automatic Span management. So in these languages, an active Span is defined as one that

[2019-10-08 14:35] tsloughter commented on #238
The way the Erlang lib works currently is that starting a span sets it to the active in current context span. The default context implementation uses the process dictionary, which can be thought of like ThreadLocal for Java folks, and it keeps track of the parent as well as the current span context:

[code]

So when the current span is ended it is able to take the parent (second element in the tup

[2019-10-08 14:37] tsloughter commented on #238
Oh... maybe this is why there is confusion. The process dictionary I mentioned may not be as similar to ThreadLocal as I thought if this is accurate. I didn't realize it was such that it was shared by multiple *unrelated* spans.

[2019-10-08 15:33] Oberon00 opened #295 "Semantic conventions: Clean up `peer` conventions"
From https://github.com/open-telemetry/opentelemetry-specification/pull/263#discussion_r331333290

@tedsuo :

In order to change the peer-"object", one also needs to update database and (g)RPC conventions.

[2019-10-08 17:01] c24t commented on #208
Some comments on "untrustworthy observations" only:

FWIW my reading of the spec is that we always have to generate new span IDs, proxies excepted.

@SergeyKanzhelev is actually the author of that part of the spec: https://github.com/w3c/trace-context/pull/108. He may be able to give us the [word of god](https://tvtropes.org/pmwiki/pmwiki.php/Main/WordOfGod) here.

It's technically possible, but I

[2019-10-08 18:04] c24t commented on #208
Well said. I agree that we should be careful about making this library too magical and stick to conservative defaults. And that there are a lot of edge cases still to consider.

To make sense of these examples we have to distinguish in- and inter-process context propagation. AFAICT, in every language, the API package itself doesn't change outbound headers. For example:

- The JS library ships with

[2019-10-08 19:46] SergeyKanzhelev commented on #245
@tedsuo there is a similar comment here: https://github.com/open-telemetry/opentelemetry-specification/pull/264/files#r330156117 I wonder if this is something that can be unified.

[2019-10-09 17:26] tedsuo commented on #208
@c24t I agree, I do not see how distributed context propagation can occur without installing plugins... so we are talking about a scenario where the are plugins already installed. Eventually native instrumentation become may become popular, and all software libraries could automatically provide context/header propagation. Until that happens, this scenario concerning automated context propagation –

[2019-10-09 23:43] #44 closed

[2019-10-10 18:18] MrAlias opened #298 "Notation Conventions"
There are many places in this specification where several words are used to signify the requirements in the specification (i.e. "MUST", "MUST NOT", "REQUIRED", "SHOULD", etc.). However, (as far as I can tell) there is no explicit statement of these words significance nor a consistent formatting guideline (none, bold, italicized, capitalized) of them.

Ideally the specification would define the mea