[2021-01-05 03:48] yurishkuro commented on #504
Just came here from an internal discussion and was surprised this is (a) not resolved, and (b) classified after-GA.

@AndrewAXue you removed the after-ga label, what was the justification for that?

[2021-01-05 03:49] yurishkuro commented on #504
For the reference, W3C Baggage spec (https://w3c.github.io/baggage/) only allows US_ASCII for baggage keys. Granted, baggage has more narrow scope than trace attributes.

[2021-01-05 03:50] yurishkuro commented on #504
In contrast, OpenMetrics requires labels to support UTF-8: https://github.com/OpenObservability/OpenMetrics/blob/master/specification/OpenMetrics.md#strings

[2021-01-05 04:30] trask commented on #1313
Java Auto-Instrumentation has implemented this, but I don't have concerns changing it prior to 1.0.

[2021-01-05 16:18] bogdandrutu commented on #1312
It would be good if we remove the "MILLIS" from the variable names and we accept "duration" as the value which includes the suffix of the time unit. This is a good experience for our users.

[2021-01-05 16:21] andrewhsu commented on #1315
from the spec sig mtg today, punya can take this one (need comment on the ticket to have assignee)

[2021-01-05 16:21] punya commented on #1315
Thanks @andrewhsu .

[2021-01-05 16:25] jsuereth commented on #1312
FYi:  Apache licensed parser for duration (in java): https://github.com/lightbend/config/blob/7c44daf5f5a42e51f702f3ababbd27f6177d3858/config/src/main/java/com/typesafe/config/impl/SimpleConfig.java#L735

And a specification of what's supported: https://github.com/lightbend/config/blob/master/HOCON.md#duration-format

I'm happy to help contribute an adapted version of this across APIs/SDKs that do

[2021-01-05 16:53] Oberon00 commented on #1241
With the discussion around #1294, this is now my opinion:

- There should *not* be any resource attribute that is mandatory, not even service name.
- However, there should be a simple and obvious fallback service.name for exporters that need it. For example, by providing something like `Resource.getDefault().getStringAttribute("service.name")`.

[2021-01-05 19:12] jkwatson commented on #1312
@jsuereth We'd really like to keep our SDK dependencies as minimal as possible, so I would strongly resist pulling in a parser library without shading/repackaging it, just FYI.

[2021-01-05 19:48] tigrannajaryan commented on #1301
# What constitutes a breaking change

For metrics here is an incomplete list of changes that may be breaking for readers of the telemetry (e.g. for dashboards in the backends):
- Renaming of the metric or of a metric label.
- Elimination of a label (dimension) of a metric.
- Introduction of a label to a metric.
- Splitting of a metric into multiple metric across a label dimension.
- Combining of m

[2021-01-05 20:00] yurishkuro commented on #504
Substitution, specific to the exporter. I would rather do that than bubble up those restrictions to all of OTEL - there are many backends with more relaxed string limits for metric labels.

[2021-01-05 20:07] tsloughter commented on #504
Right, I meant what would that substitution be, but, true, as long as the solution of substitution is accepted then it is a question that can be answered separate from, and later, than defining what is allowed in OTEL attribute key/values.

[2021-01-05 23:30] jsuereth commented on #1312
@jkwatson My suggestion was to re-implement just that portion of code (~60 lines).

[2021-01-06 00:03] anuraaga commented on #1312
I'm mostly worried about the feasibility of implementing somewhat complicated parsing across many languages, though I do like the format in general (lightbend config is awesome!). If it seems practical that would work great.

[2021-01-06 00:53] jsuereth commented on #1312
So the complicated part is reporting errors, the actual parser amounts to this:
[code]
And then chunking the original string between the units-portion + the non-units portion.  Most of the complication from typesafe-config is dealing with Java's String bugs, like `trim` not working w/ well with full unicode support.    This says nothing of the fact that environment variables inherently have unknow

[2021-01-06 05:12] anuraaga commented on #1310
@yurishkuro Well, OTEL itself defaults to 100% sampling. So I can see @Oberon00's point that a lower number as default for ratio sampler could be more natural since the reason to use the ratio sampler is to get less traces than the default. But I can't think of a reason to pick any of 0.1, 0.01, 0.001 it would be arbitrary, so 1.0 does have the nice aspect that it is an unambiguous decision.

[2021-01-06 06:58] carlosalberto commented on #1310
Yes, indeed. Because of this, and what @yurishkuro mentioned, I'd rather stay on the _safe_ side and go for 1.0 - users who truly want to use this sampler will _have_ to configure it, and that's not entirely bad IMHO.

[2021-01-06 15:08] tigrannajaryan commented on #584
See also related proposal for Telemetry Schemas here https://github.com/open-telemetry/opentelemetry-specification/issues/1301#issuecomment-754859274

[2021-01-06 20:59] tigrannajaryan opened #1324 "Introduce Telemetry Schema"
This came as in the context of https://github.com/open-telemetry/opentelemetry-specification/issues/1301

My proposal for Telemetry Schema is below. I'd like to have a preliminary discussion before I create a full OTEP.

# What constitutes a breaking change

For metrics here is an incomplete list of changes that may be breaking for readers of the telemetry (e.g. for dashboards in the backends):
-

[2021-01-06 21:02] tigrannajaryan commented on #1324
Triaging hint: this should be "after-ga".

[2021-01-06 21:51] jsuereth commented on #1312
So I was able to add a utility for java in ~60 LOC (although it may grow as we improve error messages).   See: https://github.com/open-telemetry/opentelemetry-java/pull/2439

I'm more than happy to write up a specification on Duration format and walk across the languages making sure we have utility methods or built-in language support.   Is that a reasonable next step here?

[2021-01-07 00:06] anuraaga commented on #1312
I'm +1 for that @jsuereth thanks a lot! I think the first step is to create a PR opposite of #1319 that removes the MILLIS suffix and adds a general point somewhere that all duration vaules, such as timeouts, accept millisecond values. A followup could then expand that to support duration strings.

[2021-01-07 02:17] carlosalberto commented on #1312
What about declaring that **all** duration env-vars params use (default to) milliseconds *and* after GA we (easily) add support for specifying units?

[2021-01-07 02:33] anuraaga commented on #1312
@carlosalberto Yeah I think that's what I said :P

[2021-01-07 12:16] #1151 closed

[2021-01-07 12:16] #907 closed

[2021-01-07 18:23] yurishkuro commented on #1312
I am in favor of keeping MILLIS. Parsing durations requires extra code to maintain, I see very little benefits to it. Seconds are trivial to represent as millis, and all other units are probably largely irrelevant for the parameters that actually need durations.

[2021-01-08 02:43] kowshikn commented on #1007
I see this issue is still open. Can OpenTelemetry provide the guidance for Zipkin/B3 propagation?

[2021-01-08 16:17] TomRoSystems opened #1329 "Clarify (un)escaped form for trace attribute http.url"
**What are you trying to achieve?**

from: https://github.com/open-telemetry/opentelemetry-specification/blob/63251ffd58bdefe0abbaaabdd0233d6d7cc15e4d/semantic_conventions/trace/http.yaml

**http.url** will be probably most commonly used (where it's available compared to other ones) as it's includes other attributes from spec:
* http.scheme
* http.host
* http.target

However it's unclear should it

[2021-01-08 16:24] Oberon00 commented on #1329
The target attribute is defined by "as passed in a HTTP request line", so if someone sends you an unescaped URL (potion), you should set the attribute to the same. That might even be relevant for finding what went wrong with a request.

This is only recommended on the client side, see https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions

[2021-01-08 20:43] jsuereth commented on #1175
@andrewhsu would you mind assigning this to me?

Additionally we should expand the description to include a Specification of what compatibility looks like.

[2021-01-08 20:44] jsuereth commented on #766
Would mind assigning this to me?  I've already started on something (based on the existing Go/Java shims) here: https://github.com/jsuereth/opentelemetry-specification/blob/wip-opencensus-compatibility/specification/compatibility/opencensus.md

Thanks!

[2021-01-11 10:24] Oberon00 commented on #1261
@anuraaga Any news from the AWS side, on the availability of the account ID or full ARN?

[2021-01-11 10:54] vovencij opened #1330 "Make the Resource accessible to Logging Library SDK"
**What are you trying to achieve?**
I want to enrich legacy first-party application logs with resource information. In order to do so, I have to make resource attributes accessible while configuring logging patterns. Logging happens in user code, but the Resource is currently a part of SDK, rather than API, which means that an application must depend on SDK, rather than API, to write resource attr

[2021-01-11 11:48] Oberon00 commented on #1330
Do you see any other use cases for reading these resource attributes, besides logging?

[2021-01-11 11:49] anuraaga opened #1331 "Allow registering exporters without exposing BatchSpanProcessor as a type"
**What are you trying to achieve?**

Simplify user experience for registering exporters

**Additional context.**

Is is allowed to expose batching as an option when registering an exporter?

[code]

The required span processors of the spec are there, but not exposed as types. It allows simple task of registering an exporter not require knowing the concept of span processors which seems like a nice

[2021-01-11 11:53] Oberon00 commented on #1331
It seems like it would remove functionality for the user if there is no way to create a BatchSpanProcessor without directly attaching it to a TracerProvider (that would be the part before the `addExporter` that you left out above, right?). Maybe someone wants to build some filtering span processor that forwards only spans matching some criteria to a wrapped BatchSpanProcessor?
The spec calls out t

[2021-01-11 12:15] anuraaga commented on #1331
`addSpanProcessor` would still exist for tagging in `onStart` as an advanced operation but not required just to add an exporter. Tagging can't happen in `onEnd` anyways so guess not a big deal.

There's also the weird case where a user registers two BSP, with different tagging decorators. Since it's the same span though such tagging can't happen independently. So decorating to tag doesn't quite fe

[2021-01-11 12:20] Oberon00 commented on #1331
This is a Java-specific issue, the spec just says that the span passed to OnStart/OnEnd must be readable.

Indeed. The sampler should even have all the initial attributes available.

Tail-based sampling, i.e. filtering at OnEnd maybe?

To be honest, these introductory paragraphs in the spec for the SpanProcessor are quite confusing and feel rather vague to me.

[2021-01-11 12:27] anuraaga commented on #1331
Ah - I guess in Java doing the tail sampling would be quite unfortunate having to call `toSpanData` twice, both before and after BSP.

Guess this could be simpler if it was `BatchSpanExporter` instead of `BatchSpanProcessor`.

+1

[2021-01-11 13:00] vovencij commented on #1330
At the moment I don't see any other relevant use cases besides logging.

[2021-01-11 13:14] anuraaga commented on #1330
Something that comes to mind is bringing in resource information for logic such as determining experiment IDs for a server. For example, if experiment is based on pod ID. Detection logic for the system for use in multiple places would otherwise need to be duplicated. Maybe it's expected though since such logic isn't telemetry.

[2021-01-11 14:41] #1310 closed

[2021-01-11 16:36] #1299 closed

[2021-01-11 17:02] vovencij commented on #1330
@tigrannajaryan what's your take on this?

[2021-01-11 17:39] jkwatson opened #1338 "Provide a policy for language and component release cadences"
It would be very useful to have a general policy for the OpenTelemetry project about how release cadences will be implemented and documented.

Suggestion:

1) Security fixes should always trigger a patch release ASAP.
2) Other fixes/features will be included as a part of the normal release cadence.
3) Every repository that does releases should publish a document (`RELEASING.md`?) which explains th

[2021-01-11 22:59] carlosalberto commented on #1330
cc @bogdandrutu

[2021-01-12 08:57] Oberon00 commented on #1330
Another advantage of making Resources part of the API is that custom resource detectors, etc. could be used by other API implementations beside the default SDK (depending on how we would design the SDK/API-split)

[2021-01-12 15:47] andrewhsu opened #1333 "Security requirements for GA"
High-level tracking issue for security requirements for OTel GA
* Security vuln scans in language SIG repos
  * related issue https://github.com/open-telemetry/oteps/issues/144
* Security policy
  * related PR https://github.com/open-telemetry/.github/pull/1
* Other items to track?

I suggest this issue be marked as `required-for-ga` and the eventual owner update the description if necessary

[2021-01-12 16:00] andrewhsu commented on #1178
Related: https://github.com/open-telemetry/opentelemetry-specification/pull/1291

[2021-01-12 16:25] andrewhsu commented on #1331
talked about this at the spec sig mtg today, marking as required for ga because need to verify if this is desirable to move on and if so, need to do this before ga release.

[2021-01-12 16:26] tedsuo commented on #1331
We should move very quickly if we are going to remove this.

It sounds like there are two separate questions:
* Is there a need for a BatchSpanProcessor interface to be exposed, for any reason? If it is not needed in Java, it is not needed in other languages either.
* Are there ways we can clean up initialization, so that these lower level concepts are not presented to users unless they need them?

[2021-01-12 19:24] tigrannajaryan commented on #1330
Exposing Resources only via SDK never felt quite right to me anyway. Generally, I think everything the end user needs to interact with should be in the API.

With the risk of opening a can of worms a bit more on this.

Historically we limited this to operations that are used by instrumentation and excluded operations that need to be performed by application developers (e.g. the setup and configura

[2021-01-12 22:24] tedsuo commented on #1173
Closed as unnecessary, we have a feature completeness checklist now.

[2021-01-12 22:24] #1173 closed

[2021-01-12 22:25] tedsuo commented on #1172
Closed as unnecessary, we have a feature completeness checklist now.

[2021-01-12 22:25] #1172 closed

[2021-01-13 00:16] bogdandrutu commented on #1331
Also in java for example we have an alternative batch implementation that depends on `Disruptor`, and people would like to use that instead of the standard batch processor.

[2021-01-13 00:32] anuraaga commented on #1331
Talked through some ideas to make configuration simpler, for example replacing `BatchSpanProcessor` with `BatchSpanExporter` which implements `SpanExporter`, where the `TracerProvider` converts to `SpanData`, not an export-specific span exporter. But these are pretty big ideas and we can think about them post-GA, even if it means deprecating current types like BatchSpanProcessor, it's not a huge d

[2021-01-13 00:36] #1309 closed

[2021-01-13 00:36] #1313 closed

[2021-01-13 02:36] XSAM opened #1334 "Include k8s.node in semantic conventions"
**What are you trying to achieve?**

I'd like to include `k8s.node.name` and `k8s.node.ip` in k8s semantic conventions.

**Additional context.**

Resources like `k8s.node` can provide more information to debug. For instance, we can tell which physical machine the data is coming from; `host.name` cannot do that since it already reveals the pod's name in the k8s Pod.

[2021-01-13 09:26] srikanthccv opened #1336 "Environment variable for zipkin exporter transport format"
Add environment variable in [sdk env spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#zipkin-exporter) for zipkin exporter transport format (`OTEL_EXPORTER_ZIPKIN_TRANSPORT_FORMAT`) with some recommended default value. The known transport formats are `v1_json`, `v1_thrift`, `v2_json` and `v2_protobuf`.

[2021-01-13 14:53] #1315 closed

[2021-01-13 15:41] HaloFour opened #1337 "Inheritable Attributes"
This probably applies specifically to tracing but the attribute specification is under the common directory.

**What are you trying to achieve?**

It's my opinion that it would be beneficial if attributes could be "inheritable" meaning that any such attributes applied to a parent span would be reflected on any child spans of that parent span.  This would be helpful in those use cases where you are

[2021-01-13 18:55] carlosalberto commented on #1338
@jkwatson Based on a brief conversation about this in the TC, I think we are ready to roll with this. We need to amend the Spec to (somewhere) add this part - also, we'd like to include a suggestion to SIGs to release at least every 3 months (upper bound).

[2021-01-15 03:20] anuraaga opened #1344 "Exporter authentication"
**What are you trying to achieve?**

Specification for configuring authentication of exporters.

**Additional context.**

Currently, the spec only defines how to configure endpoints and TLS certificates for exporters. This generally works well with localhost collectors, but it is also common to need authentication for exporters, for example basic auth or JWT. Authentication is a general concern an

[2021-01-15 03:47] anuraaga commented on #1344
For reference, this came up from a user asking for basic auth with jaeger exporter - https://github.com/open-telemetry/opentelemetry-java-instrumentation/discussions/2050

[2021-01-15 07:48] anuraaga commented on #1261
@Oberon00 It's a feature request, and apparently there are some corner cases so not sure if / when it'll be implemented unfortunately.

[2021-01-15 11:23] Oberon00 opened #1346 "Update default resource semantics (formerly required service.name)."
**What are you trying to achieve?**

The current wording for required service.name resource attribute is cumbersome to implement and may be interpreted in a way that makes creating a truly empty resource without service.name empty.

**Additional context.**

This is a tracking issue for the following PRs:

- #1345 "Make Resource.Merge consistent with Span.SetAttribute." (per-requesite, as discussed

[2021-01-15 11:24] Oberon00 commented on #1346
Triaging hint: I suggest to make this required-for-ga. I have assigned myself as I already created PRs to resolve this.

[2021-01-15 11:26] Oberon00 commented on #1184
#1345 partially resolves this.

[2021-01-15 11:30] mateuszrzeszutek opened #1347 "Semantic conventions for batch jobs"
**What are you trying to achieve?**

I want to introduce some semantic conventions for batch jobs, since there are currently no conventions around that. I'm mostly interested in instrumenting Spring Batch applications.
There already is a Java JSR-352 spec that describes a batch job API, I was thinking of basing the trace spec on that - the concepts of job/step/chunk seem generic and language-agnos

[2021-01-15 15:49] fbogsany commented on #1347
Good timing: we discussed this in the Ruby SIG meeting earlier this week. Background job queues are common in Ruby web applications, with the dominant implementations being Resque and Sidekiq. So far, we've instrumented those systems using the messaging semantic conventions, but they're really not a great fit for background/batch jobs. See https://github.com/open-telemetry/opentelemetry-ruby/pull/

[2021-01-15 16:25] Oberon00 commented on #1347
Wouldnt this be a case where you just use an INTERNAL span without any attributes? Not every span needs to conform to a semantic convention. What information do you want to have on batch job spans?

[2021-01-15 16:59] fbogsany commented on #1347
^ this bit seems useful.

For Ruby batch job systems, relative to message systems:
1. "receiver" spans are not particularly useful
2. The job class name is usually much more interesting as part of the span name than the queue name (e.g. `MyJob enqueue` vs `default send`)
3. The `... enqueue` suffix is more in keeping with the domain language than `... send`
4. `destination_kind` is likely always `

[2021-01-15 17:02] Oberon00 commented on #1347
For the "job class name": There are semantic conventions for code locations, see https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/span-general.md#source-code-attributes.

[2021-01-15 17:04] fbogsany commented on #1347
That's useful, but doesn't meet the expectations of users re: span names.

[2021-01-15 17:17] mateuszrzeszutek commented on #1347
Nice! I'll take a look at sidekiq & your instrumentation and try to extract common parts - at first it looks like the job span would be the only common thing, but maybe there's more. And there's the whole queue logic that's not there in Spring Batch/JSR-352.

True, JSR-352 does not expose much information that we could store as attributes, but that does not mean that there are zero of them: there'

[2021-01-15 19:18] evantorrie opened #1348 "Add Shutdown() to Metric Exporter interface"
**What are you trying to achieve?**

I propose adding a `Shutdown()` or `Stop()` method to the Metric Exporter SDK interface.

Currently, the `Exporter` for metrics in the SDK does not have a `Shutdown` method, whereas the trace `SpanExporter` **does** [require it
](https://github.com/open-telemetry/opentelemetry-specification/blob/c4fffd98adbdf2a9677fd14b94cca31fc68982a3/specification/trace/sdk.m

[2021-01-19 14:32] mateuszrzeszutek commented on #1347
This is what I had in mind for my use case (Spring Batch):

1. **JobLauncher/JobOperator/enqueue span** that marks the (possibly) asynchronous start of a batch job processing.
    Name: `Start Job <batch.job.name>`
    Attributes:
    * `batch.job.name`: the name of the job (Spring Batch), or the job class name (resque/sidekiq), or the task name (celery);
    * `batch.job.id`: the job execution id

[2021-01-19 16:44] andrewhsu commented on #1331
from the spec sig mtg today, discussed this and moving this to after ga

[2021-01-19 17:17] alolita commented on #1333
In order to support security vulnerability scans in the SIG repos for languages and Collector, the following security vulnerability scanning GitHub Actions workflows have been enabled so far.

1. CodeQL scan - Completed GHA workflows (merged) for the following SIG repos:
* Collector: https://github.com/open-telemetry/opentelemetry-collector/pull/2325
* Collector-contrib: https://github.com/open-te

[2021-01-19 19:54] fbogsany commented on #1347
They don't have the **Step span**, but at Shopify, for example, we have a higher-level job execution framework that provides an equivalent of "chunks", so the **Chunk span** is relevant there. I'm not sure about the **Item read, process and write spans**.

[2021-01-19 21:52] carlosalberto opened #1351 "Add duration unit parsing for environment variables"
Follow up to #1325 and its related issue #1312

Add duration unit parsing for environment variables, i.e. formatted strings with an integer followed immediately by a unit string:

- `"ms"` - milliseconds (default if not unit was specified, to not break the current usage)
- `"s"` - seconds
- `"m"` - minutes
- `"h"` - hours
- `"d"` - days

Although this is a really good thing to have, we need to mak

[2021-01-19 22:08] carlosalberto opened #1352 "Use either SPAN or TRACES in all related environment variables"
Currently we are still mixing `TRACE` / `SPAN` in our environment variables, i.e. `OTEL_TRACE_EXPORTER` vs `OTEL_EXPORTER_OTLP_SPAN_ENDPOINT`. Decide which one is better and stick to that.

[2021-01-19 22:09] carlosalberto commented on #1352
Marking as Required-for-GA as we will have to do this change now or never.

[2021-01-19 22:16] carlosalberto opened #1353 "Rename OTEL_METRICS_EXPORTER to OTEL_METRIC_EXPORTER"
Realized that our OTLP metrics exporter uses `_METRIC_` rather than `_METRICS_` in its environment variables, as [seen here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md#configuration-options).

IMHO it makes sense to rename the newly added `OTEL_METRICS_EXPORTER` to match that pattern (or as alternative use the `_METRICS_` pattern fo

[2021-01-20 00:15] jasonou55 opened #1354 "Get an error when build longCounterBuilder. `java.lang.IllegalArgumentException: Instrument with same name and different descriptor already created.`"
I am trying to use the count metric. When I use getMeterProvider() to get Meter and build longCounterBuilder. Most of the time there is no problem, but a few times you will get this error: java.lang.IllegalArgumentException: Instrument with same name and different descriptor already created.
I am using SDK 5.0 for Java.

[2021-01-20 00:17] anuraaga commented on #1353
Sorry for missing the gap with the other variables. I'd take the same pick as #1352 - trace corresponds with metrics, span corresponds with metric...I think? Well I guess we also call the exported stuff a point, not a metric. I lean towards trace / metrics since the names are least ambiguous, they're the name of the signals which are used in a lot of places in the spec / docs.

[2021-01-20 00:19] jkwatson commented on #1354
@jasonou55 can you update your Java APIs? Version 0.5.0 was released last June. A lot has changed since then. And, if you still have an issue, please log an issue here:  https://github.com/open-telemetry/opentelemetry-java

[2021-01-20 00:21] jkwatson commented on #1354
I'm going to transfer this issue over to the java repository.

[2021-01-20 02:35] yurishkuro opened #1355 "API for response headers"
**What are you trying to achieve?**

Similar to OpenTracing and OpenCensus, the context in OpenTelemetry is only propagated forward, from caller to callee. However, some tracing systems instrument both directions, and may even require different IDs to be sent in the response, in order to explicitly capture the causality via events on a DAG. The OTEL API for Propagators currently provides no abilit

[2021-01-20 07:27] anuraaga opened #1356 "Consider removing jaeger thrift from compliance matrix (or marking it optional somehow)"
**What are you trying to achieve?**

From what I read on https://www.jaegertracing.io/docs/1.21/apis/#protobuf-via-grpc-stable, since Jaeger 1.11 gRPC is recommended for exporting spans to collector, or thrift UDP for an agent. Thrift HTTP seems to be sort of a legacy format for exporting spans to collector. Do we need to require OpenTelemetry implementations to support the format?

**Additional c

[2021-01-20 09:12] Oberon00 commented on #1356
I think we should strive for minimal requirements here. If up-to-date Jaeger backends support gRPC that should be enough. What is more, Thrift is a rather exotic library compared to gRPC and is probably not available in as many languages.

[2021-01-20 14:44] vovencij commented on #1298
I propose to restrict the scope of the initial request with only _delayed, but immutable_ attributes, which may appear during runtime, but will stay immutable.

To make this feature really useful, I see that https://github.com/open-telemetry/opentelemetry-specification/issues/1330 is also required – If a resource is exposed as an API with `setAttribute` method, instrumentation can do auto-discover

[2021-01-20 14:49] carlosalberto commented on #1356
I'd rather not throw away any existing Thrift HTTP exporter, so I definitely make it optional, while making the gRPC one the **preferred** one.

[2021-01-20 15:02] anuraaga commented on #1356
@carlosalberto How does that affect the compliance matrix? Should we add a column, optional? Or should we remove the row and let language SIG decide whether to support it completely independently from the spec. FWIW, my hope for Java is to maintain it in the SDK repo as contrib, and not include it in the default Java agent distribution. I am also ok with including it in the distribution if things

[2021-01-20 15:30] carlosalberto opened #1357 "Improve Resource.Merge for the empty values case"
Follow up to #1345

Consider amending the following [Resource.Merge](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md#merge) section:

[code]

Probably not that important, as `Resource.Merge` will quite often be called only at application start time (besides being a very cheap operation).

cc @bogdandrutu

[2021-01-20 15:52] tigrannajaryan commented on #1351
@carlosalberto can you also specify that the unit is optional and if missing the duration is assumed to be a number in milliseconds for backward compatibility reasons.

[2021-01-20 16:17] carlosalberto commented on #1351
@tigrannajaryan Done :)

[2021-01-20 17:12] Oberon00 commented on #1357
I think overriding a value with an empty string can also be a feature. Also, where do we expect these empty strings to come from? Wouldn't it usually be better to tweak the producer to not produce the resource attribute at all instead of an empty string?

[2021-01-20 19:13] #1286 closed

[2021-01-20 19:17] carlosalberto commented on #1356
I'd be up for either making a section at the bottom, with the optional components, or remove it altogether **from the** Matrix (which was expected to document the features needed for GA). Not a strong opinion though.

[2021-01-20 21:38] carlosalberto commented on #1355
This sounds to me like something we should do after GA.

[2021-01-21 14:50] #1346 closed

[2021-01-21 15:47] carlosalberto commented on #1261
+1 to this. Shall we proceed? I'd like to have this assigned (or work on it) so we can make progress ;)

[2021-01-21 16:30] jkwatson opened #1360 "The need for more granularity/clarity in CLIENT span conventions"
**What are you trying to achieve?**

Currently, the span specification reads, when describing span kinds:

[code]

This seems fine on the surface, but when you get into the details of actually writing instrumentation (and auto-instrumentation in particular), things get murky very quickly. Multiple layers of an application-framework stack can (and do) consider themselves logically as CLIENTs, even

[2021-01-21 16:34] jkwatson commented on #1360
Note: see this discussion in the java-instrumentation repository:  https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1822

[2021-01-21 16:35] Oberon00 commented on #1360
Probably we have to live with that. It is impossible for the parent to know if there will be a child, as maybe the child is not instrumented.

This is not true anyway, since the remote end might not be instrumented at all. Probably it should relaxed to say that it can also be an indirect parent.

[2021-01-21 20:03] jonatan-ivanov opened #1361 "Turning on GH Discussions for the specification repo"
It seems that there are quite a few repos under the open-telemetry org that are taking advantage of GH Discussions. From conversations on meetings and Gitter, it seems that the community would benefit from having  GH Discussions for the specification repo turned on.

/cc @alolita @SergeyKanzhelev @tedsuo @jmacd

[2021-01-21 20:10] SergeyKanzhelev commented on #1361
@open-telemetry/technical-committee @open-telemetry/specs-approvers @open-telemetry/specs-logs-approvers @open-telemetry/specs-metrics-approvers @open-telemetry/specs-trace-approvers any objections to enable discussions for specs?

[2021-01-21 20:22] alolita commented on #1361
@SergeyKanzhelev We discussed in the Metrics SIG today and hence this formal request to turn on GitHub Discussions and deprecating Gitter over time. The community was in agreement with this move in the meeting.

Thanks for your help in enabling this feature.

[2021-01-21 20:36] SergeyKanzhelev commented on #1361
enabled

[2021-01-21 20:36] #1361 closed

[2021-01-21 22:41] #1312 closed

[2021-01-21 22:43] carlosalberto commented on #1292
@anuraaga After #1234 is there anything to be done here?

[2021-01-21 22:45] carlosalberto commented on #1241
@Oberon00 @jkwatson after #1294 was merged, is there anything left to be done or clarified here?

[2021-01-21 22:55] jkwatson commented on #1241
seems fine to me. thanks!

[2021-01-21 23:17] tedsuo commented on #1301
Thanks @tigrannajaryan. After more conversations I agree. We should issue a v1.0 without these data guarantees. We can't even begin to address this until everything else in tracing and metrics is complete. I've removed the `required-for-ga` label.

[2021-01-21 23:41] #1292 closed

[2021-01-21 23:42] anuraaga commented on #1292
Nope :)

[2021-01-21 23:42] maxgolov commented on #780
@Oberon00 @bogdandrutu @jsuereth @pyohannes

One concern here - since we got this tagged `after-ga` : adding new type to C++ API surface is going to be ABI-breaking change. What I am proposing right now:
- allow C++ SDK implement the incoming `array of uint8_t bytes` on API surface
- for the current implementation of OTLP exporter - put bytes into array of ints (already supported)
- for exporters

[2021-01-22 06:18] anuraaga opened #1363 "Environment variables for OTLP client TLS key / certificate"
**What are you trying to achieve?**

Ability to set client key / certificate for mTLS.

**Additional context.**

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md#configuration-options

We currently only have a CERTIFICATE_FILE environment variable, which is a bit misleading since this only refers to trusted certificates. For mTLS, there w

[2021-01-22 06:19] anuraaga commented on #1363
Well - looking at the documentation for `OTLP_EXPORTER_OTLP_CERTIFICATE` it seems to be indicating this is a client certificate, not a trusted one `Path to certificate file for TLS credentials of gRPC client. Should only be used for a secure connection.`- note "TLS credentials". But this can't be true since there would need to be another variable corresponding to the private key. So not even reall

[2021-01-22 17:17] tedsuo commented on #1267
Thank you everyone for your participation! We've unlocked v1.0. Since work has successfully moved to the SIGs and implementations; I am closing this issue.

[2021-01-22 17:17] #1267 closed

[2021-01-22 19:50] victlu opened #1366 "Need clarity on scope of Instrument Name"
# Instruments with same namespace / names

## Example

A service installs OTel SDK and uses a 3P library (instrumented with OTel).  The service is required to initializing the 3P library for each new transaction.  This causes the 3P library to register the instrument (with same namespace and instrument name).  Thus, resulting in failure except for 1st instance.

How should this situation be resolv

[2021-01-22 19:51] tigrannajaryan opened #1367 "Move semantic conventions that are applicable to the Resource from "trace" spec to a common area"
Certain conventions, such as `db.*`, `messaging.*` are in the "trace" section of the spec. These are applicable to the Resource as well, not just traces.

For example metrics emitted by / collected from Redis should have "db.system=redis" Resource attribute.

We need to move them to a common area of semantic conventions.

[2021-01-23 03:17] carlosalberto commented on #1241
Ping @Oberon00 ;)

[2021-01-23 07:59] Oberon00 commented on #1241
I think we should specify how/when Jaeger/Zipkin should use the default resource's attribute.

[2021-01-23 13:33] tsloughter commented on #1356
A big +1 to making it optional.

[2021-01-25 04:54] anuraaga commented on #1363
I'm a bit worried the current environment variable is misspecified so I think at least confirming that before GA would be good I think. Might be good to remove it for now if not adding all three

/cc @tedsuo

[2021-01-25 13:51] carlosalberto commented on #1241
@Oberon00 Would mind elaborating? (else, you could help cook a PR yourself if you have enough cycles this week).

[2021-01-25 13:56] carlosalberto commented on #1237
@jkwatson @yurishkuro My feeling is that with #1294 this should be done, unless you want further clarification, to be on the safe side ;)

[2021-01-25 15:19] Oberon00 commented on #1241
Oh, actually there is a separate issue for that: #1237. I think I'll close this then, since I was the only one objecting to closing.

[2021-01-25 15:19] #1241 closed

[2021-01-25 15:20] Oberon00 commented on #1237
I think we want further clarification, which is why I had objected to closing #1241 -- I did not realize this issue here also exists.

[2021-01-25 16:24] jkwatson commented on #1237
I think our Jaeger exporter spec still needs clarification on this, yes. I wouldn't close this until that document has been updated to explain the 2 different possible resources for the service.name and when to choose which.

[2021-01-25 17:05] tedsuo opened #1373 "Release v1.0.0"
This is a tracking issue for the v1.0 release of the specification. Please post any concerns or blockers here.

Remaining issues required for v1.0 can be found here: https://github.com/open-telemetry/opentelemetry-specification/issues?q=is%3Aopen+label%3Arelease%3Arequired-for-ga+-label%3Aspec%3Ametrics+label%3Apriority%3Ap1

v1.0 PR: https://github.com/open-telemetry/opentelemetry-specification/p

[2021-01-25 17:24] tedsuo commented on #1352
Let's go with TRACE, please, it matches the name of the signal and the other non-OTLP env vars we already have.

[2021-01-25 17:25] obecny commented on #1352
+1 for TRACE

[2021-01-25 17:25] mtwo commented on #1352
Following up from the maintainers meeting, we'll use TRACE

[2021-01-25 17:27] iNikem commented on #1261
Just a note: this problem can _also_ be solved by doing #1298

[2021-01-25 17:27] andrewhsu commented on #1261
discussed at the maintainers mtg today...desire is to move this to after ga @Oberon00 comment if you would see this as required for ga

[2021-01-25 17:42] tedsuo commented on #1237
@yurishkuro I'm concerned that we are going to have to drop Jaeger as a v1.0 requirement unless we get the TBD's in the jaeger exporter spec resolved for OTel this week – this is blocking v1.0 at this point. Do you feel like you have enough information to add these attribute translations to the spec? Can we tap a jaeger member of the OTel community to make this PR?

[2021-01-25 17:54] Oberon00 commented on #1261
I'm fine with after-ga.

[2021-01-25 23:10] yurishkuro commented on #1237
@tedsuo #1374

[2021-01-26 00:45] evankanderson commented on #1207
I'd like to do this, too. Is #1378 all that is required?

[2021-01-26 13:45] pmm-sumo opened #1377 "cloud.infrastructure_service incosistency"
**Current state**

[Cloud semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/cloud.md#cloud) specify fields such as:

* `cloud.provider` (e.g. `aws`, `azure`)
* `cloud.infrastructure_service` (e.g. `aws_ec2`, `aws_ecs`, `azure_vm`, etc.)

As can be observed, the values for the latter start with prefix that mat

[2021-01-26 14:46] Oberon00 commented on #1377
This was discussed at https://github.com/open-telemetry/opentelemetry-specification/pull/1112#discussion_r524417409, i.e. on the PR that introduced this attribute. Quoting @arminru for why he suggested adding a prefix:

E.g. `azure_vm` was named as being more clear than just `vm`.

[2021-01-26 14:47] Oberon00 commented on #1377
I.e., I think the collector should follow the spec, and not the other way round.

[2021-01-26 16:08] tedsuo commented on #1356
Optional please, +1

[2021-01-26 16:15] jmacd commented on #1366
These are all good questions. Given our recent discussions in the Metric working group(s), I'd like to try and re-cast these questions in terms of the protocol and not the API and SDK behavior. Suppose the collector is presented with more than one kind of OTLP data point for a metric with the same name. How should it treat that data? I believe the best approach is to treat these as distinct, i.e.,

[2021-01-26 16:44] reyang commented on #1360
Related to #110

[2021-01-26 21:34] yurishkuro commented on #1237
@jkwatson is there still an open issue here?  I don't particularly like how the notion of `Resource.getDefault` is hidden away and more than one place that explains something about `service.name`, but cumulatively those places do seem to define a clear path. It may be worth mentioning it in the jaeger exporter, e.g. "if Resource does not specify service.name, then get it from Resource.getDefault".

[2021-01-26 23:08] jkwatson commented on #1237
heh. I was literally about to write this as well. I do think it would be good to mention that, yes.

[2021-01-27 02:19] cijothomas opened #1380 "Zipkin spec should suggest to use Resource.GetDefault"
These 2 PRs modified default resource requirements.
https://github.com/open-telemetry/opentelemetry-specification/pull/1269
https://github.com/open-telemetry/opentelemetry-specification/pull/1294

Zipkin exporter spec must be updated to reflect this change.
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/zipkin.md#service-name

[2021-01-27 02:19] cijothomas commented on #1237
For Zipkin also: https://github.com/open-telemetry/opentelemetry-specification/issues/1380

[2021-01-27 19:54] #1352 closed

[2021-01-27 19:54] #1353 closed

[2021-01-27 22:17] victlu commented on #1366
Any recommendation on how to start this conversation in the community and get a resolution?

[2021-01-28 16:59] #1356 closed

[2021-01-28 23:19] jmacd commented on #1078
## Objective

Define how to transform a OTel-Collector Prometheus receiver (pull)
stream into OTLP such that it transforms into exactly the PRW output
that Prometheus or Grafana agent would write.  State how the
OTel-Collector receiver should generate the `up` metric and staleness
markers to be semantically equivalent to Prometheus or Grafana agent
in this regard.

AND

Identify a way to transform

[2021-01-29 12:55] #1237 closed

[2021-01-29 12:55] #1380 closed

[2021-01-29 17:27] ocelotl opened #1389 "Missing environment variables"
**What are you trying to achieve?**

I am trying to add these environment variables to the specification:

`OTEL_EXPORTER_JAEGER_CERTIFICATE`
`OTEL_EXPORTER_JAEGER_INSECURE`
`OTEL_EXPORTER_ZIPKIN_TRANSPORT_FORMAT`
`OTEL_EXPORTER_OTLP_INSECURE`
`OTEL_EXPORTER_OTLP_METRIC_INSECURE`
`OTEL_EXPORTER_OTLP_SPAN_INSECURE`

What did you expect to see?

**Additional context.**

OpenTelemetry Pyhton uses the

[2021-01-29 20:31] bogdandrutu opened #1391 "Clarify the name used for Lightstep's (ot-tracer-*) propagator"
Currently in some repos this propagator is called `OpenTracingPropogator` in others is called `OtPropagator`. Couple suggestions:
* Use consistent names, probably `LightstepPropagator`, since this is not the official OpenTracing propagator (or maybe I am wrong, but if that is the case then we need to probably add it to the ot-shim).

[2021-01-29 20:33] bogdandrutu commented on #1391
/cc @yurishkuro @tedsuo @carlosalberto as experts in OpenTracing.

[2021-01-29 20:34] bogdandrutu commented on #1391
See:
* https://github.com/open-telemetry/opentelemetry-go-contrib/pull/562
* https://github.com/open-telemetry/opentelemetry-java/blob/main/extensions/trace-propagators/src/main/java/io/opentelemetry/extension/trace/propagation/OtTracerPropagator.java
* https://github.com/open-telemetry/opentelemetry-java/blob/main/extensions/trace-propagators/src/main/java/io/opentelemetry/extension/trace/propaga

[2021-01-29 20:49] yurishkuro commented on #1391
1. I am curious who is asking for this propagator and for what purpose
2. Agree that it should not be using the name OpenTracing
3. Is there even a spec for that format?

[2021-01-29 21:17] austinlparker commented on #1391
Conventionally the `ot-tracer-*` headers appeared in OpenTracing as part of the `basictracer` packages (see https://github.com/opentracing/basictracer-python/blob/master/basictracer/text_propagator.py, https://github.com/opentracing/basictracer-go/blob/master/propagation_ot.go, etc) and is conventionally referred to as 'OpenTracing' headers in 3rd party use (such as in Veneur - https://github.com/

[2021-01-29 21:17] codeboten commented on #1391
Users wanting to deploy new services using OpenTelemetry who have previously instrumented w/ OpenTracing, but aren't interested in updating their existing services.

Happy to change it based on the conclusion of the discussion here.

[2021-01-29 21:27] yurishkuro commented on #1391
I recommend
[code]

[2021-01-29 21:39] austinlparker commented on #1391
sgtm

[2021-01-29 22:16] jmacd commented on #1391
I agree this form is called "basic tracer" from OpenTelemetry.

@yurishkuro and @austinlparker what do you think?

For the record, Lightstep has a distinct [single-header base64-encoded-protobuf representation of the OpenTracing "basic tracer" information](https://github.com/lightstep/lightstep-tracer-common/blob/master/lightstep.proto), but that form is not the subject of this PR.

[2021-01-29 22:20] austinlparker commented on #1391
What does adding it to ot-shim entail?

[2021-01-29 23:48] jmacd commented on #1391
I think that means requiring it to be implemented as part of an on-spec OpenTracing bridge?

[2021-01-30 00:26] yurishkuro commented on #1391
I don't think it needs to be in the shim or required. Basic tracer repos had explicit warning "sample implementation, not for production use". To my knowledge, they all had no trace export format, just in-memory collection. But it's fine to have the propagator in contrib for people who ignored that warning and used basic tracer in prod.

[2021-02-01 02:28] carlosalberto commented on #1391
Agreed, it doesn't need to become part of the shim.

[2021-02-01 07:25] iNikem opened #1394 "CONTRIBUTING.md should mention Go"
CONTRIBUTING.md starts right away with explaining different `make` rules, but does not mention anywhere, that Go build system is required prior to using them.

[2021-02-03 02:22] tedsuo opened #1397 "Clarify OTLP stability"
Currently the OTLP specification is a mix of stable and experimental sections. Some of these sections are mixed together to the point that it is hard to clarify what is stable vs what is experimental. For example:
* Proto over HTTP is stable, while JSON over HTTP is experimental.
* The tracing protocol is stable, while the metrics protocol is experimental.

This document should be reformatted to m

[2021-02-03 18:23] awssandra commented on #1373
Hey tedsuo,

Where can we view the diff between 0.7.0 and the 1.0 spec?

[2021-02-03 22:36] tedsuo commented on #1113
@bogdandrutu want to reassign this to me? I'm getting to work on a string conversion OTEP.

[2021-02-04 14:10] Oberon00 commented on #1373
There are a bunch of issues in with the label `area:ga-tracking` https://github.com/open-telemetry/opentelemetry-specification/labels/area%3Aga-tracking and without priority. What do we do about these? Some of them seem to be for tracking the GA of non-spec repos, maybe these should be transferred to the community repo.

[2021-02-04 17:48] #1334 closed

[2021-02-05 12:14] fabxc commented on #1078
timeseries, and the interpretation is that the process is either (a)
not alive, (b) has disconnected network, (c) faulty SDK, (d) etc.

NaN are actually valid series values, too. Since there are many possible NaN representations Prometheus defines two specific NaN representations "value NaNs" and "staleness NaNs" (see [pkg/value](https://pkg.go.dev/github.com/prometheus/prometheus/pkg/value#pkg-co

[2021-02-05 15:13] iNikem commented on #1298
After carefully reading the spec I think that the immutability of `Resource` is an illusion. And it is certainly not true that all spans from the same process come with the same `Resource` instance.

First, `Resource` is associated with `TracerProvider` and spec allows for several different `TracerProviders` in the same process.

Second, spec is extremely vague on how `Resource` gets from `TracerP

[2021-02-05 16:49] tedsuo commented on #1373
@Oberon00 those are "non-spec" issues which are project wide. It's true, they could be in the community repo instead. Either way, we need to ensure progress is being made on them. (None are a blocker for releasing v1.0 of the spec). Let's review these in the maintainers meeting on Monday.

[2021-02-05 16:58] tedsuo commented on #1373
@awssandra you can check out the changlelog to see what was added. Everything currently marked as "unreleased" will be added to the v1.0.0 release: https://github.com/open-telemetry/opentelemetry-specification/blob/main/CHANGELOG.md#unreleased

If you want to see the actual text changes, you can check out the `main` branch and then use `git diff v0.7.0` to see the changes directly. (Apologies if t

[2021-02-05 17:00] tedsuo commented on #1373
I believe that all non-metrics issues which are required for GA are now resolved. At Monday's maintainer's meeting, I suggest we merge the PR (assuming the TC does not do so before then).

[2021-02-05 19:01] #1397 closed

[2021-02-05 21:07] aabmass opened #1405 "OTLP exporter concurrent sending requirements"
**What are you trying to achieve?**
Implementing OTLP exporter concurrent sending in the python SDK (https://github.com/open-telemetry/opentelemetry-python/issues/1108), as required in [the spec matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md#user-content-exporters:~:text=Concurrent%20sending). Relevant part of specification: https://github

[2021-02-06 01:14] #1391 closed

[2021-02-06 23:41] bogdandrutu commented on #1373
Waiting for one more TC member to sign on that :)

[2021-02-09 00:34] wdengw opened #1410 "Possibility to support Application in Resource Conventions"
**What are you trying to achieve?**
Many Java web applications host multiple services. For example, a SpringBoot application can have multiple RestController components, each RestController is a Rest Service. A SpringBoot application usually starts as a JVM process. The OpenTelemetry Log Data model has semantic resource attributes for Service, like service.name, service version, etc. It also has s

[2021-02-09 08:05] jmacd commented on #1298
@vovencij
@iNikem
@Oberon00
@anuraaga

## Learning from Metrics systems

A similar conversation has taken place in the metrics group, about whether in-process metrics processing pipelines should be able to presume a fixed set of resource attributes.  Whether or not the OTLP Exporter is required to support multiple resource attribute sets has perhaps not been stated; I believe @bogdandrutu has in t

[2021-02-09 08:15] Oberon00 commented on #1410
I think the technology in OTel might be reversed. The service would be the whole running entity that is instrumented with OTel. The application would be something running inside that service. See also #335

[2021-02-09 08:30] jmacd commented on #1078
@fabxc Thank you! This is very helpful. It begins to look like the `up` metric should be thought of as a JOIN operation between an output from service discovery and the process itself. Suppose we used the `alive` metric as proposed above for the process to report on itself, while service discovery pushes a metric such as `present` that when joined with `alive` yields the intended meaning of `up`?

[2021-02-09 09:03] Oberon00 commented on #1298
@iNikem

The SpanProcessor has no say, here, the resource is passed from the TracerProvider to the Tracer to the Span which then gets passed to the exporter, as spec'd here: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#additional-span-interfaces

and the Resource spec says it maybe even clearer https://github.com/open-telemetry/opentelemetry-sp

[2021-02-09 09:03] jmacd commented on #1078
The problem at hand, also stated in https://github.com/open-telemetry/wg-prometheus/issues/8, may be connected with this thread about late-binding resources https://github.com/open-telemetry/opentelemetry-specification/issues/1298#issuecomment-775749864.

Suppose we replace the "Service Discovery" component in an OTel-Collector Prometheus receiver with an independent service discovery metrics rece

[2021-02-09 09:21] Oberon00 commented on #1298
@jmacd @iNikem

I agree that multiple resources can exist via multiple tracer providers, but I don't think that associating the same exporter object instance to multiple tracer providers is necessarily the best way to solve this. In fact, I think we should specify that in general each SpanProcessor must be added to at most one TracerProvider and each Exporter must be added to add most one SpanProc

[2021-02-09 14:13] jsuereth commented on #1298
@jmacd I want to call on one point in your description that I'd like to discuss:

From what I understand, Resource is *the* central concept that unifies telemetry.  Resource represents the way we navigate from one item of telemetry to another in our observability system.  It's how we can link from Logs => Metrics or Trace => Metrics.   As such, I've always viewed it as a *Query against an APMs und

[2021-02-09 14:27] jsuereth commented on #1078
@jmacd Let me see if I can rephrase this design in josh-bullet-points:

- We have a service discovery component
  - This component is an independent receiver that just finds Prometheus endpoints
  - This component outputs a "present" metric for each endpoint it discovers
  - This component has an obligatory set of "resource labels" it attaches to the endpoint/present metric
- We have the prometheu

[2021-02-09 14:29] Oberon00 commented on #1298
Hence why I suggest we use "identifying" and "descriptive"/"non-identifying". Required (obligatory) is IMHO, if not orthogonal, not the same.

[2021-02-09 15:49] Oberon00 opened #1413 "Review approach & specify algorithm for TraceIdRatioBasedSampler (ProbabilitySampler)"
See also discussion on https://github.com/open-telemetry/opentelemetry-specification/pull/1412#issuecomment-776101910

The sampling alorithm for TraceIdRatioBasedSampler is unspecified. As a result, trace IDs that are sampled by some implementations might get non-sampled or re-sampled by SDKs in other languages, even though they have the same or a a higher probability than the parent.

TODO list f

[2021-02-09 17:51] bogdandrutu commented on #1413
If we do re-use the traceID from untrusted sources we have bigger problems than the sampler. I think that topic should be addressed independently and separately. For example you may overload the backend, you may overload the collector if you are doing a group by trace id, etc. I think there are a lot of failing scenarios when the traceid is untrusted that it deserve it's own section and should be

[2021-02-09 17:54] Oberon00 commented on #1413
I think you are right. I will remove this item from the enumeration above. Is #1188 the right issue for that discussion?

[2021-02-09 18:04] bogdandrutu commented on #1413
| Is this a problem at all? Or is the ParentBased approach enough (in combination with any, not necessarily trace-id-based probability-based sampling of root spans)?

I've seen implementation that use "inflationary sampling probability", and the algorithm is important for them. For example if Service A (0.2% sampling) -> Service B (0.4% sampling) and you want to end up with about 0.2 full traces a

[2021-02-09 22:44] jmacd commented on #1298
I like @Oberon00's suggested terms, "Identifying" and "Descriptive".

[2021-02-10 00:17] jmacd commented on #1078
@jsuereth Yes!  I'm going to try to restate an example without referring to "receivers" other than OTLP.  Everything pushes OTLP in this example; the collector receives only OTLP from external producers.

Let's say the service discovery producer writes `present` metrics, equal to 1, with a resource that combines identifying and descriptive attributes from service discovery (using the terms "identi

[2021-02-10 01:05] wdengw commented on #1410
@obecny You suggested to consider this springboot application as a server inside HTTP Service? There are a couple of issue with this approach:
1.  The  HTTP Server has no attribute to capture the version, and the groupId of this built springboot artifact;
2. The real problem is from developer's point of view, this springboot app is key entity of their focus for observability.  The use case documen

[2021-02-10 03:01] jmacd commented on #1078
Adding to the explanation above, I imagine the following block diagram:

![OTelAliveAndPresent](https://user-images.githubusercontent.com/3629705/107458534-1cfaac80-6b09-11eb-829b-7248a0edb46c.png)

[2021-02-10 07:46] iNikem commented on #1410
@wdengw Spring Boot is only of the possible deployment models. If you want to bring the notion of the application into spec, you have to consider other models as well. From the top of my head:
* Several war files deployed to Java application server like
* Several hosts defined Apache httpd or Nginx

In general the relation between "process" and "application" is at least "one to many"

[2021-02-10 14:56] anuraaga commented on #1298
Is it only resource though? There are many attributes which I think also are meant for linking telemetry. For example, rpc method seems like one that will be used to jump between signals - I think this is what's considered identifying in this proposal.

On the flip side, Resource has attributes which seem to be descriptive, such as the command line.

So I guess I just can't imagine a backend handl

[2021-02-10 14:59] yurishkuro opened #1425 "How to report going over limits on span data"
`specification/trace/sdk.md` says in the section on limits:

I think this is not enough, it is even more useful to capture this information in the span. The proto has placeholders for such data, e.g. `dropped_attributes_count` and `dropped_events_count` fields, but the spec says nothing about them.

In addition, if these fields are exposed in the SDK Span, it would be useful to define semantic con

[2021-02-10 15:08] carlosalberto commented on #1425
Marked as after-ga as it seems this is an improvement that wouldn't break things.

[2021-02-10 16:37] jsuereth commented on #1078
Ok, let me restate once again to verify my understanding of responsibilities:

*Service Discovery*
- is responsible for looking up identifying attributes of a `Resource`.
- Is responsible for identifying *possible* metric sources and generating a present metric for each

*SDK entrypoints*
- Push metrics with a subset of identifying labels, but enough for a 100% accurate join w/ `Resource`
- In a p

[2021-02-10 17:36] puckpuck opened #1426 "Inconsistency of configuring secured OTLP export"
**What are you trying to achieve?**

Configure the SDK from multiple languages to send traces to a secured GRPC endpoint.

**Additional context.**

The specification, and docs for the Java Instrumentation agent indicates to specify the OTLP endpoint with the `http://` or `https://` scheme. This is odd because the communication is done using GRPC by default, in which case the scheme should follow t

[2021-02-10 23:08] #1373 closed

[2021-02-10 23:09] tigrannajaryan commented on #1324
I plan to work on this.

[2021-02-10 23:09] tigrannajaryan commented on #584
I plan to work on https://github.com/open-telemetry/opentelemetry-specification/issues/1324 which may also cover this issue.

[2021-02-11 10:19] Oberon00 commented on #1298
I think it's easy to imagine. E.g. from a performance perspective, for each batch of spans, you only have to look at the resources once. From a semantic perspective I think it's cleaner to have separate places describing entity and operation/metric/log. From a coding perspective, it would probably be harder to keep e.g. metric labels and span attributes describing the entity emitting telemetry in

[2021-02-11 11:13] Oberon00 opened #1431 "Confusing date format in CHANGELOG.md"
The date format in CHANGELOG.md (MM-DD-YYYY) is quite confusing. The dashes `-` make it look like an ISO date, but it is all jumbled. I suggest reordering to YYYY-MM-DD.

[2021-02-11 14:45] Oberon00 commented on #1301
Should we give this priority for the next GA release? It might have slipped through so far because it has the `spec:metrics` label on it.

[2021-02-11 15:01] Oberon00 opened #1432 "Metric (observer) collections should be independent from metric export"
(the metric spec is still very unfinished, so this might already be included in one of the more general metric spec issues)

Consider this use case:
- I want to collect JVM memory metrics (e.g. currently committed memory bytes) every 10 seconds
- I want to export this (and all other metrics) aggregated (min/max/avg) every six collections i.e. every minute.

I think the spec currently assumes (or a

[2021-02-11 15:02] tigrannajaryan commented on #1301
@Oberon00 I believe we should. I am going to work on https://github.com/open-telemetry/opentelemetry-specification/issues/1324 in the next few weeks. I need to do some experimentation but I hope it will be the answer to this issue as well.

[2021-02-11 15:03] tigrannajaryan commented on #1301
Assigning this to myself since I plan to work on a very related issue.

[2021-02-11 15:05] Oberon00 opened #1433 "Consider removing Async Instruments (Observers) from first Metric version"
Doing async instruments properly seems rather complicated to me (e.g. #1432). If we specify synchronous instruments (especially BatchRecorder) properly, users should be able to implement a functionally equivalent solutions on their own (e.g. with their own background thread). (The only extra thing that might be needed for that is some "last-chance to collect" callback before every export.)

[2021-02-11 15:32] jsuereth commented on #1298
Respoding to @anuraaga

I think the difference here is `Resource` is used to identify the "SignalProvider" (TraceProvider/MetricProvider) that created the metric and link between it and traces produced by the TraceProvider.   IN that view `RpcMethod` *likely* isn't identifying to this configured Provider.

The point is taken around joining signals being an exercise in labels.  I'd say two things a

[2021-02-11 16:21] hdost commented on #1158
Is there a permalink to the SDK?

[2021-02-11 16:37] bogdandrutu commented on #1432
@Oberon00 who is "I" in this example "instrumentation author"? "application owner"?

[2021-02-11 16:42] bogdandrutu commented on #1431
@Oberon00 you non US people who follow standards :))

[2021-02-11 16:57] Oberon00 commented on #1432
@bogdandrutu very good question actually 🤔 The two "I" might not even be the same. For collection interval, we are interested in:

1. How fluctuating is this metric actually (CPU usage vs number of loaded classes) -- Usually the instrumentation author has a good grasp on this, but the application owner might want to influence this e.g. to debug specific problems.
2. How expensive is it to collect

[2021-02-11 17:35] #1431 closed

[2021-02-11 18:36] victlu opened #1437 "Open Telemetry SDK should not be required when instrumenting a Library"
# Overview

The current specification provides contradicting information.  The overriding understanding is to maintain a clear separation of API and SDK.  However, the ecommended method to create an metric instrument requires a `MeterProvider` that can only be obtain from an SDK.

## API and SDK must be clearly decoupled

From the Spec:

The link above [library-guidelines.md](../library-guidelines

[2021-02-11 18:43] victlu commented on #1437
For reference, I have an alternative/experimental implementation of OTel Metric API here...

https://github.com/noahfalk/opentelemetry-dotnet/tree/design_experiment

[2021-02-11 18:53] jkwatson commented on #1437
The MeterProvider is a part of the API. If dotNet has implemented it differently, that's definitely an issue for their API.

[2021-02-11 18:56] victlu commented on #1437
Not according to the Spec as I quoted in my overview section.

[2021-02-11 18:57] jkwatson commented on #1437
A concrete *implementation* of the interface is acquired from an SDK. Not the interface itself.

[2021-02-11 20:03] cijothomas commented on #1437
It might be helpful to think that the API has a 'mini-sdk' embedded inside itself, which does no-op for everything. Library takes dependency on API, and it gets the TracerProvider or MeterProvider implementation from API, which would be the no-op one.

When SDK is installed/enabled, a different implementation of Tracer/MeterProvider will be returned, which does actual things.

[2021-02-11 21:15] hdost commented on #1366
So if you're registering a Counter *and* an UpDownCounter then it should fail. That make sense as each Instrument named the same should be of the same type.

The assumption I have made is that 3P library would want to necessarily name their metrics the same and to that I could agree that if both a user of a library is looking to write certain metrics and the library uses the same metric name, or p

[2021-02-11 23:34] aabmass commented on #1366
I think we should probably say there must be only one instrument with a given name registered to a given meter. I don't think we should allow/encourage an instrumentation to create a e.g. ValueRecorder and Counter with the same name on its meter (or is there some use case for this I'm missing?). Calling `Meter.GetInstrument()` with the same name but a different overall identity (e.g. float instead

[2021-02-12 00:14] tedsuo commented on #1113
At the SIG today, we are going to move forwards at this time by:
* Replacing Labels with Attributes at the API level
* Have a conversion path for attributes to strings (at minimum for the Prometheus exporter)
* No decision yet about how to approach metric attribute types for OTLP (string vs multi-value)

[2021-02-12 03:08] rakyll opened #1438 "Add min and max values to the histogram data points"
Today, OpenTelemetry doesn't report min and max values collected for a histogram data point and is breaking the capability to query absolute min and max values from a time series. We propose to add min and max values to the histogram data types. When users set boundaries explicitly, not reporting precise min and max doesn't allow them to see whether their bucket boundaries are well-chosen and prec

[2021-02-12 03:08] rakyll commented on #1438
cc @jmacd @bogdandrutu

[2021-02-12 05:23] bogdandrutu commented on #1438
@rakyll I have some questions about the behavior of `min/max`:

* What is their temporality? Are they respecting the Histogram temporality? What is the advantage to know the min/max when reporting Cumulative values?
* All the other values in a Histogram can be subtracted and compute deltas, which is what people usually look at. When you say 99% of a timeseries you probably mean "99%tile of the las

[2021-02-12 11:41] hdost commented on #1437
To relate this back to the code of c# Tracing API: https://github.com/open-telemetry/opentelemetry-dotnet/blob/cde206062bc80dc060f9982b4fcf1809bfe36f7e/src/OpenTelemetry.Api/Trace/TracerProvider.cs Notice the default implementation  even though it's providing a class it is done with a no-op as @cijothomas mentioned.
VS the SDK: https://github.com/open-telemetry/opentelemetry-dotnet/blob/cde206062b

[2021-02-12 16:53] MrAlias commented on #1047
Is this still happening? Moving the location of where our propagators live in the Go repos will be a breaking change. If want to do this can we resolve this soon?

[2021-02-12 19:59] rakyll commented on #1438
When we are reporting the histogram data points, min/max temporality should respect the histogram temporarily. Afaik, there are no backends that knows what to do if you report min/max with different temporality, e.g. delta min/max for a cumulative histogram.

For a cumulative histograms, this is a bit less useful because min/max will mostly stay the same but will still help the user to query the g

[2021-02-13 07:44] hdost commented on #1366
@aabmass yes I think we're on mostly the same page there. Over all yes even in the 3P scenario since they are the same instrument type they would succeed.
How ever getting a Meter with a different name should be based on the instrumentation library not the instrumented library.

So if I have some name space `com.mylibrary` I wouldn't call `global.GetMeter("com.my library")` I would call `global.Ge

[2021-02-14 02:36] XSAM opened #1440 "How to discard over limited data on span"
`specification/trace/sdk.md` says in `Span Limits` section:

I feel like it is not very clear that how we should discard this data. Should we discard the oldest data that added in the first place or the newest data?

This behavior that how to discard data should be consistent with all the SDK, which will influence spans' final result.

Related #1419

[2021-02-14 06:26] SergeyKanzhelev commented on #1158
Answering the question: https://github.com/open-telemetry/opentelemetry-specification/blob/135d99df75beb66836673e0fadc9fd5c67abef03/specification/metrics/sdk.md (just before this PR: https://github.com/open-telemetry/opentelemetry-specification/pull/1401/)

However, if you want to work on it, please make sure to join the discussion of metrics API group. Easiest to join the meeting (see OpenTelemet

[2021-02-14 14:51] bogdandrutu commented on #1146
This is done

[2021-02-14 14:51] #1146 closed

[2021-02-15 00:57] bogdandrutu commented on #1440
@XSAM very good call, I was discussing this with few others and decision was to not rush and define that before we put some effort into documented pros cons for every possibility. For the moment I have seen both options new data are dropped when already limit reached and FIFO. I think we need somebody to start thinking about this and document pros and cons for both, definitely I would be against a

[2021-02-15 09:04] arminru commented on #1440
I interpret the definition above as "any excess items are dropped while leaving the current items in place". This is also the intended handling as far as I remember but we could indeed point that out a bit more clearly.

We always had some kind of "streaming" SDK in mind that would dispatch attributes right when being set. In this case, overwriting the oldest attributes in a ring buffer fashion wo

[2021-02-15 09:25] hdost commented on #1433
I could agree that for the first version this might be a bit difficult specifically on the SDK side, and while it would definitely be handy to have such primitives in the SDK side of it will likely take some time to experiment more than the synchronous side. There are plenty of edge cases especially with how an async sum would work given:

Source: https://github.com/open-telemetry/opentelemetry-sp

[2021-02-15 14:54] iNikem commented on #1298
Thank everybody for this lovely discussion! As far as the original ask to have delayed attributes is satisfied, I am happy to have only a subset of Resource attributes ("Descriptive" ones) delay-able.

But I am suspicious about this proposal by @jsuereth . First, I don't like this "you can delay some attributes but only by this short period of time". Second, IMO it creates unnecessary dependency o

[2021-02-15 15:42] Oberon00 commented on #1298
I don't think we should place any requirements on descriptive attributes being collected before anything else, but only identifying attributes.

For observers in particular, I think we should leave them out of the first version of the metric spec altogether, #1433. And if we have them, maybe the first metric export could happen before any observers are queried, either because there are none or bec

[2021-02-16 08:28] fabxc commented on #1078
As far as semantics go it seems we are on the same page. But I still don't fully understand who would produce `alive` metric.

It sounds like Prometheus scrapes would also start emitting an `alive` metric instead of directly producing the `up` metric?
That would prevent `alive` and `up` to explicitly distinguish between semantically different concepts again.

I like the idea of a "service-discover

[2021-02-16 14:31] tigrannajaryan commented on #1147
We now have stability labels in both proto repo and in this repo in the "protocol" directory. I believe this issue is resolved. If any additional communication is needed please re-open or create a new issue that describes what else is needed.

[2021-02-16 14:31] #1147 closed

[2021-02-16 14:49] #398 closed

[2021-02-16 14:50] tigrannajaryan commented on #1258
This is at least partially a duplicate of https://github.com/open-telemetry/opentelemetry-specification/issues/894

[2021-02-16 14:52] tigrannajaryan commented on #1163
Related to https://github.com/open-telemetry/opentelemetry-specification/issues/894

[2021-02-16 15:51] tigrannajaryan opened #1443 "Define how OTLP data can be stored in a file"
OTLP currently defines how telemetry can be serialized and transferred over the network.

There are use cases that require writing telemetry to a file and then reading it back, e.g. storing test data or ability to transfer telemetry from DMZ that only allows file transfers: https://github.com/open-telemetry/opentelemetry-collector/issues/2450

We need to define how OTLP data can be serialized and

[2021-02-16 16:11] tedsuo commented on #1348
Hi @evantorrie; FYI we're rebooting the metrics API WG. The current SDK spec has been removed from the spec, @reyang Is heading a working group that will add it back in once the prototypes are finished. Assigning this to him so we don't lose the requirement.

[2021-02-16 17:26] hossain-rayhan opened #1444 "Handle metrics resource metadata without metric datapoint/stat?"
**Question**
Should resource metrics without any metric/datapoint be allowed to pass through the pipeline?

**Context**
We get some resource attributes/metadata which become available only when a container dies. The OT receiver is passing these metadata setting them as resource attributes . However, data is being dropped in the processor/exporter as we don’t have any metric name/datapoint. Wonderi

[2021-02-16 18:05] hdost commented on #1443
This seems like it should be moved to open-telemetry/opentelemetry-proto.

[2021-02-16 18:39] rakyll commented on #1078
Is there a reason alive/present should be a part of the metrics spec? It seems like it's a generally useful concept for aliveness, service discovery and reporting resource attributes. Reporting alive/present as a metric is one of the use cases. For example, in PRW exporter's case, it could be turned into an "up" metric and PRW can also rely on this signal to identify staleness. But generally speak

[2021-02-16 19:33] wdengw commented on #1410
@iNikem you are right,  SpringBoot is just one each example, there are many other possible deployment models for developer to deploy their application.  Like what you pointed out, the key is that we deploy applications to deployment environment and applications are what we monitoring.  Therefore, Application is a key resource to be considered.

And yes,  the relation between "process" and "applica

[2021-02-16 19:34] bogdandrutu commented on #1443
@tigrannajaryan let's start with the support for binary/protobuf since that is marked as stable, then we can add/fix the support for JSON when that will be marked as stable.

Protobuf defines some of these things here:
https://developers.google.com/protocol-buffers/docs/techniques?csw=1#streaming

It provides a helpers as `writeDelimitedTo`:
https://developers.google.com/protocol-buffers/docs/refe

[2021-02-16 19:45] JohnWu20 commented on #1444
**Context**:
For the stopped container, we get the metric descriptor data/resource attributes only but for the data part is null/empty, which means there won't have any metrics/datapoints (we don’t even have metric name).

**Proposed solutions:**

1, **Changing the exporter and processor to deal with the situation**

**Advantage:** Based on the [fundamental design rules](https://github.com/open-te

[2021-02-16 19:47] tigrannajaryan commented on #1443
Historically this repo contains the OTLP specification, although the data structures are defined in the proto repo.

[2021-02-16 20:24] tigrannajaryan commented on #1443
I agree.

https://developers.google.com/protocol-buffers/docs/techniques?csw=1#streaming

Protobuf's recommendation is only about the size / delimiting. I think it would be very nice to have a way to store mixed signals in one file, which means either we also have to store the type of the message or define a new message type which is `oneof` traces, metrics or logs.

Either way I think it will be

[2021-02-16 21:42] bogdandrutu commented on #1443
@tigrannajaryan I think we can start by agreeing on the goals first.

* Do we need support for multiple telemetry signals in the same file? Personally I would say no, since we don't offer this in any of the other places, gRPC, Kafka, etc. Why is this a special case than other places where we don't? If we do here should we do it everywhere?
* Support for both binary (e.g. Protobuf) and human-readab

[2021-02-16 22:17] bogdandrutu commented on #1438
I think this is not that useful but because I don't find this useful it does not mean it is not, I would like to hear others opinion on this.

One thing that maybe I did not clearly specify it hers is that majority of the  backends (the once that I know all of them do this) for histograms, independent of the temporality that they are received, store deltas internally. By adding min/max to the cumu

[2021-02-16 23:12] victlu commented on #1366
### DNS Name?

The OTLP proto spec says...

[// name of the metric, including its DNS name prefix. It must be unique.](https://github.com/open-telemetry/opentelemetry-proto/blob/92d15b79b5f24c711cf2c00fee366904069bcb6b/opentelemetry/proto/metrics/v1/metrics.proto#L107)

What is this DNS name? How is it constructed from...
  1. MeterProvider interface?
  2. GetMeter(name1, version1)
  3. CreateCoun

[2021-02-16 23:26] tigrannajaryan commented on #1443
@bogdandrutu Good questions. Some thoughts below.

We do support it in OTLP/gRPC. OTLP network protocol includes the mechanism that allows to distinguish the requests for signals. It is part of the protocol. We don't tell the user: "you need to figure out yourself how to send traces and metrics so that they don't end up hitting the same port on the receiver and receiver will not understand it beca

[2021-02-16 23:54] victlu commented on #1437
My concern is not about a "no-op" / "mini-sdk" embedded inside itself.  It's more a question of allowing each Library to have it's own named scoped provider (that does not require SDK) that can be "late-bind" / attached to from SDK instance.

FYI: My comments are based on C# implementation.  I'm trying to implement examples per SIG meeting.  [example](https://github.com/victlu/opentelemetry-dotnet

[2021-02-17 00:16] victlu commented on #1437
FYI.  At least in C# implementation, the TraceProviderBuilder has a AddSource() function to attach the SDK to the Library TraceProvider by name.

[2021-02-17 00:57] rakyll commented on #1438
I like the idea of having separating min/max into different aggregations. Users can report min/max more frequently if it is decoupled from the histogram. The cons are:

* We need to educate users that they need to set separate aggregations and use different time series for them.
* If the min/max was a part of the histogram data model, it's easier to export to directly to the backends with min/max

[2021-02-17 01:19] jsuereth commented on #1437
I have a counter example to this where late binding is done explicitly by a library consumer.

Late binding (at least in java) is risky because class loading is lazy and you need some level of knowledge of which classes must be force loaded so they are even statically initialized.

I think from a spec standpoint we need to be careful not to prescribe language-specific solutions that don't translat

[2021-02-17 02:16] victlu commented on #1437
@jsuereth, I totally agree with your statement!

[2021-02-17 03:06] anuraaga commented on #1443
I think we need to define what a record is (which could apply to message exporters like Kafka too). Is a record a span, a trace, or just arbitrary resource-spans? If a span or trace, span could potentially be resource-spans, but it seems a bit shoehorned to only have a single span by convention. For a trace, I guess resource-spans doesn't work anyways.

[2021-02-17 08:17] oertl commented on #1438
Pros for including min/max:
- When estimating percentiles, you expect them to be always in the range [min, max]. If min/max are not available it is not possible to return consistent estimates. When charting the maximum and the 99th percentile, for example, it would look nasty if the 99th percentile exceeds the maximum. Of course, this can also be fixed when estimating the 99th percentile. However,

[2021-02-17 12:18] weyert commented on #1078
I am not well versed in the metrics world but I had to read this discussion three times before understanding `alive`/`present` and `up`-metrics. Personally, they all seem to mean the same to me, indicates that a resource is available at a specific time.

[2021-02-17 15:03] tigrannajaryan commented on #1443
For the use cases listed above it is beneficial to be able to store full ResourceSpans, ResourceMetrics, ResourceLogs messages defined in the proto.

There may be use cases when you may want to store just individual spans, etc, but I think that needs to be considered separately. Also nothing prevents from storing a single Span in ResourceSpans, it is not terribly inefficient even in that case, the

[2021-02-17 16:26] kumoroku commented on #1443
maybe a naive question, but how would this relate to buffering to disk when exporters can't talk to their destinations? completely orthogonal, or would we use the same format? @pmm-sumo

[2021-02-17 17:55] jsuereth commented on #1078
We had a lot of discussion on this topic across a few SiGs. I'd like to call out a few points and what I *think* is the consensus.

- [X] Do we think the existing metric data model can be used to encode "up" metrics in prometheus
  - Yes, we think there is a mechanism by which we can ensure "up" sent through OpenTelemetry pipeline is semantically equivalent.
  - @jmacd Has a proposal to encode "al

[2021-02-17 18:23] victlu commented on #1444
I would think option 2 (sending a new metric) would be better for you guys.  You can control when and where to send your "dead" metric.  Otherwise, how would it trigger sending a metric (with 0 datapoint) in the API/SDK?  This will require adding/complicating the APIs or needing additional configuration for the SDK.

[2021-02-17 18:36] victlu commented on #1432
I think we have/want the ability to create multiple instances of a "pipeline" (aka SDK instance), so that each pipeline can be configure differently.  This includes setting the SetPushIntervals (currently one setting for both collection and export), aggregators, exporters, etc...  We should also allow pipelines to filter (include/exclude) for specific metric.

I think this issue maybe related to #

[2021-02-17 18:41] jsuereth commented on #1443
I agree w/ @bogdandrutu that we might want to identify use cases for supproted file formats.

As @kumoroku points out, buffering to disk would be important and POSSIBLY requires random-access / indexing by time.   It gets fuzzy if you're bundling similar to OTLP when/what data you drop if you need to treat everything as a bundle of `Resource*s`.

[2021-02-17 18:41] Oberon00 commented on #1432
This is something different than this issue. In this issue I propose to decouple the first pipeline stage (collection) from the second (export).

[2021-02-17 18:59] victlu opened #1446 "Decouple Data type from Instrument Kind in OTLP protocol"
The OTLP message Metric has the following definition for instrument types...

[spec](https://github.com/open-telemetry/opentelemetry-proto/blob/92d15b79b5f24c711cf2c00fee366904069bcb6b/opentelemetry/proto/metrics/v1/metrics.proto#L139)
[code]

I propose we only define Instrument Types (i.e. Gauge, Sum, etc...) at the message Metric level.

The data type (i.e. int, double, etc...) should be lower l

[2021-02-17 19:12] hossain-rayhan commented on #1444
@victlu yea, thats the path we are taking.

From the SIG meetings- maybe we can use the `up` metric whenver its ready to surve our purpose. For now, a dummy metric in receiver side is a good option considering our use case. Closing this issue.

Follow the `up` metric discussion: #1078

[2021-02-17 19:12] #1444 closed

[2021-02-17 20:49] jsuereth commented on #1437
I like the idea of using event-sourcing for "push" metrics in the API.  However, the reality is that (e.g. in Java) metrics are actually pull based.   To report metrics you need to construct an "interval reader" that looks up available metrics and either grabs their "local storage" of pending data points *or* goes and collects them.

I'm still getting up to speed but was curious if anyone (summoni

[2021-02-17 22:05] tigrannajaryan commented on #1443
We had a discussion today in the Log SIG.

The buffering use case is different and yes, @jsuereth you are right has different requirements. At the minimum it requires a way to delete already consumed data (since it is a queue). In the past I used sqlite as a container for on disk buffers in. a log collector and it worked very well, allowed to choose performance vs durability (since fsync is contro

[2021-02-18 15:52] jsuereth commented on #1438
I'm in favor of encouraging "bundling" min/max with a histogram to make sure they are reported and we can do interesting things with the data.   Misshapped histograms buckets are pretty annoying in practice, and this could help deal with that issue.

I think this change is overall good assuming two things:

1. min/max are not *required* on histogram buckets.   backends can ignore them, code is car

[2021-02-19 08:54] kipwoker opened #1451 "Add ForceFlush to Tracing SDK"
**What are you trying to achieve?**

I want to add `ForceFlush` to [Tracing SDK](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#shutdown) like it was done for the `Shutdown` method.

**Additional context.**

I'm using OpenTelemetry for AWS lambda functions. And I'm using dotnet opentelemetry library to achieve that. After each call, lambda goes t

[2021-02-20 16:10] Oberon00 opened #1454 "ForceFlush missing from Exporter spec"
We currently have ForceFlush only specified in the SpanProcessor. #1452 adds the missing "helper" method to call this to the SdkTracerProvider. But we are also missing ForceFlush in the spec for exporters (some languages, e.g. Java, have it implemented already (https://github.com/open-telemetry/opentelemetry-java/blob/v0.17.1/sdk/trace/src/main/java/io/opentelemetry/sdk/trace/export/SpanExporter.j

[2021-02-21 02:06] bogdandrutu commented on #1454
I think we need to add some text about this, languages should choose what is best for them that allows to extent the API (java8 has default implementation, go can rely o duci typing, etc.) that will allow them to extend the interfaces. And we should not consider breaking change adding a new functionality on an interface. Will file a separate issue.

[2021-02-22 14:45] Oberon00 commented on #668
Is this still actionable?

[2021-02-22 15:04] Oberon00 commented on #1061
I created open-telemetry/build-tools#29 to add support in the semantic convention generator for this, but we can go ahead and write the markdown by hand for now.

[2021-02-22 15:58] #1451 closed

[2021-02-22 20:04] #766 closed

[2021-02-22 21:56] rakyll commented on #1443
What about setting string encoding rules initially? Storage requirements are use-case specific and will very potentially need custom exporters. But converting to JSON, it's not always clear how binary fields should be serialized and currently it's up to the exporters. Would it make sense to begin this work by setting the JSON encoding rules and making them a part of the spec?

[2021-02-22 22:08] aabmass commented on #1366
I have a feeling this originally came from the Google Cloud Monitoring API [here](https://github.com/googleapis/googleapis/blob/eabe7c0fde64b1451df6ea171b2009238b0df07c/google/api/metric.proto#L110), maybe through OpenCensus. Cloud Monitoring uses domain names in metric names e.g. [`agent.googleapis.com/agent/api_request_count`](https://cloud.google.com/monitoring/api/metrics_agent#agent/api_reque

[2021-02-22 22:26] rakyll commented on #1446
This would require at least one data point to arrive in order for exporters to create metric descriptors in the backend. What are the use cases where the current data model is not working for you?

[2021-02-23 05:22] weyert commented on #1145
Can't this ticket be closed as open-telemetry/opentelemetry-proto#227 got merged?

[2021-02-23 08:13] ThomsonTan opened #1455 "Optional column in spec matrix is a little obscure"
**What are you trying to achieve?**
The current spec compliance matrix looks a little obscure as it only has `*` explained in detail, `X` and blank cell used in this column seems not explicitly documented.

https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md

What did you expect to see?
Add description for `X` and blank cell for `Optional` column.

[2021-02-23 08:24] Oberon00 opened #1457 "Interface stability for implementers"
We need to define our policy for adding new methods to existing interfaces *in the specification*, especially considering APIs that are intended to be implemented by users, namely "plugin interfaces" (Exporter, Sampler) and API implementation interfaces (Span, TracerProvider, ...). It is clear and already specified that at least for plugin interfaces we must stay ABI-compabible. However, there are

[2021-02-23 08:24] Oberon00 commented on #1454
@bogdandrutu I created #1457 for the interface versioning issue.

[2021-02-23 10:46] hdost opened #1458 "DataCenter Resource"
**What are you trying to achieve?**
Being able to track data center related information for anything running outside of a Cloud Provider.

What did you expect to see?
Semantic Conventions around DataCenters. I'm not sure if this should be merged somehow with the cloud provider.

**Additional context.**

When running in a Hybrid environment I should be able to track things whether they are in corpo

[2021-02-23 11:05] Oberon00 commented on #1458
Which information do you want to track about the datacenter? I feel like it would make sense to add it to the `host` semantic conventions at https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/host.md. If it's just a single identifier, maybe `host.datacenter_id` or `host.location`.

[2021-02-23 11:15] hdost commented on #1458
@Oberon00 I put together a draft because. I feel like you might be right about the fact that maybe it should go on the host potentially, but then also would we want to have that true of the `cloud.md` ?

[2021-02-23 11:36] Oberon00 commented on #1458
What do you mean? If the attribute should apply to things hosted in the cloud too? I think so. E.g. host.type is also rather cloud-specific. When hosted in the cloud, you should probably fill in the availability zone (as opposed to just the region) in the datacenter attribute.

[2021-02-23 14:26] hdost commented on #1458
I guess my question is around an application which is running across both on premises would conceptually the host could run in either a "cloud" or "my" DC or even "my" Colo. I understand that there should be some special fields for cloud related things, but at some level there is overlap between an owned host, a colocated host and a cloud host.

I think that host.type actually can be used. I know

[2021-02-23 18:47] jkwatson opened #1460 "Clarity is needed on how propagators should behave in the face of bad inputs"
In the specification in general, we are required to not throw exceptions in the face of bad inputs. See this section for reference: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/error-handling.md#basic-error-handling-principles

However, throughout much of the specification, there are "Required arguments" specified for the APIs. However, there is no guidance

[2021-02-23 18:54] tigrannajaryan commented on #1443
@rakyll there is an "Alpha" spec for OTLP/JSON, see https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#otlphttp-request

We also already have implementations of this format in the Collector's OTLP/HTTP receiver and exporter.

[2021-02-23 19:17] Oberon00 commented on #1460
I am not firmly decided myself on this, one the one hand, I think we should adhere to these principles.

1. garbage-in, garbage-out
2. But: the output-garbage should fulfill the postconditions/invariants of the function and adhere to error handling functions. That is, it should not crash the application, thrown an exception, return a value that is likely to make the caller crash (e.g. null).
3. No

[2021-02-23 21:56] cijothomas commented on #1184
The current wording in the spec addresses the question in this issue. We can close this.

[2021-02-23 22:16] #1184 closed

[2021-02-24 03:14] anuraaga commented on #1460
I'd avoid this - there is huge value in providing an API that cannot cause exceptions by being introduced to an app. We're observability folks so we know the value of instrumentation :) But for business logic developers they need to balance against the risk of adding new code - for example, a large company may maintain a server framework used by many teams. In such cases, there is going to be resi

[2021-02-24 04:57] anuraaga opened #1462 "rpc.system should be optional?"
**What are you trying to achieve?**

When instrumenting a library such as the AWS SDK, I think the RPC semantic conventions generally fit. Actually, current instrumentation already follows the rules for the span name, and can fill `rpc.service` and `rpc.method`. But I can't think of a reasonable name for `rpc.system` - it's just a generic POST-based RPC API which I think many people have. Can we l

[2021-02-24 07:40] Oberon00 commented on #1462
Could `peer.service` replace `rpc.service` for you? What would you put in `rpc.method`?
If it doesn't fit in any specific framework, not even a custom one, is it really an RPC call or just an HTTP request? If you *are* using a custom one, it is fine to just put the name of your custom RPC library there, even if it just `contoso.rpc`. I think there is value for you to standardize on a name, even if

[2021-02-24 07:57] Oberon00 commented on #1462
Ah, I now saw that this is caused by https://github.com/open-telemetry/opentelemetry-specification/pull/1422#pullrequestreview-597066153. In that case, I think one can and should come up with a sensible name for `rpc.system`, e.g. `http.aws` or `aws-api` or just `aws`.

[2021-02-24 08:21] Oberon00 commented on #1460
I mostly agree 😃

But:

Of course this is never actually true. E.g. in Python, if you call a function with the wrong number of parameters, you will get a runtime exception thrown by the interpreter, or if you mistype a function name the same happens. In Java, a NullPointerException will be thrown if you call a `span.setAttribute` and `span` is `null`. In all languages you can get into out-of-memor

[2021-02-24 08:23] jmacd commented on #1432
I know that @bogdandrutu himself has called for making the collection interval variable on a per-instrument basis. As you say @Oberon00, I believe this is about configuration in the "Accumulator", which flushes synchronous and asynchronous data into a processor and then exporter. I think you'll find 100% agreement from the group, it's just more work to spec out how this configuration should be don

[2021-02-24 08:29] Oberon00 commented on #1432
I agree that it is more spec work, that's why I also filed #1433 😃

[2021-02-24 08:29] anuraaga commented on #1460
Hey you're not supposed to let them know! :P

[2021-02-24 08:33] jmacd commented on #1437
One of the central tensions in OTel is that tracing has traditionally been push based, while metrics have a mixed history. Pull-based collection only works when aggregation is being applied, which generally means only for metrics.

We never got far enough in the early metrics SDK spec work to talk about what the SDKs do generically. In the OTel-Go prototype, there is a Controller component that is

[2021-02-24 08:36] jmacd commented on #1437
(Yes! In the early days of OTel I made proposals about late-binding in OTel-Go. The picture was so different in the other languages that we stopped discussing how to load SDKs, but it leaves behind the kind of confusion that led @victlu to file this. In OTel-Go late-binding works without an SDK dependency, at least.)

[2021-02-24 08:38] jmacd commented on #1405
The metrics data model should, I believe, explicitly state that OTLP data points may be written out of order. Without such a statement, OTLP exporters will have to be more complicated. As noted in this draft about the metrics data model, https://docs.google.com/document/d/1rncVUp_nzAhA39trS1hUFinIlO01jf7KBbuIRhqMI7Y/edit#, there will come a point where OTLP data is translated into PRW, for example

[2021-02-24 08:45] anuraaga commented on #1462
Thanks that makes sense - resolved it in the related PR.

[2021-02-24 08:45] #1462 closed

[2021-02-24 17:49] victlu commented on #1437
Common way for late-binding to work includes using Dependency Injection to avoid instrumented library from taking a dependency on SDK.  This obviously works, but I think it would be better if the API spec does not require DI to allow the highlighted use cases.  One proposal is to apply EventSource/EventListener pattern or some kind of Pub/Sub model.

[2021-02-24 23:08] victlu commented on #1366
To simplify this conversation, if I say below, would this be true?

# Unique Name of a Metric

## Available Fields

[code]

### Meter Name

User provided string

Fully qualified class name

`e.g. io.opentelemetry.contrib.mongodb`

### Meter Version **[Optional]**

User provided string

Default to ""

No validation

`e.g. 1.0.0`

### Instrument Name

User provided string

Should adhere to Semantic

[2021-02-25 05:57] Kanwaldeep opened #1466 "Trace Messaging semantics to add example on Batch Send scenario"
The current specification has details on Batch Processing and Batch Receiving which is very helpful. Can we add example for Batch send scenario when multiple messages are added to the queue as part of Batch operation? In this case each message could be part of different traces but being added as a batch to the queue.

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specific

[2021-02-25 06:12] ramthi commented on #1466
Actually in Batch Processing section, the references to C1, C2 and C3 seem to appear in the explanation causing confusion.  Perhaps we can refer to them as Recv1, Recv2, Proc1 instead of C1, C2 and C3?

[2021-02-25 07:37] Oberon00 commented on #1466
@ramthi What do you mean by "out of the blue"? They are in the diagram and in the table, and are named after the processes and I guess the C is for Consume. "Recv" would be a wrong name, as they are "process" not "receive" spans (see messaging.operation).

[2021-02-25 07:39] Oberon00 commented on #1466
@Kanwaldeep

In a send scenario, isn't usually the current span the correct parent for the send span? I.e. I think all the messages in a batch would usually not only have the same trace but even the same parent span. Or are you thinking of a more complex scenario?

[2021-02-26 02:19] carlosalberto opened #1472 "Define the default value for null/empty instrumentation-name"
Currently [TracerProvider.GetTracer()](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#get-a-tracer) is defined as:

However, different SIGs have different values, i.e.

* Java uses `unknown`
* JS uses the empty string
* Python uses `ERROR:MISSING MODULE NAME`

I'd suggest we define a SHOULD on this, so at least the default is (more or less) share

[2021-02-26 08:12] Kanwaldeep commented on #1466
To make sure I understand you are saying the messages in the batch might have different trace or if within the same trace could have different parent span. That's the scenario I'm referring as well. So in this case when the Batch send operation happens should the Span generated have links to individual messages being sent as part of the batch.

[2021-02-26 08:15] Kanwaldeep commented on #1466
This is an issue only for the Batch Processing example. Other examples are labelled correctly.

[2021-02-26 08:47] arminru commented on #1472
Good catch! I think we should definitely go for a consistent fallback here.
Personally I like Python's fallback since it clearly points out that this an undesirable state and just used for gracefully handling a missing or invalid parameter rather than being a valid, intended default value.

What about `<INVALID NAME PROVIDED>` or something like that?
It should be clearly distinguishable from valid

[2021-02-26 08:55] arminru commented on #1472
I also think this should only affect the SDK spec and not be mentioned in the API spec as well as the resulting interface definitions in the implementations. This is not something one should rely on. The API spec should only define what is valid as input for this method and if this is not complied with, it's undefined behavior from an API perspective.

The entire sentence

should've been only ment

[2021-02-26 09:28] Oberon00 commented on #1472
I would vote for `<INVALID INSTRUMENTATION NAME PROVIDED>`. It's OK if its very long, you should only see it shortly until you fix it anyway 😃

By the way, as commented in https://github.com/open-telemetry/opentelemetry-specification/issues/586#issuecomment-669856711, "working default tracer" could be interpreted as no-op tracer so we should maybe clear that up too.

[2021-02-26 13:47] mmanciop opened #1474 "DIsambiguate process id resource spec when running inside containers"
**What are you trying to achieve?**

In the Resource semantic conventions for process, there is an attribute for the process id. When a process runs inside a container (or, more generally in Linux, a `cgroup`), its `pid` inside the container is not the same `pid` at the host level. For example, a large amount of processes inside containers run with `pid 1`, but they are not the init system of the

[2021-02-26 15:06] Oberon00 commented on #1474
This is not only an issue for pid but also other attributes, at least host.name.

[2021-02-26 17:10] tigrannajaryan commented on #1457
IMO the policy should clearly differentiate:

1. API interfaces which are callable by the end user but are not intended to be implemented by the end user.
2. SDK interfaces which are callable by the end user but are not intended to be implemented by the end user.
3. Interfaces which define the contract between API and SDK packages and are intended to be called by API and implemented by SDK, not in

[2021-02-26 17:47] Oberon00 commented on #1457
Which would be all API interfaces defined in the spec, I think?

I think that is what the spec calls "Constructors" at https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/versioning-and-stability.md#sdk-stability

I'm not sure there is such a thing. Can you give an example?

These have the name "Plugin Interface" in the versioning spec.

[2021-02-26 18:20] tigrannajaryan commented on #1457
Yes, I think so.

I think you are right. I thought we had something like `TracerProviderSdk` in the spec, but we don't.

--

The names "Contrsuctors" and "Plugin interface" are not self-explanatory, so I think it is best to clearly articulate the distinction in the PR that addresses this issue.

[2021-02-26 19:20] Oberon00 commented on #1457
We don't have the name "TracerProviderSdk", but we do have specification on the SDK's TracerProvider implementation. But this falls under

as it has methods like Shutdown and ForceFlush.

[2021-02-26 20:32] rakyll opened #1476 "Autogenerate and publish semantic convention tables"
The semantic convention YAMLs require https://github.com/open-telemetry/build-tools/tree/main/semantic-conventions to be generated into human readable tables.  Currently, it's very difficult for people who are not involved in OpenTelemetry to read the semantic conventions. It's affecting their engagement with the project and disserving the project because the references are not accessible.  Automa

[2021-02-26 21:01] rakyll commented on #1476
They seem to be already autogenerated in this repo, e.g. https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/trace/semantic_conventions.

Feel free to reopen this if there is anything else to do.

[2021-02-26 21:01] #1476 closed

[2021-02-27 02:33] anuraaga commented on #1476
I would vote to move the current `semantic_conventions` folder to a subfolder somewhere. Even for someone involved in OpenTelemetry, I have a habit of accidentally opening that folder, and realizing I meant to go to the other one with the MD files. The yaml are too discoverable despite being mostly only used for producing, not consuming.

[2021-03-01 06:25] rakyll opened #1485 "Have consistent naming for Google Cloud services"
The cloud semantic conventions specify a number of Google Cloud services  https://github.com/open-telemetry/opentelemetry-specification/blob/main/semantic_conventions/resource/cloud.yaml#L74 but they are not consistently named.

For example, 'gcp_gke' uses a short name for the service whereas 'gcp_compute_engine' and 'gcp_cloud_functions' uses the long name. Either use short names everywhere or sw

[2021-03-01 17:31] mateuszrzeszutek opened #1486 "What should happen when you add an invalid span as a link?"
**What are you trying to achieve?**

What should happen when you add a link to the invalid span, e.g. in Java `spanBuilder.addLink(Span.getInvalid())`? Right now this situation is not described by the spec, and in Java SDK it turns out that a link to the invalid span is added and can be even exported.

**Additional context.**

* https://github.com/open-telemetry/opentelemetry-java/issues/2955

[2021-03-01 19:17] tigrannajaryan commented on #1301
Related reference from k8s about metric stability: https://kubernetes.io/docs/concepts/cluster-administration/system-metrics/#metric-lifecycle

IMO, k8s is not fully solving the problem, but rather makes it manageable, creates clarity in the deprecation process and slows it down appropriately to give affected parties time to react. While certainly an improvement over just making breaking changes I

[2021-03-01 22:24] carlosalberto commented on #1472
Trying to re-awake this: I'd vow for going with `unknown_instrumentation_name`, trying to stay in line with what `Resource` does in absence of `service.name`.

In any case, assigning this to me to get ourselves moving ;)

[2021-03-02 00:37] jimshowalter opened #1490 "Support additional validation of keys and values"
As discussed in https://github.com/open-telemetry/opentelemetry-java/issues/2935, we need to restrict the keys and values in our baggage, to avoid having it become an untyped free-for-all dumping-ground, and to keep it from exceeding the size limits).

It seems like this would be a nice thing to add to the specification, so all implementations support it.

[2021-03-02 01:25] victlu commented on #1437
One other issue.  If Library X and Library Y gets their Meter interface from the same MeterProvider.Default (cause they do not want to take dependency on SDK).  Then, we cannot build separate pipeline for Library X vs Library Y due to both using the same MeterProvider.  If we use DI, it will be tricky to provision a different MeterProvider.Default for Library X vs Library Y.

[2021-03-02 04:06] anuraaga commented on #1486
Oh noticed I sent #1492 before getting to this in my notification queue, it would fix this.

[2021-03-02 11:36] XSAM opened #1493 "Remove active Span section in Tracer area from the spec-compliance-matrix"
In the [Tracer](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md#traces) area, we have `Get active Span` and `Mark Span active`, but there is no place to describe these features in the [Tracer API](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#tracer-operations). Should we remove these features fr

[2021-03-02 12:23] arminru commented on #1493
These requirements come from this section of the tracing API spec:

https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#context-interaction

https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#L155-L160

[2021-03-02 12:26] arminru commented on #1493
If you're concerned about Go in particular, there was a recent PR by @MrAlias that marked it as not applicable for Go due to its explicit context passing: #1487

[2021-03-02 12:56] Oberon00 commented on #1493
I think the concern here is that it is in the **Tracer** section. We discussed some time ago that get/set active should rather not be a tracer method because users would get confused and think that each tracer has a separate active span.

[2021-03-02 12:59] XSAM commented on #1493
It looks like parts of the `Context interaction` but no related with the `Tracer` API.

Also, the `Context interaction` section already has `Get active Span` and `Set active Span`, which makes features from the `Tracer` section seems duplicated requirements to me.

[2021-03-02 14:15] arminru commented on #1493
The context API is separate from the tracing API:
https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/context/context.md
https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md

In the tracing API spec I linked above, it explicitly says that the methods mentioned there SHOULD be offered **by the tracing API**:

https:

[2021-03-02 14:17] arminru commented on #1493
These are shortcuts/convenience methods for improved usability. It even mentions in the definition that "_This is equivalent to ..._" getting the context first and then calling the methods operating on that context:
https://github.com/open-telemetry/opentelemetry-specification/blob/d89f446368307fc80c3fad76ad17d5fbef1059f9/specification/trace/api.md#L155-L156

[2021-03-02 17:27] jimshowalter commented on #1490
From the code walkthrough for our implementation:

**INTRODUCTION**

XYZ Corp is adopting OpenTelemetry (https://github.com/open-telemetry/opentelemetry-specification) for context propagation (https://medium.com/jaegertracing/embracing-context-propagation-7100b9b6029a).

OpenTelemetry supports traces (the entire set of calls from the first to the last), and spans (one call in the trace).

OpenTele

[2021-03-02 17:34] jkwatson commented on #1490
Just one clarification/misconception I saw in your writeup:

This is not true. What OpenTelemetry does is to provide a way to attach Baggage to the context which propagates through the OpenTelemetry context mechanisms. This baggage is not associated directly with any spans or traces, nor is it propagated with them, unless the appropriate propagator is enabled.

[2021-03-02 17:34] jimshowalter commented on #1490
If you look at all of the above from the standpoint of developer friendliness, really all we need are two things:

- Ability to define allowed keys and specify regular expressions for values, and have those definitions be enforced by the builder.
- Ability to add allowed keys and valid values to the current baggage if they aren't already present.

[2021-03-02 17:39] jimshowalter commented on #1490
Thank you for the clarification! I updated our walkthrough to be more precise.

[2021-03-02 17:41] jimshowalter commented on #1490
For long-running services, we might add an invalidation mechanism, so the service rereads the schema file and updates the in-memory schema.

[2021-03-02 17:48] #1145 closed

[2021-03-02 18:29] jimshowalter commented on #1490
In some cases regular expressions might not be powerful/flexible enough, so it would be nice if a validator could be specified (or discovered).

[2021-03-03 05:31] reyang commented on #128
I believe this is addressed by #1409.

[2021-03-03 05:31] #128 closed

[2021-03-03 05:40] reyang commented on #1158
I'm closing this issue since it is too broad. We'll be using [milestones](https://github.com/open-telemetry/opentelemetry-specification/milestones) in this repo to track the items.

[2021-03-03 05:40] #1158 closed

[2021-03-03 10:58] anuraaga opened #1497 "Stabilizing service.name"
Currently all attributes are experimental, for example we see the Experimental label.

https://www.github.com/open-telemetry/opentelemetry-specification/tree/main/specification%2Fresource%2Fsemantic_conventions%2FREADME.md

But `service.name` is required to use Zipkin or Jaeger - those exporters are also effectively experimental because of this dependency. Is it possible to mark this attribute sta

[2021-03-03 10:59] anuraaga commented on #1497
For reference this came up because we don't have a stable way is configuring the service name in Java

https://github.com/open-telemetry/opentelemetry-java/issues/2973

[2021-03-03 11:08] Oberon00 commented on #1497
👍 for making it stable. But we should consider it together with `service.namespace`, as they are closely related. The instance ID stuff should not be made stable yet though, see #1034.

[2021-03-03 14:51] tigrannajaryan commented on #1443
The JSON format depends on https://github.com/open-telemetry/opentelemetry-proto/issues/268

[2021-03-03 17:33] jimshowalter commented on #1490
We also considered imposing the constraints in our custom publisher, but it feels wrong to wait to the publish step before throwing an exception. We want to flag it at the point of (mis)use.

[2021-03-04 00:26] bryce-b opened #1499 "Add Mobile specific Semantic conventions"
**What are you trying to achieve?**

I'd like to define mobile device/application specific semantic conventions.

**Additional context.**
The current semantic conventions are mostly container/service centric.
Mobile applications are an important part of the software stack, and need to be monitored just like any other link in the chain. There should be some predefined conventions around mobile spec

[2021-03-04 02:31] FrankSpitulski opened #1500 "Amend cassandra.cql.table to exclude keyspace"
I'd like to have the definition for the semantic attribute cassandra.cql.table amended to exclude the keyspace as per this request https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/2476.

Since we already have a keyspace tag including the keyspace in the table tag is redundant, increases cardinality, and makes matching a specific table name on the table tag more difficult

[2021-03-04 02:52] Folyd opened #1501 "How can OpenTelemetry apply to the mobile applications (Android, iOS)?"
**What are you trying to achieve?**

Although there are so many **APM** solutions for mobile apps, I'd love to seek a possible way to have an integration with OpenTelemetry in the apps. As far as I know, we need a **collector** daemon to collect all trace and span data, which I don't think is feasible for a mobile app.

**What did you expect to see?**

I can't find any related info about this, hop

[2021-03-04 13:13] XSAM commented on #1493
@arminru Thanks for the detailed reply.

IIUC, `Get active Span` and `Mark Span active` that in the `Tracer` section from the spec-compliance-matrix means `Tracer` should call `Context` API to get active span or mark span as an active span; it does not say `Tracer` should expose a method for getting active span. Am I right?

[2021-03-04 16:48] #1485 closed

[2021-03-05 00:59] #1486 closed

[2021-03-05 14:18] carlosalberto opened #1504 "Establish guidelines for semantic conventions names"
Define **human readable vs storage space** guidelines for semantic conventions.

This came from #1495 regarding choosing between `availability_zone` (easier to read) and `zone` or `az` (optimizing storage space). We should define a (very) general set of guidelines/recommendations regarding this.

[2021-03-05 14:46] MadVikingGod opened #1505 "Clarify Jaegar Envrionment Variables."
### **What are you trying to achieve?**
Understand or simplify how jaeger environment variables interact with each other.

Currently, only Jaeger defines `ENDPOINT`, and `HOST` + `PORT`. Most exporters use `ENDPOINT` with only prometheus using `HOST` + `PORT`.

### What did you expect to see?
Either:

Removal of one set of endpoint configuration, I would recommend removing the `HOST` + `PORT`.

or

[2021-03-05 16:08] veera83372 commented on #1505
According to  `contrib.go.opencensus.io/exporter/jaeger`, First priority is given to collector endpoint if it is not available then use Agent endpoint (host+port).  I think we can go with same priority order
https://github.com/census-ecosystem/opencensus-go-exporter-jaeger/blob/v0.2.1/jaeger.go#L80-L97

[2021-03-05 18:03] ahayworth commented on #1089
👋 We'd appreciate an optional `BeforeEnd` hook as well - internally at GitHub we have some complex filtering requirements for any data that may leave our datacenters (such as trace data, which currently goes to a SaaS). We're currently not able to run the opentelemetry collectors for filtering, and that leaves us attempting to scrub spans of sensitive data before they're emitted. [1]

Wrapping Spa

[2021-03-05 18:58] rakyll commented on #1497
+1 to considering to stabilize the name with namespace. We are thinking about representing service identifiers as a first-class thing in the backends. We should think about the service identity as namespace + name.

[2021-03-05 20:35] MrAlias opened #1507 "Clarification needed for IsRecording section of trace API"
The [IsRecording section](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#isrecording) of the Span operations contains the following two paragraphs:

The subject of these two paragraphs is a flag which has not been introduced in previous paragraphs of the section. To further complicate the situation, this idea of recording is often associated (s

[2021-03-05 21:34] jkwatson commented on #1090
I'm going to un-assign this from me, since I am not spending any time on it.

[2021-03-06 03:31] anuraaga commented on #1497
@thisthat Is this something we can add to the yaml tool?

[2021-03-06 08:07] XSAM opened #1508 "Clarification needed for Span Creation section of Tracer API"
The [Span Creation](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#span-creation) says:

This requirement is more applicable to languages with implicit contexts but not suitable for languages with explicit contexts.

For some languages, like Go, we use explicit and immutable `Context` so the SDK returns a new `Context` with the new `Span` set a

[2021-03-06 15:11] carlosalberto opened #1509 "Consider consuming non-supported attribute value types"
For dynamic languages, `SetAttribute()` MAY end up getting a value of an unsupported type. Current implementations simply ignore the value, but was wondering whether it could be good to do a best-try effort and simply convert the value to `string` (which is something we did in OpenTracing).

Arguably this will mean having different output, but we haven't frozen the telemetry compatibility section.

[2021-03-07 23:54] carlosalberto opened #1511 "Add execution-unit to the glossary."
In the context section we use "execution unit" to talk about threads/coroutines/fibers/etc. We should add it to the glossary (or alternatively use a better term).

[2021-03-08 17:12] #1377 closed

[2021-03-09 02:14] pyohannes commented on #1089
We'd appreciate a `BeforeEnd` hook as well. Our use case: we want to change the span status for 404 HTTP errors. We can't use the collector.

Writing custom `SpanExporter`s is suboptimal: it involves additional allocations (a span needs to be copied), and it involves additional implementation effort (we'd need to wrap every exporter we use, instead of just having one processor that can be used wit

[2021-03-09 02:52] anuraaga commented on #1089
I generally agree with the usefulness of `BeforeEnd`, just want to confirm these points. At least in Java, we have these mechanisms

- [DelegatingSpanData](https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/tracing-incubator/src/main/java/io/opentelemetry/sdk/extension/incubator/trace/data/DelegatingSpanData.java) so it's mostly only attributes that are copied, not span.

[2021-03-09 03:26] anuraaga opened #1518 "Guidance on naming tracers"
**What are you trying to achieve?**

Make it easier to write instrumentation by providing more concrete guidelines on defining tracer name.

**Additional context.**

This came up [here](https://github.com/couchbase/couchbase-jvm-clients/pull/9#discussion_r589355489)

I think we don't have much guidance on how to define a tracer name

There's an example with a reverse domain name here

https://gith

[2021-03-09 04:08] rakyll opened #1519 "Consistently format semantic convention enums"
Semantic convention enums currently have inconsistent formatting. For example, `os.type` values are all capital (https://github.com/open-telemetry/opentelemetry-specification/blob/main/semantic_conventions/resource/os.yaml#L10) whereas `cloud.infrastructure_service` values are underscored lowercase (https://github.com/open-telemetry/opentelemetry-specification/blob/main/semantic_conventions/resour

[2021-03-09 06:23] rakyll opened #1521 "Collector resource detection shouldn't override library resource attributes"
The spec specifies a merge behavior where the updating resource is overriding the existing resource attributes.

This behavior is unfortunately not great if collector detects and overrides resources via the resourcedetectionprocessor (https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourcedetectionprocessor). For example, in cases where libraries are sending

[2021-03-09 07:43] ericmustin commented on #1007
Echoing https://github.com/open-telemetry/opentelemetry-specification/issues/1007#issuecomment-703025521

I'm experiencing issues representing traces with duplicate span ids well, when using the zipkin receiver to receive traces from legacy zipkin b3 instrumentation (managed envoy).

It would be good to understand where the state of things are on this issue, or, given the current priorities around

[2021-03-09 07:49] anuraaga commented on #1007
@ericmustin Zipkin instrumentation has had an option to disable shared trace IDs for a long time, mostly added to support backends that don't support them. If you're using a zipkin receiver with a backend that doesn't support shared IDs, I think you'd have to flip this flag in the instrumentation. I mentioned a [bit](https://github.com/open-telemetry/opentelemetry-specification/issues/1007#issueco

[2021-03-09 08:41] Oberon00 commented on #1518
First a suggestion on terminology: I think we should get rid of the terminology "named tracer" (it does not appear often in the spec anyway) or "naming a tracer" and instead talk about the instrumentation lib name. My impression is that "tracer name" is prone to cause confusion and invite wrong expectations.

👍 I thought we already had that guideline somewhere.

[2021-03-09 15:27] arminru commented on #1096
@anuraaga There is a PR adding this functionality to the markdown generator: https://github.com/open-telemetry/build-tools/pull/30

If there is no opposition on this change (distinguishing int and double), we should be able to merge it and then adapt the YAML files in the spec accordingly.
cc @open-telemetry/technical-committee @open-telemetry/specs-approvers

[2021-03-09 19:35] MrAlias opened #1522 "Non-Blocking clarification for Span End method"
[The specification states](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#end) states a "Span becomes non-recording by being ended". [The specification](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#isrecording) reiterates this in the `IsRecording` section by saying "[a]fter a Span is ended

[2021-03-09 21:45] MrAlias opened #1524 "Clarify TraceIdRatioBased Sampler description"
[From the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/sdk.md#traceidratiobased):

Does this mean this sampler should always return the static string `"TraceIdRatioBased{0.000100}"` even if the ratio is not `0.000100`?

Or should it return `"TraceIdRatioBased{$RATIO}"` with `$RATIO` replaced with a decimal representation of the sampli

[2021-03-09 22:36] MrAlias commented on #1524
Based on what SIGs are doing (especially the ones that have a released a 1.0.0 version) it would follow the specification needs to be updated to reflect the description should be dynamic. E.g.

[code]

[2021-03-10 00:02] MrAlias opened #1526 "Should the baggage propagator clear pre-existing baggage?"
Based on [the 1.0.1 version of the Baggage specification](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/baggage/api.md#propagation):

The [TextMap Extract](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/context/api-propagators.md#textmap-extract) specification states that the extract method is passed a context and r

[2021-03-10 01:04] pyohannes commented on #1089
Those mechanisms could be useful, if they were spec'd out and available for all languages. However, it seems to me `BeforeEnd` is a simpler and cleaner solution.

[2021-03-10 04:03] srikanthccv opened #1528 "OTLP: Recommended maximum backoff time for transient errors retry?"
OTLP retry [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#retry)

It is not clear what is the suggested maximum backoff time here. It would be good to have that in the spec otherwise SIGs may choose their own value(could be too high or too low) and will lead to inconsistency.

[2021-03-10 10:26] hdost commented on #1458
Not sure if anyone else has opinions on this.

[2021-03-10 16:05] carlosalberto opened #1529 "Define proper environment variable support for different transports"
Historically we have tried to define transport configuration for exporters (OTLP, Jaeger, Zipkin). We should have a proper, clean, clear definition for **all of them**:

* General configuration
* Default value (if any) and whether we can define one across languages
* Should we use this for agents/all-in-one packages only?

Related to #1336

[2021-03-10 18:55] rakyll commented on #1519
We decided to take the next steps to provide some consistency here in the SIG meeting. Each language has their own idiomatic way to define constants.

Given the different capitalization rules, it's important to be able to have a delimiter for keys that contains more than one word. I propose us to use all lower case with "_" and rely on autogenerators to produce idiomatic constant identifiers.

For

[2021-03-10 23:21] rakyll commented on #639
I think we need to have a separate discussion with gRPC to deprecate grpc-trace-bin and switch them to the TraceContext header.

[2021-03-11 02:26] anuraaga commented on #1529
This seems like it applies to all variables and not just these ones?

[2021-03-11 02:58] anuraaga commented on #823
An idea came up in https://github.com/open-telemetry/opentelemetry-java/issues/3009 to have an option to specify what resource attributes to copy in. Could be a good approach.

[2021-03-11 05:12] anuraaga opened #1532 "Allow customizing formatting of stack traces"
Currently we define that stack traces are always formatted in a certain way using the standard language formatters. But some users may need to reformat the trace. SDKs could provide an option, such as a function mapping exception to string, to allow this.

[2021-03-11 06:50] iNikem commented on #1532
Can you give an example of such use-case?

[2021-03-11 07:37] iNikem commented on #1522
E.g, in case of Java I think both volatile fields and `AtomicBoolean` are thread-safe and considered non-blocking.

[2021-03-11 09:49] arminru commented on #1504
This was discussed in the spec meeting on 2021-03-09: https://github.com/open-telemetry/opentelemetry-specification/pull/1495#issuecomment-795870662

[2021-03-11 10:14] Oberon00 commented on #1522
I don't think non-blocking was meant to imply "lock-free". It probably means that you should not synchronously do I/O e.g. to export the span. On the other hand, that's exactly what the built-in SimpleSpanProcessor does. IMHO we should remove that "non-blocking" requirement.

[2021-03-11 12:26] arminru commented on #1508
I think "currently active Span" is a shorthand for "the active Span in the globally active (= implicit) Context", which only applies to languages which have such functionality. This would therefore not apply to Go anyway and it should be fine to set the Span active in the explicitly passed context.
See also: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/co

[2021-03-11 14:06] HaloFour commented on #1532
This is a situation that I am dealing with at the moment.  We are using OpenTelemetry to trace our Spring WebFlux applications and export the span information to ECS-formatted logs which we then ingest into a shared Splunk instance.  The problem is that Spring WebFlux stack traces are generally absolutely ginormous and Splunk will only parse and map JSON fields up to a certain size per event.  Thi

[2021-03-11 16:35] arminru commented on #1524
I'm glad no one interpreted it as "it has to be this constant string regardless of the actual ratio" 😄

Thanks for digging up the status-quo and presenting it here, Tyler!
Your proposal sounds good to me. Could you please create a PR for that?

[2021-03-11 17:23] arminru commented on #1493
@XSAM Sorry, I missed your reply.

It actually does (line 152):

https://github.com/open-telemetry/opentelemetry-specification/blob/d89f446368307fc80c3fad76ad17d5fbef1059f9/specification/trace/api.md#L151-L156

Given the condition (line 151), we would just add a `N/A` for languages with no implicit context propagation like @MrAlias already did for Go in #1487.

[2021-03-11 19:21] MrAlias commented on #1524
Sure thing :+1:

[2021-03-12 11:19] arminru opened #1540 "Define implicit and explicit context"
Currently these terms are not defined in the glossary but mentioned a couple of times in the spec:

https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#context-interaction
https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#behavior-of-the-api-in-the-absence-of-an-installed-sdk
https://github.com/open

[2021-03-12 15:35] #1493 closed

[2021-03-12 21:07] MrAlias opened #1544 "Is the Included Propagators section a duplicate of Propagators Distribution?"
The [Included Propagators](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#included-propagators) section specifies that a W3C tracecontext propagator must be included in the API, however the [Propagators Distribution](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/context/api-propagators.md#propagators-di

[2021-03-15 04:26] anuraaga opened #1548 "Dealing with batching"
In many situations, especially database calls, it is common for the server to support some sort of batching mechanism. For example, one JDBC statement can actually hold a batch of SQL statements, all of completely unique syntax. Similarly, multiple redis commands can be sent in a single request. As there is only a single request, I think we can only create a single `CLIENT` span for these cases. B

[2021-03-15 14:02] #1524 closed

[2021-03-15 17:01] #1454 closed

[2021-03-15 21:26] victlu commented on #1437
I gathered the general answer is to let each language define best method to allow Library code to gain access to a MeterProvider.  Currently there are two options, #1 to use the global Meter Provider, and #2 to employ dependency injection.

I will close this overall Spec issue in favor of allowing each language SIG to determine their path forward.

[2021-03-15 21:26] #1437 closed

[2021-03-15 21:32] jmacd commented on #1425
We have a general desire to report how many spans were dropped for reasons such as RPC errors, size limits, and so on. The same is true for reporting dropped metrics data. This seems to call for semantic conventional metrics about dropped spans and metrics. See also https://github.com/open-telemetry/opentelemetry-specification/issues/791

The OTel Prometheus sidecar and Lightstep needed to do some

[2021-03-15 21:33] jmacd commented on #1413
See https://github.com/open-telemetry/oteps/pull/148

[2021-03-15 21:36] jmacd commented on #1324
Like https://schema.org/ for telemetry data. 😀

[2021-03-15 23:27] anuraaga commented on #849
Hey - this question came up. Does anyone happen to have any suggestions on how to handle schedule delay?

[2021-03-15 23:58] carlosalberto commented on #1529
Well, I'm specifically talking about the fact that in some languages there are packages per each export-format/transport, i.e. jaeger/thrift, jaeger/grpc, jaeger/udp, etc. So unless you offer a package that has **all of them**, defining the Jaeger transport through an environment variable doesn't make sense.

Or maybe you meant something else? :)

[2021-03-16 00:02] anuraaga commented on #1529
Hmm - I guess it's not all of them but we have many variables like OTEL_PROPAGATORS / SAMPLER which I guess are similar. I figured by default the variables only applied to all-in-one type stuff but maybe wrong, would be worth clarifying that for other variables too :)

[2021-03-16 15:48] arminru commented on #1521
I don't think the Resource SDK spec mentioned above applies to the collector but rather only the client libraries.

The `resourcedetectionprocessor` you mentioned allows to configure if it should override existing attributes or not:
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourcedetectionprocessor#configuration
[code]

It says that the default is true

[2021-03-16 15:53] jmacd commented on #1521
I see a connection with https://github.com/open-telemetry/opentelemetry-specification/issues/1298

[2021-03-16 15:54] jmacd commented on #1521
Also when Prometheus does federation they use an option named "honor_labels" to enforce this type of behavior: https://prometheus.io/docs/prometheus/latest/federation/

[2021-03-16 18:24] tigrannajaryan commented on #1258
OTEP 0150 for Logging SDK spec submitted: https://github.com/open-telemetry/oteps/pull/150

[2021-03-16 18:25] tigrannajaryan commented on #894
OTEP 0150 for Logging SDK spec submitted: https://github.com/open-telemetry/oteps/pull/150

[2021-03-16 18:59] tigrannajaryan commented on #1324
@jmacd to clarify: I am working on a design of a machine-readable representation for schemas and recommendations on how observability systems should handle schema changes over time. Once that foundation is in place we can then define Otel schema in that particular representation.

[2021-03-16 18:59] jsuereth commented on #1113
We discussed this heavily today at the Metrics Data Model SiG.   The three proposals discussed is are [here](https://docs.google.com/document/d/1Jf5xvu0vti37pBLdzrhBuZ2kwTe6ErrcyKkcv4TRKB4/edit#).

I'm including the "consensus proposal" of that group here for implementation (volunteered by @bogdandrutu ):

# Use Attribute and treat different types values as different things.

In this proposal, we

[2021-03-17 07:20] thisthat commented on #1497
@anuraaga sorry for the late reply! Sure, this can be added to the tool! Currently, we support only **deprecated** attributes. It would be easy to add other markers!

[2021-03-17 14:17] carlosalberto opened #1552 "Define OpenTracing error logging translation"
In OpenTracing there was a set of semantic conventions for [logging errors](https://github.com/opentracing/specification/blob/master/semantic_conventions.md#log-fields-table), i.e.

[code]

We should be mapping this to the existing `RecordException(e)` operation (or `AddEvent()` with the proper semantics)

Follow up to #1101

[2021-03-17 14:26] carlosalberto opened #1553 "Clarify OpenTracing Span's Baggage storage location"
Follow up to #1101, regarding whether the related OpenTracing Span's Baggage should exist in the `SpanShim` bridging-class or in `Context`:

@yurishkuro mentioned that

To which I answered:

It looks we need to update the OpenTracing Shim layer for Go/Python, as they have Bagagge-through-Context operations, as opposed to have a single `Baggage` object, in order to validate this.

[2021-03-17 14:33] #114 closed

[2021-03-17 14:50] #1472 closed

[2021-03-17 15:46] Oberon00 opened #1554 "Specify how exporters should deal with invalid instrumentation library names"
Since #1534 / #1472, we pass on invalid (i.e. null/empty) instrumentation library names to the exporter. We should specify how specific exporters should deal with it. In my opinion, the goal should be to alert users that they are making a mistake when they decline (not forget: the null/empty string has to be explicitly passed) to specify an instrumentation library name. So I would suggest:

* OTLP

[2021-03-18 15:33] MrAlias commented on #1440
I think this is a really good point :+1:

[2021-03-18 16:06] #1096 closed

[2021-03-18 17:43] evantorrie opened #1560 "Criteria for Otel to Zipkin remoteEndpoint transformation should be broadened"
The current Otel <-> Zipkin [span mapping](https://github.com/open-telemetry/opentelemetry-specification/blob/b67faa4e0106cac194a837e3d419ae4fab9fc1c4/specification/trace/sdk_exporters/zipkin.md#otlp---zipkin) specifies that Zipkin's `remoteEndpoint` should be specified if Zipkin's `SpanKind` resolves to either `SpanKind.CLIENT` or `SpanKind.PRODUCER`, but omits `SpanKind.CONSUMER`.

Per discussio

[2021-03-19 00:03] mwear opened #1562 "B3 Propagation Config"
There are essentially three ways to configure b3. The b3 spec defines b3 single and multi-header formats. OTel has its own [flavor of b3](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#b3-requirements) where single and multi-header formats should be extracted, but only single-header should be injected.

The environment variable spec

[2021-03-19 08:07] Oberon00 commented on #849
IMHO it has to be the latter, otherwise you would be severely limiting throughput.

[2021-03-19 08:30] anuraaga commented on #849
@Oberon00 Yeah I think that makes sense, it actually was a silly question. I think what I meant to ask, was this other one, should we eagerly export batches? Currently Java exports as soon as the queue is over `maxExportBatchSize` regardless of interval - I think doing so could cause BSP to be more active than one might want when at low throughput. At high throughput, I think there isn't a big dif

[2021-03-19 08:40] anuraaga commented on #1562
@mwear I think in practice, there's basically no situation you'd need to only support a single format on extraction - that would mean getting different data in the two b3 headers which no instrumentation should be doing really. That's probably why we have the current spec and it seems reasonable to me.

For `fields` it is a bit strange but Java currently returns all of them
https://github.com/open

[2021-03-19 15:37] tedsuo commented on #1562
Isn't this OTel b3 the default? When you pick the b3 propagator, you get the otel flavor. Is this good enough?

[2021-03-19 15:48] tedsuo commented on #1560
@anuraaga do you mind taking point on resolving this?

[2021-03-19 15:52] anuraaga commented on #1560
@evantorrie Has a PR out - left a comment but think we'll get something in soon :)

[2021-03-19 17:28] #1552 closed

[2021-03-19 23:57] rakyll opened #1565 "Unify the terminology for OpenTelemetry libraries"
[code]

See https://github.com/open-telemetry/opentelemetry-specification/pull/1516 for earlier discussion.

[2021-03-20 00:17] rakyll opened #1566 "How to rebuild from deltas?"
An earlier discussion about rebuilding from deltas raised a question: https://github.com/open-telemetry/wg-prometheus/pull/25#discussion_r595010522.

Currently, the delta data points don't have sequence numbers. There is no way to identify duplicates or missing data points. Generally speaking, we don't know how to rebuild from deltas without sequence numbers. The spec/data model should address thi

[2021-03-21 09:55] iNikem commented on #849
+1 in favor of eager exporting

[2021-03-22 10:43] RichiH commented on #1566
This is a recurring discussion from the days when OpenMetrics and OpenCensus tried to merge.

Sequence numbers allow for detection, but not correction, of missing information.

A rough(!) equivalent would be UDP (sequence only) vs TCP (send windows, ACKs, retransmissions, state per receiver, local deletion after last ACK, etc.). This is significant overhead compared to plain deltas, so it comes do

[2021-03-22 14:55] carlosalberto commented on #1554
@yurishkuro @anuraaga do you have any opinion about Jaeger and Zipkin handling of this, respectively?

[2021-03-22 15:22] yurishkuro commented on #1554
Jaeger has no requirements on instrumentation library name, it only requires service name. I assume the same holds for Zipkin. So I am not clear what value a long screaming string would provide. I would simply omit setting this on the spans.

[2021-03-22 15:53] Oberon00 commented on #1554
But OpenTelemetry has. And in  #1534 / #1472 it was decided that the backend is responsible for showing the error message to the user. Since I don't think Jaeger/Zipkin will add special support for the OTel library names, the last point in the chain where we can add the error message is the exporter.

It will urge users to put in place an instrumentation library name, therefore stop calling the Op

[2021-03-22 16:16] yurishkuro commented on #1554
I don't think this is stated anywhere as a requirement. Most users won't even care about this value, I think the main persona who cares is someone who's investigating instrumentation issues, and for them the absence of this value tells as much as a long screaming string.

[2021-03-22 16:33] mwear commented on #1562
I think that sounds reasonable.

The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#general-sdk-configuration) currently says this:

Known values for OTEL_PROPAGATORS are:
    ...
    "b3": [B3 Single](https://github.com/openzipkin/b3-propagation#single-header)
    "b3multi": [B3 Multi](https://github.com/openzipkin/b3-prop

[2021-03-22 16:46] mwear commented on #1562
We discussed this at the maintainers meeting this morning and the consensus is that we should always extract both b3 formats, and that the configuration should correspond to the inject format. We'll clarify this in the specification.

[2021-03-22 21:55] reyang opened #1569 "The spec should not impose object-oriented paradigms"
**What are you trying to achieve?**

Related to https://github.com/open-telemetry/opentelemetry-specification/pull/1557#discussion_r597025966.

What did you expect to see?

The spec removes any object-oriented or functional specifics, uses a neutral description (e.g. instead of using "class", it should use "components").

[2021-03-22 23:12] #1544 closed

[2021-03-23 15:14] jsuereth opened #1573 "Metrics Datamodel: Write "Single-Writer" assumptions to DataModel specification."
- A timeseries instance should have a single writer
- Call out nuance of "Instrument" vs. "Metric" identity
- Call out implications / reasoning
- Call out nuance across metric-in-flight aggregations

[2021-03-23 15:22] reyang commented on #1528
Discussed during the specification SIG meeting, this is a nice-to-have feature but fairly complex. If someone wants to take the drive, please work on this (by replying here saying that you want to lead this effort), the TC members will support this.

[2021-03-23 15:28] MrAlias commented on #1526
From the specification SIG meeting the take-away is that if an extraction fails it needs to not touch what is in the existing context. This is specified [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#extract):

I'm going to open a PR to correct this language.

[2021-03-23 15:57] #1046 closed

[2021-03-23 15:57] #1433 closed

[2021-03-23 23:30] MrAlias commented on #764
It looks like this may indeed block the OTel Go release based on the fact that [backends are using the exception semantics to represent all errors within the system](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2195) and Go does not send errors in this form.

[2021-03-24 06:52] Oberon00 commented on #764
I don't think languages are supposed to invent & use their own semantic conventions without submitting them as a PR to the spec. So if go uses an `error.` prefix but otherwise the same semantic conventions, I think we need to do something, not (only) in backends. We could try to put that into the spec as used by Go now. But I wonder what e.g. Rust uses (do we have any other OTel languages that als

[2021-03-24 14:10] #1562 closed

[2021-03-24 14:20] #1526 closed

[2021-03-24 15:07] Aneurysm9 commented on #764
I believe that Rust has decided to emit `exception.`, even though they use errors.  We have [a PR in the Go repo](https://github.com/open-telemetry/opentelemetry-go/pull/1492) that would change our `RecordError` method to also produce events with the `exception.` attributes.  I'm fine with landing that, despite the conceptual mismatch, precisely because consistency for downstream processors is imp

[2021-03-25 18:43] jsuereth commented on #466
My $.02 here, we have three use cases:

1. I think having a default aggregation / "view" for instruments is a wonderful productivity boon for users, especially around synchronous instruments that need to be aggregated before reporting at known intervals.
2. I think there's a use case where the default aggregation is NOT the one the user wants.  in scenarios where the author of the instrument under

[2021-03-25 21:16] rakyll opened #1579 "Semantic convention table generation is broken"
[code]

[2021-03-25 21:24] tsloughter commented on #466
Agreed.

Also, OpenCensus solved (3) well, was one of its strengths in my opinions. For example, you could aggregate the request latency measure as a count of the number of requests.

[2021-03-25 23:03] anuraaga commented on #1579
I think you need to `docker pull otel/semconvgen` - it would probably be good for the Makefile to pull to reduce gotchas for users.

[2021-03-26 07:17] Oberon00 commented on #1579
We use a fixed version tag for the check, we need to do the same for the makefile.
Also, it seems that the semconvgen check is not included in `make check`? Which may make sense from a GitHub action perspective but not for users using the makefile locally.

[2021-03-29 05:30] anuraaga opened #1583 "Remove suggestion of performing a DNS lookup for net.peer.name"
Currently, there is text suggesting a DNS lookup could be used to obtain `net.peer.name`.

`reverse-lookup of the IP may optionally be used to obtain it.`

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/span-general.md#netname-attributes

Luckily it says optionally - I'd recommend all instrumentation to skip this since it seems like

[2021-03-29 07:23] Oberon00 commented on #1583
The instrumentation must certainly not do it. But an API-implementation could do it asynchronously (I don't think the default SDK provides convenient hooks to do this, although with the proposed BeforeEnd callback #1089 you could do it if the traced operation finishes after the DNS lookup).

[2021-03-29 12:40] iNikem opened #1584 "Clarification required for Span.setStatus"
One specific situation is currently absent from https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#set-status. Namely, imagine we have a web application running with Otel auto-instrumentation. Instrumentation creates a SERVER span for an incoming request. During this request, some exception is thrown, which sets response code to 400. But framework pr

[2021-03-29 14:36] #1522 closed

[2021-03-29 14:46] carlosalberto commented on #1584
That's correct, based on my understanding. @tedsuo ?

[2021-03-29 21:36] reyang opened #1587 "Clarify strings across the spec"
**What are you trying to achieve?**

This was brought up by @jsuereth in this [PR comment](https://github.com/open-telemetry/opentelemetry-specification/pull/1578#pullrequestreview-623597343).
The goal is to have a single place in the specification repo that describes the rules for strings, and have all other specs referencing the string rule.

**What did you expect to see?**

The general rules su

[2021-03-30 13:12] Oberon00 opened #1588 "Instrumentation library info and Resources are not available to Samplers"
ShouldSample receives as input all the known information about the Span to be created, see https://github.com/open-telemetry/opentelemetry-specification/blob/v1.1.0/specification/trace/sdk.md#shouldsample, *except* the instrumentation library info and the Resources.

Suppressing unwanted spans depending on the instrumentation library name was one of the original motivations of introducing it in th

[2021-03-30 15:02] #1579 closed

[2021-03-30 16:42] reyang commented on #731
Discussed during the [03/30/2021 #128 Metrics Data Model SIG Mtg](https://docs.google.com/document/d/1-bCYkN-DWJq4jw1ybaDZYYmx-WAe6HnwfWbkm8d57v8/edit#heading=h.bv4b9skwq3an), moving this out of the Metrics Data Model, tracking this in the Metrics SDK project.

[2021-03-30 16:53] #968 closed

[2021-03-31 05:17] ramthi commented on #1466
@Kanwaldeep Thanks for clarifying.  Apologies for not keeping an eye on this PR.  It got buried in all my github notifications

[2021-03-31 08:26] lkrzyzanek commented on #1584
It's quite common practice to use 400 (bad request) on REST API to indicate that client provided wrong input parameters.

We use it for any kind of validation of input parameters including also some business logic like to find appropriate records in DB. That's why it's quite important to have possibility to indicate that 400 is not an error.

[2021-03-31 15:47] sirianni commented on #1443
FWIW we are doing this internally at Confluent.  Many sink connectors in the Kafka Connect ecosystem require a 1-1 relationship between a Kafka message and a row in the data store (BigQuery, Elasticsearch, etc.).  By having a single metric/span in the record, this allows us to use those connectors to write OTel data to those data stores.  We've implemented this by writing a OTel Collector processo

[2021-04-01 14:29] #1143 closed

[2021-04-02 15:23] jmm opened #1592 "Log data model documentation terms: "key/value pair list" vs. "map""
Hello,

The [Log Data Model](https://github.com/open-telemetry/opentelemetry-specification/blob/ef4612dd0b1f4266e6eca7177290ee2a5f087199/specification/logs/data-model.md) uses both the terms "key/value pair list" and "map", seemingly interchangeably, as in:

In terms of JSON or languages like Python, "key/value pair list" could be interpreted to mean an array (described as "list" in JSON prose) of

[2021-04-02 15:35] reyang commented on #1583
@anuraaga would you be willing to take this forward? If yes we'll assign it to you (discussed during the Friday triage meeting).

[2021-04-02 15:39] reyang commented on #1584
Discussed during the Friday issue triage meeting, assigned this to @carlosalberto, it might take some time since this seems to be a challenging topic.

[2021-04-02 15:40] jsuereth commented on #1366
This should be fixed on the DataModel side once #1574 is submitted, PTAL @victlu and let me know (identity of metric data stream is called out explicitly).

[2021-04-02 15:42] reyang commented on #1587
Discussed during the Friday issue triage meeting:
1. identify a common place in the spec repo to put things like this
2. clarify the string requirement in the common place, and have other places referencing the common place

[2021-04-02 15:48] reyang commented on #1587
It might be a breaking change if folks already implied some string rules (e.g. UNICODE Plane 0) and now we're asking them to change.
Discussed during the triage meeting, we should bring this to the maintainers meeting first, and be careful about the change. Need to go through OTEP.

[2021-04-02 15:51] reyang commented on #1588
Discussed during the Friday issue triage meeting, this is a nice-to-have but not high-priority issue.

@anuraaga could you help on this? @Oberon00 would you be willing to take it?

[2021-04-02 15:53] reyang commented on #1592
Discussed during the Friday issue triage meeting, the suggestion is to clarify in the spec that list / map is a language client decision, each language client can have freedom to decide what's the best/idiomatic/performant approach.

[2021-04-02 15:53] reyang commented on #1592
@tigrannajaryan would you take this?

[2021-04-02 17:09] jmm commented on #1592
Thanks @reyang.

So are you saying that current instances of "map" and "key/value pair list" would both be replaced by something like: "key/value collection", and at the client level that could be represented by, say, a map (a/k/a dictionary or object) and / or a list of key-value pairs?

To make it more concrete, let's say it's JavaScript, as far as the spec is concerned, something like `Attribut

[2021-04-02 17:24] reyang commented on #1592
Yes, that's what folks discussed during the issue triage meeting and the general consensus is to allow individual client to decide what's the best way (e.g. in JavaScript/Python it might be convenient to use object/dict, in C++/C# it might be a perf/GC penalty to use std::map/Dictionary<string,object>).

[2021-04-02 17:30] jsuereth commented on #1566
I'd like to split out a few things to identify/resolve:

1. Delta-Based metrics imported via a collector from a non-OTel source (e.g. StatsD receiver).  For these metrics we are limited regarding solutions (e.g. sequence numbers).   While I think we should do our best to support this use case, if we can't guarantee 100% consistency with OpenMetrics (or we have some failure scenarios around missing

[2021-04-02 18:15] jmm commented on #1592
Thanks!

[2021-04-02 20:50] alanwest commented on #1426
Thanks for raising this @puckpuck.

To my knowledge, there is no such `grpc://` or `gprcs://` scheme. gRPC is often performed over HTTP/2 but can be over other transports like unix domain sockets.

Agreed. I've noted the inconsistencies as well [here](https://github.com/open-telemetry/opentelemetry-collector/issues/2539#issuecomment-812696546) in the context of the collector's OTLP exporter.

[2021-04-02 21:34] reyang opened #1593 "Editorial change - call out that Counter is monotonic"
This is a small editorial change pointed out by @jonatan-ivanov in a [PR review comment](https://github.com/open-telemetry/opentelemetry-specification/pull/1590#discussion_r606382472).

[2021-04-04 17:30] Sherlouk commented on #1501
Hi @Folyd,

I'm interested to understand what problems you believe exist in trying to support mobile applications as part of OpenTelemetry?

I've successfully prototyped an iOS application using this specification which hits the OpenTelemetry collector, it then exports data to Prometheus (metrics) and Elasticsearch (traces). While not in production quite yet, we've not run into that many problems.

[2021-04-05 08:03] owais commented on #709
Most most APM products, service is probably the most important configuration options. This is highlighted by the fact that almost all Otel distributions specify their own config option for service name. For example:

https://github.com/lightstep/otel-launcher-java#system-properties-and-environmental-variables
https://github.com/signalfx/splunk-otel-python
https://github.com/DataDog/dd-opentelemetr

[2021-04-05 15:55] puckpuck commented on #1426
The confusion of using `http://` to define the use of GRPC is because OTLP also supports HTTP transport on a different port by default in the Collector.  There are also some SDKs that only support HTTP transport and not GRPC (Browser JS). Using a scheme here would be clear in which transport is being used for OTLP.

Though I don't believe there is an industry standard, I have certainly seen multip

[2021-04-06 09:17] pavolloffay opened #1597 "Sampling based on URL"
**What are you trying to achieve?**

The Hypertrace agents collect all request and response data (headers and payloads). This data is not needed for every request, hence I would like to implement a sampler that would make a decision based on the URL/endpoint pattern when this data should be collected (e.g. one in 100 requests). The decision should be propagated to downstream services (e.g. via tra

[2021-04-06 09:27] Oberon00 commented on #1597
I think this was fixed recently in Java: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/388.

The spec currently says in https://github.com/open-telemetry/opentelemetry-specification/blob/v1.1.0/specification/trace/api.md#span-creation:

which would include HTTP headers too (makes sense, what if you have an "X-My-Company-Loadtest" header?). Of course this means that sa

[2021-04-06 09:54] pavolloffay commented on #1597
Thanks @Oberon00,

could we extend the spec and add explicitly mention that URL should be present at the sampling time (if it is known)?

[2021-04-06 12:02] Oberon00 commented on #1584
Please also consider the original OTEP https://github.com/open-telemetry/oteps/blob/main/text/trace/0136-error_flagging.md which has suggestions on how to handle this with the [Status Source](https://github.com/open-telemetry/oteps/blob/main/text/trace/0136-error_flagging.md#status-source) attribute of the status.

[2021-04-06 15:31] obecny commented on #1426
in js we are removing the protocol from the link when using `@opentelemetry/exporter-collector-grpc`. This means it will work in both cases whether you provide http(s) or not

[2021-04-06 15:45] weyert commented on #1347
Yeah, doesn't look like Hangfire (.net) and Bree (Node.js) they same level structure as Spring Batch (never used this) and looks more simplified

[0] https://docs.hangfire.io/en/latest/background-processing/processing-background-jobs.html
[1] https://jobscheduler.net/

[2021-04-06 16:09] jsuereth commented on #617
From metrics data model sig:

- This is non-blocking for declaring stable metrics protocol
- We can add this in post-stability-of-protocol.
- I'm going to remove the TODO from the `metrics.proto` around this, but we can still add this feature in the future.

[2021-04-06 16:42] jsuereth commented on #1275
Action Items:

- Deduplicate this issue w/ proto-based issue
- Specify "importing monotonic cumulative" section of data model specification.  @jmacd

[2021-04-06 16:47] iNikem commented on #1584
If Span's status were readable attribute then we could have a very simple solution: "if span has OK status set, then auto-instrumentations MUST NO override it". That's it, isn't it?

[2021-04-06 17:29] rakyll opened #1599 "Add a GitHub label for semantic conventions"
Semantic conventions doesn't have a label yet and it is making it harder to identify and triage semantic convention related issues and PRs. Let's consider adding a label for them.

[2021-04-06 17:50] MrAlias commented on #1560
@anuraaga it looks like the linked PR has gone stale. Can you open up a new one that will address the issue you commented and resolve this?

[2021-04-06 18:06] carlosalberto commented on #1599
We have an "area:semantic-conventions" label. Or you need something besides that one?

[2021-04-06 20:50] Rast1234 opened #1601 "Please guide how to properly extend attributes for not-yet-documented protocols"
**What are you trying to achieve?**

I am implementing tracing library for Json Rpc 2.0. It would be convenient to have some additional attributes as GRPC does: `rpc.grpc.status_code`. However, it is not clear to me how to extend attributes properly. I can think of two approaches:

1. Use existing attrs and extend them:
  * `rpc.system = jsonrpc`. **Question**: is this attribute intended to be use

[2021-04-06 22:56] rakyll opened #1603 "Semantic convention markdown table generator should lint the enum values"
We would like to enforce formatting for enum values in semantic conventions. (See https://github.com/open-telemetry/opentelemetry-specification/issues/1519 for more details.)

In order to enforce the requirements of only allowing lower case characters and underscores (_), we need linting rules in the markdown generator. The generator should error if there are enum values that doesn't meet this cri

[2021-04-07 14:45] Oberon00 commented on #963
@anuraaga: Can we maybe use the SQS guidance in #1442 as the base for something more broadly applicable to resolve this issue?

[2021-04-07 14:51] Oberon00 commented on #158
I think this was fully resolved with #756. Please reopen if you still see open points.

[2021-04-07 14:51] #158 closed

[2021-04-07 15:09] blumamir opened #1605 "Instrumented library version"
**What are you trying to achieve?**
Similar to [`Instrumentation Library`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#instrumentation-libraries), I am trying to get the **instrumented** library version. In case of errors or issues, it can be very helpful to know the library version which was used.

So for example, if I'm using [js `ioredis` au

[2021-04-07 15:12] jkwatson commented on #1605
It's not specified, but the java instrumentation group has been appending the library version to the instrumentation name. So, like "ioredis-4.17.3" as the name, for example.

[2021-04-07 15:16] blumamir commented on #1605
Thanks,
Do you know what is the process for suggesting to add such an attribute to semantic conventions?
Is it done via Issues? or via [oteps](https://github.com/open-telemetry/oteps)

[2021-04-07 15:21] jkwatson commented on #1605
You have taken the perfect first step by creating this issue. Thanks!

[2021-04-07 15:27] dyladan commented on #1605
So the version of the instrumented library is matched with the name of the instrumenting library? This seems likely terribly confusing for users who aren't aware of this mismatch.

[2021-04-07 15:34] Oberon00 commented on #1605
Isn't the version in the instrumentation library name for Java just the lowest version supported by the instrumentation? https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/contributing/writing-instrumentation.md#folder-structure

[2021-04-07 15:34] jkwatson commented on #1605
I don't understand the question. The instrumenting library in this case is the java agent, which has a version (like 1.0.0, for example). It seems clear that this is the right value.

[2021-04-07 15:35] jkwatson commented on #1605
yes, I was oversimplifying a bit. Thanks for the clarification.

[2021-04-07 15:36] Oberon00 commented on #1584
How would one put the OK status in the same span that the auto-instrumentation would set the status of?

[2021-04-07 15:54] Oberon00 commented on #1601
Good point, that should probably be formatted as an (open) enum. It would be intended to be used for such a case.

Most "enum"-like attributes explicitly allow using "a custom value", and rpc.system is IMHO supposed to be one of them.

[2021-04-07 15:56] Oberon00 commented on #1601
For adding new attributes, I would use a custom prefix. E.g. for your example I would use `my_organization.rpc.jsonrpc.something_protocol_related` if you do not intend to contribute semantic conventions for Json Rpc to OpenTelemetry. However if we are talking about that JSON RPC https://en.wikipedia.org/wiki/JSON-RPC, then I think it would be best to create a PR with your suggested semantic conven

[2021-04-07 16:09] iNikem commented on #1584
My original example describes exactly this situation. Auto-instrumentation sets the status of the span, which corresponds to the incoming http request, after/during the response is being sent out. Application developer can grab the current span in their code while processing that request and set span's status. Way before auto-instrumentation attempts to do so.

[2021-04-07 16:28] Oberon00 commented on #1584
Sorry for not reading properly 🙈

I think this example is perfectly solved in the original, accepted but only partially spec'd out OTEP: The user would call `SetStatus(Status.OK, StatusSource.USER)` and the instrumenation would then later call `SetStatus(Status.OK, StatusSource.INSTRUMENTATION)`. Then the backend should normally prefer the USER status "as it is a communication from the application

[2021-04-07 16:36] Rast1234 commented on #1601
Thanks!

Can you please point where it is in the specification? I've seen only explicitly closed "enums" like `messaging.destination_kind`: only `queue` or `topic` are allowed.

 Next thing i was going to ask: is a PR welcome. I am going to contribute JSON RPC then :)

[2021-04-07 17:19] iNikem commented on #1584
Status source will work as well, certainly. I still think that my proposal is easier :)

[2021-04-08 04:23] anuraaga opened #1608 "Remove separation of TextMap and HttpHeader propagation in opentracingshim"
Looking at the opentracing definition of TextMap vs HttpHeader, the latter is a subset of TextMap where key/value pairs are all compatible with HTTP. Lucky for us, OpenTelemetry propagators all have that restriction

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#textmap-propagator

I think this means we can get rid of the distincti

[2021-04-08 08:14] Oberon00 commented on #1584
Reading the status would violate the design principle that spans are write-only (except for SpanContext which is immutable, fixed from creation, and required for propagation). Also, every instrumentation would need to check the status and if it forgets, the user-status is overwritten.

A solution somewhere in the middle would be to provide a `SetStatusIfUnset` API.

[2021-04-08 08:45] iNikem commented on #1584
All three solutions work for me :)

[2021-04-08 08:53] Gromcio opened #1609 "Serializable tracing context - spans"
**What are you trying to achieve?**

I'm trying to adapt open telemetry to the Apache NiFi cluster through their UI. By giving users access to processors (start, stop, addattribute, addevent), they will be able to create their custom data tracing around their defined workflows. The problem is that they define it all through UI which abstracts actual code executed that can be executed on any node (

[2021-04-08 23:38] anuraaga commented on #1608
@carlosalberto @malafeev Any thoughts on this? :)

[2021-04-08 23:50] carlosalberto commented on #1608
We can't ;) i.e. I know that Jaeger used to use a Jaeger propagator with encoding and one format, and one for the other one - something like:

[code]

(We still need to add support for such encoding flag in the current Jaeger propagator, btw).

I do agree that **most** of the time we will be using the same Propagator though (unless you are using Jaeger ;) )

[2021-04-09 00:25] anuraaga commented on #1608
I see - but `JaegerPropagator with no encoding` won't be compliant with OTel spec then. Is it an exception we'd make for Jaeger propagator?

Also, is it something we can leave as an implementation detail? If OpenTelemetry propagator is configured to JaegerPropagator then use that behavior, without having to introduce the `OpenTracingPropagators` concept to the user?

[2021-04-09 16:00] reyang commented on #1597
The spec does leave room for the sampler to access attributes that are provided during span creation (not after the span creation), so it is not an API issue.
One possible approach is to encourage or enforce the URL to be provided as the attribute that is available at span creation, as part of the semantic convention.

[2021-04-09 16:03] reyang commented on #1601
Discussed during the issue triage, the namespace approach (use company/product/project/etc. names) seems to be the safe way to go.
It would be helpful if @Rast1234 you could send a PR to capture this in the semantic convention doc?

[2021-04-09 16:06] reyang commented on #1608
@carlosalberto could you take this issue and drive it forward? thanks!

[2021-04-09 16:12] reyang commented on #1609
Discussed during the issue triage meeting, this is out of the scope of OpenTelemetry project, so we don't intend to define extra APIs /behaviors on how spans should be serialized besides what OTLP already has.

A custom processor seems to be a good solution, another possible option is to create a custom propagator.

[2021-04-09 16:13] reyang commented on #1609
Please give us feedback. If we have agreement or there is no follow up, we will close the issue next week.

[2021-04-09 16:35] Gromcio commented on #1609
Where are specs about spans serialization ? Is this about their propagation between applications (B3, W3C, etc. propagators) ? Those doesn't allow me to continue the context of the span, I can only use them as parent contexts since propagators only create SpanContexts, out of which it's not possible to create active span. Additionaly those propagators save only basic information, no events, attrib

[2021-04-11 22:52] Rast1234 commented on #1601
I'll think how to put this into docs. However,currently i'm waiting (indefinetly) for my company to allow signing CLA for another PR...

[2021-04-12 07:12] Oberon00 commented on #1601
For example `db.system`: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/database.md#connection-level-attributes. The spec there is: "`db.system` MUST be one of the following or, if none of the listed values apply, a custom value"

[2021-04-12 07:19] Oberon00 commented on #1597
The quoted spec already says that:

Of course this also applies to the URL. If we need to discriminate attributes that are more or less important to sampling (original semantic conventions generator PR had a `sampling_relevant: bool` attribute), we need to somehow update this statement, otherwise saying that URL is required before StartSpan is redundant.

[2021-04-13 14:00] carlosalberto commented on #1584
I also like your solution more, but I'm afraid that providing a getter for `Status` may be hard (impossible), e.g. a streaming implementation (besides what @Oberon00 already mentioned regarding the write-only design).

I'd be up for adding the `Instrumentation` part to _if_ languages can offer this **without** breaking their APIs, which I'm not totally sure it's feasible (might need to ask maintai

[2021-04-13 14:06] jmm opened #1613 "Distinction between structured `Body` and `Attributes`"
Is there a clear distinction between what belongs in a structured `Body` vs. in `Attributes`? If there's not, it seems to make it less predictable where data is expected, and how to map between other models.

A top-level "message" string seems to be pretty common among other log data models. In this model, if you want to have a top-level message string and structured data describing the event, are

[2021-04-13 16:00] tedsuo commented on #1584
From the spec meeting today.
We discussed the options. There is general agreement that adding state (a status getter) is not feasible.

We discussed adding a `StatusSource` field with two states, `USER` and `INSTRUMENTATION`. The USER status always wins. In practice, we add this feature by changing the current `SetStatus` function to set the source as `USER`, to avoid breaking user code. An additi

[2021-04-13 22:59] pyohannes commented on #1584
@tedsuo I have use cases where `StatusSource` would help, but the simpler solution (overriding status on `End`) wouldn't.

One use case is overriding error status of HTTP client instrumentations. With several HTTP client instrumentations I worked with there is no way to access the span that is created by the instrumentation. Furthermore there might be scenarios where application developers use lib

[2021-04-14 04:50] iNikem commented on #1584
@pyohannes Can you elaborate on this, please? `StatutSource` still needs to be passed to a span, how will it help you if you don't access to spans?

[2021-04-14 15:45] MatthewDolan commented on #271
Is there a link to the recording or notes from the meeting? I am curious what factors were weighed in the decision.

[2021-04-14 16:55] jmacd commented on #1078
About the terminology proposed above, "present" may not be the greatest term to describe which services are available. Other terms potentially:

"available": I believe that Google's Monarch uses this term.
"roster": The english language definition very closely matches our technical meaning.

[2021-04-14 16:56] jmacd commented on #1078
FYI Lightstep prototyped the push-based metric described here in this collector branch:

https://github.com/open-telemetry/opentelemetry-collector/compare/main...lightstep:saladbar

We will continue this effort and share here. (CC: @paivagustavo)

[2021-04-14 23:38] pyohannes commented on #1584
@inikem On backend or exporter side (maybe triggered by configuration) one could say: ignore error status values when `StatusSource` is `INSTRUMENTATION`, but honor the error status when the `StatusSource` is `USER`.

That is how I interpret this sentence in the [OTEP](https://github.com/open-telemetry/oteps/blob/main/text/trace/0136-error_flagging.md#status-source):

Then any instrumentation migh

[2021-04-15 06:14] hdost commented on #1078
If service discovery is determining part of this then there are at least preliminary checks being done.
"available" certainly works.
FWIW i think "roster" might be more confusing than "present".

[2021-04-15 06:45] iNikem commented on #1584
If backend "ignore error status values when StatusSource is INSTRUMENTATION", then it means all application developer has to set status code whenever they expect the span to be an error. This is even more work than re-setting status when there is a conflict between developer expectation and auto-instrumentation decision.

[2021-04-15 06:58] hdost commented on #1113
I wasn't able to make it to the Model SIG, what was actual blocker here?

[2021-04-15 17:17] jkwatson opened #1619 "Consider reverting/amending #1534 (removes fallback tracer name)"
#1534 changed the spec to require null tracer names to be kept intact. Unfortunately, this ends up introducing a pretty significant behavioral breaking change to the Java SDK interfaces for exporters. It would require our `InstrumentationLibraryInfo` to return a `nullable` name attribute, which means that all exporters (both ours and any 3rd party) now have to guard against a null attribute, or ri

[2021-04-15 17:46] pyohannes commented on #1584
The backend could "ignore error status values when StatusSource is INSTRUMENTATION _only if_ there is a span in the trace with `StatusSource=USER` and `Status=OK`".

However, another possibility without the need for `StatusSource` would be to "ignore error status values _if_ there is a span in the trace with `Status=OK`". I wonder if [this section of the current specification](https://github.com/o

[2021-04-15 19:03] iNikem commented on #1584
I think that ignoring status of one span based on the status of another span is a VERY special case and certainly is not something that Otel specification can recommend.

[2021-04-16 15:29] Oberon00 commented on #1619
The requirement in question is a SHOULD-requirement. So if Java has good reasons to deviate (slightly), I think it is fine to do so with the current spec.

[2021-04-16 15:40] tedsuo commented on #1619
It looks like this issue is caused by an unnecessary side effect in the PR. The original issue was to define a canonical tracer name when an invalid name is given. Returning the original invalid name of the tracer seems like incorrect behavior - we should return the default name, and log the error.

[2021-04-16 15:43] carlosalberto commented on #1619
cc @bogdandrutu

[2021-04-16 19:16] #1573 closed

[2021-04-16 20:15] Aneurysm9 opened #1620 "Unclear merge order for Resources from environment variable"
It is unclear from a reading of the specification regarding [resource information from environment variables](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/sdk.md#specifying-resource-information-via-an-environment-variable) the order that those detected resource attributes should be merged with resource attributes provided by the application.  The s

[2021-04-17 15:52] vmarchaud opened #1622 "Clarification on `OTEL_TRACES_EXPORTER` for JS"
**What are you trying to achieve?**

I've started to implement the `OTEL_TRACES_EXPORTER` ([spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#exporter-selection)) environment variable inside the JS SDK ([original issue](https://github.com/open-telemetry/opentelemetry-js/issues/1676) and [my draft PR](https://github.com/open-tel

[2021-04-18 11:30] blumamir commented on #1605
Hi,
So how can I move forward with this?

I think the main issue that needs to be addressed is how to handle instrumentation library (or span) which is instrumenting multiple packages at once (most likely related, but not necessarily). In this case, the attribute will need to an array of package name and version. Another option is to state that one module version should be captured, which is the o

[2021-04-19 07:19] kubawach commented on #1619
Reading the spec (`In case an invalid name (null or empty string)`) I believe that what we can do in Java, in order to avoid all of the extra null-checks is:
- check if the name is valid (non-empty string)
- if it's null, use an empty string (as a fallback)
This way both backend will be aware that the name provided was invalid and the code won't need to be null-protected.

[2021-04-19 14:01] jsuereth opened #1625 "[Metrics DataModel] Write/translate Temporal Alignment section"
Original Section: https://docs.google.com/document/d/1rncVUp_nzAhA39trS1hUFinIlO01jf7KBbuIRhqMI7Y/edit#heading=h.1sdfu6lfyjt1

Necessary components in the specification:
- Define mechanism of Temporal alignment or link to existing documentation
- Define WHY and WHERE temporal alignment is necessary in OpenTelemetry
- One or two good examples

[2021-04-19 14:38] carlosalberto commented on #1622
Hey @vmarchaud

`OT_TRACES_EXPORTER` is _expected_ to be implemented bu auto-instrumentation engines, as they are the ones bundling many components (instrumentation, propagators, exporters, etc). We definitely need a clarification for this, so SDKs do not even try to implement this at the core level.

This is the correct approach, i.e. we don't want to make the SDK a heavy piece.

[2021-04-19 15:38] vmarchaud commented on #1622
Thanks for the clarification @carlosalberto, i think the approach of the Ruby SDK is more user-friendly and possible in node so we'll implement it like this too.

[2021-04-19 15:38] CathalAherne opened #1626 "Cloudwatch percentiles not working"
**What are you trying to achieve?**
Currently I use valueRecorder to record latency like so:

[code]

When I view this in AWS cloudWatch, I can see the average time, but all the percentiles just return 0.
Considering P95 is more useful for latency, I'm assuming its supported but cant see anything in the docs.
Is there something I'm missing or is this just not supported yet?

What did you expect to

[2021-04-19 16:42] tsloughter opened #1627 "Glossary definitions for types of propagation"
**What are you trying to achieve?**

Consistent term usage across documentation on various languages when discussing context propagation.

** What did you expect to see? **

Glossary definitions for the two types of in-process context propagation, "explicit" and "implicit". Possibly also with "library propagation" to refer to cases like including a middleware for an HTTP client that does cross pro

[2021-04-19 16:42] tsloughter opened #1628 "Glossary code examples"
**What are you trying to achieve?**

Having clear definitions for glossary terms.

**What did you expect to see?**

This is a proposal based on how the spec has had example code added and I think it has helped with understanding the prose. It may be useful as well to add such examples to terms within the glossary.

[2021-04-20 07:22] Oberon00 commented on #1626
@CathalAherne This is almost certainly not a spec issue but an issue in the OpenTelemetry library you are using. Is this Node/JavaScript?

[2021-04-20 07:27] Oberon00 commented on #1620
I think the language is pretty clear. If you have a conflict between A and B and B has higher priority then B wins. So the user-provided resources override the environment variable. However, the question is then: (1) Does the environment variable not count as user-provided? (2) What does user-provided mean? Hardcoded?

[2021-04-20 08:05] CathalAherne commented on #1626
Its the opentelemetry-js library. Here's how the metric data looks in the cloudWatch logs if that helps.
Ive tried "@opentelemetry/metrics" version 18.0.0, 18.0.1 and 18.0.2
[code]

[2021-04-20 08:08] CathalAherne commented on #1626
Sorry, I should probably log this issue with the opentelemetry-js repo. Didn't realize I posted it in the spec.

[2021-04-20 08:08] #1626 closed

[2021-04-20 15:04] Aneurysm9 commented on #1620
Yeah, I think this is the crux of my issue.  It seems odd to not consider environment variables as user-provided and very odd to not allow their use for overriding hardcoded values.

[2021-04-20 15:25] carlosalberto commented on #1619
After discussing it in today's SIG call, we decided to go with an empty string instead of `null` and log the error. Assigning this issue to me, and will present a PR with the aforementioned changes.

[2021-04-20 15:26] reyang opened #1632 "Document "which instrument to pick" in the metrics README"
The proposed decision tree can be found from the #1617 PR description.

Follow up discussion https://github.com/open-telemetry/opentelemetry-specification/pull/1617#discussion_r616778328

[2021-04-20 15:34] carlosalberto commented on #1620
Assigning this to @Aneurysm9 in order to start gathering scenarios for this (and potentially have @jsuereth help with the write-up portion ;) )

[2021-04-20 15:41] jsuereth commented on #1620
I'm in.  For context, we had questions in general around resource detection ordering too: https://github.com/GoogleCloudPlatform/opentelemetry-operations-java/issues/92

[2021-04-20 17:55] pmm-sumo opened #1633 "Controlling context propagation boundary"
**What are you trying to achieve?**

There are several use cases where two organisations employing OpenTelemetry communicate with each other, such as: any 3rd party API calls, synthetics monitoring, webhooks, etc. In some cases (e.g. synthetics monitoring) it is anticipated that the called organisation records the identifier of the originating call and samples the trace (if OpenTelemetry is employ

[2021-04-20 17:58] pmm-sumo opened #1634 "Define a standard way to identify synthetics request"
**What are you trying to achieve?**

Perhaps we could come with a standard way to define that a request is a synthetics call and might be handled accordingly by the service. E.g. special sampling rules could be applied there. Preferably, such information could be kept in a context and stored as a span attribute

This could be achieved via using trace context or defining a special header

**Additio

[2021-04-20 18:04] victlu commented on #1366
This issue can be closed, as the following spec changes have helped to clarify the "identity" of an instrument vs metrics.

- [new_api.md](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/new_api.md#instrument)
- [datamodel.md](https://github.com/open-telemetry/opentelemetry-specification/blob/42772a79a22e86f26304a162cb9159c57d58a602/specification/metri

[2021-04-20 18:04] #1366 closed

[2021-04-21 08:01] eyjohn commented on #1633
Thanks for posting this Przemek,

One thing to consider that I'd like to add is data sensitivity, in some cases, I do not wish third parties who may continue the trace to be aware of the true origin on the request and related request by being able to correlate either on a traceId/spanId/TraceState basis. In fact, we may want to obscure the traceIds by generating a new one at the boundary point or

[2021-04-21 08:24] Oberon00 commented on #1633
4. Define a boundary on the callee side (e.g. via API), so whenever context is being extracted there, instead of continuing the trace, start a new one

For this approach, see also #1188 "Support restarting the trace with a different trace ID"

(quite a lot related issues here)

[2021-04-21 08:26] Oberon00 commented on #1633
Also for

Not only the root span is a problem but any parent span can be. I consider this a design problem of W3C traceparent, but it can be worked around by storing the parent span ID in the tracestate under a unique key, see https://github.com/open-telemetry/opentelemetry-specification/issues/366#issuecomment-580235961

[2021-04-21 16:34] tigrannajaryan commented on #1628
@tsloughter can you clarify this? Do you suggest to add code examples literally to https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/glossary.md file?

[2021-04-22 11:25] tsloughter commented on #1628
@tigrannajaryan yea. It was just a thought when there was mention that some of the definitions can be very broad and possibly hard to understand concretely.

[2021-04-22 12:16] jbadeau commented on #1062
This would be very useful for certain scenarios

[2021-04-22 15:02] tigrannajaryan commented on #1628
OK. Maybe a separate page with examples? I feel it may overwhelm the glossary page. Can link to examples from glossary.

[2021-04-22 17:00] jsuereth commented on #1113
Give opentelemetry-proto#283 is merged here, I think remaining work is in the metrics API specification.  Does that sound right @reyang ?

[2021-04-22 19:29] tigrannajaryan commented on #281
We have [traceid](https://github.com/open-telemetry/opentelemetry-proto/blob/a17f202fdae65e828ac29fb663b5bc5b64b13290/opentelemetry/proto/logs/v1/logs.proto#L125)/spanid in the OTLP proto and the spec defines [how to record them](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/overview.md#trace-context-in-legacy-formats) in text logs.

I think this can be

[2021-04-22 19:29] #281 closed

[2021-04-23 01:12] tigrannajaryan commented on #894
OTEP 0150 is approved. Closing this issue.

[2021-04-23 01:12] #894 closed

[2021-04-23 15:23] reyang commented on #1628
Discussed during the 4/23 triage meeting, we think it might be okay to provide some small/mean/lean examples if the concept is hard to digest without a concrete example, but the general guidance should be keeping the spec small and not have examples for everything (considering what RFC is doing).

[2021-04-23 15:24] reyang commented on #1628
@tsloughter could you help to pick one concrete scenario? We can probably start from that. Thanks!

[2021-04-23 15:29] reyang commented on #1633
Discussed during the 04/23 triage meeting:
1. we want to see if there is a relatively high demand for this
2. if there is a high demand, we want to see if this is something that should be addressed by the W3C TraceContext specification, rather than having OpenTelemetrying providing a workaround / additional layer.
3. the same question might apply to other propagation protocols (e.g. Zipkin B3).

[2021-04-23 15:37] reyang commented on #1634
Discussed during the 04/23 triage meeting.
We think OpenTelemetry might want to cover this via semantic convention - if a server library / instrumentation library knows something is a synthetics request, we might want to emit a special attribute so users can act on it (e.g. filter it out).
We think OpenTelemetry might *NOT* want to define a protocol / context / baggage propagation to unify the syn

[2021-04-23 16:03] tigrannajaryan commented on #1258
OTEP 0150 is approved and merged and is considered to be the specification for now.

Further refinements and formal merging of the OTEP to the spec documents will be done after prototype implementations.

[2021-04-23 16:03] #1258 closed

[2021-04-23 16:05] tigrannajaryan commented on #1250
Is this about the [Name](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#field-name) field of the Log data model?

We have size recommendations for the field. Why do we need additional limitations? We don't do this for other fields (e.g. Span Name), so I do not see why this field needs a special treatment?

[2021-04-23 16:05] reyang commented on #1113
The API spec is also done (addressed by #1557).
I'm closing this issue now.

[2021-04-23 16:05] #1113 closed

[2021-04-23 16:08] tigrannajaryan commented on #1206
I believe [ForceFlush](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#forceflush) now part of the stable specification and can no longer be changed, so this discussion is no longer actionable. Closing as I believe there is nothing to do.

[2021-04-23 16:08] #1206 closed

[2021-04-23 16:18] pmm-sumo commented on #1634
I think that semantic convention is only a part of the solution. I think that eventually this should be somehow automatically extracted from the request (headers, context, baggage or something else) by the client library.

[2021-04-23 16:31] yurishkuro commented on #1634
It is always exceptionally hard to standardize on classification/taxonomy.  What is a "synthetic" request? I can think of a number of different explanations, serving different use cases and potentially requiring different handling (e.g. blackbox testing, integration testing, load testing - all different). So simply having `synthetic=true` is not the answer.

[2021-04-23 16:43] yurishkuro commented on #1633
I doubt it. W3C TC defines the format, not the implementation. It calls out that baggage is meant to propagate only within trust boundaries (https://github.com/w3c/baggage/blob/master/baggage/privacy.md):

This is not to say that OTEL SDK is the place to enforce trust boundaries. It's certainly possible to implement in the SDK but since it would require special configuration it is less reliable th

[2021-04-23 17:06] pmm-sumo commented on #1633
This is more in context of #1634 , but I think W3C TraceContext could be extended with one of the following (among other solutions):
* ability to set `parent-id` to zeroes, which would identify that a new `trace-id` should start (and the caller would know what will be this trace ID) - that would solve the problem of having parentless traces in the example I posted above
* defining a new flag, that

[2021-04-24 22:45] tsloughter commented on #1628
I think Automatic Instrumentation is a good one, to show how it differs from including a instrumented middleware for example.

[2021-04-26 14:41] #1324 closed

[2021-04-26 14:51] tigrannajaryan opened #1644 "Support binary data type for Attributes"
It can be useful to allow recording opaque binary data in the Attributes and in the Log Record Body.

`Binary` is a supported data type in Jaeger: https://github.com/jaegertracing/jaeger-idl/blob/34396033ff11c60fced342ab2858ace278fedaa8/proto/api_v2/model.proto#L57 for Spans, Logs and Process.

This has come up a few times in the past and recently here https://github.com/open-telemetry/opentelemet

[2021-04-26 14:55] Oberon00 commented on #1644
Is this the same as #780?

[2021-04-26 14:57] tigrannajaryan commented on #1644
It is indeed a duplicate of https://github.com/open-telemetry/opentelemetry-specification/issues/780. Closing.

[2021-04-26 14:57] #1644 closed

[2021-04-26 14:59] tigrannajaryan commented on #780
I agree this can be useful for attributes and also for the Log Record Body.

A prior art exists too: binary is a supported data type in Jaeger: https://github.com/jaegertracing/jaeger-idl/blob/34396033ff11c60fced342ab2858ace278fedaa8/proto/api_v2/model.proto#L57 for Span, Log and Process.

This has come up a few times in the past and recently [here](https://github.com/open-telemetry/opentelemetry-

[2021-04-26 20:58] bryce-b opened #1647 "Add semantic convention for describing network connectivity conditions"
**What are you trying to achieve?**
On mobile devices, the state of network connectivity is very important. Determining the severity of a network issue can be greatly impacted by the networking state a mobile device is operating under.

I would like to add several semantic conventions to the spec to describe network conditions on a mobile device. To get the conversation started here a some propose

[2021-04-27 05:07] Aneurysm9 commented on #1620
These use cases assume the application developer has constructed a non-default resource and that SDK implementations merge application-developer provided resources with resources detected from environment variables at the time that a `TracerProvider` or `MeterProvider` is initialized.  The question is in what order should the resources be merged?  Assuming arguments to `resource.Merge()` are in as

[2021-04-27 07:40] anuraaga opened #1650 "HTTP active_requests metric should be LongUpDownCounter?"
I'm looking at https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md#http-server and it says the instrument to use is UpDownSumObserver. Should it be `LongUpDownCounter` since we would be counting up or down as requests start and stop, not observing a static value?

[2021-04-27 07:54] Oberon00 commented on #1298
I just had a realization that current resources can be thought of as a special kind of "never-changing" metrics, and "mutable resource attributes" may be better represented as metrics:

As far as I understand, this issue goes into the direction of relaxing resources from "write once at startup" to being "append-only". But there are some attributes that can change an arbitrary number of times. For

[2021-04-27 08:11] Oberon00 commented on #1647
These seem potentially useful to me.

I think you are already suggesting that but just to add a rationale: Adding these per span would make sense as a device may have multiple connections. Also, resources being immutable or maybe soon append-only (https://github.com/open-telemetry/opentelemetry-specification/issues/1298#issuecomment-827398011) may not really fit that.

A few notes on the names in

[2021-04-27 10:27] svrnm opened #1652 "Add semantic convention for describing SSL/TLS connections"
**What are you trying to achieve?**

Encrypting network communication with SSL/TLS adds an additional layer of complexity to the communication which can be the source of issues, like expired certificates, outdated ciphers&protocols, ...

I would like to add several semantic conventions to the spec to describe SSL/TLS connections. I suggested a few through an instrumentation implementation for node

[2021-04-27 16:59] #1592 closed

[2021-04-27 17:44] jsuereth opened #1655 "Determine how to report dropped metrics"
In #1618, the question of who to handle "dropped" metrics within OTLP was asked.   In that PR, a naive algorithm for Delta => Cumulative sum conversion was proposed that was intended to be lightweight (in memory consumption) and does NOT allow for out-of-order (or delayed) delta sum points.

This raises the question of how you would report "dropped" metrics within OTLP for this scenario.   Do we w

[2021-04-27 19:49] jmacd commented on #530
This was discussed in today's Spec SIG.
Would someone involved in the conversation today please post a summary of any decisions that were made?

[2021-04-27 19:52] dyladan commented on #530
I created a PR based on the discussion from the SIG #1653

The discussion was primarily around clients creating and exporting APIs that were not specified and how to do it in a way that is compatible with future spec. It was generally agreed that it would be better to export it in some sort of API extensions package that can be rev'd to 2.0 without having to rev the whole API, and would not interf

[2021-04-27 20:18] tigrannajaryan opened #1656 "Standardize how to record DroppedAttributeCount in protocols that have no equivalent"
For [Jaeger](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/jaeger.md) we suggest to use `otel.event.dropped_attributes_count` tag for Events (Jaeger Logs). We say nothing about how to record the value of DroppedAttributeCount for Spans.

For [Zipkin](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/tra

[2021-04-27 21:31] CeeBeeCee commented on #1298
Something to think about. If we're manually instrumenting, this is not much of an issue. We are able to read env vars or AWS tags or container ids etc or whatever before creating the Resource object and then associate with a TracerProvider. This is more of a problem with auto-instrumentation where we may not have all the attributes at start up time. Perhaps we need a little leeway here?

One thoug

[2021-04-28 00:16] bryce-b commented on #1647
The radio access technology name is rather esoteric, e.g.`WCDMA`, `HSUPA`, `CDMAx1`, etc. Categorizing them into more user friendly names is where the idea of "effective_type" comes from, e.g. `1G`, `2G`, `3G`, etc.

[2021-04-28 00:48] bryce-b commented on #1647
maybe icc? If we decide mcc & mnc are ok.

I like `*carrier.mcc`, `*carrier.mnc`, `*carrier.name`.

I'll defer to the experts on namespace, `net.host` might be a good place.

I forgot to mention one additional caveat with `effective_type` it may also be `wifi`, under which case all the other information would probably be moot.

[2021-04-28 14:23] tigrannajaryan commented on #780
Byte arrays (binary data) is also useful for log files where we don't want to interpret / don't know the encoding. See this feature request: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/3267

[2021-04-28 14:31] #1619 closed

[2021-04-29 00:57] kiranpatel11 opened #1660 "New "Context" field in Opentelemtry Log Model"
**What are you trying to achieve?**

Consider introducing _Context_ field to the Log Model. Please see below **Additional Context** for more details.

What did you expect to see?

Below field to be part of the Log Model.

| Field Name | Description |
| --- | -- |
|  Context     |  Contextual information about the execution  |

**Additional context.**

AFAIU, there are two root-level fields `Resour