[2021-08-24 07:52] cyrille-leclerc commented on #740
FYI an ecosystem of CI/CD platforms and tools is rapidly growing around propagation of Otel trace contezxt using the `TRACEPARENT` and `TRACECONTEXT` environment variables and we think we are mature enough to propose a standardisation of trace context propagation using environment variables.

Existing integrations of CI/CD tools using OpenTelemetry trace context propagation through environment var

[2021-08-24 16:22] pmm-sumo commented on #1875
@bogdandrutu as an example case, consider following log:

[code]

While this is a common format, lets assume that the parsing rule missed the timezone information and the timestamp was parsed as: `2021-08-19 11:55:15.498 UTC` (while it should have been `2021-08-19 17:55:15.498 UTC`).

If we would have receipt timestamp, its value could have been e.g. `2021-08-19 17:55:16.200 UTC`. Having such data

[2021-08-24 17:36] victlu commented on #1874
Based on SIG discussion on 8/24/2021, the guidance should be:
- An instrument should record the "Whole" value with all labels that constitute the whole be included
- Instrumenters should avoid instrumentation that would "double count" or otherwise lead to a non-sensical sum.

[2021-08-24 19:48] jmacd commented on #1874
From [Prometheus docs](https://prometheus.io/docs/practices/naming/#metric-names), this is summarized with an example that I like:

[2021-08-25 16:29] willarmiros commented on #1769
Related, we've just open-sourced our design of the X-Ray remote sampler in OpenTelemetry which uses a leaky-bucket sampler: https://docs.google.com/document/d/11V1CDr6eLoMq_3cK1bUm0GzYEyhEiI_83QEJMUFfu9g/edit?usp=sharing

[2021-08-25 16:53] yurishkuro commented on #1769
@willarmiros nice!  Looks very similar to Jaeger's remote sampler. It would be great to come up with OTEL-standard language for describing sampling policies, so that we could converge on a single solution.

[2021-08-25 16:54] jmacd commented on #1874
@cijothomas OK to resolve this issue?

[2021-08-26 18:25] jkwatson opened #1891 "Metrics SDK: define standard circuit breakers for uncollected, infinite cardinality recordings"
It is possible (perhaps even likely) that instrumentation will generate metrics with cardinality explosions. There may be backends that can handle this, so it's not necessarily an error in the instrumentation. However, it will often be a mistake in the instrumentation, and the SDK needs to include some sort of mechanism so that the the application will not die with a memory leak in this case. This

[2021-08-27 08:22] Oberon00 opened #1894 "It is unclear what the host resource describes (physical machine/VM/container)"
Nowadays an application, running directly on a bare metal machine is nearly unheard of. Often an application runs in a container that runs in some container orchestration which sometimes runs on a VM which ultimately runs on a physical machine. Bonus fact: VMs may be moved across physical machines during their lifetime.

The host resource has a quite vague description "A host is defined as a gener

[2021-08-30 12:26] mateuszrzeszutek commented on #1061
Hey,
We (Splunk) are very interested in introducing this to HTTP semantic conventions. Before I file a PR I wanted to ask one thing: why `"header-name" should be used as-is with [...] casing preserved`? HTTP headers have case-insensitive names, wouldn't it make it a bit easier on the user to have them all lowercased?

[2021-08-30 13:26] Oberon00 commented on #1061
I simply suggested what is most information-preserving. If you lowercase everything, it may be simpler but it loses information.
I would rather do such normalization (lowercasing) on the backend/collector if desired.

While HTTP headers ought to be case-insensitive, there might be issues with hashing/signing or bad server implementations that only work if the headers use canonical casing. Since on

[2021-08-30 14:10] mateuszrzeszutek commented on #1061
Got it -- that makes sense, thanks for the explanation!

[2021-08-30 14:37] pavolloffay commented on #1061
Lowercasing works as well, we have actually added lowercasing to all our agents.

I agree that agents can capture data in the original form and lowercasing can be done in the ingestion pipeline (e.g. collector). I am not sure if OTEL collector can easily change attribute keys - with no perf impact.

[2021-08-30 15:37] yurishkuro commented on #1061
I'd say they should be string arrays if the instrumentation has access to them in such form. If it only has access to comma-separated string, perhaps just output as a single string?

[2021-08-30 15:39] yurishkuro commented on #1061
another option would be to use nested structures

[2021-08-30 16:00] mateuszrzeszutek commented on #1061
What do you mean by "nested structures"?

The type would still be `string[]`, but if instrumentation does not have access to the list/array of header values it just sets a single-item array -- did I understood that correctly?

[2021-08-30 16:11] #1797 closed

[2021-08-30 16:12] Oberon00 commented on #1061
Theoretically allowing both strings and string arrays shouldn't be a problem but in practice it is, because some SIGs, e.g. Java, have types encoded in their generated semantic conventions, and "union types" pose a problem. That's also the reason we have both process.command_line (string) and process.command_args (string array), see #831.

[2021-08-30 16:15] Oberon00 commented on #1061
These are only allowed for log attributes, not tracing or metrics.

[2021-08-30 16:19] yurishkuro commented on #1061
I understand why for metrics, but for traces this does not sound like a reasonable or necessary restriction.

[2021-08-30 16:26] Oberon00 commented on #1061
Since the choice between nesting vs encoding in the name is more of a detail for the issue at hand, let's keep further discussion on allowing nested structures to https://github.com/open-telemetry/opentelemetry-specification/issues/376

[2021-08-30 16:32] yurishkuro commented on #376
This issue is missing specific use cases / requirements. Here's one: capturing all http headers of a request.

[2021-08-30 22:15] #1693 closed

[2021-08-31 07:25] aaron-ai opened #1900 "Add specific attributes for Apache RocketMQ"
Hi, I am a contributor of apache rocketmq, which would using opentelemetry for tracing recently. As a popular messaging system, we wish the specified attributes of rocketmq could be added to the opentelemetry specification.

We may start a new pull request recently about this issue, is there anything that I should pay extra attention to?

[2021-08-31 08:32] arminru commented on #1900
Hey @aaron-ai! Thanks for reaching out. A concrete PR would serve as a good place for discussing the individual attributes for sure.
Note that there is also a working group forming around instrumentation for messaging systems (https://github.com/open-telemetry/community/issues/805, see https://github.com/open-telemetry/community#special-interest-groups for the meetings). You might want to join the

[2021-08-31 12:55] carlosalberto opened #1901 "Add OTEL_SERVICE_VERSION"
Similarly to OTEL_SERVICE_NAME, I was wondering if we _could_ add this one as well (for context, we at Lightstep leverage this and currently have to use our own custom env var).

I do remember a conversation back in the day (I think @bogdandrutu and @Oberon00 chimed in) when it came to what made `OTEL_SERVICE_NAME` special, and its siblings not (service namespace, service version). Happy to discus

[2021-08-31 21:14] jack-berg opened #1902 "Support summary aggregation type for metrics"
**What are you trying to achieve?**

Summary aggregations are mentioned in the [metrics data model](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#summary-legacy) anad the [opentelemetry protos](https://github.com/open-telemetry/opentelemetry-proto/blob/v0.9.0/opentelemetry/proto/metrics/v1/metrics.proto#L274-L276) but [are not listed](ht

[2021-09-02 06:13] aaron-ai opened #1903 "Confused with SpanKind of Producer."
I saw the span kind of producer was defined:

AFAIK, most of sending action of messaging system is synchronous, therefore which kind of span should be defined as producer ?

Thx.

[2021-09-02 07:10] Oberon00 commented on #1903
The meaning of this spec statement is that client should be used if the sender waits for a response from some recipient of the message, not some return value of the send function (which may asynchronous or synchronous). I was under the impression that many messages are sent in a "fire-and-forget" fashion.

[2021-09-02 07:22] #1903 closed

[2021-09-02 16:23] aaron-ai commented on #1306
'attempt' or 'attempt_times' may be better, 'retry_count' is ambiguous in my opinion.

[2021-09-03 00:02] reyang commented on #1432
We've discussed this during the [9/2/2021 Metrics SIG meeting]() and decided to move this out of the initial metrics spec release scope.
This can be supported with https://github.com/open-telemetry/opentelemetry-specification/pull/1888#discussion_r696353281.

[2021-09-03 00:03] #1260 closed

[2021-09-03 00:06] reyang commented on #1798
We've discussed this during the [Metrics SIG meetings](https://docs.google.com/document/d/1pdvPeKjA8v8w_fGKAN68JjWBmVJtPCpqdi9IZrd6eEo/edit#) and decided to move "base 2 exponential histogram" out of the initial stable release scope (which means the metrics SDK spec stable release won't be blocked on base 2 exponential histogram, if we can catch the feature-freeze train we might be able to take it

[2021-09-03 00:07] reyang commented on #1798
@jsuereth I guess this can be closed? Please confirm.

[2021-09-03 05:26] bogdandrutu commented on #1872
@carlosalberto indeed SHOULD-NOT, but if it comes empty what should the receiver do?

[2021-09-03 17:26] timcosta commented on #1793
@carlosalberto any thoughts on this? The inconsistent typing of this field causes issues when delivering to elasticsearch in certain scenarios because sometimes we see this field as an int and sometimes as a string.

[2021-09-06 14:33] arminru opened #1906 "How to map the Meter name in non-OTLP exporters?"
In the [Tracing SDK spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/non-otlp.md#instrumentationlibrary) we have specified the following mapping for the [Tracer name and version](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#get-a-tracer) (= InstrumentationLibrary name/version) for n

[2021-09-06 16:15] pierDipi commented on #1809
Hi, any update on this issue?
We're interested in https://github.com/open-telemetry/opentelemetry-java/pull/3366.

[2021-09-07 03:55] Blacksmoke16 opened #1907 "Capture request/response media type"
**What are you trying to achieve?**

Capture media type information for a request/response.

**Additional context.**

Currently the semantic conventions for HTTP spans do not include any attributes related to the media type of the request/response. This makes it impossible to distinguish a request of one type from another of a different type to the same endpoint without manual instrumentation. E.g

[2021-09-07 06:16] jamesmoessis opened #1908 "User feedback for the semantic convention"
During the 2021-08-31 instrumentation SIG, @tedsuo asked me to provide feedback on the semantic convention from an Atlassian perspective. We have been using and implementing the semantic convention for over 6 months now. Here are a few pieces of feedback we have for it.

## Problem 1

The Semantic Convention seems flooded with specific details about technologies that aren’t relevant for the vast m

[2021-09-07 07:29] Oberon00 commented on #1907
Would it be enough for you to represent this as `http.(request|response).header.Content-Type`? There is a PR open for HTTP header capturing and content-type is actually even the used example, see #1898.

[2021-09-07 12:00] Oberon00 commented on #1907
If we already have header capturing we should try to fulfill this use case as well. I would prefer not having to define a new semantic convention for every header. But I agree that the current header proposal may be insufficient.

[2021-09-07 12:16] Oberon00 commented on #1906
I think this old discussion is related: #434

[2021-09-07 12:53] Blacksmoke16 commented on #1907
@Oberon00 My thought with that is if you're searching for that value wouldn't that treat `application/json` and `application/json; charset=UTF-8` as separate values?

[2021-09-07 13:27] Oberon00 commented on #1907
That is true. But I don't think instrumentations should start parsing HTTP header values. This should rather be done on the backend. I wonder if OpenTelemetry should define semantic conventions for such a use case nonetheless

[2021-09-07 16:40] Oberon00 commented on #1908
The set of routes should be bounded by the application code, so while there may be quite a few routes, at least it should not depend on what input data you get, etc.
Regarding the key operations/cost, this sounds more like a Lightstep problem. Or would it help if we prefixed the routes with the usual "HTTP GET"?

[2021-09-07 16:42] Oberon00 commented on #1908
Do you think separating/removing the query string would help? The path part of the URL can just as well contain sensitive information. I agree that this is a topic that is not adequately addressed in the OpenTelemetry spec yet. Probably there should to be an option to omit the URL (instead setting maybe just http.host) or running a regex-replace over it.

[2021-09-07 16:44] Oberon00 commented on #1908
For database, there is not really much of a "core". There is SQL and then there are all the other DBs were it is not obvious how to fill in anything. Separating out technologies into separate documents could still be reasonable.

[2021-09-07 16:56] Blacksmoke16 commented on #1907
@Oberon00 That's fair. Some backends have the ability to create derived columns which could be a good way to handle it. I.e. regex match out the charset and stuff from the singular `http.headers.content-type` header.

This is also similar to https://github.com/open-telemetry/opentelemetry-specification/issues/640 as the majority of that usecase could also be solved via `http.headers.content-length

[2021-09-07 19:18] #1845 closed

[2021-09-08 00:18] pyohannes commented on #1908
One advantage of this would be that the document status can be defined with more granularity. For example, general database semantic conventions could be stable, while Cassandra convents could still be experimental.

This might make it easier to add experimental conventions for specific technologies (I assume approvers will be more strict when it comes to extend documents in a stable status).

[2021-09-08 00:21] pyohannes commented on #1908
I think it boils down to defining [versioning and stability guidelines for semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/versioning-and-stability.md#not-defined-semantic-conventions-stability), and then to bring semantic convention documents to a stable state (and thus make them subject to those stability guidelines).

[2021-09-08 01:58] hstan commented on #1908
The set of routes is bounded by the application code, that's correct. However, in a large organisation which has thousands of services/applications and new services get created every day, it gets uncontrollable.

It would definitely help if we can have this case considered in the guideline and use a more generic span name e.g. "HTTP GET"

[2021-09-08 02:08] hstan commented on #1908
Removing any dynamic part in the URL is what we think would help and what we're applying now. e.g. `https://example.com/users/1002/pages?a=b&c=d` becomes `https://example.com/users/{userID}/pages?a=&b=`

[2021-09-08 07:09] Oberon00 commented on #1908
Isn't that the same as disabling `http.url` and just capturing `http.route`?

[2021-09-08 07:10] Oberon00 commented on #1908
I can see how this would help reduce your Lightstep costs, but generally I believe the current semantic convention is more useful as default. A configuration option to use the generic name could make sense though.

[2021-09-08 15:12] yurishkuro commented on #1908
Wouldn't they count "key operations" as service+operation combinations? Counting just the endpoint name seems very odd.

[2021-09-08 17:54] chalin opened #1909 "Drop schema 1.6.0"
As was done on the website side via https://github.com/open-telemetry/opentelemetry.io/pull/695.

Specifically, see https://github.com/open-telemetry/opentelemetry.io/pull/695#discussion_r703677865, where @tigrannajaryan wrote:

/cc @austinlparker

[2021-09-08 21:05] jack-berg commented on #1902
Clarifying this request, I'm looking for some way to represent a min, max, sum, count aggregation.

We discussed this in the metrics 9/2 metrics SIG and proposed using a 0 bucket histogram, extended with optional min and max fields, to represent this situation.

An old PR on [opentelemetry-proto](https://github.com/open-telemetry/opentelemetry-proto/pull/279) has been re-opened to propose the nece

[2021-09-09 00:11] hstan commented on #1908
That's correct, in our code we ended up setting `http.url`'s value same as `http.route`

[2021-09-09 02:24] #1909 closed

[2021-09-09 04:21] jamesmoessis commented on #1908
Ok, after the points made, I'm willing to accept that the HTTP route is reasonable as a span name. The spec does state to use "HTTP {METHOD_NAME}" as a backup, if the route isn't known by the instrumentation. I think that's reasonable too, and those with cardinality concerns should employ that.

[2021-09-09 04:26] jamesmoessis commented on #1908
With regards to separating out technologies from core sections of the semconv: it seems there is interest in this.

Thanks @pyohannes, that's a great point that I didn't even think of initially. It could help the semantic convention towards being stable.

If anyone can think of why we _wouldn't_ do this, hearing any counterpoints would be good.

To get something like this merged, would it need an

[2021-09-09 04:30] yurishkuro commented on #1908
OTEPs are for new features, just for refactoring existing conventions I'd go directly to a PR.

[2021-09-09 16:30] azdagron commented on #1652
This sounds like a great idea!

One data point for considering SANs as candidates is that SANs (specifically the URI SAN) are used to convey service identity for [SPIFFE](https://spiffe.io/) empowered workloads. SPIFFE (a CNCF incubation project) is a set of specifications all about how to encode, distribute, and validate service identities. The [SPIFFE ID](https://github.com/spiffe/spiffe/blob/ma

[2021-09-09 18:59] reyang commented on #1348
Fixed by #1864.

[2021-09-09 18:59] #1348 closed

[2021-09-09 19:02] reyang commented on #1902
Discussed more during the [9/9/2021 Metrics SIG meeting](https://docs.google.com/document/d/1pdvPeKjA8v8w_fGKAN68JjWBmVJtPCpqdi9IZrd6eEo/edit#):

1. The OpenTelemetry clients won't implement Summary. Summary only exists in the Data Model and OTLP for Prometheus compatibility (so OTLP can represent Prometheus data without having to drop them).
2. Min/Max is a good fit for Histogram.
3. Suggested th

[2021-09-09 20:32] lmolkova commented on #1908
what's the benefit of having a route in both: span name and attribute?
Can we simplify spec, API, and instrumetnation by keeping route in attribute and then all HTTP span names would be `HTTP {METHOD}`?

[2021-09-09 20:58] svrnm commented on #1652
Hi @azdagron, thanks for adding in your expertise. As you can see from my stalled PR (due to my PTO) I am not an expert on that topic myself and as @Oberon00 commented correctly (https://github.com/open-telemetry/opentelemetry-specification/pull/1854#issuecomment-896065323) we would need Someone with more domain knowledge to help out.

To be honest my knowledge about SPIFFE is even more limited bu

[2021-09-10 08:19] bogdandrutu commented on #780
Would be also useful to determine how to convert this to "string", should we use base64?

[2021-09-10 11:40] mateuszrzeszutek commented on #376
I have a couple of questions/observations regarding the HTTP headers use case:

1. If we allow adding nested structures/maps to `Attributes`, what type should the attribute key represent? Also `Attributes`? E.g. in Java `AttributeKey<Attributes> attributesKey(String key)` would be the factory method
2. How do we serialize nested structures in non-OTLP formats? Currently in Jaeger & Zipkin exporter

[2021-09-10 12:12] Oberon00 commented on #1700
@carlosalberto Sorry, this issue slipped through my notifications:

Not sure. It means that users cannot combine `recordException` with spans using a different schema. Except if that schema somehow tracks the exception attributes...

[2021-09-10 12:14] Oberon00 commented on #764
I think this issue needs to picked up again, if we want to get semantic conventions stable.

[2021-09-10 20:01] aabmass opened #1918 "Reword metrics spec to clarify what "client" means"
In both the metrics API and SDK specs, I see a mix of "[the API](https://github.com/open-telemetry/opentelemetry-specification/blob/09944db81a980b40e25b3d1bfd247b30596272da/specification/metrics/api.md#:~:text=Thus%2C%20the%20API%20SHOULD%20provide%20a%20way%20to%20set/register%20and%20access%20a%20global%20default%20MeterProvider)", "[the client](https://github.com/open-telemetry/opentelemetry-sp

[2021-09-10 22:38] reyang commented on #1798
@jsuereth I think this can be marked as done, I'll close it now. If there are still remaining items, feel free to reopen it.

[2021-09-10 22:38] #1798 closed

[2021-09-13 10:30] iNikem commented on #1908
Some (most?) backends use span name as a basis for trace grouping/aggregation. Downgrading them to just "HTTP GET" will be a significant loss of functionality.

[2021-09-13 15:37] Aneurysm9 commented on #1908
Many tracing tools present the span name for many spans simultaneously in a waterfall view, but none of the attributes,  In this view having slightly more information than simply `HTTP {METHOD}` can be useful to quickly gain an overview of what the trace represents.

[2021-09-13 15:44] Oberon00 commented on #1908
Also, the span name is meant as potential sampling key, e.g. it is currently sensible to rate-limit per span name.

The purpose of the span name was discussed extensively in https://github.com/open-telemetry/opentelemetry-specification/issues/557 and related PRs.

[2021-09-13 16:20] yurishkuro commented on #1908
@Oberon00 do you think those discussions have not been translated into the spec itself? I don't expect people to never ask the same question "why span name is this way", but ideally we should be able to point to an explanation in the spec itself, rather than to long discussions in closed tickets / PRs.

[2021-09-13 17:50] lmolkova commented on #620
Adding a new use-case:
- Native instrumentations don't even know if SDK is present and configured

this implies a hint for instrumentation to know if the tracer is operational at all, regardless of sampler.

[2021-09-14 02:58] jsuereth commented on #1906
Metric exporters suffer more greatly from limited attribute labels vs. tracing.

If we specify that this CAN be reported, it's ok.  If we specify it MUST be reported, we're causing problems for our users.

[2021-09-14 10:36] blumamir opened #1920 "otlp default endpoint port for http is different from collector receiver default"
[According to the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#configuration-options), the default value for `Endpoint (OTLP/HTTP)` is `https://localhost:4317`, However, [the collector default listening port for otlp over HTTP is 4318](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/otlpreceiver#gettin

[2021-09-14 11:10] #1878 closed

[2021-09-14 12:19] Oberon00 commented on #1920
It seems like this is a recurring problem, we had a similar issue in #1816.
CC @tigrannajaryan

[2021-09-14 13:59] tigrannajaryan commented on #1920
This is an unfortunate result of moving back and forth on the decision to have a single port or 2 separate ports. Collector currently has 2 ports but there is a draft PR which tries to combine them according to the spec.

We can change change the spec to match the reality for now and then if we are able to merge the ports in the Collector amend the spec again. The SDKs are/will likely use differen

[2021-09-14 14:26] carlosalberto commented on #1920
As we have mentioned, at Lightstep we had a few problems using a single port for such functionality, and I'd rather have a unified port as a _feature_ (if the prototype proves it's all good). That would be a rather conservative position, but probably it's a good position at this time.

[2021-09-14 15:31] reyang commented on #1116
The Metrics SDK has changed a lot and the processor that takes raw measurements will not be part of the scope for the initial stable release.

[2021-09-14 15:31] #1116 closed

[2021-09-14 15:58] reyang commented on #1918
@aabmass I suggest that we align with "OpenTelemetry client authors".

[2021-09-14 16:11] jmacd commented on #982
The metrics SDK specification reads "select the best Histogram Aggregation available":

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#histogram-aggregation

[2021-09-14 16:11] #982 closed

[2021-09-14 19:31] lmolkova commented on #1908
it can be done using `http.route`. Exporters can change span names if their backends require names to have routes.

I think the argument here is backcompat, but the current HTTP spec is experimental and we have a chance to make it non-redundant and simple now or it never going to happen.

I'd propose to have a principle around conventions stabilization:
- as long as exporters/back-compat-span-proc

[2021-09-14 20:13] lmolkova commented on #1908
since there is no way to unify all backends and make them literally repeat OTel conventions, let's separate OTel conventions and how they appear in UX.
It sounds like each convention would have its own set of grouping keys (more than one) or what backends show on the gantt chart row. Reading through related issues, I don't see much consensus around this.
Separation between  OTel and backend format

[2021-09-14 21:11] aabmass commented on #1918
@reyang do you mean changing "the client" and "individual language client" to "OpenTelemetry client authors"? I personally like "the API"/"the SDK" the most. It is the most clear to me, highlights the different responsibilities of API vs SDK, and is the most widely used in the tracing spec.

[2021-09-14 22:56] #1879 closed

[2021-09-15 00:16] tigrannajaryan commented on #1875
Sorry for posting this late. We discussed this in last SIG meeting but the discussion was not captured anywhere.

I think adding a second timestamp field can be justified if we have a strong evidence that it will be populated in significant portion of cases. I am not certain that is going to be the case. Also, it is possible to imagine more than 2 types of timestamps. Are we going to add all those

[2021-09-15 00:21] tigrannajaryan commented on #1868
@zenmoto @jkwatson this is related to the topic we discussed in Slack.

I don't immediately see why we cannot use https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/exceptions.md to represent exceptions in Log Records.

[2021-09-15 00:25] zenmoto commented on #1868
I think we had discussed this at one point, and I don't see any problem with it. We probably just need a pointer somewhere to find this from the logs documentation so it's discoverable.

[2021-09-15 00:32] tigrannajaryan commented on #1868
@GrahamLea the mapping for Elastic was provided by Elastic folks and if I remember correctly it was written before we had conventions for exceptions (I may be wrong).

If logs decide to adopt the existing exception representation convention for traces then the mapping may be adjusted to reflect that. However, this is a non-trivial matter. We are essentially talking about mapping one telemetry sche

[2021-09-15 00:39] tigrannajaryan commented on #1793
The severity_number field in the Protobuf is an enum, which is an integer. What do you mean by "maps a string to a number"? It is an integer number in the [0..24] range. The enum merely gives symbolic names to each level.

This simply wants to say that if you happen to have a log record where severity is also a number, but the meaning of the numbers is different then the number needs to be mapped

[2021-09-15 00:41] tigrannajaryan commented on #1793
I am confused. This should never be necessary to do. If you receive OTLP data the severity_number field will be a number (an enum). If you send OTLP data the severity_number field will be a number. Why do you need to parse anything?

[2021-09-15 02:53] Div95 commented on #740
Hi, we have developed a propagator that will help propagate trace/baggage details across processes using environment variable as the carrier. It supports different formats for the trace details (b3/w3c/ some custom format).

I am author of  https://github.com/Div95/opentelemetry-python/tree/feature/env_propagator/propagator/opentelemetry-propagator-env which has this solution in Python language.
W

[2021-09-15 07:36] pmm-sumo commented on #1875
I believe that it depends on the log source. I have prepared a summary below. `ReceiptTimestamp` would come largely from file receiver whenever there's a chance that timestamp might be not accurately determined (the parsed value could be empty or incorrect)

|                                                                   | Timestamp | ReceiptTimestamp |
|---------------------------------------

[2021-09-15 09:17] bogdandrutu commented on #376
That is a very Java specific problem and the Java SIG should reach consensus.

JSON is the simplest way. I think we should not enter the business of flattening. Also each protocol can define their ways of doing this, we care mostly about Jaeger and Zipkin.

They will continue to not be allowed for the moment

[2021-09-15 09:21] Oberon00 commented on #376
I don't think this is Java-specific at all. This is a problem for all SIGs that want to strongly type their attributes and also for the semantic convention generator. What should the type of the attribute be declared as? a `map<string, string>` do we need arbitrary nesting or just maps from atomic primitive to atomic primitive or array thereof?

I think we need to understand that while allowing ma

[2021-09-15 13:25] arminru opened #1924 "Semantic convention for name and version of the instrumented library"
In #1904 the span attribute `messaging.rocketmq.version` was proposed to report the version of the RocketMQ client library being used for producing or consuming a message.
Would it make sense to have generic attributes for the name and version of the instrumented library instead?

The instrumentation library is already reported via the tracer or meter name. See https://github.com/open-telemetry/op

[2021-09-15 13:30] Oberon00 opened #1925 "Reading semantic convention tables is cumbersome"
(This has to be implemented in https://github.com/open-telemetry/build-tools/tree/main/semantic-conventions but affects mostly the spec and needs discussion, so opening issue here)

The current presentation of the semantic convention attribute tables has a few problems:

1. Some tables are too wide so you need horizontal scrolling. If the table is also very long, this becomes very awkward since yo

[2021-09-15 14:32] mateuszrzeszutek commented on #376
Exactly - for the HTTP headers sue case the desired type would be `map<string, string[]>`, but what about other uses? Should we have to add `map<string, string>` too? Or `map<string, ?>`, `map<int, string>` etc. Or just say that we support nesting `Attributes` (which is sort of a map) inside `Attributes`.

So the question here is: is it really worthwhile to introduce map-valued/nested attributes?

[2021-09-15 15:03] tigrannajaryan opened #1927 "Add support to rename attribute values in Schemas"
Telemetry Schemas currently allow defining attribute name changes as a transformation. However attribute value changes are impossible to express as a transformation.

Here is an example when it is necessary to express (values were renamed from upper case to lower case):
https://github.com/open-telemetry/opentelemetry-specification/pull/1863/files#diff-c7bcccc34bad9d32f43567bdee7118313af68ab4d33554

[2021-09-15 15:05] tigrannajaryan commented on #1927
FYI, @Oberon00

[2021-09-15 15:06] tigrannajaryan commented on #1660
Closing since no further arguments provided.

[2021-09-15 15:06] #1660 closed

[2021-09-15 15:11] tigrannajaryan commented on #376
FYI, OTLP and Collector define the `attributes` field as `map<string,AnyValue>`, where `AnyValue` is one of the supported value types, including a map, so it is a recursive definition.

No changes are needed in the Collector, it is already fully supported.

[2021-09-15 15:20] Oberon00 commented on #376
How does the collector handling a nested map to Jaeger / Zipkin? Does it already JSON-encode?

[2021-09-15 15:35] tigrannajaryan commented on #1885
OTLP/HTTP is slightly more CPU efficient than OTLP/gRCP so it may be preferable. However, it may be that most SDKs implement OTLP/gRCP already, but not OTLP/HTTP so making OTLP/HTTP may not work.

This likely needs a discussion in Maintainers meeting. Adding to the next week's agenda.

[2021-09-15 15:38] arminru commented on #1906
@jsuereth Making the name a SHOULD or CAN is fine with me. For the version we could add some guidance that it might be unnecessary in most situations but still define the attribute key so it's used consistently in case someone decides to report it.

[2021-09-15 15:52] tigrannajaryan commented on #376
From what I understand AS X-Ray does: https://docs.aws.amazon.com/xray/latest/devguide/xray-concepts.html#xray-concepts-annotations

From the above link:

[2021-09-15 15:55] tigrannajaryan commented on #376
Yes. Jaeger translation [calls AsString()](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/0d78df6b0455fd685cf6d9dcb654986e7de7ac86/pkg/translator/jaeger/traces_to_jaegerproto.go#L160) which [converts maps and arrays](https://github.com/open-telemetry/opentelemetry-collector/blob/27d80d1391617cf20b990417eaf5e793c9bc74bd/model/pdata/common.go#L401) to JSON string.

I didn't c

[2021-09-15 15:57] jmacd commented on #1844
People use "Sampler" to describe a standard mechanism for selecting which spans will be reported. People use "View" to describe a standard mechanism for selecting which metrics will be reported.
These usages are nearly identical.

[2021-09-15 16:18] jmacd opened #1929 "Need for a trace data model specification"
**What are you trying to achieve?**

The metrics and logs signals contain a file that describes the data model independent of the OTLP protocol. This is a place where we describe details that are too complex to put in a simple comment, providing a reference manual for use of the data.

The developing specification for probability sampling requires additions to the trace data model, and there is no

[2021-09-15 16:19] jmacd commented on #1929
https://github.com/open-telemetry/oteps/pull/175 adds proposed text to add to such a specification.

[2021-09-15 16:28] yurishkuro commented on #1929
+1

[2021-09-15 16:53] yurishkuro commented on #1925
How important is it to even have the table? Looking at the examples you provided, not only do you need to scroll the table, but the formatting is also 80% whitespace. A bullet-list format would've been more compact:
* Attribute: `messaging.system`
* Type: `string`
* Required: Yes
* Description: A string identifying the messaging system.
* Examples: `kafka; rabbitmq; activemq; AmazonSQS`

And it al

[2021-09-15 17:21] jmacd commented on #1844
After reading @iNikem's comment on https://github.com/open-telemetry/oteps/pull/175, I will take a stronger position here.

The term "non-probability sampler" is an oxymoron. Outside of OpenTelemetry, "Sampling" refers to a statistical process used to estimate something, and if there aren't probabilities involved, what you have may be called "Subjective analysis".

We are stuck with the term "Samp

[2021-09-15 18:32] djaglowski commented on #1875
I am in favor of adding `ReceiptTimestamp` as a top level field on the log data model, but I propose the following:
- OTel components should _generally_ consider both `Timestamp` and `ReceiptTimestamp` to be immutable.
- `ReceiptTimestamp` is required. It should represent the first time that an OTel component interacted with the log.
- `Timestamp` is optional. It may be initialized by a first-part

[2021-09-16 17:55] reyang commented on #1918
@aabmass I've created a PR #1930 combining the ideas from the discussion here. Please help to review.

[2021-09-16 20:24] aabmass commented on #1034
@Oberon00 @anuraaga any updates on this issue? Looking at what we have in the Python SDK right now, the default behavior violates the requirement that "`service.namespace,service.name,service.instance.id` triplet MUST be globally unique".

We are prototyping metrics and this presents the problem that multiple instances of a service are likely to violate the [single-writer requirement](https://gith

[2021-09-16 20:40] tigrannajaryan opened #1931 "Standardize the name of logging/stdout exporter"
Different SDK and Collector use different names for the exporter which writes to stdout:

- Go: [stdout](https://github.com/open-telemetry/opentelemetry-go/tree/main/exporters/stdout)
- Java: [logging](https://github.com/open-telemetry/opentelemetry-java/tree/main/exporters/logging)
- .Net: [console](https://github.com/open-telemetry/opentelemetry-dotnet/tree/main/src/OpenTelemetry.Exporter.Consol

[2021-09-16 21:06] jkwatson commented on #1931
Just FYI, Java has 2 "logging" exporters. One that is purely for lightweight debugging (and doesn't contain full span data) and one that logs full OTLP json.

[2021-09-16 21:18] yurishkuro commented on #1931
@tigrannajaryan to me there is a difference between stdout/console and "logging", as the latter is an abstraction layer with stdout being one of the possible implementations. E.g. in Jaeger SDKs we have "logging reporter" in all languages, but those are not even true "exporters" because all they do is log some readable string about spans (name, id), not the complete span data.

This is clearly und

[2021-09-16 21:19] jmacd opened #1932 "Specify data model details for ExponentialHistogram"
**What are you trying to achieve?**

The metrics protocol is about to add a new data point type, `ExponentialHistogram`. The protocol PR specified in https://github.com/open-telemetry/opentelemetry-proto/pull/322 is able to express certain combinations of data that are unreasonable or have no practical use at this time and implementations are not expected to support all inputs. Details of this sor

[2021-09-16 22:11] pellared commented on #1931
What about `text` exporter? Then it can be configurable to use different streams e.g. `stdout`, `stderr` or `file`. By default it could be `stdout`.

[2021-09-16 22:17] yurishkuro commented on #1931
@pellared I think my questions are:
  * is is a true lossless exporter or a debugging facility like Jagger's [Logging Reporter][1] ?
  * if it's a lossless exporter, what format of "text" does it print? If it prints "JSON" then why not call it "JSON exporter"?

[1]: https://github.com/jaegertracing/jaeger-client-go/blob/7aa7af5fd0410a778e14e0a50d062ce4f7cb9e73/reporter.go#L71

[2021-09-16 22:21] pellared commented on #1931
- AFAIK it is a is is a true lossless exporter everywhere.
- How about making the formatting/serialization configurable? By default, it could be JSON 👍

[2021-09-16 23:10] jkwatson commented on #1931
In java, we would definitely want to use the standard `java.util.logging` APIs to implement this (as we are), and it has it's own configuration mechanisms for formatting and output which I wouldn't want to have to reinvent.

[2021-09-17 00:28] tigrannajaryan commented on #1931
It is NOT lossless in Collector. Collector also has `file` exporter which is lossless and exports OTP/JSON.

So, it seems like we want to clearly differentiate 2 exporters:
- For debugging purposes. Output is designed to be human readable. No requirement to be lossless and machine parseable. Possible name candidates: `logging`, `debug`, `console` perhaps?
- For storage, transmission, etc. Output m

[2021-09-17 00:30] tigrannajaryan commented on #1931
Same in Collector. `logging` exporter is human-readable, level of details is configurable and no guarantees that the data is represented in lossless format. `file` exporter is strictly OTLP/JSON text.

[2021-09-17 00:33] tigrannajaryan commented on #1931
I think this open issue should resolve that: https://github.com/open-telemetry/opentelemetry-specification/issues/1443

[2021-09-17 04:57] reyang commented on #665
Discussed during [09/14/2021 #199 Metrics SIG at 9am PT](https://docs.google.com/document/d/1pdvPeKjA8v8w_fGKAN68JjWBmVJtPCpqdi9IZrd6eEo/edit#heading=h.vfv577dkygze) and concluded that we will not cover this before the initial Stable release.
It can be a nice-to-have feature after the initial Stable release.

[2021-09-17 08:05] Oberon00 commented on #1034
I don't really have much stake in this issue. I think it would be best if you create a PR if you have an actual use case.

[2021-09-17 12:32] mateuszrzeszutek commented on #376
It's worth noting that AWS Metadata are not indexed/searchable:

If you don't want to search by specific metadata values and just treat the whole object as one, indivisible entity then you might as well just serialize them to JSON and put them all into a string attribute; there's no real need to have a nested structure of attributes for them.

[2021-09-17 15:22] carlosalberto commented on #1920
@tigrannajaryan any though after it was mentioned that https://github.com/open-telemetry/opentelemetry-collector/pull/3765 may not receive enough iterations in the near future?

[2021-09-17 16:30] jmacd opened #1936 "Call out the behavior of Inf and NaN values for the metrics API"
**What are you trying to achieve?**

What should happen when a user passes Inf and NaN values to the API? Does it depend on which kind of instrument you're using?

Prometheus allows NaN values, but being "not a number" qualifies them, in my opinion, to be excluded. Infinite values are problematic for different reasons. Gauges might allow any of these, but Counters and Histograms can't work with ei

[2021-09-17 16:59] tigrannajaryan commented on #376
I can see a few exporters (in addition to X-ray) in the Collector which treat the nested like maps instead of flattening or converting to JSON or strings, so supposedly their corresponding backends support nested structures. I think this issue requires more feedback from vendors before we decide what to do about it.

[2021-09-17 17:35] #1918 closed

[2021-09-17 18:17] carlosalberto opened #1937 "gzip compression support in OTLP receivers"
After discussing #1895 during this week's Spec SIG call, we realized JS/mobile platforms truly require gzip compression by default.

So we have the following options when it comes to the OTLP receivers:

A) OTLP receivers (gRPC, http/protobuf, http/json) MUST handle the officially supported compression formats (gzip only at this moment).
B) OTLP receivers MAY support compression (only gzip at this

[2021-09-17 19:03] tigrannajaryan commented on #1937
I am not sure I understand why we have both A and B. It seems like it should be either MUST or MAY, it cannot be both.

[2021-09-18 08:40] iNikem commented on #1844
Thank you @jmacd for this explanation, I now understand current landscape much better.

I can agree with your suggestion that non-probabilistic samplers don't need to be composed and my problem of span "filtering" can be solved with one exhaustive Sampler. This approach will resolve this current issue. @anuraaga, taking this into account, should we change https://github.com/open-telemetry/opentele

[2021-09-20 16:24] mtwo commented on #1885
From the maintainers call: general agreement that gRPC should generally be the default on each artifact, unless the HTTP implementation is substantially better on that artifact. Most maintainers in the call were already following this pattern.

[2021-09-20 16:26] mtwo commented on #1931
From the maintainers call: general agreement that this name should **not** be standardized across languages, as the names that developers expect are different across languages (C++ devs will expect 'cout', while .Net devs will expect "system.console").

However, we should also be careful that we distinguish between logs for debugging purposes (writing traces, metrics, etc. as logs to disk), and th

[2021-09-20 20:31] andreimatei opened #1943 "want ability to pass parent info explicitly to span start"
**What are you trying to achieve?**

I would like to kindly request a change to the text of the tracing spec as to no longer prohibit the tracing API offered by different languages (Go in particular) from accepting a parent span explicitly when creating a span. Specifically, I would like the `MUST NOT` part removed from the following clause in [the spec](https://github.com/open-telemetry/opentelem

[2021-09-20 21:47] yurishkuro commented on #1943
For the record, the MUST NOT wording was introduced in #875.

[2021-09-21 05:42] GrahamLea commented on #1868
Thanks for explaining the history there, @tigrannajaryan.

For me, the correctness or otherwise of the Elastic mapping is a secondary issue. The main unmet requirement is still:

As @zenmoto suggested, if the Exceptions section of the trace Attributes semantics is acceptable, I think the logs spec having a paragraph that references that and uses the words "errors" and "exceptions" would suffice. A

[2021-09-21 06:00] GrahamLea commented on #1868
I've made the PR above that implements the suggestion if everyone's happy with the approach.

[2021-09-21 07:26] bogdandrutu opened #1947 "Change default trace-id format to be similar to AWS X-Ray (use timestamp)"
**What are you trying to achieve?**

The motivation for this change is to try to help backends/processing of trace data. If we add a "timestamp" as the first 32-bits into the generated trace-id, it will ensure that trace data (full traces) are generated (sent to the backend) in a "pseudo" order. The order cannot be guaranteed, but it is still an improvement for different backends (stores) to write

[2021-09-21 08:07] Oberon00 commented on #1947
I think the important thing is that we are on the same page on whether the left or right bytes are random or if it does not matter, for use with probability sampling. For example I think an old UUID v1 has the timestamp as first bytes and the last bytes are a static node ID. https://datatracker.ietf.org/doc/html/rfc4122#section-4.1.2 Not sure if these are still relevant though.

I think it should

[2021-09-21 09:04] oertl commented on #1947
@Oberon00 The smallest sampling rate that you can achieve with X random bits is 1/2^X. For 32 bits we have 1/2^32 = 2.3E-10. I am not 100% sure, if this limit is future-proof.

[2021-09-21 09:11] Oberon00 commented on #1947
Sorry, wrong number! If we are talking about the trace ID and only 32 bit timestamp within that, we would still have 128 - 32 = 96 random bits within that, and for sampling the 64 bit span ID is more relevant anyway which would still be fully random with this suggestion?

[2021-09-21 12:42] bogdandrutu commented on #1947
Also this is how OpenTelemetry will generate, backends should not expect that all IDs have this structure, but naturally if most of the IDs are genereting from Otel then they can benefit.

[2021-09-21 13:57] tigrannajaryan commented on #1932
@jmacd reassigning this to you since you are the expert.

[2021-09-21 14:14] tigrannajaryan opened #1948 "Improve contributing guide to clarify the workflow on issues"
We need to make it clear how the spec issues are worked on. The contributing guide currently is silent about it. We auto-assign issues to TC members but it is not clear what are the expected next steps after that.

See the comment here that raises this problem: https://github.com/open-telemetry/community/issues/837#issuecomment-923036785

I posted some preliminary thoughts on how we can approach t

[2021-09-21 14:15] tigrannajaryan commented on #1937
@carlosalberto please clarify the difference between A and B.

[2021-09-21 14:26] joaopgrassi opened #1949 "Add semantic conventions for CloudEvents"
The [CloudEvents](https://cloudevents.io/) Go SDK exposes an interface that is used by the CloudEvents client to add observability to the actions performed by it. For example: The client [invokes the observability service when sending an event](https://github.com/cloudevents/sdk-go/blob/e1371d2928c5269f7fb6b3ad4ee152edbd75cabf/v2/client/client.go#L132).

Currently, the SDK offers an implementation

[2021-09-21 14:39] tigrannajaryan commented on #1885
Here is some informal performance data for Go implementation ([benchmarks](https://github.com/tigrannajaryan/exp-otelproto/blob/master/runbenchmarks.sh) an OTLP client+server):
[code]

OTLP/HTTP is about 2x more CPU efficient for batches that contain a single span. For larger batches (>=100 spans) the difference between OTLP/HTTP and OTLP/gRPC is insignificant.

I am fine with making/keeping gRPC

[2021-09-21 14:43] tigrannajaryan commented on #1931
Based on Maintainer's SIG call I am closing this as "won't do". Feel free to reopen if you have additional arguments.

[2021-09-21 14:43] #1931 closed

[2021-09-21 14:52] tigrannajaryan commented on #1924
@arminru do you mind if I assign this to you since you already looked into it?

[2021-09-21 15:11] bogdandrutu commented on #1947
@yurishkuro happy to do an OTEP if there is interest into doing this.

As mentioned in the issue, it is hard to guarantee that the timestamp will be present and correctly set. This is a small optimization for backends that store the trace-id as a key in a backend that does better when data are "kind of sorted" like Cassandra, HBase, etc.

[2021-09-21 15:16] yurishkuro commented on #1947
I would prefer clear description / open spec for those optimizations in the OTEP. Cf. sampling OTEPs from @jmacd which honestly discuss costs/benefits, without references/implications of vendor-only "secret sauce".

[2021-09-21 15:18] tigrannajaryan opened #1952 "Add a PR check to enforce Schema file presence if a semantic convention is changed"
To ensure the Schema files correctly capture changes we make to semantic conventions I suggest that we add an automatic check that verifies that any PR that changes a semantic convention in a way that matters from Schema file perspective enforces that the Schema file change is also present (and ideally verifies that the changes match).

The only supported Schema file change is currently the renami

[2021-09-21 15:19] tigrannajaryan commented on #1952
Help is needed on this one, especially if you are familiar with build-tools that generate the semantic conventions currently.

[2021-09-21 15:20] yurishkuro commented on #1952
+1. I thought we already had that, since it was called out in the original schemas OTEP.

[2021-09-21 15:42] jmacd opened #1953 "Create metrics feature spec compliance matrix"
**What are you trying to achieve?**

https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md has a "TBD" for metrics feature compliance.

We need to fill in this table. @ocelotl has prepared a very compelling draft of this table, here:
https://github.com/open-telemetry/opentelemetry-python/discussions/2122

[2021-09-21 15:57] tigrannajaryan commented on #1947
FYI, [ULIDs](https://github.com/ulid/spec#specification) are an open standard for 128 bit globally unique ids with the first 48 bits being a timestamp and 80bits of randomness (ULIDs are implemented in most languages so should be easy to use in our SDKs):
[code]

[2021-09-21 16:06] jkwatson opened #1954 "HTTP server span naming inconsistent across languages"
We should have a more prescriptive semantic conventions for HTTP server span naming. In a brief look at 3 different languages: node, python, and java, I found disparities:

Java: `/hello`
Python: `/hello`
Node: `GET /hello`

[additional data needed for other languages...please provide]

The spec does not provide enough prescriptive guidance on this issue at the moment, leading to a possibly confus

[2021-09-21 16:39] tedsuo commented on #1947
Given that spans are guaranteed to include a timestamp field, `start_time_unix_nano `, what is the advantage of repeating this information in the trace ID? Why not configure your DB to sort by start time? This is guaranteed to work even when the trace ID is fully random, padded with zeros, etc.

I assume this is a technical limitation in Cassandra, etc, but it would be helpful to have it spelled o

[2021-09-21 18:10] #1061 closed

[2021-09-21 22:05] tigrannajaryan commented on #1952
No yet. We have a check that verifies that every release has a corresponding Schema file. But we don't yet check individual PRs that modify semantic conventions.

[2021-09-21 22:52] aidansteele commented on #740
@cyrille-leclerc you mention `TRACECONTEXT` but it looks like those tools actually use `TRACESTATE` - can you confirm if that's just a typo?

[2021-09-21 22:56] aidansteele commented on #740
Thanks to @tonistiigi in https://github.com/rakyll/go-test-trace/issues/2 I have learned that Buildkit uses `OTEL_TRACE_PARENT` and `OTEL_TRACE_STATE`. It looks like this was inspired by opentelemetry-swift using these in it's [`EnvironmentContextPropagator`](https://github.com/open-telemetry/opentelemetry-swift/blob/fdc77fdceec25e16a84bea2713ed1946796aa79e/Sources/OpenTelemetrySdk/Trace/Propagati

[2021-09-21 23:01] tonistiigi commented on #740
@aidansteele Indeed, these are exposed to every process running in Dockerfile `RUN` statement when tracing is enabled, as well as the env for otlp (forwarder) socket that is exposed to the container. Not a huge issue if we should need to switch to a different env or support both, but to my taste `OTEL_` variables look less ambiguous and more in line with the env variables already defined by the sp

[2021-09-22 02:12] anuraaga commented on #1947
This requires the DB to support secondary indexes and there is cost in maintaining those. Having a timestamp in the ID can provide some more flexibility for backends, especially to allow non-relational DBs.

For example, AFAIK object store providers generally provide a way to list objects after a certain prefix. A dirt simple ingestion backend could be implemented in probably just a few lines of c

[2021-09-22 08:41] iNikem commented on #1588
During Maintainers meeting on 20-09-2021 @jmacd expressed his opinion that we should move to configuration-time decisions of configuring SDK and/or `Tracers` with the correct `Samplers`: all decisions based on `Resources` and `InstrumentationLibraries` can be done before providing `Tracers` to the users. Thus those `Tracers` can already use `Samplers` chosen/narrowed down based on that information

[2021-09-22 08:52] anuraaga commented on #1588
Doesn't this disallow tweaking sampling rate based on resource information since the decisions would already have been completed? Cranking up the sampling rate based on resource without restarting a server is very important functionality when debugging specific services in a system and controlling sampling with a centralized config.

Though I understand that we "get back to the drawing board to ch

[2021-09-22 08:56] iNikem commented on #1588
But resources are immutable? How decisions can be changed based on immutable resources?

[2021-09-22 09:05] anuraaga commented on #1588
If you have a sampling config such as

[code]

but service1 starts having a problem, you can usually redeploy the file and read it to reconfigure the sampler

[code]

Resource indeed didn't change, but sampling rate did.

[2021-09-22 11:56] hdost commented on #691
Is this something that would occur in the API side or more likely the SDK/Exporter side. Example: https://www.jaegertracing.io/docs/1.26/sampling/

[2021-09-22 14:23] bogdandrutu commented on #1947
@tigrannajaryan that format sounds very good, would be interested to compare the both options (Xray format vs ULIDs). I would prefer to not reinvent the wheel when it comes to formats, so I think these are the two options on the table for the moment.

@tedsuo:

Did I not say that?

No it is not. There is no guarantee (unless we mark some trace flag, or trace state, or other place) that the ID has

[2021-09-22 14:33] yurishkuro commented on #1588
@anuraaga that just requires sampler to support dynamic config (as jaeger samplers do), not to reinitialize sampler with a different resource.

[2021-09-22 14:37] carlosalberto opened #1957 "Make OTLP http/json stable"
We need to finally do some work to make OTLP http/json stable. From https://github.com/open-telemetry/opentelemetry-proto/issues/230#issuecomment-775307405 we need to:

* Verify that current keys are JSON friendly.
* Ensure that we have a version header or another mechanism for receiving multiple versions of OTLP/JSON in the collector
* Agree to no longer use the deprecated delimiter in proto, as

[2021-09-22 14:57] anuraaga commented on #1588
@yurishkuro Right the sampler doesn't need to be reinitialized - but it needs access to the Resource which is what this issue is titled.

The main point is that this isn't true for dynamic updates of sampling rate.

[2021-09-22 15:08] yurishkuro commented on #1588
It CAN have access to resource upon initialization, just not at ShouldSample() calls. Dynamic updates of sampling rate do not change anything in the Resource.

[2021-09-22 17:34] rakyll commented on #740
Traceparent and Tracestate from W3C Trace Context specification are not a part of OTel. W3C Trace Context is a standalone spec, Otel is one of the implementors. If we choose to prefix things with OTEL_, it'd not be great for other instrumentation libraries that want to provide propagation via environmental variables. They will eventually came up with their own and it will fragment the space. It'd

[2021-09-22 17:39] tonistiigi commented on #740
cc @nachoBonafonte @SergeyKanzhelev (from the EnvironmentContextPropagator implementation)

[2021-09-22 17:48] tobert commented on #740
otel-cli is using `TRACEPARENT` and I've put it into a lot of code and there is a lot to be said for keeping the short name in preference to more descriptive names. It doesn't matter much for otel-cli but a really common mod I've made is adding traceparent headers to curl calls in shell scripts. otel-cli might generate the span parent then we do:

[code]

Maybe I'm too deep into this stuff and acc

[2021-09-22 18:15] yurishkuro commented on #740
They seem no more or less specific than the respective HTTP headers. @rakyll do you have some specific downsides in mind from using these as is, in accordance with the W3C spec for http headers?

On the other hand, I am not aware of any standards body that can bless the name of an environment variable.

My vote is to use TRACEPARENT and TRACESTATE, and optionally provide a config capability in the

[2021-09-22 20:12] cyrille-leclerc commented on #740
Using TRACEPARENT and TRACESTATE felt natural when we built the [Jenkins OpenTelemetry Plugin](https://plugins.jenkins.io/opentelemetry/) and the [OpenTelemetry Maven Extension](https://github.com/open-telemetry/opentelemetry-java-contrib/tree/main/maven-extension) and it seamlessly integrated with @tobert's `otel-cli`.

The integration using TRACEPARENT and TRACESTATE  was so simple and so intuit

[2021-09-23 16:35] pyohannes commented on #1949
As discussed in today's messaging WG, please add CloudEvents attributes as separate semantic convention. This way it can be utilized as an add-on for both messaging and HTTP scenarios.

[2021-09-23 17:25] rakyll commented on #740
Headers are scoped to a request, environmental variables are scoped to the environment and has a larger radius. That's where my worry is coming from.

We are using TRACEPARENT right now in go-test-trace, https://github.com/rakyll/go-test-trace/commit/22493612be320e0a01c174efe9b2252924f6dda9.

[2021-09-23 19:19] lmolkova commented on #620
And another one https://github.com/open-telemetry/oteps/pull/172:
* Span suppression for auto-instrumentation duplicates or verbose layers (e.g. http physical) suppression

[2021-09-23 23:42] jmacd commented on #620
It looks like this would need a prototype and a draft spec change to move forward.

In the linked issue #1916 I mentioned a preference for a lazy-value mechanism to support the intended performance gains. Only a Sampler that actually tries to use attributes will incur the cost of evaluating attributes before the Sampler decision.

I would begin by asking in maintainers in each language if there is

[2021-09-24 00:02] yurishkuro commented on #620
In Go capturing lazy-eval attributes incurs allocations which could cause more overhead than the savings from lazy eval.

Jaeger samplers (Go, Node.js) support deferred sampling decision where the span is recording until enough attributes are collected to definitely decide not to sample, at which point span becomes no-op. It's definitely more expensive than blind probabilistic sampling.

[2021-09-24 06:52] nachoBonafonte commented on #740
Hi, in `opentelemetry-swift` we just needed the functionality and as there was no approved spec for it we just followed the naming guidelines for other environment variables.
We thought that using a very generic name may clash with other tracing libraries or systems. Using something like W3C_TRACEPARENT was also in the list of possible names, which is both specific and clarifies what it is about.

[2021-09-24 14:12] tigrannajaryan opened #1961 "Write "how to" Guides"
As part of https://github.com/open-telemetry/community/issues/847 the TC with the help of the experienced members will write "How to" guides that explain how to submit proposals and make changes happen in the specification repo. It is currently not clear for many members who want to add to the specification how to navigate this process.

We would like to have "How to" guides to be part of our "Con

[2021-09-24 14:17] tigrannajaryan opened #1962 "Refine and describe workflow for issues"
The workflow for issues needs to be refined, expectations from all participants (author, assignee, approvers, TC) clarified.

The Contributing guide needs a more detailed description of how the issues are supposed to progress from the creation and until they are accepted or rejected.

The workflow must describe the states that each issue can be in and how the transitions from one state to another

[2021-09-24 14:21] tigrannajaryan opened #1963 "Refine and describe workflow for PRs"
The workflows for PRs need to be refined, expectations from all participants (author, assignees, reviewers, approvers, TC) clarified.

The Contributing guide needs a more detailed description of how the PRs  are supposed to progress from the creation and until they are merged or rejected.

The workflow must describe the states that each PR can be in and how the transitions from one state to anothe

[2021-09-24 14:30] tigrannajaryan opened #1964 "Declare what must be in specs and what may be in specs"
OpenTelemetry is structured to empower language maintainers to have autonomy in how to structure work, how to implement patterns and common structures in a language specific way, and how to support users the best way possible. Some patterns and practices may start as a language specific feature at first, and then be reconciled in a cross-language specification. We need to clarify what features MUS

[2021-09-24 15:09] cyrille-leclerc commented on #740
FYI Concourse CI also uses the TRACEPARENT environment variable for context propagation.

I have just submitted a PR on the Concourse CI documentation to make it clear: https://github.com/concourse/docs/pull/462

[2021-09-24 16:12] yurishkuro commented on #740
It seems we have a general consensus on using TRACEPARENT/TRACESTATE unadorned. I'd say it's safe to move to creating a PR to reflect this in the spec.

[2021-09-26 20:42] v1v commented on #740
The Opentelemetry callback plugin for Ansible also uses `TRACEPARENT` -> https://github.com/ansible-collections/community.general/pull/3378

[2021-09-27 13:43] tigrannajaryan commented on #1920
I think given that we heard using one port caused pains for others in the past and given that we do not have an existing Collector implementation that uses one port and do not have anyone with experience who can contribute an implementation that uses one port we should stop pursuing one port and go with 2 ports.
Collector already uses 2 ports, it works and is known to not have any problems. I do n

[2021-09-27 16:34] tigrannajaryan commented on #1920
I also raised this in the Maintainers meeting and did not hear any objections to my suggestion to keep the ports separate.

[2021-09-27 16:45] tigrannajaryan commented on #1920
PR submitted to split the ports in the spec: https://github.com/open-telemetry/opentelemetry-specification/pull/1970

[2021-09-27 17:30] jagdishkulkarni opened #1971 "Support Jaeger Baggage propagation headers"
**What are you trying to achieve?**
With this we expect to see backward compatibility with `Open Tracing` baggage items headers.

What did you expect to see?
Currently we just have [W3CBaggagePropagator](https://github.com/open-telemetry/opentelemetry-java/blob/main/api/all/src/main/java/io/opentelemetry/api/baggage/propagation/W3CBaggagePropagator.java). This is not compatible with [Jaeger B3Text

[2021-09-27 18:16] tigrannajaryan commented on #1885
It seems like supporting OTLP/gRPC in Ruby is not straightfoward. @fbogsany please comment here.

I am personally slightly more favour of OTLP/HTTP but it seems like other languages preferred gRPC.

If we believe it is more complicated (and undesirable) to make OTLP/gRPC the default for Ruby then we either make OTLP/HTTP the default and required for al languages (I would prefer this) or allow each

[2021-09-27 18:41] carlosalberto commented on #1971
I didn't know there was a format being the union of B3 propagation (for tracing) with Baggage (prefixed by `baggage-`, making it different to the Jaeger headers). Wondering how urgent this is, etc.

cc @yurishkuro @jpkrohling @pavolloffay

[2021-09-27 18:55] yurishkuro commented on #1971
It was added to Jaeger (https://github.com/jaegertracing/jaeger/issues/755#issuecomment-393929718), apparently because Brave/Sleuth already used `baggage-***` format, although their authors were not especially happy with it (https://github.com/openzipkin/b3-propagation/issues/22#issuecomment-391902496).

Looking at [Brave docs][1], it does not seem that `baggage-***` format is actually standardize

[2021-09-27 19:22] jagdishkulkarni commented on #1971
OpenTelemtry api currently supports sending all the baggages in single header. This feature/ specification will support sending each baggage item as separate header.

[W3CBaggagePropagator](https://github.com/open-telemetry/opentelemetry-java/blob/main/api/all/src/main/java/io/opentelemetry/api/baggage/propagation/W3CBaggagePropagator.java)

header key `baggage` and header value is `key1=value1,ke

[2021-09-27 19:24] fbogsany commented on #1885
Copied from https://github.com/open-telemetry/opentelemetry-specification/pull/1969#issuecomment-928100335

[2021-09-27 19:47] tigrannajaryan commented on #1885
@mtwo (and anybody else who was in the Maintainers call) can you please list the arguments that the Maintainers had in favour of OTLP/gRPC as the default?

There is evidence that it is difficult to implement (Ruby) and performs worse that OTLP/HTTP (see my [comment](https://github.com/open-telemetry/opentelemetry-specification/issues/1885#issuecomment-924054574)).

[2021-09-28 07:44] kumoroku commented on #1868
FWIW, catching up on the discussion just now, I agree that if there are Semantic Conventions for something in OTel, we should incorporate them for Logs. it appears as if we are all in agreement here, which is great.

@Oberon00 said that those very Semantic Conventions have been hotly debated (I did not follow this myself) and right now are marked as Experimental (although this appears to be true f

[2021-09-28 09:14] #1868 closed

[2021-09-28 13:55] Oberon00 commented on #1925
I would use one bullet-point per attribute. Using a bullet-point per field per-attribute may be too much noise. E.g. your example I would write as:

Or even more compact:

[2021-09-28 14:09] Oberon00 commented on #1885
From a theoretical perspective, gRPC needs a HTTP/2 library underneath, so technically you should be able to implement OTLP/HTTP at least everywhere where you can implement OTLP/gRPC. The opposite is not true, since there might not be a (good) gRPC implementation for your target language/framework/version.

Is there any reason why gRPC should be preferred over HTTP as a minimal requirement?

[2021-09-28 14:12] Oberon00 commented on #1885
From the [compliance matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md#exporters), it seems that C++, Rust and .NET have implemented gRPC but not HTTP. For .NET there is a open PR already (open-telemetry/opentelemetry-dotnet#2316).

[2021-09-28 14:29] Oberon00 commented on #1885
We should also be clear about OTLP/HTTP+protobuf (what I think we are talking about) vs OTLP/HTTP+JSON (what some seem to view as default for OTLP/HTTP)

[2021-09-28 15:10] TommyCpp commented on #1885
As far as I remember, we only supported OTLP/HTTP+protobuf but not OTLP/HTTP+JSON. Will update spec accordingly.

[2021-09-28 15:41] tigrannajaryan commented on #1773
### Possible Solution

I think we can do the following:
- Introduce a concept of SDK config file.
- SDK config file to have a structure that is derived from the names of env variables. Or we can do the opposite: end variable names are derived from SDK config file (the end result is the same).
- The keys in the config file will have exact correspondence (mapping) with the env var names. Ideally the

[2021-09-28 15:42] tigrannajaryan commented on #1773
@open-telemetry/specs-approvers what do you think about the [proposal](https://github.com/open-telemetry/opentelemetry-specification/issues/1773#issuecomment-929349156) above?

[2021-09-28 16:09] yurishkuro commented on #1773
+1. I would suggest that the source should be a schema expressed in some standard IDL, e.g. protobuf. From that IDL we can auto-generate the documentation for env variables.

[2021-09-28 17:09] reyang commented on #1822
Discussed during the [09/28/2021 Metrics SIG Meeting](https://docs.google.com/document/d/1pdvPeKjA8v8w_fGKAN68JjWBmVJtPCpqdi9IZrd6eEo/edit#), moving this to post-Stable release.

[2021-09-28 18:06] alanwest commented on #1885
For .NET, we'd be keen on defaulting to gRPC simply because it would be a breaking change to change it to OTLP/HTTP once this PR lands.

If the spec could be flexible and recommend gRPC as default but allow for HTTP as default when it makes sense, I think this would be best.

[2021-09-28 18:59] tigrannajaryan commented on #1885
+1. Up until recently if I remember correctly AWS load balancers did not even let gRPC connections through (I think they do now), so there may be real production cases when you simply cannot use gRPC.

The only reason I can think of is that more SDKs today implement gRPC than HTTP, so it appears making HTTP is more work for Otel maintainers. It does not seem to be a huge deal though, if you have a

[2021-09-28 19:01] tigrannajaryan commented on #1885
The [spec currently strongly hints](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#specify-protocol) that OTLP/HTTP+JSON is optional:

[2021-09-28 19:04] tigrannajaryan commented on #1885
@Oberon00 very useful research, thank you. I think this reinforced that overall adding support for OTLP/HTTP where it is missing is not a big effort, while OTLP/gRPC where it is missing looks problematic.

Given this new evidence I now am now more strongly incline towards making OTLP/HTTP the required protocol. Let's hear some strong arguments against if there are any.

[2021-09-28 19:06] tigrannajaryan commented on #1885
We could make OTLP/HTTP a `SHOULD` clause, so strongly recommended but still allowed to deviate from. The only problem with this approach is that it makes impossible for OTLP receivers to only support OTLP/HTTP and claim full OTLP compatibility. Perhaps not a big deal, but I would prefer to simply the life of receivers if possible by doing a bit more work on our end.

[2021-09-29 02:13] anuraaga commented on #1885
Java's been released for several months now and has always used gRPC as the default for the env variable - it would be extremely disruptive to users to change the default at this point I think. This issue doesn't seem all that different from #1923 and I suspect allowing SIGs to have their default is going to be the most reasonable, it's one of those values that needed to be set early on or never s

[2021-09-29 08:25] iNikem commented on #1773
Java auto-instrumentation agent already uses (not officially) a configuration file in java properties format. I personally support having a unified format.

[2021-09-29 13:26] tigrannajaryan commented on #1885
@anuraaga so just to clarify, you suggest that:
- All SDKs MUST support OTLP/HTTP/Protobuf.
- OTLP/gRCP becomes a SHOULD requirement.
- OTLP/HTTP/Json is completely optional for SDKs (and it is not fully spec-ed even yet, so it is considered unstable).
- SDKs can choose which default they support, it can be one of the 3: OTLP/gRCP, OTLP/HTTP/Protobuf or OTLP/HTTP/JSON (do we allow OTLP/HTTP/JSON t

[2021-09-29 13:46] anuraaga commented on #1885
Everything aligns with me except this part - it depends on if JS in browser absolutely requires JSON. My personal experience with grpc-web is binary protobuf (not grpc proper) in browsers is OK - I suspect that browsers that did poorly with binary payloads are not supported by the vast majority of sites now, and only search engines, being core infrastructure, would still target such old ones. I do

[2021-09-29 13:53] anuraaga commented on #1885
On second thought I'm not so confident in this. It does seem a little excessive, but in the proposed vision doc `Compatibility` is one of the engineering values - so forcing support for JSON (assuming it is required for browsers) does seem correct.

[2021-09-29 20:50] #1920 closed

[2021-09-29 23:31] jamesmoessis commented on #1908
Alright, I'm happy to close this!

1. Problem 1 is starting to look like it's going to get solved by this (and related pieces of work) https://github.com/open-telemetry/opentelemetry-specification/pull/1977
2. Problem 2 we have accepted as not really an issue.
3. Problem 3 is currently being thought through by the community. There isn't any concrete plan yet, but it's in people's minds.

[2021-09-29 23:31] #1908 closed

[2021-09-29 23:54] pyohannes opened #1979 "Clarify possible incompatibilities with CloudEvents Distributed Tracing extension"
[CloudEvents](https://github.com/cloudevents/spec) is a specification for describing event data in common formats to provide interoperability across services, platforms and systems. It is a CNCF project which is very popular with messaging systems.

CloudEvents provides an [extension for Distributed Tracing](https://github.com/cloudevents/spec/blob/v1.0.1/extensions/distributed-tracing.md). This e

[2021-09-30 00:37] Blacksmoke16 commented on #1907
Probably good to close this with the introduction of #1898. Feel free to re-open if you disagree.

[2021-09-30 00:37] #1907 closed

[2021-09-30 07:51] Oberon00 commented on #1908
There is actually some movement:

* https://github.com/open-telemetry/oteps/pull/173
* https://github.com/open-telemetry/oteps/pull/174

[2021-09-30 14:00] tigrannajaryan commented on #1885
I was able to override just the parsing to trace ids/span id and let Protobuf's default implementation parse the rest: https://github.com/open-telemetry/opentelemetry-collector/blob/afad36e3785b78906f6eb5f9e91354a9e05a274c/receiver/otlpreceiver/otlp_test.go#L76
At least in Go this is possible, not sure if Protobuf libraries for other languages allow this.

[2021-09-30 16:07] reyang commented on #1830
Two updates:
* I've sent a PR to give some guidance/suggestion on how to handle memory limits #1966.
* I think the Metrics SDK spec will not define the exact behavior in the initial Stable release, as we called out [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#attribute-limits).

[2021-09-30 21:55] reyang commented on #1200
Trying to cover this in #1966:
* https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/supplementary-guidelines.md#aggregation-temporality
* https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/supplementary-guidelines.md#memory-management

I think we will not enforce it in the initial Stable release of the Metrics sp

[2021-09-30 22:00] reyang commented on #1891
I'm trying to address these topics in #1966, leave it as guidance/suggestion rather than spec requirements.

[2021-10-01 05:24] jmacd commented on #731
This is done, right?

[2021-10-01 19:20] seh opened #1982 "Relax format accepted for the "OTEL_RESOURCE_ATTRIBUTES" environment variable"
# Problem Description

At present, using the "OTEL_RESOURCE_ATTRIBUTES" environment variable is more difficult than it should be. The prescribed format for the variables values borrows [the W3C Baggage HTTP header format](https://github.com/w3c/baggage/blob/main/baggage/HTTP_HEADER_FORMAT.md#definition), which is approximately _key/value pairs conjoined with equals signs, with interleaved commas s

[2021-10-02 15:39] Blacksmoke16 commented on #1925
Github now has native support for footnotes: https://github.blog/changelog/2021-09-30-footnotes-now-supported-in-markdown-fields/.

Depending on how exactly things end up, they might provide a bit better experience versus plain text `[n]` matching.

[2021-10-02 16:03] Oberon00 commented on #1925
I'd rather get rid of them completely. They are not really footnotes bot often integral part of the attribute definition, where the text is just too long to reasonably fit in the table.

[2021-10-04 05:27] anuraaga opened #1984 "Document discrepancy with spec or loosen spec for default value of exporter endpoint"
I randomly noticed the default value for endpoint for exporter is `https://localhost`

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#configuration-options

Java uses `http://localhost` - I think fixing this now would be too disruptive to existing users without enough benefit. Should this be documented here somehow or the spec wording loo

[2021-10-04 12:05] tigrannajaryan commented on #1885
Just checked: AWS still does not fully support gRPC for all load balancer types: https://aws.amazon.com/elasticloadbalancing/features/
It works with ALB, but does not work with NLB or other load balancer types.

[2021-10-04 12:52] anuraaga commented on #1885
@tigrannajaryan NLB is just a TCP/IP load balancer so it is not tied to an application protocol like gRPC. Actually before ALB supported gRPC, NLB was the only way to implement a gRPC API with a load balancer on AWS. It had the limitation of not being able to integrate things like TLS, so the support in ALB made it much nicer :) But I would consider this to be full support for gRPC on the cloud si

[2021-10-04 13:52] tigrannajaryan commented on #1885
All right, I guess I was misled by the `gRPC` label present in the ALB column and missing in the rest of the columns in the AWS doc I linked to.

[2021-10-04 14:08] anuraaga commented on #1885
@tigrannajaryan It seems the "Layer 7" section header type of thing is the scapegoat for that :) I think it basically means "Classic Load Balancer in L7 mode" doesn't support gRPC. FWIU, it's EoL so probably not needed for OTLP https://aws.amazon.com/blogs/aws/ec2-classic-is-retiring-heres-how-to-prepare/

[2021-10-04 17:30] #1632 closed

[2021-10-04 22:03] RichardWright opened #1987 "Allow UpDown counters to be 'set'"
Currently Updown counters can only go up or down. They cannot be set to a specific value. The current node.js 'prom-client' implementation allows this. It would be very useful and means we wouldn't have to maintain the current state to be able to increment/decrement. It's the main blocker for us using opentelemetry everywhere

[2021-10-04 23:00] #1715 closed

[2021-10-05 03:23] reyang commented on #1987
@RichardWright could you provide a real-world scenario when this is needed?
Check out this https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/supplementary-guidelines.md#instrument-selection and see if any of the instrument would meet your need.

[2021-10-05 08:18] joaopgrassi commented on #1979
Another discussion point that emerged in #1978 and probably should be captured here or in another issue is: when or whether it makes sense to create a dedicated Span for CloudEvents. The link to the discussion: https://github.com/open-telemetry/opentelemetry-specification/pull/1978#discussion_r719614311

[2021-10-05 12:24] tigrannajaryan opened #1989 "OTEP 0152 Telemetry Schemas still uses "label" terminology for metrics"
OTEP 0152 predates renaming of labels to attributes. Unfortunately the schema file format uses the term "label" in the metrics section this way:
[code]

Ideally we don't want the word `label` in the schema files, instead we want the word `attribute` to be used instead. Now, the problem is that this is an accepted OTEP and we even published several [schema files](https://github.com/open-telemetry/o

[2021-10-05 12:30] tigrannajaryan commented on #1961
I am going to break this down into individual issues per guide.

[2021-10-05 12:31] tigrannajaryan opened #1990 "Write "How to add a new attribute to semantic conventions""
We would like to have "How to" guides to be part of our "Contributing" documentation. The guides need to be specific, describe the process from start to the end (success or rejection) for each particular class of changes (e.g. "How to add a semantic convention"). It is important for contributors to understand clear actions they can take to progress a contribution. The aim is to have minimum ambigu

[2021-10-05 12:32] tigrannajaryan opened #1991 "Write "How to add a new set of semantic conventions (a new concept)""
We would like to have "How to" guides to be part of our "Contributing" documentation. The guides need to be specific, describe the process from start to the end (success or rejection) for each particular class of changes (e.g. "How to add a semantic convention"). It is important for contributors to understand clear actions they can take to progress a contribution. The aim is to have minimum ambigu

[2021-10-05 12:32] tigrannajaryan opened #1992 "Write "How to modify semantic conventions""
We would like to have "How to" guides to be part of our "Contributing" documentation. The guides need to be specific, describe the process from start to the end (success or rejection) for each particular class of changes (e.g. "How to add a semantic convention"). It is important for contributors to understand clear actions they can take to progress a contribution. The aim is to have minimum ambigu

[2021-10-05 12:33] tigrannajaryan opened #1993 "Write "How to make a proposal for a new API""
We would like to have "How to" guides to be part of our "Contributing" documentation. The guides need to be specific, describe the process from start to the end (success or rejection) for each particular class of changes (e.g. "How to add a semantic convention"). It is important for contributors to understand clear actions they can take to progress a contribution. The aim is to have minimum ambigu

[2021-10-05 12:34] tigrannajaryan opened #1994 "Write "How to make progress on proposals that do not initially generate enough interest/comments.""
We would like to have "How to" guides to be part of our "Contributing" documentation. The guides need to be specific, describe the process from start to the end (success or rejection) for each particular class of changes (e.g. "How to add a semantic convention"). It is important for contributors to understand clear actions they can take to progress a contribution. The aim is to have minimum ambigu

[2021-10-05 12:34] tigrannajaryan commented on #1961
OK, broken down into individual issues and linked from this summary issues. Please vote for individual issues.

[2021-10-05 13:53] tigrannajaryan commented on #1885
Discussed again in Maintainers meeting. Raw meeting notes:
[code]

To summarize this is what we want to do:
1. Strongly recommend SDKs to implement both OTLP/gRPC and OTLP/HTTP+Protobuf exporters (SHOULD clause).
2. Strongly recommend OTLP/HTTP+Protobuf to be the default protocosl (SHOULD clause) but allow language SDKs to choose a different default if they have good reasons (MAY clause).

I am go

[2021-10-05 13:54] carlosalberto commented on #1989
+1 to this (in a few cases, when moving it to the Specification we had to amend the initially accepted changes).

The second thing is that although this was published, Metrics _still_ is experimental **and** as you mentioned, no changes for that portion have been made. I'd rather change it to `attributes` unless there's a specific compelling reason to not do it.

[2021-10-05 14:00] carlosalberto commented on #1984
@anuraaga We briefly discussed this in the Maintainers meeting and we are fine with loosening this (with a SHOULD, that is). Can you prepare such a PR? Else I can help with it.

[2021-10-05 14:12] iNikem commented on #1989
Option 2 makes sense to me.

[2021-10-05 15:07] jsuereth commented on #1989
I always assumed Option 2 myself, so I vote for that.

[2021-10-05 15:57] tigrannajaryan commented on #1989
Discussed in spec meeting, decided:
- OTEPs which are not part of the spec repo are not considered to be final, or be an actual part of stable spec (OTEPs are not labeled "stable" in any way).
- Modify the OTEP, rename `label` to `attribute`.
- Merge the OTEP with the spec.

[2021-10-05 16:06] djaglowski commented on #1772
Based on discussion in the Spec SIG, I'm suggesting the following approach:

First, the immediate problem can be considered as a logs-specific attribute set. This would mean prefixing the above attributes, such that we would have:
- `logsource.file.name` - The basename of the file (i.e. mylog.log).
- `logsource.file.path` - The absolute path of the file (i.e. /var/log/mylog.log).
- `logsource.file

[2021-10-05 17:15] tigrannajaryan commented on #1772
This likely requires an OTEP since it has significant implications (the Trace API currently disallows structured values, except the most simple ones - homogeneous arrays).

[2021-10-05 17:19] tigrannajaryan commented on #1772
I may have misunderstood what you wrote. Do you suggest that we do this (in JS notation for simplicity):
[code]
or this:
[code]

[2021-10-05 19:26] djaglowski commented on #1772
@tigrannajaryan I was imagining the latter, but really only because the existing conventions use string keys, as far as I've seen.

Having thought about it more (and a good thing - see below), I am even more in favor of the string-only approach. The [rules for attribute naming](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/attribute-naming.md), specif

[2021-10-06 18:05] djaglowski commented on #1772
@arminru, I'll make the PR

[2021-10-07 12:59] jsuereth opened #2000 "Summary is lacking all details in the DataModel specificaiton"
We deferred addressing summary as a legacy type, relying on protocol buffer documentation.

We need to address some specifics so that implementations using summary can accurately fill out fields in opentelemetry, e.g. https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5667

cc @jmacd

[2021-10-07 16:59] jsuereth opened #2001 "Migrate metric semantic conventions into YAML"
This may need updates to the tool as we go to support how metric conventions are viewed, but we should work on getting metric semantic conventions into the YAML files for code generation.

Was raised in Java SiG for folks working on new types of instrumentation using metric semantic conventions.

[2021-10-07 17:47] jsuereth commented on #944
Update on Java.

1. Collection should only be ONCE for observer instruments.
2. Multiple writes to the same metric-stream (i.e. same set of attributes) is considered an error and is logged, but not allowed.  First written should win.

[2021-10-08 03:38] reyang commented on #2001
Discussed during the [10/07/2021 Metrics SIG meeting](https://docs.google.com/document/d/1pdvPeKjA8v8w_fGKAN68JjWBmVJtPCpqdi9IZrd6eEo/edit#heading=h.2arrjtz0mq3c).

@ocelotl is offering help here.

Note that the current mechanism/script might need to be improved in order to support metrics, e.g. the support for instrument names.

[2021-10-08 11:58] #1760 closed

[2021-10-11 08:08] pellared opened #2005 "Add `OTEL_FAIL_FAST` SDK environmental variable"
## Problem statement

The [basic error handling principles](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/error-handling.md#basic-error-handling-principles)  describe a fail fast scenario which causes the OTel instrumented application to fail on initialization. The specification does not mandate any preference. Moreover, engineers have different opinions abo

[2021-10-11 14:29] pellared commented on #2005
Currently, my preference would be `Proposal 2 - SHOULD instead of may`, if there are no good arguments against it. Mainly because:

1. I think bad initialization should be "screaming" that something is wrong
2. Does not introduce any new configuration logic
3. I believe this is how most SDKs have implemented it

[2021-10-12 11:03] #1818 closed

[2021-10-12 17:22] jsuereth opened #2009 "Metrics SDK defaults Histogram instruments to report monotonic sums, but allows negative measurements."
Currently, the APi does not specify that histograms record only non-negative instruments, but the DataModel requires the sum field to be a (positive) monotonic sum.   These are incompatible with each other and limit prometheus compatibility.

I think we have a few solutions to this issue:

- Update SDK specification for Histogram aggregation to denote that it cannot produce the sum field with Hist

[2021-10-12 17:34] lmolkova opened #2011 "Confirm that HTTP instrumentations can provide sampling-relevant attributes at creation time"
In https://github.com/open-telemetry/opentelemetry-specification/pull/1916 we require (MUST) sampling relevant attributes to be provided at span creation time:

https://github.com/open-telemetry/opentelemetry-specification/blame/f34abb07ee8b8e102ab4693d9d6cef1aad95fb2b/specification/trace/semantic_conventions/http.md#L94

We do it under assumptions:
- it's feasible
- reasonably efficient (assuming

[2021-10-13 08:53] Oberon00 opened #2015 "Messaging consumer/client (group) ID could be made more generic"
Currently we have these semantic [span attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/messaging.md) to identify message senders/consumers:

* `messaging.kafka.consumer_group` (#1027)
* `messaging.consumer_id` (#1810)
* `messaging.rocketmq.client_group` (#1904)
* `messaging.rocketmq.client_id` (also #1904)

It seems like

[2021-10-13 17:44] pmm-sumo commented on #1613
We had great discussion but reached no consensus on neither #1727 (providing guidelines) nor #1752 (be more restrictive). It is currently one of the major ones blocking Logs GA. Perhaps we could sync during the next Log SIG and discuss it online?

The next Log SIG is scheduled Oct 27th, 10am Pacific, though we suggest to move it a week earlier, Oct 20th, same time. If that time does not work, we c

[2021-10-13 18:01] tigrannajaryan opened #2018 "Clarify version compatibility with API and SDK packages"
The [versioning](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/versioning-and-stability.md) document says that:

For example, the latest version of `opentelemetry-python-api` MAY be at v1.2.3 while the latest version of `opentelemetry-python-sdk` is at v2.3.1.

However, it does not define any further compatibility requirements between API and SDK (as far as

[2021-10-14 02:13] yurishkuro commented on #1613
the question in chat was this (with my emphasis):

I think the problem we're having is we are not clear about who is this "one". Which persona is that? An application developer using a logging API from an application? Or an infrastructure engineer writing a transformation of one data format into OTLP? These are distinct use cases requiring distinct solutions.

Having said that, I like the suggesti

[2021-10-14 05:33] iNikem commented on #2018
@anuraaga Your argument breaks the moment auto-instrumentation enters the room :) We specifically discussed that Java instrumentation wants to support a use-case when application or library used by the application uses OpenTelemetry API which is older that the SDK brought by javaagent.

[2021-10-14 05:40] anuraaga commented on #2018
@iNikem Auto instrumentation is complicated so wasn't sure to mention it here (what happens in auto instrumentation stays in auto instrumentation? :P). Auto instrumentation doesn't have any compatibility issue of API and SDK really, it's API in app vs API in agent. Conceptually it is similar to being app=API and agent=SDK though, in which case yes we follow the pattern of SDK newer than API is all

[2021-10-14 13:19] tigrannajaryan commented on #1613
Yes, I think the confusion primarily arises when one needs to generate a log record (via a logging API or emit an OTLP log record). This is a clean slate situation: I know I want to generate a log record, I know roughly what data I want to put in the record, but I can structure the same data such that some _primary_ bit goes into the Body (e.g. the human readable message) and the rest goes into th

[2021-10-14 16:35] jack-berg opened #2021 "Metrics SDK Configuration for periodic exporting metric reader"
**What are you trying to achieve?**

I need to be able to configure the metric collection interval of the newly specified [Periodic exporting MetricReader](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#periodic-exporting-metricreader).

The [Metrics SDK Configuration](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec

[2021-10-14 19:41] jkwatson commented on #2018
There are two things to consider here, @obecny . One is the version of the API that a library depends on, and the other is the version of the API that is depended on by the SDK at *runtime*.

So, imagine this case:
* library X is instrumented using API library version 1.6.
* Application A uses library X, and hence has a transitive dependency on API library version 1.6
* Application A uses the SDK,

[2021-10-14 23:32] reyang commented on #1732
Discussed during [10/14/2021 #210 Metrics SIG Meeting](https://docs.google.com/document/d/1pdvPeKjA8v8w_fGKAN68JjWBmVJtPCpqdi9IZrd6eEo/edit#heading=h.stvgsbqlqfhy), we haven't seen many demands and this is one possible way among many other ways to provide simpler API for specific scenarios. Move this out of the initial stable release scope.

If anyone interested in this addition, please reply here

[2021-10-14 23:58] yurishkuro commented on #2018
@obecny the SDK must put an upper bound on the API version it understands, e.g. `otel_api >= 1.0, < 1.1`.  If an application is built with 1.1 API then it should fail dependency resolution trying to bind the SDK since it does not allow API 1.1, only 1.0. Once the SDK is validated that it satisfies API 1.1, it will release a new version with new bounds `otel_api >= 1.0, < 1.2`.

[2021-10-15 07:06] iNikem commented on #2018
@obecny you got me confused here. How API can call SDK? API cannot depend on SDK, right?

[2021-10-15 13:56] obecny commented on #2018
api is exposing interface for example `ContextManager`. Then api exposes a function for registering this context manager. Then later you can call from instrumentation for example
`api.context.active()`
this will return the active context.
When user calls this the api will be calling some functionality from registered ContextManager.
So this is the moment when api calls functionality from different

[2021-10-15 17:32] #2009 closed, assigned to arminru

[2021-10-15 18:23] yurishkuro commented on #1613
To put it differently, if they haven't solved the semantic distinction between structured body and attributes (and they sit much closer to user intent), how can we expect to solve it downstream of them? I would instead be inclined to change the mapping tables you linked to and say that those structured fields do NOT map to Body, but to similarly named attributes, like `json_payload` (especially if

[2021-10-15 22:38] reyang opened #2025 "Provide recommendation on how metrics sdk/reader/exporter could coordinate temporality"
Follow up https://github.com/open-telemetry/opentelemetry-specification/pull/2013#discussion_r730080552.

[2021-10-15 23:48] bogdandrutu commented on #2011
Per the SIG meeting discussion, assign this to @lmolkova

[2021-10-16 19:28] Grunet opened #2027 "Clarify What the "Zipkin -> OTLP" Sections in the Zipkin Spec Are Meant For"
**What are you trying to achieve?**

I was trying to read through [this Zipkin spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/zipkin.md) to understand how to make otel-php's implementation of the Zipkin exporter spec-compliant.

What did you expect to see?

I didn't expect to see 2 sections ([one here in the middle](https://github.co

[2021-10-18 12:40] iNikem commented on #2018
@obecny What `plugins` exactly are you talking about here? If they are e.g. http client or any other integration with some library or framework, then they are "users" and should only use API. And then during any given runtime you can mix and mach users of both 1.0.x and 1.1.x version of API as long as you configure SDK version 1.1.x.

[2021-10-18 12:47] obecny commented on #2018
sry I meant api

[2021-10-18 13:04] iNikem commented on #2018
Also, just in case, I will remind that there is [this existing document](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/versioning-and-stability.md#stable)

[2021-10-18 14:20] iNikem opened #2028 "Remove http.XX_content_length* semantic attributes"
Http semantic convention defines 4 attributes which are very different from all others. Namely `http.request_content_length`, `http.request_content_length_uncompressed`,  `http.response_content_length` and `http.response_content_length_uncompressed`. I think this information should be captured as metrics, not as span attributes. I cannot imagine a use-case where anybody would want to search/filter

[2021-10-18 14:23] Oberon00 commented on #2028
How about filtering for requests that exceed a certain size? Or requests without body (length=0)?

[2021-10-18 15:49] yurishkuro commented on #1613
Ok, but it seems the only reason we have body as structured field is to support these mappings from 3rd party formats. With respect to this ticket, we can easily say "we recommend treating body is a string", and only treat body as structured when doing those 3rd party conversions.

[2021-10-18 17:04] jsuereth opened #2031 "Provide explicit override rules for AggregationTemporality across Exporters, Views and defaults."
As a follow on to #2013 (and a discovery in https://github.com/open-telemetry/opentelemetry-java/pull/3762), we should explicitly clarify the override rules of `AggregationTemporality` in the SDK.

Specifically:

1. If a `View` is configured with explicit `AggregationTemporality` and an `Exporter` does not support it, what should happen?
2. If a `View` is configured with explicit `AggregationTempo

[2021-10-18 18:17] pyohannes commented on #2028
Also, having those attributes on spans will provide more help in troubleshooting or reproducing problems. You might get answers to those questions:

Why do request sizes exceed a certain limit?
Why do response sizes exceed a certain limit?
Why are request bodies missing?

You are much more likely to get answers to those questions from traces than from metrics.

[2021-10-18 18:29] #2000 closed, assigned to jsuereth, SergeyKanzhelev

[2021-10-19 01:01] Grunet commented on #2027
Yeah, if that's well understood by everyone probably no need to re-organize things. Thanks for confirming! I'll go ahead and close this

[2021-10-19 01:01] #2027 closed

[2021-10-19 03:18] reyang commented on #2025
Duplicated with #2031.

[2021-10-19 03:18] #2025 closed

[2021-10-19 03:23] reyang commented on #1987
@RichardWright I'm closing this issue, please reopen if needed.

[2021-10-19 03:23] #1987 closed

[2021-10-19 06:00] scheler opened #2033 "Explicitly distinguish between client side issue and server side issue in a span of kind 'client'"
**What are you trying to achieve?**
On the backend I was trying to count the number of 'client' spans that failed due to an issue on the client vs an issue from the server, and there doesn't seem to be an easy way to determine this. The only way possible is to interpret the recorded exception but it is not reliable and not straightforward.

What did you expect to see?
I dont know, but some kind of

[2021-10-19 11:24] hauleth commented on #1757
That will probably require creating RFC that will extend RFC 5424.

[2021-10-19 12:22] iNikem commented on #2033
Cannot you achieve that by looking at `http.status_code` attribute?

[2021-10-19 15:46] ocelotl opened #2036 "Metrics specification uses CAN"
Both the metrics [API](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md) and the [SDK](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md) use CAN (in caps). CAN is not an [RFC 2119](https://datatracker.ietf.org/doc/html/rfc2119) keyword.

[2021-10-19 17:02] MrAlias opened #2039 "Standardize SDK logging levels"
Currently, the SDK logging is specified to be configured via the [`OTEL_LOG_LEVEL` environment variable](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.7.0/specification/sdk-environment-variables.md#general-sdk-configuration). There currently is only one log level listed in the specification: `info`. However, other log levels are not specified. It is important that each lang

[2021-10-19 17:02] MrAlias commented on #2039
@open-telemetry/javascript-approvers @open-telemetry/ruby-approvers @open-telemetry/erlang-approvers

[2021-10-20 00:53] markdascher opened #2042 "Should Syslog Emergency map to FATAL instead of ERROR3?"
The Log Data Model's [Appendix B](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#appendix-b-severitynumber-example-mappings) shows an example mapping from syslog severity levels to SeverityNumber values. All of the syslog severities make sense except for Emergency and Alert, which are apparently swapped.

In syslog, Emergency is the highest

[2021-10-20 09:15] errordeveloper opened #2043 "Kubernetes attributes don't cover labels and services"
The current recommendation regarding [Kubernetes-specific attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/6c624091a83c40c82e0facab752fcc70efdb30a1/specification/resource/semantic_conventions/k8s.md) doesn't include labels and services, I think it'd be very helpful to add attributes for those two aspects of Kubernetes.

[2021-10-20 10:21] hauleth commented on #2039
Erlang uses [RFC 5424](https://datatracker.ietf.org/doc/html/rfc5424) log levels. Elixir before 1.11 used only `debug`, `info`, `warning`, and `error`, but recent versions support all 8 levels.

Technically there are 2 additional configuration options for Erlan `all` and `none`. While `all` is equivalent to `debug` there is difference between `emergency` and `none`, as the first will still pass `e

[2021-10-20 11:14] #2036 closed

[2021-10-20 22:03] tigrannajaryan commented on #1757
I am guessing there must be a registration process that is different from a full blown RFC: https://www.iana.org/assignments/syslog-parameters/syslog-parameters.xml

We did something similar for OTLP port registration with IANA.

I don't know if we want to go into the trouble though. Seems like a pretty low value feature (I may be wrong). As far as I know the structured data is rarely used with sy

[2021-10-21 10:26] svrnm opened #2050 "Add service to the glossary"
**What are you trying to achieve?**

The term `service` is an important term used at a lot of places within the spec, but there is no definition in the glossary what a service is (and what it is not). Maybe it's somewhere else in the spec and just needs to be referenced?

**Additional context.**
For example in k8s a service is defined the following:

networking/service/))

Does this definition als

[2021-10-24 19:03] tha2015 opened #2053 "Kubernetes attribute k8s.pod.name uses an incorrect example"
**What are you trying to achieve?**

Attribute `k8s.pod.name` has an example of `opentelemetry-pod-autoconf` which is incorrect. Typically a k8s pod name has a number at the end like `myapp-1234`

**Additional context.**

See https://kubernetes.io/docs/concepts/overview/working-with-objects/names/

[2021-10-24 20:20] RichardWright opened #2054 "Allow UpDown counters to be 'set'"
Current spec for UpDownCounters

[code]

If the state is based on, for example, the length of an array (eg a list of connected clients), this requires the previous state to be stored somewhere so that subtraction can happen. 

Proposal:

`.set(25)`

Allow the instrument to be set, this can be then used to map to properties of data structures which inform this and remove the need for diffing. This

[2021-10-25 20:52] trask opened #2056 "Replace http.target with http.path and http.query?"
**What are you trying to achieve?**

Less confusion for end users who are writing/configuring samplers and processors by replacing the confusing `http.target` with the much more commonly understood `http.path` and `http.query`.

**Additional context.**

`http.target` is confusing to end users because "target" is not a commonly understood part of the url (for example it's not mentioned anywhere in

[2021-10-26 05:05] findmyway opened #2058 "What if part of the attribute keys specified in a view is not included in a measurement?"
I first asked it on [slack](https://cloud-native.slack.com/archives/C01NP3BV26R/p1635211155017100) but it's suggested to raise an issue here.

In the view part of the metric specification, it is said that:

But it is unclear to me the expected behavior when part of the specified attribute keys is not included in a measurement. Should we throw an error, or ignore that measurement silently, or just

[2021-10-26 14:09] #2031 closed, assigned to reyang

[2021-10-26 17:29] tigrannajaryan opened #2060 "Request for comments: aim to declare Logs data model and logs in OTLP stable by the end of the year"
Hello @open-telemetry/specs-logs-approvers and @open-telemetry/specs-approvers.

We are preparing an OpenTelemetry roadmap update and this is a good opportunity to discuss our plans for logs. We currently have [14 open log-related issues](https://github.com/open-telemetry/opentelemetry-specification/issues?q=is%3Aopen+is%3Aissue+label%3Aspec%3Alogs) in the spec. I went over the list and it does no

[2021-10-27 00:54] tigrannajaryan opened #2063 "Explain purpose of Traceflags in Log Data Model"
The Log Data Model says that [Traceflags](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#field-traceflags) are part of the Log Record.

There is no explanation about how the Traceflags are set in the Log Record and how they can be used.

One explanation I have heard in the past is that the following:
- Log Records that are generated in the

[2021-10-27 11:55] joaopgrassi opened #2064 "Clarification on duplicated instrument names under different meters"
### TL;DR
What should be the SDK behavior when **two instruments** with the **same name** are registered under **different meters** and **no views** are registered/involved?

[code]

The behavior in .NET is that the second instrument is dropped and never reaches the exporter. In Go, it seems we get errors (as per this [Slack thread](https://cloud-native.slack.com/archives/C01NPAXACKT/p163559295002

[2021-10-27 15:25] pirgeo opened #2065 "Set preferred aggregation temporality for the periodic exporting metric reader via environment variable"
**What are you trying to achieve?**

I want to be able to set the preferred aggregation temporality for an periodic exporting metric reader via an environment variable, e.g. `OTEL_METRIC_EXPORT_PREFERRED_TEMPORALITY`. If set, This would take precedence over the preferred temporality specified in the `MetricReader`/`MetricExporter` (see [temporality override rules](https://github.com/open-telemetry

[2021-10-27 18:14] tigrannajaryan opened #2066 "Explain why structured Body is valuable in log data model"
We think that there is value in allowing Body to be structured in the data model, particularly for the purpose of representing non-OpenTelemetry data formats unambiguously. We need to explain this value in the data model document.

[2021-10-27 18:16] tigrannajaryan opened #2067 "Explain how to create a mapping of non-OpenTelemetry log data format to OpenTelemetry logs"
Produce guidelines for authors which implement a mapping from a data format to OpenTelemetry data model (e.g. Collector receiver authors), which tells where to put a particular piece of data they have.

We have examples of [mappings here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#appendix-a-example-mappings). We need to write down prin

[2021-10-27 18:17] tigrannajaryan opened #2068 "Limit Body to string in logging library APIs"
We cannot think of a good use of a structured Body in the logging APIs. All of the logging libraries that we are aware of produce log body (message) as a string. Because of this we think that it is reasonable to limit logging APIs to accept the body as a string only and the structured data that logging libraries allow should go to the attributes.

This limitation likely needs to be added as an ame

[2021-10-27 18:18] tigrannajaryan opened #2069 "Write guidelines for logging library authors to map to Otel data model"
We want to produce guidelines for logging library authors to know what goes into the Body (which is just a string) and what goes into the attributes or other fields (the limitation of Body as a string helps to write this guidelines).

[2021-10-28 08:19] legendecas opened #2072 "Clarification on MetricReader registered on MeterProvider"
**What are you trying to achieve?**

Clarify the object ownerships between metric reader and meter provider.

In the example (https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#view), it is said the metric reader is constructed in place and then it is registered to the meter provider:

[code]

Also, it is stated that metric reader has a `Collect` o

[2021-10-28 09:00] legendecas opened #2073 "Clarification on model metric of exporter.export(batch)"
**What are you trying to achieve?**

The type name `Metrics` is not mentioned anywhere else (as far as I can tell, I didn't find anything at https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md) and it is unclear what it contains.

[2021-10-28 14:05] tigrannajaryan opened #2074 "Is Name field necessary in Log Data Model"
The log [data model](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md) currently has a Name field.

It is not entirely clear why this field is needed.

Some of the example mappings provided use it this way:
- Syslog - MSGID. Could be an Attribute["syslog.msgid"] instead to match how PROCID is handled.
- SignalFx Events - EventType. Could be A

[2021-10-29 08:41] chalin opened #2079 "[editorial] trace/semantic_conventions/http: markdown link definition is missing"
In the **rendered** markdown of https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#http-server-definitions, you'll see:

/assign @chalin

[2021-10-29 08:41] chalin opened #2080 "[editorial] specification/metrics/semantic_conventions/rpc: markdown link definition is missing"
In the **rendered** markdown of https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/rpc.md#attributes, you'll see:

/assign @chalin

[2021-10-29 13:24] #2079 closed, assigned to arminru

[2021-10-29 13:29] #2080 closed, assigned to yurishkuro

[2021-10-29 16:38] william-tran opened #2085 "Remote controlled sampling rules using attributes"
**What are you trying to achieve?**

I'd like to use remote sampling configuration that allows one to specify span attributes in sampling rules. The current configuration added in https://github.com/open-telemetry/opentelemetry-collector/issues/500 allows one to sample based on service name and span name. I need to be more specific than that in our sampling rules. Jaeger began introducing Delayed

[2021-10-29 19:13] markdascher commented on #2042
Submitted #2087 with the described changes.

Here's the discussion I was thinking of: https://docs.google.com/document/d/1WQDz1jF0yKBXe3OibXWfy3g6lor9SvjZ4xT-8uuDCiA/edit?disco=AAAAGb77xaY

[2021-11-02 02:53] tigrannajaryan commented on #2060
Log SIG frequency changed to weekly. Let's see what we can do.

[2021-11-02 15:05] jmacd commented on #2063
I've discovered that W3C is ambiguous on the meaning of the `sampled` flag when there may be more than one tracing "tenant" active in a trace. The word "tenant" has been used in the W3C specification in ways that are not well specified but does imply `sampled` is just a hint.

https://github.com/open-telemetry/opentelemetry-specification/pull/2047 is trying to establish `tracestate` fields that wo

[2021-11-02 15:55] reyang commented on #2073
It is not specified, but it has to be a stable API. It is "based on" the data model, it should not be based on the Proto generated data types.

[2021-11-02 16:10] reyang commented on #2072
Currently the spec doesn't specify if the same MetricReader instance can be shared across multiple MeterProvider instances. In practice, different languages use different approach:
1. Java takes a factory instance instance, so it is impossible to pass in the same MetricReader instance to multiple MeterProvider instances.
2. .NET only allows a single owner, and the MeterProvider "owns" the lifecycl

[2021-11-02 16:28] tigrannajaryan commented on #2063
Discussed this extensively in the Spec SIG meeting. Here is the summary:

Log records may be emitted while there is an ongoing operation represented by a span. The trace sampler in Otel SDK may have already decided to drop that particular trace (using head sampling). So, that particular trace will never leave the Otel SDK and will not be available in the backend.

However, the log record may still

[2021-11-02 16:48] yurishkuro opened #2095 "Remove unreasonable restriction on Sampler's description to be immutable"
**What are you trying to achieve?**

https://github.com/open-telemetry/opentelemetry-go-contrib/pull/936#discussion_r741219714

The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#getdescription) current says:

What did you expect to see?

This is unreasonable requirement. First, who is the "caller" who requires this? Second, if this is for

[2021-11-02 21:54] jack-berg commented on #2074
Will do 👍 .

I agree that sounds a bit strange. But is there good reason for the Syslog `MSGID` field mapping to the `name` field? Could it not just as easily go in attributes, eg `Attributes["syslog.msgid"]`?

If name or type is going to be a top level field and be useful for New Relic's purposes, it should be defined as *a low cardinality categorization* of the log. I can imagine this type of co

[2021-11-03 13:52] jsuereth commented on #2060
@tigrannajaryan I realize this is auto-assigned to me. I'm 100% on board with this, let me know if you need something from me or if you'll be owning this decision/force going forward.

[2021-11-03 14:55] tigrannajaryan commented on #2060
I think we can close this. We discussed in Log SIG and the plan is to do as much as we can by the end of the year, but more realistically it will be Q1 2022. This is already reflected in the Otel roadmap.

[2021-11-03 14:55] #2060 closed

[2021-11-03 14:55] dyladan commented on #2064
I agree with Joao that this is a bug in the implementation. From a library author perspective, I should be able to obtain a meter and be sure the name I use won't conflict with other libraries. The current spec states quite clearly that instruments with the same name created by different meters must not interfere with each other. To me, that means it is not up to the end-user application, but that

[2021-11-03 17:05] pmm-sumo commented on #2074
On the `Name` usage - isn't this the place where logger name goes? E.g. value used in `LogManager.getLogger(MyClassName.class)`

[2021-11-03 17:10] jkwatson commented on #2074
I would think that would go into the Instrumentation Library 'name', rather than the individual log entry 'name.

[2021-11-03 17:32] pmm-sumo commented on #2074
I wonder if that is not too fine granular though. Also, in certain cases, this includes more information, such as line number:
[code]

I think the candidates for `name` (or Instrumentation Library `name`) could be `service/collector.go:174` (the caller) and so on (BTW in [Log Data Model](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#zap) t

[2021-11-03 18:06] jsuereth commented on #2050
I'd be a fan of including this in the specification if you submit a PR adding it.

[2021-11-03 18:17] djaglowski commented on #1251
This was discussed in the Log SIG today. The general consensus was that establishing a limit in the data model will almost certainly be problematic.

However, it will likely be reasonable to do so with SDKs, and even to establish general guidelines for SDKs to follow. This could be done as part of #2069.

Additionally, it was noted that we should consider defining an [expected response code](https

[2021-11-03 18:20] djaglowski commented on #597
This was discussed in the Log SIG today, where the consensus was that we do not need to make a decision on this prior to declaring the log data model stable.

[2021-11-04 13:08] #2066 closed

[2021-11-04 14:10] svrnm commented on #2050
Sure! Let me do that.

[2021-11-04 17:16] tigrannajaryan commented on #2063
@jsuereth @bogdandrutu @jmacd I need your help to confirm the above summary is correct.

[2021-11-04 18:10] tigrannajaryan opened #2098 "Recommend OTEL_EXPORTER_OTLP_*COMPRESSION "none" by default"
The topic was discussed by the TC and the resolution is:

- We believe that having a locally running Collector is common.
- The SDK defaults are optimized for this scenario. For example the default endpoints that SDKs send to are "localhost".
- In line with this we also believe that the default setting for compression options should be "none". Enabling compression when sending to localhost increas

[2021-11-04 18:36] #2042 closed

[2021-11-05 19:32] reyang commented on #2073
@legendecas based on the discussion from [11/2/2021 Spec SIG Meeting](https://docs.google.com/document/d/1pdvPeKjA8v8w_fGKAN68JjWBmVJtPCpqdi9IZrd6eEo/edit#heading=h.erc0axt1ayqq), I've added clarification in #2106. Please take a look.

[2021-11-05 20:09] pauldraper opened #2107 "What should instrumenters be doing?"
**What should instrumenters be doing?**

For example, I'm instrumenting an RPC library:

* I write metrics for how long the exchange takes, how large the request was, and how large the response was, tagged by RPC operation.
* I write logs for each RPC operation including how long the exchange takes, how large the request was, how large the response was, and the destination.
* I write traces named

[2021-11-05 22:13] brettmc opened #2109 "provide optional access to root span"
**What are you trying to achieve?**
If I create an active root span immediately on application start (in my case, PHP so starting from nothing on an incoming http request), I might not yet have all of the information I need to create a meaningful low-cardinality root span name, add attributes, etc.

What did you expect to see?
Later on (say, in some middleware, after I have bootstrapped an applica

[2021-11-05 22:33] brettmc opened #2110 "SDK env var for trace processor selection"
**What are you trying to achieve?**
Thinking about tracing, there are environment variables defined to allow configuring a trace exporter, choosing an exporter, and choosing a sampler. It feels like one is missing, choosing span processor(s). I think that if this could be defined, then a trace provider could have all of the information it needs to configure itself if somebody sets all of the right

[2021-11-06 04:58] lmolkova commented on #2028
assuming metrics are correlated to traces with exemplars, would it be possible to answer all these questions just not for a particular request? I.e. if you have problems with big requests, you'd see an exemplar of it on metrics for request/response size and there will be no need to stamp it on every request.

[2021-11-06 13:08] Oberon00 commented on #2028
@lmolkova Probably true, but the same could be said for http.status_code: "If you have a problem with status 500 requests, you'd see an examplar of it on metrics for status codes".

[2021-11-07 02:37] reyang commented on #1090
As we're releasing the Metrics API as stable #2104 (which doesn't have BatchObserver), closing this issue.

[2021-11-07 02:37] #1090 closed

[2021-11-07 02:44] reyang commented on #587
Given we've now mentioned covered meter and tracer in separate docs, I think we can close this issue.

[2021-11-07 02:44] #587 closed

[2021-11-07 21:51] lmolkova commented on #2028
@Oberon00 I see your point, I'm not sure status code is the same as request size. Status code indicates a failure and you'd generally want to know about it. Size might be the cause of failure or big latency and I think only the correlation between size and status/latency is interesting. Size alone is rarely important.
This correlation seem to be better expressed with metrics.

[2021-11-08 02:59] anuraaga commented on #2028
I've always understood there is a (unspoken?) goal to allow spans to be converted to metrics fairly robustly, and is the motivation for work on propagating sampling probabilities among others. So I always assumed the attributes on a span would always be a superset of metrics - though this may not be true.

[2021-11-08 04:52] lmolkova commented on #2028
I guess it boils down to the stage at which metrics are reported: 1) separately, 2) in instrumentation API or 3) from spans in post-processing, e.g. collector. I think p3 leads to different challenges related to sampling and filtering and metrics reconstruction may not work great with all samplers or make them very complicated, as they start having a state.
Adaptive sampling algorithms that keep r

[2021-11-08 05:00] anuraaga commented on #2028
#1769 might be a reference on the sampling algorithm issue - the impression I got is that a hard rate limiting approach isn't appropriate in OTel for the reasons you mention, making it impossible to compute metrics from spans, so an approximate rate limiting approach is used instead. I personally don't need to compute metrics from spans and don't think instrumentation should take the potentially i

[2021-11-08 05:07] anuraaga commented on #2028
Ah - I just remembered that I had initially added these attributes to the spec 😅  I think my only motivation was to close a gap with the X-Ray data model, which includes them too

https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html#api-segmentdocuments-http

If these attributes were removed, X-Ray would probably have to use the relatively new `response.header.content_le

[2021-11-08 17:12] #2058 closed

[2021-11-08 17:30] djaglowski commented on #1613
Shall we close this?

[2021-11-08 17:31] #1613 closed

[2021-11-08 17:32] djaglowski commented on #1752
I believe this issue should be closed now. #2096 clarifies that body can be structured.

[2021-11-08 22:31] yurishkuro opened #2113 "Multi-policy sampling"
The recent OTEPs from @jmacd showed now a consistent sampling can be applied to multiple nodes using different sampling rates. I have another use case that is similar, but not the same. Our system supports sampling policies that could express not only the desired sampling rate, but also the desired verbosity, e.g. one policy may request the trace to collect CPU metrics, another may ask for functio

[2021-11-09 08:40] oertl commented on #2113
If you are restricting to power of two sampling rates, like `p = 1/8 = 1/2**3` for policy A and `p = 1/64 = 1/2**6` for policy B, the R-value can be used to decide on the activity of policies. If we activate policy A whenever `R >= 3`, it will be active with a probability of 1/8. Similarly, policy B is activated whenever `R >= 6` to achieve a probability of 1/64.

The probability that some profile

[2021-11-09 17:38] #1752 closed

[2021-11-09 20:06] jmacd commented on #2095
I have questions about the arguments made.

Who is the "caller" who disagrees? I'm interested because in #2047 I have written about what sort of trace completeness guarantees we may expect from a sampler, and the conclusion is that the consumer of a trace ought to know the minimum sampling probability used across the trace. The expectation is that the producer is somehow able to convey this inform

[2021-11-09 21:53] yurishkuro commented on #2095
How is that relevant?  The requirement is onerous on the provider (sampler), not on the caller, so the caller needs to provide strong reasons for it.

100% agree. I think Description has nothing to do with this use case, thus my question. who is the caller who must live or die by this description string being immutable?  I see description as purely a debugging / introspection tool, to answer quest

[2021-11-09 23:12] #1772 closed

[2021-11-09 23:40] scheler commented on #2074
Events must have a mandatory name/type to make sense, so if we remove Name field we will be changing it from being mandatory to optional to now hidden. While we can make the Name field mandatory in the API (say: `public void addEvent(String name, Attributes attributes`) we will need further conventions and validations to ensure there is no other attribute named Name.

I think, yes.  @jack-berg cou

[2021-11-09 23:51] jack-berg commented on #2074
In the case of RUM event names, yes, since I believe RUM event names to be a low cardinality categorization.

[2021-11-10 02:36] lmolkova opened #2114 "Optional vs required attributes in HTTP conventions and beyond"
Based on instrumentation SIG meeting discussion

## Problem

Optional attributes in semantic conventions leave the decision to populate them on the instrumentation library.
However, this decision should be in the user/backend/distro hands: this is where you know what information you'd like to see and pay for.
So one library that doesn't populate e.g. `http.request_content_length` (let's put aside

[2021-11-10 02:36] lmolkova commented on #2114
/cc @denisivan0v @pyohannes @anuraaga

[2021-11-10 03:47] anuraaga commented on #2114
I definitely believe instrumentation should be able to fill all conventions as proposed here - instrumentation needs to provide that baseline which can be then trimmed down to needed bits through configuration or similar.

I don't know if there's much point in having classifiers like required and optional at that point - I can imagine backends providing a recommended semantic configuration, and us

[2021-11-10 15:58] djaglowski opened #2116 "Process ID should be a required attribute"
**What are you trying to achieve?**

[Semantic conventions for a Process resource](-runtimes) currently state (emphasis mine):

Although this guideline may be sufficient to differentiate executables from one another, it seems to be insufficient for the purpose of differentiating processes. Without a PID, process related signals may be ambiguous in origin, such as when originating from concurrent e

[2021-11-10 16:16] tigrannajaryan commented on #1875
@pmm-sumo It is not clear why this is so. If the parsing failed with an error then we will not set the timestamp field, so it will be empty. If the parsing failed silently and produced some value how will we know it is incorrect even if it is recorded in a different field? What is “incorrect” in this context?

[2021-11-10 16:35] pmm-sumo commented on #1875
Let's consider today's date, which I would write down as `10/11/21`. In some countries it could be written as `11/10/21`. If the parser is set incorrectly, it might yield October 11th rather than November 10th. This will not produce error but would store incorrect date otherwise.

Having the receipt timestamp (and observing it's so far away from the parsed date) would make it much easier to spot s

[2021-11-10 16:38] tigrannajaryan commented on #1875
A slightly different approach is to re-define the current `Timestamp` field to mean "the time when Otel first observed this event". For Otel SDK-based sources this will be the generation time. For other source this will be the receipt/collection time by Collector. This is similar to what @djaglowski describes as "It should represent the first time that an OTel component interacted with the log".

[2021-11-10 16:43] tigrannajaryan commented on #1875
Side note: we have `flags` fields in OTLP which has a lot of reserved bits, so if we wanted to record any indicators about the timestamps that would be fairly cheap to do. For example if we need to know whether the `Timestamp` is generated by Otel SDK or populated by Collector when it saw the event the first time that would be a single bit.

[2021-11-10 16:44] pmm-sumo commented on #1875
I like the alternative approach. I think it is an elegant solution. I don't have any other common timestamp fields on my mind. We can ask for those during the SIG. I those would be present, they could be also made part of semantic conventions.

[2021-11-10 19:22] tigrannajaryan commented on #1875
From Log SIG today:

We probably want 2 fields: ObservedTimestamp and SourceTimestamp (names preliminary). ObservedTimestamp is the time when event was first observed in Otel (generated by Otel SDK or collected by Otel Collector). SourceTimestamp is what we could extract from the source (e.g. parse from file, copy from another protocol, etc).

For backends the best timestamp to use would be:
- Sou

[2021-11-10 19:59] djaglowski commented on #1875
In addition to what Tigran captured, I think it's important to note that first party applications would directly populate the SourceTimestamp as the log is created.

If we are to keep the current name of the `Timestamp` field, I think it should represent the time the log/event was emitted, to the best of our knowledge. (e.g. it should mean SourceTimestamp). My rationale is that the SourceTimestamp

[2021-11-10 20:29] djaglowski commented on #1808
This was discussed today in the Log SIG as part of our effort to resolve any issues that may affect the log data model. PR #2092 potentially resolves the issue, pending review from @jsuereth.

[2021-11-10 20:34] djaglowski commented on #2063
The Log SIG reviewed this issue today as part of our effort to stabilize the log data model. Consensus is that we'd appreciate validation of Tigran's summary from any of @jsuereth @bogdandrutu @jmacd before closing the issue.

[2021-11-10 21:08] kenfinnigan commented on #2114
These are very interesting points I hadn't really thought of, and I agree with @anuraaga's comments around applicability of required/optional delineation for backends.

However, I can see the benefit for some level of "required" information to enforce that all backends are able to understand those attributes and their meaning. Granted, it doesn't guarantee a backend actually utilizes the attribute

[2021-11-11 01:11] pyohannes commented on #2114
OpenTelemetry doesn't define any requirements for vendor backends, but it does for instrumentation. By doing that, it should give vendor backends a baseline they can rely on, but it's completely up to vendor backends which attributes they utilize.

But "truly optional" attributes would still be defined in the semantic conventions?

[2021-11-11 06:37] reyang commented on #2064
Here are some related discussions https://github.com/open-telemetry/opentelemetry-specification/pull/2035#issuecomment-965540896.

[2021-11-11 07:01] lmolkova commented on #2114
I guess we're talking about the same thing, is this a fair summary?

1. Some attributes that are always worth collecting despite perf impact
2. Others that are useful, but not for everyone. Since collecting them adds overhead, we might want to optimize collection.
3. Some additional things like custom headers - convention exists for prefix only or doesn't exist at all

And we need to pick a defaul

[2021-11-11 12:23] cruisehall commented on #2033
@scheler We built some manual instrumentation to close this gap (i.e. to help engineers build mental models for the failure modes that can occur _before_ a server responds to an HTTP request). In the end we found it useful to define some additional attributes about the outcome* of the HTTP request, which seems to clarify the otherwise ambiguous `span.status=Error` in the case of "client-side error

[2021-11-11 15:57] scheler commented on #2033
@cruisehall Curl does this pretty well - for all client-side errors it exits with a non-zero exit code and for server errors you are required to examine the response.  See: https://gist.github.com/scheler/19fa9cd307b3d293ffc2e8660937392f

For `peer_responded`,   maybe we can go with the convention that when you don't get a response the issue is on the side which gave up and closed the tcp connecti

[2021-11-11 17:11] kenfinnigan commented on #2114
Given vendors can pick and choose which attributes they utilize, we should look to have the smallest set of required attributes that aligns with all vendor backends.

[2021-11-11 17:26] yurishkuro commented on #2114
Why can't the backend functionality gracefully degrade when certain attributes are not present? Can someone give an example of an attribute whose absence would be catastrophic/non-recoverable for the backend?

[2021-11-11 21:25] lmolkova commented on #2114
It can, the problem is that there is no path to a great experience when certain instrumentation chooses not to expose optional attributes.

E.g. `http.route` is optional currently, meaning that **any** instrumentation should feel free to skip it. Without route, there is no good way to query or build metrics for given high-cardinality path.

[2021-11-11 21:29] lmolkova commented on #2114
assuming we pick the bare minimum, what do we do with other useful attributes? Do we require instrumentation to add them behind configuration? add depending on the author's choice? not add at all? I'm trying to create some clarity on this particular part and find defaults.

[2021-11-11 21:34] kenfinnigan commented on #2114
As you suggested previously, it feels like there are really 3 levels we need. The first is the bare minimum required attributes that most/all vendor backends will support, second is a group of attributes the community believes are beneficial but backends may not recognize, and then all other attributes.

I can see 2 and 3 being behind instrumentation flags, but 2 is enabled by default as the commu

[2021-11-12 00:53] anuraaga commented on #2114
I think currently the definition of a backend only involves OTLP

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/vendors.md

It would be a big addition to add attribute processing too as something a backend must do to support OTel. I'm not sure there is much benefit to it though - for example, even saying it's ok to not be any visualization as long as the att

[2021-11-12 03:55] yurishkuro commented on #2114
What is the path to great experience if the application chooses to disable tracing altogether? Disabling tracing is just an extreme case of not sending all useful attributes, i.e. verbosity level 0. The more data they send, the better/richer experience they get. I think any backend would still have to deal with apps that simply cannot use common instrumentation (maybe because they run on proprieta

[2021-11-12 04:02] cijothomas opened #2118 "Should Exemplar be enabled by default?"
Originally opened PR to improve wording (https://github.com/open-telemetry/opentelemetry-specification/pull/2105), but was clarified in the PR that, Exemplar was intentionally marked as a enabled-by-default feature.
Opening this issue, to discuss the question:
Should exemplar be enabled by default?

Since the feature has some perf penalty (at the minimum, check the current span from the context, a

[2021-11-12 13:38] yurishkuro commented on #2118
+1

[2021-11-12 13:50] svrnm commented on #1034
I stumbled across this issue recently as well, so I would be curious to get this conversation re-started.

A few thoughts:

Reg. service.deployment_id. That's an interesting addition. However, I am wondering if this should be part of [Deployment](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/deployment_environment.md), i.e. depl

[2021-11-12 14:40] tigrannajaryan commented on #2116
@jsuereth do you mind taking this? You had some good thoughts on this (particularly the cardinality increase).

[2021-11-12 14:41] tigrannajaryan commented on #2074
Yes, that's a separate issue. Let's not conflate with this one.

[2021-11-12 15:27] lmolkova commented on #2114
If users disable tracing, it's user's choice.. using uncommon instrumentation or writing custom one is also a user choice.
The goal of this issue is to make sure common instrumentation gives user the choice to send more or less data. Currently this choice is in instrumentation

[2021-11-12 16:44] scheler commented on #2033
Thinking further, all I care is to bring visibility to just these two issues - DNS and network connectivity - from the RUM clients. The rest all can be derived from the server side, including the client terminating the connection early. The network connectivity should include issues with any intermediaries such as forward proxies.

I realize the terms 'client side issue' vs 'server side issue' can

[2021-11-12 22:06] jack-berg commented on #2065
Just to clarify, this is different than the ability to configure temporality for the OTLP exporter? I.e. [OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk_exporters/otlp.md)

[2021-11-12 22:11] jack-berg commented on #1891
An initial implementation of cardinality defenses was [recently implemented](https://github.com/open-telemetry/opentelemetry-java/pull/3831) in java.

Im summary, each view has a max number of metric streams. Currently, this max is hardcoded to be 2000, which was chosen rather arbitrarily. If exceeded, we log a warning and drop subsequent recordings. At the same time we aggressively forget metric

[2021-11-12 22:28] jack-berg opened #2120 "Allow instruments to be collected on different intervals"
A coworker of mine suggested that there may be use cases in which it would be valuable for different metric instruments (or views) to be exported on different intervals. Suppose you were interested in getting JVM runtime metrics every 10 seconds, but a 60 second interval was sufficient for potentially higher cardinality metrics capturing http server usage. This example is a bit contrived, but shou

[2021-11-13 08:35] iNikem commented on #2114
Now I am confused :) Is this issue about providing configuration mechanism or about marking some attributes as required?

I think that `http.route` is a perfect counter-example to your arguments :) You say

I understand it that you want to mark `http.route` as required attribute for `SERVER` spans. But it is not always possible for auto-instrumentation to provide it. My HTTP server may not use dec

[2021-11-13 14:19] anuraaga commented on #2114
`route` is a nice example - I feel it provides information on both sides.

- `route` can be hard to populate with instrumentation as it generally needs a well-designed underlying framework

- `route` is basically necessary for useful metrics for HTTP server

I feel the second point is more important though, and applies to tracing as well. I suspect most people that have used tracing know how impor

[2021-11-15 10:34] pirgeo commented on #2065
I was thinking about it in more broad terms, i.e. every exporter that supports that environment variable can read it and set the preferred temporality. The mechanism would be the same, but the scope would be a bit bigger. I guess setting it for each exporter individually is also a way to go, and gives you more granular control. These two paths do not interfere with each other, I'd use the more spe

[2021-11-15 18:51] reyang commented on #2120
This seems to be a dup of #1432.

[2021-11-15 18:56] reyang commented on #2118
Discussed during [11/11/2021 Metrics SIG](https://docs.google.com/document/d/1pdvPeKjA8v8w_fGKAN68JjWBmVJtPCpqdi9IZrd6eEo/edit#heading=h.pnuzwm7i7bx). So far the suggestion is to make it OFF by default.

@jonatan-ivanov mentioned during the SIG meeting: _I thinks it's better to be off by default, because the only popular backend that has exemplar is Prometheus, and it needs to be enabled explicitl

[2021-11-15 20:48] pmm-sumo opened #2125 "Clarify if zero-duration spans are valid?"
**What are you trying to achieve?**

Should we provide clarification if zero-duration spans are valid? Basing on [opentelemetry-proto](https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/trace/v1/trace.proto#L175-L176) those seem to be OK, however I wasn't able to find this mentioned anywhere in the tracing specs.

If such spans are acceptable, it is not clear how t

[2021-11-15 20:52] jmacd commented on #1078
Closing this in favor of whatever is decided in https://github.com/open-telemetry/oteps/pull/185

[2021-11-15 20:52] #1078 closed

[2021-11-15 20:52] yurishkuro commented on #2125
sometimes zero-length span is a modeling choice to compensate for span model's inability to express causality directly between events

[2021-11-15 22:15] jack-berg commented on #2120
Thanks @reyang. Thought that might be the case. Closing.

[2021-11-15 22:15] #2120 closed

[2021-11-16 11:01] Asafb26 opened #2127 "External API calls baggage behaviour?"
**What are you trying to achieve?**

Baggage is simply a key-value pair of data propagated through the trace, are external API calls supposed to be with baggage/traceparent header? my assumption is not (what about PIIs added to baggage?) should we provide a way to hide baggage/stop propagation for specific criteria or is it supposed to be handled by a custom propagator only?

[2021-11-16 12:21] arminru commented on #2098
For reference: This is related to #1895 which proposed the opposite.

[2021-11-16 14:27] jsuereth commented on #2118
I'm copying over what I wrote in that PR:

TL;DR: I think focusing Exemplars on Traces and tying its default to trace sampling is the right default, and promotes one of the core tenants to OTel -> promoting correlated telemetry.

I think there's an important distinction here that's possibly missing. By Default, Exemplar sampling is on only if there exists a Sampled Trace. The default requires:

-

[2021-11-16 17:33] bogdandrutu opened #2129 "Clarify SDK/MetricReader/MetricExporter boundaries"
**What are you trying to achieve?**

Clear design and terminology used. What is the "SDK", what are the components that an SDK communicates with, external boundaries, configurations, etc.

**Additional context.**

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#temporality-override-rules

It is very unclear if an SDK "knows" about the MetricExpo

[2021-11-16 18:23] bogdandrutu opened #2130 "Clarify the need and the difference between supported and preferred temporality?"
From https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#temporality-override-rules it seems that if there is a "preferred" use that -> it can translate into I support only the "preferred". No need for the both concepts if setting the "preferred" means will produce that anyway.

[2021-11-16 22:32] #2073 closed

[2021-11-17 03:44] legendecas opened #2133 "Clarify on if schemaUrl is part of InstrumentationLibrary"
**What are you trying to achieve?**

Ref: https://github.com/open-telemetry/opentelemetry-js/pull/2625#discussion_r750462192

In the spec, there are no clear statements about what an instrumentation library info consists of. Likely the InstrumentationLibrary should contain `name` and `version`, but the `schemaUrl` is not clearly stated if it is part of them.

I do find statements like the followin

[2021-11-17 03:45] spencerwilson opened #2134 "Details for peer service on spans of kind `SERVER`"
**What are you trying to achieve?**
We have two web applications which interact with a backend service over HTTP and WebSocket. On the backend's SERVER spans it would be valuable to have data that indicate "it was version 1.2.3 of Web App 1" that made this request. Pursuing this, two issues arise.

### Problem 1: How to store this data on SERVER spans

@anuraaga added the span attribute `peer.serv

[2021-11-17 07:00] lmolkova commented on #2114
I agree that `required` and `optional` words describe technical limitations that instrumentations and frameworks have, but do not help new instrumentation authors understand what and when they should provide.

So I'd change it to the following:
- `MUST`/`required` -> **provide always**, no configuration necessary (we believe all frameworks and instrumentation should be able to provide them)
- attr

[2021-11-17 08:07] pavolloffay opened #2135 "Support providing multiple OTEL_RESOURCE_ATTRIBUTES environment variables"
**What are you trying to achieve?**

I want to set resource attributes from multiple env variables. This is especially useful in Kubernetes with the downward API to set resource attribute for node, pod, namespace name etc.

[code]

The implementation(SDK) could get all env vars starting with `OTEL_RESOURCE_ATTRIBUTES_` and add them to resource attributes. The key of the attribute would be everythi

[2021-11-17 14:49] kenfinnigan commented on #2114
What would be the expected result for a _provide always_ attribute if it's not there? Is it an error, or it falls back to a _provide if available_?

My one concern with merging _provide always_ and _provide if available_ is making attributes which should be there, less likely to be there as there is no longer an **always** requirement.

[2021-11-17 16:47] pyohannes commented on #2114
I think @lmolkova's intention of merging those is to come with something like _always provide if available_, or _must provide if available_.

[2021-11-17 19:55] kenfinnigan commented on #2114
Thanks @pyohannes, that helped my mental model.

I like the addition of _always_ to indicate the required nature of the attribute.

[2021-11-18 00:43] anuraaga commented on #2114
@kenfinnigan I think users need to be in control of their data (_always_ 😂 ) - I can't imagine having any attribute that is not allowed to be disabled somehow, that seems to take too much control away. I am a fan of merging into _provide if available_ personally.

[2021-11-18 01:03] kenfinnigan commented on #2114
I see your point. I've been coming at it from the perspective of a minimum set of information provided to backends, but I appreciate OTeL doesn't control that aspect

[2021-11-18 02:11] carlosalberto opened #2137 "OpenTracing layer support for Baggage"
In OpenTracing, `SpanContext` and `Baggage` are part of the same object, whereas in OpenTelemetry they are different objects. This would be straightforward and trivial to support **if** the **OpenTracing Shim** couldn't be used along the OpenTelemetry API in the same code base -- which, however, has been deemed important to support gradual adoption in large codebases.

This currently is supported

[2021-11-18 15:23] Cavvar commented on #1089
Hello everyone!
I just wanted to add that a solution with something like a `beforeEnd` hook would still be appreciated!

[2021-11-18 16:57] Kunkunprince opened #2138 "I have a track file for android Context.data xml file I want to extract to see my trace flow"
**What are you trying to achieve?**

What did you expect to see?

**Additional context.**

Add any other context about the problem here. If you followed an existing documentation, please share the link to it.

[2021-11-18 17:30] yurishkuro commented on #2137
Honestly, at this point I would settle for using OT Shim alone. Co-existence with OTel instrumentation is nice to have, but we don't seem to have a lot of demand for it.

[2021-11-18 17:59] aabmass opened #2139 "Clarify if MetricReader would ever be implemented by the user"
**What are you trying to achieve?**

Implement the SDK spec in Python.

**Additional context.**

It is not clear to me from the spec if `MetricReader` is supposed to be implementable by the user or if they would only ever use the two provided implementations (for push and pull).

1. Would a user ever subclass `MetricReader`? What would they gain from this, or is it intended that they can only use

[2021-11-18 18:25] aabmass opened #2140 "Clarifications on Periodic metric reader"
**What are you trying to achieve?**

Implementing the SDK spec in Python

**Additional context.**

Copying for reference [Periodic exporting metric reader](https://github.com/open-telemetry/opentelemetry-specification/blob/e2a4f057a56517cdc43026459e3d5a22be420147/specification/metrics/sdk.md#periodic-exporting-metricreader):

Since it is a `MetricReader` impl, it has a [`collect()`](https://github

[2021-11-18 18:31] aabmass commented on #2129
Not related to temporality but I also don't understand the boundary between exporters and readers for shutdown. An exporter is always tied to one `MetricReader` but it is `MeterProvider`'s job to call shutdown on them separately:

There is an specific order needed for shutdown, though. For push exporters, you need to shutdown the reader (to flush the SDK) and then the shutdown the exporter. For pu

[2021-11-18 18:35] aabmass opened #2141 "Clarify what happens if a View matches with multiple instruments"
**What are you trying to achieve?**

Implement the SDK spec in Python.

**Additional context.**

The spec isn't clear what happens if a view matches multiple instruments, for example if it selects all counters.

@jsuereth in chat:

In other words, because the view’s output stream name [defaults to that of the instrument](https://github.com/open-telemetry/opentelemetry-specification/blob/5418462162

[2021-11-18 18:59] scheler commented on #2033
Just noticed that the semantic convention for the attribute http.status_code already mentions that it should be set if and only if it is available. I will close this ticket; will take up the issue with JS sdk for web separately.

One case that remains unaddressed is when a forward-proxy is used (like squid or envoy proxy in case of istio), they will respond with some status_code to the client when

[2021-11-18 18:59] #2033 closed

[2021-11-18 19:09] reyang commented on #2139
Discussed during the SIG meeting - the suggestion is to call out the `Collect` is expected to be provided by the SDK, and supposed to be provided by the SDK user.

[2021-11-18 19:32] reyang commented on #2140
Discussed during the Metrics SIG meeting, the lack of precise description was kind of intentional in order to give room for language implementations.

What we can do - add one concrete example so we can help the implementers.

[2021-11-18 19:36] reyang commented on #2140
Another feedback - the fact that `meterProvider.ForceFlush` calls `metricReader.Collect` and then (if the reader has underlying exporters) calls `metricExporter.ForceFlush` is hard to understand.

[2021-11-19 09:17] legendecas opened #2143 "Attribute identities on metric streams"
**What are you trying to achieve?**

As the state, `Attribute` values can be primitive values like string, boolean, double and int64 (https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/common.md#attribute). SDKs treat `Attribute` as part of the metric stream identity (https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/met

[2021-11-21 21:29] deejgregor commented on #740
Is anyone working on a PR for this change to the spec (or planning to work on one)? If not, I'm happy to work on a PR. I'm very new to OpenTelemetry, so if there is anyone who would like to volunteer to answer some questions (if needed) and do an initial review, that would be great for this newb.

[2021-11-22 20:04] lmolkova commented on #2114
it sounds like we have some consensus here, I'll send a PR to HTTP spec as a start. Once we have an agreement there,  we can generalize it beyond HTTP (and it would require some tooling change around yml).

[2021-11-22 21:46] carlosalberto commented on #2137
@yurishkuro I [prototyped](https://github.com/open-telemetry/opentelemetry-java/compare/main...carlosalberto:otshim-spanshim-lock?expand=1) a simple approach where the `SpanContext` + `Baggage` are stored/locked in the `Span` Shim object itself, which greatly simplifies things (and allows to have **full** compatibility with OT).

One thing to notice is that in OpenTracing children `Span` inherit t

[2021-11-22 22:02] carlosalberto opened #2147 "Mark the OpenTracing compatibility section as stable"
This issue will serve to track the remaining work to mark the OpenTracing compatibility as stable:

 - [x] Add OpenTracing to the compliance Matrix (#2046)
 - [x] **Only** error mapping should happen in the Shim (#2148)
 - [x] Finalize defining Baggage support (#2137)
 - [x] Decide whether a common `tracer name` should be used when [creating the Shim](https://github.com/open-telemetry/opentelemetr

[2021-11-23 00:55] yurishkuro commented on #2137
sgtm

[2021-11-23 02:55] legendecas opened #2149 "Clarify the terms "aggregation" and "aggregator""
**What are you trying to achieve?**

When implementing the feature-freeze metrics SDK, we found that the terms "aggregation" and "aggregator" are used in the spec in an interchangeable way confusingly and the spec didn't explain the detailed concept of how aggregation works.

**Additional context.**

In Java's implementation, there are four concepts for the "aggregation":

1. `Aggregation` for sel

[2021-11-23 05:20] reyang commented on #2129
MeterProvider doesn't see exporters, it only sees readers. Certain language implementation might choose to model Prometheus Exporter (or any pull exporter) as a MetricReader instead of MetricExporter, according to the SDK spec.

[2021-11-23 05:36] reyang commented on #2129
Probably it could be simpler, I can give one possible way of implementing this (it's just one of the many possible ways of implementing this). Note that I only give the higher level ideas, there are many devils in the details (e.g. how to properly handle synchronization in a performant way).

For push exporter:
* Reader shutdown getting called
* Reader shutdown does necessary job (e.g. collection,

[2021-11-23 05:59] reyang commented on #2141
Right, this is already covered by the SDK spec although we didn't call out this specific case explicitly:

_If there is an error (e.g. the View asks for extra dimensions from the Baggage, but the Instrument is asynchronous which doesn't have Context) or **a conflict** (e.g. the View requires to export the metrics using a certain name, but the name is already used by another View), provide a way to

[2021-11-23 06:29] reyang commented on #2149
Both "aggregation" and "aggregator" are used in https://github.com/open-telemetry/opentelemetry-proto/blob/b43e9b18b76abf3ee040164b55b9c355217151f3/opentelemetry/proto/metrics/v1/metrics.proto.

I think in the SDK spec we probably should use "aggregation" (and avoid "aggregator"). "Aggregator" could be a reserved name that we add after the Stable release, to allow custom implementations of "aggreg

[2021-11-23 13:06] chalin opened #2152 "Should the Tracing signal maturity level be Mixed?"
The **Tracing** OTLP maturity level:

- Is **Stable** according to [OpenTelemetry Protocol Specification > Signals Maturity Level]
- Should be **Mixed**, according to [OTLP Maturity Level], due to the given status breakdown?
  Component | Maturity
  -- | --
  trace/trace.proto | Stable
  trace/trace_config.proto | Alpha

Which one is correct?

/cc @austinlparker

[OTLP Maturity Level]: https://git

[2021-11-23 16:14] reyang commented on #2130
@bogdandrutu had a question if we need both - if we need both and later we remove one, it'll be a breaking change.

[2021-11-23 16:27] reyang commented on #2141
@jsuereth suggests that if the view is specified with multiple types, we simply disallow rename.
@bogdandrutu +1.

[2021-11-23 16:42] reyang commented on #2149
Some of the names from Java were carried from the previous implementation (according to @jsuereth).
* Aggregation
* Aggregator (instance of Aggregation)
* Cumulation (the result of performing an Aggregation)

Doesn't think it's a spec issue, more like Java implementation issue?

@bogdandrutu mentioned that most of these are internal, so it's not an issue for Java.

@reyang proposed that the SDK sh

[2021-11-23 16:45] reyang commented on #2143
OTLP streams will keep the type.
Other streams have freedom to define their behavior.
OTLP (preserves types) to Prometheus (string only) will have lossy conversion.

[2021-11-23 17:08] reyang commented on #2118
From my understanding there are two major things that worth discussion:
1. If both traces and metrics are enabled, do we want to have exemplars on-by-default?
  * If we look at the systems today, most of them do not support exemplars (just like in the old days most logging systems do not support correlation ids).
  * We (the Metrics SIG) believe that the design should be forward looking. It should

[2021-11-23 17:21] #2129 closed

[2021-11-23 19:58] yurishkuro opened #2155 "The concept of exemplars is very vaguely defined in the spec"
From https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#exemplars

"recorded value" of what? A time series is already a collection of recorded values, how is exemplar related to that?

What does that mean? Why does one need that? What problem is it trying to solve? Is it the only way to solve that problem?

Recorded values are being captured

[2021-11-23 19:59] yurishkuro commented on #2118
I just opened an issue #2155. I hope it illustrates how premature this discussion about "on by default" is.

[2021-11-23 20:33] aabmass commented on #2129
@reyang this got closed by #2132, should I open a separate issue to continue this discussion or can your re-open?

[2021-11-23 21:21] bogdandrutu opened #2157 "Exporter has access to pre-aggregated metrics?"
**What are you trying to achieve?**

Clarification of terminology,

What did you expect to see?

"aggregated metrics"

**Additional context.**

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#metricexporter

[2021-11-24 02:40] anuraaga opened #2160 "Remove baggage handling from metrics SDK for now"
Reading through the spec in context of #2150 to check it vs Java.

I think there should be a higher level cross-signal discussion about baggage before adding it to any particular signal. Notably, in Java instrumentation we generate one `Attributes` and would expect baggage to be populated into this via instrumentation. It would still be ok if the SDK in addition provided a mechanism for this trans

[2021-11-24 03:04] legendecas opened #2165 "Clarify on the term Aggregation"
**What are you trying to achieve?**

In the metrics SDK spec, the term [Aggregation](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#aggregation) is declared to "informs the SDK on the ways and means to compute Aggregated Metrics from incoming Instrument Measurements."

Also, there is a pre-defined aggregation `DefaultAggregation` which acts lik

[2021-11-24 03:05] #2165 closed

[2021-11-24 03:05] legendecas commented on #2149
In the spec, the term [Aggregation](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#aggregation) is declared to "informs the SDK on the ways and means to compute Aggregated Metrics from incoming Instrument Measurements."

Also, there is a pre-defined aggregation `DefaultAggregation` which acts like the previously defined AggregatorSelector, and

[2021-11-24 03:06] legendecas commented on #2165
Continuing the discussion on https://github.com/open-telemetry/opentelemetry-specification/issues/2149

[2021-11-24 06:34] reyang commented on #2160
+1 with the consideration of:
1. the support for baggage can be an additive change post Stable
2. given the metrics effort has been running for long time, we should prioritize **Stable with a confined scope** instead of **keep delaying with bigger scope**

[2021-11-24 08:58] JosemyDuarte commented on #639
Is this still in development? I'm trying to enable distributed tracing from a JS service to a Golang service which communicate via gRPC but it doesn't work as described on [@opentelemetry/instrumentation-grpc](https://www.npmjs.com/package/@opentelemetry/instrumentation-grpc), could `grpc-trace-bin` be the reason? If it so, then how it's @opentelemetry/instrumentation-grpc supposed to work if is n

[2021-11-24 17:02] jsuereth commented on #2155
A bit of a response, out of order.

This was covered in the OTEP.  Generally we don't include "why" in the data model spec, although it's been leaking in it.  DataModel specification focuses on "WHAT", the "why" should be in other sections.  The [original OTEP](https://github.com/open-telemetry/oteps/blob/main/text/metrics/0113-exemplars.md) outlines the motivaton.

However, I'll mention that exem

[2021-11-24 17:06] jsuereth commented on #2160
Just want to make two points:

1. I think baggage configuration/usage needs to be an SDK concern.   While I agree instrumentation *should* provide seamless access to baggage, I'm not sure we want to remove signal-specific baggage controls.  Especially in traces vs. metrics debates where metrics need to limit cardinality, it's HIGHLY likely that baggage will need first-class visibility, even if pro

[2021-11-24 19:08] #2130 closed

[2021-11-25 00:13] yurishkuro commented on #2155
The OTEP has a much better (certainly a couple sentences longer) definition of the exemplar, why couldn't it be copied into the spec? And at minimum the spec should link to the OTEP if OTEP provided additional context & motivation, how else are people supposed to find that information when reading the spec?

Most aggregations, especially for the most basic measurements like latencies and counts, h

[2021-11-25 05:02] anuraaga commented on #2160
The APIs need Context anyways for exemplars so I don't see them going away with the removal of language about baggage in SDKs. Adding to views in the future should be additive and no problem, agree that this is important so hopefully it will give some time to dig more into.

[2021-11-25 17:02] tigrannajaryan commented on #1215
Update from the last spec SIG meeting:

- We will explore if we can tell that instrumentation library name is intended to capture the scope of instrumentation (and library is one of the possible scopes).
- We will also look at the possibility to rename "instrumentation library" to "instrumentation scope" everywhere (should make sure it is not a breaking change).
- If the first item above is doable

[2021-11-25 17:04] tigrannajaryan commented on #1215
I discussed this with @jack-berg and he believes putter the Logger Name into the instrumentation library name is doable (there may be a small performance impact, but if it proves significant a workaround is possible).

[2021-11-26 15:03] #1511 closed

[2021-11-28 15:23] iNikem opened #2171 "Applicability of http semantic conventions"
[Semantic conventions for HTTP spans](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#semantic-conventions-for-http-spans) says (emphasis is mine):

Does this mean that if a http client supports URL with other schemes, such as `ftp`, `webcal`, `feed` or [`h1`](https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.7

[2021-11-29 18:33] reyang commented on #2160
I'm trying to find a balance and I ended up with this proposal (which I brought up in the Oct. 29th, 2021 Maintainer's SIG meeting):
1. We mark the Metrics SDK Specification as Mixed Status, with MeterProvider/MetricReader/MetricExporter marked as Stable, and Baggage/Context/Exemplar as Experimental #2150.
2. For metrics interaction with traces (e.g. exemplar) and context/baggage, we should focus

[2021-11-29 19:43] #2139 closed

[2021-11-30 06:32] brettmc commented on #2110
Closing this issue, per comment https://github.com/open-telemetry/opentelemetry-specification/pull/2172#issuecomment-982312473 - SIG group do not want to create too many env vars, and suggest `BatchSpanProcessor` is a sensible default (eg for Java implementation)

[2021-11-30 06:32] #2110 closed

[2021-11-30 16:23] jsuereth commented on #2155
Thanks for this list, so given the above, I'll do the following to the spec as written:

1. Improve description of exemplar, based on OTEP with a better notion of WHY instead of WHAT.
2. Regarding "measurement" as a term, it's heavily used in the SDK spec (where this lives), so I'd like to keep using it.  I'll take a crack at making sure it's clear what that means to an SDK author.  I'll clarify t

[2021-11-30 16:23] reyang commented on #2157
Fixed by #2158.

[2021-11-30 16:23] #2157 closed

[2021-11-30 17:20] Oberon00 opened #2176 "Are invalid SpanContexts allowed as Links? Needs spec clarification."
I was trying to create a link to an invalid SpanContext in opentelemetry-java, but there was no link created. It seems that the Java implementation ignores attempts to add links with invalid SpanContexts. I think the spec is unclear here if this should be allowed. I think it should be allowed to avoid creating edge cases.
E.g. one might want to put certain attributes describing an incoming call on

[2021-11-30 17:48] reyang commented on #2149
The SDK part is covered by #2153, the data model spec needs to be updated before we can resolve/close this issue.

[2021-11-30 17:50] ocelotl opened #2177 "Update spec compliance matrix for Python metrics"
The spec compliance matrix for Python matrix is not up to date, update it.

[2021-11-30 19:34] yurishkuro commented on #2176
I'd say it should not be allowed, because it creates a dangling reference that cannot be followed, causing more special case handling elsewhere. Since this is already a special case and is not actually pointing to another trace/span, the information can be captured using other constructs, such as span event.

[2021-11-30 22:27] jmacd opened #2179 "Refactor the built-in Samplers for probability sampling"
**What are you trying to achieve?**

For the probability sampling specification, a review comment in #2047 points to a potential for inconsistency stemming from the `ParentBased` Sampler API, which permits configuring different samplers based on the parent context's `sampled` flag.

The comment https://github.com/open-telemetry/opentelemetry-specification/pull/2047#discussion_r757691632 thread poi

[2021-11-30 22:31] pyohannes commented on #2176
It seems to me the [spec is deliberately unclear](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#specifying-links) in that regard:

The use case is a valid one, but I'm a bit skeptical about using dangling links as a tool to model it. As mentioned above, it will also require adding special logic to indexers and visualization tools.

[2021-12-01 00:04] carlosalberto commented on #2176
I'd also be up for completely ignoring them. Btw, the wording came from https://github.com/open-telemetry/opentelemetry-specification/pull/1492 regarding API/SDK separation. Any opinion on this @bogdandrutu ?

[2021-12-01 02:44] chenjazz opened #2181 "Properties of sampler can not be transformed to YAML"
![image](https://user-images.githubusercontent.com/11512994/144014843-f4f3c050-043f-4c70-85dd-5c810da3c0a6.png)
The [System property]( https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/autoconfigure/README.md#sampler) names is nested,can not be transformed to  YAML . If we want to read from yaml file in the future versions,it will be a bug.

I think it should be added a

[2021-12-01 09:39] Oberon00 commented on #2176
The link would not be dangling (pointing to a non-existent span) but a null-link (pointing to the all-zero trace+span ID).

[2021-12-01 17:34] Oberon00 commented on #2176
I did not see that null-links were already mentioned, but I think this is a case where leaving it undefined is harmful.

[2021-12-01 18:35] djaglowski commented on #2068
This was discussed in the Log SIG today and it was agreed the issue can be closed. See [#188 (comment)](https://github.com/open-telemetry/oteps/pull/188#issuecomment-983944628).

[2021-12-01 18:39] djaglowski commented on #2074
This was discussed in the Log SIG today. It was agreed that the field should remain. A clarification that cardinality should be limited will be proposed to the data model by @jack-berg. This issue is expected to be closed once that language is added.

[2021-12-01 19:02] #2068 closed

[2021-12-01 19:22] #2177 closed

[2021-12-01 19:52] djaglowski commented on #2063
This was discussed in Log SIG again today. Consensus was that there seems to be no objection to the interpretation described by Tigran above, and that the issue can be closed.

[2021-12-01 20:11] #2063 closed

[2021-12-02 16:05] tigrannajaryan commented on #1875
@pmm-sumo @djaglowski should we move forward with this? I think we are in virtually in agreement, except perhaps the naming of the fields. If we want to change the name and clarify the meaning of the `Timestamp` field I beleive we should do it before we declare the data model stable.

[2021-12-02 18:20] tigrannajaryan commented on #1875
What do you think about these definitions for our data model:

- `Timestamp` - Time when the event occurred measured by the origin clock, i.e. the time at the source. This field is optional, it may be missing if the source timestamp is unknown.
- `ObservedTimestamp` - Time when the event was observed by the collection system. For events that originate in OpenTelemetry this timestamp is typically s

[2021-12-02 18:24] djaglowski commented on #1875
@tigrannajaryan, I agree we should resolve this before the data model is declared stable, and I support your latest proposed design.

[2021-12-02 19:10] tigrannajaryan commented on #1875
@pmm-sumo what do you think?

[2021-12-02 20:51] pmm-sumo commented on #1875
Plus one on the recent proposal. I would be actually good with any variation that solves the above issue. I think it fits the use cases we're having

[2021-12-02 22:16] tsloughter opened #2185 "Extracting propagated baggage to an existing baggage context"
**What are you trying to achieve?**

Clarification of how baggage extracted from a propagated context should interact with existing baggage in the context.

The extract function takes a context and a carrier, https://github.com/open-telemetry/opentelemetry-specification/blob/v1.8.0/specification/context/api-propagators.md#extract, and the context could have baggage already set.

In the case there

[2021-12-02 22:59] jsuereth opened #2186 "[Semantic Conventions] Http metric semantic conventions don't use semantic convention for defining units."
HTTP semantic conventions define units like "microseconds".  According to [this](https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/metrics/semantic_conventions#instrument-units), the unit needs to be on [ucum](https://ucum.org/ucum.html)

[2021-12-03 03:34] legendecas opened #2187 "Clarify SumAggregation on asynchronous counter"
**What are you trying to achieve?**

In the SDK spec on DefaultAggregation, it suggests that for AsynchronousCounter a default SumAggregation is used for aggregation.

When implementing the SumAggregation for the asynchronous counter, I found that in the SumAggregation:

Whilst to the asynchronous counter, the `Measurement` values mean:

That's been said, the `Measurement` values in asynchronous c

[2021-12-03 14:08] pichlermarc commented on #2186
This seems to be related to #705 and #1794.

The same sees to be the case for
- [FaaS Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/faas-metrics.md)
- [http Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md

[2021-12-03 15:24] ericmustin commented on #1670
Was there any reason this stalled? The stronger we can make the semantic conventions around instrumentation attributes, the better, especially for these details which are already implemented across multiple languages?

[2021-12-03 20:48] lonewolf3739 opened #2193 "Clarify collect + reset on exemplar reservoir"
FYI - This is a good callout.  There were a few clarifying things in the spec that got dropped, but we can add:

1. The collect+reset here is to account for DELTA vs. CUMULATIVE aggregation windows.   Exemplars collection should mirror aggregation.  In Java implementation, all synchronous instruments *always* report DELTA accumulations, hence collect+reset by default.
2. Exemplar preservation shou

[2021-12-05 18:46] SmokeDawg92967 opened #2195 "Adding emails"
**What are you trying to achieve?**
--- adding all emails to my account
What did you expect to see?
-- a much easier way to code
**Additional context.**

Add any other context about the problem here. If you followed an existing documentation, please share the link to it.

[2021-12-06 02:22] jsuereth commented on #2187
This is a good callout.

In the Java (early) prototype I actually had two types of measurements:  Delta + Cumulative, where Async instruments (and Histogram) provided Cumulative measurements and Sync *Counter provided Delta measurements.   This helped clarify what aggregation should do by default when it sees these measurements.

However, one thing that may *not* be clear, is that Sum-Aggregation

[2021-12-06 09:01] blumamir opened #2198 "Support sampler attributes in SDK Built-in samplers"
**What are you trying to achieve?**

[According to the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#sampler), the SamplingResult can return attributes in addition to the sampling decision. However, the [Build-in Samplers](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#built-in-samplers)

[2021-12-06 09:02] blumamir commented on #2198
link to issue in opentelemetry-js: https://github.com/open-telemetry/opentelemetry-js/issues/2649

[2021-12-06 09:36] BassWindoo opened #2200 "Configurable measuring interval by counter (instrument)"
### Discussed in https://github.com/open-telemetry/opentelemetry-specification/discussions/2189

<div type='discussions-op-text'>

<sup>Originally posted by **dzediar** December  3, 2021</sup>
Hello,

In my application, I would like measurement intervals specific to each instrument.

In the source of MeterProviderSdk, would it be possible toadd an event / action in MeterProviderSdk.CollectObservab

[2021-12-06 14:41] yurishkuro commented on #2198
Attributes returned by the sampler are meant to describe the sampler itself. You seem to be interested in adding arbitrary attributes, but what does it have to do sampling? You can add them directly.

[2021-12-06 15:48] yurishkuro commented on #2198
Which is what built-in samplers already do, you don't need them to add any additional attributes. If you do, then looks like you're describing something more specific to your use case, not the default behavior of the built-in samplers, in which case implementing a wrapper sampler with any custom behavior w.r.t. attributes that you want seems a valid path.

[2021-12-06 17:24] arminru commented on #2181
Thank you for raising this @chenjazz! The spec only defines environment variables and for these the name overlap is not an issue. Also, this part of the specification is considered [stable](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/document-status.md) already.

I suggest that for the Java SDK where System properties are used, `otel.traces.sampler.name` c

[2021-12-06 21:28] jack-berg commented on #2200
Possible duplicate of #1432, which was also discussed in #2120.

[2021-12-06 22:26] ndimiduk opened #2202 "DB Convention does not cover batch/multi/envelope operations"
Our API has a small alphabet of relatively simple operations key-value operations (`get`, `put`, `delete`, &c.) For these, the operation names seem clear. We also have a set of operations that support bulk/batching of operations. these can be homogeneous or heterogeneous. For example, `batch` can accept a set of any combination of `get`, `put`, `delete`, &c. We also support a generic system for se

[2021-12-06 23:03] tigrannajaryan opened #2203 "Is it possible to rename "instrumentation library" to "instrumentation scope" everywhere?"
This initially came from a [discussion](https://github.com/open-telemetry/opentelemetry-specification/pull/1236#issuecomment-970464780) about introducing Logger Name.

While discussing the issue during the spec SIG meeting we came to a conclusion that the intent for "instrumentation library" was actually to have an "instrumentation scope".

The "instrumentation library" is currently used throughou

[2021-12-07 08:17] blumamir commented on #2198
I want to use the build-in samplers for the decision logic, but set the attribute semantic myself based on the specific use.
It is true that I can implement a wrapper sampler, which only invokes another sampler and merge attributes to the result. This is what I am currently doing.
I think the use case is general enough to be supported in the SDK instead of being implemented again and again when ne

[2021-12-07 14:59] dyladan commented on #2203
From some of the discussions linked here, its clear that there is still some confusion about what the instrumentation library is, but renaming it to instrumentation scope doesn't clear up that confusion. In my opinion this change is just changing one term for another, more confusing, term. I have a few problems with this. First, it seems that the proposal in the logging discussion actually seeks t

[2021-12-07 15:19] tigrannajaryan commented on #2203
This is not entirely correct. It does not seek to expand the meaning of the field. It seeks to fix the broken description and naming of the field. The initial idea and intent of the field is not correctly reflected neither in the current name of the field nor in its current description. At least this is the takeaway I have from the Spec SIG discussion we had 2 weeks ago.

@bogdandrutu is the perso

[2021-12-07 15:40] tigrannajaryan commented on #2203
Update: this would be a breaking change for JS: https://github.com/open-telemetry/opentelemetry-js/issues/2656
Technically this is sufficient to conclude that we cannot make this project-wide change anymore. I don't think we can allow some of the SDKs to use "instrumentation library" and some others "instrumentation scope" as the name of the same concept. That would be confusing and IMO is wrong.

[2021-12-07 15:46] dyladan commented on #2203
It was my understanding that `component` referred to the library being instrumented like `mysql`. `InstrumentationLibrary` refers to the library which is doing the instrumenting like `otel-autoinstrumentation-mysql`. In some cases where a library instruments itself (native instrumentations), they may have the same value, but component and `InstrumenatationLibrary` are not the same thing.

[2021-12-07 16:42] jmacd commented on #2187
I thought this topic had been covered in the supplementary guidelines, https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/supplementary-guidelines.md, but I see that no such example is given. I will take this issue to update the guidelines to explicitly cover removal of an attribute from a cumulative counter.

[2021-12-07 16:59] tigrannajaryan commented on #2203
Multiple SDKs reported that this would be a breaking change. We cannot move forward with this.
I am closing this issue as it appears to be a dead end. The change of the name of the "instrumentation library" concept is not possible.

[2021-12-07 16:59] #2203 closed

[2021-12-07 17:09] tigrannajaryan commented on #1215
Update: this was discussed in the spec SIG meeting a couple weeks ago ([11/16/2021](https://docs.google.com/document/d/1pdvPeKjA8v8w_fGKAN68JjWBmVJtPCpqdi9IZrd6eEo/edit#heading=h.izshar9qcc24)). The outcome of that discussion was the following:

1. We will explore if we can tell that instrumentation library name is intended to capture the scope of instrumentation (and library is one of the possibl

[2021-12-07 17:21] yurishkuro commented on #2198
can you show concrete example of code & attributes?

[2021-12-07 19:23] dyladan commented on #2149
from @legendecas comment it doesn't seem like he feels the sdk part was resolved by #2153

[2021-12-08 00:40] legendecas commented on #2143
Not every language stringifies `true` and `false` with `"true"` and `"false"`. It is `"True"` and `"False"` in python. Should the serialized value to be language specific?

[2021-12-08 00:49] jsuereth commented on #2143
@legendecas for now, i'd stick with what the collector does here for Prometheus.  It's likely we'll specify what the collector does as the common denominator between implementations.   If this causes issues we can prioritize specification here.

[2021-12-08 08:35] blumamir commented on #2198
Sure, here is a simplified example of my need in js:

[code]

[2021-12-08 15:46] jkwatson commented on #2181
No, I don't think this is a good idea, having the env vars drift from the system properties. They are intentionally precisely aligned today. I don't think we should change anything without the possible specification work to support a more comprehensive configuration-file format.

[2021-12-08 16:26] dyladan opened #2205 "Incomplete example implementation of naive reservoir sampling algorithm"
In [exemplar defaults](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#exemplar-defaults) the SimpleExemplarReservoir is defined as:

Reading the article, it seems like the implementation given here is incorrect or at least incomplete. For the first `n` elements where `n` is the size of the reservoir the exemplar should be offered to bucket `n-1

[2021-12-08 17:31] codeboten opened #2206 "Officially supported open source logs exporter aside from OTLP"
**What are you trying to achieve?**

Metrics and tracing have information about officially supported exporters which must be implemented in every language in addition to OTLP. This issue is really a question of whether or not there have been discussions on additional backends supported via exporters for the logging signal.

[2021-12-08 18:47] jsuereth commented on #2160
We decided in the last SiG meeting to be a little more aggressive and remove baggage-in-view support from the SDK specification.   We'd like to take some time to investigate Baggage interaction w/ instrumentation libraries in both Trace + Metrics and see if this style configuration belongs in a different layer than the raw signal SDK.

[2021-12-08 19:17] tigrannajaryan opened #2207 "Remote SDK Management"
The Agent Management Workgroup is currently working on a protocol specification and prototype implementation of remote agent management capabilities. This will be likely used with OpenTelemetry Collector and possibly with other data collection agents. One element of capabilities is the ability for the Agents to receive their configuration from a remote server.

A few people expressed interest in h

[2021-12-08 20:25] Aneurysm9 commented on #2207
I think having a standard configuration for SDKs would be wonderful.  As we consider how to migrate the collector to use the Go SDK for self metrics we are confronted with the need to configure that SDK and the desire to expose options for that configuration to the end-user alongside the rest of the collector configuration.  I'd really rather not define a configuration mechanism that is only usefu

[2021-12-09 07:38] blumamir commented on #2198
I like this idea, and this is what I am currently doing in my code.

Thanks @yurishkuro  for your feedback and for the help crafting the right solution for this use case

My question is if maybe this kind of wrapper sampler that only enriches attributes on the sampling result of another sampler is something that should be implemented by every user, or is it general enough to be offered as a common

[2021-12-09 09:10] pichlermarc opened #2209 "Clarify `faas.executions` description in FaaS Metrics Spec"
**What are you trying to achieve?**

Currently the metric instrument with the name `faas.executions` in the [FaaS Metrics Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/faas-metrics.md) is described as

which does not clearly state if it refers to no-error invocations or successful invocations. The goal of this issue is to h

[2021-12-09 12:33] meastp commented on #2207
Would changing the trace sampler for specific components(/services) (e.g. from probability sampler to always on temporarily) or changing the log level (for a period) for all components be a use case? (If the SDKs/components could be set up to periodically retrieve the configuration from a remote source)

[2021-12-09 13:08] pavolloffay opened #2212 "Enable load balancing for gRPC based exporters in auto-instrumentation"
**What are you trying to achieve?**

I want to load balance OTLP gRPC export requests from auto-instrumentation (e.g. javaagent) to multiple collectors. At the moment there is no way to configure `round_robin` load balancer in auto-instrumentations, It can be only configured explicitly in code when creating e.g. OTLP exporter.

By default, gRPC client-side load balancing uses `pick_first` load bal

[2021-12-09 13:08] pavolloffay commented on #2212
The title says auto-instrumentation, but having the support directly in the SDK would be preferred.

[2021-12-09 14:28] tigrannajaryan commented on #2207
Yes, provided that these values are settings in a configuration file that can be retrieved from a remote source.

Generally the management solution / protocol we are working on doesn't care about what individual settings are manageable. From protocol's perspective the configuration as an opaque stream of bytes and the protocol's concern is only to deliver that configuration and then it is up to th

[2021-12-09 14:57] dzediar opened #2213 "No sql query tag using net4.8 and SetDbStatement to true"
Hello,

I don't have the sql queries in the activity tags under .net 4.8.

By copying the code from SqlEventSourceListener and running it I have indeed noticed that the payload[3] received by the eventlistener is empty whereas it is supposed to contain the sql request.

Also I see the "Enrich" is never executed in the code of the SqlEventSourceListener either.

Is there a solution to have sql quer

[2021-12-09 15:11] jsuereth opened #2214 "RPC Semantic Conventions diverge from HTTP Semantic conventions for similar metrics"
## Background

RPC semantic conventions were based on the[OpenCensus gRPC specification](https://github.com/census-instrumentation/opencensus-specs/blob/master/stats/gRPC.md).  This was 13 motnhs ago when the OpenTelemetry Metrics API and SDK were still unstable and the View specification was not known.   In particular, the OpenCensus specification (due to its stats API) was able to strike a balan

[2021-12-09 15:44] anuraaga commented on #2212
For reference, the most recent version of the javaagent dropped the dependency on grpc-java, instead hand crafting HTTP/2 requests with the gRPC wire protocol. So business logic related to grpc load balancing has been removed complete. If there is an expectation for load balancing it can be restored. But OTLP's focus is ok the HTTP exporter from what I've seen, and some languages will only support

[2021-12-09 16:17] arminru commented on #2181
@jkwatson I see. When a more comprehensive configuration approach is designed, this will certainly be taken into consideration. The current [naming guidelines for attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/attribute-naming.md) already prohibit names that clash with namespaces and the same should then apply to config keys.

@jkwatson @ch

[2021-12-09 16:53] pavolloffay commented on #2212
Could you please comment more why dependency on grpc-java was removed? Is HTTP exporter is preferred over gRPC?

[2021-12-09 17:48] tigrannajaryan commented on #2207
@open-telemetry/specs-approvers @open-telemetry/technical-committee I would love to know what you think about this.

[2021-12-09 18:15] nelzkiddom opened #2216 "Parent-based Sampling docs"
On https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md:

[code]

Something's amiss here. Lines 1&2 have the same input, with a different output... And the same problem exists between the 3rd & 4th lines.

[2021-12-09 22:20] tigrannajaryan commented on #1215
Discussed this offline with @bogdandrutu and we agree to look into the name mismatch of "intrsumentaiton library" further and see if we can solve it, since Tracer and Meter are also impacted by that. Bogdan is going to create a separate issue to discuss it.

I am keeping this open for now since the way we move forward with this will likely depend on the outcome of the broader discussion about Trac

[2021-12-10 01:53] anuraaga commented on #2212
We still support the gRPC exporter and it's the default - but we don't use the grpc-java library. One of the reasons was an awkward user experience due to the library's pluggable transports, but also to reduce dependency overhead. More details in my "blog post" - https://github.com/open-telemetry/opentelemetry-specification/discussions/1996

[2021-12-10 18:41] #2155 closed

[2021-12-10 18:41] #2193 closed

[2021-12-10 20:30] jmacd commented on #2140
@aabmass wrote:

Instead of trying to prevent collect() or forceFlush() on the periodic reader, can _something else_ be specified not to have the undesired behavior? I'm not sure anything needs to be specified: "exporters SHOULD avoid undesirable behavior"?

I think the purpose of `MetricReader` is to ensure that every `collect()` is passed to the exporter. I don't see your example as a valid / po

[2021-12-10 21:14] #1875 closed

[2021-12-10 21:41] #2141 closed

[2021-12-10 22:31] #1808 closed

[2021-12-10 23:09] aabmass commented on #2140
Ya, this is the thing I was missing before. For some reason I thought `collect()` should return a batch of metrics, not that it would pass on collected metrics to the configured exporter.

I am going to submit a PR with Reiley's suggestion of "add one concrete example so we can help the implementers."

[2021-12-10 23:23] #2137 closed

[2021-12-11 14:27] jack-berg opened #2217 "Clarify OTLP/HTTP retryable status codes"
**What are you trying to achieve?**

Trying to implement retry otlp/http in java.

Expected to see more details about which status codes are retryable. 429 and 503 are [explicitly mentioned](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#otlphttp-throttling), but I believe that is because they may include the `Retry-After` response header.

5

[2021-12-12 23:36] carlosalberto opened #2218 "Document what OpenTracing API versions are supported"
We need to document what versions are supported for each language, in order to avoid confusion.

* **Java**: OpenTracing supports Java 7, whereas OpenTelemetry supports Java 8+. Users will need to update to Java 8 before using the OT Shim.
* **Python**: OpenTracing supports Python 2.x whereas OpenTelemetry supports 3.x, which as done as Python 2 is **now fully deprecated**. Likewise, users will ne

[2021-12-12 23:44] carlosalberto opened #2219 "Document the level of support exist for OpenTracing JS"
OpenTracing JS never implemented `ScopeManager`, which supports in-process context propagation. This means that only explicit context/`Span` propagation is supported, even if OpenTelemetry offers this.

cc @yurishkuro @mwear @open-telemetry/javascript-approvers

[2021-12-12 23:47] carlosalberto commented on #2147
@yurishkuro Please review, as I've update this with a few issues that appeared lately.

[2021-12-13 10:03] imgalli commented on #2054
+1 on this

[2021-12-13 13:54] arminru commented on #2216
Thanks for raising this, @nelzkiddom. This is actually not a definition of input and output but both "remote parent" and "sampled flag" are the inputs. The output is defined by the respective child samplers (see "optional parameters") just below.

[2021-12-13 13:59] arminru commented on #2216
@nelzkiddom I created #2220 to clarify this, `==` vs `=`/`:=` instead of just "equals" should do the trick 🙂

[2021-12-13 14:30] tigrannajaryan commented on #2218
@yurishkuro or anyone else from @open-telemetry/opamp-spec-approvers who know OpenTracing better than me, can I reassign this to one of you?

[2021-12-13 14:45] #1794 closed

[2021-12-13 14:45] #2186 closed

[2021-12-13 17:28] ndimiduk commented on #2202
Anything is possible ;)

Do you mean that the server-side of the `batch` operation should make spans for each op nested within the batch? Or would you want to create this child spans in the client-side? They all funnel through a single RPC and associated span pair.

Why do you say that a span for the `batch` operation is not following any otel conventions? We have a data-action method in the api c

[2021-12-14 07:16] carlosalberto commented on #2218
@yurishkuro @tedsuo @jmacd Updated the version diff. Please take a look and let me know what you think. Otherwise, I will add a section in the Spec itself about this part.

[2021-12-14 14:29] yurishkuro commented on #2218
Lgtm but I would also add a note that users should look not only at the OT API version compatibility, but also at the SDK they are using, which are typically further along. Eg Jaeger Python SDK is py3 only, etc.

[2021-12-14 18:07] arminru commented on #2202
The database semantic conventions were only designed for client-side calls, not for the server end. If you could share some details on how your instrumentation looks like for the server and what you would expect from a semantic convention for calls from the server's perspective in a separate issue we can look into crafting such conventions based on the client ones.

Ah I did not consider `batch` a

[2021-12-14 22:05] jmacd opened #2224 "Support for probability sampling at-a-glance"
**What are you trying to achieve?**

Probability sampling PR #2047 is waiting for reviews. I would like to help the community support this proposal.

#2047 adds support for building Span-to-Metrics pipelines; it is narrowly focused on how we count spans that have been probabilistically sampled. It does not attempt to solve all challenges for OpenTelemetry trace users that want sampling, so it may

[2021-12-15 14:24] tigrannajaryan commented on #1367
@open-telemetry/specs-approvers how do we define semantic conventions for attributes that may be recorded both at the Resource level and at the Span or Metric or Log level?

For example we have `db.redis.*` and `db.*` conventions defined but for some reason they are defined as trace attributes. I don't think they are applicable to traces only. What do we do if we want to record database metrics, f

[2021-12-15 21:29] pyohannes commented on #1367
I think @tedsuo started some work to refactor semantic conventions, one goal being to represent metric, trace, and resource conventions in a single model: https://github.com/open-telemetry/opentelemetry-specification/pull/1977#issuecomment-930514401

Unfortunately, this PR went stale. I think the approach in the PR was a good start for solving the problem this issue is about.

[2021-12-15 23:29] #2160 closed

[2021-12-16 03:17] legendecas opened #2226 "Meter and instrument identity"
**What are you trying to achieve?**

In the metrics API spec it is said for `MeterProvider.getMeter`:

It also suggests that:

So, as long as SDK propagates the configurations to all meters created without another `getMeter` call, it should be spec-compliant for either returning the same or a new Meter instance for every name+version+schema_url pair.

However, for the instrument name in API spec,

[2021-12-16 04:50] #1962 closed

[2021-12-16 07:46] iNikem commented on #1367
I think comment from @Oberon00 is very relevant. What if my services talks to several databases. How exactly db attributes should look like on the Resource?

[2021-12-16 09:38] Apache9 commented on #2202
In HBase, we will apply the batch at server side as a whole(almost), thw work flow is like this:

RPC server receives a batch -> grab all the row locks -> Build the WAL edit for all the operations -> Write out the WAL edit -> Apply all the operations to memstore -> advance the MVCC number -> return

So typical I do not think it is possible to use different spans to trace different operations in th