[2022-09-08 16:53] arminru commented on #653
Done in https://github.com/open-telemetry/opentelemetry-specification/pull/2522.

[2022-09-08 16:53] #653 closed

[2022-09-08 17:29] reyang commented on #2753
@Mpdreamz thanks! I've updated the issue description by adding your name. Which programming language would you prefer for prototyping?

[2022-09-08 18:10] tigrannajaryan commented on #2774
@scheler It will be only equivalent when flattening OTLP to non-OTLP destinations which don't support the concept of Scope.

However, generally speaking in OpenTelemetry world they are not equivalent. The Scope attributes describe the Scope, they don't describe the Spans. It is not intended to be used as a deduplication/compression mechanism where any Span attribute can be recorded on the Scope si

[2022-09-08 18:13] jmacd opened #3421 "Clarify that API users SHOULD use valid UTF-8 for exportable data"
In https://github.com/open-telemetry/opentelemetry-go/issues/3021, a user reports having spans fail to export because of invalid UTF-8.

I believe the SDK should pass this data through to the receiver, regardless of UTF-8 correctness. I am not sure whether gRPC and the Google protobuf library used by each SDK offers an option to bypass UTF-8 checking, but if so that would be one path forward if we

[2022-09-09 06:44] #2776 closed

[2022-09-09 08:40] Oberon00 commented on #2762
That seems inconsistent with the API which says that the scope name should be the instrumentation library name. https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#get-a-tracer
And I think I prefer that. Multiple instrumentation libraries sharing the same scope (tracer/meter) without a possibility to identify which one emitted a particular telemetry i

[2022-09-09 14:14] tigrannajaryan commented on #2762
Where does it say that? Here is what I see in in the [API](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#get-a-tracer):

[code]

[2022-09-09 14:30] jsuereth commented on #2775
Tigran - You have a lot of good thoughts here so I'm going to respond to things in individual comments (hopefully easier to reference).

This is actually where the rub is.  Emitting process metrics with an attirbute of PID is fine.  What I'm objecting to us is having PID be an attribute of *every metric an SDK produces* because that SDK happens to be a process resource.   The difference here is nu

[2022-09-09 14:30] Oberon00 commented on #2762
Yes, that's what I meant. We seem to interpret this differently? My interpretation is that the name should identify the instrumentation (hence the name "instrumentation scope"). And the glossary also seems to define the instrumentation scope as associated with a unit of code. https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/glossary.md#instrumentation-scope
If

[2022-09-09 14:48] jsuereth commented on #2775
Yeah. I'm actually thinking of *splitting* resource into a few components as a way to make non-breaking changes to it in the current form.

More specifically:

- Resource have a notion of "kind", e.g "Process", "Service", "Pod".
- Each kind has a notion of identifying attributes
- Merging resources can take into account specificity of Resource.  Attributes still get unioned as before BUT the under

[2022-09-09 14:54] tigrannajaryan commented on #2775
I believe what you say is exactly correct. In my view every metric is _emitted for a particular entity_. Metrics don't exist in vacuum. They are attached to some entity that we can pinpoint to (this is a simplification that I can argue against as well, but bear with me for now). IMO the **identity of metric timeseries is defined as a combination of (metric datapoint dimensions + minimal globally u

[2022-09-09 14:59] tigrannajaryan commented on #2775
No, I think it doesn't. See my previous comment to why I think so.

I assume by "joinable" you mean the following: if we know the Process's full identity (e.g. by knowing its process id, host name, etc) there must be a way to locate the timeseries of all metrics that are emitted by a Service Instance that is associated with that Process. Notice there is more than one level of indirection here - we

[2022-09-09 15:16] #2771 closed

[2022-09-09 15:22] rbailey7210 commented on #2773
Tigran will pursue further to see if this is a duplicate.

[2022-09-09 15:31] tigrannajaryan commented on #2774
The spec currently says

@scheler isn't this sufficient? Are you looking for something more?

[2022-09-09 15:40] reyang commented on #2767
The spec doesn't say anything about thread/sleep, it seems to be the implementation detail. Specific implementation can decide to do something "elegant" if they find it valuable.

[2022-09-09 15:45] tigrannajaryan commented on #2773
I am going to keep this open for now to allow time to respond. If we don't hear new supporting arguments we will close the issue.

[2022-09-09 15:48] tigrannajaryan commented on #2775
Yes.

Yes.

Yes.

Possibly. I am not yet sure about this. I have some possible different use-case for the "kind" in my mind, but not yet sure about it. However, I would like to understand the use case that you describe. How do you intend the "kind" to interact with the merging logic?

[2022-09-09 15:59] tigrannajaryan commented on #2775
For backward compatibility reasons we cannot change the semantics of the current `attributes` field. So, we will probably need to do something slightly different, e.g.:

[code]

This definition is backward compatible, so we won't break OTLP.

However, I am not happy with the definition of the `id` above. I think it is not sufficient because of the local/global identification problem I described ab

[2022-09-09 16:13] tigrannajaryan commented on #2762
Thinking more about this I think it is a stretch to say that webpage is the Instrumentation Scope (so I tend to agree with @Oberon00). If you do this then you give up any opportunity to structure the Scopes based on the code structure (i.e. by library names or by JS module names, etc), which would a lot more natural based on how the Scope is defined ("A logical unit of the application code with wh

[2022-09-09 16:15] Oberon00 commented on #2762
I just remembered, there was some discussion on the webpage use case in this OTEP that proposes a different solution: https://github.com/open-telemetry/oteps/pull/208

[2022-09-09 16:18] howardyoo commented on #2767
Yes, that's correct. I have created this issue in `opentelemetry-specification`, because I saw in the contributing document that issue should be made here, in case the issue covers multiple language implementations. Since the interval reporter was implemented in more than two languages (java, python, and c#), I thought creating it here made sense.

The reason why the threads were brought up was to

[2022-09-09 16:28] jmacd commented on #2767
@howardyoo I believe that the SDKs should provide you the facility you're looking for. If they're not, my understanding is that you will be provided a MetricReader base class to extend.  For me, it's these words:

[code]

So my understanding is that MetricReader == an on-demand reader, which is what you're asking for, which is generally speaking how most SDKs implement a Prometheus exporter (i.e.,

[2022-09-09 16:28] #2767 closed

[2022-09-09 16:31] reyang commented on #2767
Here is my suggestion: have a concrete issue on a specific implementation, explain what's the problem, why is it a problem, discuss with the project maintainers and see if they agree or not, see if it should be an implementation detail or it needs to be covered by the spec. If it turned out to be something that should be covered by the spec, reopen this issue and link to the issue/discussion on th

[2022-09-09 16:31] scheler commented on #2774
@tigrannajaryan Somehow I couldn't find the quoted text in this repo. Can you please point me to that? I was looking for it [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/mapping-to-non-otlp.md#instrumentation-scope-attributes).

I understand that it is applicable only while exporting to non-OTLP destinations currently. Your reasoning that the s

[2022-09-09 16:35] howardyoo commented on #2767
Thanks for the suggestion. It all makes sense, that this isn't actually a specification, or more on the implementation details. I will go ahead to create issue on the repo, which may be more appropriate.

[2022-09-09 16:46] arminru commented on #2773
There are even some experimental OSS CLI tools for creating OTel traces:
https://github.com/equinix-labs/otel-cli
https://github.com/krzko/opentelemetry-shell

[2022-09-09 16:46] tigrannajaryan commented on #2774
You are right. It is in the [OTEP](https://github.com/open-telemetry/oteps/blob/main/text/0201-scope-attributes.md#attribute-value-precedence), but I is not yet added to the spec. The PR that adds it to the spec is still in progress: https://github.com/open-telemetry/opentelemetry-specification/pull/2736

This is the other option discussed in the that PR: https://github.com/open-telemetry/opentele

[2022-09-09 16:47] tigrannajaryan commented on #2774
So, looks like this issue is a duplicate of https://github.com/open-telemetry/opentelemetry-specification/issues/2535

[2022-09-09 16:49] howardyoo commented on #2767
Yes, the MetricReader is there, but in python language, it has some abstract functions that needs to be implemented, so we definitely need to extend it as base class and implement those, FYI.

[2022-09-09 16:51] scheler commented on #2762
I will wait for a TC member to join the RUM SIG. It's hard to discuss this topic over here. For now, you can exclude the RUM use-case for the topic in this issue.

[2022-09-09 17:05] dyladan commented on #2762
I don't feel strong one way or the other about this usecase but you could certainly have a UI framework or routing framework itself be an instrumented library and in that case the current page would be quite a reasonable scope attribute in my opinion

[2022-09-09 17:37] jmacd commented on #504
This has to be addressed, at the very least we have to specify what an SDK does with invalid UTF-8 for metric names, attribute keys, attribute values, span names etc.
https://github.com/open-telemetry/opentelemetry-specification/issues/504

[2022-09-09 18:03] scheler commented on #2774
Closing as a dup of https://github.com/open-telemetry/opentelemetry-specification/issues/2535

[2022-09-09 18:03] #2774 closed

[2022-09-09 18:05] jsuereth commented on #2775
I actually wasn't changing the semantics.   Today, by specification, all attributes in the Resource are descriptive *and* identifying.   What I was proposing was a forward+backward compatible change (older users don't need to change their notion of identity or know to look for new fields).

Specifically, if you look at use cases:

Old Telemetry:

[code]

By specification, we treat *all* of those a

[2022-09-09 18:14] scheler commented on #2535
1. If scope attributes describe *only* scope and span attributes describe the span, then the attributes cannot be overridden when flattening.
2. if we want to support overriding attributes, it should not be done only when exporting to non-OTLP destinations but should apply as a general concept for OTLP destinations as well. This will ensure consistency across OTLP and non-OTLP destinations.

[2022-09-09 18:22] tigrannajaryan commented on #2775
Unfortunately today we allow to (and do) record all sorts of junk information in the Resource. Any assumption that current Resource attributes are identifying is incorrect and any recipient that makes this assumption is generally speaking broken.

I think this is broken today. It probably works in some cases. The best we can do is to leave it alone so that it continues working the way it does.

My

[2022-09-09 18:35] pauldraper commented on #504
I really continue to be befuddled by what the byte encoding has to do with anything.

Are attributes/tags *bytes* or *text*?

[2022-09-09 18:44] jmacd commented on #504
See the discussion here: https://github.com/open-telemetry/opentelemetry-proto/issues/426#issuecomment-1242337687

[2022-09-09 19:49] jmacd commented on #2762
I've been thinking about the following solution, here goes:

https://github.com/open-telemetry/opentelemetry-specification/pull/2780

[2022-09-09 20:10] alanwest opened #2781 "Add OTEL_EXPORTER_OTLP_LOGS_* environment variable config"
Related to the efforts in #2768.

Introduce OTLP Log exporter environment variable config to further close the gaps between logs and the other signal types.

[2022-09-09 20:18] jship opened #2783 "Tracestate arg should be mentioned in sampler's required args section"
**What are you trying to achieve?**

Improving the spec's clarity around tracing sampler's required inputs. In #988, verbiage was added to the Return Value section of `ShouldSample`:

A Tracestate parameter is not listed as a required argument in the Required Argument ssection above the Return Value section though.

What did you expect to see?

If sampler's are intended to return a passed-in Trace

[2022-09-09 20:25] jship commented on #2783
On further reading of the spec, perhaps the intent is that the passed-in `Tracestate` arg is covered via the first item under Required Arguments:

If the parent `SpanContext` is valid, then the `Tracestate` from that `SpanContext` could be passed along. Otherwise, a fresh `Tracestate` could be passed along. Is that the spec's intention?

[2022-09-09 20:49] alanwest opened #2784 "Add BatchLogRecordProcessor environment variable configuration"
Much like the [batch span processor config](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#batch-span-processor). Need similar settings for the batch log record processor.

Open questions:

1. Naming: `OTEL_BLRP_*` or `OTEL_BLP_*`?
2. What should the default values be? I suspect the same defaults we use for the batch span processo

[2022-09-09 21:58] pauldraper commented on #504
Now I'm confused if we're talking about OTLP or API/SDK.

[2022-09-12 05:24] johnnyshields opened #2786 "Proposal: Memory allocation measurement on traces to detect bloat/leaks"
VM interpreted languages like Ruby, Python, etc. have a heap memory allocator / garbage collector (GC) which can be subject to memory bloat (spikes where lots of memory is suddenly allocated) and memory leaks (gradual accumulation of non-GC'ed objects over time. These can lead to critical problems such as paging-related slowness (primarily a symptom of with bloat) and out-of-memory process kills (

[2022-09-12 08:53] Oberon00 commented on #2783
The tracecontext is available from the Context, via the path Context -> Span -> SpanContext -> tracestate.

[2022-09-12 11:32] tsloughter commented on #2786
In Erlang we report memory allocator and GC stats as metrics. What I think may be good, but could be too hard to generalize, is semantic conventions for these metrics to help backends understand every VM's metrics properly and give insight to the user.

[2022-09-12 11:53] johnnyshields commented on #2786
I don't think it's too hard to generalize. There can be a set of conventions that may not be applied 100% uniformly across all languages, but this is already the reality of OTEL today.

[2022-09-12 16:41] MrAlias commented on #1413
The Go implementation of this algorithm has lead to an [incompatibility Amazon XRay Trace IDs](https://github.com/open-telemetry/opentelemetry-go-contrib/issues/2735). The first 4 bytes of XRay Trace IDs are time based and the Go ratio sampler expects these bytes to be random.

It would be advantageous to the Go SIG, and likely others, if we could resolve this issue. That way, when we change our a

[2022-09-12 16:42] MrAlias commented on #1413
@Aneurysm9 had mentioned we switch to "hashing" the middle part of the trace ID to make a sampling decision.

[2022-09-12 16:43] MrAlias commented on #1413
[Current Go implementation for reference](https://github.com/open-telemetry/opentelemetry-go/blob/569f7430726278f40e562f81e64d21156cc3edb9/sdk/trace/sampling.go#L82-L95):

[code]

[2022-09-12 17:14] jsuereth commented on #2775
So I think we both agree in general on the *shape* of the solution, just not specifics or what will be more annoying to fix going forward.  I've been focusing on the way we bundle-by `Resource` in OTLP, you've been focused on preserving all attributes the exist in Resource today in the same spot.   Let's table that discussion for now and make sure this notion of identifying attributes has legs.  S

[2022-09-12 17:19] jsuereth commented on #2786
Being able to tie allocations directly to a Trace span (or request flow) is highly architectural dependent.  I'm not just suggesting it's a cross-language issue, but for many languages it's likely also a web-framework issue.

I *do* think the ability to create this feature would be awesome, but let's not assume it'll be easy to get coverage across all otel languages.  I suspect it'll be downright

[2022-09-12 17:20] johnnyshields commented on #2786
Yes, this would not be a requirement.

[2022-09-12 18:03] tigrannajaryan commented on #2775
Agreed. (BTW, @bogdandrutu suggested to consider an alternate where we only have a single identifier string, instead of a set of attributes. We can consider that, but I think in the context of the current discussion the difference is not yet important).

Yes and in addition to this: which identifying attributes become descriptive when merging? For example if I merge a Process with a Host then both

[2022-09-12 18:05] MrAlias opened #2787 "Clarify the attribute truncation algorithm"
The current attribute truncation algorithm specification is under-defined. This can, and [has](https://github.com/open-telemetry/opentelemetry-go/issues/3021), led to equivalent data incompatibilities or inconsistently dropped user data.

Currently [the specification defines](https://github.com/open-telemetry/opentelemetry-specification/tree/v1.12.0/specification/common#attribute-limits) the follo

[2022-09-12 18:18] MrAlias commented on #2787
Related to, and might be fixed by: https://github.com/open-telemetry/opentelemetry-specification/pull/2779

[2022-09-12 19:01] MrAlias commented on #2787
_Suggested alternative originally posted by @jsuereth in https://github.com/open-telemetry/opentelemetry-specification/issues/2779#issuecomment-1244069138_

[2022-09-12 19:11] jsuereth commented on #2775
This implies, then, that ALL resources (that can merge) need to be part of the same schema, which basically means ALL resources must be fully specified by OTEL semantic conventions.   Is this what you intend?   E.g. where is the room for user-generated descriptive attributes?

Yeah, I know the collector does not follow this and it's been the source of some friction.

SO I think our major disagreem

[2022-09-12 19:44] tigrannajaryan commented on #2775
No, that is not my intent. The presence of schema_url in the Resource does not mean that all Resource attributes belong to that schema. Only the ones that have a matching name defined by that schema.

User-generated attributes are of course possible. We already have guidelines about application-specific and company-specific attribute naming [here](https://github.com/open-telemetry/opentelemetry-sp

[2022-09-12 20:11] jsuereth commented on #2775
I think my view on schema-url is slightly different than yours, so we probably need to have that conversation  elsewhere.   Specifically, the notion of Dervied Schema or company-supported schema.  In practice we don't allow Resource.merge to work for different schema-urls *unless* one is blank.  We need to directly address that verbage.   Perhaps we both agree we need to address it, and you plan t

[2022-09-12 20:18] jsuereth commented on #2757
I think for 1.0, Histogram instruments should explicitly disallow negative measurements, as @jmacd suggests.    Please submit a PR if you have time!

[2022-09-12 23:18] #2783 closed

[2022-09-13 00:35] yurishkuro opened #2791 "Define what "metrics" as a signal type means"
**What are you trying to achieve?**

When OpenTelemetry refers to different "signals", we should have some definition of each signal.

What did you expect to see?

Have the definition of metrics in the Glossary https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/glossary.md

[2022-09-13 00:35] yurishkuro opened #2792 "Define what "traces" as a signal type means"
**What are you trying to achieve?**

When OpenTelemetry refers to different "signals", we should have some definition of each signal.

What did you expect to see?

Have the definition of traces in the Glossary https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/glossary.md

[2022-09-13 02:02] jamesmoessis commented on #2666
Hello folks, I've just done a bunch of work on https://github.com/open-telemetry/build-tools/pull/79 and I believe it's close to being ready for merge. Please feel free to leave a review with any thoughts 😄

[2022-09-13 02:04] jamesmoessis commented on #2001
Hello folks, I've just done a bunch more work on https://github.com/open-telemetry/build-tools/pull/79 and I believe it is now at a stage close to being merged. If anyone else wants to review the structure of the yaml and the generated markdown tables, please feel free to review and join the discussion on the PR 😄

[2022-09-13 08:01] dmathieu opened #4304 "Proposal: clarify behavior when retrieving non-existent currently active span"
For languages that provide an implicitly propagated Context, the API should provide a way to retrieve the currently active span.
See https://github.com/open-telemetry/opentelemetry-specification/blob/2cfad37daf7e0d20851fd8a639a55375c3fc93dd/specification/trace/api.md#context-interaction

However, I am seeing a divergence in behaviours between SDKs which I believe would be nice to be coherent about

[2022-09-13 12:22] SanaChopra opened #2793 "Unable to add a histogram which emits decimal values"
We want to create a histogram which emits decimal values but we are not able to get it to emit decimals.
What did you expect to see?
Histogram emitting decimal values.
Sample histogram definition used:
`public static readonly Histogram<decimal> QuantityHistogram = ServiceMeter.CreateHistogram<decimal>(MetricConstants.Quantity);
`

[2022-09-13 12:43] dyladan commented on #1413
@MrAlias that is why the w3c specification is actually moving to make it explicit which bytes should be random. You can see the draft here https://github.com/w3c/trace-context/blob/main/spec/20-http_request_header_format.md#trace-id

The reason we used 7 and not 8 bytes is that the 8th byte contains the sign bit. This is the same reason go has the method to generate a 63 bit random number.

[2022-09-13 15:42] tigrannajaryan opened #2795 "[otlp] Decide if original and lowerCamelCase JSON keys should be supported"
The decision that we need to make is whether both the original proto field name and the camelCase version of the field name should be acceptable. It is acceptable by [Prototobuf JSON definition](https://developers.google.com/protocol-buffers/docs/proto3#json). Do we see any need to deviate from this?

[2022-09-13 15:49] tigrannajaryan commented on #2795
It is not entirely clear what the definition of JSON-friendliness is. They keys used by OTLP are valid in JSON.

Perhaps one decision that we need to make is whether both the original proto field name and the camelCase version of the field name should be acceptable. It is acceptable by [Prototobuf JSON definition](https://developers.google.com/protocol-buffers/docs/proto3#json). Do we see any need

[2022-09-13 15:50] tigrannajaryan commented on #2795
cc @mwear @dyladan @bogdandrutu @jmacd @Aneurysm9 in case you have any thoughts about this.

[2022-09-13 15:51] tigrannajaryan opened #2796 "Ensure that we have a version header or another mechanism for receiving multiple versions of OTLP/JSON in the collector"

[2022-09-13 15:52] tigrannajaryan commented on #2796
This is covered by OTLPs versioning design: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#future-versions-and-interoperability

I am closing this as resolved. Feel free to reopen if you believe the design is insufficient.

[2022-09-13 15:53] tigrannajaryan commented on #1957
I am not sure what this is about. Does anyone know what the problem is?

[2022-09-13 15:53] dyladan commented on #2795
I think the default behavior of the protobuf client is to change keys to lowerCamelCase and is likely what the JS exporter is currently doing. I don't see any reason not to accept both though since it is default proto behavior.

[2022-09-13 15:53] tigrannajaryan opened #2797 "Implement JSON in two other languages to ensure we are satisfied."

[2022-09-13 15:54] tigrannajaryan commented on #2797
I believe we have an implementation in Go (in the Collector) and in JavaScript (@dyladan can you please confirm?).

[2022-09-13 15:55] dyladan commented on #2797
Yes and I believe JS is the only language implementation

[2022-09-13 15:59] tigrannajaryan commented on #2797
Do we feel the need to implement it in one more language? In the Collector we have Go implementation of the OTLP/JSON receiver and exporter.

[2022-09-13 16:49] tigrannajaryan commented on #1957
That's my understanding as well. It should have no effect on the wire or on the generated code. It is purely an annotation for humans (I may be wrong). The Protobuf spec that @dyladan refers to says:

[code]

So I don't see how this can impact OTLP/JSON in some special way that we need to take into account.

[2022-09-13 16:55] tigrannajaryan opened #2798 "Add examples to OTLP/JSON"
OTLP/JSON is a human readable format. It would be nice to have some example payloads in the OTLP specification to demonstrate what it can look like. Examples sometimes are very useful when you want to understand the structure of the payload.

See for example a user asking for it: https://github.com/open-telemetry/opentelemetry-specification/issues/2773#issuecomment-1245573473

[2022-09-13 16:55] tigrannajaryan commented on #2773
That's a good point. I created an [issue](https://github.com/open-telemetry/opentelemetry-specification/issues/2798) to add some examples.

No, this is not possible in OTLP/JSON. Generally speaking, this is not possible in OpenTelemetry. Only complete spans can be exported from OpenTelemetry SDK, so there is no support for incomplete spans in OTLP either.

[2022-09-13 17:09] jack-berg opened #2799 "Correct inconsistencies in log README.md"
Continuing the theme of #2752, the log [README.md](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/README.md) has several passages that are no longer accurate including stating that a log API does not exist, and that there is no difference between a log and an event.

[2022-09-13 18:53] dyladan commented on #2797
only if we feel it would be useful. it's important for JS due to constraints on the runtime and on package size. this may also be of interest to android/ios where distributing protobuf/grpc may be unwanted bloat on the package? Possibly also for c/cpp where it may see use in embedded systems or similar restricted environments.

[2022-09-13 19:58] jack-berg commented on #2797
In java we don't have an OTLP http/json protocol exporter, but we do have logging exporters which log in OTLP json format.  The protocol part is pretty much the same with http/protobuf and http/json, so it should really just be the encoding that we're trying to increase confidence in. And java does have artifacts which produce the json encoding.

[2022-09-13 20:43] MrAlias commented on #1413
Ah, super helpful! Thanks 🙏

[2022-09-13 20:43] MrAlias commented on #1413
Is the plan for OTel to just adopt this ^ when it lands?

[2022-09-13 20:55] MrAlias commented on #1413
@dyladan does this mean that the AWS XRay TraceID which uses a non psudo-random value for the left-most 4 bytes (based on the time) would not be W3C complaint?

Looking into switching the Go implementation to the mentioned algorithm, I think the XRay spans would continue to be sampled in a non-random manner given this static prefix.

cc @Aneurysm9

[2022-09-13 23:09] ahayworth commented on #2741
For what it's worth, Ruby definitely [missed this memo](https://github.com/open-telemetry/opentelemetry-ruby/pull/627), but we are now back in spec compliance since we split off a [`-contrib` repo](https://github.com/open-telemetry/opentelemetry-ruby-contrib/commit/cebb396cd42bf65af729cc9e2a5b32040c4fbf5f). 😆

A preliminary search indicates that the @open-telemetry/rust-maintainers may wish to do

[2022-09-13 23:26] #2762 closed

[2022-09-14 05:42] abitrolly commented on #2798
Zipkin also shows how it would look like https://zipkin.io/pages/data_model.html

[2022-09-14 06:15] abitrolly commented on #2773
Thanks. I can't imagine how much I would need to read to get that answer.

That makes it hard to debug long running jobs. I would use this Jsonl as a minimal format to track duration and dependency of various jobs in real-time.

[code]

This may become a replacement or an addition to formats that CI/CD systems currently use to make build logs more readable.

https://docs.gitlab.com/ee/ci/jobs/inde

[2022-09-14 13:57] jsuereth commented on #2753
Thanks to all folks who are interested.  Please fill out [this doodle](https://doodle.com/meeting/participate/id/aAPXO6le) of your preferred meeting time, ideally before friday as I'll be scheduling our first WG call next week.

Note: We are only selecting the timeslot not the specific date.  The goal is for this meeting to happen every other week until the task list is complete.

[2022-09-14 16:56] svrnm commented on #1773
Any updates?

[2022-09-14 17:30] tigrannajaryan commented on #2773
Small correction on this. In theory I think OpenTelemetry API could support this if the destination format allowed this (since Span creation API only requires the start timestamp), but in practice I don't think we have any implementations like this. And it is definitely not possible in OTLP.

Why not record this data as Otel LogRecords? Why does it have to be Spans?

[2022-09-14 17:57] codeboten commented on #2726
Is there any further discussion required for this issue? If so, can we close it w/ the resolution of keeping the direction and protocol attributes as they are in the spec today?

This of course *could* be changed in the future, if someone comes along with a compelling enough case for splitting it out again, but I think for the short term, keeping the specification as is is preferable to going back

[2022-09-14 17:59] tigrannajaryan commented on #2726
@codeboten we also reverted the splitting of the network metric, but I think that change was more justified. We reverted simply to begin from a clean slate.

We can close this issue and re-open the network metric issue (I can't find it).

[2022-09-14 18:24] Aneurysm9 commented on #1413
Trace IDs are 16 bytes, so there should be no issue.

[code]

X-Ray IDs will have non-random data in region `A` (bytes 0-3) and random data in regions `B`, `C`, and `D` (bytes 4-f).  The w3c proposal is to guarantee that region `D` (bytes 9-f) contain random data.  The current implementation uses regions `A` and `B`, shifted right by one place so it is effectively bytes 0-6:

[code]

Instead, we c

[2022-09-14 18:32] scheler commented on #2773
To me this sounds like a topic of semantic conventions for instrumenting build pipelines.  See the following example payload (the timestamps are not adjusted) - we can model the build process using a combination of Spans and standalone Events.  The build job would be the parent span and each step in the build would be a child span. And while a span is in progress, you can emit standalone Events (w

[2022-09-14 18:46] jmacd commented on #1413
I am expecting us to use the W3C trace context "random" flag to address this issue:
https://github.com/w3c/trace-context/pull/474
@dyladan can you provide guidance?

[2022-09-14 18:59] dyladan commented on #1413
We spoke about this at the w3c meeting yesterday actually. I was going to bring it up at the next maintainers meeting. The level 2 spec for trace context was delayed by some extended summer vacations but is about to go into wide review for publication as a recommendation. Obviously until something is an official recommendation the working group can't guarantee anything, but we do not expect any ma

[2022-09-14 18:59] codeboten commented on #2726
@tigrannajaryan i couldn't find an issue for it, here's the PR. I can create a new issue if that's the correct way to move forward.

[2022-09-14 19:05] tigrannajaryan commented on #2726
Yes, please open an issue so that we can discuss and decide what we want to do about it.

[2022-09-14 20:59] tigrannajaryan commented on #2728
Here is what I would like to propose:
- Changes to the stable parts of the spec are not considered binding until a release is made that incorporates these changes.
- If a mistake is made in the spec and the erroneous change is discovered before the release it is acceptable to revert the change even if the change is in the stable part of the document.
- Unstable implementations are free to do what

[2022-09-14 21:55] codeboten opened #2801 "The protocol attribute should be removed for `system.network.connections` metrics"
**What are you trying to achieve?**

Since UDP has no state, I propose UDP and TCP connection metrics should be split into protocol specific metric for each supported protocol.

If folks agree, I will open a PR to mark system.network.connections as deprecated in favour of:

`system.network.tcp.connections`
`system.network.udp.connections`

**Additional context.**

The work for this was previously

[2022-09-14 21:56] codeboten commented on #2726
@tigrannajaryan https://github.com/open-telemetry/opentelemetry-specification/issues/2801 is now open.

[2022-09-15 04:46] reyang commented on #2793
Is this specific to some programming languages or it's a spec issue?

[2022-09-15 04:57] #2781 closed

[2022-09-15 05:04] reyang opened #2802 "The CPU utilization metrics seem to have wrong unit"
It seems to be talking about ratio (which is a number in range `[0, 1.0]`), while the unit `s` seems wrong. https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/process-metrics.md#process

![image](https://user-images.githubusercontent.com/17327289/190318781-a70734d7-d0de-49e7-9fd3-4c5805e83c46.png)

[2022-09-15 08:17] mohit61 opened #2804 "OpenTelemetry trace error occurred: cannot send span to the batch span processor because the channel is full"
**What are you trying to achieve?**
- I enabled datadog tracing in my project which uses [apollo router](https://github.com/apollographql/router) written in Rust.

What did you expect to see?
- I am getting this error when the load on the server increases, I have 15G memory on my machine, and as the load increases, the memory quickly reaches 5G and I start getting errors
` OpenTelemetry trace erro

[2022-09-15 10:20] bertysentry commented on #2726
I'll take care of the hardware metrics

[2022-09-15 10:31] bertysentry opened #2805 "Semantic conventions for hardware metrics need to be updated to merge network metrics and GPU IOs metrics"
Following discussion in #2726, the semantic conventions for hardware metrics (`specification\metrics\semantic_conventions\hardware-metrics.md`) must be updated to merge IO metrics using the `direction` attribute:

| Current metris | Merged metric |
|---|---|
| `hw.gpu.io.receive`, `hw.gpu.io.transmit` | `hw.gpu.io` with `direction` set to `receive` or `transmit` |
| `hw.network.io.receive`, `hw.ne

[2022-09-15 15:48] tigrannajaryan commented on #2797
I am going to close, but if anyone thinks we do need more implementations please feel free to reopen.

[2022-09-15 15:48] #2797 closed

[2022-09-15 17:33] scheler opened #2806 "Remove process.runtime semconv for browser resource"
**What are you trying to achieve?**

I am trying to remove the use of `process.runtime.*` attributes for browser resource. In the Client Instrumentation SIG we agreed on using only `browser.` namespace in the browser resource for identification purpose. The `process.runtime.*` predates the `browser` namespace and is added in [BrowserDetector.ts](https://github.com/open-telemetry/opentelemetry-js/b

[2022-09-15 22:48] reyang commented on #2804
@mohit61 this doesn't seem to be a specification issue. Please file the issue on the repo which corresponds to the component that you are using.

[2022-09-15 22:48] #2804 closed

[2022-09-16 07:55] abitrolly commented on #2773
@tigrannajaryan build log already contains log records. There is no need to add another interface to read them. But identifying bottlenecks where the processing stalls and takes a lot of time is the problem that is not solved programmatically, and for that real-time spans are needed.

[2022-09-16 07:59] abitrolly commented on #2773
@scheler yes. Maybe there is no point in separate span payload then. If everything can be encoded as an event.

[2022-09-16 13:47] jsuereth commented on #2500
So even with a split of resource attributes between identifying and descriptive, the issue here is what a Resource *means* and what a session *means*.    I still think you're looking for a (currently non-existence) scope/context-based attribute.   Where "scope" here means lexical-scope / or scoped in context (not the same as InstrumentationScope).

Specifically -

When a browser session is created

[2022-09-16 14:35] legendecas commented on #2806
I support replacing the `process.runtime.*` for web browsers with the new `browser.*` attributes. It would be more meaningful to have detailed browser attributes than the plain UA strings. Deprecating the legacy attributes and introducing a new detector helps us avoid making breaking changes as the legacy detector has been shipped since the beginning.

[2022-09-16 14:53] tigrannajaryan commented on #2746
Can one of @open-telemetry/specs-metrics-approvers take the assignment of this? I don't know much about this topic.

[2022-09-16 14:55] tigrannajaryan commented on #2726
I am closing this issue since the problem it uncovered is now fixed (in the sense that the offending PRs are reverted). Further discussion on the topic will happen on the new issues that are already created.

[2022-09-16 14:55] #2726 closed

[2022-09-16 15:13] rbailey7210 commented on #2793
Please open this issue with the relevant language github repo. We don't plan to support decimal in OTLP.

[2022-09-16 15:29] tigrannajaryan commented on #2795
I agree with @dyladan that we should just keep the default Protobuf behavior for exporters and also keep the ability for receivers to accept both.

@open-telemetry/specs-approvers any opinions on this?

[2022-09-16 15:31] dyladan commented on #2795
I don't see any reason to restrict the exporters to this behavior. I would just say receivers should expect both and what exporters do you what makes sense for their users expectations.

[2022-09-16 17:33] scheler commented on #2773
@abitrolly the reason for using spans would be to leverage the tooling built for spans by the telemetry backends (visualization, analytics, correlation, etc). Otherwise, I agree that everything can be encoded in the LogRecord data model (which is the basis for Events too).

[2022-09-16 17:49] #2802 closed

[2022-09-16 17:58] #2793 closed

[2022-09-16 19:45] t2t2 commented on #2500
Note: I also ended up writing a longer comment on why this really really should be included in resources instead of scopes, but I figured it's better in [Ephemeral Resource Attributes otep (oteps#208)](https://github.com/open-telemetry/oteps/pull/208) (as this issue really morphed into that otep) than here. I recommend reading that comment first since it'd give a lot of useful domain knowledge plu

[2022-09-16 20:43] jmacd commented on #1413
@dyladan Thank you. I am pleased to see that we are nearly ready to adopt the random bit for w3c traceparent. Those familiar with the current tracestate-based proposal for probability sampling may remember that we would be able to eliminate the `r` variable once we had a consistent random source. Meanwhile, the `p` variable would still compactly propagate the power-of-two sampling probabilities (f

[2022-09-16 20:45] dyladan commented on #1413
p value propagation I hope is next in level 3. for now it was agreed to leave it out of the level 2 spec because the r value was less controversial and less likely to get held up in wider review

[2022-09-19 14:48] jsuereth commented on #2806
I'm in favor of this change.

[2022-09-19 20:13] astencel-sumo opened #2809 "Add process page fault metrics"
**What are you trying to achieve?**

I want to add process [page fault](https://en.wikipedia.org/wiki/Page_fault) metrics to the semantic conventions. Here are the specific metrics I have in mind, relative to how Linux reports them:

- The number of major ("hard") page faults that the process has made
  - This is reported in `/proc/[pid]/stat` Linux file, described as `majflt` field in the [man pa

[2022-09-19 20:29] astencel-sumo commented on #2809
Oops only now have I noticed that there's a similar convention already in place in the `system` namespace. The metric name is `system.paging.faults` with the `type` attribute of `major` or `minor`.

Should this proposal be changed to propose `process.paging.faults`? What about the child page faults?

[2022-09-19 21:26] MrAlias opened #2810 "OTLP Metric exporter configuration extends beyond the scope of its ability"
#2619 added the configuration option of the OTLP exporter to configure the default aggregation. However, the SDK is defined with the [Reader setting the default aggregation](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#metricreader) not the [exporter](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metric

[2022-09-19 22:54] jack-berg commented on #2810
#2619 extended the precedent established in #2404, where the OTLP exporter was given a configuration for temporality preference despite that technically being a reader concern.

Here's how I see things:
- MetricReader is an interface for reading metrics, and temporality and default aggregation are important configuration options when reading metrics.
- PeriodicMetricReader is a specific implementa

[2022-09-20 10:32] astencel-sumo opened #2811 "Add `process.memory.utilization` metric"
**What are you trying to achieve?**

I want to add a `process.memory.utilization` metric to the semantic conventions. The value would be the amount of physical memory used by the process (`process.memory.usage` according to the convention) divided by the total amount of memory available on the host.

**Additional context.**

Here's a related proposal to add this metric in `hostmetrics` receiver: h

[2022-09-20 10:49] astencel-sumo opened #2812 "Add `process.disk.operations` metric"
**What are you trying to achieve?**

I want to add a `process.disk.operations` metric to the semantic conventions, akin to the existing `system.disk.operations` metric. The metric should have a `direction` attribute with the value of `read` or `write`.

The description of the metric is "The number of disk operations performed by the process".

**Additional context.**

Here's a related proposal to

[2022-09-20 11:38] tsloughter commented on #2810
Is it? I know the spec says an Exporter is always paired with a Reader but if a Reader isn't required to always have an Exporter then it would be aggregating with the wrong histogram before the Exporter is set for that Reader when the Exporter is created.

[2022-09-20 12:20] astencel-sumo opened #2813 "Add system uptime metric"
**What are you trying to achieve?**

I want to add a metric to the semantic conventions that will describe the system uptime. How about `system.uptime`?

**Additional context.**

This is reported by Telegraf as `uptime` field of the `system` metric (in seconds).

Here's a related proposal on the `hostmetrics` receiver to add this metric: https://github.com/open-telemetry/opentelemetry-collector-co

[2022-09-20 13:02] tigrannajaryan commented on #2813
Is this duplicate of https://github.com/open-telemetry/opentelemetry-specification/issues/1273 ?

[2022-09-20 15:29] astencel-sumo commented on #2813
Thanks Dan, didn't see this issue. It is closely related. It talks about `process` namespace and not system, but I think the discussion can be applied to system too. If I understand correctly, (at least from the perspective of this issue) it boils down to adding an attribute `process.start_time` and `system.start_time`.

In fact, I can see there's a [process namespace](https://github.com/open-tele

[2022-09-20 15:48] astencel-sumo commented on #2813
We discussed this briefly during today's SIG Spec call, let's see where the conversation in #1273 takes us.

[2022-09-20 16:38] jmacd commented on #2810
I endorse @jack-berg's interpretation https://github.com/open-telemetry/opentelemetry-specification/issues/2810#issuecomment-1251651762.

However, we must address the question posed by @MrAlias regarding #2619 concerning the precedent set in #2404.

The key paragraph appears just above the edits in #2619, namely:

[MetricReader](../sdk.md#metricreader) to pair with the associated
Exporter (e.g., u

[2022-09-20 17:18] jmacd commented on #1273
Yes. I agree that both specifications are good to have.

`process.uptime`: defined as a non-monotonic counter to signal that reset is not meaningfully permitted
`process.start_time`: an attribute with a start timestamp (in a specified format)

It would be nice to establish a semantic connection between these-- that is the suggestion made in this issue originally. If you have are holding a Span obj

[2022-09-20 22:12] tsloughter commented on #2810
If this is for setting up a single Reader/Exporter pair based on the environment then the name makes even less sense :). Am I understanding you right that this is more `OTEL_DEFAULT_READER_EXPORTER_HISTOGRAM` and `OTEL_DEFAULT_READER_EXPORTER_TEMPORALITY_PREFERENCE` (not actual proposals).

[2022-09-20 22:29] tigrannajaryan commented on #2795
Yes, that's essentially what will happen if we say receivers must accept both.

[2022-09-21 01:19] jamesmoessis commented on #2813
I would support `system.uptime` as a metric that measures the uptime of the system. The `process.uptime` is a different concern.

`system.uptime` would be, in the case of linux, which is read from `/proc/uptime`. Analogous for other operating systems.

[2022-09-21 15:18] #2759 closed

[2022-09-21 17:03] carlosalberto opened #2817 "Support debug mode in the SDKs"
We have discussed in the past offering a strict/debug mode in the SDKs, by which SDKs (and auto-instrumentation) would fail at startup time if wrong configuration is found, rather than logging warnings here and there (e.g. completely fail if environment variables have wrong values).

The intent here is to help diagnose incorrect configuration that may not be obvious at production time.

Related to

[2022-09-21 17:06] ocelotl commented on #2001
I am not involved in this effort, please contact @jamesmoessis :v:

[2022-09-21 19:17] jmacd commented on #2813
I support both `system.uptime` and `process.uptime` semantic conventions.

[2022-09-21 21:31] jack-berg commented on #1773
FYI, I'm working on putting together a proposal for this.

[2022-09-21 21:42] MrAlias commented on #1773
As am I ...

I'm currently evaluating protobuf, CUE, and jsonschema as the schema language to define the OTel configuration.

[2022-09-22 06:21] candrewtemenoscom opened #2820 "Would it be able to use OtlpExporter to export traces to a file"
Using opentelemetry exporter in asp.net core, how can I export traces to multiple targets. One to a collector endpoint and to a file?

services.AddOpenTelemetryTracing(providerBuilder =>
            {
                providerBuilder
                    .AddSource(Configuration.ActivitySourceName())
                    .SetResourceBuilder(ResourceBuilder.CreateDefault().AddService("DataService"))

[2022-09-22 09:28] svrnm commented on #1773
@jack-berg , @MrAlias - that's great news :-) Curious to hear&see what you have already!

[2022-09-22 09:43] pellared commented on #2817
How about adding a  `OTEL_FAIL_FAST`  env var to control this behaviour (default for SDK: `false`, supported values: `true`, `false`)?

Side note: I assume that auto-instrumentation could have a different default value than the SDK.

_This is something I was thinking about some time ago. See: https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation/issues/231#issuecomment-938013579._

[2022-09-22 09:50] mateuszrzeszutek commented on #2817
FYI: the javaagent has something called a [debug mode](https://opentelemetry.io/docs/instrumentation/java/automatic/#troubleshooting), it mostly enabled additional (quite verbose) logging, adds logging exporters, and some context leak detection. Some of these could be set up at the SDK level actually, if it had a debug mode (assuming the SDK debug mode would do a couple more things than just confi

[2022-09-22 13:36] #2729 closed

[2022-09-22 14:52] tigrannajaryan commented on #1957
I am marking "Agree to no longer use the deprecated delimiter in proto, as this breaks JSON." as done. Please unmark if you think any additional work is needed.

[2022-09-22 15:03] mateuszrzeszutek opened #2822 "Should `http.server.active_requests` have a `net.host.port` attribute?"
**What are you trying to achieve?**

Currently, the `http.server.active_requests` metric only includes the `net.host.name` attribute; for some reason `net.host.port` was skipped there. Should we fix that discrepancy?

**Additional context.**

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md#attributes

[2022-09-22 15:55] pyohannes commented on #2516
This is partly covered by #2750, which lays out general requirements for context propagation in messaging scenarios.

As mentioned in a comment above, this doesn't go into details of how those requirements can be met for every single messaging system or protocol.

[2022-09-22 16:42] dyladan commented on #1413
Thanks for the update. @jmacd mind sharing what the reasoning was behind using 56 bits? Is it just because that is the number the W3C already has in the draft spec or was there some need for sampling thresholds with that level of randomness?

[2022-09-22 16:47] jmacd commented on #1413
I do not believe anyone requires 56-bits of sampling precision. I'm interested in what others think is a good value, maybe 16 or 20 bits will do.

[2022-09-22 23:05] #2667 closed

[2022-09-23 04:18] #2784 closed

[2022-09-23 06:17] oertl commented on #1413
@jmacd

I am not sure if 16 bits are enough if really arbitrary sample rates should be supported. With 16 bits, the smallest possible sampling rate would be 1/2^16 = 0.00001525878 and the second smallest possible sampling rate would be 2/2^16 = 0.00003051757. There is a large relative gap between these two sampling rates.

[2022-09-23 06:43] oertl commented on #1413
@jmacd

If the hashing algorithm is not specified, the SDKs can simply use any random number. Using the trace ID is not very useful in this case.

[2022-09-23 12:24] astencel-sumo opened #2826 "Add `process.signals_pending` metric to semantic conventions"
**What are you trying to achieve?**

I want to add a `process.signals_pending` metric to the semantic conventions.

**Additional context.**

If I understand correctly, this metric is useful to see if/when a process stopped accepting signals, which can be useful in investigating issues.

Telegraf exposes this metric in its [procstat](https://github.com/influxdata/telegraf/blob/v1.24.1/plugins/input

[2022-09-23 12:30] astencel-sumo commented on #2809
I'll take no comments as good news and will prepare a pull request to add `system.paging.faults` metric with a `type` attribute of `major` or `minor`. I will not add the child faults for now.

[2022-09-23 14:18] Oberon00 commented on #2806
I oppose this change.

Why? Because I think there should be a single resource attribute that tells you from which kind of process/runtime any telemetry is emitted from. Of course, adding additional information in a `browser.*` namespace is totally fine, but having basic `process.runtime.*` information there is valuable as it allows generic handling of resource information.

With this change you ar

[2022-09-23 15:15] rbailey7210 commented on #2809
Pleased pause for now, we are considering refactoring existing metrics semantic conventions. Please come to ongoing discussions. See https://github.com/open-telemetry/opentelemetry-specification/issues/2753.

[2022-09-23 15:19] rbailey7210 commented on #2810
Please discuss in the next spec call.

[2022-09-23 15:35] scheler commented on #2806
The attribute `telemetry.sdk.language` represents the general kind of runtime and should be used first, and `process.runtime.*` can be used for further identification within each. For browsers there is only one runtime identity.

[2022-09-23 15:38] reyang commented on #2817
Does this need to be covered / enforced by the spec? I feel it is like an implementation choice (e.g. what's the best way to notify the developer varies a lot depending on the environment - Android, iOS, serverless cloud application, web apps which run in browsers). I'm concerned about the environment variable approach - going down this path we could end up with very complex environment variables

[2022-09-23 15:40] reyang commented on #2813
These all make sense, but pleased pause for now, we are considering refactoring existing semantic conventions. Please come to ongoing discussions. See https://github.com/open-telemetry/opentelemetry-specification/issues/2753.

[2022-09-23 15:41] reyang commented on #2812
These all make sense, but please pause for now, we are considering refactoring existing semantic conventions. Please come to ongoing discussions. See https://github.com/open-telemetry/opentelemetry-specification/issues/2753.

[2022-09-23 15:41] reyang commented on #2811
These all make sense, but please pause for now, we are considering refactoring existing semantic conventions. Please come to ongoing discussions. See https://github.com/open-telemetry/opentelemetry-specification/issues/2753.

[2022-09-23 15:42] reyang commented on #2826
These all make sense, but please pause for now, we are considering refactoring existing semantic conventions. Please come to ongoing discussions. See https://github.com/open-telemetry/opentelemetry-specification/issues/2753.

[2022-09-23 16:24] pellared commented on #2817
@reyang 👍

Side note. Right now the spec does not allow fail fast when parsing numeric and enum env vars...

[2022-09-23 22:08] jack-berg opened #2832 "Stabilize exponential histograms"
Exponential histograms have implementations in Java, Dotnet, Go, and Python.

There's still the idea of the [zero threshold](https://github.com/open-telemetry/opentelemetry-specification/pull/2665), which needs to be defined in the proto and likely needs to be configurable in the SDK in some fashion. However, this can be added in a backwards compatible way.

If there are no other issues, we should

[2022-09-23 22:16] tsloughter opened #2833 "Logs: Instrumentation Scope for logs not from LoggerProvider provided Logger"
**What are you trying to achieve?**

Implementing the Logs SDK and need to export logs emitted by [the language's structured logger](https://www.erlang.org/doc/apps/kernel/logger_chapter.html).

**Additional context.**

Since exporting logs through OTLP requires a Scope which the log records are under and not all logs emitted by a program will be within an Instrumentation Scope, how is exporting t

[2022-09-24 04:55] atoulme commented on #2237
Linking things:
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9117
This spec PR, abandoned:
https://github.com/open-telemetry/opentelemetry-specification/pull/2482

[2022-09-24 18:45] reyang commented on #2817
Good point, maybe changing:

`the SDK MUST generate a warning and gracefully ignore the setting`

to

`the SDK MUST generate a warning and gracefully ignore the setting by default`

In this way it's not a breaking change in the spec?

[2022-09-25 01:42] yurishkuro commented on #2817
@pellared why not? I think @reyang described (https://github.com/open-telemetry/opentelemetry-specification/issues/2817#issuecomment-1256371389) that it's possible with an error callback. The fail-fast behavior is implemented by the user in this case, so the SDK itself is compliant with the existing spec.

I would recommend promoting this callback mechanism to the spec as SHOULD.

[2022-09-26 06:16] AlexanderWert opened #2834 "Add Geo fields from Elastic Common Schema"
**What are you trying to achieve?**

Some observability use cases require localization of resources. Examples are:

- Observability of mobile devices: Geographically localizing the mobile devices provides valuable insights into how mobile apps perform depending on their location.
- For applications that are geographically distributed across multiple regions and data centers, the geo location can p

[2022-09-26 12:15] astencel-sumo commented on #1273
I've just noticed that the Elastic Common Schema defines this as [process.start](https://www.elastic.co/guide/en/ecs/8.4/ecs-process.html#field-process-start) with a value of e.g. `2016-05-23T08:05:34.853Z`, i.e. a UTC, ISO-formatted time stamp. Perhaps this is the way to go, what do you think @jmacd?

[2022-09-26 16:55] scheler commented on #2834
1. For mobile devices, the geo attributes will be changing as the user moves around and they cannot be updated on the `Resource` currently. This PR will have to wait until https://github.com/open-telemetry/oteps/pull/208 is resolved or there's another mechanism introduced that allows changing attributes on a Resource.
2. For apps running in data centers (and mobile apps), I believe the customers w

[2022-09-26 22:18] tsloughter opened #2839 "Structured Stacktrace in Span Attributes/Logs"
**What are you trying to achieve?**

A backwards compatible way of having stacktraces in spans and logs be structured data instead of strings. This would allow backends to parse and display usable (like links to the line in a file) information without having to know how to parse a specific languages stacktrace -- and not leave those of us using less popular languages on the outside looking in on t

[2022-09-26 22:50] hughesjj opened #2840 "Add a redis resource"
**What are you trying to achieve?**
I want a resource for redis' `db.instance`.

**Additional context.**
This is prep work to supporting Redis as a *metric* (not solely trace as we currently have), but should stand on its own.  I'm resurrecting (+fixing) code submitted by manang-splunk@ at the beginning of this year.

Original PR: https://github.com/open-telemetry/opentelemetry-specification/pull/

[2022-09-26 23:18] tsloughter commented on #2839
I forgot that trace and span attribute values can only be primitive values and arrays of primitive values, so not arrays of maps: https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/common#attribute

So closing this. I really would like to see this incorporated somehow, pls comment on this issue and I can reopen it if there are viable alternative suggestions.

[2022-09-27 07:51] abitrolly commented on #2773
Prioritizing representation over real world use cases seems like an omission when designing telemetry collection framework and its underlying data formats. Is there a list of use cases that had been considered when designing the spec? To see if my story of recording incomplete spans matches any of them?

Regardless of historic decisions, I am still interested to see some solution I can adapt.

Bui

[2022-09-27 08:18] Oberon00 commented on #2773
@tigrannajaryan

We do have the Z-Pages feature: https://github.com/open-telemetry/opentelemetry-specification/blob/main/experimental/trace/zpages.md which is implemented in Java: https://github.com/open-telemetry/opentelemetry-java/tree/main/sdk-extensions/incubator/src/main/java/io/opentelemetry/sdk/extension/incubator/trace/zpages

We also export spans before they are ended in Dynatrace.

But t

[2022-09-27 11:30] Oberon00 commented on #2839
I'm reopening this because (1) it's completely feasible to record structured information with the current attributes. Just convert from an "array of structs" to a "struct of arrays", i.e. instead of having one array with objects that have three properties each, have three arrays stack.functions, stack,linenos, stack.filenames. And (2) I think this would without doubt be a useful feature.

[2022-09-27 11:55] tsloughter commented on #2839
Hm, ok, so something like:

[code]

I agree structured stacktraces are too useful to not continue looking into how to support them but thought it wouldn't be feasible in attributes, which this issue was about, but would need a message type.

Your suggestion definitely changes that.

Now that it is also a form I can easily make a PR for because I think the tools support defining a type of array of

[2022-09-27 15:38] jsuereth commented on #2753
For folks working on semantic conventions.  Here's a set of guidelines for avoiding what we expect are breaking changes:

- Attributes defined for traces/logs that may be shared w/ metrics will likely have cardinality restrictions applied to them going forward.
- Attributes/Resource definitions will likely be rejected until we have better refinement on Resource/Entity (see #2775)
- Metrics definit

[2022-09-27 16:41] dmitryax commented on #1273
I like `process.start_time` as more readable option. We also have a similar resource attribute in collector's k8s processor that should be defined in the spec as well.

[2022-09-27 17:54] jmacd commented on #2810
This discussion was postponed until the 10/4 Spec SIG meeting.

[2022-09-27 18:11] bigman73 commented on #176
It's 2022 - New Relic and Datadog (arguably two of the most dominant APM players) have well defined and separate APIs and documentation for events.
I think OTEL should catch up with the industry and add `events` as a first class citizen.
An event is not a tracing span because events can be emitted regardless of a user tracing session. For example, an upgrade event: "The system was upgraded to v1.2

[2022-09-27 18:26] scheler commented on #176
@bigman73
OpenTelemetry now recognizes Events as a first-class citizen - there's now an [API](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/api.md) to create Events - it uses [LogRecord](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/api.md#logrecord) as its underlying data model and defines semantic conventio

[2022-09-27 18:36] tigrannajaryan commented on #376
One more use-case were map values would be beneficial: https://github.com/open-telemetry/opentelemetry-specification/pull/2841

[2022-09-27 18:37] tigrannajaryan commented on #376
Another use-case here: https://github.com/open-telemetry/oteps/pull/219

[2022-09-27 19:06] bigman73 commented on #176
@scheler Thanks. Is there an exporter of events (as events, not logs) into Datadog or New Relic APMs?

[2022-09-27 19:14] jack-berg commented on #176
Speaking for New Relic, we accept OpenTelemetry data via OTLP. From OTLP's perspective, both logs and events use the log data model, and that's fine with us. We're currently working on a strategy that would treat OpenTelemetry events in a similar way as New Relic events are treated today. Can't provide specifics quite yet.

[2022-09-27 22:07] tsloughter commented on #376
#2841 is an example where the complexity for both sides (client and backend) is increased by lack of map support. The semantic convention is also harder to understand when it has to be split into pieces where it could be that the whole, like `exception.structured_stacktrace` is optional but within the whole there may be those that are required in `structured_stacktrace` but still are marked as opt

[2022-09-28 01:44] tigrannajaryan commented on #1957
After merging https://github.com/open-telemetry/opentelemetry-specification/pull/2758 the enum names can no longer be used in OTLP/JSON so I am removing https://github.com/open-telemetry/opentelemetry-proto/issues/363 from this checklist, it is no longer relevant for OTLP/JSON (although still relevant for OTLP's generated code, so I am keeping it open).

[2022-09-28 10:50] samimusallam opened #2843 "Add `rpc.metadata` for requests and responses"
**What are you trying to achieve?**

I want to add request and response gRPC metadata attributes in server and client spans to the semantic conventions. The value of adding the metadata is to help users get more information from the traces which could allow for easier troubleshooting.

I propose the following names for the attributes:
- `rpc.request.metadata`
- `rpc.response.metadata`

For example

[2022-09-28 14:23] tigrannajaryan opened #2847 "Database semantic conventions may violate namespacing guidelines"
## Problem Description

We have database conventions like this: `db.name`, `db.statement`, etc. Here the `db` is the namespace and we have attributes that are common for all database under this namespace. We have a large number of these.

We also have conventions like this: `db.mssql.instance_name` where `db.mssql` is the namespace. The implied idea is that database specific attributes are placed

[2022-09-28 15:28] Oberon00 commented on #2847
I think this is a problem that might stay theoretical. So I am in favor of solution 2. We could also suggest a common transformation for such cases. Appending `db` seems fine, we could also prepend `tech_` or similar. We could then specify that "top-level" names must avoid a name ending in `db` for example.

[2022-09-29 11:08] joaopgrassi commented on #2749
@reyang giving the latest guidance in https://github.com/open-telemetry/opentelemetry-specification/issues/2753, I think this PR is fine to go through. It doesn't touch on any of the topics there (metrics, resouce, etc).

[2022-09-29 14:15] tigrannajaryan commented on #2847
@open-telemetry/specs-approvers any thoughts on this?

[2022-09-29 14:28] MadVikingGod commented on #2288
Should we have some clarification of what should happen to views that are registered outside of the scope of a MetricReader?
For example, what should I expect if I do something like:
[code]

What about:
[code]

[2022-09-29 15:03] reyang commented on #2847
+1 with what @Oberon00 said https://github.com/open-telemetry/opentelemetry-specification/issues/2847#issuecomment-1261083741

[2022-09-30 15:21] rbailey7210 commented on #2822
Please discuss in upcoming spec sig meeting

[2022-09-30 15:26] rbailey7210 commented on #2834
Please hold until OTEP to merge.

[2022-09-30 15:40] reyang commented on #2839
I personally think we should just use a plain string and provide some example/suggestion/guidance on the format so people know how to parse the common patterns. I understand that having more structure would reduce parsing cost, I'll explain the reason below:

Here is my experience (I'm the owner of several Microsoft internal stacktrace schemas) - trying to define a cross language/runtime structure

[2022-09-30 16:02] jmacd commented on #2839
I second @reyang's opinion, speaking as the former maintainer of a multi-language stacktrace parsing library ([part of Google's offering in this space](https://cloud.google.com/error-reporting))

The first time we discussed adding a stacktrace semantic convention to OTel was over two years ago:

https://github.com/open-telemetry/oteps/pull/69

We already have a standard data type for stacktraces.

[2022-09-30 16:52] tsloughter commented on #2839
I'm not suggesting structure in order to reduce any parsing cost, or for any technical reason, but from a user experience standpoint. When there isn't a structure but a reliance on vendors supporting individual string formats the smaller languages get left out :). Even if we include examples and guidance for dealing with the stacktrace strings from Erlang and Elixir it doesn't mean any vendor will

[2022-09-30 16:53] PeterF778 commented on #1413
For an assessment on the lower end of needed probabilities, let's look at one example. Google handles about 100 billion requests daily. If we design long term storage for traces which decreases traces cardinality as the data gets older, and keeps  only 1000 traces per day (for example, for data older than 5 years), we need probability of about 2^-28. So, I'd say, we need at least 31 random bits, a

[2022-09-30 17:15] jmacd commented on #2839
@tsloughter I wonder if there is a way you could adopt an existing stacktrace format like NodeJS or Java has?

[2022-09-30 18:49] tigrannajaryan opened #2849 "Support Dynamic Logging"
Dynamic Logging is an ability to instrument applications in order to turn on/of exisiting log statements or inject log statements on specific lines of code at runtime.

Here are some products that do this:

https://docs.lightrun.com/
https://www.runsidekick.com/dynamic-logging
https://docs.pixielabs.ai/tutorials/custom-data/dynamic-go-logging/

It would be great to have a similar capability in Ope

[2022-09-30 21:25] reyang commented on #2832
+1 we should push this forward.

There are some potential improvements / issues that we can discuss in the PR.
https://cloud-native.slack.com/archives/C01NP3BV26R/p1663690523370849

![image](https://user-images.githubusercontent.com/17327289/193358355-7e6bcb54-f712-4668-9442-5f5875f94fa6.png)

[2022-10-03 18:16] #2335 closed

[2022-10-04 09:27] Donnerbart opened #2852 "Add compression configuration to the OpenTelemetry Environment Variable Specification"
**What are you trying to achieve?**

I would like to add missing environment variables to configure compression on (span) exporters to the [OpenTelemetry Environment Variable Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md) and clarify the compression default value for the OTLP exporter on [OpenTelemetry Protocol Exp

[2022-10-04 09:36] Oberon00 commented on #2806
I see telemetry.sdk.language has been repuposed to also distinguish nodejs and webjs even though both use javascript. I did not know that. Still, that doesn't really change my argument. If you want to show a textual description of the runtime, you could use `process.runtime.description || process.runtime.name + process.runtime.version` everywhere. Why not also for browser-based runtimes?

[2022-10-04 15:13] tigrannajaryan commented on #2847
OK, I think we are all in agreement so far that #2 is the way to go. We need a PR that makes this clarification in the spec, both in database.md specifically and in attribute-naming.md generally.

[2022-10-04 16:00] MrAlias opened #2854 "Clarification needed on exporter/reader configuration"
This issue is intended to track an issue identified in the 2022-10-04 specification SIG.

Currently [the specification states](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.13.0/specification/metrics/sdk.md#metricreader):

However, it also states:

It was pointed out in today's specification SIG meeting that the first statement about configuration of the SDK needs to be int

[2022-10-04 16:01] MrAlias commented on #2854
cc @jsuereth @jmacd @tsloughter

[2022-10-04 16:01] MrAlias commented on #2854
github actions assigned this to @bogdandrutu but @reyang had said in the SIG meeting he would take this on (with low priority).

[2022-10-04 16:03] reyang commented on #2854
Assigned to myself.

[2022-10-04 16:59] jmacd commented on #2854
Thank you @MrAlias! Your proposal sounds good to me.

[2022-10-04 17:02] jmacd commented on #734
@lquerel has pointed out that a prepared span (a.k.a. "Span Instrument") would help SDKs lower the cost of column-oriented encoding and transport.

[2022-10-04 20:06] dnelson-relativity opened #2855 "Semantic convention type mismatch for http.status_code"
**What are you trying to achieve?**

I am trying to understand if it is intentional that the type as described by the semantic conventions for `http.status_code` is different for Metrics and Traces.

- Metrics defines it as a [string](https://github.com/open-telemetry/opentelemetry-specification/blame/ce32f948d2f6a78d95fd87f0d945513ee2a0d0aa/specification/metrics/semantic_conventions/http-metrics.

[2022-10-04 23:34] jmacd commented on #376
I support map-valued attributes. On a technical level, this will not present a significant problem for the OTel-Go SDK based on my understanding of the issues. We already admit slice-valued attributes [and although there was a bug in this support, it was recently fixed](https://github.com/open-telemetry/opentelemetry-go/pull/3252), and we already have a data type (`attribute.Set`) which represents

[2022-10-05 11:24] svrnm commented on #1773
👋 friendly bi-weekly annoying bump for this topic :-)

[2022-10-05 14:10] tigrannajaryan commented on #2569
If we decide that we want this then from OTLP perspective this probably can be added as a negotiated new capability, so that it is only used if the server indicates that it is ready to accept the mixed payload. This is important to ensure interoperability of clients and servers. The negotiation can happen via http headers.

[2022-10-05 20:30] Aneurysm9 commented on #2569
How would this negotiation work and what improvement does it offer?  It seems that it would add round trips required to determine whether the capability is available, mitigating the potential benefit.

This seems to me to be the way to get the desired benefit, ideally an HTTP/2 connection that can perform [request multiplexing](https://web.dev/performance-http2/#request-and-response-multiplexing).

[2022-10-05 21:16] tigrannajaryan commented on #2569
I want to make sure we all understand that it cannot be simply bolted on as another request type that some parties may not support and which offloads the interoperability responsibility to the end user. Any new enhancement to OTLP must be done in a way that makes it _our_ responsibility to ensure interoperability of all existing OTLP implementations. Negotiation with graceful degradation is one of

[2022-10-05 23:11] wdengw opened #2856 "Clarify that the JSON log example is the spec is NOT the OTLP JSON format"
**What are you trying to achieve?**
Find out what is the right JSON format.

What did you expect to see?
The right format to follow

**Additional context.**
OTel log format document and its java implementation has a mismatch.  In the document,  [JSON log example](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#example-log-records), resource

[2022-10-06 02:34] kalyanaj commented on #1413
When the new random flag is NOT set, couldn't we still require SDKs to use the SAME hashing algorithm (instead of an unspecified algorithm)? i.e., a best effort in treating that the same last set of bytes in traceID is random...

Reasoning: My understanding is that the TraceID generated by many systems today, though not required by the Level 1 of the W3C TraceContext spec, have their rightmost byt

[2022-10-06 17:07] jmacd commented on #1413
This was discussed by me @oertl @PeterF778 @kalyanaj and @kentquirk in the Sampling SIG today. Notes:

The W3C `random` flag is anticipated to go ahead, but we also expect it could be a year-or-so before it is deployed in OTel SDKs.

We debated whether 56-bits, 48-bits, or 32-bits of randomness would be preferred. There is not a strong preference between 48 and 56, but we think 32 bits is not suff

[2022-10-06 20:25] tsloughter commented on #2459
@Aneurysm9 decorators being other span processor's would be an option, yea. And I like that design.

I thought I had closed this issue actually. The built-in processors needing to support decorators just opens up options for implementations and is useful to get "around" the Span being read-only in OnEnd since your decorator could work on a copy of it and that be passed to the exporter.

I'll close

[2022-10-06 20:25] #2459 closed

[2022-10-07 13:40] #2799 closed

[2022-10-07 15:32] reyang commented on #2856
@wdengw during the triage meeting, we consider this as a Java implementation issue, we need your help to follow up with the Java SIG. Meanwhile, we agree that the spec should have some clarification that the current JSON example is not the OTLP JSON format, we'll repurpose this issue and make updates to the spec. Assigning to @tigrannajaryan.

[2022-10-07 18:11] rapphil opened #2857 "Provide clarity on how non-string attributes are supposed to be provided through OTEL_RESOURCE_ATTRIBUTES"
**What are you trying to achieve?**

I'm trying to set a resource attribute that [has type `[]string`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/cloud_provider/aws/logs.md). However it is not possible to do so through the `OTEL_RESOURCE_ATTRIBUTES` as it only supports [strings for values](https://github.com/open-telemetry/op

[2022-10-07 19:06] jack-berg commented on #2856
The java implementation of OTLP JSON is correct. This [test](https://github.com/open-telemetry/opentelemetry-java/blob/main/exporters/logging-otlp/src/test/java/io/opentelemetry/exporter/logging/otlp/OtlpJsonLoggingLogRecordExporterTest.java#L96-L160) demonstrates the OTLP JSON encoded of a complete payload. The referenced example in [Example Log Records](https://github.com/open-telemetry/opentele

[2022-10-07 19:19] scheler commented on #2806
I don't know if any vendor wants to show a textual description of the runtime for browser apps. We had discussed this in the Client Instrumentation SIG and this didn't come up as a requirement.

[2022-10-07 20:28] wdengw commented on #2856
@reyang and @jack-berg, Thank you for the clarification!  To summarize,  the JSON log format example in the Spec is the correct one to follow as for application Log data.

[2022-10-07 21:30] tigrannajaryan commented on #2856
No. The example in the Spec is just an arbitrary example of JSON logs. It is a standard that needs to be followed. If you are looking for a standard format then OTLP/JSON is one such standard (not yet finalized): https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#json-protobuf-encoding

[2022-10-07 21:38] reyang commented on #2856
I've updated the issue title to avoid confusion.

We should follow in the PR by either clarifying that the example is NOT OTLP JSON, or change the example to OTLP JSON, or avoiding JSON at all (e.g. maybe YAML?).

[2022-10-09 10:55] odsod commented on #2340
@bertysentry Huge thanks for taking this one all the way!

[2022-10-09 10:55] #2340 closed

[2022-10-09 11:22] samimusallam commented on #2843
Yes this is similar to HTTP headers, we can have explicit configuration in the instrumentation for adding all/some gRPC metadata as part of the span attributes

[2022-10-10 15:59] yurishkuro commented on #2859
I'm not opposed to this overall. But to add to what @anuraaga said (https://github.com/open-telemetry/opentelemetry-specification/issues/2859#issuecomment-1273513761):
  * Should there be some public announcement that this deprecation is happening?
  * I think there needs to be a waiting period after the deprecation announcement before the functionality can be removed from the SDKs, to give organi

[2022-10-10 16:41] breedx-splk commented on #2859
@yurishkuro thanks for chiming in on this and being open about it. 👍🏻

Probably? Did you have something specific in mind and/or can we ask the comms SIG for help?

Yeah, totally agree. I guess another thing to keep in mind is that users would only be facing this exporter change if/when they were upgrading an sdk or agent, which is maybe also not a 1 day affair. Point being, they're already in ther

[2022-10-10 20:31] alanwest opened #2860 "Clarify that attribute limit configuration also applies to LogRecords"
The specification _kind of_ implies that attributes limits also apply to logs, but much of the spec is very span-centric. Add details of log-specific attribute limit configuration matching the trace specification.

[2022-10-10 20:55] wdengw commented on #2856
Change the title changed my original question.  Please answer the following questions
1.  Is the JSON log format example a valid example that is compliant with the OpenTelemetry Logs Data Format?
2. Is the OTLP JSON output compliant with the OpenTelemetry Logs Data Format?
3. What is this teams recommendation for writing JSON application logs to file which is Logs Data Format compliant,  one of th

[2022-10-10 23:55] alexander-shepel opened #2862 "Unique request id and other packet metadata in OTLP"
We are developing our own system to accept metrics data in OTLP format and would like to have some means to troubleshoot customer issues related to missing/duplicate/slowly delivered metrics packets. There are several problems we would like to address here:
- Quite often metrics data in the packet needs to be ingested and made available for consumption quickly, as we have an SLA for this, however,

[2022-10-11 03:45] yurishkuro commented on #2859
I would go with a tweet from OTEL account pointing to this issue and asking for votes / comments. Then we can decide about the waiting period. Changing from sending data to a local host agent to exporting to a remote gRPC collector could be a significant architectural change that requires establishing some discovery/lb mechanism that the orgs may not have needed before.

[2022-10-11 13:19] Donnerbart commented on #2852
@reyang A big motivation is feature parity between the exporters provided by OpenTelemetry. The OTLP exporters already offers compression configuration, and at least for Java the underlying Jaeger and Zipkin exporters also have compression capabilities.

In general I think it's useful to make the compression configurable, since there might be use cases where network is the bigger bottleneck than C

[2022-10-11 13:25] evan-bradley commented on #2719
I'd like to take a look at this. @jsuereth do you see this issue depending on any output from the Semantic Conventions Working Group, or can it be worked on in parallel?

[2022-10-11 14:49] tigrannajaryan commented on #2862
This was discussed and rejected in the past due to problems with intermediaries: Unique request / packet id. The format and contents of this packet should be defined by the client, it should be unique per the blob of data inside. This will allow server to detect (and optionally reject) duplicates.

I am open to discussing this again, but at the very least we need to address the questions that were

[2022-10-11 14:58] tigrannajaryan commented on #2862
Alternatively, instead of making this a protocol feature, make it an observable metric of the client.

[2022-10-11 15:02] tigrannajaryan commented on #2862
cc @jmacd @bogdandrutu

[2022-10-11 15:13] jsuereth opened #2864 "Define what constitutes breaking changes for Metrics"
We should outline what changes to metric streams (names, unit, type + attributes) constitutes a breaking change.

More details to follow

[2022-10-11 15:30] jkwatson opened #2865 "Please publish the 1.13.0 schema"
**What are you trying to achieve?**
Usage of the 1.13.0 semantic convention schema file.

What did you expect to see?
The file in the advertised location (https://opentelemetry.io/schemas/1.13.0)

[2022-10-11 15:42] jsuereth commented on #2864
We'd like to tackle this question by focusing on what use cases for metrics should be preserved between OTEL instrumentation releases *and* expected interactions with `schema_url` / Telemetry Schemas.

For the first cut, we should investigate breaking behavior of:

- Alerts (and alert thresholds)
- Dashboards (common usage, simple queries)
- Analytics / "data lake"

[2022-10-11 15:47] svrnm opened #2866 "What is part of "Automatic Instrumentation"?"
**What are you trying to achieve?**

For our documentation at opentelemetry.io I tried to come up with a quick statement on "where is the OpenTelemetry agent"? (https://github.com/open-telemetry/opentelemetry.io/issues/1689 for reference, don't read into that lengthy discussion). @pellared & @reyang convinced me that the answer is _Hey dear APM user, looking for an agent, if you want to instrument

[2022-10-11 15:49] MrAlias commented on #2864
Does this plan to change the [semantic convention stability guidelines](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/versioning-and-stability.md#semantic-conventions-stability)?

[2022-10-11 16:18] Donnerbart commented on #2852
Results from the SIG discussion:

* The wording for the OTLP default value is deliberately "no value" (after long discussions), so the implementations can decide what's the best for their use case. So there is nothing to do here.
* [The future of Jaeger is still to be decided](https://github.com/open-telemetry/opentelemetry-specification/pull/2858). Until then we should probably not add more confi

[2022-10-11 16:32] tsloughter commented on #2866
I was going to say that Python is using "distro" wrong but now I see it isn't in the glossary. Last I remember a distribution (distro) meant a third party vendor's "bundle" of OpenTelemetry and vendor specific code/configuration.

Might be worth finalizing that definition as well, but may need a separate issue?

[2022-10-11 16:39] reyang commented on #2866
IIRC "distro" was mentioned in the official docs but later changed from "distro" to "distributions" https://opentelemetry.io/docs/concepts/distributions/.

[2022-10-11 16:47] jsuereth commented on #2864
Yes.  Specifically I want us to answer whether:

- We can/should rely on schema_url migrations for stability *or* ask for major version bumps when the absence of schema_url usage would lead to a breakage.  (I.e. we consider schema_url an "aide" vs. a requirement for backends)
- Whether we loosen the definition of adding an attribute for metrics.  Specifically adding an attribute that has the same

[2022-10-11 18:17] #2840 closed, assigned to arminru

[2022-10-11 18:26] tigrannajaryan commented on #2865
The fix should be in the website repo: https://github.com/open-telemetry/opentelemetry.io/issues/1846

[2022-10-11 18:26] tigrannajaryan commented on #2865
We need a check in our release procedure to block the release if the schema file is not published.

[2022-10-11 18:58] tigrannajaryan commented on #2865
Added checks to prevent this in the future: https://github.com/open-telemetry/opentelemetry-specification/pull/2868

[2022-10-11 20:13] jack-berg commented on #2493
#2703 should close this.

[2022-10-11 20:20] tigrannajaryan commented on #2865
Schema files for 1.13 and 1.14 are now published. https://github.com/open-telemetry/opentelemetry.io/issues/1846 is fixed.

https://github.com/open-telemetry/opentelemetry-specification/pull/2868 is still open for review, will ensure this doesn't happen again.

[2022-10-11 20:20] #2865 closed

[2022-10-11 20:23] jack-berg opened #2869 "Handle conflicting metric descriptions and types in prometheus exporter"
With #2703 instrumentation scope name and version are included as attributes in the prometheus exporter, which helps to accommodate OpenTelemetry metric's ability to have instruments with the same name under different scopes.

However, these instruments can still have conflicting types and descriptions, which present problems in prometheus scrapers as discussed in [open-telemetry/opentelemetry-jav

[2022-10-12 09:07] svrnm commented on #2866
Yeah, Distro/Distribution is worth another (but related) discussion, @austinlparker added some comments on that: https://github.com/open-telemetry/opentelemetry.io/issues/1689#issuecomment-1262808129 & https://github.com/open-telemetry/opentelemetry.io/issues/1689#issuecomment-1263693791

But let's not have the discussion on Distribution here, the focus should be around clarifying "Auto-Instrument

[2022-10-12 09:22] pellared opened #2873 "Define "Distribution""
The term "distribution" should be defined in the spec (e.g. glossary) given that it is already described under https://opentelemetry.io/docs/concepts/distributions/.

[2022-10-12 09:25] pellared commented on #2866
Here you are: https://github.com/open-telemetry/opentelemetry-specification/issues/2873

[2022-10-12 16:01] MrAlias commented on #2854
This looks like it is a duplicate of #2746

It seems like a longstanding issue.

[2022-10-12 16:19] jmacd commented on #2854
I am willing to help fix the specification to clarify that MetricReaders are responsible for configuration and that how the defaults are determined is an implementation detail. I wrote the sentence in question,

I want to call attention to the word "associated". IMO it is meaningless to speak of an exporter without its corresponding reader. They are configured together, at once, they are effective

[2022-10-12 16:22] #2493 closed

[2022-10-12 16:45] #2795 closed

[2022-10-12 19:50] jmacd commented on #2862
At Lightstep, we use a (hash of the) combination of all identifying fields, including for example metric datapoint timestamps, to compute an "idempotency key" for OTLP data. We use this information to avoid repeated application of metric data, for example. Although I also have (in the past) proposed adding a unique request ID, I no longer believe it's needed.

[2022-10-13 14:57] tigrannajaryan commented on #2862
@alexander-shepel The most important OpenTelemetry's intermediary is OpenTelemetry Collector. The Collector deserializes the payloads and does all sorts of transformation to that the payload, then serializes again before sending. There is no good way to preserve the original request metadata in the Collector. It is unclear how your proposal will work with the Collector.

If you want to make a more

[2022-10-13 17:06] hughesjj opened #2877 "Add support for redis list lengths"
**What are you trying to achieve?**
It would be nice to support the [LLen](https://pkg.go.dev/github.com/go-redis/redis/v8#Client.LLen) function in redis. To use a common language, supporting list lengths would increase our coverage of the "Saturation" [golden observability signal](https://www.google.com/search?q=saturation+metric) in redis clusters.

I do not believe this metric should be turned

[2022-10-13 17:29] jmacd commented on #2862
@alexander-shepel I support the basic claim that without a request identifier in OTLP, that implementing correct at-most-once aggregation logic on the write path is fundamentally expensive. Lightstep would prefer if it did not have to compute such an "idempotency key" as we are currently doing.

@tigrannajaryan points out why this is a challenge for OTel. I want to point out that there are solutio

[2022-10-13 21:14] dashpole commented on #2869
+1

OpenMetrics MetricFamily names (i.e. what type, description, unit, are associated with) [MUST be unique](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#metricset) within the metrics served on an endpoint:

[2022-10-14 10:41] damiangarbacz opened #2879 "db.name should be broken down into individual layers"
**What are you trying to achieve?**
Semantic convention for db client calls ([database.md](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/database.md)) states that for `db.name` _"the database name to be used is the more specific layer"_. This may cause problems because as a user I don't know beforehand what the tag actually describ

[2022-10-14 12:20] nerochiaro commented on #454
Sorry for reopening this discussion after such a long time.
It is not clear to me whether a consensus on the issue has been reached and links should NOT be allowed to be added to an existing span.
Or is the discussion still open and there is a possibility that at some point it will be possible to add them ?

[2022-10-14 13:12] dyladan commented on #454
If the issue is still open it is not settled.

I don't think the argument that links can't be added later because it might affect the sampling is convincing to me. It forces the user to create another span after getting a batch of messages even if there is already a span for the operation. A good example of this would be something like a lambda function. If the user is using the lambda layer to cr

[2022-10-14 15:03] #2773 closed

[2022-10-14 15:06] rbailey7210 commented on #2773
Closing since this item has been inactive for a couple weeks. Please re-open if there is further interest.

[2022-10-14 15:10] rbailey7210 commented on #2857
Let's discuss in the next Spec Sig call

[2022-10-14 15:12] carlosalberto commented on #2857
I have mixed feelings about this as there's the risk of ending up with an over engineered item for this env var. For what is worth I've been mostly users using this to set strings only. Let's talk next Tuesday about this.

[2022-10-14 15:18] rbailey7210 commented on #2873
Let's discuss at the next Spec SIG meeting.

[2022-10-14 15:24] rbailey7210 commented on #2877
We need experts to chime in. Please consider raising in the semantic convention group with @jsuereth

[2022-10-14 18:37] reyang commented on #2869
Here is what I'm thinking:
1. This is not a unique problem in the exporter, we also have the same challenge when the Collector is trying to convert OTLP to Prometheus, and this is something @dashpole was trying to cover [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#otlp-metric-points-to-prometheus)
2. For exporter, one approach i

[2022-10-15 18:44] yurishkuro commented on #376
I also support maps as attribute values.

I don't completely agree with @Oberon00's list https://github.com/open-telemetry/opentelemetry-specification/issues/376#issuecomment-1232783131, I think it broadens the scope of this issue more than necessary and makes it difficult to make progress. Specifically, I am talking about the two points on deciding whether maps should be used in future or existin

[2022-10-16 15:58] jsuereth commented on #2864
Here's an [unfinished document](https://docs.google.com/document/d/1Nvcf1wio7nDUVcrXxVUN_f8MNmcs0OzVAZLvlth1lYY/edit?usp=sharing) that walks through the problem of stability and how I'd like to think about it.  I only had time to discuss Alerting instability of metrics, specifically when is it ok to add new attributes to a metric timeseries.

Welcome people's thoughts and opinions and more scenari

[2022-10-17 03:38] aaron-ai opened #2880 "Add more semantic convention attributes of Apache RocketMQ"
Add more semantics convention attributes of Apache RocketMQ.

1. `messaging.rocketmq.message_group`: message group is essential for FIFO message. Messages that belong to the same message group are always processed one by one within the same consumer group.
2. `messaging.rocketmq.delivery_timestamp`: the timestamp in milliseconds that the delay message is expected to be delivered to consumer.
3. `m

[2022-10-17 12:09] carlosalberto commented on #2879
We need experts here, as well as examples to document actual, specific cases (e.g. different databases). Please consider raising in the semantic convention group with @jsuereth (albeit this is a trace semantic convention).

[2022-10-17 14:49] arminru commented on #2577
@jsuereth can this be added to #2753?

[2022-10-17 17:32] kriswuollett commented on #2739
@tigrannajaryan, I do not consider it to be the same request as the config file proposal. It suffers from the issue that Kubernetes users would need to create a `ConfigMap` or `Secret` with the contents of the config file stored in a data field, and then map it to the container as a volume. It adds toil to the process because some external process whether runtime by an operator process or at deplo

[2022-10-17 17:59] jsuereth opened #2883 "Define what changes are "breaking" for Trace telemetry stability"
Similar to #2864 we need to define / propose what changes to Traces are considered breaking and what are allowable.

[2022-10-17 18:00] jsuereth opened #2884 "Define what constitutes breaking change for Logs"
Similar to #2864 we need to define / propose what changes to Logs are considered breaking and what are allowable.

[2022-10-17 18:02] tigrannajaryan commented on #2739
What if the Otel config file supported a way to reference another file and fetch the value of a particular config setting from that other file?

[2022-10-17 18:21] kriswuollett commented on #2739
I'd expect that doing something similar with a `_file` variation for a value would be useful since the config file would mostly likely not be changed much. But I'd probably also ask if the environment variable name is the equivalent of the config file yaml path, then why not have it be generally supported?

Some software packages only support a `_FILE` suffix for things known to be secrets, but th

[2022-10-17 19:33] tigrannajaryan commented on #2856
Use this: https://github.com/open-telemetry/opentelemetry-specification/blob/main/experimental/serialization/json.md but note it is experimental and can change.

[2022-10-17 20:00] tigrannajaryan opened #2887 "JSON File format example contradicts the text"
The [text says](https://github.com/open-telemetry/opentelemetry-specification/blob/main/experimental/serialization/json.md#telemetry-data-requirements):

Then the [last example](https://github.com/open-telemetry/opentelemetry-specification/blob/main/experimental/serialization/json.md#examples) in the file has all 3 data types.

So, which is it? One type only or can mix?

[2022-10-17 20:01] tigrannajaryan commented on #2887
@atoulme assigning this to you since you authored the format.

[2022-10-17 20:02] tigrannajaryan commented on #2887
FYI @reyang @aabmass @Aneurysm9 @carlosalberto @djaglowski since you reviewed [the PR](https://github.com/open-telemetry/opentelemetry-specification/pull/2235).

[2022-10-17 20:04] atoulme commented on #2887
Thanks! I'll delete the example.

[2022-10-17 20:49] tigrannajaryan commented on #2856
There is no such thing as OpenTelemetry Logs Data Format. We have OpenTelemetry Log Data Model and we have OTLP Logs Format which is an implementation of OpenTelemetry Log Data Model.

[2022-10-17 21:00] tigrannajaryan commented on #1957
The resolution of https://github.com/open-telemetry/opentelemetry-proto/issues/430 may impact JSON field name, so adding this to the checklist.

[2022-10-17 21:28] wdengw commented on #2856
@tigrannajaryan  Deleting the JSON log example clarified it.  Case closed.

[2022-10-17 21:46] tigrannajaryan commented on #376
Here is a draft PR to discuss: https://github.com/open-telemetry/opentelemetry-specification/pull/2888

[2022-10-17 23:25] pyohannes commented on #454
As @dyladan mentioned, there has been no final decision neither for nor against adding span links after span creation. Also in my opinion, the enhanced modelling capabilities outweigh the restrictions it would introduce (e. g. for sampling).

@nerochiaro If you could describe a scenario where you have a link for adding span links after span creation and add it to this issue, that would be a good i

[2022-10-18 01:48] aaron-ai commented on #2880
Thanks for reply. We use either of `delay_time_level` and `delivery_timestamp` to determine the specified delay time for delay message, it depends on the version of RocketMQ client.

* `delay_time_level`: as you saw in https://rocketmq.apache.org/docs/4.x/producer/07message3,
* `delivery_timestamp`: https://github.com/apache/rocketmq-clients/blob/master/java/client/src/main/java/org/apache/rocketm

[2022-10-18 02:02] alexander-shepel commented on #2862
@tigrannajaryan, @jmacd, thank you for your responses!

I understand that the proposal should focus on the Collector, so I was thinking how it could be generalized to support the Collector (or a chain of Collectors in a complex metric streams merge-split scenario) and here is a high-level idea, which **I would like to get some quick feedback on** before I go the OTEP way.

The core of the idea is

[2022-10-18 06:14] atoulme commented on #2887
I have opened a PR to follow up, thanks Tigran! https://github.com/open-telemetry/opentelemetry-specification/pull/2889

[2022-10-18 09:44] nerochiaro commented on #454
My scenario is the same as the one described by @dyladan (we have been discussing it on slack and he added his latest comment based on that discussion).

At the moment there are no workarounds for this problem. Conceivably the lambda instrumentation could be modified to allow passing a configuration option naming a function that gets run at span creation time to provide links and additional attrib

[2022-10-18 15:42] MrAlias commented on #1773
Related issue that is expected to be resolved here: https://github.com/open-telemetry/opentelemetry-specification/issues/2857

[2022-10-18 15:54] tigrannajaryan commented on #808
We added error texts to the payload: https://github.com/open-telemetry/opentelemetry-proto/blob/724e427879e3d2bae2edc0218fff06e37b9eb46e/opentelemetry/proto/collector/logs/v1/logs_service.proto#L78

I am closing this since it does not seem to be needed anymore.

[2022-10-18 15:54] #808 closed

[2022-10-18 16:24] Aneurysm9 opened #2891 "[TC Request]: Environment-based Configuration Guidance"
For a long time there has been a recognition that using environment variables as a configuration mechanism has limitations and that we will [require a formalized configuration mechanism](https://github.com/open-telemetry/opentelemetry-specification/issues/1773) for OpenTelemetry SDK implementations.  Though there appears to be broad support for the concept of a configuration file, it has not been

[2022-10-18 17:32] #2887 closed

[2022-10-18 17:46] #2737 closed

[2022-10-18 18:46] jack-berg commented on #2332
This was resolved in #2676. There's now [explicit text](https://github.com/open-telemetry/opentelemetry-specification/blame/main/specification/logs/api.md#L52-L54) stating:

Thus, the API SHOULD provide a way to set/register and access a global default
LoggerProvider.

[2022-10-18 18:46] #2332 closed

[2022-10-18 22:03] carlosalberto commented on #2880
@jsuereth I was wondering whether you have any opinion regarding adding general **trace** attributes (special attention to the timestamp value).

[2022-10-18 22:16] #2809 closed

[2022-10-19 07:52] svrnm commented on #2857
Since the semantic conventions also contain the types of attributes, wouldn't it be doable to do the mapping there? So if I have something like `OTEL_RESOURCE_ATTRIBUTES="process.parent_pid=1234"` the code reading from that environment variable takes care of the type mapping to `int`?

This solution of course does not provide a fix for `string[]`, and it also does not help for attributes outside o

[2022-10-19 09:08] svrnm commented on #2866
following up on the conversation during the SIG call yesterday. Things got mixed with the "distribution discussion" (#2873), but that was intended, since there _might_ be an overlap. I try to repeat a few of the things that have been brought up and said, which are relevant to this disucssion. please correct and chime in.

* Automatic Instrumentation describes the mechanism/technique used to accomp

[2022-10-19 18:56] samimusallam opened #2895 "Add RabbitMQ `message.header` attributes to semantic conventions"
**What are you trying to achieve?**

I want to add RabbitMQ message header attributes in consumer spans to the semantic conventions. The value of adding the message headers is to help users get more information from the traces which could allow for easier troubleshooting.
Since headers may contain sensitive data, we should require an explicit configuration of which headers are to be captured.

I p

[2022-10-19 19:11] #2856 closed

[2022-10-19 19:28] MrAlias commented on #2854
Closing in favor of https://github.com/open-telemetry/opentelemetry-specification/issues/2746. This indeed is a duplicate of that.

[2022-10-19 19:28] #2854 closed

[2022-10-19 19:31] MrAlias commented on #2746
FWIW, the Go SDK has switched its approach currently. It configures the temporality and aggreation default selectors with options passed to readers on their creation:

https://github.com/open-telemetry/opentelemetry-go/blob/510910e92d5cc8d18c38e4cc88f1bc7c48f6465f/sdk/metric/reader.go#L128-L133

https://github.com/open-telemetry/opentelemetry-go/blob/510910e92d5cc8d18c38e4cc88f1bc7c48f6465f/sdk/me

[2022-10-19 19:43] MrAlias commented on #2746
It was suggested [here](https://github.com/open-telemetry/opentelemetry-specification/issues/2854#issuecomment-1270515292) that this should be considered a language implementation choice.

I think the way the specification is currently defined it is ambiguous enough that both interpretations are currently allowed. Therefore, it looks like it could technically be considered this.

However, the ques

[2022-10-19 19:51] MrAlias commented on #2746
Looking at the fact that multiple language implementations have made stable releases (.NET, Java, Python) and they are not all consistent with regard to this, it is likely not possible to uniformly update the specification with one normative statement of how these parameters should be set.

That or we will need to update the specification and have non-conforming implementations deprecate their old

[2022-10-19 19:54] MrAlias commented on #2288
If this is accepted, the existing approach of configuring view(s) with the `MeterProvider` will need to be preserved. Stable implementations of the specification have already been released with this language.

Registering views with readers will need to be considered as an extension. The remaining question is if new language implementations will need to be required to also make their implementatio

[2022-10-19 21:14] tsloughter commented on #2746
When .NET, Java and Python went GA was there a similar process as when languages went GA with tracing?

[2022-10-20 11:35] ahayworth commented on #2288
I feel there could be utility in per-reader views, personally. For example, suppose I had two metric readers - one paired with an OTLP push exporter, and the other with a Prometheus exporter. I might, potentially, wish to drop certain metrics or aggregate across certain labels for one of those exporters - but not the other. It would be difficult to implement this today without per-reader views.

[2022-10-20 15:44] tigrannajaryan opened #2897 "Proposal: OpenTelemetry Logs, Events and Domains"
We have had a lot of discussions around events and logs and can't come to an agreement on what exactly to do.

I think we need to step back and understand what problem we are solving.

The key moment for me was when @tedsuo mentioned that the desire for "events" originated from the need to have a "primary index", which is essentially a piece of data on which to base "groupby" or "filter" functions

[2022-10-20 15:45] tigrannajaryan commented on #2897
@tedsuo @jack-berg @scheler @zenmoto @alanwest @MSNev @Aneurysm9 @djaglowski please take a look.

[2022-10-20 15:48] tigrannajaryan commented on #2897
cc @open-telemetry/specs-logs-approvers

[2022-10-20 17:05] jack-berg commented on #2897
For example you may have "http" spans or you may have "database" spans. How are these differentiated? We don't have an attribute with a value that tells you which domain the span belongs to. Instead we use the fact of presence of a particular attribute to know which domain the span belongs to. If the span has "http.method" attribute (or any of the required http attributes) then it is an "http" spa

[2022-10-20 17:21] alanwest commented on #2897
Yes. I support. I think this does a few things:

1) It helps to unblock the work of the community to provide support for logging libraries.
2) Frees up other SIGs to further vet and prototype their ideas. That is, I do not think the Event API is a sufficient prerequisite to block progress on client side, k8s monitoring, etc. I don't think we should preclude ourselves from coming back to the idea o

[2022-10-20 17:25] tigrannajaryan commented on #2897
@jack-berg

This is true. However, why is it acceptable for spans and not for logs/events?

What is the basis for this assertion? I don't understand why this is so.

The way I suggested is equally unambiguous. `if getAttr("event.type")=="browser"` is as unambiguous as `if hasAttr("browser.event.type")`. Where is the ambiguity in the presence check?

Yes. And my suggestion is that we don't need an

[2022-10-20 17:28] tigrannajaryan commented on #2897
@alanwest What prevents anything to have an attribute "event.type=browser" even if it was not in fact a browser event?

[2022-10-20 19:06] CodeBlanch commented on #2897
Let's say I'm authoring some HTML5 map widget. When users click on my map widget I want to emit a click event with details about the lat/long for the click. What would I do in this case? Have my own custom event or use the standard one with some extra attributes? Adding extra attributes to a standard event might surprise/break backends? Creating a custom event then might ghost these from "browser"

[2022-10-20 19:06] MSNev commented on #2897
This takes us back to the discussion on "combining" them in the first place.. I still propose that they should ~have been~ be separate.

IMHO, We need some way to uniquely identify what the log is representing whether that be a generic log, kubernetes log or an event (or some other possible structured record).

For events, my original preference for identifying an event was a single `event.name` w

[2022-10-20 19:27] jkwatson commented on #2897
Please, I implore you and the log sig: think about the end user when making this sort of proposal.

If I, as an end user, want to create an OpenTelemetry event, what would you be asking me to have to do and know in order to do it, with this proposal?

I would need to know that a) I have to use this weird other logging API, that isn't my normal logging API. b) know how to precisely construct a log

[2022-10-20 20:32] #2843 closed

[2022-10-20 20:48] Aneurysm9 commented on #2897
I agree, but think even this doesn't go far enough.  If the Event API is a wrapper around the LogRecord creation API and ensures that the identifying attributes are present doesn't this just push the issue up one layer of abstraction?

[code]

How is that any different from:

[code]

If I have domain-specific attributes I still need to know that I need to use this weird other event API and provide

[2022-10-20 20:59] tigrannajaryan commented on #2897
@CodeBlanch you provide the following attributes:

[code]

Why would it break backends? Why is there an expectation that there can't be extra attributes? In fact we have exactly the opposite in [our telemetry stability requirements](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/versioning-and-stability.md#semantic-conventions-stability) and allow adding log

[2022-10-20 21:11] tigrannajaryan commented on #2897
@MSNev Yes, we need it. I explained how to do that identification. We can check that `k8s.event.reason` attribute is present. Why is this not sufficient?

Presence of an attribute seems to be as reliable an indicator as the value of an attribute.

Do you mean containing at the same time? Be restrictive and deal with it like you deal with any other malformed data or be permissive and assume one of

[2022-10-20 21:17] tigrannajaryan commented on #2897
@jkwatson good to see you back at Otel!

Looks like you are interested in this topic. It would be great if you could help! Join the Log SIG calls if you can.

I suggest that there is no such thing as OpenTelemetry event. There is for example browser events, for which the browser instrumentation library will define a nice API to call.

No, you don't need to do either of those. Call a purpose-built

[2022-10-20 21:22] scheler commented on #2897
I think it will be good to list down the use-cases for Events. RUM is one (both browser and mobile). The other requirement I have seen so far is for capturing Custom Events that different vendors have API for for their users. And the custom events API is across all products including RUM, APM and Infra. There's also a third category for receiver of events from other sources, such as Kubernetes Eve

[2022-10-20 21:27] tigrannajaryan commented on #2897
@scheler can you please clarify what this is?

These are in the Collector. They don't need an API.

[2022-10-20 21:48] scheler commented on #2897
The backends do not know the source. When they are looking for Events, they are looking for messages with specific common characteristics. Events don't need to be created only through an API. Events must have a data model that backends can rely on.

Of course, Kubernetes Events or other events received by the Collector need not be Events. However, this fact must be published so the backends know w

[2022-10-20 23:29] breedx-splk commented on #2859
@yurishkuro I have met with the comms sig and now I am working on a blog post and will engage in #jaeger channel in CNCF slack as well.

One clarification: This issue was initially scoped to only the thrift based jaeger exporters, but #2858 is really about deprecating all flavors. Since that has a larger scope, I will point users there for comments/feedback.

[2022-10-20 23:32] jkwatson commented on #2897
If there is to be no event API, then I propose we get rid of an otel logging API for Java altogether. Java _does not need another logging API_ . Period. Full stop.

[2022-10-20 23:34] jack-berg commented on #2897
@tigrannajaryan

I don't know why it's acceptable for spans. I think attribute presence for classification based on prior knowledge is cumbersome and may be fragile in some instances. For example, you can't actually use the presence of `http.method` to identify http server spans - you must look for `SpanKind = server AND http.method != null`. If another semantic convention resuses (admittedly unli

[2022-10-21 00:13] tsloughter commented on #2897
There would still need to be some generic "event.name" and maybe "event.domain" attribute in the data model so that generic events can be supported by all backends simply by following the spec and not require knowing about every type of event -- since not every type of event will be supported by every backend if that direction were taken.

A backend could require the user input the custom attribut

[2022-10-21 01:15] anuraaga commented on #2859
Happen to still be seeing this issue so wanted to add one small point - the idea was to replace a jaeger agent with a sidecar OTel collector I think, not a remote one. Switching to remote would be a huge architectural change and probably blocked in a lot of cases, but I think we were hoping that swapping the local host agent binary would not have anywhere near as much friction. Just in case this h

[2022-10-21 15:00] PeterF778 commented on #1413
During our group meeting on Oct 20, @PeterF778, @kalyanaj, @spencerwilson and @kentquirk identified some use cases which are easier to handle if sampling decisions are based on r-value generated independently from the trace-id. One is with tracking user sessions and the other is with linked traces.

Assuming non-instrumented browser, user sessions involve several requests to some backend, each gen

[2022-10-21 15:37] nerochiaro commented on #454
Another scenario I bumped into is this:
I read from an SQS queue, and each ReceiveMessage call gets messages in batches (up to 10).
For each of these ReceiveMessage calls I would like to have links to the spans that enqueued the messages in the batch.

The [AWS SDK instrumentation](https://www.npmjs.com/package/@opentelemetry/instrumentation-aws-sdk?activeTab=readme) does not allow me to do that i

[2022-10-21 16:35] breedx-splk commented on #2859
Thanks @anuraaga, I appreciate that. I don't have a strong sense of how widespread the implementation of the two architectural models are (jaeger agent vs. "direct" ingest). If users currently leverage a Jaeger agent, I suppose they will probably need to switch to a collector....that is, unless the agent also supports OTLP (it sounds like it doesn't?)

[2022-10-21 17:00] yurishkuro commented on #2859
@breedx-splk I still find it acceptable to deprecate all flavors, we just need to give people more time to migrate away.

[2022-10-21 17:27] #2869 closed

[2022-10-21 18:45] MSNev commented on #2897
I should also add here that one of the "definitions" of an event being considered for the RUM sig is that an "event" is defined by
- `event.domain` + `event.name` (this could be also considered (domain / schema as above) / name as the index
- `event.data` this is the "nested attributes which represents all of the specific fields (optional / required) that are associated with the event.

The ration

[2022-10-22 05:20] ramthi commented on #2897
Spans already have a structure; compared to them, logs are going to be super noisy, unstructured, and possibly orders of magnitude more in volume.  Always querying for a known set of fields domain & name like so `domain+name=="browser.event.click"` or `domain+name="k8s.event.pending"` compared to `browser.event.type=="click"` or k`8s.event.reason="pending"` is definitely complicated. Supporting ne

[2022-10-24 12:07] carlosalberto commented on #2883
Marking as "needs more info" - looking forward to the discussion regarding this item.

[2022-10-24 12:09] carlosalberto commented on #2891
This has been accepted as an important item to pay attention to, and the TC started discussing this, and will follow up as expected.

[2022-10-24 12:10] arminru commented on #2895
It's worth mentioning that this would be consistent to HTTP and gRPC:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#http-request-and-response-headers

[2022-10-24 12:14] carlosalberto commented on #2895
Wondering whether this attributes would be something that could be shared with other messaging systems (or even some top level component). We need expertise at least in the messaging section, in case we indeed can share headers semantic conventions.

[2022-10-24 12:24] samimusallam commented on #2895
I agree! but I'm not very familiar with other messaging systems, so maybe someone with more experience can weigh in?

[2022-10-24 13:12] marcalff opened #2899 "Schema URL versus URI"
The specification for traces indicates that the `TraceProvider` accepts a `schema_url` parameter, in the API to get a tracer.

[code]

This `schema_url` is then used in various places, when emitting a trace span.

Please clarify:

- is a **URL** actually intended here, meaning the URL should point to a document that actually exists ? In which case, what kind of document is expected to be hosted at

[2022-10-24 15:51] jsuereth commented on #2891
The TC has decided to put a moratorium on environment variable configuration related changes until a formalized configuration mechanism is in place.

The current [SDK environment variable](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md) configuration will not be extended with anything following:

- Anything that is not statically

[2022-10-24 18:55] jack-berg opened #2900 "Track JVM memory usage after GC"
In talking about JVM gc metrics, the java SIG has concluded that it would be valuable to track memory usage after garbage collection. Discussion available [here](https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6362#issuecomment-1262848079).

The JVM provides access to determine the memory usage by different memory pools as of the most recent garbage collection event. By r

[2022-10-24 20:02] tigrannajaryan commented on #2897
OK. To summarize the comments: there is not much love for the presence-based domain indication and there are known downsides. I am going to close this proposal as rejected.

I am at Kubecon, so won't be able to work on for until next week. I still think the current spec is not the best we can do.

[2022-10-24 20:02] #2897 closed

[2022-10-24 21:52] jack-berg opened #2902 "Track JVM gc time"
Related to #2900.

Its valuable to track the time spent in garbage collection, how many garbage collection events took place, and the type of garbage collection events that took place (different garbage collector implementations have various phases which happen concurrently or in parallel).

I proposed [here](https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6362) that we u

[2022-10-27 13:04] svrnm commented on #2866
following up on this issue. Throughout the repositories & the documentation "automatic instrumentation" is used to describe three different things:

1. the mechanism to accomplish "don't touch my code instrumentation", used as a verb/action:
  * _"We automatically instrument and support a huge number of libraries, frameworks, and application servers"_ ([4](https://github.com/open-telemetry/opentel

[2022-10-27 15:59] MrAlias commented on #1891
It was pointed out in [this discussion](https://github.com/open-telemetry/opentelemetry-go/discussions/3402) that Prometheus allows users to define their own mechanism to purge their own data.

Might be worth specifying a similar mechanism instead of a prescriptive drop policy. That way the most informed person about the data, the user, can make the decision.

[2022-10-27 19:24] MrAlias opened #2905 "Clarification needed on how values for attributes filtered by a view are used"
Currently [the specification states](https://github.com/open-telemetry/opentelemetry-specification/blob/ec31d29b8507136ebcb30fad961e8ac594fe1c02/specification/metrics/sdk.md#view):

For asynchronous counter instruments (counter and up-down-counter), how should their sums be reported when this "filter" is defined?

For example, if there is an asynchronous counter that observes `1` for the attribute

[2022-10-27 19:35] MrAlias commented on #2905
I would be interested to hear how Java, .NET, and other stable implementation behave here. Unfortunately, my ability to write examples there are non-existent.

[2022-10-27 21:52] reyang commented on #2905
The Python implementation sounds buggy to me.

For [additive](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/supplementary-guidelines.md#additive-property) (e.g. Counter, UpDownCounter, Asynchronous Counter, Asynchronous UpDownCounter) values, removing a spatial dimension should result in sum.

[2022-10-27 22:07] MrAlias commented on #2905
@reyang can you comment on how .NET handles this? Does that project add them together?

[2022-10-27 22:32] cijothomas commented on #2905
https://github.com/open-telemetry/opentelemetry-specification/issues/1874 Old issue discussing this.

I can confirm that .NET does not handle this correctly, and has the same bug as python. (I'll create an issue to track)

[2022-10-27 22:34] cijothomas commented on #2905
https://github.com/open-telemetry/opentelemetry-dotnet/blob/73f8d3cb0160f633661854f41866dcdb70b81069/test/OpenTelemetry.Tests/Metrics/MetricAPITest.cs#L803 UnitTest showing the same bug in .NET. (I look at it at that time and was not trivial to fix, so just added test to come back to this later.)

[2022-10-27 23:57] MrAlias commented on #2905
Gotcha, thanks for confirming :pray:

[2022-10-28 15:08] MrAlias commented on #2905
@jack-berg can you confirm the behavior of async counters in Java in the presence of an "attribute reducing" view? I'm wondering if there is any implementation that sums these values.

[2022-10-28 15:33] jmacd commented on #2905
This is a good question. The Lightstep metrics SDK and the v0.31 and earlier OTel-Go metrics SDK did sum these instruments. As a case where this matters, potentially, is the Golang runtime/metrics package, which outputs cumulative Counter and UpDownCounter values in a form that is natural for use with asynchronous instruments.

For example, runtime/metrics outputs three metrics, one is a total of

[2022-10-28 16:15] reyang commented on #2905
A good way to think about this problem: whether the dimension is removed from the SDK (e.g. by configuring View), or it is removed by the Collector (by reaggregation), or it is removed at the backend/comsumption (via PromQL), the results should be the same.

[2022-10-28 16:55] MrAlias commented on #2905
@reyang should the `[Asynchronous Counter](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-counter)`, `[Asynchronous UpDownCounter](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-updowncounter)` be added to the list of instrument at the end of that section that are t

[2022-10-28 17:03] lalitb commented on #2905
otel-cpp implementation does the sum for the sync counters matching the "attribute reducing" view, but selects the last value for the async counter. Need to be fixed, will create a issue to track this.

[2022-10-28 17:14] reyang commented on #2905
Which list?

I think no. Additive property applies to [Sums](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#sums), and is covered by the SDK specification https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#default-aggregation.

[2022-10-28 17:15] MrAlias commented on #2905
The list included in the sentence at the end of the linked section:

[2022-10-28 17:17] MrAlias commented on #2905
Where is it covered? I don't see anywhere in that linked section defining sums as additive.

It also seems like the term additive is applied to instruments, not aggregations. This would make sense as that is where attributes are also defined.

[2022-10-28 17:17] reyang commented on #2905
I think yes it can, not necessarily as it is only providing examples (without promising that it will be a complete list).

[2022-10-28 17:22] reyang commented on #2905
Yeah, I can see the challenge here.

The data model specification covered "additive" in the [temporality](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#temporality) section, and temporality is referenced by the sums section. I wrote the supplementary guideline after discussing with @jmacd, hoping it will provide some help for folks who

[2022-10-28 17:23] MrAlias commented on #2905
Gotcha. Any help clarifying this in the specification would be appreciated :smile:

[2022-10-28 17:30] reyang commented on #2905
I think the spec does require it, although it is not expressed in a normative way.
Here is my understanding of the complex mental network:
1. One has to first read the API specification to understand Asynchronous Counter.
2. Then go to the SDK specification to understand that the default aggregation is Sum.
3. Then go to the Data Model specification to understand temporality and realize that Sum m

[2022-10-30 11:57] avzis opened #2907 "Add additional attributes for mongo DB spans"
**What are you trying to achieve?**
I want to add to the database semantic conventions additional attributes for mongo DB spans.
The value of adding these fields is to help users get more information from the traces which would allow for easier troubleshooting.

The additional attributes that I want to add are related to operations done on the DB.

For an `INSERT` request:
Save the value `document

[2022-10-30 14:39] jsuereth commented on #2864
Updated a [section for Metrics](https://docs.google.com/document/d/1Nvcf1wio7nDUVcrXxVUN_f8MNmcs0OzVAZLvlth1lYY/edit#heading=h.e71xzqqz0b5t) for our next meeting, including three topic points:

- Should we consider explicit bucket boundary changes on histograms breaking?
- Should we consider moving between integer / floating point values breaking?
- Should we consider moving between Attribute type

[2022-10-30 14:42] haddasbronfman opened #2908 "Add `db.redis.arguments` for requests and responses"
**What are you trying to achieve?**

I want to add to the database semantic conventions additional attributes for `redis` spans.
The value of adding the metadata is to help users get more information from the traces which could allow for easier troubleshooting.

I propose the following names for the attribute:
- `db.redis.arguments`

[2022-10-30 14:42] jsuereth commented on #2883
@tedsuo FYI - we're hoping to discuss this on Monday in the WG.

For reference here's two things I put together for metrics:

1. An investigation into aspects of the protocol, with some thoughts on what can/needs to be enforced: [sheet]
2. A verbal description of "what's in", "what's out" for stability guarantees and a few things we should discuss. (https://docs.google.com/spreadsheets/d/1KB8kcW-h

[2022-10-31 07:39] feldentm-SAP opened #2910 "Webengine semantic convention contradicts itself"
**What are you trying to achieve?**

Foremost, the convention defines a "required" attribute "webengine.name" in a context that may not apply to all telemetry sources.
Thus, its level should be reduced to either "recommended" or to conditionally required with the condition being that any of the webengine attributes is used.

Furthermore, the text of the convention explains that the attribute types

[2022-10-31 13:12] carlosalberto commented on #2899
Indeed, it seems we don't have any further explanation on this item, so I will mark it as accepted, and will assign it to @tigrannajaryan for a start.

[2022-10-31 13:16] carlosalberto commented on #2900
Overall it seems good and doesn't seem polemical, specially as we already have Java GC metrics (and these metrics are process-specific).

cc @jsuereth just FYI ;)

[2022-10-31 13:33] carlosalberto commented on #2902
Similarly to #2900, it makes sense given the existing Java GC metrics - I'm mostly curious about the "action" attribute as it's not well explained in the Java docs themselves, so your examples help (and even more examples would be appreciated).

[2022-10-31 13:33] carlosalberto commented on #2902
cc @jsuereth @jmacd

[2022-10-31 13:54] carlosalberto commented on #2908
Hey @haddasbronfman - would you mind mentioning examples/use cases?

[2022-10-31 13:55] carlosalberto commented on #2907
Hey @avzis - was wondering why `db.statement` is not used here? e.g. it is used for Redis commands such as `SET mykey "WuValue"` which _seems_ to have all the information you need.

[2022-10-31 15:56] breedx-splk commented on #2859
@yurishkuro On the [otel blog post PR](https://github.com/open-telemetry/opentelemetry.io/pull/1892), @austinlparker brought up a good question about cross-posting with the Jaeger blog. Any chance you can assist with that? 🙏🏻

[2022-10-31 17:13] joaopgrassi commented on #2895
Hey @samimusallam

There is a group working on messaging semantic convention and one of the focus is on attributes. The group has a meeting that happens every Every Thursday at 8:00 PT. It would be great if you could join and present this use case to the group so we have a better understanding of what you want to achieve. There we could also try to answer the question @carlosalberto raised if this

[2022-10-31 21:31] jack-berg commented on #2905
Java doesn't do this correctly either. Opened [open-telemetry/opentelemetry-java#4901](https://github.com/open-telemetry/opentelemetry-java/issues/4901) to track.

[2022-11-01 01:13] Aneurysm9 commented on #1957
All tasks associated with this issue have been completed.  Are there any remaining tasks that must be completed before OTLP/JSON can be stabilized?

[2022-11-01 07:44] newly12 opened #2915 "OTLP/HTTP: Retry or no on status code 401, 403?"
**Is your feature request related to a problem? Please describe.**
401, 403 means auth failure, typically retry should not be attempted.

**Describe the solution you'd like**
add 401, 403 as `PermanentClientFailure` [here](https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/otlphttpexporter/otlp.go#L189-L210)

[2022-11-01 15:03] tigrannajaryan commented on #1957
I think we are ready to declare it stable. Needs a PR that describes what exactly is guaranteed. It will be a subset of guarantees in https://github.com/open-telemetry/opentelemetry-proto/pull/432

[2022-11-01 15:06] MadVikingGod commented on #2905
I want to try and clarify the workings of the async instruments and their default aggregation.

In the case that was raised here, there is a filter and two observes will record to the same filtered counter, we expect the result is a sum of both observations.

What about other similar cases:
1. If there is no filter, and two observers happen in separate callbacks?
2. If there is no filter and two o

[2022-11-01 16:59] reyang commented on #2857
FYI https://github.com/open-telemetry/opentelemetry-specification/issues/2891#issuecomment-1289241503

[2022-11-01 21:14] reyang commented on #2905
@MadVikingGod could you give some concrete examples? I found that the cases you've described can be interpreted differently. Ideally something like this would help to provide clarity https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/supplementary-guidelines.md#asynchronous-example.

If folks feel this area needs more examples to facilitate the understand

[2022-11-01 23:22] reyang commented on #2866
I hope to steer conversation towards a slightly different direction:

I feel the intention here is not about "touch my code or not", it is more about two concerns:

1. As a developer who owns the source code, do I need to understand the API and SDK to write some code, or I can just follow some onboarding steps to get telemetry data.
    * OpenTelemetry Go might provide such mechanism to transform

[2022-11-01 23:40] jsuereth commented on #2864
From WG + Spec SiG:

We don't enforce this in the specification today, and doing so is likely breaking or lots of churn/work.  We'd like to nuance what is considered breaking to something akin to:

- For a given timeseries, the type of points (integer / floating point) should remain the same for its lifetime.
- When merging timeseries, if different types of points are encountered (both integer and

[2022-11-01 23:54] alanwest opened #2911 "Move towards Log API/SDK stabilization"
[OpenTelemetry's vision for supporting logs](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/README.md#introduction) is clear:

A number of prototypes exist demonstrating the Log API's utility in implementing [log appenders](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/api.md#how-to-create-log4j-style-appender

[2022-11-02 07:42] jamielennox opened #2912 "Support an Envoy x-request-id propagator"
We run a large number of services using istio and envoy as a service mesh and at the moment are trying to use opentelemetry for trace collection to tempo.

Currently we are trying to achieve this at the platform level rather than require too much configuration from the applications so are exporting w3c spans from envoy to otel via the [opencensus](https://istio.io/latest/docs/tasks/observability/d

[2022-11-02 16:36] tigrannajaryan commented on #2911
One thing we need to decide now: in a hypothetical scenario where we eventually come to a decision that we don't need an "Events API" at all would the current structure of LoggerProvider/Logger API work fine on its own even if we delete everything related to "Events" from the API?

We may decide to support "Events" using some other form of helpers instead of making it a sibling API of Logger so we

[2022-11-02 17:03] frzifus opened #2913 "add convention attribute for k8s cluster version"
**What are you trying to achieve?**

It would be nice to support cluster versions. Cluster upgrades can cause problems with software that communicates with this api. But I'am missing a convention entry for k8s cluster version equal to the cluster name (`conventions.AttributeK8SClusterName`).

**What did you expect to see?**
An entry like `conventions.AttributeK8SClusterVersion = "k8s.cluster.versi

[2022-11-02 18:38] alanwest commented on #2911
Marking `Get a Logger` stable is core to the premise of decoupling logs from events. I think this topic warrants a separate issue/PR, but my initial thought is the `event_domain` parameter just needs to be removed from the `Get a Logger` API. That would effectively decouple the `Get a Logger` API from anything event related. A new experimental API would need to be proposed in support of events.

Y

[2022-11-02 22:27] plantfansam opened #2914 "Best way to to support traceresponse and load balancer deferred sampling?"
Hi all! Hopefully this is the place for this issue, since I don't have an OTEP in my back pocket. Feel free to bounce me elsewhere (I did [try Slack, first](https://cloud-native.slack.com/archives/C01N7PP1THC/p1667332281372659))!

**What are you trying to achieve?**

Implementing load [balancer deferred sampling](https://w3c.github.io/trace-context/#load-balancer-deferred-sampling) using experimen

[2022-11-03 14:42] MadVikingGod commented on #2905
That is the gist of what I was asking about, just more tightly focused on edge cases we have historically found to be non-obvious.  Like the behavior in this issue.

If we were to ask "What should be the result in these 4 (+ the original) cases?" I think we would see different interpretations. While I think the supplementary guidelines are useful, they are verbose enough that they can only cover a

[2022-11-03 15:22] tigrannajaryan commented on #2915
@open-telemetry/specs-approvers any thoughts on this?

[2022-11-03 15:57] jack-berg commented on #2915
Related to #2217.

Without clarification from the spec, java decided that 429, 502, 503, and 504 are retryable, as seen [here](https://github.com/open-telemetry/opentelemetry-java/blob/main/exporters/common/src/main/java/io/opentelemetry/exporter/internal/retry/RetryUtil.java#L24-L25). We've left the retry feature in java unstable due to this lack of specificity (and also #1742) which really is a

[2022-11-03 15:57] yurishkuro commented on #2915
* Why would this be different from gRPC exporter implementation?
* IIRC, in gRPC the retry is an instruction returned by the server, why can't be the case with HTTP?

[2022-11-03 15:59] jack-berg commented on #2915
gRPC retry is largely based on the grpc status code (not http status code) returned.

gRPC clients can dictate a retry policy as described [here](https://github.com/grpc/proposal/blob/master/A6-client-retries.md#retry-policy-capabilities).

[2022-11-03 16:21] yurishkuro commented on #2915
Doesn't answer my question - the status codes are conceptually similar, and the approach should be the same across transports.

Also doesn't answer my question. Yes, the client **can** do it, but why make it a client (distributed) problem instead of a server (centralized) problem? Server should know better anyway if the request is retryable.

[2022-11-03 16:43] pyohannes commented on #2895
We discussed this in today's messaging workgroup meeting.

We see value in adding messaging system specific headers as proposed in this issue (e. g. `messaging.rabbitmq.message.header.<key>`).

However, we'd like to avoid a generic `messaging.message.header.<key>` approach for two main reasons.
1. To avoid duplication and ambiguity in the top-level `message` namespace. We prefer to capture attribu

[2022-11-03 16:52] tigrannajaryan commented on #2915
For the context, the [spec today says](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#otlphttp-response):
- 400 Bad Data is non-retryable
- 429 and 503 should be retried
- All other responses "should be treated according to HTTP specification". This part is unclear HTTP does not always define whether a client should retry when it receives a p

[2022-11-03 18:00] portertech opened #2916 "Add database resource specification"
**What are you trying to achieve?**

Add a database resource specification for attributes that are consistent and identifying across all database receivers in the collector.

**Additional context.**

We (Sumo Logic) are looking to create contrib and spec issues to propose adding resource attribute(s) to `mysqlreceiver`, please see [resource_attributes](https://github.com/open-telemetry/opentelemet

[2022-11-03 21:38] jack-berg opened #2917 "Proposal for pure syntactic sugar event API"
Proposal to change the event API to pure syntactic sugar over the log API.

Currently, the event API shows up in two places in the log API:
1. [LoggerProvider - Get A Logger](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/api.md#get-a-logger): `event_domain` is an optional field, required if you intend to use the resulting `Logger` to emit events.
2. [Lo

[2022-11-03 22:36] kalyanaj opened #2918 "How to achieve consistent sampling across linked traces?"
Filing this issue per our discussion in the Sampling SIG today.

**What are you trying to achieve?**
OpenTelemetry supports Span Links that can be used to model asynchronous scenarios or batched operations (fan-out/fan-in). I am looking to achieve some level of consistent (head-based) sampling of all the linked traces. If the sampling decision happens at an individual trace level, customers cannot

[2022-11-03 23:27] reyang commented on #2905
The gist reminded of me https://github.com/w3c/trace-context/tree/main/test, which is a big commitment to introduce and maintain. I feel it is probably a separate topic on its own.

[2022-11-04 00:06] jkwatson commented on #2917
I might argue that this is actually "semantic sugar" rather than "syntactic sugar", but perhaps I've been consuming too much "pedantic sugar" for my own good.

[2022-11-04 20:10] codeboten opened #2920 "Project Tracking: OpenTelemetry configuration"
### Description

OpenTelemetry specifies code that can operate in a variety of ways based on the end-user’s desired mode of operation. This requires a configuration interface be provided to the user so they are able to communicate this information. Currently, OpenTelemetry specifies this interface in the form of environment variables. This environment variable interface is limited in the structure

[2022-11-05 08:34] agardnerIT opened #2921 "Proposal: New SpanAttribute HTTP_EXPECTED_RESPONSE_TIME"
I want a standardised way for developers to signal that this span should take X milliseconds.

We can indicate almost everything else about an HTTP call in a standard way, like expected response code `SpanAttributes.HTTP_STATUS_CODE`) and even the retry count `SpanAttributes.HTTP_RETRY_COUNT` but we cannot treat performance with the same care.

I propose a new standard `SpanAttribute` called `HTTP

[2022-11-06 09:50] fstab opened #2922 "Attribute to indicate whether a Span is used as an Exemplar"
Exemplars are used to navigate from metrics to example traces. For example, the screenshot shows latencies from the `http.server.duration` metric as visualized by Grafana. Each little dot represents an Exemplar. If you click on an Exemplar, you can navigate to the corresponding trace.

![screenshot_2022-10-05_16:23:20_457465619](https://user-images.githubusercontent.com/330535/200163549-1d4a30b7-b

[2022-11-06 13:00] avzis commented on #2907
Hey @carlosalberto, thank you for the response.
I tried to check the `db.statement` value, and from what i've seen it only saves the request name, and not the values.

Now the question is wether we should update the implementation of `db.statement`, or add a new db value? (for example `db.request_attributes` or something like that)

[2022-11-06 21:25] srikanthccv commented on #2920
In Python SIG, we discussed implementing something like Django [settings.py](https://docs.djangoproject.com/en/4.1/ref/settings/) for configuration but put it on hold since this idea surfaced. I will be glad to participate in this effort and help the group.

[2022-11-07 01:23] lsl-2020 commented on #2753
Hi experts, could anyone share the latest updates on this project please? My team is waiting for the official version of instrumentation libraries to unblock roll out to production. Thanks!

[2022-11-07 07:57] svrnm commented on #2920
As mentioned on #1773 I am very interested in this topic and happy to participate. I will not be able to attend calls on Fridays, but hopefully there will be some means for asynch communication!

[2022-11-07 08:42] svrnm commented on #2866
ACK. I might have not expressed it elegantly, but that's what I wanted to say with "don't touch my code". Actually, you could even say that the K8s operator "auto instruments" the workload, which adds a layer more of complexity.

ACK, I try to find the instances where this is used differently. It's not a big concern in docs or other written material, but of course might be an issue for packages, e

[2022-11-07 10:19] jamielennox commented on #2912
Note, i'd also be happy with a generic header propagator that i could configure with headers i care about in the standard environment variable/config way.

[code]

[2022-11-07 13:50] tomas-mota opened #2923 "How to create an "up" metric"
Sorry if this is out of place here, I have tried to ask in the slack but did not get any satisfiable answer.

**What are you trying to achieve?**
I want to create an up metric for my services.
When using bare prometheus, due to the pull mechanism, it is easy to know that if the scrape failed, the service is down. With otel, since you set a metric-expiration (which is nice to have for other metrics

[2022-11-07 14:49] dyladan commented on #849
@open-telemetry/technical-committee I think this is quite an important issue that likely affects many SDKs. As @morigs pointed out in the related js issue https://github.com/open-telemetry/opentelemetry-js/issues/3094 the current situation effectively works as a rate-limiter which I believe is not be the intended effect. JS would like to implement a fix for this, but we don't want to do something

[2022-11-07 14:58] jack-berg commented on #2915
Do you anticipate some sort of downside from being explicit about which are retryable?

[2022-11-07 15:18] yurishkuro commented on #849
imo the export should happen once the desired batch size is reached or the delay timer ticks, whichever is earlier. The former protects against unnecessarily large batches, the latter protects against sitting on the data that trickles in slowly.

[2022-11-07 15:33] pichlermarc opened #2924 "Is a `MetricReader` supposed to implement `ForceFlush`?"
**What are you trying to achieve?**

The [specification for `ForceFlush` on the `MeterProvider` mentions that](https://github.com/open-telemetry/opentelemetry-specification/blob/740524363835162bb9ff6b017e66f3a0b150a73c/specification/metrics/sdk.md?plain=1#L132-L134)

However, the [specification for `MetricReader`'s operations](https://github.com/open-telemetry/opentelemetry-specification/blob/main

[2022-11-07 17:28] samimusallam commented on #2895
Thank you for the update!
If `messaging.rabbitmq.message.header.<key>` satisfies (for RabbitMQ only), there is no need from my side to add it to other messaging systems.

[2022-11-07 17:32] carlosalberto commented on #2920
I'd like to sponsor this project as a TC member.

[2022-11-07 19:21] mmanciop commented on #454
I came here to post what the message above says, only difference is that I bumped into it when working on the Python SQS instrumentation.

[2022-11-07 22:11] srikanthccv commented on #2924
IIRC, when we discussed the same issue for Python implementation (issue here https://github.com/open-telemetry/opentelemetry-python/issues/2554), I believe it was @jack-berg who pointed us that there is a text in `MetricReader` spec that says.

I think it could have been clearer if there was a `ForceFlush` defined in the list of `MetricReader` operations, but an implementation with `ForceFlush` is

[2022-11-08 02:14] Yun-Ting opened #2928 "Question on `process.memory.virtual` metric"
**What are you trying to achieve?**

I am seeking some clarity on the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/process-metrics.md#metric-instruments) description, "The amount of committed virtual memory",  of this metric.

What did you expect to see?

A more well-defined description of this metric.
For example, update

[2022-11-08 02:35] Yun-Ting opened #2929 "Why do we need the `process.context_switches`?"
**What are you trying to achieve?**

Understanding the necessity of having `process.context_switches` metric.

What did you expect to see?

Process context switch is tracking how multiple processes share a single CPU and how the CPU multi-task.
I am not sure how would having the `process.context_switches` benefit the metric consumer in understanding the process behavior/performance.
I propose to r

[2022-11-08 06:40] tomas-mota commented on #2923
Forgot to mention, this is using the [prometheus exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/prometheusexporter)

[2022-11-08 10:41] arminru commented on #2913
Hey @frzifus!
This is about the version of k8s itself and not the services deployed on it, right?
Is this something specific to OpenShift or can this value be retrieved for all k8s implementations?

[2022-11-08 12:18] dyladan commented on #2914
/cc @kalyanaj looks like a traceresponse implementer

[2022-11-08 12:51] joaopgrassi commented on #2753
@lsl-2020 you can check the meeting notes to see what was discussed in the last meeting: https://docs.google.com/document/d/10xG7DNKWRhxNmFGt3yYd3980a9uwS8lMl2LvQL3VNK8/edit

[2022-11-08 13:00] evan-bradley commented on #2929
The `process.context_switches` metric can be used to help determine whether a process is IO-bound or CPU-bound using the `type` attribute to compare the number of voluntary and involuntary context switches. The metric is [optionally emitted](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md) by

[2022-11-08 14:21] dyladan commented on #2920
Added to calendar.

Doc link: https://docs.google.com/document/d/1uNgWQLQZcSVfBLRXfW9XCVJmKa5NH9R15fSOXhmpGWw/edit
Zoom link in the doc and calendar invite (don't want to paste here in case bots find it)

[2022-11-08 15:48] #2880 closed

[2022-11-08 16:05] codeboten commented on #2920
Thank you @dyladan!

[2022-11-08 16:20] cyrille-leclerc commented on #2922
I like the simplicity of this solution to not break exemplars when sampling traces.
I prefer the more sophisticated option to track which metric has used the trace as an exemplar and I would consider it a multi valued string attribute
`examplar.metric=["http.server.duration", "mycompany.order.value"]`.

[2022-11-08 19:09] frzifus commented on #2913
Hi @arminru,
you are right. The version info is coming from the k8s API itself. There is a `/version` endpoint that is also used by `kubectl version`.

<details>
  <summary>Example Kubernetes API request..</summary>

[code]
[code]
</details>

It is Kubernetes specific. While working on the openshift resource proccessor support, i noticed it would be even better to introduce a openshift and kuberne

[2022-11-08 20:11] CodeBlanch commented on #2920
@codeboten I'm interested in joining the working group and can help contribute a .NET prototype (probably will collaborate with @alanwest on it).

[2022-11-08 21:03] lalitb commented on #2920
no-code configuration would be the requirement for the OpenTelemetry C++ to support dynamic loading of SDK. I can help in prototyping for C++ (though it is not mentioned as part of deliverables).

[2022-11-08 21:30] Yun-Ting commented on #2929
Yes, I think collector is a more suitable place to track the process.context_switch rather than having it in the process instrumentation space.

[2022-11-08 22:02] #2900 closed

[2022-11-08 23:52] tigrannajaryan commented on #849
This. This is also exactly what we do in the Collector if I remember correctly.

If the spec does not describe this behavior I would argue it is a spec bug.

[2022-11-09 03:26] cijothomas commented on #2918
https://github.com/open-telemetry/opentelemetry-dotnet/pull/1851/files It was in .NET originally, but was removed as it was not something spec covered at that time.

[2022-11-09 03:29] cijothomas commented on #2922
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#exemplar-defaults
From the current, it looks infeasible to implement such a thing. The Exemplar reservoir could hold a exemplar for a moment, but it could be overwritten later, so we cannot accurately add this attribute to the span itself.

[2022-11-09 15:45] cijothomas commented on #2922
Sorry I haven't looked at how OTel Sdks have implemented it yet (only Java has implemented it so far I think.)

But from the spec wording, and the algorithm used in the built-in SimpleFixedSizedExemplarReservoir, the reservoir can be overwritten with subsequent measurements within the same collection cycle. (Unless I read the spec incorrectly..)

[2022-11-09 16:53] scheler commented on #2734
@jsuereth any update on having a TC member help us on this project? Did you get a chance to raise it in a TC meeting?

[2022-11-09 17:22] jmacd commented on #1891
We discussed this in the Prometheus working group today because we feel it is important for OTel and Prometheus to align on how we handle cardinality explosions. We placed our attention on [these configuration options documented for the Prometheus server, particularly `sample_limit` and `label_limit`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/).

[code]

We are inter

[2022-11-09 17:37] jmacd commented on #2738
@bogdandrutu thank you for raising the question about UpDownCounter. The current OTLP Exporter preference spec is:

To me, these rules follow from the API's description of the purpose of the instrument, which is to calculate totals from incremental updates. Practically speaking, the reason we wrote these rules is to ensure that vendors and systems can safely translate UpDownCounter instruments int

[2022-11-09 17:41] tigrannajaryan commented on #2738
Not to district from this discussion, but I am curious about something related: in the "non minimum memory usage" setting do we attempt to still limit the memory usage in any way by purging the state for the least used timeseries?

[2022-11-09 17:50] tigrannajaryan commented on #2908
Does this need to be Redis specific? I see for example a very similar request that is more generic: https://cloud-native.slack.com/archives/C01N7PP1THC/p1668007675690439

[2022-11-09 21:28] sirzooro opened #2932 "Need new options to specify minimum TLS version and allowed ciphers list"
I am looking for a way how to configure TLS options for OTLP HTTP exporter. I found that I can use https schema and set path to my trusted CA certificate file using exporter option or `OTEL_EXPORTER_OTLP_CERTIFICATE` environment variable, as specified here:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md

I also need to specify TLS 1.2 as

[2022-11-09 23:59] lmolkova opened #2934 "Current schema version should be excluded from schema_check validation"
**What are you trying to achieve?**
I'm trying to rename some attributes and add schema mapping here https://github.com/open-telemetry/opentelemetry-specification/pull/2763/files#diff-13146afa870e358cc26b1d9a83dbf7aa95e784b6042c04e104ff22b7ad4844be

It fails since I'm changing 1.15 and it does not match the published one.

What did you expect to see?

I should be able to add new attribute renames

[2022-11-10 00:14] #2934 closed

[2022-11-10 04:57] trask opened #2935 "Are rpc.request.metadata and rpc.response.metadata gRPC specific?"
**What are you trying to achieve?**

Clarity on whether `rpc.request.metadata.` and `rpc.response.metadata.` are generic RPC attributes, or specific to gRPC.

**What did you expect to see?**

If they are generic RPC attributes, I would not expect them to be under the [gRPC](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/rpc.md#grpc)

[2022-11-10 11:56] haddasbronfman commented on #2908
I wrote it specifically for Redis, but you're right there might be more databases that this attribute can fit to.
How can we proceed from here?

[2022-11-10 13:46] tigrannajaryan commented on #2917
@jack-berg I suggest we split the events "helper/sugar" API into a separate document to simplify status tracking (avoid Mixed status) and to emphasize the difference and reliance on the logging part.

[2022-11-10 13:51] tigrannajaryan commented on #2917
I also still see confusion from people that we building a logging API. We need to somehow make it more clear that we don't.

One thing we can try after splitting the events part is to rename the "Log API" to "Logging Backend API". The term "backend" appears in new designs (e.g. [here](https://github.com/golang/go/discussions/54763)) and makes it distinct from "frontend". This distinction perfectly

[2022-11-10 14:06] yurishkuro commented on #2917
Maybe SPI instead of API, since it's not intended for application code.

[2022-11-10 14:17] tigrannajaryan opened #2936 "Make sure it is very clear we are not building a Logging API"
We are only building a logging "backend" which is supposed to be used via appenders by existing logging libraries. Additionally, we may provide helpers to build "events" that make easier to build LogRecords with specific semantic convention. Such helpers will also call the logging "backend" APIs.

We do not intend to have user-facing logging API in the spec.

[2022-11-10 14:17] tigrannajaryan commented on #2936
@open-telemetry/specs-approvers FYI.

[2022-11-10 14:17] tigrannajaryan commented on #2936
@open-telemetry/specs-logs-approvers FYI.

[2022-11-10 14:28] tigrannajaryan commented on #2917
I opened an issue to make sure we fix this confusion: https://github.com/open-telemetry/opentelemetry-specification/issues/2936

[2022-11-10 14:34] tigrannajaryan commented on #2917
I think the approach that @jack-berg proposed in this PR requires that the `LoggerProvider`/`Logger` is callable from application code. `EventLogger.create` accepts an instance of `Logger` and `EventLogger.create()` call lives in the application's (or instrumentation library's) code.

[2022-11-10 17:36] tigrannajaryan commented on #2908
See if you can generalize it and make applicable to other database and name appropriately (e.g. `db.statement_arguments` or similar).

[2022-11-10 18:58] yellenseram commented on #1344
Wondering if there's any progress on this?

[2022-11-10 20:12] tigrannajaryan opened #3420 "Capture policy regarding non-exposure of generated Protobuf structs in the end user API"
This is related to https://github.com/open-telemetry/opentelemetry-go/issues/3455 which requests Go SDK to stop exposing the generated code in the API.

We don't have a policy or clarification anywhere that explains why this is prohibited.

My initial thoughts is that allowing has this benefit:
- It is convenient and avoids the creation of a wrappers that often 1 to 1 mirror the Protobuf structs.

[2022-11-10 21:09] fstab commented on #2922
For reference: The Prometheus Java metrics library has a retention time for Exemplars, which defaults to 7s. Exemplars are kept for min 7s before the next Exemplar is sampled. This should work fine with marking Spans as "used as an Exemplar", as these spans would only be produced once every 7s.

Is there any chance to change the Spec to allow something like this in the OpenTelemetry SDK? And if th

[2022-11-11 00:27] jack-berg opened #2939 "Move event.domain from InstrumentScope to LogRecord"
In the 11/9 Log SIG we discussed whether it was appropriate for `event.domain` to be defined as an attribute in InstrumentationScope, or is more appropriate an attribute on LogRecord.

We reasoned that LogRecord is more appropriate as follows:

- Because InstrumentationScope is a [build-time concept](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/glossary.md#

[2022-11-11 07:21] akira-kurogane commented on #2912
Wait, what about span id, parent span context, sampling decision headers?

If you say 'Here is another trace id context propagation method' a lot of people will assume that it provides what the others do. (Others = zipkin "b3" style, W3C trace context, older Jaeger style, older Opentracing.)

Then after going with it they will have no controlled sampling behaviour and incorrect parent-child relati

[2022-11-11 14:23] jsuereth commented on #2924
@srikanthccv Answered this well.   You can use different method names, appropriate to the paradigm you use for MetricReader.

However, the key is that you implement a working ForceFlush for appropriate readers.  (E.g. PeriodicMetricReader should perform a flush when this is called, while a Pull-based reader/exporter may be unable to).

[2022-11-11 15:01] dashpole commented on #2923
The prometheus up metric is basically a healthcheck-as-a-metric.  You could achieve almost the same behavior by having something external to the application periodically health-check the application, and report a metric based on the result.  It won't be tied to your other metrics in the same way the prometheus up metric is, meaning this metric being in the healthy state doesn't imply your other me

[2022-11-11 15:01] jsuereth commented on #2923
If you're using a prometheus exporter + pull-based system, then an `up` metric should be created BY prometheus and makes a lot of sense.

`up` metrics aren't really the same in a push-based world.  Typically, you'd have a heartbeat metric, rather than an `up`, and you need to interact with them subtly different.   `up` means the endpoint was a live and CPU responded and such.  A heartbeat, you nee

[2022-11-11 22:11] tomas-mota commented on #2923
I appreciate the feedback and suggestions. Might very well go with the current time solution, as there doesnt seem to be any other way to emulate a "liveness" metric in this setup.

As you can see from the diagram @jsuereth, it is a mix of push and pull, that is why it is hard to give the "up" metric responsibility to prometheus. Is there a standardized way of implementing such a heartbeat like yo

[2022-11-14 08:06] richardmcmillen opened #2944 "Add ForceFlush to the TracerProvider Trace API specification"
**What are you trying to achieve?**

I expected to see that the OpenTelemetry Trace API specify that TracerProvider should implement ForceFlush

My proposal is to specify that the Trace API TracerProvider should implement ForceFlush as a no-op which always reports success.

**Additional context.**

The Trace SDK TracerProvider specification contain sections on [Shutdown](https://opentelemetry.io/d

[2022-11-14 15:29] ahayworth commented on #2944
For context, the discussion linked above ☝️ talks about how two of our ruby instrumentation libraries inadvertently rely upon an SDK tracer method (rather than solely using API methods). One such example is [here](https://github.com/open-telemetry/opentelemetry-ruby-contrib/blob/d5a32ef0f0d69eb78f76fb39044161269b1ed37f/instrumentation/active_job/lib/opentelemetry/instrumentation/active_job/patches

[2022-11-14 15:34] #2939 closed

[2022-11-14 16:02] sirzooro opened #2945 "Semantic convention for span link names"
**What are you trying to achieve?**
Spans can be created with one of more links leading to other spans (other than parent span link). When such links are present, Jaeger displays all links in small menu next to the trace. Every line in this menu is some ID (probably Span ID) and link type (parent/external). This is not very user friendly. When only one external link is present (in case of 1-to-1 r

[2022-11-14 17:21] jsuereth commented on #2922
In practice, it's really hard to know *when a span is exporter* whether or not the exemplar will be retained and reported by metrics.

As already stated here.   Even for prometheus, the issue is that only the "latest" exemplar is kept in the reservoir, so unless you buffer spans and delay writing them until metrics are also written to guarantee consistency, you're basically unable to do this.

If

[2022-11-14 17:25] portertech commented on #2916
@djaglowski I'm curious to hear your thoughts on this and get your take on the possible attributes that I've proposed above.

[2022-11-14 17:35] reyang commented on #2923
@tomas-mota what does "up" mean? A concrete scenario might help as I bet everyone will have their different version of understanding of "up".

[2022-11-14 17:47] arminru commented on #2934
@lmolkova Did you close this on purpose or should it be re-opened?
I think it should work if you just use the "expected" next version (1.16.0 in this case) in the PR.

[2022-11-14 17:52] tomas-mota commented on #2923
My requirement here is simply "I want a metric that I can reliably query in order to know whether or not the service is running". As previously explained, a simple up=1 metric does not work here because of the expiration time in the collector.

[2022-11-14 18:02] reyang commented on #2923
I don't fully understand the ask here, maybe you only consider one single instance (do you have a service with multiple instances)? Anyways I think one could send the local timestamp as a gauge.

[2022-11-14 18:11] tomas-mota commented on #2923
Exactly, I was just trying to figure out if there would be an "otel" way of stating that the service is up. Using the timestamp is also totally fine for me, just wonder, like @jsuereth , if there should be a more out of the box way of doing this, so it is clear for other people.

[2022-11-14 18:52] lmolkova commented on #2934
@arminru thank you! I realized that 1.15 was already released and I needed to create 1.16.0 file, so I closed it on purpose

[2022-11-14 19:00] alanwest opened #2947 "Consider `http.status_code_class` attribute"
Inspired by https://github.com/open-telemetry/opentelemetry-specification/pull/2943#issuecomment-1312400189.

Proposal is to add a new attribute for grouping status codes by class, i.e., `1xx`, `2xx`, `3xx`, etc. See: https://datatracker.ietf.org/doc/html/rfc9110#section-15.

Open questions:
* Do we want a new attribute?
* Should the value of the attribute be `1xx`, `2xx`, etc OR `informational`,

[2022-11-14 19:21] djaglowski commented on #2916
I may be in the minority on this but I am very skeptical that any broad set of database technologies can share much of a metadata model without requiring an unreasonable number of caveats and disclaimers. The architectures don't quite line up, so the attributes won't line up either. There are enough similarities to make this attractive, but I would argue that the model will not generalize well, th

[2022-11-14 20:22] jmacd commented on #2918
@kalyanaj Thank you for posing these questions.

I would like to separate questions about span Links being created after the start of a span into a separate topic which may interest @pyohannes, below.

## About `ShouldSample()` and Span Links

Note that the present OTel-specified mechanism for probability sampling uses `tracestate` and that OTLP Span Links include the tracestate of the linked cont

[2022-11-14 21:34] srikanthccv opened #2948 "Add support for `OTEL_RESOURCE_DETECTORS` environment variable"
I looked around and didn't find anything related to this. Feel free to point me out if this has been discussed earlier. The SDK default behaviour is to use _EnvDetector_ (using env `OTEL_RESOURCE_ATTRIBUTES`) and populate some necessary default values. There is no way to configure the SDK to detect and load the resource detector automatically. This is especially important in auto instrumentation c

[2022-11-14 23:07] #2917 closed

[2022-11-15 14:13] Oberon00 commented on #2945
Shouldn't you ask Jaeger to display the name of the linked span instead? We also don't have that name for the "link" to the parent span.

[2022-11-15 14:34] sirzooro commented on #2945
Parent link is a special case, it does not need explicit name.

Using name of the linked span resolves this only partially. Span names should be generic ones, so user may end up with 4 links named "Sending message X". Explicit name attribute would allow to set link name like "Sending message X (retry 2)". Another useful bit of information is some unique ID which is stored in span attributes, and c

[2022-11-15 16:44] jmacd commented on #2923
Related OTEP:
https://github.com/open-telemetry/oteps/pull/185 (@jsuereth)

Related issues:

https://github.com/open-telemetry/opentelemetry-specification/issues/1078 (on topic, closed in favor of the OTEP above).

Tangentially-related:
https://github.com/open-telemetry/opentelemetry-specification/issues/2711
https://github.com/open-telemetry/opentelemetry-specification/issues/1273

[2022-11-15 16:49] joshcarp opened #2949 "Add connect to trace rpc semantic conventions"
**What are you trying to achieve?**

Add [connect](http://connect.build) rpc framework to semantic conventions

**Additional context.**
https://github.com/open-telemetry/opentelemetry-specification/pull/2950

[2022-11-15 17:04] jsuereth commented on #2923
Thanks for reminding me of that proposal.  I still think the general shape of the proposal is right, if we had the right names attached to it :)

[2022-11-15 17:19] pyohannes commented on #2945
There is a PR up for refactoring messaging semantic conventions which [advocates for adding message specific attributes on links](https://github.com/open-telemetry/opentelemetry-specification/pull/2763/files#diff-bcd74adc2dce1c2c1808237660730119bae461b333c2adc7829d430e38adb15eR337).

I think there's definitely value in having names (and, as we're at it, also a well-defined type) for links. The use

[2022-11-15 17:46] pyohannes commented on #2918
If there is a producer publishing a message to a topic, it cannot know how many consumers are subscribed to the topic and are processing the message. In case some of the consumer traces aren't sampled, I don't see how directions on links would help.

[2022-11-15 20:53] #2902 closed

[2022-11-16 08:14] Oberon00 commented on #2945
I think it is fine to add attributes describing the semantic meaning of the link. And I understand your use case in the UI is a display name. But I'm not sure if it wouldn't be better to derive that name from semantically meaningful attributes. E.g. we could have a semantic convention for an attribute defining the relationship to the linked span.

[2022-11-16 09:01] sirzooro commented on #2945
Relation type is not enough. It is also necessary to add some kind of "ID" attribute to distinguish multiple links of the same type.

[2022-11-16 14:28] carlosalberto commented on #2907
I think this is indeed a bug in the instrumentation itself, as [the Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/database.md#call-level-attributes) requires that `db.statement` does report the full statement:

[code]

[2022-11-16 14:30] carlosalberto commented on #2908
So in theory we should be reporting the arguments as part of the statement, as per [the Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/database.md#call-level-attributes):

[code]

So we should poke the instrumentation authors. @haddasbronfman what instrumentation/language/version are you using?

[2022-11-16 17:08] jmacd commented on #2923
https://github.com/open-telemetry/opentelemetry-specification/pull/2825
https://github.com/open-telemetry/opentelemetry-specification/pull/2824

[2022-11-16 17:25] alanwest opened #2954 "Define defaults for the LogRecord batching processor"
The default values for the parameters of the [LogRecord batching processor](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/sdk.md#batching-processor) are marked TODO.

I propose to adopt the same defaults as the [Span batching processor](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#batching-processor)

[2022-11-16 17:49] jack-berg opened #2955 "Resolve lingering question of LogRecord mutability in LogRecordProcessor"
#2681 made it possible for `LogRecordProcessor` to mutate LogRecords in their `onEmit` implementations. Mutating LogRecords is critical for use cases like enriching with baggage, redacting sensitive information, and more.

After merging, a [conversation](https://github.com/open-telemetry/opentelemetry-specification/pull/2681#discussion_r931463244) took place regarding potential performance impact

[2022-11-16 17:49] jack-berg commented on #2911
I've opened #2955 to discuss issue 5 in this list:

[2022-11-16 18:45] Brar opened #2956 "Better guidance on semantic conventions for database client call span names in case of missing information"
**What are you trying to achieve?**
When tracing an activity from Npgsql (.NET Database provider for PostgreSQL) we want to set a valid span name according to the semantic conventions for database client calls without having to parse the database statement on the client side and without having to guess (or rather infer from our knowledge on the current default behavior of PostgreSQL) information t

[2022-11-16 20:28] jack-berg commented on #2955
Thanks for sharing that link. It looks like the collector relies on chaining to define the ownership boundaries. I.e. a processor is responsible for calling the next processor in the chain, and owns the data until it calls the next:

Changing the architecture of `LogRecordProcessors` to have each responsible for calling the next is different from the trace SDK design, which the log SDK was modeled

[2022-11-16 20:39] lmolkova commented on #2945
`link.name` could be useful to distinguish different kinds of links. For example, if I process a batch of messages, I would probably have a span that describes batch processing, and links on it would describe individual messages.
But it's possible that I want to link some other context to the same span. E.g. if I process messages like this, I might want to link `receive` to `process`:

[code]

Thi

[2022-11-16 20:57] lmolkova commented on #2918
I agree with @jmacd here - assuming we deal with a relatively high number of links, the question is what approach would maximize the number of complete groups of traces, but it'd be impossible to achieve full consistency.

This perspective also helps with links after start discussion. It's up to sampler to maximize consistency, but since it's impossible to achieve it anyway, we should allow adding

[2022-11-16 23:32] tsloughter commented on #2955
I like just doing chaining, but even if not going that direction, requiring a copy for modification is essentially what OnEnd enforces, so it would be matching with the SpanProcessor design if that were done, right?

The rest (`isMutating` and ownership mode) seems implementation specific and/or to be optimizations so may be over complicating the discussion.

[2022-11-17 07:07] haddasbronfman opened #2958 "no `pool.name` in mysql (javascript)"
**What are you trying to achieve?**
I wanted to implement this metric https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md#connection-pools and add the attribute `pool.name` for MySQL DB in javascript.

**What did you expect to see?**
I expected that the MySQL library will have a field that identifies the pool. somet

[2022-11-17 08:28] cpanato commented on #2560
let me know where i can help. :)

[2022-11-17 15:09] tomas-mota commented on #2923
Awesome, thanks for taking this on @jsuereth ! Should I close this issue then?

[2022-11-17 16:25] Oberon00 commented on #2945
I disagree. This is not necessary. The linked span ID is already an ID.

[2022-11-17 16:29] Oberon00 commented on #2945
@lmolkova

I think you are thinking from a wrong angle about this.

I absolutely agree that it would be good to be able to distinguish different kinds of links. But where I disagree is that this should be done through a `link.name` attribute that also has to be a useful display name. I think there should be a `link.kind` or similar attribute instead.

[2022-11-17 18:32] jsuereth commented on #2956
The specification already states:

Is this a viable option here?  Just write "postgresql" for the span name here.

While (for use abilities sake) I'd suggest perhaps trying to find a way (without parsing) to pull in additional information, perhaps via passing data when it is available in `Context`, you're still specification compliant setting the span name to "postgresql" or "npgsql"

[2022-11-17 19:12] oertl commented on #2922
If spans are sampled consistently (see https://opentelemetry.io/docs/reference/specification/trace/tracestate-probability-sampling/#consistent-probability-sampling), exemplars could be simply selected based on the `r`-value. By choosing spans with greatest `r`-values as exemplars, the probability will be maximized that they also get sampled at the end.

[2022-11-17 20:01] jmacd commented on #2918
@pyohannes I apologize for the confusion--The idea didn't fully address the problem, as I realized from a discussion we had about this issue in today's Sampling SIG.

I was trying to establish that Sampling as we know it, where new spans make a sampling decision somehow dependent on their parent context and the span contexts they are linked with at creation, is the reason why we do not support cre

[2022-11-17 20:14] jmacd commented on #2922
Trying to offer another technical position. Suppose you were not interested in distributed tracing, per se, just in recording the spans that happen to be associated with interesting metric events but not propagating trace context.

In this parallel discussion about Span links and Sampling, https://github.com/open-telemetry/opentelemetry-specification/issues/2918#issuecomment-1319135394, I've propo

[2022-11-17 20:17] jmacd commented on #1413
@PeterF778 would you agree that would be possible for an SDK to do what you described by fixing the 7 bytes of random TraceID and then generating multiple correlated TraceIDs from the single random source?

Can you see any problems that might result from avoiding r-value, in that case?

[2022-11-17 21:34] #2855 closed

[2022-11-17 21:55] jmacd commented on #2746
I've called this question a debate about an implementation detail.

@MrAlias wrote:

@tsloughter wrote:

Although it is not clear, when I wrote the specification I meant to allow both interpretations. It was intentional ambiguity, at least. I do recognize there is a problem, given this debate, but I'm not sure whether the better solution is to (a) clearly state that both approaches are OK, (b) try

[2022-11-17 21:57] jmacd commented on #2810
More in https://github.com/open-telemetry/opentelemetry-specification/issues/2746#issuecomment-1319259109

[2022-11-17 21:58] jmacd commented on #2643
I propose to close this issue in favor of https://github.com/open-telemetry/opentelemetry-specification/issues/2746 and https://github.com/open-telemetry/opentelemetry-specification/issues/2810.

[2022-11-17 22:19] codeboten commented on #2947
I would prefer grouping starting with the first digit of the status code class.

The httpcheck receiver in the collector currently reports `http.status_class` as an attribute on some metrics it produces https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/httpcheckreceiver#http-check-receiver

[2022-11-18 04:45] reyang commented on #2944
Could you use something like this? https://github.com/open-telemetry/opentelemetry-dotnet-contrib/tree/main/src/OpenTelemetry.Extensions#traces

[2022-11-18 04:54] reyang commented on #2944
I can understand why folks would want to have ForceFlush in the API, similar to many I/O APIs that provide `flush()`.

I would vote for not having this because the negative impact to the ecosystem:
1. ForceFlush allows some timeout, it is impossible for instrumentation libraries to know the application developers' intention regarding timeout.
2. Imagine a developer using dozens of instrumentation

[2022-11-18 05:02] reyang commented on #2936
+1

[2022-11-18 05:10] reyang commented on #2924
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#forceflush mentioned:

[2022-11-18 05:13] reyang commented on #2924
@jsuereth @jmacd I feel it will probably help if we define `MetricReader.ForceFlush` in the spec, what do you think?

[2022-11-18 05:17] yurishkuro commented on #2918
@jmacd btw, some Jaeger SDKs utilized a state similar to "conditionally-recorded" (we called it deferred sampling), to support sampling based on span attributes that become available only after span start. It's a bit of a kludge, because the state only makes sense until a child span is created, at which point the sampling decision needs to be finalized.

I am, however, not convinced that sampling

[2022-11-18 07:45] legendecas commented on #2643
@jmacd I believe this action item is still applicable and distinct to this issue.

[2022-11-18 08:45] Oberon00 opened #2962 "Invalid numeric configuration environment variable value handling is unspecified"
While all other environment variable value types have a specification for how to deal with invalid/unparseable values, the section for numeric values does not.

See https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md

This is what most other value types have:

This originally came up in https://github.com/open-telemetry/opentelemetry-s

[2022-11-18 09:10] sanketmehta28 commented on #2948
Hi @open-telemetry/specs-triagers : any update on this issue?

[2022-11-18 13:23] frzifus opened #2964 "[semantic conventions] add ibm cloud as a cloud provider"
**What are you trying to achieve?**

identify IBM cloud

What did you expect to see?

**Additional context.**

Add any other context about the problem here. If you followed an existing documentation, please share the link to it.

[2022-11-18 17:57] reyang commented on #2948
FYI https://github.com/open-telemetry/opentelemetry-specification/issues/2891#issuecomment-1289241503.

[2022-11-18 17:59] reyang commented on #2948
The `OTEL_RESOURCE_DETECTORS` violates "Anything that has a non-primitive type (see [here ](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#special-configuration-types)for the list of primitive types)"

[2022-11-18 20:11] srikanthccv commented on #2948
@reyang, I am not sure I understood it. How is this different from `OTEL_TRACES_EXPORTER` or any other such variable? How do they not violate the spec, and this does? I am proposing that users configure the name of the resource detector similar to how they would confirm the exporter's name to use.

[2022-11-18 20:57] reyang commented on #2948
It is DETECTOR or DETECTORS?

[2022-11-18 21:11] jack-berg commented on #2955
I like chaining as well, but think the design should be similar to tracing unless there's a strong reason to make it different.

Now that you mention it, there's no actual behavior change in an SDK in response to `isMutation()` in the [scheme I outlined](https://github.com/open-telemetry/opentelemetry-specification/issues/2955#issuecomment-1317628224). If we were to define the ownership model as "

[2022-11-19 00:01] PeterF778 commented on #1413
In the SDK trace-id is generated automatically when the root span is created. There are no mechanisms that could be used to customize this behavior. In contrast, the r-values are created within calls to Sampler.shouldSample() where span attributes are available.

Reusing the 7 random bytes of trace id remains a theoretical possibility, but it would be very hard to implement. Even if we could someh

[2022-11-19 00:48] reyang commented on #2560
@cpanato thank you! I think a [OTEP](https://github.com/open-telemetry/oteps) would be a great starting point.

(@jsuereth FYI)

[2022-11-19 10:32] richardmcmillen commented on #2944
Thanks for the response to the issue, I’ll have a go at responding to your commented below.

I think what you are saying here is that instrumentation libraries can’t assume timeout values. To this point I would suggest that instrumentation library authors should allow this timeout to be configurable. When the instrumentation is installed there would be some mechanism to say, timeout after 5 second

[2022-11-19 18:09] srikanthccv commented on #2948
I am okay with either of the naming but what I am mainly trying to achieve is the SDK to support this capability. An `EnvDetector` is mandated by spec, which reads the `OTEL_RESOURCE_ATTRIBUTES` and returns a Resource. There is no way to configure the SDK with additional custom Resources with env. This is a proposal aimed at addressing that gap.

[2022-11-21 08:22] haddasbronfman commented on #2908
@carlosalberto you're right. I opened this issue: https://github.com/open-telemetry/opentelemetry-js-contrib/issues/1294
to handle this.
We can close this one.

[2022-11-21 08:22] #2908 closed

[2022-11-21 09:05] avzis commented on #2907
opened a bug:
https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1462

[2022-11-21 09:05] #2907 closed

[2022-11-21 09:13] svrnm commented on #2948
I added a comment to https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1372 already, that OTEL_RESOURCE_DETECTORS might not work as expected:

* As of now the [spec only requires the resource detection from the environment variable](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/sdk.md#specifying-resource-information-via-an-enviro

[2022-11-21 09:47] srikanthccv commented on #2948
All the exporters are also outside of the SDK and implemented as standalone packages. The propagator such as `jaeger` and `b3` are separate and not included in SDK by default but can still be configured with `OTEL_PROPAGATORS` using comma delimited values like `baggage,jaeger,b3`. And I am proposing to provide the same capability for the Resources.

[2022-11-21 15:27] mateuszrzeszutek commented on #2958
Ideally the `pool.name` should be something that makes it easy to connect metrics to the code that emits them - in case you have multiple pools and one of them is misbehaving, you want to be able to quickly find the code that configures it. For the same reason, it should also be unique - until now, all the connection pool implementations that I saw had implemented this sort of concept.

The `PoolC

[2022-11-21 18:31] #2964 closed

[2022-11-21 19:41] reyang commented on #2944
Short version, I feel ForceFlush is more like an SDK feature, I suggest that we get more evidence before considering it in the API specification, so we know that 1) there is a high demand 2) the outcome is greater than the problem it'll introduce.

[2022-11-21 20:43] tigrannajaryan commented on #2955
@jack-berg It doesn't currently. We had one case recently when an exporter that was no supposed to mutate the date did mutate it and caused a crash. We discussed a possible "debug" option to enforce/catch such violations, but it will likely remain a debug-only capability since it has performance implications.

[2022-11-21 22:33] ahayworth commented on #2944
Maybe? Flushing in general still requires SDK-only methods, so even if we used some kind of processor to accomplish it we'd still call SDK-only methods.

That said, it's a great idea overall - I could see this kind of processor being useful for folks. We might implement it regardless.

Your concerns make sense to me; and I agree that we should collect more information to see if anyone else even ne

[2022-11-22 00:31] pyohannes commented on #2918
This is true. However, I think ensuring completeness across linked traces makes you lose another crucial capability: effectively enforcing a fixed sampling rate.

If you make a sampling decision based on links to two upstream spans, both upstream spans sampled with a probability of 10%, you're sampling the span with the probability that _at least one of the two upstream spans was sampled_. This pr

[2022-11-22 06:29] haddasbronfman commented on #2958
@mateuszrzeszutek sound like a good idea. I'll implement this. thanks.

[2022-11-22 09:27] svrnm commented on #2948
Fair point, I had to think about this for a while. From that perspective I agree that having OTEL_RESOURCE_DETECTORS is a meaningful addition to the spec (although I assume the addition is blocked by the moratorium @reyang mentioned [here](https://github.com/open-telemetry/opentelemetry-specification/issues/2948#issuecomment-1320350001)).

Independent of that end-users might need some guidance on

[2022-11-22 10:01] srikanthccv commented on #2948
Only `tracecontext` and `baggage` are included by default in API. The remaining propagators such `jaeger`,`b3`, and `ottrace` are still provided by OpenTelemetry as extension packages. I am not familiar with all SDKs but this is the case for go, py, java, and js.

[2022-11-22 10:20] joaopgrassi commented on #2948
Alright :). Remembered I saw the `b3` in the API somewhere, but found it: It's in the .NET API package https://github.com/open-telemetry/opentelemetry-dotnet/tree/main/src/OpenTelemetry.Api/Context/Propagation

[2022-11-22 13:13] frzifus opened #2970 "add openshift platform to all supported cloud providers"
**What are you trying to achieve?**

Identifying the Openshift platform, which is operated on different cloud providers.

**What did you expect to see?**

Members of `cloud.platform` like `aws_openshift`, `gcp_openshift`, ... .

**Additional context.**

Add any other context about the problem here. If you followed an existing documentation, please share the link to it.

[2022-11-22 13:19] jsuereth commented on #2922
@oertl The Exemplar specification defines a pluggable reservoir component, so if a new type of reservoir was designed to interact with `r`-value, that's definitely something that could happen.  It's unclear to me if that would actually fix the issue or just minimize it, and whether or not that would be a default option or just a configuration option for users who want tail sampling.

@jmacd For bo

[2022-11-22 14:34] carlosalberto commented on #2947
Hey @alanwest - I suggest you bring it to the Semantic Conventions SIG (every Monday after the maintainers meeting).

[2022-11-22 16:08] fstab commented on #2922
Is it possible to change this and allow other implementations? I understand the issue with the reservoir is that at the point in time when you put a span in the reservoir you don't know yet whether you will actually use it as an Exemplar.

I think there could be other implementations that decide directly whether or not to use a span as an Exemplar, without using a reservoir. For example, you could

[2022-11-22 16:19] gouthamve commented on #2497
Hi, we expect the metrics to come with an unit: `http_server_duration_seconds` for example. This is what someone using Prometheus is accustomed to today and we even have a linter to make sure: `curl --silent [http://example.com:9090/metrics/] | promtool check metrics`

Its a bit unfortunate that OTel is using `milliseconds` and Prometheus is using `seconds`, and one of the main reasons we decided

[2022-11-22 16:25] mateuszrzeszutek opened #2971 "Should Kafka offset be used as `messaging.message.id`?"
**What are you trying to achieve?**

Currently the Go Kafka instrumentations sets the record offset as the value of the `messaging.message_id` attribute:

[code]

I was requested to introduce a similar change to the Java instrumentation, but I'm not sure whether this is valid: an offset is only unique in a partition (which has a dedicated `messaging.kafka.message.partition` attribute), so I don't

[2022-11-22 17:18] pyohannes commented on #2971
That's a good point, we'll discuss it in the next messaging workgroup meeting (which will take next week).

[2022-11-22 17:37] reyang opened #2972 "Clarify if HTTP metrics semantic conventions require ALL the metrics to be implemented"
What did you expect to see?

The [HTTP metrics semantic convention spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md) should provide clarity "what is considered a compliant implementation", e.g. "an implementation is considered compliant if it has implemented all of the metrics described by this spec" or "an imp

[2022-11-22 17:46] reyang opened #2973 "Justify why "By" is used instead of "bytes""
[OpenMetrics](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#units-and-base-units) recommends "seconds, bytes, joules, grams, meters, ratios, volts, amperes, and celsius. Units should be provided where they are applicable".

The current Experimental version of [OpenTelemetry spec](https://github.com/open-telemetry/opentelemetry-specification/tree/main/speci

[2022-11-22 17:54] reyang opened #2974 "Clarify what does "host" mean in the HTTP metrics semantic convention"
Is this the binding host from server configuration, or the HTTP request Host header, or there is a more complex set of rules / fallback mechanism?

![image](https://user-images.githubusercontent.com/17327289/203386365-a13cc16d-44df-4fdf-a6e1-545e82553409.png)

[2022-11-22 18:00] reyang opened #2975 "Should metrics description be a full sentence?"
OpenMetrics provided such example: https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#overall-structure

![image](https://user-images.githubusercontent.com/17327289/203387202-fb2d9634-4591-4503-9e8e-ef87875b610d.png)

The current [metrics semantic convention](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_

[2022-11-22 18:04] jsuereth commented on #2922
@fstab WE defined the interface to allow other implementations, we just haven't exposed the configuration options to do so.  That is a thing you could do, it does mean you're more likely to sample exemplars early.  There's implications in the kind of data you'd be showing in exemplars.

Would love a better hollistic analysis/proposal for tail-sampling.

[2022-11-22 18:16] reyang opened #2976 "HTTP Metrics - what if message size is not available to the application?"
The current [semantic convention](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md#http-server) says:

![image](https://user-images.githubusercontent.com/17327289/203389795-56a3f0e6-e85c-412d-97ff-23c08e6be75c.png)

HTTP Message is defined in RFC https://www.rfc-editor.org/rfc/rfc2616#section-4. Most application laye

[2022-11-22 18:17] gouthamve commented on #2973
This is also inconsistent with Prometheus unit name: https://prometheus.io/docs/practices/naming/

[2022-11-22 18:26] gouthamve opened #2977 "Semantic Conventions: default to seconds for duration units"
Prometheus and OpenMetrics strongly recommend that the units for measuring durations should be `seconds`. However, the [semantic conventions here](https://opentelemetry.io/docs/reference/specification/metrics/semantic_conventions/http-metrics/) are in `milliseconds`.

This creates a lot of confusion in users who are expecting durations to be seconds and requires an addition ` / 1e3` when doing mat

[2022-11-22 18:27] gouthamve commented on #2977
cc @jmacd @jsuereth

[2022-11-22 18:58] jack-berg commented on #2977
The [default buckets](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#explicit-bucket-histogram-aggregation) for explicit bucket histogram are aligned to milliseconds for `http.server.duration`. We've previously discussed that changing them is a breaking change and not allowed. Therefore, changing from milliseconds to seconds for duration would

[2022-11-22 19:38] gouthamve commented on #2977
Hrm, so while converting from OTLP to Prometheus, we can always convert to `_seconds` in the case of explicit bucket histograms. Its simply downscaling the buckets by `/1000`.

But this is not possible with exponential histograms. Can we make it `milliseconds` for exponential histograms?

[2022-11-22 19:43] gouthamve commented on #2977
This also causes inconsistencies when ingesting metrics from both Prometheus sources and OTel sources into a single db. Half the exponential histograms would be in seconds and the other half would be in milliseconds with no good way to reconcile/aggregate the two.

It is possible convert with explicit bucket histograms, hence initially I didn't mind the unit being milliseconds, but when I realised

[2022-11-22 20:09] dashpole commented on #2977
If we introduced a way for instrumentation to override the default set of buckets (which could still be overridden by views), would that allow individual instrumentation libraries to switch to seconds?

[2022-11-22 21:55] nerdondon opened #2980 "Kubernetes Semantic Conventions - composing conventions"
I'm not sure if I am reading the spec incorrectly so I just wanted to clarify if the semantic conventions for Kubernetes objects are meant to be composable. For example, the `k8s.pod` type only defines `name` and `uid` but a pod also resides in a namespace. Is the `k8s.namespace.name` also meant to apply to `k8s.pod` and other namespaced resources? Likewise for `k8s.cluster.name`, etc.

I think wh

[2022-11-22 23:47] jack-berg commented on #2977
So you're imagining using what has been referred to as the "hint API" to perhaps have all `http.server.duration` instrumentation to report in seconds and specify alternative default buckets that are sensible for seconds?

[2022-11-22 23:53] #2935 closed

[2022-11-23 00:41] nerdondon commented on #2977
I like the idea of allowing instrumentation to override buckets in a way that is more friendly to measurement in seconds but I want to interject with perspective from service mesh instrumentation.

Currently [Istio](https://istio.io/latest/docs/reference/config/metrics/#metrics), [Dapr](https://github.com/dapr/dapr/blob/master/docs/development/dapr-metrics.md#http-monitoring-metrics), and [linkerd

[2022-11-23 02:39] jamielennox commented on #2912
A few rebuttals 😄:

- For me a propagator is about context propagation which is not strictly the same as tracing. Envoy logs all access logging against this request-id so even ignoring the span concept of tracing i want this header to be propagated to correlate access and application logs across distributed systems.
- I don't think we can be responsible for people not understanding what the differ

[2022-11-23 06:49] lmolkova commented on #2971
message is a common JMS and AMQP term and afaik it's different from offset. For example, based on [kafka-connect-jms](https://github.com/macronova/kafka-connect-jms/blob/master/README.md) Kafka can have message-id (but I don't know what it could mean for kafka broker. Also message id is a string and Kafka offset is a number.

For JMS/AMQP systems, message id could be used for deduplication and cou